[2022-01-12 23:44] chenilim commented on #2036
Verified this doesn't repro on v0.12 RC2 / final build.

[2022-01-12 23:45] chenilim commented on #2049
Verified this doesn't repro on v0.12 RC2 / final build.

[2022-01-12 23:45] chenilim commented on #2042
Verified this doesn't repro on v0.12 RC2 / final build.

[2022-01-12 23:49] chenilim commented on #338
Closing this issue now that Calendar View has shipped in v0.11. 🎉
Please file additional issues or enhancement requests for any additions you'd like to see. Thanks.

[2022-01-12 23:50] #338 closed

[2022-01-13 05:16] agnivade commented on #1936
Yeah, when I try to drop the card, it moves to another Chrome tab and tries to drop it as a file.

I am running Ubuntu 20.04.

Nope, that also doesn't work. Yes, it's clearly a drag-drop issue. I cannot do any drag-drop movement in focalboard.

[2022-01-13 06:51] YC opened #2115 "Bug: Docker build failure on arm64, v0.12.0"
## Steps to reproduce the behavior

[code]

<details>
<summary>Build output</summary>

[code]

</details>

## Expected behavior

Should build successfully

## Edition and Platform

 - Edition: Personal Server
 - Version: commit dbae80b08542a02f95f66bdea2529868dbf586aa (HEAD, tag: v0.12.0, origin/release-0.12)
 - Browser and OS: N/A

## Additional context
Should be irrelevant, but had patch applied

[2022-01-13 06:58] YC commented on #2115
Mentioned in #1700

[2022-01-13 21:52] sbishel commented on #2029
The log file appears to be from an older build. The connection string no longer prints that was update here. https://github.com/mattermost/focalboard/pull/1564
Please reopen if you still see this issue.

[2022-01-13 21:52] #2029 closed

[2022-01-13 22:26] sbishel commented on #1694
fixed

[2022-01-13 22:26] #1694 closed

[2022-01-14 00:10] chenilim opened #2117 "Remove "Beta" labels on languages to avoid App Store rejections"
## Summary

App Store review flagged the "Beta" labels in the language menu, and rejected a submission. Proposed removing the "(Beta)" and "(Alpha)" labels in the strings

## How important this is to me and why

Importance: High

[2022-01-14 15:13] sbishel opened #2119 "Bug: Issue upgrading from 6.2.1 to 6.3.0"
Initially reported here -
https://community.mattermost.com/core/pl/c9krqnf8m3bmdd3xapgxms7pqw

(MySQL 5.7)
[code]

## Screenshots

Jan-Peter Rusch
7:36 AM
Log is filling fast with:

![Bild eingefügt am 2022-1-14 15-36 (1)](https://user-images.githubusercontent.com/12704875/149538211-d03e91f4-85d1-4ca5-9da1-90164a2aaa9f.png)
![Bild eingefügt am 2022-1-14 15-36](https://user-images.githubusercontent

[2022-01-14 15:25] jprusch commented on #2119
I'm not sure, if the error on the schema upgrade is correlated to the webhub.broadcast errors. The webhub errors are logged in 100s.

[2022-01-14 15:34] amyblais opened #2120 "Update mattermost-server to pre-package Focalboard plugin v0.14"
Update [the makefile](https://github.com/mattermost/mattermost-server/blob/master/Makefile#L123) so that Focalboard v0.14 ships with Mattermost 6.4.

Note that this needs to be cherry picked to the appropriate branch for the release.

**Deadline: February 9th (6.4 Code Freeze)**

[2022-01-14 20:27] luk4sk opened #2121 "Bug: Database update error from Mattermost 6.2.1 to 6.3.0"
After updating the Mattermost from 6.2.1 to 6.3.0 and the focalboard from 0.11.0 to 0.12.0 boards do not work anymore.
An error with database update appears in the logs:

`
{"timestamp":"2022-01-14 21:03:45.526 +01:00","level":"error","msg":"RPC call OnWebSocketDisconnect to plugin failed.","caller":"plugin/client_rpc_generated.go:620","plugin_id":"focalboard","error":"unexpected EOF"}
{"timestamp

[2022-01-15 11:35] flyersa commented on #2119
I have the same issue. Upgraded from 6.0.x to 6.3.0 same error in server log

[2022-01-15 15:38] kamre commented on #1543
@jespino @asaadmahmood rendering of `Switch` component looks better now for personal server but still not the same as in the plugin.

Personal server:
<img width="240" alt="image" src="https://user-images.githubusercontent.com/5587620/149627089-fa58bb71-5d9c-42e3-8f4e-a3ec5e90ff28.png">

Plugin:
<img width="240" alt="image" src="https://user-images.githubusercontent.com/5587620/149627153-4e3c328c-

[2022-01-15 16:36] wget commented on #2119
I have been able to fix the problem to our prod versions at @arawa thanks to the solution given by @jprusch on the Mattermost community chat server.

For those finding this bug and wanting to get strait to copy-pasting :arrow_heading_down:

[code]

[2022-01-15 20:47] mgdelacroix commented on #2119
Thanks @jprusch and @wget!

The solution can also be applied stopping only the plugin, and we need to set back the schema version as well so the faulty migration runs correctly the next time that we start the server.

These would be the steps with the changes described above:

1. In the System Console, go to the plugins section and disable the Boards plugin.
2. Log into the database and run the fo

[2022-01-15 20:57] mgdelacroix commented on #2121
Thanks for the report @luk4sk! Closing the issue as a duplicated of https://github.com/mattermost/focalboard/issues/2119, please check the comments of that ticket for the fix.

[2022-01-15 20:57] #2121 closed

[2022-01-15 21:51] Techsigns opened #2123 "Bug: Mention Notification not delivered"
## Steps to reproduce the behavior

1. Add board
2. Create card
3. Add mention for user, who is member of the channel, team and board

## Expected behavior

Notification for card update on board should be received by user

## Error message from log
`
{"timestamp":"2022-01-15 21:45:54.958 Z","level":"error","msg":"Error delivering notification","caller":"app/plugin_api.go:928","plugin_id":"focalboa

[2022-01-16 00:12] #2119 closed

[2022-01-16 19:02] rayrrr commented on #662
Hi @chenilim et al.,

The Gantt/timeline view is crucially different than a calendar view. One of the real powers of Gantt charts is to help _determine_ the proper order of execution for a number of interrelated tasks. Once the quantity of tasks and quantity of interrelations between those tasks become too complex to be effortlessly understood, Gantt charts can fill that gap. One simply puts in al

[2022-01-17 03:38] TeaOfTheSea commented on #1638
Are there any work arounds while a fix is in development on this issue? I just got the personal server up and running and I'd very much like to move all of my data to it.

[2022-01-17 06:26] JadeVane opened #2125 "Bug: Can't move card to another list after changing the css style"
## Steps to reproduce the behavior

I am going to move card to another list, but it returned to the original list unexpectedly.

## Expected behavior

Move card to another list

## Screenshots

![move-card-test](https://user-images.githubusercontent.com/34258753/149718078-db71eebc-6aff-4447-aeb5-5846e4aaa2e1.gif)

## Edition and Platform

 - Edition: Personal Server
 - Version: 0.12.0
 - Browser a

[2022-01-17 11:16] danielschubert commented on #475
I had a similar issue. i used
`update focalboard_schema_migrations set version = version - 1, dirty = 0;`
to resolve it.

[2022-01-17 11:49] ogi-m opened #2127 "Bug: Welcome screen image broken on subpath"
## Steps to reproduce the behavior

1. Install boards plugin on a mattermost server configured with a subpath
2. Open boards for the first time
3. Note the broken image on the welcome screen
4. See error

## Expected behavior

Image should show up properly

## Screenshots
![SharedScreenshot](https://user-images.githubusercontent.com/15314183/149764551-3b12d0be-98c6-4da7-acb9-e334984532b7.jpg)

[2022-01-17 15:07] terehov opened #2128 "Bug: Boards missing since Mattermost 6.3.0 Update (Teams)"
#### Summary
After upgrading to Mattermost version 6.3.0 the Boards plugin is missing in the menu bar.

#### Version

Mattermost Team Edition
Mattermost Version: 6.3.0
Database Schema Version: 6.3.0
Database: mysql

<img width="316" alt="Screenshot 2022-01-17 at 12 12 48" src="https://user-images.githubusercontent.com/490885/149793999-2846e4d4-aafe-4fb2-acd0-9f60d4125eea.png">

Corresponding issue

[2022-01-17 16:07] chenilim commented on #662
Thanks for the additional insight @rayrrr! cc @wuwinson, @asaadmahmood.

[2022-01-17 17:07] #1973 closed

[2022-01-17 17:19] sbishel opened #2130 "Remove feature flag for `subscriptions`"
Remove the feature flag for 'subscriptions'.

[2022-01-17 17:22] ogi-m opened #2131 "Bug: "Jump To Card" opens the board but not the card"
## Steps to reproduce the behavior

1. Post a link to a card in a channel
2. Click "Jump To Card" - note the board opens but not the actual card

## Expected behavior

The card dialog should open

## Edition and Platform

 - Edition: plugin
 - Version: v0.12
 - Browser and OS: Chrome on Windows

## Additional context

Works when in the desktop app because it opens in a new tab

[2022-01-17 19:21] #1766 closed

[2022-01-17 19:21] #2032 closed

[2022-01-18 01:45] guy0902 commented on #169
@chenilim We would also benefit from such feature. Here is our use case.

Our team works on multiple projects in parallel and uses an agile approach. When planning sprints, we need to take into account backlogs from all projects in order to decide what will be done during that sprint. Having a view of all tasks accross all projects would provide that flexibility. We could then sort them using cust

[2022-01-18 10:37] terehov commented on #2128
This is what I found in my logs:

So I enabled diagnostics. However this was the result (not sure if its related to this update):

[2022-01-18 12:40] HelloToday commented on #2053
Thanks . I use the docker instead,which I can relog in with username and password,which the Personal Server can not

[2022-01-18 12:41] HelloToday commented on #2053
Maybe it sees like. Hope you fix it ASAP~.

[2022-01-18 15:25] danielschubert commented on #1900
Same here. After uprade to
- mattermost 6.3.0
- mattermost boards 0.12.0

[2022-01-18 16:55] wiggin77 commented on #1750
@chenilim I think this can be closed as fixed.

[2022-01-18 17:06] wiggin77 opened #2134 "Bug: Email notifications for card changes have empty content"
## Steps to reproduce the behavior

1. As userA, ensure notification settings have email enabled
2. As userA follow a card
3. As userB make changes to the card
4. Observer userA receives an email notification with empty content (no changes itemized).

## Expected behavior

Email notification appears similar to the channel notification

## Screenshots
![empty-email-notification](https://user-images

[2022-01-18 17:53] chenilim commented on #1750
Thanks @wiggin77! Closing this issue as the core features have been implemented. For more details, please refer to the [docs here](https://docs.mattermost.com/boards/work-with-cards.html#work-with-cards) for at-mentions and following cards.

Notes:
* Following cards will be released in v0.12.1.
* I don't believe assigning someone a card (setting a Person property to their alias) will notify them y

[2022-01-18 17:53] #1750 closed

[2022-01-18 18:08] #2094 closed

[2022-01-18 18:21] chenilim opened #2136 "Show release month + year instead of build number"
## Summary

Display the release month and year instead of the build number in the top right (or sidebar for Personal Edition). Show the version number on hover.

[2022-01-18 18:23] ogi-m commented on #2127
Fixed by https://github.com/mattermost/focalboard/pull/2109

[2022-01-18 18:23] #2127 closed

[2022-01-18 20:07] #2136 closed

[2022-01-18 21:38] wuwinson commented on #1750
@chenilim Assigning someone a card will not notify them yet. Tracking that feature on [this card](https://community-daily.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/b4ctmm917q3rzdfi451qtuxjzcw/vuswsftt1rb873datosmmbtwkpa/chbyyeudxu3f7bg9zfdfe8x1omy).

[2022-01-19 07:13] luk4sk commented on #2128
Hi,
please check at:  https://github.com/mattermost/focalboard/issues/2119#issuecomment-1013751739

[2022-01-19 11:37] nkimran94 commented on #513
running this command i get this error:

[2022-01-19 15:11:52.674 +06:00] FocalBoard Server                        caller="mlog/mlog.go:218" version=0.9.2 edition=linux build_number=1320942631 build_date="Fri Oct  8 15:36:12 UTC 2021" build_hash=c632409feb1c6ea66851f99db8e0f92472b953fc
error [2022-01-19 15:11:52.677 +06:00] Database Ping failed                     caller="mlog/mlog.go:228" error="p

[2022-01-19 14:11] marpit19 commented on #2111
Is this issue resolved or I can help with this

[2022-01-19 14:27] #2130 closed

[2022-01-19 19:16] kamre opened #2147 "Feature Idea: URL property improvement"
## Summary

Currently URL property is represented as an `input` element (sometimes readonly) and an additional `button` that appears on hover and allows to follow the link:
<img width="568px" src="https://user-images.githubusercontent.com/5587620/150192149-70a3f0ff-3691-4cd5-8567-78f5b0100ac0.gif" >

But how often do you need to _edit_ the link vs _follow_ the link? Probably following the link or

[2022-01-20 08:57] hamidhamzeiy opened #2148 "Bug: Focalboard 0.12.1 on Mattermost does not have the menu which allows to export and import archives."
## Steps to reproduce the behavior

1. Go to Boards on Mattermost
2. Click on the gear (settings) on the upper right hand corner of the screen
3. The previously available menu as described at the end of the documentation (in this link: https://www.focalboard.com/guide/user/), does not exist.

## Expected behavior

I expect to be able to import my archives from a previous installation of Mattermost

[2022-01-20 10:35] jprusch commented on #2147
URLs can get quite long & are a pain to display. Wouldn't it be great to have a small Edit icon and otherwise a "Jump/Goto" button hiding the URL. I know nobody, who "reads" are URL & knows where it is pointing to. That's why we can hide the URL in MM discussions & have an autolink feature. (I wish that one for comments & description in cards...)

[2022-01-20 11:19] terehov commented on #2128
@luk4sk Thank you, it helped.

[2022-01-20 11:19] #2128 closed

[2022-01-20 12:14] bnainar opened #2149 "Doc: Unreadable text on landing page (in mobile)"
## Summary
Parts of a paragraph have white foreground and background making them unreadable

## Link to documentation page
https://www.focalboard.com/

## (Optional) Additional context and/or screenshot

![Screenshot_20220120_174037](https://user-images.githubusercontent.com/94557605/150336698-63fdf131-004b-4d92-8b16-3ee08525d956.png)

[2022-01-20 12:31] biva commented on #563
Hello! Indeed, that would be great to have a notification in the channel that the board corresponds to. But I agree with your questions: it might lead to too many notifications :(
Maybe only new cards should be notified? Or when a card changes a specific parameter (for example when it's marked "Done")

[2022-01-20 12:40] biva opened #2150 "Feature Idea: View all my cards from all boards"
## Summary

Currently, I can view each single board within each single channel. And within a card, I can have a property to assign a card to somebody.

I would like to see all the cards assigned to me, within 1 single view.

## How important this is to me and why
We use cards to manage todos. This is more efficient to have 1 single view, compared to looking into each single board.

Use cases:
1. W

[2022-01-20 12:57] johnnyasantoss opened #2151 "Bug: Build failing on armv7l (Raspberry Pi)"
## Steps to reproduce the behavior

1. Clone the repo at tag `v0.12.1`
2. Make the following changes
<details>
<summary>Changes</summary>

[code]

[code]

</details>

3. Try to build a docker image with `docker build -f Dockerfile.build --no-cache -t focalboard-build:dirty .`
4. See the error with the `cypress` dep
<details>
<summary>Error</summary>

[code]

</details>

## Expected behavior

To bu

[2022-01-20 13:00] johnnyasantoss commented on #2151
Probably related to #2115 & #1700

[2022-01-20 13:06] johnnyasantoss commented on #2151
I think it was added in #1826

[2022-01-20 16:24] JainVayam commented on #1988
I'll take this one

@sbishel

[2022-01-20 18:00] chenilim opened #2153 "Bug: Some template icons show ?"
## Steps to reproduce the behavior

1. Log into https://master.test.mattermost.com/boards/
2. Create a board
3. Notice that some template icons show ?
4. Create a board from the "Project tasks" template
5. It's icon is ?

## Expected behavior

The correct icons appear.

## Screenshots

<img width="1408" alt="Screen Shot 2022-01-20 at 9 56 26 AM" src="https://user-images.githubusercontent.com/46905

[2022-01-20 18:09] chmac commented on #265
Maybe this can be closed by now? There is a `mattermost/focalboard` docker container.

[2022-01-20 19:19] wuwinson commented on #2147
@kamre Thanks for submitting this idea! Great suggestions, and greed that this would be an improvement to the UX. I've documented some requirements below for additional clarity. Let's hold off on the markdown syntax for now. We may want to consider using some kind of "Display Text" field which is a more common experience and would also address @jprusch's feedback.

## Requirements
1. If the field

[2022-01-20 21:32] #265 closed

[2022-01-20 22:41] wuwinson opened #2155 "Doc: Report a bug"
## Summary

Focalboard.com is being sunsetted, and the [feedback link](https://www.focalboard.com/feedback/) will redirect to [Mattermost bug reporting](https://handbook.mattermost.com/contributors/contributors/ways-to-contribute#report-a-bug) which isn't relevant to Board users. We should add a bug reporting section within the Boards handbook with more relevant guidelines.

## Proposed Help Doc t

[2022-01-21 08:36] lindy65 commented on #1702
I see this is fixed in v0.12 of the plugin so I will retest in Rainforest once the servers have been updated to the latest plugin.

[2022-01-21 08:36] #1702 closed

[2022-01-21 18:46] guy0902 commented on #2150
Our team work on multiple s projects simultaneously. We could also use this feature as a way to see all tasks from all projects on on page and sort by assignee, priority, or any other category defined by user. It would provide managers with an overview of all projects in one single view.

[2022-01-21 19:37] mattouille opened #2156 "Bug: Session quickly and repeatedly expires on Personal Desktop for MacOS"
## Steps to reproduce the behavior

1. Open Focalboard
2. Do any action or wait for up to two minutes
3. Session expires

## Expected behavior

On desktop the session should never expire

## Screenshots

![Screen Shot 2022-01-21 at 11 32 53 AM](https://user-images.githubusercontent.com/8207468/150589438-139ac094-16c3-43bc-914e-1127fdb9400c.png)

## Edition and Platform

 - Edition: Personal Deskto

[2022-01-22 02:23] LanceBurns commented on #2027
I have updated to Mattermost 6.3.1 / Boards 0.12.1, and the issue seems resolved via browser (tested with Firefox)... The desktop app, however, refuses to load boards via the Dashboard's "All Channels" list, i.e. going via:
![mm-boards-1](https://user-images.githubusercontent.com/3395466/150620486-47edf1c6-3bbd-4be5-925c-349ca096b837.png)
Selecting a channel via the Dashboard page gives the follow

[2022-01-22 06:26] typkrft opened #2158 "Bug: Data Persistence / Volume Mount Restart Loop"
## Steps to reproduce the behavior
[code]
docker-compose up -d
Fails rapidly with the logs below repeating.
[code]

## Expected behavior
Removing the mountain point resolves the error, but doesn't allow data to persist.

## Edition and Platform

 - Edition: Personal Server
 - Version: :latest (1/22/22)
 - Browser and OS: Firefox macOS ARM

[2022-01-22 17:13] jpaldeano opened #2160 "Bug: make mac-app not compatible with m1 chip"
## Steps to reproduce the behavior

Run the the command `make mac-app` using a MacBook Pro - Apple M1 Chip .

Got errors:

[code]

## Expected behavior

Looking to ReadMe this command should create an application: `Focalboard.app`.

## Edition and Platform

 - Edition: MacBook Pro (13-inch, M1, 2020) 16 GB
 - Chip: Apple M1

## Additional context

Looking to the error it seems that Makefile line 3

[2022-01-22 19:05] loviuz commented on #338
Calendar View is great! I suggest to add also a "Dayly" view in addition to Weekly and Monthly.

[2022-01-22 23:20] hayuna commented on #2158
In my case

`docker run -it -d -v /home/focalboard/_data:/var/lib/postgresql/data -p 801:8000 mattermost/focalboard`

db data was stored correctly in /home/focalboard/_data

[2022-01-22 23:38] typkrft commented on #2158
docker run -it -d -v /home/focalboard/_data:/var/lib/postgresql/data -p 801:8000 mattermost/focalboard

Running this exact command doesn't seem to store anything anywhere. Also logs suggest it's using sqlite. `DBType:sqlite3`

[2022-01-23 00:01] typkrft commented on #2158
This seems to work. Not sure if this is expected or not. Might be a good idea to explain this in the docker instructions of which there are multiple separate sets of instructions between the documentation and the repo.

[code]
- NOTE: (Depending on your permissions and set up sudo may not be needed)

[code]

[2022-01-23 00:01] #2158 closed

[2022-01-23 03:20] SpearsR commented on #2031
@sbishel Can I have this issue?

[2022-01-23 03:44] SpearsR commented on #2070
@sbishel Can I pick this up?

[2022-01-23 06:15] arghanath007 opened #2163 "Add focalboard as a favorites app in ubuntu 20.4 LTS version in the dock."
How can I add focalboard as a favorite app in ubuntu 20.4 LTS verison based on GNOME. I opened the app and right clicked on the app icon within the dock but I dont see the option to "Add to favorites" on the focalboard app icon. Thanks in advance and also the icon is black/blank for some reason.
![focalboardimg](https://user-images.githubusercontent.com/54589605/150666994-ca3d3b9b-8848-42c1-a554-7

[2022-01-23 06:52] Flone-dnb commented on #1982
I just found out about this project, but was a little bit upset that it seems like doesn't have a time tracking feature. I was expecting something like YouTrack has: allow setting Estimate (estimate time to finish a task) and Time Spend. Here is a [page from YouTrack](https://www.jetbrains.com/help/youtrack/standalone/Time-Management-Tutorial.html) about this topic.

P.S. I'm pretty sure that date

[2022-01-23 08:24] golgotow opened #2164 "Feature Idea: Container environments"
## Summary

Add variables for docker install for remote mysql/postgres support into documentation .
Volume variable for any images etc.

## How important this is to me and why

Importance: Low

Use cases:
1. clustering , not single docker instance

## Additional context/similar features

easy setup on k8s clusters

[2022-01-23 14:03] CodeCubeNeo commented on #1410
I strongly agree, any updates on this? My main point also being to distribute this app as a flatpak!

[2022-01-23 14:04] CodeCubeNeo commented on #79
Any updates on the flatpak progress?

[2022-01-23 15:24] tinkicker commented on #450
I'd really like to see this as a current user of Notion with a voluminous (to me) recently established setup. I wish I'd heard of Focalboard before I imported/converted all of my GDrive, OneNote, Trello, et al notes into Notion! It would be GLORIOUS if I could use the Notion "Markdown and CSV" export (or PDF or HTML export) to get everything into Focalboard without rebuilding the Empire State Buil

[2022-01-23 21:44] wiggin77 opened #2165 "Bug: Error logged when processing notification hints"
## Steps to reproduce the behavior

1. Create cluster with FB plugin
2. do @mentions or change cards that have followers
3. View logs until eventually, maybe, this error will appear
[code]

## Expected behavior

Expect no errors in log for this scenario.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: Suite 6.3.1
 - Browser and OS: n/a

## Additional context

This log error is

[2022-01-24 15:40] sbishel commented on #2070
@SpearsR - Yes, its all yours. Appears to be an older fix for this. And a couple other bugs that may be fixed by same solution. Thanks.

[2022-01-24 15:41] sbishel commented on #2031
@SpearsR - Thanks, all yours.

[2022-01-24 17:03] araven commented on #124
A multi-architecture functional docker image is [here](https://github.com/araven/focalboard-docker)

[2022-01-24 19:30] chenilim commented on #1900
Thanks @DummyThatMatters and @danielschubert! @mgdelacroix / @jespino do you have any ideas about this error? Does it indicate an actual problem, or do we just need to suppress the log?

[2022-01-24 19:36] danielschubert commented on #1900
I am not sure, but to me there seems to be no actual problem.
Everything works as expected on my side.

[2022-01-24 19:37] chenilim commented on #2151
Hmmm... not sure why `npm install --no-optional` is trying to install Cypress, which is under `optionalDependencies`. Looks like [Cypress doesn't have a 32-bit Linux build](https://github.com/cypress-io/cypress/issues/6110). Maybe try hacking Cypress out of package.json and package-lock.json to see if that makes a difference?

Cypress is the E2E test framework, which should not be needed for the b

[2022-01-24 19:42] chenilim commented on #2160
Thanks for filing this @jpaldeano! We'd be happy to take a PR to support M1. Looks like `uname -m` returns `x86_64` on my 2014 iMac, so we may need to translate that to `amd64` for GOARCH.

[2022-01-24 19:43] chenilim commented on #2156
Does this repro for you @ogi-m?

[2022-01-24 19:45] chenilim commented on #2125
Hi @JadeVane, thanks for filing this! Are there any errors in the browser console (Cmd+Shift+I on Chrome) or network tab? This issue may indicates a problem with the websocket update.

[2022-01-24 19:48] chenilim commented on #2123
Thanks for filing this @Techsigns! Looks like this is a followup to your [thread here](https://community-daily.mattermost.com/core/pl/r5475ep4tfrgz8gbn3tj3y7e1c). Any ideas @wiggin77?

From the description above, this should work as the user is a "member of the channel, team and board".

[2022-01-24 19:49] chenilim commented on #2148
Hi @hamidhamzeiy, which build is this? Confirmed this is working as of v0.12.

[2022-01-24 19:54] hamidhamzeiy commented on #2148
It's v0.12.1 on Mattermost 6

[2022-01-24 19:57] wiggin77 commented on #2123
This is a Channels API call.  I'll check Channels code and see if there are other conditionals that can trigger this error.

[2022-01-24 20:07] chenilim commented on #2100
Looks like the `title` attribute is not set on the div for read-only. Putting this up for grabs. cc @wuwinson, @sbishel, @asaadmahmood.

[2022-01-24 20:09] chenilim commented on #2095
@wiggin77, is this still an issue now that we have removed the feature flag? cc @wuwinson, @sbishel.

[2022-01-24 20:12] chenilim commented on #2089
Thanks @BHanq! Were there details below (after the screenshot cuts off)?
Try running the build separately, i.e.:
[code]
Please copy / paste the error text if there is one to help debug. Thanks!

[2022-01-24 20:13] wuwinson commented on #450
Hi @tinkicker, thanks for sharing your feedback! We have basic [import scripts](https://github.com/mattermost/focalboard/tree/main/import) for Trello, Notion, Asana, Jira, and Todoist. Hope that helps!

[2022-01-24 20:14] wiggin77 commented on #2095
If subscriptions cannot be disabled then I do not think it's an issue any longer and can be closed.

[2022-01-24 21:00] chenilim commented on #2053
Thanks @HelloToday. I'll close this as a dup of #1903 for now. The workaround is to close and repoen the app. Please reopen / file another issue if that doesn't work.

May also be related to https://github.com/mattermost/focalboard/issues/2156.

[2022-01-24 21:00] #2053 closed

[2022-01-24 21:24] ogi-m commented on #2156
@jgilliam17 tested on macOS and couldn't repro, the session doesn't expire.
cc @chenilim

[2022-01-24 22:04] wiggin77 commented on #2123
@chenilim  I investigated this further.  The only way to get that specific error is to have two users without any teams in common.  No database errors will output that.  The error means the SQL query was successful but did not find any records.  It is searching for teams that contain both user ids and the none of the users or team can be deleted.

@Techsigns, are you sure neither user has been del

[2022-01-24 22:05] chenilim commented on #2156
Thanks @ogi-m. @mattouille - does this consistently repro if you quit and reopen the app? There is a session key, but (in theory) that should last for 30 days.

[2022-01-24 23:13] johnnyasantoss commented on #2151
Oh, I made a wrong ref its not #1826 but #1940 (see package.json) removing `@testing-library/cypress` from `devDependencies` makes the error go away

[2022-01-25 03:20] DummyThatMatters commented on #1900
@chenilim If I try to restart plug-in the issue appears again. And from time to time it behaves like #1903, asking to log in to system once again. I suppose you are leading to the idea of this issue being a duplicate of #1903 ?

[2022-01-25 03:32] chenilim commented on #1900
Thanks @DummyThatMatters, that's new information - the (incorrect) login page would appear if the plugin crashes, effectively causing each client to timeout on the websocket. It might be related in the sense that a crash would also generate error messages like the above.

I also notice that you're running v0.10 of the plugin. Since v0.12 (Jan release) is now out, you might consider upgrading to it

[2022-01-25 03:45] DummyThatMatters commented on #1900
@chenilim thanks for advice. I've updated focalbord to 12.1. After restarting the server i found a observed errors in log:
`{"timestamp":"2022-01-25 03:39:14.129 Z","level":"error","msg":"webhub.broadcast: cannot send, closing websocket for user","caller":"app/web_hub.go:539","user_id":"s17kwz76qtyzmjoizwtg1yef7a"}
`
and familiar `{"timestamp":"2022-01-25 03:40:27.934 Z","level":"error","msg":"rec

[2022-01-25 03:57] DummyThatMatters commented on #1900
@chenilim The latter error might be irrelevant to focalbord, as we observed the same server fail behavior after updating mattermost from version 6.1.0 to 6.2.1.

[2022-01-25 08:30] Techsigns commented on #2123
@wiggin77 the users are all members of the team, especially when I try to "notify" myself I get the same error. See some screenshots for investigation (some data obfuscated):
![image](https://user-images.githubusercontent.com/1929590/150939359-10ab60e9-96c5-4898-9da2-7be3b54fbf34.png)

This is the channel with the board and the members of the board:
![image](https://user-images.githubusercontent.c

[2022-01-25 08:59] jpaldeano commented on #2160
Thanks @chenilim , I noticed that after the ci have ran the tests. It seems to be green now.

[2022-01-25 09:42] #2160 closed

[2022-01-25 10:17] tinkicker commented on #450
Thank you!

On Mon, Jan 24, 2022 at 2:13 PM Winson Wu ***@***.***> wrote:

[2022-01-25 12:05] ogi-m commented on #1903
I've just encountered this on Personal Server, but instead of `/error?id=Failed%20to%20fetch` it was `/error?id=Workspace%20undefined:`

![workspaceundefined](https://user-images.githubusercontent.com/15314183/150973650-7936250c-c110-4e5e-b6dc-7ff7efe4e069.jpg)

[2022-01-25 12:29] biva commented on #662
Thanks for your kind consideration @chenilim :) For reference, I also put a link to https://github.com/mattermost/focalboard/discussions/1618

[2022-01-25 15:52] chenilim commented on #2153
@ogi-m, try updating from 0.12 to 0.14, and close if no repro.

[2022-01-25 16:59] wiggin77 commented on #2123
Thanks for that info @Techsigns.  Can you confirm the `Boards` bot account is a member of the team.  It should be automatically created unless a setting is preventing that. Also can you let me know the state of these settings in system console:

`Integrations | Bot Accounts | Enable Bot Creation`.  There is a hyperlink in the description... you can click on it to see the Boards bot account.

`Site

[2022-01-25 17:17] Techsigns commented on #2123
@wiggin77 thanks for the hint to the Bot accounts! They were disabled and Boards bot wasn't a member of the team. I've added it and the notifications work now!

[2022-01-25 17:18] wiggin77 commented on #2123
That's great @Techsigns.  We'll look into how to better document this so others don't trip over it.  cc @chenilim

[2022-01-25 18:09] kamre commented on #2147
@wuwinson ok, lets hold off for the markdown editing because there can be better solutions like popups with two fields in JIRA for example. So far I have finished the implementation for documented requirements and created pull request.

Regarding the feedback from @jprusch I suppose he is talking more about the links in the card _description/comments_ instead of a card _link property_. And in part

[2022-01-25 18:30] jprusch commented on #2147
Actually, I don't like a url link property displaying the "raw" url. The plain url is in many case not relevant for a user & hiding it behind a generic "Jump / Goto" button is from a user & UI perspective better than just printing it out. Each URL / Link property field has a descriptive name. Either display the field name & a button right next to it, or use the field name as button text.

[2022-01-25 18:56] kamre commented on #2147
@jprusch do you mean a popup like this one from Confluence:
<img width=426px src=https://user-images.githubusercontent.com/5587620/151040410-8c3fa1b3-0805-49e8-944f-ecb6c715479f.png>
?
@wuwinson is there an example of such popup in the [mattermost-webapp](https://github.com/mattermost/mattermost-webapp)?

[2022-01-25 18:57] prisae commented on #248
I am on version v0.12.1, and I just tried to export on the Linux app without luck, nothing happens at all. How does your workaround look like @jespino ?

[2022-01-25 21:30] #2165 closed

[2022-01-25 22:33] wuwinson commented on #2147
Thanks @kamre! I'm not aware of such a pop-up within the webapp, but adding @chenilim and @asaadmahmood to chime in since they're more familiar with the product.

[2022-01-26 04:20] ibrahimBeladi commented on #342
This would be a killer feature, one I am looking forward to have.
@mblennegard could you please add "computed" to the title so that it is more searchable :pray:

@chenilim @jespino
Could you please provide an estimate for the release of this feature?
A rough release or date guesstimate is fine by me :smile:

[2022-01-26 08:04] jprusch commented on #2147
Hi @kamre
assume I've got a card like this:

<img width="337" alt="image" src="https://user-images.githubusercontent.com/9337414/151123804-001d55a1-cce6-4c82-817e-d77074f0a1c1.png">

I want this card displayed on a board or a table not to display the raw URL like here

<img width="211" alt="image" src="https://user-images.githubusercontent.com/9337414/151123523-44f02fa5-f6ef-4fb8-8ecd-a2bc16ed67b8

[2022-01-26 11:05] mgdelacroix commented on #1900
The websocket error messages should not cause any issue. They appear if the plugin is restarted, as the websocket connections for the clients are kept active through Mattermost, but the newly booted Focalboard server doesn't recognize then anymore.

They shouldn't cause any issues, so I'd propose to move them to the `Debug` loglevel.

[2022-01-26 13:03] fstani commented on #1866
I have the same issue as @ali-irawan, the view does not refresh to reflect the choices, but if we manually refresh, both in the browser and the desktop app, then it works.

My mattermost server is bundled with Gitlab Omnibus

Mattermost version: 6.2.1
Plugin Version: 0.12.1

We were not using focalboard before, we had a previous installation that was removed in favor of the new version, installed

[2022-01-26 13:06] justinegeffen commented on #631
This is included in: https://docs.mattermost.com/boards/working-with-boards.html. Closing. :)

[2022-01-26 13:06] #631 closed

[2022-01-26 13:09] justinegeffen commented on #2155
Thanks, @wuwinson! I can definitely add this to the Handbook in a "Boards" section. LMK if that works for you.

[2022-01-26 13:09] justinegeffen commented on #2149
Thanks, @bnainar! I've let the team know about this. :)

[2022-01-26 13:11] justinegeffen commented on #2111
This is not yet resolved, @marpit19 - we'd really appreciate your help if you're still able to. :)

[2022-01-26 13:20] justinegeffen commented on #1924
The product documentation doesn't generally contain this type of content (bugs and workarounds) and we usually share it in the [changelog](https://docs.mattermost.com/install/self-managed-changelog.html). We can also add it to the Discussion tab in GitHub if appropriate, or add it to the Support KB if appropriate.

I don't see it in the changelog and, if this is still an issue, it might be worth a

[2022-01-26 13:30] justinegeffen commented on #140
The documentation is now available here: https://docs.mattermost.com/guides/boards.html. There is no installation content in these docs and the Personal Edition content isn't included in those docs - you can find them here: https://github.com/mattermost/focalboard/tree/main/website/site/content/download/personal-edition for now. :)

[2022-01-26 13:41] asaadmahmood commented on #2147
@kamre @wuwinson I think this a great idea.
I also like @jprusch idea on how the link can be displayed as well, if I had to pick one, I would not mind going with the link with the edit and copy options like presented, as that's more consistent with what we have right now, and then decide if we want to move with the button feature later.

[2022-01-26 15:28] RilDev opened #2176 "Bug: Card Property Links Are Broken"
## Steps to reproduce the behavior

1. Go card
2. Click on property URL's link icon
3. No new tab opens in the browser

## Expected behavior

When I click on the link icon, I expect the link to open in a browser tab.

## Screenshots

![focalboard-link-icon-broken](https://user-images.githubusercontent.com/13135150/151192208-f80d6850-90ca-4791-af18-d8f6ce83bd61.gif)

## Edition and Platform

 - Edi

[2022-01-26 15:29] RilDev opened #2177 "Bug: Links in card descriptions open 2 new tabs"
## Steps to reproduce the behavior

1. Go card
2. Click on link in comment
3. 2 new tabs opens in the browser

## Expected behavior

When I click on the link, I expect only 1 tab to open in my browser.

## Screenshots

![focalboard-card-comment-link-icon-broken](https://user-images.githubusercontent.com/13135150/151193285-267b984b-93f8-4bc3-8a39-49fa946984cb.gif)

## Edition and Platform

 - Editi

[2022-01-26 15:35] chenilim commented on #1924
Thanks. Agree we should add this to a KB article. @justinegeffen, should that be a [GitHub discussion](https://github.com/mattermost/focalboard/discussions) (we could create a new KB category), or is there a better place for this kind of info? cc @wuwinson.

[2022-01-26 15:37] wuwinson commented on #2155
Sounds great, thanks @justinegeffen!

[2022-01-26 15:59] chenilim opened #2178 "Doc: Port contributors guide to GitHub"
## Summary

With the refactoring of the website, we need to move the [contributors guide on Focalboard.com](https://www.focalboard.com/contribute/getting-started/) to GitHub. There are roughly 6 pages. Suggest just copying the .md files to under `/contributors-guide` in the repo and reformatting them.

[2022-01-26 15:59] chenilim commented on #2178
cc @wuwinson

[2022-01-26 17:30] sbishel opened #2180 "Bug: Comments are lost when closing card"
## Steps to reproduce the behavior

1. Go to a card
2. Type a comment (Do not click 'Send')
3. Close the Card
4. Reopen the Card
5. Comment is lost

## Expected behavior

Should either auto save or warn user changes will be lost.

[2022-01-26 17:56] justinegeffen commented on #2155
Content has been added: https://handbook.mattermost.com/contributors/contributors/ways-to-contribute#report-a-boards-bug. Closing. :)

[2022-01-26 17:56] #2155 closed

[2022-01-26 18:06] marpit19 commented on #2111
Sure I'll look into it @justinegeffen

[2022-01-26 20:19] chenilim commented on #2180
@wuwinson what should the behavior be? Either retriage, or assign to community.

[2022-01-26 20:21] chenilim commented on #2176
Thanks @RilDev! Putting up for grabs.

[2022-01-26 20:26] chenilim commented on #2177
Thanks @RilDev! Putting up for grabs.

[2022-01-26 20:32] chenilim commented on #2115
ARM64 is not part of our official build. Can someone help debug?

[2022-01-26 20:32] chenilim commented on #2095
Thanks.

[2022-01-26 20:32] #2095 closed

[2022-01-26 20:37] chenilim commented on #2080
Please investigate @jespino. Is this something that can be fixed, or is undo-redo broken (e.g. by the new server block id code).

[2022-01-26 20:39] chenilim commented on #2079
Same as #2080 - can this be supported in the new system?

[2022-01-26 20:44] chenilim commented on #2027
@devinbinnie, my guess is that the desktop app is looking for "/boards", but with a siteURL, it's "/sireURL/boards", and not being handled correctly. Is this a known issue? cc @sbishel, @wuwinson, @jespino.

[2022-01-26 20:46] chenilim commented on #2024
Closing for now. Please reopen with more details if you are still experiencing this issue. Thanks.

[2022-01-26 20:46] #2024 closed

[2022-01-26 20:48] chenilim commented on #2001
This might have to do with the app cycling the port. Putting it up for grabs.

[2022-01-26 20:50] chenilim commented on #1989
Thanks @hmhealey. Sorry for the delay. Definitely strange and worth investigating, but this should ultimately be replaced by the sidebar in 2022 Q1. Putting up for grabs.

[2022-01-26 20:54] chenilim commented on #1984
Picking up on this. We think this is a dup of #1581. So closing as a dup. cc @ogi-m - when #1581 is fixed, please validate that it fixes this too, otherwise reopen. Thanks.

[2022-01-26 20:54] #1984 closed

[2022-01-26 20:57] chenilim commented on #1962
Thanks! Please chime in if anyone else has ideas or finds this feature important.

[2022-01-26 20:58] chenilim commented on #1953
Any followup @harshilsharma63?

[2022-01-26 21:00] chenilim commented on #1936
Thanks @agnivade! Putting this up for grabs. cc @jespino - there may be a set of Ubuntu / Linux specific issues.

[2022-01-26 21:03] chenilim commented on #1462
@asaadmahmood, could you take a quick look? Please fix if easy, otherwise we can put it up for grabs. Thanks.

[2022-01-26 21:17] devinbinnie commented on #2027
The Desktop App should work correctly with a subpath, so if the URL is http://myserver.com/subpath, then http://myserver.com/subpath/boards should work correctly. Does the URL in the Desktop App match the SiteURL configured in the server?

[2022-01-26 21:37] frauseo opened #2183 "Websocket Error Docker container behind Nginx ProxyManager"
## Problem
My Focalboard sits behind a nginx reverse proxy ([NPM](https://nginxproxymanager.com/)). On the LAN there is no errors and Websockets work fine as i can see in the running docker container. When i access the Focalboard from the internet, there are these Websocket errors. As described in the [Docs/Personal Server](https://www.focalboard.com/guide/websocket-errors/), there are a solution

[2022-01-26 21:37] markmcjr opened #2184 "Changing User Name"
When the main account was being setup the Name was entered incorrectly and there appears to be no way to change the name.  I would recommend having a user profile option so this can be self-maintained.  However, in the meantime, is there a way to manually change this?

[2022-01-26 22:06] chenilim commented on #2027
Thanks @devinbinnie! @LanceBurns, could you check the URL in the Boards tab? I believe you can get it in the dev network tab:
1. View menu \ Developer tools for current tab
2. Open the network tab
3. Refresh (Cmd+R)
4. Select the first item in the network tab
5. What's the request URL?

Does it match your https://server/mattermost/boards site URL path?

[2022-01-26 22:08] chenilim commented on #2148
Hmmm... here's what the settings menu looks like on my server:
<img width="309" alt="settings menu" src="https://user-images.githubusercontent.com/46905241/151255077-1b3c23cf-83e7-452c-8a62-ef72b45c691a.png">

To double check, make sure you have opened Boards first (i.e. this is not the Channels settings). Could you share a screenshot of your menu? Thanks.

[2022-01-26 22:36] wuwinson commented on #2084
Thanks for the feedback @Svetlana-T!

@asaadmahmood Thoughts on this? Maybe a more prominent horizontal scrollbar or an indicator on the right of the screen? cc @chenilim

[2022-01-26 22:40] wuwinson commented on #2180
We should warn the user that the message was not sent and their message will be lost. Even with autosave, it's not immediately obvious that the message was not sent. Thoughts @asaadmahmood?

[2022-01-27 01:06] kenleyshaw commented on #2176
I am new to the Open source community. For one of my courses for college, we have to contribute to a project - this seems like an issue that I may be able to help with as well as #2177. Can you assign this to me please? I'll update along the way as I troubleshoot

[2022-01-27 01:17] kenleyshaw commented on #2184
I am new to the Open source community. For one of my courses for college, we have to contribute to a project - this seems like an issue that I may be able to help with. Can you assign this to me please? I'll update along the way as I troubleshoot

[2022-01-27 01:28] LanceBurns commented on #2027
@chenilim So the base URL of the dashboard appears to be `/mattermost/boards/dashboard` as you'd expect. The problem is when I select a board on that page.

Unfortunately I can't see any way to get the destination URL of the boards listed on the dashboard via the debug tools. Refreshing the dashboard via Ctrl-R takes me to the first board, rather than staying on the dashboard. Selecting "Dashboard

[2022-01-27 02:27] chenilim commented on #2027
Thanks @LanceBurns! Are there any errors in the network or console tabs?
1. Open Boards in the desktop app
2. View menu \ Developer tools for current tab
3. Open the network tab and clear it, and clear the console tab too
4. Now select the workspace to open from the Dashboard
5. Any errors in the network or console tabs?

Really appreciate your help!

[2022-01-27 03:21] chenilim commented on #2027
Thanks so much @LanceBurns! @ogi-m, I think the next step is to set up a repro of our own - i.e. Mattermost 6.3.1 / Boards 0.12.1 / Desktop App 5.0.2 on a server with a siteURL. If possible, let's use the same "/mattermost" subpath. cc @sbishel, @jespino, @wiggin77, @wuwinson.

[2022-01-27 04:59] harshilsharma63 commented on #1953
@chenilim we decided that the flashing of that message for a split second is not an important issue for now. We decided to not work on it in the interest of the permissions feature.

[2022-01-27 05:00] harshilsharma63 commented on #1953
I can pick this task next. Shouldn't be more than a day of work.

[2022-01-27 06:46] chenilim commented on #2149
Thanks! I ran into this before and will submit a fix - it's the min-height of the background.

[2022-01-27 08:04] RilDev commented on #2176
@chenilim You're welcome! This project is very helpful. I was able to set it up during a long meeting yesterday and it already improved my workflow!

@kenleyshaw Thank you for taking care of this issue. I appreciate it!

[2022-01-27 08:23] EKivutha commented on #2177
Hey @chenilim how can I get ttask to contribute to? All tasks are currently assigned.
and would love to help out

[2022-01-27 09:23] shalex88 opened #2187 "Bug: Wrong sorting by priority behavior"
## Steps to reproduce the behavior

1. Create to Project Tasks
2. Go to All Tasks view
3. Sort by Priority ascending/descending

## Expected behavior

When sorted (ascending) Low priority tasks should be placed lower then the Medium priority tasks

## Screenshots

![image](https://user-images.githubusercontent.com/26669926/151328569-7b7a1b73-ec1e-4e78-a52b-50fd2eb8b5dd.png)

## Edition and Platfor

[2022-01-27 09:51] JamesDAdams opened #2188 "Bug: Impossible to installe the plugin in mattermost"
## Steps to reproduce the behavior

1. Go to plugin managment panel
2. Select  upload file
3. upload the focalboard plugin
4. See error
![image](https://user-images.githubusercontent.com/20860324/151334554-3cb12b8f-294e-4256-be50-03667a243eea.png)

![image](https://user-images.githubusercontent.com/20860324/151334573-722e20cd-c973-4385-b926-549c30c93926.png)

Error in log :

![image](https://user-

[2022-01-27 10:03] RilDev opened #2189 "Bug: Card Modal Popup Menu Hidden At Bottom"
Not sure if this would be considered an enhancement but here it is!

## Steps to reproduce the behavior

1. Open card modal
2. Add new description
3. Click on the kebab-menu of the last item and try to delete it
4. You have to scroll to see the entire popup menu

## Expected behavior

I expected the menu to pop above the item so that it's entirety is visible and easy to access.

## Screenshots

![

[2022-01-27 10:21] RilDev opened #2190 "Feature Idea: Card Modal Click & Drag To Reorder Properties"
## Summary

Reorder properties in a card modal by clicking and dragging them.

## How important this is to me and why

Importance: Low

Use cases:
1. Keeping properties organized as more are added over time

![focalboard-enhancement-click-drag-card-modal-properties](https://user-images.githubusercontent.com/13135150/151339233-950d3166-9eaa-49b9-8cbf-5ce1d5f2d264.gif)

## Additional context/similar

[2022-01-27 10:56] ogi-m opened #2191 "Bug: Accessibility > Ensure buttons have discernible text"
Ensure that each `button` element and elements with `role="button"` have one of the following characteristics ([more info](https://dequeuniversity.com/rules/axe/4.3/button-name?application=AxeChrome)):

- Inner text that is discernible to screen reader users.
- Non-empty `aria-label` attribute.
- `aria-labelledby` pointing to element with text which is discernible to screen reader users.
- `role="

[2022-01-27 15:07] chenilim commented on #2176
Thanks for the feedback @RilDev! And thanks for picking these up @kenleyshaw! Assigned to you. Note that this appears to only repro on the Linux (Ubuntu) app.

[2022-01-27 15:12] chenilim commented on #2177
Thanks @EKivutha, you got it! Assigning this to you.

[2022-01-27 15:13] chenilim commented on #2177
BTW, @kenleyshaw is working on a related issue, #2176.

[2022-01-27 15:13] ogi-m commented on #2027
@chenilim Confirmed I can repro this on https://subpath.test.mattermost.com/mattermost (MM v6.3.2 / Boards v0.12.1) using the Desktop App v5.0.2.
I couldn't repro in Chrome.

[2022-01-27 15:16] ogi-m commented on #2153
Couldn't repro this with a fresh install. Closing.

[2022-01-27 15:16] #2153 closed

[2022-01-27 15:59] chenilim commented on #2027
Thanks @ogi-m! I could repro it too. The error actually appears in the Channels tab, so to debug, open the Developer tools for that tab. I see a 404 error on the fetch on `https://subpath.test.mattermost.com/mattermost/api/v4/teams/name/mattermost`. @sbishel, can we assign someone to investigate? Though not sure if this issue is in the Boards or desktop app code. cc @devinbinnie.

[2022-01-27 17:35] sbishel commented on #2027
@jespino Could you take a look? This should have your latest fix as its 0.12.1.  Thanks

[2022-01-27 17:46] chenilim commented on #2100
You got it! Thanks @EKivutha!

[2022-01-27 19:01] mattouille commented on #2156
Yeah, it seems to persist even after a system restart. On my Linux system, however, this doesn't occur at all.

[2022-01-27 20:38] K3UL commented on #670
@jakejoh I had the same problem and after taking a look at what they did in the PR (enable to `chown nobody`), I tried it on my directory, and it worked. So basically what you need to do is :
[code]

[2022-01-28 08:49] YC commented on #2115
Adding the flag from https://github.com/imagemin/optipng-bin/issues/118#issuecomment-1019838562 seems to be a temporary fix

[2022-01-28 09:28] VaZark commented on #345
Regarding the issue of handling conflicts can it be handled by using Version control? Tools like darcs and pijul specifically target managing the data as blocks of changes. It can be used to maintain local changes on top of the central/main instance and add them to the main copy later.

[2022-01-28 14:07] vbardelli opened #2197 "Bug:"
## Steps to reproduce the behavior

1. Go to boards tab
2. Select to create a new card
3. Scroll down to ...
4. See error "no refresh in order to see the new card"

## Expected behavior

to see my new card in the board

## Screenshots

If applicable, add screenshots to elaborate on the problem.

## Edition and Platform

 - Edition: Personal Desktop / Personal Server / Mattermost plugin
 - Version:

[2022-01-28 14:46] sasivatsal7122 opened #2198 "Bug: Theme auto change on app close"
My windows in dark mode, as soon as i open focal board its theme is in "system theme", even if i change it to "default theme" it reverts back to  "system theme" after app restart .

[2022-01-28 14:47] sasivatsal7122 commented on #2198
![image](https://user-images.githubusercontent.com/71326149/151567274-645ae9d6-df73-4f88-a8f1-e44123da09ae.png)

[2022-01-28 14:55] devinbinnie commented on #2027
Okay this is fun...I was able to reproduce your issue the first time I tried to do it. But on subsequent tries everything has worked fine. Tested using `https://subpath.test.mattermost.com/mattermost2` and Desktop App v5.0.3-rc2.

@chenilim @ogi-m If you can repro still can you try the latest RC?

[2022-01-28 15:27] hamidhamzeiy commented on #2148
Well that's not how it looks on our installation. We simple get the Mattermost menu and it doesn't matter whether we are on the channels page or the boards page
![Screenshot from 2022-01-28 16-27-21](https://user-images.githubusercontent.com/763329/151574114-685c9701-dfc6-48b2-9f54-8efc6d671e4d.png)
.

[2022-01-28 18:24] #1900 closed

[2022-01-28 19:31] VaZark opened #2200 "Feature Idea: Multiple sorting options"
## Summary

Being able to sort tasks based on multiple criteria especially when dealing multiple custom properties would be extremely useful.

## How important this is to me and why

Importance: Medium

Use cases:
1. Improved ease of use
2. Multiple sort criteria makes prioritising based on multiple factors useful during  discussions

## Additional context/similar features

Using the filter-style

[2022-01-28 19:59] JamesDAdams commented on #2188
i found the probleme a map the general and the client plugin folder in the same place ^^

[2022-01-28 19:59] #2188 closed

[2022-01-28 20:49] chenilim commented on #1709
Housekeeping old issues: The error message indicates a problem with the admin API, which is a file socket. The workaround is to set `enableLocalMode` in the `config.json` file and restart.

Closing this issue for now, but please reopen or file a new issue if anyone is still seeing this. cc @jespino, @ogi-m, @sbishel.

[2022-01-28 20:49] #1709 closed

[2022-01-29 01:31] LanceBurns commented on #2027
I've just been doing some further testing on my end. In the desktop app, attempting to add a new card also causes the same "Team Not Found" error, like so:
https://user-images.githubusercontent.com/3395466/151640780-1f09cc7d-1a12-4e2a-bf4b-b6917ab99868.mp4

However, upon reloading the board, an "Untitled" task has appeared. I cannot view it (triggers "Team Not Found"), but I can successfully delet

[2022-01-31 05:24] #2123 closed

[2022-01-31 14:15] devinbinnie commented on #2027
@LanceBurns I can reproduce this as well, thanks for the steps. I'll make a ticket and see what I can do in the Desktop App :)

[2022-01-31 16:48] #2149 closed

[2022-01-31 20:26] chenilim commented on #2198
Thanks @sasivatsal7122! Looks like this may be related / dup of https://github.com/mattermost/focalboard/issues/2001 (language not saving in App). Likely cause is the random port number used in the Windows app.

[2022-01-31 20:28] chenilim commented on #2197
Thanks @vbardelli, could you provide a screenshot or more info? i.e. is there an error message, or did you mean the new card does not appear until after a refresh?

Please also specify the version and edition being used. Thanks.

[2022-01-31 20:30] chenilim commented on #2187
The current behavior is the labels are sorted alphabetically. Focalboard itself doesn't "know" the order of the priorities. Suggested workaround is to rename the labels as "1: Low", "2: Medium", "3: High" or similar.

[2022-01-31 20:41] wuwinson commented on #2191
Investigate for April release.

[2022-01-31 20:53] kamre commented on #2191
Hi, I have also noticed such issue with the absence of proper labels while developing Cypress tests with testing-library.

At least two of these items for **header menus** should have proper labels after merging of these pull request:
* #2173
* #2025

[2022-01-31 20:55] wuwinson commented on #2187
Will add numbered prefix to standard templates.

[2022-01-31 20:59] wuwinson commented on #2183
cc @jespino @wiggin77 Any ideas on how to configure nginx for this?

[2022-01-31 21:04] wuwinson commented on #2156
Thanks @mattouille! Any additional details or observations will help us determine the root cause. If anyone else has similar cases, please feel free to add to this ticket.

[2022-01-31 21:12] wuwinson commented on #2067
Lets handle this with [Permissions](https://community-daily.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/b4ctmm917q3rzdfi451qtuxjzcw/v3ng1gwe7wtfaijukrhp8siwcpy/cr3yryak1tt8czcihebgr8jdwwa).

[2022-01-31 21:15] wuwinson commented on #2063
@harshilsharma63 Can you do a quick investigation to see if this can be fixed for v0.14. If necessary we can punt to a later release. cc @sbishel @chenilim

[2022-01-31 21:17] wuwinson commented on #2027
Thanks @devinbinnie! Please close this as a duplicate or when resolved.

[2022-01-31 21:24] chenilim commented on #1903
I see three distinct issues we need to address:
1. We should never show the login page on plugin - this should be replaced with a new error screen
2. When the server reboots (e.g. if a plugin crashes), this causes open Boards clients to show an error page - we should decide if we want to improve this, e.g. self-correct
3. When a plugin crashes, there are "false-positive" error logs - we should cle

[2022-01-31 21:37] wiggin77 commented on #2183
@frauseo can you provide the error logs. Also

[2022-01-31 22:05] wuwinson commented on #2191
Thanks for sharing @kamre!

[2022-02-01 09:56] kamre commented on #2187
It should be sorted by the order of values in the Select popup and it should be possible to change this order via dragging by handles. I really miss this feature from Notion.

[2022-02-01 14:31] biva commented on #584
Hello, Congrats for your work, and sorry to ask if it has been updated somewhere, but were you able to make progress here? One of our user has deleted a board accidentally, and we lost it.

Would it be possible, as a first step, to make the board deletion only possible for admins?

[2022-02-01 15:09] ogi-m opened #2211 "Bug: Double vertical scroll bar"
## Steps to reproduce the behavior

1. Go to Boards
2. Observe the vertical scroll bar - there are two
3.
## Expected behavior

There should be a single vertical scroll bar

## Screenshots

![double_scrollbar](https://user-images.githubusercontent.com/15314183/151994414-131bd754-9261-489b-8b15-57eac3815d49.jpg)

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.12.1
 - Browser

[2022-02-01 17:25] #2147 closed

[2022-02-01 17:26] mattouille commented on #2156
Is there anywhere that Focalboard logs? I was looking in some common destinations and didn't see any.

[2022-02-01 18:24] ogi-m commented on #1228
@wuwinson @asaadmahmood is this something we might want to consider?

[2022-02-01 18:58] chenilim commented on #2178
Hi @justinegeffen, are we still on track to make this change? Now that Marketing will own focalboard.com going forward, we should generally move the dev-centric content to GitHub. Or is there a better place?

[2022-02-01 20:25] tjbortz1s opened #2212 "Bug: Focalboard give feedback link turns purple after being clicked"
## Steps to reproduce the behavior

1. Click the Give Feedback link
2. on return to the focalboard screen the link appears purple.

## Expected behavior

The link remains the same color

## Screenshots

![image](https://user-images.githubusercontent.com/6193065/152045427-c0451359-c423-4f9d-b990-99b8c350d710.png)

## Edition and Platform

 - Edition: Windows 0.12.1

[2022-02-01 22:01] tjbortz1s opened #2214 "Bug: Focalboard drag-drop-hold-scroll only kicks in when cursor is at the top of the group names and not the group list"
## Steps to reproduce the behavior

1. Start dragging a card
2. Move the car up near the top of the region cards can be dropped in.
3. When the cursor is below the group header titles the list of tasks does not scroll up.
4.  When the cursor approaches the top of the group header titles the list of tasks does scroll up.

## Expected behavior

The scrolling area starts to scroll when the mouse is a

[2022-02-01 23:10] sTiKyt commented on #124
Just wanted to let you know some people may want to run it on their free Oracle Cloud, not just Raspberry Pi

[2022-02-01 23:19] tennox opened #2215 "Bug: X Window error: 'BadValue (integer parameter out of range for operation)'"
## Steps to reproduce the behavior

1. Download linux build
2. Create a board from e.g. personal tasks template
3. open a board item / card
4. app hangs / screen goes blank

## Screenshots
![focalboard crash](https://user-images.githubusercontent.com/2084639/152067679-00f087cd-abdc-4a20-be35-81d0e5ace98d.gif)

## Edition and Platform

 - Edition: Personal Desktop
 - Version: v0.12.1
 - Browser and

[2022-02-01 23:26] ogi-m opened #2216 "Bug: New template selector > UI jitters when moving the mouse over custom templates"
## Steps to reproduce the behavior

1. Create a few custom templates
2. Open the template selector
3. Move the cursor over the custom templates
4. Note that the UI jumps around as the width increases to accommodate the _edit_ and _delete_ butons

## Expected behavior

No jittering

## Screenshots

https://user-images.githubusercontent.com/15314183/152068499-ecf5228d-53df-40dd-bd36-273478b19f37.mp4

[2022-02-02 04:29] RobertPringle opened #2219 "Feature Idea: Consider adding a Duration Property Type"
## Summary

The current `Date` property type works great for specifying specific dates or date ranges but it doesn't allow me to capture the more generic concept of duration. I currently am using the `Number` property type with a label that specifies a fixed unit of time but this is not very clean when durations are too large or small and it also does not display the units of time in every view wh

[2022-02-02 10:24] Genei180 commented on #124
@sTiKyt Please, be aware that the Pull Request Titel created by me may be Misleading.

It should allow for custom Compliation for most Architectures within Docker. It is not Limited to Arm/ Raspberry Pi Only.

It did work Previously, currently i am expieriencing the same Bug, as Described above.
I will try my best too fix it again.

[2022-02-02 12:25] harshilsharma63 opened #2223 "Bug: images don't show up in templates created from boards"
## Steps to reproduce the behaviour

1. Create a new board.
2. Add some cards with images in the card's description.
3. Create a template from this board.
4. Edit the template and open the card in which you added the images. Notice the images don't load up and you get network errors in the browser console.
5. Create a board from this template and open the card in which you added the images. Notice

[2022-02-02 13:37] ogi-m opened #2226 "Bug: Accessibility > Help button should have discernible text"
Element is in tab order and does not have accessible text ([more info](https://dequeuniversity.com/rules/axe/4.3/link-name?application=AxeChrome)).
Fix at least one (1) of these issues:

- Element does not have text that is visible to screen readers
- aria-label attribute does not exist or is empty
- aria-labelledby attribute does not exist, references elements that do not exist or references elem

[2022-02-02 14:07] ogi-m opened #2227 "Bug: Accessibility > Ensure controls are not nested"
Ensure controls are not nested as they are not announced by screen readers ([more info](https://dequeuniversity.com/rules/axe/4.3/nested-interactive?application=AxeChrome)).

1. Sidebar 1
    - Element location:
 `.\' > .MenuWrapper[role="button"][aria-label="menuwrapper"]`
    - Element source:
`<div role="button" aria-label="menuwrapper" class="MenuWrapper"><button type="button" class="Button Ic

[2022-02-02 14:25] ogi-m opened #2228 "Bug: Accessibility > Form elements should have a visible label"
Ensures that every form element has a visible label and is not solely labeled using hidden labels, or the title or aria-describedby attributes ([more info](https://dequeuniversity.com/rules/axe/4.3/label-title-only?application=AxeChrome))

1. Board title
   - Element location:
 `input[placeholder="Untitled\ board"]`
   - Element source:
`<input class="Editable title" placeholder="Untitled board" t

[2022-02-02 14:33] wuwinson commented on #1962
Additional feedback: https://community.mattermost.com/core/pl/o6ek9h8jrtyzdpq7jjswkj7duh

Every participant can post proposals there and everyone has 3 votes in a meeting. We then discuss those item with the most votes.
We've done extensive research a couple of months ago and couldn't find any open source products offering that feature. Quite a few paid-for options available, so there must be some

[2022-02-02 15:30] VityaSchel opened #2229 "Feature Idea: Allow to open devtools in app or allow to register in localhost in browser to open devtools there"
## Summary

Well I tried to export images I uploaded to the board but there is no download or export button. Export to csv does not export assets. Export to .focalboard file makes it impossible to unzip file with 7z, winrar, unarchiver, jszip and other tools. So I tried to open devtools but there is no way I could do it: hotkey does not work, right click is disabled, no option in menu. Browser ver

[2022-02-02 17:13] #2223 closed

[2022-02-02 20:23] #2117 closed

[2022-02-02 20:48] #2211 closed

[2022-02-02 22:01] chenilim opened #2233 "Bug: New template from board does not open the template"
## Steps to reproduce the behavior

1. Create or open a board
2. From the sidebar's board menu (...), select "New template from board"
3. The template picker UI appears, but the board is not opened

## Expected behavior

The new template should open, allowing the user to edit it.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.12 (community)
 - Browser and OS: Chrome on macO

[2022-02-03 09:35] Grienauer commented on #1962
I think a uservoice suggestion should be created for this so the community can upvote it.
https://mattermost.uservoice.com/

[2022-02-03 12:35] ogi-m opened #2236 "Bug: Template selector > Elements in the preview highlight on hover"
## Steps to reproduce the behavior

1. Open the template selector
2. Select "Welcome to Boards"
3. Move the mouse over the bottom half of the table in the preview
4. Note the cards highlight

## Expected behavior

Elements in the preview shouldn't interact on mouse-over

## Screenshots

https://user-images.githubusercontent.com/15314183/152343735-5a9c671d-facb-4147-8c54-e5f3535048a7.mp4

## Editio

[2022-02-03 12:38] ogi-m opened #2237 "Bug: Template selector > Buttons overlap with the template preview"
## Steps to reproduce the behavior

1. Open the template selector
2. Select "Welcome to Boards" or "Roadmap" template
3. Note the button overlap with the preview

## Expected behavior

The buttons should not overlap

## Screenshots

![SharedScreenshot](https://user-images.githubusercontent.com/15314183/152344259-524abba8-fa93-4b86-b0de-ae0abec75ff7.jpg)

## Edition and Platform

 - Version: v0.14

[2022-02-03 12:57] ogi-m opened #2238 "Bug: Template selector > "Something went wrong" error when selecting last two templates"
## Steps to reproduce the behavior

1. Open the template selector
2. Select "Welcome to Boards" or "Roadmap" template
3. Note the "Something went wrong" error

## Expected behavior

Board is successfully created from the template

## Screenshot

![SharedScreenshot](https://user-images.githubusercontent.com/15314183/152347005-84149a96-7f32-4c96-b32a-f668955be357.jpg)

## Edition and Platform

 - Ve

[2022-02-03 13:05] harshilsharma63 opened #2239 "Bug: Exported archive has incorrect file extention"
The archive export option exports the file in `.focalboard` extension instead of the new `.boardarchive` format.

[2022-02-03 18:13] chenilim opened #2240 "Bug: Template picker sidebar width changes when hovering over certain templates"
## Steps to reproduce the behavior

1. Open the template picker (add new board)
2. Hover over custom templates with long titles
3. Width of sidebar changes

## Expected behavior

Width should not change - propose that title is truncated and icons appear on the right.

## Screenshots

https://user-images.githubusercontent.com/46905241/152403385-71aafb0b-6551-482f-90e7-0899b9b827fc.mov

## Edition a

[2022-02-03 18:13] chenilim commented on #2240
@asaadmahmood - what should the behavior be here? Propose that title is truncated and icons appear on the right. cc @wuwinson.

[2022-02-03 18:17] asaadmahmood commented on #2240
@chenilim Yup, I Think I actually did that, but maybe for some reason it didn't work.

[2022-02-03 18:23] ogi-m opened #2241 "Bug: Template selector > No way to see full text for long template titles"
## Steps to reproduce the behavior

1. Go to the template selector
2. Select "+New Template"
3. Enter a long name for the template, e.g. _Another template with a very long name_
4. Return to template selector
5. Observe that the template name is truncated
6. Move the cursor over the template title

## Expected behavior

Full title should be displayed on hover

## Screenshots

![template_titles](ht

[2022-02-03 18:33] chenilim opened #2242 "Bug: Duplicating a board notifies users who are mentioned in card descriptions"
## Steps to reproduce the behavior

1. Create a card, and mention a user (e.g. yourself) in the card with `@username`
2. You receive a notification (as expected)
2. Duplicate the board
3. You receive another notification
4. Duplicate the card
5. You receive another notification

## Expected behavior

Should not notify mentioned users on duplicated boards or duplicated cards.

## Edition and Platfo

[2022-02-03 18:34] wuwinson opened #2243 "Bug: Confirmation modal to delete a template is not centered"
## Steps to reproduce the behavior

1. Go to new template picker and delete a custom template
2. See error

## Expected behavior
Confirmation modal is centered to the page

## Screenshots

![Confirmation Msg Not Centered](https://user-images.githubusercontent.com/93531870/152406502-e750ef3d-2b1c-44c3-b0c7-7e3b39e90e7f.png)

## Edition and Platform

- Edition: Mattermost plugin
- Version: v0.14.0 R

[2022-02-03 18:34] chenilim commented on #2242
@wuwinson, do you agree this is a bug? Or is there another expected behavior. Thanks. cc @wiggin77, @asaadmahmood.

[2022-02-03 18:38] wiggin77 opened #2244 "Bug: Images not appearing for cards created from default template"
## Steps to reproduce the behavior

1. Create channel & click FB icon
2. Select  a default template containing an image e.g. `Welcome to Boards`
3. Open card that should have an image e.g. `@mention teammates`
4. See error

## Expected behavior

Image should appear in card.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.14 RC
 - Browser and OS: FF 93 Linux

## Additional co

[2022-02-03 18:43] ogi-m commented on #2240
Dupe of https://github.com/mattermost/focalboard/issues/2240

[2022-02-03 18:43] #2240 closed

[2022-02-03 18:43] ogi-m commented on #2241
@asaadmahmood Should the full title be shown in a tooltip?

[2022-02-03 18:46] chenilim opened #2245 "Bug: Unable to delete or edit custom templates in Personal Desktop"
## Steps to reproduce the behavior

1. Create a new Board template in Personal Desktop (Mac)
2. Try to delete it from the template picker (new board UI)
3. Delete and edit buttons don't appear on hover

## Expected behavior

Able to delete and edit custom templates

## Screenshots

<img width="277" alt="Screen Shot 2022-02-03 at 10 43 14 AM" src="https://user-images.githubusercontent.com/46905241/

[2022-02-03 18:48] wuwinson commented on #2242
@chenilim Yes, agree that this is a bug. Users who were previously mentioned on a card should not be notified on a duplicated card unless they are explicitly mentioned on the duplicated card again.

[2022-02-03 18:50] chenilim commented on #2244
Doug confirmed that the images are in the default template. Please investigate.

[2022-02-03 18:51] chenilim commented on #2243
Please fix if easy, but not a priority for 0.14.

[2022-02-03 18:56] chenilim commented on #2242
Let's decide on the overall functionality, and circle back.

[2022-02-03 18:57] chenilim commented on #2241
Suggest adding a tooltip?

[2022-02-03 18:58] chenilim commented on #2233
Didn't repro for me in 0.14.

[2022-02-03 18:58] #2233 closed

[2022-02-03 18:58] wiggin77 opened #2246 "Bug: BroadcastBlockChange creating too much noise in logs"
## Steps to reproduce the behavior

1. change content of any cards
2. see logs (e.g. system console)
3. many `Info` level logs regarding BroadcastBlockChange

## Expected behavior

BroadcastBlockChange should be a debug level log (if needed at all)

## Screenshots

If applicable, add screenshots to elaborate on the problem.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: 0.14 R

[2022-02-03 20:37] chenilim opened #2248 "Bug: Should not show Follow button in Personal Editions"
## Steps to reproduce the behavior

1. Open a card in Personal Desktop or Personal Server
2. There's a "Follow" button, but clicking on it does nothing

## Expected behavior

Don't show a non-functioning Follow button.

## Edition and Platform

 - Edition: Personal Desktop / Personal Server
 - Version: v0.14 RC1
 - Browser and OS: Mac and Windows

## Additional context

Propose hiding the Follow b

[2022-02-03 20:38] chenilim commented on #2248
cc @wuwinson, @asaadmahmood, @wiggin77, @ogi-m - I think we discussed this briefly, but don't remember if there was a bug filed. While I don't think this is a top priority, we should fix this if it's easy to head-off any user confusion and bug reports.

[2022-02-03 20:41] chenilim commented on #2236
The calendar view cells also highlight on hover (e.g. Roadmap template), and it appears you can click on the '+' button (though nothing happens). This only seems to affect the bottom half of the preview, as if there's an invisible div that only covers the top half.

[2022-02-03 20:44] chenilim opened #2249 "Bug: "Create Empty Board" button has a transparent background"
## Steps to reproduce the behavior

1. Select "+ Add Board"
2. Select the Roadmap template
3. The background appears on the "Create empty board" button

## Expected behavior

The button background should be opaque.

## Screenshots

<img width="956" alt="Screen Shot 2022-02-03 at 12 42 13 PM" src="https://user-images.githubusercontent.com/46905241/152425578-a5192f9e-1572-4c9d-b452-224be2727908.png"

[2022-02-03 20:46] chenilim commented on #2249
@asaadmahmood / @jespino / @ogi-m, not sure if this is already tracked, but I think we should fix it if easy.

[2022-02-03 20:53] chenilim opened #2250 "Bug: Should not be able to follow a card template"
## Steps to reproduce the behavior

1. Open a card
2. Select "New template from card" from the ... menu
3. There's a follow button in the template editor

## Expected behavior

Should not show a follow button in the template editor

## Screenshots

<img width="1005" alt="Screen Shot 2022-02-03 at 12 50 26 PM" src="https://user-images.githubusercontent.com/46905241/152426675-8ee151de-aa00-4075-b4df

[2022-02-03 20:54] chenilim commented on #2250
@wuwinson and @asaadmahmood - do you agree we should not show the Follow button for templates? cc @wiggin77.

[2022-02-03 20:55] wiggin77 commented on #2250
I agree.

[2022-02-03 20:58] devinbinnie commented on #2027
So, I was able to fix an issue with subpath name navigation, however, I think there is still an issue affecting Boards only that cannot be resolved on the Desktop App.

I have a PR with my changes to the Desktop App here with builds you can test with: https://github.com/mattermost/desktop/pull/1993

@chenilim Who would be best to look into this?

[2022-02-03 21:06] sbishel opened #2251 "Bug: Error starting plugin - server version mismatched"
## Steps to reproduce the behavior

The Channel Intro PR did not get committed in time for Mattermost v6.4.

Therefore, the PR for the changes in Focalboard will need to be reverted.

[2022-02-03 21:10] chenilim commented on #2027
Thanks @devinbinnie. @jespino, can you help investigate from our end? cc @sbishel.

[2022-02-04 08:05] asaadmahmood commented on #2250
@wiggin77 Agreed.

[2022-02-04 08:06] asaadmahmood commented on #2249
It's easy @chenilim

[2022-02-04 14:30] ogi-m opened #2257 "Bug: Reordering columns in table view doesn't update calculations row"
## Steps to reproduce the behavior

1. Create a board and add a table view
2. Create a few cards and create a number property and a text property and fill it in on a few cards
3. Hover over the "Calculate" option below the column with number property and select one of the number calculations, for example "Sum"
4. Now switch places for the two columns
5. Observe the calculations row doesn't update

[2022-02-04 14:38] ogi-m opened #2258 "Bug: Unable to activate date picker in table view"
## Steps to reproduce the behavior

1. Create a board with several cards
2. Add a date property
3. Add a table view
4. Click on the fields in the Date column - nothing happens

## Expected behavior

The date picker should pop up

## Screenshots

https://user-images.githubusercontent.com/15314183/152547485-c75d1467-15a0-4fb2-9363-1295cd6b9bfb.mp4

## Edition and Platform

 - Edition: Personal Deskt

[2022-02-04 15:33] wuwinson commented on #2250
Agree as well.

[2022-02-04 15:51] ogi-m commented on #2257
Regression in v0.12, it's working as expected on v0.11

[2022-02-04 15:51] ogi-m commented on #2257
Regression in v0.12, it's working as expected on v0.11

cc @chenilim @wuwinson @sbishel

[2022-02-04 17:32] wiggin77 commented on #2248
@chenilim, just want to confirm that we'll only show the button for plugin, correct?

[2022-02-04 17:42] chenilim commented on #2248
Yup @wiggin77: We should only show the Follow button for the plugin (and not Personal Desktop or Personal Server, where the button doesn't work). Thanks.

I don't believe this affects Notifications, so it should be a matter of adding a condition to displaying the button.

[2022-02-04 19:40] chenilim commented on #2258
Thanks @ogi-m. Hmmm... not sure if this worked before (also repros for me on v0.12 on community). @sbishel, do you know if this is a regression? In any case, this should work, but I think it can be post v0.14 if needed. Workaround is to open the card and edit the property there. We can discuss at the next triage meeting. cc @wuwinson.

[2022-02-04 19:41] chenilim commented on #2249
Thanks @asaadmahmood. Assigning to you to fix. Please reassign if needed. Thanks. cc @wuwinson, @sbishel.

[2022-02-04 19:43] chenilim commented on #2215
@ogi-m, does this repro for you (v0.12 and v0.14)? cc @jespino - appears to be a blocking issue on the Linux app.

[2022-02-04 22:03] #2239 closed

[2022-02-04 22:10] #2063 closed

[2022-02-04 22:12] #2244 closed

[2022-02-04 22:37] sbishel commented on #2258
Yep. I'm pretty sure it is a regression. But not sure when it last worked, probably CSS change somewhere.

[2022-02-04 22:55] sbishel commented on #2258
I had to go back to v0.9.0 before I found a working version, so its been this way a while.

[2022-02-04 22:59] tennox commented on #2215
Hm :thinking: I can't reproduce it anymore. Sorry, no idea what I changed (did a lot of OS changes the last days).

Unless I or someone else encounteres this again I'd proclaim:
/close

[2022-02-04 22:59] #2215 closed

[2022-02-05 15:48] Avlyssna commented on #1423
This would be a nice feature to have; seconded!

[2022-02-05 19:08] TeaOfTheSea opened #2269 "Bug: 502 Bad Gateway on Personal Server (Ubuntu)"
## Steps to reproduce the behavior

visit https://focalboard.my.domain

## Expected behavior

The page is successfully loaded.

## Edition and Platform

 - Edition: Personal Server
 - Version: 0.9.2
 - Browser and OS: Any and all.

## Additional context

When I installed the Focalboard personal server, I created a mariadb database instead of using mysql, as I was already using mariadb for nextclou

[2022-02-07 02:37] Moilleadoir commented on #2215
I have this same issue.  Was using v. 0.6 a while back and tried 0.12.1 yesterday.  Crashes/freezes as soon as you try to look at a card.

Just tried 0.14.0 with same result.

Manjaro Linux
Cinnamon Desktop

[2022-02-07 08:10] lindy65 opened #2270 "Bug: AWS Desktop App - Not able to create a board"
## Steps to reproduce the behavior

Reproduces in Rainforest on macOS and Win10 and locally in Win10 (I don't have a mac)

1. Download the desktop app from either of these links, install and add the community server:
    - macOS : https://mattermost-desktop-daily-builds.s3.amazonaws.com/macos/mattermost-desktop-daily-develop-mac-universal.dmg
    - Win10 : https://mattermost-desktop-daily-builds.s

[2022-02-07 08:33] moschlar commented on #2125
We are seeing this too (Plugin 0.12.1 in Mattermost Server 5.2.1), regardless of any CSS change.

Browser Console *and* Server Log correctly show that a card movement occured, but the view of the browser where this occured does not update (refreshing the page shows the change then).

[2022-02-07 08:35] moschlar commented on #1866
Is this probably similar to #2125?

[2022-02-07 11:17] vbardelli commented on #2197
Sorry for the late on my answer.

See the two attached screenshots:

- before the view>reload

- after view>reload

I use mattermost in gitlab omnibus:

- you can see version of focalboard in the screenshots (0.11.0 BETA);

- client for linux (lxle) version 5.0.2;

- mattermost version 6.2.1;

Regards, Valerio

On 31/01/22 21:28, Chen-I Lim wrote:

[2022-02-07 14:05] cyphersprojekt opened #2273 "Bug: Tildes/Accent marks on task's comments don't work"
## Steps to reproduce the behavior

1. Go to any task you've created / create a new one
2. Select  add a comment
3. Write anything that contains a tilde/accent mark (á, é, í, ó, ú)
4. That character disappears and the pointer goes back to the start of the text

## Expected behavior
Should be able to write with accent marks.
This issue doesn't happen on other text-boxes, like the description of the

[2022-02-07 14:29] mlang38 commented on #685
For me, I've run the Docker version with SQLite db. A while ago I couldn't log in again. I've kept the _focalboard.db_ in a volume. I've pulled new version of the image. But impossible to log in again. By the time I've perhaps forgot my password, but I've tried all the passwords I usually use.
Is there a way for me to change or remove my password directly in the _users_ table in the database ?

[2022-02-07 15:41] #2250 closed

[2022-02-07 16:04] RillonDodgers commented on #2197
How did you get focalboard to work with gitlab omnibus @vbardelli? I cant get a board to show up after clicking on the icon next to the playbook buttons.

[2022-02-07 16:16] sbishel commented on #2258
I found the issue and have a fix. The fix is pretty specific, but I really don't want to take a CSS change at this point. It has been this way for the past 3 releases with no complaints.

[2022-02-07 16:18] sbishel commented on #2257
@chenilim, @wuwinson I have a fix for this issue, I don't think there is a work-around, so we may want to take this one.

[2022-02-07 16:53] wuwinson opened #2275 "Bug: Template selector > Preview displaying the wrong view"
## Steps to reproduce the behavior

1. Open the template selector
2. Hover over standard templates
3. All the standard templates starting from the 3rd (Personal Goals) to the last (Welcome to Boards) are not previewing the first view for the template

## Expected behavior

The first view of each template provides the most relevant context to the user, so the preview should display the first view i

[2022-02-07 16:54] sbishel opened #2276 "Bug: Self correct plugin after server reboot"
## Steps to reproduce the behavior

1. Go to local Focalboard plugin and login.
2. Restart Mattermost Server
3. Client will be redirected to Error Page.
4.

## Expected behavior

When the server reboots (e.g. if a plugin crashes), this causes open Boards clients to show an error page - we should decide if we want to improve this, e.g. self-correct

See https://github.com/mattermost/focalboard/issu

[2022-02-07 16:57] sbishel opened #2277 "Bug: Clean up log files after a plugin crashes."
## Steps to reproduce the behavior

1. Go to local Focalboard plugin and login.
2. Disable mattermost plugin.
3. Client will be redirected to Error Page.

## Expected behavior

When a plugin crashes, there are "false-positive" error logs - we should clean these up

See https://github.com/mattermost/focalboard/issues/1903 for more details.

[2022-02-07 17:00] sbishel commented on #1903
This issue should address issue #1 above.
Added issues for 2 (#2276 ) and 3 (#2277)

[2022-02-07 17:35] chenilim commented on #2257
Thanks @sbishel! Yup agree. Took a look at the PR, and I think this is good to CP for v0.14.

[2022-02-07 17:47] wiggin77 commented on #1903
Regarding websocket disconnection over time, I think this is due to https://mattermost.atlassian.net/browse/MM-36932 since we use the same websocket as channels.  I think the difference is that FB errors to the login screen when websocket is disconnected and retries exhausted whereas channels doesn't.

[2022-02-07 19:09] wuwinson commented on #2275
We want to show the first view as sorted alphabetically, same as the sidebar.

[2022-02-07 19:13] chenilim commented on #2249
Are you on track to fix this for v0.14 @asaadmahmood? Thanks.

[2022-02-07 19:31] wuwinson commented on #2270
@devinbinnie Can you take a look into this? Looks like it might be related to the desktop build. Thanks! cc @sbishel @chenilim

[2022-02-07 19:49] wuwinson commented on #2214
Retested in our Feb bugbash server v0.14RC1 and it appears fixed.

[2022-02-07 19:49] #2214 closed

[2022-02-07 19:50] wuwinson commented on #2212
@asaadmahmood What color should this be after the link is clicked?

[2022-02-07 19:53] wuwinson commented on #2197
@vbardelli Sorry we can't see the screenshots. Do you mind re-attaching them? Thanks!

@RillonDodgers Can you add more details and screenshots of your issue? May need to file a separate ticket for yours. Thanks!

[2022-02-07 19:56] chenilim commented on #2125
@moschlar, could you try updating Mattermost Server to 6.3? There was an issue resolved there, and a workaround for earlier versions (to set the `EnableReliableWebsockets` flag. See [this note](https://github.com/mattermost/focalboard/discussions/1971) for more details. Thanks!

[2022-02-07 19:57] wuwinson commented on #2089
Closing for now, please re-open or file a new ticket if anyone else if facing this issue. Thanks!

[2022-02-07 19:57] #2089 closed

[2022-02-07 20:01] wuwinson commented on #1228
Thoughts on this @asaadmahmood? Think this is a nice-to-have, but low priority. Might be other considerations as we evolve the UI.

[2022-02-07 20:21] asaadmahmood commented on #2249
@chenilim PR submitted:
https://github.com/mattermost/focalboard/pull/2279

[2022-02-07 20:21] asaadmahmood commented on #2237
This is as expected, not a bug.

[2022-02-07 20:21] #2237 closed

[2022-02-07 20:29] amyblais opened #2281 "Bug: Unable to add/view a description for boards"
For example, in the Product Management channel, there is a board for PM meeting agenda. https://community-daily.mattermost.com/boards/workspace/xu5h1df38bf35jtmskz6z53qno/caff565e-3172-467f-89fd-6670cfdd454c/e678f17f-bb3e-443e-8a08-17b76ae13390.
<img width="605" alt="Screenshot at Feb 07 15-27-54" src="https://user-images.githubusercontent.com/29708087/152866581-8d0bdd7a-ee44-4ef2-9f93-af66ecdf04e

[2022-02-07 22:41] ogi-m opened #2282 "Bug: Personal Desktop > User can edit and delete default templates"
## Steps to reproduce the behavior

1. Create a new Board template in Personal Desktop
2. Hover over the default templates
3. Delete and edit buttons appear on hover

## Expected behavior

Delete and edit buttons don't appear on hover

## Screenshots

![Screenshot (168)](https://user-images.githubusercontent.com/15314183/152884359-4c162b5a-41db-4394-8310-19eea1e8f3f5.png)

## Edition and Platform

[2022-02-07 22:42] ogi-m commented on #2245
This is fixed by https://github.com/mattermost/focalboard/pull/2221#pullrequestreview-875320189, but I'm now seeing a new issue on Personal Desktop:

https://github.com/mattermost/focalboard/issues/2282

[2022-02-07 22:42] #2245 closed

[2022-02-07 22:59] chenilim commented on #2282
Thanks @ogi-m! Sounds like this may have been caused by the fix for https://github.com/mattermost/focalboard/issues/2245, @jespino? cc @wuwinson, @sbishel.

[2022-02-07 23:01] chenilim commented on #2281
Thanks @amyblais! I was able to show the description by hovering above the title and selecting "Show description". Does this work for you?

<img width="441" alt="Screen Shot 2022-02-07 at 3 00 07 PM" src="https://user-images.githubusercontent.com/46905241/152886662-2af8b2f6-d9ec-4034-af5d-ee140f399f0b.png">

[2022-02-07 23:04] #2246 closed

[2022-02-07 23:29] amyblais commented on #2281
Thanks! I didn't see that button until I hovered above the title.

[2022-02-07 23:29] #2281 closed

[2022-02-08 00:31] TeaOfTheSea commented on #2269
@wuwinson Updated.
Error text appears to be the same.
`2022/02/08 00:29:01 readConfigFile
2022/02/08 00:29:01 {ServerRoot:http://localhost:8000 Port:8000 DBType:mysql DBConfigString:boardsuser:dceRg&SnM6l%Oxo48@1VXas^Y4xC2l36@tcp(127.0.0.1:3306)/boards DBTablePrefix: UseSSL:false SecureCookie:false WebPath:./pack FilesDriver:local FilesS3Config:{AccessKeyID: SecretAccessKey: Bucket: PathPrefix: Re

[2022-02-08 04:26] harshilsharma63 commented on #2270
I can confirm that this works fine on the latest official Mac desktop app available at https://mattermost.com/download/

[2022-02-08 08:03] moschlar commented on #2125
@chenilim Thanks for your response - I can't easily update the Server since we're using the bundled version in GitLab Omnibus - but I activated that flag in the config and that seems to have worked for now!

For anyone else experiencing this under the same circumstances, add this to `/etc/gitlab/gitlab.rb`:
[code]

[2022-02-08 08:09] vbardelli commented on #2197
Chose a channel, click on the button with "target", at the right of the
header, then I click on the "+" in the left panel, just at the side of
the channel name, then I reach board templates.

Valerio

On 07/02/22 17:04, RillonDodgers wrote:

[2022-02-08 08:51] vbardelli commented on #2197
before

after

On 07/02/22 20:53, Winson Wu wrote:

[2022-02-08 13:49] TimVosch opened #2289 "Feature Idea: Timeline view rendering cards over datespans"
## Summary

A view which shows the date span of cards on a timeline. Allows card creation, date adjustment, removing cards and grouping.

I worked last night on a simple implementation using Vis-Timeline.
![Peek 2022-02-08 14-26](https://user-images.githubusercontent.com/2981426/152997823-babee5d9-2d43-4d30-82af-44db32e92933.gif)

See: https://github.com/senwize/focalboard/tree/feature/timeline

~

[2022-02-08 17:09] #2236 closed

[2022-02-08 17:09] #2249 closed

[2022-02-08 17:44] #2251 closed

[2022-02-08 18:18] chenilim commented on #2178
After synching with Ben Pearson, GitHub pages looks to be the best place to put the dev docs. I've created a PR to set this up. We can remove and re-point the old docs once this is up and running, and continue to update the contributors guide in the [/docs folder](https://github.com/mattermost/focalboard/tree/main/docs).

[2022-02-08 19:08] devinbinnie commented on #2270
@wuwinson Submitted a fix for the above issue. Please note that the original issue that caused this will still need some works from the Boards team to accommodate the changes.

[2022-02-08 20:20] #2270 closed

[2022-02-08 20:46] wiggin77 commented on #282
@chenilim , I think this is completed (except for the recent mentions tab).

[2022-02-08 21:44] #2275 closed

[2022-02-08 21:45] wuwinson commented on #2270
Thanks @devinbinnie!

[2022-02-08 21:46] #2178 closed

[2022-02-08 23:11] lpadula commented on #1982
Same here, time tracking features like Youtrack are a must have for agile teams.

[2022-02-09 00:37] rodolf0 opened #2300 "Bug: sqlite database frequently locked"
## Steps to reproduce the behavior

While trying to use the Personal hosted Server version, I frequently get an error about the database being locked. This happens "very" frequently, like every 5 interactions with the GUI. It doesn't happen at all using the same Desktop version (0.12.1).

Log extract:
[code]
A slightly larger extract here: [focal.log](https://github.com/mattermost/focalboard/files

[2022-02-09 06:24] allahcurse commented on #2150
Yeah, we are a team of 4 departaments, with non related tasks with 1 manager over all four deps. Inability for the manager to view all is the only thing thats stopping us from switching over to boards

[2022-02-09 14:36] #2216 closed

[2022-02-09 18:12] chenilim commented on #1962
May also be related to voting: https://github.com/mattermost/focalboard/issues/446

[2022-02-09 18:53] ogi-m opened #2305 "Bug: Template selector > Edit & Delete button icon alignment is off"
## Steps to reproduce the behavior

1. Go to the template selector
2. Hover over a custom template
3. Note the icon alignment for Edit and Delete buttons is off

## Expected behavior

Icons should be aligned

## Screenshots

![Screenshot (169)](https://user-images.githubusercontent.com/15314183/153270071-646a3a30-5b91-40bb-a765-3efea08e2142.png)

## Edition and Platform

 - Edition: Mattermost plu

[2022-02-09 21:14] chenilim opened #2306 "Bug: Import scripts missing `ArchiveUtils.ts`"
## Steps to reproduce the behavior

1. Try to build / run an import script (e.g. Trello)
2. Fails because `ArchiveUtils.ts` is missing

## Expected behavior

Import scripts work

## Edition and Platform

 - Edition: N/A
 - Version: 0.14
 - Browser and OS: N/A

## Additional context

`ArchiveUtils.ts` was removed when the archive format changed. Propose adding it back to each import script for now.

[2022-02-09 22:27] chenilim opened #2307 "Bug: Errors in browser console when using certain board templates"
## Steps to reproduce the behavior

1. Open the browser console (Cmd+Opt+I in Chrome)
2. Create a board from the "Welcome to Boards" template
3. See errors:
[code]

Similar errors for other templates (Content Calendar, Meeting Agenda, and maybe others).

## Expected behavior

No errors in the console.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.14 RC3
 - Browser and OS:

[2022-02-09 23:21] ogi-m opened #2308 "Bug: Template Selector > Edit and Delete buttons not visible on Personal Server"
## Steps to reproduce the behavior

1. Go to the template selector
2. Select "+New Template"
3. Create a custom template
4. Return to template selector
5. Move the cursor over the template title - Edit and Delete buttons don't show up

## Expected behavior

Edit and Delete buttons should be visible

## Screenshots

![SharedScreenshot](https://user-images.githubusercontent.com/15314183/153306998-93

[2022-02-09 23:58] B1773rm4n opened #2309 "Feature Idea: Option to disable telemetry"
## Summary

According to [Hacker News](https://news.ycombinator.com/item?id=30020630) you implement telemetry

You don't seem to let the user know that you track them

It should be an option to disable in the (seemingly non existent) settings panel

Why this option wasn't created when the telemetry was implemented?

[2022-02-09 23:59] B1773rm4n opened #2310 "Doc: Is there any privacy statement?"
I am not sure whose countries laws are being followed here but in a lot of jurisdictions (europe for example) it is necessary to have basic legal imprints on the website. Part of this is a privacy statement

It looks shady to have none of that on the official website.

How is the status and stance on this topic?

[2022-02-09 23:59] B1773rm4n commented on #2309
Related to https://github.com/mattermost/focalboard/issues/2310

[2022-02-09 23:59] B1773rm4n commented on #2310
Related to https://github.com/mattermost/focalboard/issues/2309

[2022-02-10 00:53] chenilim commented on #2308
Is this on 0.14 RC3? Does this also repro on Personal Desktop? If so, it might be a dup of https://github.com/mattermost/focalboard/issues/2245, which was marked fixed.

[2022-02-10 00:56] chenilim commented on #2308
Just tried this, and it doesn't repro on Personal Desktop Mac with 0.14 RC3. So, this might be Personal Server only - which is unusual. cc @jespino.

[2022-02-10 00:58] chenilim commented on #2307
@wiggin77, this might indicate an issue with some of the template archives. I don't think it's a priority for 0.14, but might be worth a quick look to make sure there are no unintended impacts. cc @wuwinson.

[2022-02-10 15:31] wuwinson opened #2311 "Bug: Card sort on selected board differs from the template"
## Steps to reproduce the behavior

1. Go to template picker
2. Click on the Welcome board
3. See the sort order of the cards in the preview
4. Click on "Use this template" button
5. View the sort order of the cards in the Welcome board
6. Occurs on other standard templates as well.

## Expected behavior

Cards should display in the same order as the template preview, but are displaying in alphabe

[2022-02-10 15:34] chenilim opened #2312 "Feature Idea: Default Docker install should use Postgres"
## Summary

The Docker install of Personal Server currently uses SQLite by default, which has scalability issues beyond a single-user, e.g. https://github.com/mattermost/focalboard/issues/2300. We should update the dockerfile to deploy Postgres instead.

## How important this is to me and why

Importance: High

## Additional context/similar features

Refer to mattermost-server for a similar deploy

[2022-02-10 17:18] #2309 closed

[2022-02-10 17:19] ogi-m commented on #2308
Can't repro anymore.

[2022-02-10 17:19] #2308 closed

[2022-02-11 00:32] chenilim opened #2315 "Perf: Drag and drop cards in Kanban board view shows intermediate sort state"
## Steps to reproduce the behavior

1. Open a board (Kanban) view
2. Drag a card onto another card in a column with multiple (5+) cards
3. The card first appears at the beginning or end, then moves to the right position a split second later

## Expected behavior

The card should move directly to the dropped position

## Screenshots
https://user-images.githubusercontent.com/46905241/153519856-3a0fd

[2022-02-11 08:31] Chr1st14n-LL opened #2316 "Mentioning in Boards Plugin doesn´t work properly"
Summary

If i try to mention a user with "@user" on a card the notification doesn´t arrive.

Steps to reproduce

OnPremise Server Debian 9, Mattermost Server 6.3.2 , Client 5.0.2 + 5.0.3

Mentioning in the Channel is working. But not in Boards. Users are both in one Team and the same Channel.

Observed behavior (that appears unintentional)

{"timestamp":"2022-02-10 15:57:50.332 +01:00","level":"er

[2022-02-11 16:54] chenilim commented on #2316
Thanks @Chr1st14n-LL! This looks like a dup of https://github.com/mattermost/focalboard/issues/2123. Do the suggested steps there work for you? i.e.:

cc @wiggin77 - should we / can we make code changes on our end to prevent more users encountering this? Also, what specifically should we document in the meantime? Thanks. cc @wuwinson.

[2022-02-11 17:03] josh-hemphill opened #2319 "Feature Idea: Register the windows version with `winget`"
## Summary

`winget` or the Window Package Manager is now shipping with windows by default. Since focalboard is already listed with the microsoft store, I believe the winget package file can reuse that as a source.

## How important this is to me and why

Importance: Low

Use cases:
1. Know that you're installing it from the official namespaced source
2. install or upgrade to specific versions
3.

[2022-02-11 17:06] wiggin77 commented on #2316
We do programmatically create the bot account.  That's why it works for our test environments without having to manually create the account.  However, people who have reported this seem to have Bots disabled.  When the bot creation fails it does put an error in the logs.  We may need to highlight that bots must be enabled in docs/release notes.  We could also have a error message displayed in weba

[2022-02-11 17:21] Chr1st14n-LL commented on #2316
Hey guys, sorry for not finding #2123 ...the solution worked for me either. Thanks.

FYI... my Bot Accounts where already enabled but the Bot was not a Member of the Team. Maybe it helps you to know that sometimes a notification came with 3-5 min. delay. Maybe 1 of 10 attempts. Also it looked a bit different as now:

yesterday....Bot enabled but not Member of the Team....3-5 min. delay
![grafik](h

[2022-02-11 18:32] josh-hemphill commented on #340
Yep, I'd be fine having it just generate like an unfurled link. Right now I can't even link to cards in another board right now on desktop. I've got lots of mini-projects that don't make sense to have a board for each, so I have board to track the projects and board of tasks, that I'd love to be able to have link to their respective projects; so defining a property type as a lookup of the other bo

[2022-02-11 18:53] #2120 closed

[2022-02-11 19:06] chenilim opened #2322 "UX: Allow rows to be deleted in table view"
## Summary

Currently, users cannot delete cards (rows) in the table view. The workaround is to open the card, select the ... menu, then select "delete".

Propose: Add a delete button on hover to each row (e.g. in the left margin). Additional options could be added to a sub-menu, similar to the card menu, or the ... menu in the Kanban board card (duplicate, and copy link).

## How important this i

[2022-02-11 19:08] chenilim opened #2323 "UX: Let users easily undo / remove auto-added table rows"
## Summary

Repro:
1. Edit the title of the last row in a table view
2. Press Enter
3. A new row is added
4. But there is no way to easily undo / delete it if it was unintended

Propose:
Pressing Escape or Enter with an empty title should remove the row.

## How important this is to me and why

Importance: Medium

[2022-02-11 19:08] chenilim opened #4849 "UX: Let users easily undo / remove auto-added table rows"
## Summary

Repro:
1. Edit the title of the last row in a table view
2. Press Enter
3. A new row is added
4. But there is no way to easily undo / delete it if it was unintended

Propose:
Pressing Escape or Enter on an auto-added card with an empty title should remove the row.

## How important this is to me and why

Importance: Medium

[2022-02-11 19:10] chenilim opened #2324 "UX: Add ... menu to cards in Calendar view"
## Summary

Cards shown in the Calendar view should have a ... menu on hover similar to the Kanban and Gallery view, with the same options (delete, duplicate, copy link).

## How important this is to me and why

Importance: Medium

[2022-02-11 20:43] chenilim opened #2325 "Bug: Markdown renders headers indented if immediately following a list"
## Steps to reproduce the behavior

1. Open a card and edit its description
2. Paste in the following markdown:
[code]
3. The first header (and following text) is indented

## Expected behavior

Headers and text should not be indented, even if immediately following a list

## Screenshots

<img width="507" alt="Header indent" src="https://user-images.githubusercontent.com/46905241/153667315-936f871

[2022-02-12 16:04] Genei180 commented on #2115
For the Case, Anyone Wonders how exactly the Flag should be Added to the Dockerfile:
Instead of:
`RUN npm install --no-optional && \
    npm run pack`

 It should look like this:
 `RUN CPPFLAGS="-DPNG_ARM_NEON_OPT=0" npm install --no-optional && \
    npm run pack`

 I might Deploy it as Temporary Fix in: https://github.com/mattermost/focalboard/pull/1700

 Thanks, @YC, for Figuring it out :)

[2022-02-12 21:08] Dinock opened #2326 "Bug: unknown location of exported archive"
## Steps to reproduce the behavior

1. Go to ... settings
2. Select  ... export archive
3. See error: There is no prompt or dialogue which offers the opportunity to export the archive to a specific location.

## Expected behavior
I would expect a dialogue to open which would make it possible to export the archive at a location chosen by the user. Therefore it is not clear where the archive has bee

[2022-02-13 20:40] asad-awadia opened #2327 "Doc: Assign to person - no option"
## Summary

How do I add a person property to a card?

There is no way to type anything or add anything here

<img width="477" alt="focalboard" src="https://user-images.githubusercontent.com/6923282/153774059-991b9565-d5f1-42dd-8350-2914a0274798.png">

[2022-02-13 20:41] asad-awadia commented on #2327
@chenilim

[2022-02-14 07:41] bbodenmiller commented on #1866
You may try setting `EnableReliableWebSockets` to `true` which fixed a number of issues that sound similar.

[2022-02-14 07:48] mgoldchild opened #2328 "Bug: Modal window doesn't have background color"
## Steps to reproduce the behavior

1. Go to Calendar View (month mode)
2. Create multiple items at the same day
3. Click more button
4. See the error following

## Expected behavior

Background is not transparent.

## Screenshots

![Screenshot_20220214_163830](https://user-images.githubusercontent.com/8959761/153821411-36533a9a-764b-4fae-9a2c-38f0c52fda78.png)

## Edition and Platform

 - Edition

[2022-02-14 08:03] bbodenmiller commented on #1657
https://github.com/mattermost/focalboard/pull/1758 isn't really sufficient, I open MR to add to important upgrade notes for Mattermost: https://github.com/mattermost/docs/pull/5417

[2022-02-14 08:27] SaQQ commented on #1866
Yeah, it looks the same.

It worked! Boards behave correctly right now. I can move and change cards without reloading the page.

However, after changing the configuration and restarting the server logs still contain some focalboard errors:

[code]

[2022-02-14 14:05] justinegeffen commented on #1957
Thanks, @chenilim!

The first link provided has now been deprecated in favor of: https://mattermost.github.io/focalboard/ (which looks awesome!) and has this section: https://mattermost.github.io/focalboard/dev-tips.html. Would you say that meets the criteria for a guide?

One thing we can add is a link/sentence about how to edit the content as it's not immediately clear that the user needs to nav

[2022-02-14 15:38] #2306 closed

[2022-02-14 16:58] chenilim opened #2329 "Bug: Double vertical scroll bar, and no horizontal scroll bar"
## Steps to reproduce the behavior

1. Open a large board (e.g. our team features by release)
2. Notice double vertical scroll bars, and no horizontal scroll bar

## Expected behavior

Should be one vertical and one horizontal scroll bar (if needed).

## Screenshots

<img width="1514" alt="double scroll" src="https://user-images.githubusercontent.com/46905241/153910052-61ad4ae9-a6dd-43d5-a4ef-485e

[2022-02-14 17:00] chenilim opened #2330 "Bug: Template preview buttons cropped on narrow windows"
## Steps to reproduce the behavior

1. Select "Add board" (+) button
2. Resize the window to be narrow
3. Buttons are cropped

## Expected behavior

Buttons should always be visible (re-arrange / layout if needed)

## Screenshots

<img width="763" alt="Narrow preview" src="https://user-images.githubusercontent.com/46905241/153910493-f6ff7768-4325-460e-9a7f-bce027ef6439.png">

## Edition and Platfo

[2022-02-14 17:04] chenilim opened #2331 "Bug: Board and view remain selected in sidebar when adding board"
## Steps to reproduce the behavior

1. Open a view in a board
2. Select "add board" (+) button
3. The view is still selected in the sidebar
4. Selecting the (selected) view does not return to it

## Expected behavior

Board and view is unselected when adding a board. Or, at a minimum, clicking on the selected view should return to it.

## Screenshots

<img width="689" alt="board selection" src="ht

[2022-02-14 18:01] chenilim commented on #2331
Actually, clicking on the X at the top right will close the template selector, returning to the view. Maybe pressing Esc should close it too?

[2022-02-14 19:10] wuwinson commented on #2331
Clicking on the view or board should dismiss the dialog.

[2022-02-14 19:11] wuwinson commented on #2330
@asaadmahmood Any thoughts on how to address this? Thanks!

[2022-02-14 19:12] asaadmahmood commented on #2330
@wuwinson We can stack the buttons vertically.

[2022-02-14 19:15] wuwinson commented on #2329
Looks fixed on community-daily. Closing out.

[2022-02-14 19:15] #2329 closed

[2022-02-14 19:22] wuwinson commented on #2327
@asad-awadia Person property is only available with Personal Server and Plugin Boards. @justinegeffen Can we please update the docs to reflect this?

https://www.focalboard.com/guide/user/#editing-cards

[2022-02-14 19:27] asad-awadia commented on #2327
@wuwinson wdym personal server? Like self hosted?

[2022-02-14 19:29] wuwinson commented on #2326
Looks to be happening on the latest Personal Desktop version.

[2022-02-14 19:33] wuwinson commented on #2319
Thanks for the suggestion @josh-hemphill! Does anyone have experience with `winget` who can help register Focalboard there?

[2022-02-14 20:05] wuwinson commented on #2300
@ogi-m Can you see if you can repro this? Thanks! cc @chenilim @sbishel

[2022-02-14 20:08] chenilim commented on #2300
Thanks @rodolf0! Could you also check:
1. The version of SQLite running? `sqlite3 -version`
2. Does this repro on a new database / install (e.g. delete / move `focalboard.db` and restart)?

Thanks.

[2022-02-14 20:35] justinegeffen commented on #2327
Thanks, @wuwinson, I've added a note to the docs for this. @asad-awadia, the personal server version is a single-user, standalone, app. The Focalboard [landing page](https://www.focalboard.com/) has a good explanation of what @wuwinson has mentioned.

[2022-02-14 20:55] #1491 closed

[2022-02-14 21:14] josh-hemphill commented on #2319
Looking more into the codebase for Mattermost Desktop, it looks like the Winget manifest is manually maintained outside the codebase.
It seems the best way of creating the manifest is using (winget-create)[https://github.com/microsoft/winget-create], but it has to be run in a windows container in CI, which is holding up the creation of a github action to take care of it. So a lot of other people a

[2022-02-14 21:59] chenilim opened #2333 "Bug: Export archive doesn't work on Mac Personal Desktop"
## Steps to reproduce the behavior

1. Open Personal Desktop 0.14.0
2. Open a Board
3. Select "Export board archive" from the board menu
4. Or select "Export archive" from the bottom left settings menu
5. Nothing happens

## Expected behavior

The archive can be downloaded

## Edition and Platform

 - Edition: Personal Desktop Mac
 - Version: v0.14.0
 - Browser and OS: macOS 11.6.2

[2022-02-14 22:07] chenilim commented on #2326
Followup: I filed a separate issue for export not working on Mac Personal Desktop (#2333), but I believe that is unrelated to this issue - it sounds like export is working on Linux Personal Desktop, but the user is unable to select a location. Is that right @Dinock? You had also mentioned "Firefox 97", but that should not be related right?

[2022-02-14 22:07] chenilim commented on #2333
Note: This bug does not repro for me on Windows (just macOS).

[2022-02-14 22:09] wuwinson opened #2335 "Bug: Board archives don't respect card sort orders"
## Steps to reproduce the behavior

1. Select Welcome Board from template picker
2. Rearrange cards under "TO DO" column to:
  - Create a new card
  - Manage tasks with cards
  - Create your own board
3. Export board archive from the "..." menu button
4. Go to another workspace and import the board

## Expected behavior

Cards from the imported board are sorted in alphabetical order and not the or

[2022-02-14 22:11] wuwinson commented on #2335
Related to https://github.com/mattermost/focalboard/issues/2311. @wiggin77 This one impacts the onboarding experience for growth. PRs need to be merged by Thursday. cc @chenilim @sbishel

[2022-02-14 22:17] wuwinson commented on #2327
Thanks @justinegeffen! Just to clarify @asad-awadia, the [Personal Desktop edition](https://www.focalboard.com/download/personal-edition/desktop/) only supports a single user, so no users appear on the person property.

Our [Personal Server](https://www.focalboard.com/download/personal-edition/ubuntu/) and [Mattermost Boards Plugin](https://www.focalboard.com/download/mattermost/latest-plugin/) bo

[2022-02-14 23:05] chenilim opened #2336 "Feature Idea: Form input to create (intake) cards"
## Summary

Publish a form for users to create cards, based on the fields in the card template. Essentially a streamlined way to create new cards ("write-only").

Advanced features could include auto-assigning, or running scripts based on the input fields.

## How important this is to me and why

Importance: Medium

Use cases:
1. IT Helpdesk
2. Feature suggestion form
3. Bug reports

## Additional

[2022-02-14 23:11] chenilim opened #2337 "Bug: Hide (non-useful) copy card link in Personal Desktop"
## Steps to reproduce the behavior

1. Open a card
2. Select  the card menu (...)
3. There's an option to copy card link
4. However, copying the link and pasting it into a browser doesn't work

## Expected behavior

Don't show the copy card link in Personal Desktop

## Screenshots

<img width="316" alt="Screen Shot 2022-02-14 at 3 09 52 PM" src="https://user-images.githubusercontent.com/46905241/1

[2022-02-14 23:20] asad-awadia commented on #2327
@wuwinson Ok I get it

I just tried running via docker and can add assignee - which is great!

But why can I only filter by status and priority?

[2022-02-14 23:43] chenilim commented on #2333
@wuwinson and @sbishel, I'd like to take this for the Mac App build for 0.14, unless you see any issues. The code change is Mac-only. We could bump the version to 0.14.1 on the release branch to be consistent. cc @ogi-m.

[2022-02-15 00:01] sbishel commented on #2328
I could not duplicate with v0.14.0, nor the main branch. @mgoldchild, please reopen if you see it once v0.14 is released this week.

[2022-02-15 00:01] #2328 closed

[2022-02-15 00:15] wiggin77 commented on #2335
Understood.

[2022-02-15 03:31] lotustalk opened #2341 "Feature Idea: Would you consider adding the attachment upload function?"
## Summary

What the new capability is.

In daily work, I can deal with various documents,therefore,i want to support attachment insertion in tasks

thinks!

## How important this is to me and why

Importance: High/Medium/Low

Use cases:
1.
2.
3.

## Additional context/similar features

Any examples of good implementations of this capability.

[2022-02-15 03:57] #2333 closed

[2022-02-15 06:16] Dinock commented on #2326
Yes, it does work and it is exported to the "downloads"-folder but one has to figure it out by guessing, because there is no prompt telling you.
Yes, this is unrelated. I just mentioned it because the GitHub-Issue-template asked for the version of my browser.

[2022-02-15 10:24] etctp1011 opened #2343 "Bug: Unable to enter Japanese text into comments field"
## Steps to reproduce the behavior

1. Open a card
2. Type **Japanese** text on comments field and press enter key.
3. After the submit button is displayed for a moment, the text is lost and the submit button is invisible. (please see the screenshot)

## Expected behavior

The text should be entered into comments field and should be able to submit.

## Screenshots

![screenshot](https://user-image

[2022-02-15 11:15] ccxuy opened #2344 "focalboard become slow when hundreds data inserted into the table"

[2022-02-15 11:16] ccxuy commented on #2344
Do we have a benchmark for performance?

[2022-02-15 14:54] wiggin77 commented on #2335
@wuwinson does this work as expected when duplicating a board?

[2022-02-15 14:56] wuwinson commented on #2335
@wiggin77 Nope, just tried and I'm running to the exact same issue when duplicating the board as well.

[2022-02-15 14:58] wiggin77 commented on #2335
That's what I suspected.  It's not a bug around import/export - this has been broken ever since the work around unique ids.

[2022-02-15 15:04] asad-awadia commented on #2327
Reports is not a feature yet right?

[2022-02-15 17:45] wuwinson commented on #2327
@asad-awadia Thanks again for your feedback! We've updated the docs to clarify the `PERSON` property in Personal Desktop. The changes will be published to [this section](https://docs.mattermost.com/boards/work-with-cards.html#work-with-property-types) in our Help Docs soon. We're also discussing options on making this experience clearer via some kind of messaging within the Focalboard app.

Our gr

[2022-02-15 17:45] #2327 closed

[2022-02-15 18:32] wuwinson commented on #347
Relevant feedback from this [thread](https://community.mattermost.com/core/pl/s4m3kj96mfn9te3mc38qcaszph) and [Input form idea](https://github.com/mattermost/focalboard/issues/2336) for an IT Help Desk use case:

[2022-02-15 20:20] chenilim opened #2346 "Build break: Windows app build failed on Windows 2022 GitHub image"
[Example run](https://github.com/mattermost/focalboard/runs/5203459175?check_suite_focus=true)

## Build error logs

[code]

## Additional context

Looks like some dependencies have changed in the Windows 2022 server image

[2022-02-15 21:26] #2346 closed

[2022-02-15 23:26] rodolf0 commented on #2300
I'm using the 0.12.1 docker image from [docker-hub](https://hub.docker.com/layers/mattermost/focalboard/0.12.1/images/sha256-91bd7e838227b52e77e80f137f885eb264a599acf809417d19a706a4109cd803?context=explore).

I feel this is somehow related to my NAS disks being slow (just cause I've experienced other sqlite locking errors for a different application). I've now switched to a different file-system a

[2022-02-16 04:53] kamre commented on #2300
@chenilim I regularly see such issues with **SQLite** database locks when testing locally with **in-memory** database. Just creating a board from the template and dragging cards from one column to another very often leads to this issue:
[code]

[2022-02-16 13:32] #1531 closed

[2022-02-16 14:59] amyblais opened #2350 "Update mattermost-server to pre-package Focalboard plugin v0.15"
Update [the makefile](https://github.com/mattermost/mattermost-server/blob/master/Makefile#L123) so that Focalboard v0.15 ships with Mattermost 6.5.

Note that this needs to be cherry picked to the appropriate branch for the release.

**Deadline: March 9th (6.5 Code Freeze)**

[2022-02-16 21:10] wiggin77 commented on #2277
The logs referenced in the linked issue are generated by the MM server's plugin layer.  The server cannot communicate with the plugin, because it crashed, and is reporting those errors.  Removing those log entries would remove them for crashes and communication errors for all plugins.

[2022-02-16 21:10] #2277 closed

[2022-02-17 10:48] josh-hemphill commented on #160
The web now has APIs for persistent file access, so I think an offline webapp could be perfect.
That's really the big hurdle for me right now, I'm dreading having to manage another server to self host, and I use the local desktop app on my computers. I would love to see the ability to have an offline only version hosted somewhere for people to install as webapps so I can just import from my deskto

[2022-02-18 02:04] jonathanspw commented on #103
+1 for LDAP/OpenID/something.  Hate to see this "only enterprise needs centralized logins" mentality.

[2022-02-18 16:20] alexanderadam opened #2355 "Feature Idea: automatic time based grouping views"
## Summary

It's related to dates but not quite to [the calendar view](https://github.com/mattermost/focalboard/issues/338).

I just stumbled [Timestripe](https://timestripe.com/) which is basically a Kanban board but each of the columns is grouping cards by a certain time.
For instance like this:

![grafik](https://user-images.githubusercontent.com/372620/154719045-ac0acc26-eefa-466f-bb2a-6713c72

[2022-02-18 17:54] sridhar02 commented on #2331
@wuwinson can I work on this ?

[2022-02-18 17:56] chenilim commented on #2331
You got it @sridhar02. Thanks!

[2022-02-18 19:11] chenilim opened #2356 "Permissions branch: Updating a text content block fails"
## Steps to reproduce the behavior

1. Open a card
2. Set a description (text content, e.g. to "text 1") - this works the fist time
3. Update the description (e.g. to "text 2")
4. Nothing happens, and errors in the console

## Expected behavior

Text content (description) can be updated

## Edition and Platform

 - Edition: Personal Desktop / Personal Server / Mattermost plugin
 - Version: permiss

[2022-02-19 17:27] alerque commented on #103
I don't think Mattermost is worried about realized losses in the form of FOSS users that slip through the cracks. They clearly don't want to open the door to loose any potential enterprise clients that can get by on the free feature set.

As a long-time contributor even back to the early days on Mattermost (and ongoing especially in the form of packaging for Linux distros) I find this quite disapp

[2022-02-19 21:18] alexanderadam commented on #103
Maybe I'm mistaken here but [Focalboard is also integrated in Mattermost since version v5.36](https://www.focalboard.com/blog/mattermost-focalboard-release/) and [Mattermost is able to use LDAP](https://docs.mattermost.com/onboard/ad-ldap.html)..
Thus most enterprise users will use Mattermost anyway and therefore have LDAP support already, right?

Therefore this feature is only about folks who wan

[2022-02-20 17:55] vish9812 commented on #1304
I'll take this one

[2022-02-20 18:11] vish9812 commented on #1304
Hi, I was testing the currently implemented GroupHide feature in TablesView.
But can't find the feature to Unhide the group again.
Is it a pending feature or a bug?

[2022-02-20 20:51] vish9812 commented on #1304
What should happen when the Checkbox is already in "checked" state and now a group is made empty by moving cards out of the group?
Possible Solution: group can stay visible until the user re-toggles the Checkbox to the "checked" state.

[2022-02-21 06:12] chenilim commented on #1304
Thanks @vish9812! You got it!
* Yes, the inability to unhide a group is a bug (https://github.com/mattermost/focalboard/issues/1273)
* Agree - if "hide empty groups" is on, and a user moves the last card (row) out of a group, then it becomes hidden. Unchecking "hide empty groups" will allow them to drag the card back.
  * The group can also be changed directly in the card, as a workaround

cc @asa

[2022-02-21 07:47] wiggin77 commented on #113
Reassigning as this has not been worked on since July.

[2022-02-21 07:50] Rajat-Dabade commented on #113
Hello @wiggin77, can I take this issue and work on it?

[2022-02-21 14:59] #1543 closed, assigned to jenyaftw

[2022-02-21 17:47] jespino commented on #2027
I missed this, I going to give it a try, subpath + desktop app, right?

[2022-02-21 19:14] vish9812 commented on #1304
I've added the toggle, let me know if it looks okay?

#### Checked - hide empty groups
![checked](https://user-images.githubusercontent.com/13468514/155014367-90f3b025-fe34-4f8d-b580-23259d448bb7.jpg)

#### Unchecked - unhide empty groups
![unchecked](https://user-images.githubusercontent.com/13468514/155014368-4e144504-9441-461d-851b-e2213abb980b.jpg)

[2022-02-22 06:47] bryceprutsos opened #2362 "Bug: Docker Pull to Pi not working as expected"
## Steps to reproduce the behavior

When I pull the container it complains about the platform

sudo docker run -it -p 80:8000 mattermost/focalboard
Unable to find image 'mattermost/focalboard:latest' locally
latest: Pulling from mattermost/focalboard
ab2f6dae3b54: Pull complete
9411f38bb959: Pull complete
eb9742ac9792: Pull complete
6a7303af5bba: Pull complete
a7e665517a56: Pull complete
2fd5af10a

[2022-02-22 06:56] gc-ss commented on #2312
Hello,

does this work the way you expect:

https://github.com/mattermost/focalboard/blob/main/docker/docker-compose-db-nginx.yml#L35

[2022-02-22 10:08] jespino commented on #1304
@asaadmahmood @wuwinson @chenilim What do you think? It looks good to me.

[2022-02-22 14:57] asaadmahmood commented on #1304
@jespino Don't mind that!

[2022-02-22 15:43] gstlouisgit opened #2364 "Bug: cannot get or download images from tasks in boards"
on the newest version v0.12.1

When someone creates a task and drags an image into the "add comment" I cannot copy of save the image.  IS there a fix for this?  Temporarily, I can go into /data/ folder and find the image, that is if you know the date the task was created.

[2022-02-22 16:17] wiggin77 opened #2365 "Permissions branch: notifications not including changed text blocks"
## Steps to reproduce the behavior

1. Follow a card
2. With a different account, change text block in the description
3. Wait for notification in `Boards` channel
4. If only text block was changed, no notification will come
5. If text block and property was changed, a notification will come with only the property change listed

## Expected behavior

Text block changes should trigger notifications

[2022-02-22 17:42] #2080 closed

[2022-02-22 18:26] sbishel opened #2368 "Permissions Branch - Template Preview UI is squashed (No Templates)"
## Steps to reproduce the behavior

1. Open Boards
2. Click on + (add board)
3. Preview is unreadable

## Expected behavior
Templates should be visible.

## Screenshots
![Screen Shot 2022-02-22 at 11 24 32 AM](https://user-images.githubusercontent.com/12704875/155195210-f128a275-90d7-4418-879e-437d20610af2.png)

## Edition and Platform

permission-feature-branch
 - Edition: Personal Desktop / Pers

[2022-02-22 18:31] sbishel opened #2369 "Permissions Branch - Duplicated custom templates"
## Steps to reproduce the behavior

1. Log in with a user with access to multiple custom templates (e.g. sysadmin/Sys@dmin)
2. Go to the template selector
3. The custom templates are duplicated in the list

## Expected behavior
Templates only listed once.

## Screenshots

![Screen Shot 2022-02-22 at 11 30 55 AM](https://user-images.githubusercontent.com/12704875/155196150-5291027f-4d25-4e11-b656-e

[2022-02-22 18:32] sbishel opened #2370 "Permissions Branch - Users have access to custom templates that were previously created in private channels"
## Steps to reproduce the behavior

After updating, custom templates that were created in workspaces tied to private channels become accessible to any user that's part of that same team to which that private channel/workspace belonged to.

Is this expected?

## Edition and Platform

- permissions-feature-branch

[2022-02-22 18:39] #2356 closed

[2022-02-22 18:52] chenilim commented on #1304
Thanks @vish9812! Thanks for the quick turnaround. I took a quick look at the PR, and realized there are some subtleties:
1. The "hide empty groups" setting is not persisted (so refreshing the page would make it false by default)
2. It's possible to have a state where "hide empty groups" is on, but non-empty groups are hidden, e.g.:
  * Turn on the switch
  * Open a card, and change its property t

[2022-02-22 20:07] vish9812 commented on #1304
@chenilim Yes, it seems the 2 menu options can solve both the issues.
It can look something like this
![2options](https://user-images.githubusercontent.com/13468514/155210551-7ef71ddd-2c5c-4f16-9789-ee1d0243209e.jpg)

[2022-02-22 20:25] sbishel opened #2371 "Permissions Branch - Determine missing features of permissions model"
We need to make the permissions model is working as expected.

Specifically, a team member should be able to join any public board for that team.

Also need to ensure private boards are private (ie, System Admins cannot join.) However, there also needs to be a way to recover a private board if the board admin is no longer a user. How can System Admin update board permissions?

[2022-02-22 21:22] panomitrius opened #2372 "Can't connect to focalboard docker container, but no error messages"
I just started up a docker container of Focalboard. At first it worked great.

But then I wanted to edit the config.json so I took it down and restarted it with a mounted config.json file. However it then stopped working (I can't connect to the container anymore) even when trying to revert to the initial settings and deleting all data. I'm not getting any error messages.

I then tried with the pos

[2022-02-22 21:30] #2300 closed

[2022-02-22 21:49] panomitrius commented on #2372
I have no idea why, but after struggeling a bit with this I tried a restart of the docker service and now it works flawlessly again..

[2022-02-22 23:42] chenilim opened #2374 "Permissions branch: New user unable to create board"
## Steps to reproduce the behavior

This happens for a newly created user:

1. Register a new user ([invite link to test server](https://boards-permissions1.test.mattermost.cloud/signup_user_complete/?id=ytbsgkpeqtg3irhzzidm97kj3e))
2. Complete onboarding of user (set name, etc.)
3. Select Boards from App Switcher menu
4. Continue past the welcome screen
5. Click on the "Create empty board button"

[2022-02-22 23:49] chenilim opened #2375 "Permissions branch: User avatar is wrong in Share Dialog"
## Steps to reproduce the behavior

1. Open a board
2. Select "Show share modal"
3. User avatar is incorrect (placeholder?)

## Expected behavior

The correct user avatar(s) are shown

## Screenshots

<img width="628" alt="Screen Shot 2022-02-22 at 3 46 42 PM" src="https://user-images.githubusercontent.com/46905241/155239047-86c97a39-7426-4cd0-9006-03bd19aea279.png">

## Edition and Platform

 - E

[2022-02-22 23:51] chenilim opened #2376 "Permissions branch: Share button is not final UI"
## Steps to reproduce the behavior

1. Open a board
2. There's a button labeled "Show Share Modal"

## Expected behavior

The button should be labeled "Share" and positioned at the right, per the [spec here](https://docs.google.com/document/d/1HOnoB87WZojqplpB6XGbtKsLuqjG8h-8CbJpmWsRfM4/edit#bookmark=id.655mvflwidvj).

## Screenshots

<img width="398" alt="Screen Shot 2022-02-22 at 3 50 15 PM" src

[2022-02-22 23:53] chenilim opened #2377 "Permissions branch: Share dialog role selector is cut off"
## Steps to reproduce the behavior

1. Open a board
2. Select "Show Share Dialog"
3. Select the role for your user
4. The menu is cut off

## Expected behavior

The menu should be visible

## Screenshots

<img width="625" alt="Screen Shot 2022-02-22 at 3 52 15 PM" src="https://user-images.githubusercontent.com/46905241/155239516-38c0b607-fdd3-480c-a176-bf0034f49881.png">

## Edition and Platform

[2022-02-22 23:58] chenilim opened #2378 "Permissions branch: Cannot change admin to editor"
## Steps to reproduce the behavior

1. Open a board
2. Select Show Share Dialog
3. Search for another user (e.g. sysadmin), and add them
4. Select their role (Editor by default) and change it to Admin
5. Select their role again, and try to change it back to Editor
6. Nothing happens

## Expected behavior

Able to change a user from Admin to Editor

## Edition and Platform

 - Edition: Mattermost p

[2022-02-23 00:00] chenilim opened #2379 "Permissions branch: No error shown when attempting to remove last admin"
## Steps to reproduce the behavior

1. Create a board
2. Select "Show Share Dialog"
3. Select your user's role, and select "Remove member"
4. Nothing happens, and error in the console

## Expected behavior

A dialog showing "Boards must have at least one Administrator" appears ([spec](https://docs.google.com/document/d/1HOnoB87WZojqplpB6XGbtKsLuqjG8h-8CbJpmWsRfM4/edit#bookmark=id.16ze8juuy9wl)).

[2022-02-23 00:06] chenilim opened #2380 "Permissions branch: Unable to join / view board that is team accessible"
## Steps to reproduce the behavior

Set up two user accounts.

1. As user 1: Create a new board
2. Open the Share dialog and grant "Everyone at ___ Team" Editor access
3. Now log in as user 2
4. Select the "Find Boards" input in the sidebar
5. Type in the name of the board, and select it
6. Nothing happens

## Expected behavior

The board is added to the sidebar and opens

## Edition and Platform

[2022-02-23 00:08] chenilim commented on #2380
Might be related / dup of #2371.

[2022-02-23 00:10] chenilim opened #2381 "Permissions branch: white space shown to left of sidebar"
## Steps to reproduce the behavior

1. Open Boards
2. There is a white gap to the left of the sidebar

## Expected behavior

No gap

## Screenshots

<img width="316" alt="Screen Shot 2022-02-22 at 4 08 32 PM" src="https://user-images.githubusercontent.com/46905241/155241113-687e217c-8c90-4c88-8a6d-fb8bcc0c6e4b.png">

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: permissions-fe

[2022-02-23 04:30] Rajat-Dabade commented on #113
I've added the delete feature in the Table view. let me know if it looks okay?

##### Added delete feature in Table view
![Screenshot from 2022-02-23 09-07-37](https://user-images.githubusercontent.com/26198062/155261059-3f4f8d1f-2202-4921-aa79-d214fb2fd32e.png)

##### Deleting the card with confirmation pop-up
![Screenshot from 2022-02-23 09-08-11](https://user-images.githubusercontent.com/261980

[2022-02-23 16:51] chenilim opened #2384 "Build: Generate separate plugin packages per platform"
## Summary

Per the [discussion at our dev meeting](https://community-daily.mattermost.com/boards/workspace/b1ni7nprjpfwpb566k1gk8z9nw/886d2280-e88e-4065-8c85-1b62578f192e/f30dcb19-a0e8-45d2-8768-a9489f6e7fe8/chyhtjswcoinuffs1d9tf8ht7zy), let's produce separate binaries for each platform, i.e.:

* plugin-linux-amd64
* plugin-linux-arm64
* plugin-darwin-amd64
* plugin-darwin-arm64
* plugin-windows-

[2022-02-23 17:16] mmackenzie opened #2385 "Bug: Editing templates changes the other templates"
## Steps to reproduce the behavior

1. Go to any new or existing board
2. Select + New template - create a new template and name it Test1
3. Select + New template - create a new template and name it Test2
4. Go back and edit template 2 - it changes template 1 - editing template 1 changes template 2.
5. Also, creating a new template uses this (now common) template as the template for creation if yo

[2022-02-23 19:25] chenilim opened #2387 "Bug: Comment link colors are not highlighted"
## Steps to reproduce the behavior

1. Open a card
2. Send a comment with a link, e.g. `This is [a link](https://github.com/mattermost/focalboard), and auto link: https://github.com/mattermost/focalboard`
3. The links are the same color as the text (but are highlighted on hover)

## Expected behavior

The links should appear in the "link color" (blue with the default theme) even without hover.

##

[2022-02-23 20:11] wuwinson commented on #2385
@ogi-m Can you see if this repo's on v0.14? Thanks!

[2022-02-23 20:15] wuwinson commented on #2381
Repros on https://boards-permissions1.test.mattermost.cloud/ with 1 team.

[2022-02-23 20:16] chenilim commented on #2380
Might be covered by #2371.

[2022-02-23 20:26] chenilim commented on #2375
@asaadmahmood, sounds like you worked on the person avatar before. Can you fix this one too? Thanks.

[2022-02-23 20:28] chenilim commented on #2374
May be related to the routing.

[2022-02-23 20:28] chenilim commented on #2372
Thanks!

[2022-02-23 20:28] #2372 closed

[2022-02-23 20:30] chenilim commented on #2370
@wuwinson, please link to the updated spec when ready. Thanks.

[2022-02-23 20:34] chenilim commented on #2364
Thanks @gstlouisgit! Changing this to a feature request to add a "download image" option to image content in the card.

[2022-02-23 20:36] chenilim commented on #2362
Someone posted a link to a functional docker image for Raspberry Pi (ARM64) [here]https://github.com/mattermost/focalboard/issues/124#issuecomment-1020328897). Dup of https://github.com/mattermost/focalboard/issues/124

[2022-02-23 20:36] #2362 closed

[2022-02-23 20:40] chenilim commented on #2343
Might be a dup of https://github.com/mattermost/focalboard/issues/2273. @ogi-m, please also test with Japanese characters.

[2022-02-23 20:43] chenilim commented on #2311
Should be fixed by #2345.

[2022-02-23 20:43] #2311 closed

[2022-02-23 20:47] chenilim commented on #2197
From the description, our best guess is this is a repro of the [refresh bug in v6.2 and older](https://github.com/mattermost/focalboard/discussions/1971). Please upgrade to Mattermost 6.3+ or try the workaround steps in the linked discussion, and reopen if those don't work. Thanks!

[2022-02-23 20:47] #2197 closed

[2022-02-23 20:48] chenilim commented on #2125
Thanks @moschlar!

[2022-02-23 20:48] #2125 closed

[2022-02-23 21:25] kamre commented on #2387
@chenilim @asaadmahmood looks like the reason is that css variable `--link-color-rgb` is [not set for the plugin](https://github.com/mattermost/focalboard/blob/1d5583ac7a9a1a63f52e87f3c7250d4833226eeb/webapp/src/theme.ts#L134).

[2022-02-23 21:32] wiggin77 opened #2388 "Permissions branch: Card link URLs broken"
## Steps to reproduce the behavior

1. Go to card and @mention someone
2. Wait for notification on account mentioned
3. Click card link
4. Don't go to card

## Expected behavior

Clicking card link should open card

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: Permissions feature branch
 - Browser and OS: FF 93 Linux

[2022-02-23 21:37] wuwinson commented on #2370
@ogi-m @sbishel @chenilim I updated the [spec](https://docs.google.com/document/d/1HOnoB87WZojqplpB6XGbtKsLuqjG8h-8CbJpmWsRfM4/edit#bookmark=id.xx2zqweio32l) with details on how custom templates should behave. This ticket would be considered a bug. We'll need some additional designs to address custom templates. Can review together in our next weekly team meeting. cc @asaadmahmood

[2022-02-23 21:44] wiggin77 opened #2389 "Permissions branch: Users appear as bots"
## Steps to reproduce the behavior

1. Go to card and comment with @mention
2. Notice the user(s) appear as bots in auto-complete (see screenshot below)

## Expected behavior

Users not accused of being robots.

## Screenshots
![bot-bug](https://user-images.githubusercontent.com/5024605/155413761-842dc8b9-06f3-407c-a475-da2459b39315.jpg)

If applicable, add screenshots to elaborate on the problem.

[2022-02-23 22:51] chenilim commented on #1957
Thanks @justinegeffen! The current dev tips and tricks refer to developing against Personal Server, which is the easiest way to get started. I realize we need additional details on how to develop against Mattermost Boards. I'll draft a separate page with tips and tricks, and review it with the team.

[2022-02-23 23:09] mmackenzie commented on #2385
Sorry I should have said I am using docker version.
https://hub.docker.com/layers/mattermost/mattermost-team-edition/release-6.3/images/sha256-ad91833c72a3f89f8e3c161b525538a6d89806a3ace16ee87a5bb975cf688d43?context=explore

[2022-02-24 04:27] kamre commented on #2387
Another thing that I have noticed from

is that for preview (when the message is not yet sent) the color of the link is set like `rgba(var(--link-color-rgb), 1)` and not just `var(--link-color-rgb)` like for the link in sent comment.

So changing the [expression for the color in main.scss](https://github.com/mattermost/focalboard/blob/1d5583ac7a9a1a63f52e87f3c7250d4833226eeb/webapp/src/styles/main

[2022-02-24 07:00] 3kami3 commented on #2343
I think the PR for the factor is #2085.

I checked it works with the following steps.
[code]
@sbishel do you have any hints for this issue?

[2022-02-24 09:20] typingmonk commented on #2343
I have same bug with Mandarin input (`zh-tw`).

## Edition and Platform

Happened in:
Mattermost Boards `0.12.1`
Through Mattermost Desktop and Firefox.
OS: Mac `11.6.3`

Not happened in:
Focalboard Personal Edition `0.14.0`
OS: Mac `11.6.3`

Hope it could help with little more information.

[2022-02-24 15:12] jespino commented on #2300
@kamre, Do you mind to test it again in the main branch, I did some changes that I expect solves the problem.

[2022-02-24 15:28] chenilim commented on #2312
Thanks @gc-ss!

There was  a discussion on this at the dev meeting:
* Now that https://github.com/mattermost/focalboard/issues/2300 has been fixed, SQLite should be stable for Personal Server, and is still a preferred environment for development and single- (or few-) user servers
* For multi-user production, using docker compose that runs Focalboard against Postgres is recommended.

cc @jespino: A

[2022-02-24 17:06] kamre commented on #2300
@jespino Regular sqlite configuration with `"dbconfig": "./focalboard.db"` **works correctly** for me.

But when using `"dbconfig": "file::memory:?cache=shared"` like in the `config.json` for cypress there are still errors about database locks. This might be something specific for in-memory database.

[2022-02-24 19:34] chenilim opened #2392 "Bug: User autocomplete doesn't update with newly added users"
## Steps to reproduce the behavior

1. Create a board off a private channel
2. Create and open a card in the board
3. In a separate tab, add user2 to the private channel
4. In the original tab, type `@` in a comment or description to see the list of users
5. User2 does not appear in the list (until a Cmd+R refresh)

## Expected behavior

The auto-complete should show the users who have access to t

[2022-02-24 19:42] chenilim opened #2393 "Bug: Table calculations apply to all tables"
## Steps to reproduce the behavior

1. Create a board
2. Create two table views (table 1 and table 2)
3. Create a card
4. Add a number property (e.g. hours)
5. In table 1, set the column calculation to sum
6. Switch to table 2, the calculation is sum as well

## Expected behavior

The calculation in table 2 should be None - and not be affected by changing the calculation in other tables

## Screen

[2022-02-24 19:44] chenilim commented on #2393
@harshilsharma63, I'm pretty sure this is a bug, but I don't remember if there was a reason for it. cc @ogi-m, @asaadmahmood, @wuwinson.

[2022-02-24 19:48] chenilim opened #2394 "UX: Menus should not close when toggling switches"
## Steps to reproduce the behavior

1. Open a board view
2. Select the properties menu
3. Toggle a property
4. The menu closes

## Expected behavior

The menu should not close when toggling a switch in a menu.

## Screenshots

https://user-images.githubusercontent.com/46905241/155596475-50b3507b-5464-4c84-ba8f-6246f3000bc9.mov

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.

[2022-02-24 20:32] kamre commented on #2394
Is this the same as #606?

[2022-02-24 20:35] chenilim commented on #2394
Thanks @kamre! I looked, but missed it. Yup, closing this as a dup of #606, which has more details.

Also putting #606 up for grabs. cc @wuwinson, @sbishel, @asaadmahmood.

[2022-02-24 20:35] #2394 closed

[2022-02-24 22:04] RastislavMirek opened #2396 "Bug: Scrolled down board jumps to the very top whenever any card is opened"
## Steps to reproduce the behavior

1. Create a board view
2. Create a column
3. Add enough cards to be able to scroll down
4. Scroll to the bottom of the column
5. Open any card
6. Close that card
7. You are now scrolled to the top of the column, completely losing the context of where you were

## Expected behavior

Opening and closing a card should not move your position inside on the board. You

[2022-02-25 06:30] harshilsharma63 opened #2398 "Permissions branch: Existsing Boards Are Not Migrated Correctly"
## Steps to reproduce the behavior

1. Install Boards 0.14 from the Github release page.
2. Create some boards and cards in a channel corresponding to DMs.
3. Upgrade to the build from `permissions-feature-branch`.
4. Open boards. Notice the boards corresponding to DMs don't show up.
6. Open the database and query the `team_id` column in the `focalboard_boards` table. Notice how it's all empty for

[2022-02-25 13:03] jespino commented on #2371
@sbishel one problem is, by default the system admin user has all the permissions, there is no way to avoid that. I'll try to take care of this, but I'm not sure if that is going to be possible.

[2022-02-25 16:03] sbishel commented on #2371
@jespino - The essence of this ticket is making sure we understand and document, how all of this will work. If we can make some adjustments, we will want to do that. But if we are limited by the current architecture, we just want to make sure we document and understand.

In some cases, we may need to track who joins and when for Compliance.

[2022-02-25 17:37] #1957 closed

[2022-02-25 18:30] chenilim opened #2401 "Permissions branch: User dropdown shows users as "BOT"s"
## Steps to reproduce the behavior

1. Open a card
2. Create a new comment, and type `@`
3. Dropdown shows users, with a "BOT" suffix

## Expected behavior

Should not mark users as "BOT"s

## Screenshots

<img width="396" alt="Screen Shot 2022-02-25 at 10 28 25 AM" src="https://user-images.githubusercontent.com/46905241/155768512-4979c3f5-4616-4c82-b9a1-23b6f51d6d05.png">

## Edition and Platform

[2022-02-25 19:31] mmackenzie commented on #2385
Updated to 6.4 on docker - same behaviour

[2022-02-25 19:36] chenilim commented on #2401
Dup of #2389.

[2022-02-25 19:36] #2401 closed

[2022-02-25 19:39] chenilim opened #2402 "Permissions branch: Menus are cut off in sidebar"
## Steps to reproduce the behavior

1. Select the ... menu of a board in the sidebar
2. Select "Move to..."
3. The sub-menu is cut off and unreadable

## Expected behavior

The sub-menu is visible

## Screenshots

<img width="256" alt="Screen Shot 2022-02-25 at 11 37 43 AM" src="https://user-images.githubusercontent.com/46905241/155784106-e8d065c4-6595-4871-9035-1f24a6e165f2.png">

## Edition and

[2022-02-25 19:40] chenilim commented on #2402
May be related to [this card](https://community-daily.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/b4ctmm917q3rzdfi451qtuxjzcw/v3ng1gwe7wtfaijukrhp8siwcpy/c9ztr8fwjwbbnxgydagfuby381r). cc @harshilsharma63.

[2022-02-25 19:44] chenilim commented on #2402
The category menu is also truncated, likely the same issue:
<img width="277" alt="Screen Shot 2022-02-25 at 11 43 26 AM" src="https://user-images.githubusercontent.com/46905241/155784855-0dc17a59-70c9-4ff5-b449-61c2e4b24ac4.png">

[2022-02-25 19:51] chenilim commented on #2402
Might be a dup / already be fixed by https://github.com/mattermost/focalboard/pull/2399.

[2022-02-25 20:12] KaidenMikami commented on #714
I'm having the same issue, but it's with Brazilian Portuguese. It's not setting the language.

[2022-02-25 22:03] chenilim opened #2404 "UX: Profile image is off vertical center"
## Steps to reproduce the behavior

1. Open a card
2. Add a comment
3. Profile image appears to be slightly off vertical center from the text

## Expected behavior

Profile image is vertically center-aligned with "Add a comment..."

## Screenshots

![profile image vertical center](https://user-images.githubusercontent.com/46905241/155809175-b4f3bd3b-b07a-4bfd-b9bb-ac61d77c4674.jpg)

## Edition and

[2022-02-25 22:09] chenilim opened #2405 "UX: Profile picture and Send button are vertically centered for comments"
## Steps to reproduce the behavior

1. Open a card
2. Enter a long comment (e.g. 3 paragraphs of lorem ipsum)
3. The profile picture and Send button are vertically centered

## Expected behavior

The profile picture should be aligned to the top, and the Send button to the bottom (I think?).

## Screenshots

<img width="775" alt="Screen Shot 2022-02-25 at 2 04 30 PM" src="https://user-images.github

[2022-02-25 22:12] chenilim commented on #2405
@asaadmahmood, please weigh in on what the layout should be. We should fix it if an easy change, or we can put it up for grabs. Thanks.

[2022-02-26 03:48] JoeSteven commented on #2323
Exactly! I really need the undo feature when edit card!

[2022-02-26 10:15] typingmonk commented on #2343
After few tests, I found out it is `initialText` in second array argument of `useEffect()` in #2085 contribute to the bug.

https://github.com/mattermost/focalboard/blob/cd6be86a3641ffb3549bd74c45ad3ae8a32a4411/webapp/src/components/markdownEditorInput/markdownEditorInput.tsx#L96-L105

When typing in ordinary character:
1. `initialText` will be the string append input, and `initialText === editorS

[2022-02-27 16:22] sadsfae commented on #2027
I have the exact same issue on latest `5.0.4` desktop version for Linux 64bit.

I am using the latest community Mattermost `6.4.1`.

[2022-02-28 05:31] harshilsharma63 commented on #2381
Fixed by https://github.com/mattermost/mattermost-webapp/pull/9827 in mattermost webapp. Changes are already merged in and it works fine latest master of mattermost webapp.

[2022-02-28 05:31] #2381 closed

[2022-02-28 06:05] harshilsharma63 commented on #2402
@chenilim yes, it's already fixed. Closing this one.

[2022-02-28 06:05] #2402 closed

[2022-02-28 13:40] manicmarvin opened #2408 "Feature Idea: Webhook/Integration with Redmine"
## Summary

It would be lovely to have the ability to _import_ redmine issues as focal board cards.
Perhaps based on projects/categories (or a custom field)

## How important this is to me and why

Importance: Medium

At our organisation, we use mattermost for all our internal comms and Redmine for project management. We have just begun to integrate focalboard (or rather mattermost boards) into ou

[2022-02-28 16:05] wuwinson opened #2409 "Bug: Highlighting card text beyond modal closes card modal"
## Steps to reproduce the behavior

1. Open any card
2. Highlight any text on the card without releasing mouse click
3. Move mouse pointer to anywhere outside of card modal
4. Release mouse click

## Expected behavior

Text on card is highlighted and card modal does not close

## Screenshots

https://user-images.githubusercontent.com/93531870/156016238-0412c49f-413a-403f-9dfa-dec5d407100c.mov

##

[2022-02-28 16:19] wuwinson opened #2410 "Feature Idea: Wrap checkbox text"
## Summary

Checklist items are currently only one line long, so if the text goes beyond the width of the modal, then the user has to highlight and scroll to see the full text content.

Long text on checkboxes should wrap to the next line if if exceeds the width of the card modal, so users can easily see the content on the checkboxes without needing to highlight and scroll.

## How important this

[2022-02-28 17:13] #2368 closed

[2022-02-28 17:13] #2369 closed

[2022-02-28 17:15] chenilim opened #2412 "Doc: Export / import boards doc has an out of place "Share a template" heading"
## Summary

The [import / export docs](https://docs.mattermost.com/boards/sharing-boards.html#import-and-export-a-board) show:

<img width="1036" alt="Screen Shot 2022-02-28 at 9 14 16 AM" src="https://user-images.githubusercontent.com/46905241/156027658-d544fd7b-41cb-458e-b4ca-638fad0295b0.png">

The "Share a template" heading appears out of place / not needed. Maybe work in progress?

## Link to

[2022-02-28 17:48] wuwinson opened #2413 "Feature Idea: Multi-select person property"
## Summary

Ability to select more than one user on a person property. Currently, it's only possible to select one user per person property type.

## How important this is to me and why

Importance: Medium

Use cases:
1. Assign multiple people to a task

[2022-02-28 19:14] wuwinson commented on #2409
Dupe of #1919, closing out this card.

[2022-02-28 19:14] #2409 closed

[2022-02-28 19:16] chenilim commented on #2405
Agree that the card comments should conform with the message post, but be aware that Enter does not send the comment today - it inserts a newline. While, Alt+Enter in channels inserts a newline, and Enter submits the post.

[2022-02-28 19:18] chenilim commented on #2404
It's probably the margins in the placeholder text that results in the off center. The image does appear centered if there is non-placeholder text displayed.

[2022-02-28 19:27] chenilim commented on #2392
Retest on permissions branch.

[2022-02-28 19:30] wuwinson commented on #2385
@ogi-m Any updates on this? Thanks!

[2022-02-28 19:33] chenilim commented on #2385
Thanks @mmackenzie! We are trying to get a repro on our side. In the meantime, could you clarify the steps:
* For Step 4, what did you change in Template 2? E.g. does changing the title of Template 2 change the title of Template 1?
* If possible, could you include a screenshot or screen recording of what you're seeing?

Thanks! This will help us find the underlying cause faster.

[2022-02-28 19:44] wuwinson commented on #2273
Need to test extended character sets.

[2022-02-28 20:42] chenilim commented on #2123
Following up on documenting the workaround steps, @wiggin77 please review these steps:

If `@mention` notifications aren't being sent, perform the following steps as a System Admin:
1. Open the System Console to Bot Accounts, and set `Enable Bot Account Creation` to `true`
2. Add the Boards Bot account to each team:
  * Open the team in Mattermost, select the team dropdown, and select "Invite Peop

[2022-02-28 20:44] wiggin77 commented on #2123
After enabling bot accounts the plugin must be restarted to actually create the bot.

[2022-02-28 20:58] wiggin77 commented on #2123
Yes, I believe so.

[2022-02-28 21:07] chenilim commented on #2123
Thanks! Posted the steps in a discussion here: https://github.com/mattermost/focalboard/discussions/2415.

[2022-02-28 21:09] chenilim commented on #2316
I've posted the workaround steps as a discussion here: https://github.com/mattermost/focalboard/discussions/2415. Please LMK if those steps need to be adjusted.

Closing this issue for now, but please re-open, create a new issue, or chime in the discussion if anyone is still running into this. The workaround steps *should* not be required, and we still need to figure out why notifications aren't w

[2022-02-28 22:21] mmackenzie commented on #2385
https://user-images.githubusercontent.com/588949/156067990-a925a81f-6a9f-4856-a378-703a3238adbd.mp4

In step 4, changing pretty much any of the template 2 fields changes the same fields in template 1 - to all intents and purposes the 2 templates stay in sync with each other.  This kind of makes them the opposite of templates really.

[2022-02-28 23:08] ogi-m commented on #2385
@wuwinson I can repro on v0.14. The template titles don't get changed, but the properties that are added to one template get automatically added to all templates.

[2022-03-01 05:10] raphmim commented on #343
I also find having comments above description to be counter-intuitive and inconvenient.

After starting to use Notion for a writing project, my theory for having comments above description is that when you're working on a really long document, it may be a bit tedious to have to scroll all the way down every time to see/add comments. So it may make sense for a tool like Notion, where long pages wit

[2022-03-01 09:57] asaadmahmood commented on #2405
@chenilim Yup, we should unify it, so we're not inconsistent here.

[2022-03-01 10:45] alerque commented on #563
Also here looking for a notification channel. At this point it looks like my only option is to setup a script with direct access to the database that regularly subscribes everybody to all cards. That's super cumbersome for large boards and teams!

@chenilim The links you dropped to tracking cards appear to have migrated to a different server and are no longer public.‌ Is there a tracking board whe

[2022-03-01 10:47] harshilsharma63 opened #2418 "Bug: Permissions Branch: Cannot use global templates"
## Steps to reproduce the behavior

1. Go to Focalboard
2. Try using a default template
3. Notice that the board created from the template doesn't show up in UI

## Expected behavior

Using a template should create a board in UI

## Screenshots

NA

## Edition and Platform

Only on the permissions branch

[2022-03-01 10:50] ogi-m opened #2420 "Bug: Personal Desktop opens to a blank screen"
## Steps to reproduce the behavior

1. Get the latest Personal Desktop build from main
2. Launch it
3. App stuck on blank screen

## Expected behavior

Boards view should load

## Screenshots

![SharedScreenshot](https://user-images.githubusercontent.com/15314183/156155603-221b883d-6d27-4046-a6f5-787602f30930.jpg)

## Edition and Platform

 - Edition: Personal Desktop
 - Version: latest main
 - Br

[2022-03-01 10:51] alerque opened #2421 "Feature Idea: Follow boards instead of just cards"
Currently is seems users can only subscribe to individual cards. This is nice, but not at all a viable solution for large boards and/or large teams where people need or want to be notified about all changes. For example I just had 3 people join a board that has 181 cards. In order to get notifications they would need to click on 543 cards and follow them individually. That's a minimum of 1629 clic

[2022-03-01 10:53] ogi-m opened #2422 "Bug: Personal Server > Users should not be prompted to take a tour"
## Steps to reproduce the behavior

1. Open Personal Server
2. On the Welcome screen, click on "Take a tour"
3. User is taken to the welcome board, but there's no tour

## Expected behavior

Welcome screen shouldn't prompt the user to take a tour

## Edition and Platform

 - Edition: Personal Server
 - Version: main
 - Browser and OS: Chrome on Windows

[2022-03-01 15:38] wiggin77 commented on #2365
Fixed via https://github.com/mattermost/focalboard/pull/2386

[2022-03-01 15:38] #2365 closed

[2022-03-01 16:16] wiggin77 opened #2426 "Permissions branch: View=0 in card links does not show card"
## Steps to reproduce the behaviour

1. Create a link to a card that uses default view (0 for view id in link).  e.g. An @mention will create this kind of link.
2. Click the link or paste into browser
3. The card does not display
4. Logs indicate the view was not found

## Expected behaviour

Card links work with or without a view id

## Edition and Platform

 - Edition:  Mattermost plugin
 - Vers

[2022-03-01 16:17] wiggin77 commented on #2388
Fixed via https://github.com/mattermost/focalboard/pull/2391

[2022-03-01 16:17] #2388 closed

[2022-03-01 18:21] chenilim commented on #563
Thanks @alerque! Since my last comment, we've shipped Phase 1 of notifications:
* You can [at-mention people](https://docs.mattermost.com/boards/work-with-cards.html#mention-people) in the card comments and description, and they will receive a notification from the Boards bot.
* You can follow individual cards, and be notified of changes to them
  * Being at-mentioned will also auto-follow you to

[2022-03-01 19:03] alerque commented on #563
Thanks for the fresh links. Yes phase 2 will cover my needs.

It seems *this issue* is roughly equivalent to the phase 2 sub-feature 9 (post card or board notifications in a channel) and my other issue #2421 is a match for phase 2 sub-feature 7 (allow users to follow boards).

[2022-03-01 21:08] chenilim opened #2430 "Bug: Blank screen in Personal Desktop"
## Steps to reproduce the behavior

1. Download the latest build from main ([from here](https://github.com/mattermost/focalboard/actions/runs/1909976307)), or build locally
2. Run Personal Desktop (Mac or Win)
3. See a blank screen

## Expected behavior

Personal Desktop should work

## Screenshots

<img width="1405" alt="Screen Shot 2022-03-01 at 1 06 13 PM" src="https://user-images.githubusercon

[2022-03-01 21:35] chenilim commented on #2430
@harshilsharma63, looks like this is caused by PR #2406. I debugged the webapp in Personal Desktop and submitted a partial fix with https://github.com/mattermost/focalboard/pull/2431. However, the new config and onboard APIs are failing in Personal Desktop (no rows in DB for single-user mode). Special handling for single-user mode might need to be added.

cc @sbishel, @ogi-m.

[2022-03-01 22:08] chenilim commented on #2430
Dup of #2420. Sorry I missed that earlier. But leaving this open in case you want to use parts of the PR I submitted - feel free to close that in lieu of your own though. Thanks!

[2022-03-02 00:24] gabrielctn commented on #1804
Same issue here !

[2022-03-02 09:52] ogi-m commented on #2258
This reproduces again on latest main

[2022-03-02 09:57] harshilsharma63 opened #2433 "Bug: Permissions Feature Branch: Cannot open boards from app-switcher after upgrade"
## Steps to reproduce the behavior

1. Install any previously released version of Boards. Open boards and create some boards.
2. Now upgrade to the build from the permissions feature branch.
3. Open boards from Mattermost app switcher.
4. Notice the boards don't open up and the URL is incorrect.

## Expected behavior

Boards should work perfectly fine on upgrading from a previous version.

## Scre

[2022-03-02 12:56] justinegeffen commented on #2412
Thanks for catching this! It's been fixed. :)

[2022-03-02 12:56] #2412 closed

[2022-03-02 13:22] #2243 closed

[2022-03-02 14:46] #2430 closed

[2022-03-02 20:58] #2405 closed

[2022-03-02 21:08] #2379 closed

[2022-03-02 21:08] #2378 closed

[2022-03-02 21:14] sbishel opened #2437 "Bug: Display issues with Share Boards Dialog"
## Steps to reproduce the behavior

1. If share boards is disabled in the System Console, the padding on top is excessive:
<img width="623" alt="Screen Shot 2022-03-02 at 1 07 00 PM" src="https://user-images.githubusercontent.com/46905241/156449769-73801027-5e2b-4043-8531-790f15469d3c.png">

2. If share boards is enabled, the dialog size jumps when switching tabs:
https://user-images.githubusercon

[2022-03-02 21:23] TylerStilson commented on #2111
Has this issue been completed? Or would I be able to help with it?

[2022-03-02 22:55] chenilim opened #2439 "UX: Text box in table cell does not extend to fill the cell"
## Steps to reproduce the behavior

1. Open a table with cards that have a text property
2. Make the text property column wider
3. Hover over a cell
4. The text input box has a limited width

## Expected behavior

The text input box should expand to fill the width of the cell.
Clicking anywhere in the cell should enter edit mode for the text

## Screenshots

<img width="351" alt="Screen Shot 2022-

[2022-03-02 23:00] chenilim opened #2440 "UX: Pressing tab in the table view does not always advance to the next cell"
## Steps to reproduce the behavior

1. Select a cell in a table view
2. Press tab repeatedly
3. The selection does not always advance to the next cell, it sometimes goes back too

## Expected behavior

Pressing tab should advance to the next cell, or the first cell in the next row if the last cell in a row is selected

## Screenshots

https://user-images.githubusercontent.com/46905241/156464077-2a

[2022-03-02 23:10] chenilim opened #2441 "Bug: Double-clicking the first column header border in a grouped table view does not resize it correctly"
## Steps to reproduce the behavior

1. Open a grouped table view
2. Double click on the right margin of the first-column's heading
3. The column resizes only taking into account the top-level grouping

## Expected behavior

The column should resize so that all cells in the first column are visible.

## Screenshots

https://user-images.githubusercontent.com/46905241/156465123-6d82f2c2-79a7-4d47-964

[2022-03-02 23:12] chenilim opened #2442 "Bug: Resizing a table column is unusably slow"
## Steps to reproduce the behavior

1. Open a table view
2. Drag to resize the first column (or any column)
3. The live resizing lags and is pretty much unusable

## Expected behavior

Resizing should be fast and easy

## Screenshots

https://user-images.githubusercontent.com/46905241/156465311-83bddc5d-cdb1-4e37-82ba-09740c7a4e7f.mov

## Edition and Platform

 - Edition: Mattermost plugin
 - Vers

[2022-03-02 23:50] chenilim opened #2443 "Permissions branch: Follow button doesn't work"
## Steps to reproduce the behavior

1. Open a card
2. Click the Follow button
3. Nothing happens

## Expected behavior

Should follow the card

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: permissions-feature-branch
 - Browser and OS: Chrome on Mac

[2022-03-02 23:51] chenilim commented on #2443
cc @wiggin77, @ogi-m - not sure if this is a dup, but didn't see a card or issue tracking it.

[2022-03-02 23:53] wiggin77 commented on #2443
If refreshing the page shows the card as followed, then this is a bug that was fixed in main, and the fix was probably lost in the merge. I believe @harshilsharma63 fixed it.

[2022-03-03 00:55] chenilim commented on #2443
Thanks, yup refreshing the page does show it as followed (and clicking again then refreshing shows it as unfollowed).

[2022-03-03 01:40] harshilsharma63 opened #2445 "Bug: Share board dialog close button is not clickable from the center"
## Steps to reproduce the behavior

1. Open any board.
2. Open the share dialog by clicking the Share button on the top right.
3. Try closing the dialog by clicking the `X` button on the top right of the dialog.
4. Notice how you can't click the button in the center but only around the `X`.

## Expected behavior

The dialog close button should be clickable in the entire area.

## Screenshots
https

[2022-03-03 01:42] harshilsharma63 commented on #2445
Also, a nit- the dialog's size jumps depending on which tab you are in, or if you have published enabled or not, and when you click the "Copy LInk" button. Should the dialog stay consistent?

[2022-03-03 09:14] jespino opened #2446 "Bug: Not saving changes on renaming the column if adding a new column before blur"
## Steps to reproduce the behavior

1. Go to a kanban board
2. Click "add a group" in the kanban columns header
3. Edit the name of the column without loosing the focus in the input
4. Click "add a group"
5. The new column is added but the old column is not saved

## Expected behavior

The new column is added and the old column is saved

[2022-03-03 09:33] asaadmahmood commented on #1516
@ogi-m This happens when you click on Take a tour as well. Need to fix that too.

[2022-03-03 09:33] harshilsharma63 opened #2447 "Bug: Card properties escape card boundary"
## Steps to reproduce the behavior

1. Set a really long value in a select property.
2. Select that property to show up in the board view.
3. Notice the value displayed in the cards.

## Expected behavior

The long value shouldn't overflow.

## Screenshots
<img width="1883" alt="Screenshot 2022-03-03 at 3 00 26 PM" src="https://user-images.githubusercontent.com/18575143/156536496-229e81f5-2b49-42e

[2022-03-03 09:41] asaadmahmood opened #2448 "Bug: Share modal resizes on Publish tab"
## Steps to reproduce the behavior
1. Open share modal
2. Click publish tab
3. Enable Disable it

## Expected behavior
Share modal resizes when switching tabs or when publish toggle is on/off.

## Screenshots
<img width="807" alt="Screenshot 2022-03-03 at 2 40 00 PM" src="https://user-images.githubusercontent.com/11034289/156538409-c71703e8-84d0-470e-baa0-d14c7e03b5e8.png">
<img width="722" alt="S

[2022-03-03 09:42] harshilsharma63 opened #2449 "Bug: Gallery cards shouldn't grow infinitely vertically"
## Steps to reproduce the behavior

1. Create a card with a really long title.
2. Open gallery view.
3. Notice the height of that card in the view.

## Expected behavior

The card shouldn't grow too long in the view. It works fine in board view though.

## Screenshots

<img width="393" alt="Screenshot 2022-03-03 at 3 11 26 PM" src="https://user-images.githubusercontent.com/18575143/156538469-ec92c

[2022-03-03 09:58] asaadmahmood opened #2450 "Bug: Dismiss first tour point if a user opens a card"
## Steps to reproduce the behavior
1. Start tour
2. Click outside to dismiss first tour point
3. Open the card
4. No tour points start in the card

## Expected behavior
For 4th point, the card tour points should start as soon as the user opens a card for the first time.
Also, add a cursor pointer on the pulsing dot indicator.

## Screenshots
https://user-images.githubusercontent.com/11034289/15654

[2022-03-03 09:59] harshilsharma63 opened #2451 "Bug: Duplicating Welcome to Boards board from sidebar doesn't work"
## Steps to reproduce the behavior

1. Once done with the product tour, try duplicating the board from the left sidebar.
2. Notice the board doesn't duplicate.

## Expected behavior

User should be able to duplicate the welcome board.

## Edition and Platform

 - Edition: Personal Mattermost plugin
 - Version: 0.15-RC1
 - Browser and OS: Firefox

## Additional context

It only occurs on the welcom

[2022-03-03 10:15] harshilsharma63 opened #2452 "Permissions Branch: Unable to migrate from 0.14 to latest branch"
## Steps to reproduce the behavior

1. Install 0.14 and create some boards in it.
2. Upgrade to the latest permissions branch.
3. Notice the upgrade fails due to the 17th migration.

## Expected behavior

The user should be able to upgrade from 0.14.

## Screenshots

NA

## Edition and Platform

 - Edition:  Mattermost plugin
 - Version: Latest permissions branch
 - Browser and OS: NA

## Addition

[2022-03-03 12:03] harshilsharma63 commented on #2451
The code issue here was that the images in the welcome board were not being copied over when creating a copy for the onboarding tour. Sof without this fix, if you see any card in the onboarding tour board, you won't find images.

[2022-03-03 13:14] jespino commented on #2374
This should be fixed now.

[2022-03-03 15:05] asaadmahmood opened #2455 "Feature Idea: Allow css links to images in Boards repo"
## Summary
Currently we can't add css links to images jpg/png/svg etc in the boards repro, we need to enable this.

[2022-03-03 17:34] justinegeffen commented on #2111
Thanks, @TylerStilson! We currently have [this section](https://docs.mattermost.com/boards/sharing-boards.html#import-and-export-a-board) in the docs but it's absolutely open to any improvements. #1972

[2022-03-03 17:37] sbishel commented on #1914
Bumping to permissions release (0.16)

[2022-03-03 18:13] chenilim commented on #2451
I also hit an issue where the Onboarding board does not have images (500 errors in the console). Sounds like a dup of this issue.

[2022-03-03 18:18] chenilim opened #2456 "Bug: Long URL property expands card dialog width on hover"
## Steps to reproduce the behavior

1. Open a card
2. Add and set a URL property with a long URL
3. Hover over the URL
4. The dialog width expands

## Expected behavior

The dialog width should remain constant.

## Screenshots

https://user-images.githubusercontent.com/46905241/156626693-1fef892d-c4f0-490d-8038-509e9066b2f4.mov

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0

[2022-03-03 18:23] sbishel opened #2457 "Bug: Read-only view screen when access revoked"
## Steps to reproduce the behavior

1. Go to Share
2. Publish External Link
3. Using Incognito, go to external link.
4. Should open find.
5. Disable External Link
- either turn off sharing
- or regenerate token
6. Refresh incognito window

## Expected behavior
Unsure...but I think just a blank page, with top banner.

You cannot create a board from here, but shouldn't display.

## Screenshots

![Sc

[2022-03-03 18:26] chenilim opened #2458 "Bug: No login button on publicly shared board"
## Steps to reproduce the behavior

1. Open a board
2. Share it publicly
3. Open the public link in an incognito window
4. The board appears, but there's no invite button

## Expected behavior

Should be an invite button, per the [feature card](https://community-daily.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/b4ctmm917q3rzdfi451qtuxjzcw/vuswsftt1rb873datosmmbtwkpa/czq5spshkmpdz9qo

[2022-03-03 18:27] wuwinson opened #2459 "Bug: First onboarding tour point does not start when Welcome template is selected from template picker"
## Steps to reproduce the behavior

1. Go to template picker
2. Select "Welcome to Boards!" template
3. See error
4. Click on first card to start 2nd tour point.

## Expected behavior

First tour point should trigger on the "Create a new card" card

## Screenshots

https://user-images.githubusercontent.com/93531870/156628200-5bc35d76-42be-4b45-a9f7-a325d14c2059.mov

## Edition and Platform

 - Edi

[2022-03-03 18:29] ogi-m opened #2460 "Bug: Change notification card link doesn't open the card"
## Steps to reproduce the behavior

1. Follow a card as user A
2. Make a change to the card as user B
3. Wait for user A to get a change notification
4. Click on the card link - workspace opens but not the board and card

## Expected behavior

User should land on the card modal

## Screenshots

https://i.gyazo.com/f631b748663f6f44f3b75bf327026a63.mp4

## Edition and Platform

 - Edition: Mattermos

[2022-03-03 18:32] wiggin77 opened #2461 "Bug: Share dialog's close button does nothing"
## Steps to reproduce the behavior

1. Go to a board
2. Click the `Share` button
3. Share dialog appears
4. Click the `X` close button
5. Nothing happens

## Expected behaviour

The dialog should close

## Screenshots
![close-button-bug](https://user-images.githubusercontent.com/5024605/156629004-e95a168d-6d30-4ac8-bdce-9fd6b5738153.png)

## Edition and Platform

 - Edition: Mattermost plugin
 - V

[2022-03-03 18:36] wuwinson opened #2462 "Bug: Restarting tour from Settings menu restarts tour for all Welcome boards"
## Steps to reproduce the behavior

1. Finish or skip through first onboarding tour
2. Go to Settings
3. Select "Product Tour"
4. New Welcome board is created
5. Go back to first Welcome board
6. See error

## Expected behavior

Restarting the product tour should only kick off a new onboarding tour for the new Welcome board that was created. All other Welcome boards should remain unchanged.

## Sc

[2022-03-03 18:39] chenilim opened #2463 "Bug: Console errors when viewing and using board templates"
## Steps to reproduce the behavior

1. Open the browser console
2. Go to the board template selector (add board)
3. Select each template
4. See errors in the console
5. Create a board from the templates that show errors
6. Same errors when viewing specific views in those board (e.g. Project Tasks \ Project Priorities)

## Expected behavior

No errors.

## Screenshots

<img width="1021" alt="Screen

[2022-03-03 18:41] chenilim commented on #2437
Also: Clicking the copy link button results in the dialog width changing.

[2022-03-03 18:43] chenilim commented on #2437
Dup / related to: https://github.com/mattermost/focalboard/issues/2461, https://github.com/mattermost/focalboard/issues/2445, and https://github.com/mattermost/focalboard/issues/2448

[2022-03-03 18:44] wuwinson opened #2464 "Bug: Share modal is different sizes when toggling between Share and Publish"
## Steps to reproduce the behavior

1. Ensure publicly shared boards is enabled
2. Go to a board
3. Click on "Share" button
4. Toggle between Share and Publish tabs
5. See error

## Expected behavior

Modal should be the same size when toggling.

## Screenshots

If applicable, add screenshots to elaborate on the problem.

https://user-images.githubusercontent.com/93531870/156631262-c78c9f64-7c68-4

[2022-03-03 18:47] wuwinson commented on #2464
Dupe of #2437

[2022-03-03 18:47] #2464 closed

[2022-03-03 18:54] wuwinson commented on #2462
Won't fix, closing out.

[2022-03-03 18:54] #2462 closed

[2022-03-03 18:54] wuwinson commented on #2461
Dupe of #2437, closing out.

[2022-03-03 18:54] #2461 closed

[2022-03-03 18:58] ogi-m commented on #2460
Same issue when clicking on _<Jump To Card>_ on an unfurled card link

[2022-03-03 19:16] wuwinson commented on #2457
Should send user to error page with message: "Board may be deleted or access revoked"

[2022-03-03 19:25] wuwinson commented on #2448
Dupe of #2437, closing out.

[2022-03-03 19:25] #2448 closed

[2022-03-03 19:27] wuwinson commented on #2445
Dupe of #2437, closing out.

[2022-03-03 19:27] #2445 closed

[2022-03-03 20:21] chenilim commented on #2420
This should be fixed now / dup of #2430.

[2022-03-03 20:21] #2420 closed

[2022-03-03 22:26] wuwinson commented on #2449
@harshilsharma63 Looks like this should have been addressed in Issue #1548 and PR #1548. Is this a regression? cc @sbishel

[2022-03-03 22:31] wuwinson commented on #2385
@ogi-m Yea this should be addressed for v0.15.

[2022-03-03 23:22] wuwinson opened #2467 "Feature Idea: Improved Support for Card Attachments"
## Summary

Currently, the only attachments that can be uploaded to a card are image files. These images are embedded into the card description, but cannot be enlarged, downloaded, or edited. Other file types such as PDF's and videos are not supported either.

Cards would be more functional if they supported:

1. Opening/enlarging attached images
2. [Toggling and previewing attached images](https:

[2022-03-03 23:26] wuwinson commented on #2467
See [thread](https://community.mattermost.com/core/pl/qabd8rfp378txctor3cqnnox7e) for reference on attaching and previewing images.

[2022-03-04 04:04] raphmim commented on #2467
I would add seeing files as thumbnail to declutter the card and make it easy to navigate the list of files

[2022-03-04 04:37] harshilsharma63 commented on #2451
@chenilim lack of images was the underlying cause of this. So the linked PR fixes both.

[2022-03-04 06:28] harshilsharma63 commented on #2459
@wuwinson ah damn, I totally missed this part of the spec :(

It was pretty simple. Created a PR with the feature implemented. Here's a demo of the same - https://github.com/mattermost/focalboard/pull/2468#issuecomment-1058873813

[2022-03-04 08:10] gotIT4 opened #2469 "No Notifications for Card Updates"
Hi,

we don't get any Notifications from Boards when we updating a Card.

This is in the logs:

level":"warn","msg":"Cannot subscribe mentioned user to card","caller":"app/plugin_api.go:931","plugin_id":"focalboard","user_id":"","card_id":"ctxrikpnpibg8ufbsysprjg667c","error":"\"missing subscriber id\""}

Mattermost-Version: 6.4.1
Datenbankschema-Version: 6.4.1
Datenbank: mysql

[2022-03-04 09:02] harshilsharma63 opened #2470 "Permissions feature Bug: cannot upgrade from 0.14 to latest permissions branch"
## Steps to reproduce the behavior

Install 0.14 and upgrade to the latest permissions branch.

Error in server logs-

[code]

## Expected behavior

You should be able to upgrade.

[2022-03-04 10:42] ogi-m commented on #2079
This test has failed this morning in Rainforest test run.

Reproes on plugin and personal desktop.

cc @lindy65

[2022-03-04 14:32] sbishel commented on #2393
Investigated. It has been this way since implementation, not a regression. Therefore, it doesn't need fixed for v0.15.

@harshilsharma63 Assigning this to you for v0.16. It appears that although views have a `columnCalculations` field. We are actually a common board field `columnCalculations` here - https://github.com/mattermost/focalboard/blob/main/webapp/src/components/table/calculation/calculat

[2022-03-04 14:53] sbishel commented on #2385
@chenilim @wuwinson @ogi-m  After viewing the video, I am pretty sure this is by design.  There are card templates. (NOT Board Templates) As with adding properties to any card view. It adds that property to all cards of the card view. Essentially Card Templates are used to set the values of specific properties. Even adding properties to a card should update the card templates.

@ogi-m - I'm going

[2022-03-04 15:06] wuwinson commented on #2385
@sbishel You're absolutely right. The property names are working as expected - any changes to a property name or type will automatically update that property for all cards.

@mmackenzie Apologies for the confusion. What shouldn't change for card templates are the values assigned to the properties. The video doesn't have any values assigned to the card templates so can't tell here, but I tested on

[2022-03-04 15:46] #2385 closed

[2022-03-04 16:04] mmackenzie commented on #2385
Thanks for all the updates.  It looks like I misunderstood how the templates work.  I was trying to setup separate templates for repetitive tasks among the team.  So if we have 5 fairly typical and common activities but with different properties, I figured I could setup 5 different templates that the guys could select them and add to the board then edit the specifics.

Thanks everyone for the inve

[2022-03-04 16:34] chenilim commented on #2079
Thanks @ogi-m. Since there was a recent fix (#2222), I think we should investigate why it failed now - was this caused by another change? Are there other effects? If it turns out to be a larger issue, we can postpone, but I'll mark it for v0.15 for now. cc @jespino, @sbishel.

[2022-03-04 16:52] wiggin77 commented on #2316
Based on the conversation here https://community.mattermost.com/core/pl/cwppbn1kufrnpqbcuba1cric8e it looks like a code fix is indeed required.  I am assigning to myself.

[2022-03-04 16:56] jespino commented on #2455
@asaadmahmood can you give me an example of the css that you want to provide support for, to test it locally?

[2022-03-04 16:57] asaadmahmood commented on #2455
Just allow an import of an image file in an scss file.

[2022-03-04 17:30] jespino commented on #2079
I'll take a look

[2022-03-04 17:32] jespino commented on #2455
perfect, I'll try it.

[2022-03-04 22:27] wiggin77 commented on #2316
Fixed via https://github.com/mattermost/mattermost-server/pull/19713

[2022-03-04 22:28] #2316 closed

[2022-03-04 23:53] wuwinson opened #2475 "Bug: Product tour always restarts on direct message board"
## Steps to reproduce the behavior

1. Open boards from a direct message to yourself
3. Select another channel
4. Go to settings and restart product tour
5. See error
6. Go to a different channel and restart tour from there
7. See error again

## Expected behavior

Product tour should restart on the current channel the user is on.

## Screenshots

https://user-images.githubusercontent.com/93531870

[2022-03-04 23:54] wuwinson commented on #2475
@harshilsharma63 Occurring on https://boards-bugbash.test.mattermost.cloud/boards/. cc @ogi-m @sbishel

[2022-03-05 00:00] wuwinson opened #2476 "Bug: Language settings menu overlaps Import menu"
## Steps to reproduce the behavior

1. Go to settings menu and click on Import
2. With the settings menu still open, click on Set language
3. See error
4. Click on Import again
5. See error

## Expected behavior

Opening a submenu should dismiss other submenus. Clicking on Set language should close out the Import menu and vice versa.

## Screenshots
![Screen Shot 2022-03-04 at 6 46 27 PM](https://

[2022-03-06 10:16] kamre commented on #2442
Hi @chenilim I have also noticed this performance problem with resizing column and have already looked in React Dev Tools.

One of the reasons is that all components inside the table are rerendered on each mouse movement. Another thing is the issue inside `react-dnd` that was recently fixed in this [pull request](https://github.com/react-dnd/react-dnd/pull/3313).

I am going to work further on thi

[2022-03-07 13:37] jespino commented on #2380
It should be fixed

[2022-03-07 13:37] #2380 closed

[2022-03-07 13:43] jespino commented on #2079
@chenilim it is not failing for me in the personal server edition in the main branch. I'll try it in the plugin mode too.

[2022-03-07 15:36] asaadmahmood commented on #2305
This should be fixed on main.

[2022-03-07 15:36] #2305 closed

[2022-03-07 16:46] lindy65 commented on #2079
Thanks for the update @jespino - I ran the tests in Rainforest and it's no longer reproducing there.  Board, views and cards are restored after pressing CMD/CTRL+Z

I think we're fine to close this issue off again?

cc @ogi-m @chenilim

[2022-03-07 17:17] chenilim commented on #2079
Thanks @lindy65 and @jespino. If it's working now, agree we can close the bug. Do we have any idea why it failed for @ogi-m 3 days ago?

[2022-03-07 17:30] asaadmahmood opened #2483 "Bug: Huge icons above board title"
## Expected behavior
Bug: Huge icons above board title

## Screenshots
<img width="640" alt="Screenshot 2022-03-07 at 10 28 03 PM" src="https://user-images.githubusercontent.com/11034289/157086628-cce9a165-2553-495e-9a65-2a2c6a4274bf.png">

[2022-03-07 17:36] chenilim opened #2484 "UX: Table fonts are inconsistent"
## Steps to reproduce the behavior

1. Open a table with text and URL properties
2. The font sizes of the text, URL and other properties are smaller than the title

## Expected behavior

Text fonts and sizes should be consistent

## Screenshots

<img width="1378" alt="Screen Shot 2022-03-07 at 9 35 08 AM" src="https://user-images.githubusercontent.com/46905241/157087461-b74207c8-da71-4126-937f-37f

[2022-03-07 18:31] jespino commented on #2426
This should be fixed in #2473

[2022-03-07 18:31] #2426 closed

[2022-03-07 18:32] jespino commented on #2398
@harshilsharma63 if I remember correctly, you are taking care of this, right?

[2022-03-07 19:32] jespino opened #2488 "Bug: session errors on anon connections are logged as errors"
## Steps to reproduce the behavior

If an anonymous user hits the API in any endpoint that requires login, when the server tries to get the session it logs an error.

## Expected behavior

Probably it should be in debug, instead of error.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: 0.14
 - Browser and OS: N/A

[2022-03-07 21:10] wuwinson commented on #2459
@harshilsharma63 Is there any risk with taking #2468?

[2022-03-07 21:15] wuwinson commented on #2422
@harshilsharma63 Is it easier to make the onboarding tour work for v0.15 or is it easier to remove the link altogether similar to Personal Desktop? Let's do whatever is easier for v0.15. cc @sbishel @chenilim

[2022-03-07 21:19] chenilim commented on #2476
Might be related / dup of https://github.com/mattermost/focalboard/issues/2070.

[2022-03-07 21:21] chenilim commented on #2476
Dup of https://github.com/mattermost/focalboard/issues/1581.

[2022-03-07 21:21] wuwinson commented on #2476
Dupe of #1581

[2022-03-07 21:26] wuwinson commented on #2450
Wasn't able to repro myself. @harshilsharma63 @ogi-m can you confirm?

[2022-03-07 21:29] wuwinson commented on #2449
Gallery view card titles should be limited to 5 lines max. See #1548 for details.

[2022-03-07 21:39] wuwinson commented on #1516
Potentially target v0.17 or later for this bug. Not a priority for v0.15.

[2022-03-07 21:40] wuwinson commented on #2443
Sounds like we already have a PR for this, let's make sure its working correctly. Thanks!

[2022-03-07 22:10] chenilim commented on #1903
@wiggin77, please verify that the new error page takes care of the first issue above, and close if so. cc @ogi-m.

[2022-03-08 05:51] harshilsharma63 commented on #2475
@wuwinson this is intentional and by design.

We don't want the product tour boards to show up to all users in a workspace to avoid noise. If a workspace has 5 users and they all started the tour from the settings menu, they'll end up with 5 "Welcome to Boards!" boards in the workspace and would have to manually delete them to clean it up.

Until the permissions feature is released, the way to do

[2022-03-08 06:00] #2451 closed

[2022-03-08 08:12] marcungeschikts opened #2489 "Bug: Duplicating a card, does not duplicate anymore the contents inside the card"
## Steps to reproduce the behavior

1. Go to a Board View
2. Click on the 3 point of a card that has content inside(text, or images,....)
3. Select Duplicate
4. The card is duplicated, but it does not contain any content

## Expected behavior

Back to the previous behaviour, where the Duplicate action copy also the content inside the card

## Screenshots

![Card with content](https://user-images.g

[2022-03-08 12:44] ogi-m opened #2491 "Bug: "Go to the dashboard" link on error page should only show in plugin"
## Steps to reproduce the behavior

1. Trigger the error page on personal server
2. Click on "Go to dashboard"
3. User is taken to the dashboard

## Expected behavior

Button to go to the dashboard should not be shown on Personal Server and Personal Desktop, only plugin

## Screenshots

If applicable, add screenshots to elaborate on the problem.

## Edition and Platform

 - Edition: Personal Serve

[2022-03-08 13:23] ogi-m commented on #2463
@chenilim @wuwinson I see this on a newly created server as well.

[2022-03-08 14:31] #1941 closed

[2022-03-08 15:11] #2475 closed

[2022-03-08 15:22] chenilim commented on #2491
On Personal Server / Desktop, we can navigate to home (/) if the user lands on any page that doesn't apply to that edition (Dashboard, etc.).

[2022-03-08 16:13] marcungeschikts commented on #2489
👆🏻 I want also to mention that there is the same issue when creating a template from a card, the contents of the card are not copied to the template.

[2022-03-08 16:28] marcungeschikts opened #2493 "Bug: Focalboard cards are not displayed anymore on mattermost when writing a card link"
## Steps to reproduce the behavior

1. Go to Mattermost
2. On a new message, copy the link of a focalboard card
3. Send the message(enter)
4. You will see the url of the focalboard card, and not the image of the card, like inthe previous version

## Expected behavior

Display the card smal image on Mattermost when writing the link of a focalboard card

## Screenshots

![Focabord ard link](https://

[2022-03-08 17:46] #2212 closed

[2022-03-08 18:21] chenilim opened #2496 "Bug: Board title is truncated, even when there is a lot more space"
## Steps to reproduce the behavior

1. Open a board with a long title
2. The title is truncated, even through there is a lot of room

## Expected behavior

The full title should show if there is room

## Screenshots

<img width="651" alt="Screen Shot 2022-03-08 at 10 17 20 AM" src="https://user-images.githubusercontent.com/46905241/157300691-55718a39-f381-4d6c-8457-745919c2755b.png">

## Edition a

[2022-03-08 18:23] chenilim commented on #2496
@asaadmahmood, just saw this regression on community. Could you take a quick look? Appears to be caused by a CSS change? cc @sbishel, @wuwinson.

[2022-03-08 18:30] chenilim commented on #2463
@sbishel, @wuwinson we may have missed triaging this yesterday. It's a sev 3, but I think it's worth doing a cleanup pass through the built-in templates.

[2022-03-08 18:47] chenilim commented on #2496
Thanks @asaadmahmood! Recommend taking this for v0.15. Fix looks pretty straight forward. Anyone see any issues? cc @sbishel, @wuwinson, @ogi-m.

[2022-03-08 18:53] #2330 closed

[2022-03-08 18:59] chenilim commented on #2493
Thanks @marcungeschikts! The link preview feature should only work on Mattermost, and not Personal Desktop. Could you help check the following:
* The link is to a card on the same Mattermost server
* You are able to open and view that card via that link
* Are there any errors in the System Console or browser console at the time of creating the post?

From the steps and screenshot, it appears that

[2022-03-08 19:00] #2387 closed

[2022-03-08 22:10] wuwinson commented on #2496
Agreed we should take this for v0.15.

[2022-03-08 23:08] wiggin77 opened #2500 "Permissions branch: Async notifyBlockChanged causes race"
## Steps to reproduce the behavior

1. Run unit tests for mysql or postgres in Permissions branch
2. Tests fail with "Database closed" errors

The async notifications when boards or blocks change (e.g. `app.CreateBoardsAndBlocks`) are done

## Expected behavior

Don't run store commands after database is closed

## Edition and Platform

 - Edition: plugin
 - Version: permissions branch
 - Browser

[2022-03-09 08:06] marcungeschikts commented on #2493
Sorry, I was mistaken. I am using Focalboard mattermost plugin installed on a server

[2022-03-09 08:08] marcungeschikts commented on #2489
Sorry, I was mistaken. I am using Focalboard mattermost plugin installed on a server.

[2022-03-09 09:45] marcungeschikts commented on #2493
- The link is to a card on the same Mattermost server: **Yes**
- You are able to open and view that card via that link: **Yes**
- Are there any errors in the System Console or browser console at the time of creating the post?: **Yes** :
![Focalboard link](https://user-images.githubusercontent.com/74183327/157401448-13df2896-40c6-4bdd-8e10-7dd51f249884.png)

[2022-03-09 12:20] jespino opened #2502 "Bug: Permissions branch: Share board not working"
## Steps to reproduce the behavior

1. In a personal server.
2. Go to a board.
3. Share it externally.
4. Open the URL in an incognito window.
5. It fails

## Expected behavior

It should work

## Screenshots

![image](https://user-images.githubusercontent.com/290303/157440797-4fa6164a-2be3-44f5-baf3-746aa8a5c154.png)

## Edition and Platform

 - Edition: Personal Server
 - Version: permissions-fe

[2022-03-09 12:32] jespino commented on #2489
It is working for me in the main branch

[2022-03-09 12:35] jespino commented on #2469
@wiggin77 maybe it is related to the problem with the bot getting assign to the team?

[2022-03-09 13:16] gotIT4 commented on #2469
this problem is slightly different. we get notifications in team boards, but we don't get notifications at boards between only 2 persons.

[2022-03-09 14:51] #2496 closed

[2022-03-09 17:10] wuwinson opened #2505 "Feature Idea: Additional Views for Calendar"
## Summary

Additional views and configurations on calendar view to help me visualize my work items based on my personal and regional preferences:

- Day view
- Year view
- Weekdays / Workdays
- Start week on Monday

## How important this is to me and why

Importance: Medium

Use cases:
1. Focusing on work items due today, similar to a task list.
2. Zooming out to the yearly view to identify dates

[2022-03-09 17:37] wuwinson opened #2506 "Bug: Calendar week/month toggles are applying to all calendars views in the same board"
## Steps to reproduce the behavior

1. Go to Content Calendar template or any board with multiple calendar views
2. Go to the first calendar view
3. Select the Week toggle
4. Go to second calendar view
5. See error - second calendar should be on the Month view by default
6. Select the Month toggle on second calendar
7. Go back to first calendar view
8. See error - first calendar view is back on th

[2022-03-09 17:51] chenilim opened #2507 "Permissions branch: make swagger is broken"
## Steps to reproduce the behavior

1. Check out the `permissions-feature-branch`
2. `make swagger`
3. Errors

## Expected behavior

`make swagger` works

## Edition and Platform

 - Edition: All
 - Version: permissions-feature-branch

## Additional context

The Swagger comments need to updated in sync with API changes.

[2022-03-09 18:21] #2460 closed

[2022-03-09 19:39] sbishel commented on #2437
@asaadmahmood - just a gentle ping on this issue.

[2022-03-09 19:41] wuwinson commented on #2450
@asaadmahmood Are you still able to repro this? Feel free to close out if not. Thanks!

[2022-03-09 20:09] asaadmahmood commented on #2437
@sbishel Fixed it.

[2022-03-09 20:09] wuwinson commented on #2489
Should be working in v0.14, closing out, but please feel free to open if you're still running into this issue in the latest release. Thanks!

[2022-03-09 20:09] #2489 closed

[2022-03-09 20:10] wuwinson commented on #2493
@marcungeschikts Can you upgrade to [v0.14](https://github.com/mattermost/focalboard/releases/tag/v0.14.0) and try again? Thanks!

[2022-03-09 20:12] wuwinson commented on #2491
@wiggin77 Related issue for the error pages.

[2022-03-09 20:19] asaadmahmood commented on #2450
@wuwinson Yup, Harshil is already working on this, he's trying to fix this issue.

[2022-03-09 21:33] chenilim opened #2512 "Bug: Personal Server - Register new account page is incorrectly styled"
## Steps to reproduce the behavior

1. Create a new account on Personal Server
2. The fields are left aligned

## Expected behavior

The fields should be center aligned

## Screenshots

<img width="510" alt="Screen Shot 2022-03-09 at 1 31 56 PM" src="https://user-images.githubusercontent.com/46905241/157539872-bf030111-57af-4624-9c5e-590050063cbc.png">

## Edition and Platform

 - Edition: Persona

[2022-03-10 00:44] chenilim commented on #2463
I took a closer look at this. The issue is caused by the [groupByProperty](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/boardTemplateSelector/boardTemplateSelectorPreview.tsx#L51) and [visibleGroups](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/boardTemplateSelector/boardTemplateSelectorPreview.tsx#L55) variables changing at different times.

[2022-03-10 07:21] #2483 closed

[2022-03-10 07:39] max13fr commented on #1031
Hello,

I upvote this killer feature, focalboard really miss it and it's the main reason why I don't currently use it.

Anyway thanks for your hardwork !

Max

[2022-03-10 08:32] marcungeschikts commented on #2493
On it.
I'll get back to you within the week.

[2022-03-10 09:30] #2456 closed

[2022-03-10 09:41] marcungeschikts commented on #2489
I confirm it works in Feb 2022 version
![image](https://user-images.githubusercontent.com/74183327/157634615-d81c4861-3d61-4291-952c-46a80e3d18d3.png)

[2022-03-10 09:47] marcungeschikts commented on #2493
I confirm it works with the last version of the plugin
![image](https://user-images.githubusercontent.com/74183327/157635194-1f5b1987-9c28-4e80-9ebc-dfc409d489c4.png)

You can close this ticket.
Thanks a lot.

[2022-03-10 14:51] #2457 closed

[2022-03-10 15:08] wuwinson opened #2516 "Bug: Board switcher defaults to template picker instead of first view from first board"
## Steps to reproduce the behavior

1. Go to board switcher
2. Select a board different from your current board
3. See error - view defaults to template picker instead of first view of first board
4. See error

## Expected behavior

It should only go to the new board screen if no boards exist in that workspace, otherwise it should go to the first board and first view.

## Screenshots

https://user

[2022-03-10 15:09] wuwinson commented on #2516
@sbishel @harshilsharma63 Would this be a quick fix for v0.15? cc @asaadmahmood

[2022-03-10 15:25] #2493 closed

[2022-03-10 15:25] wuwinson commented on #2489
Thanks @marcungeschikts!

[2022-03-10 15:29] #2447 closed

[2022-03-10 18:55] wuwinson commented on #2273
@chenilim @sbishel @ogi-m Tested [diacritic characters](https://en.wikipedia.org/wiki/Diacritic) on the properties, comments, and description section of [this card](https://community-daily.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/845b05d4-3de9-4ffe-8b4e-356f67154910/c27424ff-ec94-4486-8772-ed1aef2e617c/ca6orceqqxffx7fbm9gchgkjmaw) and did not have any problems typing or copy/past

[2022-03-10 19:56] chenilim opened #2519 "Bug: Long URL in comment makes Send button go off the screen"
## Steps to reproduce the behavior

1. Open a card
2. Paste in a long, unbroken URL, e.g. `https://www.loom.com/share/kwjfkafskhdfkahdfksdkfqgwiurgui4r974yriu3qy4rui4iuh3qiufhwrhfkwhfkhrksdfksfksdfkskhdfghagfkasfgkja`
3. Send button goes out of view

## Expected behavior

Send button stays in view

## Screenshots

https://user-images.githubusercontent.com/46905241/157744243-7e220209-6420-4116-ba85

[2022-03-10 19:57] chenilim commented on #2519
@asaadmahmood, would you mind checking if the fix for https://github.com/mattermost/focalboard/issues/2456 also fixes this? In general, the card dialog width should remain constant, and control elements should not be pushed out by content.

[2022-03-10 19:59] chenilim opened #2520 "Bug: Ctrl+X and Ctrl+Z don't work in comments"
## Steps to reproduce the behavior

1. Open a card
2. Enter a comment
3. Select some text
4. Press Ctrl+X (or Cmd+X on Mac)
5. Nothing happens

## Expected behavior

The text should be cut.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.15 RC1
 - Browser and OS: Chrome on Mac

## Additional context

Similarly, Cmd+Z / Cmd+Shift+Z to undo / redo typed text in comments doesn'