[2021-08-31 21:53] sbishel commented on #1142
@harshilsharma63 Can you take a look.

[2021-08-31 22:02] chenilim commented on #1142
Note (from @devinbinnie): The Desktop 5.0 changes are currently in this PR: [Desktop App PR-1680](https://github.com/mattermost/desktop/pull/1680). There will eventually (eta tomorrow) be a link in the PR to download the Desktop App to repro.

[2021-08-31 23:40] biva commented on #382
Hello @chenilim for information, Nextcloud just introduced this feature, and it works well :) (see the paragraph **Integrated chat and task management** in https://nextcloud.com/blog/nextcloud-hub-22-introduces-approval-workflows-integrated-knowledge-management-and-decentralized-group-administration/

Were you able to make some progress on your side? Thanks for your great work, we're now starting

[2021-09-01 07:43] henrikhj commented on #1121
Hi @chenilim

That's awesome, but why oh why would you limit such a crucial function to the plugin version?
We are currently using your competitor, let's call them Missile.talk, but if Focalboard would integrate smoothly into Mattermost, then it would be a no-brainer for us to migrate, once our 12-month contract is up - However if we can't evaluate Focalboard with essential functions such as works

[2021-09-01 07:54] kamre commented on #1121
@chenilim @asaadmahmood there was this design for the side bar:
![image](https://user-images.githubusercontent.com/5587620/131633901-ad7655ca-73d5-4841-9c05-4cf6d1e45770.png)
Is this only for the plugin version of Focalboard?

[2021-09-01 07:55] asaadmahmood commented on #1121
@kamre This is quite far down the road, which would allow custom categories, and it should not only be for the plugin, but also for the personal server.

[2021-09-01 07:56] asaadmahmood commented on #1121
Plus, this is still in the works, so not final.

[2021-09-01 08:01] kamre commented on #1121
@asaadmahmood thanks for the answer! I suppose [this card](https://community.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared/47aa9bb4-6967-4a96-83c7-11bd6b20f1eb/7e38eab4-890a-4fc3-8f48-a1f9bd1ab822?r=762db9c6-305c-4d13-8ce6-9f11e5232c24&c=5e94f206-9938-4a68-8eae-a5b7f720a434) is used to track the progress for the side bar improvement.

[2021-09-01 14:05] harshilsharma63 opened #1144 "Bug: Focalboard theme doesn't sync to Mattermost unless opening Focalboard and Mattermost on same app/browser"
**Summary:**
Focalboard theme doesn't sync to Mattermost unless opening Focalboard and Mattermost on same app/browser

**Steps to reproduce the behavior:**
1. log in to Mattermost on the desktop app.
2. log in to Mattermost on the browser. Open Focalboard in the browser.
3. close Mattermost in the browser but keep Focalboard open.
4. change the Mattermost theme in the desktop app.
5. Refresh Focal

[2021-09-01 21:23] chenilim commented on #1143
Thanks @gabrielctn. To be honest, I've not used Apache before, and based those instructions off the [Mattermost docs](https://docs.mattermost.com/configure/configuring-apache2.html). That first part looks right, but I'm not 100% sure about that second block:
[code]
Which doc was that based on? The current docs should be [here](https://www.focalboard.com/download/mattermost/#with-apache-unofficial)

[2021-09-01 21:47] chenilim commented on #1144
Thanks @harshilsharma63. I assume the workaround is to open Channels in the browser, then re-open Boards?

@jespino, is this just a followup workitem? i.e. to reload the theme in Boards?

At some point, Boards should update the theme (and other settings) upon change. i.e. to listen for the appropriate event and refresh the theme.

IMO, this bug is not a high severity that's strictly needed for v0.

[2021-09-01 21:49] gabrielctn commented on #1143
I know Apache is not officially supported, but I saw a few issues about this plugin with websockets problems that were solved so I thought, maybe mine is not too hard...

The second block is necessary because my installation is in a subdirectory of my domain: `https://my.domain.fr/mattermost`
so I have to remap every request to this subdirectory.
After some research I figured that I could simply w

[2021-09-01 22:17] biva commented on #1121
Looks great! I'm not sure to have fully understood though: does it mean that it will be possible to see all the tasks (chilling from all the boards) of a specific user? Or is there another issue to discuss that?

[2021-09-01 23:19] chenilim commented on #1143
Hmmm... I wonder if this is a bug due to subpaths not being supported, tracked by #1110. I see you are trying to work around that with the redirect, but maybe that doesn't work for the websocket upgrade?

[2021-09-01 23:38] chenilim commented on #1121
Hi @henrikhj, yes we are hard at work on smoothly integrating Focalboard with Mattermost. The "plugin version" is a bit misnamed at the moment - what we're really doing is building Focalboard into Mattermost, with the same codebase. Expect to hear more next month.

It sounds like that's what you might be looking for, but I'd love to hear more about your specific needs. Also happy to set up a Zoom

[2021-09-02 08:18] gabrielctn commented on #1143
Oh yes well that seems like it indeed, it is exactly my situation, I believe it will fix the problem.
I see the milestone is for v9, I will have to be patient until it is released then ...
Thank you for your fast support ! And thank you for this great tool, it will really improve the workflow of our lab.

[2021-09-02 13:22] prakharporwal commented on #512
Hello @chenilim . I would like to try to implement this feature . Do you guys have a design system for the UI which I can follow to create the dialog box. Also is their any doc to refer to so as to keep the UI consistent ?

[2021-09-02 15:04] chenilim opened #1145 "Show all workspaces (even with no boards) in the workspace picker"
**Summary:**
The Workspace Switcher (in PR #1052) currently only returns workspaces (channels the user is a member of) with one or more boards. Let's change this to:
* Return all user channels (even with no boards) instead, and
* Display workspaces with no boards below the ones that do in the dropdown

**How important this is to me and why:**

Importance: High

The main reason for this is so users

[2021-09-02 15:05] chenilim commented on #1145
Filing this issue to track as discussed @harshilsharma63. FYI @asaadmahmood, @sbishel, @ogi-m.

[2021-09-02 16:22] #1112 closed

[2021-09-02 20:56] chenilim commented on #512
Thanks @prakharporwal. Yes, we need to establish a component or pattern for the dialog system first. @asaadmahmood, do you know if we have anything ready to go, e.g. reusable from the mattermost-webapp code or Compass design system? If not, we may need to defer this, and build the infrastructure as a team first.

The alternative would be to pick an "off-the-shelf" dialog system in React.

[2021-09-03 07:11] Goganoid commented on #1126
I got the same problem. When I go to the folder containing app and run it, everything works fine. However, If I launch it using absolute path I get blank screen.
App works properly:
`
cd  ~/focalboard-app
focalboard-app
`
Blank screen:
`
~/focalboard-app/focalboard-app
`

[2021-09-03 07:15] Goganoid commented on #1126
I got the same problem. When I go to the folder containing app and launch Focalboard binary, everything works fine. However, If I launch it using absolute path I get  a blank window.
App works properly:
[code]
Blank window:
`$ ~/focalboard-app/focalboard-app`

[2021-09-04 17:40] kamre commented on #1013
@chenilim @sbishel I have started working on this issue.

[Initial fix](https://github.com/kamre/focalboard/commit/06e766f84a2ba9d97f4cf3f116e32e73286165d3) is done. Also I want to perform a small refactoring extracting the code for `select` type from `PropertyValueElement` mega component.

[2021-09-06 04:42] harshilsharma63 opened #1150 "Bug: Focalboard with Mattermost desktop app v5 shows session expired screen on fresh launch."
**Summary:**
Focalboard with Mattermost desktop app v5 shows session expired screen on fresh launch.

**Steps to reproduce the behavior:**
1. Install Mattermost desktop app v5 from `Desktop v5.0` channel.
2. Open Mattermost. Let the loading screen complete.
3. Switch to the `Boards` tab. Notice the error

**Expected behavior:**
Not sure.

**Screenshots:**
<img width="1034" alt="Screenshot 2021-09-

[2021-09-06 08:02] jespino opened #1153 "Bug: Use the compass-icons from mattermost-webapp when we are in plugin mode"
**Summary:**
When we are in plugin mode, we are using our own compass-icons version and that is overwritting the icons font from mattermost-webapp. Focalboard should share the compass-icons from mattermost-webapp instead of using its own version.

[2021-09-06 12:17] #1056 closed

[2021-09-06 12:17] #1133 closed

[2021-09-06 12:28] harshilsharma63 commented on #1145
I'll be working on this independent of the original workspace switcher. That once can be tested and merged while this one continues in development.

[2021-09-06 21:39] ogi-m opened #1154 "Bug: Refresh required after every action in HA"
**Summary:**
Same as the [previously reported bug](https://github.com/mattermost/focalboard/issues/1125), but it only reproduces in HA environment

**Steps to reproduce the behavior:**
1. Install latest plugin build from main in an HA environment
2. Open boards
3. Click +Add Board and select a template

**Expected behavior:**
New board opens and appears in the sidebar without having to refresh

**

[2021-09-07 04:38] #1100 closed

[2021-09-07 04:38] chenilim commented on #1150
Thanks @harshilsharma63. Do you have an idea what the root cause of this is? i.e. is the Desktop app loading the correct URL? The expected behavior is the workspace for the current channel should load correctly - since the user is already logged into the server on Channels. cc @devinbinnie - do you see a repro of this too? Thanks.

[2021-09-07 04:41] chenilim commented on #1154
Thanks @ogi-m. We can discuss more at the team meeting tomorrow. But it sounds like we need to fix this for v0.9. Do you have a test environment set up with the repro? cc @sbishel, @jespino, @mgdelacroix.

[2021-09-07 06:18] jiunbae opened #1155 "Feature Idea: Docker HTTPS support"
**Summary:**
Enabling HTTPS on focalboard docker image

**How important this is to me and why:**

Importance: High/Medium/**Low**

Use cases:
1. `docker run -it -p 443:8000 mattermost/focalboard -e HTTPS=true -e $path_to_key_or_key_itself`

**Additional context / similar features:**
Any examples of good implementations of this capability.

[2021-09-07 09:26] prakharporwal commented on #512
@chenilim @asaadmahmood  Any updates on the Dialog System . Did you find it in Mattermost ? If not can I just use the confirm() in javascript to raise a warning to the user .

[2021-09-07 09:28] asaadmahmood commented on #512
@prakharporwal You can use the one that's visible in the mockup.
I have opened the Figma file for viewer access, so if you can reuse that design, that would be great.
https://www.figma.com/file/a3SJgKolniXEU2G4zG8Uc0/Issue-512-Deleting-a-property?node-id=101%3A3227

[2021-09-07 09:31] prakharporwal commented on #512
You want me make a react component by my own and use this design ?

[2021-09-07 11:36] kamre commented on #512
There is [this page](https://zeroheight.com/29be2c109/p/426c9b-modals) about modals in the "Compass Design System".

Also it might be worth to look at the [CardDialog](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/cardDialog.tsx#L83-L116) component and how it is used in the [CenterPanel](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/centerPanel

[2021-09-07 11:47] ogi-m commented on #1154
@chenilim I've created an HA test environment with the cloud plugin [here](https://boards-ha.test.mattermost.cloud/) ( sysadmin / Sys@dmin123 ).

[2021-09-07 12:16] asaadmahmood commented on #512
@prakharporwal Or you can use the ones that @kamre mentioned.

[2021-09-07 12:54] ogi-m commented on #1095
@asaadmahmood The icons for the products are now match, but the ones below do not:

![channels_icons](https://user-images.githubusercontent.com/15314183/132348045-5af3f40a-b9c9-49a6-9956-99b2959fba7c.jpg) ![boards_icons](https://user-images.githubusercontent.com/15314183/132348052-e9fd45cb-cfaf-4ed7-b8cd-02d7aad6ad32.jpg)

[2021-09-07 18:42] AlexR1712 commented on #760
I currently have the same problem, using last version of Mattermost community and I just install the focalboard using the marketplace but is not working says: WebSocket is closed before the connection is established.

[2021-09-07 20:10] chenilim commented on #1153
Thanks for filing this @jespino. Should this be fixed for v0.9? I assume so, otherwise we will continuously run into conflicts. Assigning to @sbishel to reassign. Also, here's the [link to thread](https://community.mattermost.com/core/pl/5c8rwawnib8pmy8j47maaf63sy) with more details.

[2021-09-07 20:12] chenilim commented on #1150
Thanks @devinbinnie. This might be a dup of #1142, but we should test to confirm that both issues are fixed with the proposed change (to use `browserHistory`). cc @sbishel, @ogi-m.

[2021-09-07 20:32] chenilim commented on #760
Thanks for reporting this @AlexR1712. Did you complete the [NGINX config steps here](https://www.focalboard.com/download/mattermost/#with-nginx)? Are there any more detailed errors in the Chrome network tab or NGINX logs?

[2021-09-07 23:24] AlexR1712 commented on #760
Yes I do,
In fact it seems that the problem is in that particular version (v0.8.2) of the plugin, because I manually uploaded the last version that was released and now everything works correctly.

[2021-09-08 10:19] harshilsharma63 commented on #1142
@devinbinnie I'm working on this once. I'll be contacting you to verify the changes I'll be making.

[2021-09-08 13:33] alexaeco opened #1159 "Feature Idea: Sharing option for the app."
Hi;

I've searching for an app like Focalboard for a moment now. There is a million of apps but none is free.
I have a small company and Focalboard would be the best if there was a sharing option for the app.

I'm just a regular user who doesn't have coding qualities.

Would a sharing option be possible ?

Cheers,
Alex

[2021-09-08 18:00] chenilim opened #1161 "Add link to Give Feedback form"
**Summary:**
Add a link to give feedback.

**Additional context / similar features:**
Provide a low-friction way for our users to provide product feedback.

[2021-09-08 19:37] chenilim commented on #1034
@justinegeffen, I notice that the URL is currently https://docs.mattermost.com/guides/boards.html. Will this be the final one for v0.9 / Oct? Or should the link in the app go to https://docs.mattermost.com/boards? If so, when will that be live? Thanks.

[2021-09-08 23:34] #1161 closed

[2021-09-08 23:49] #1034 closed

[2021-09-09 05:27] #1130 closed

[2021-09-09 05:33] kamre opened #1164 "Bug: unreadable visited links in the card description for dark theme"
**Summary:**
Styling for visited links makes them unreadable for dark theme when the board is opened from the mattermost channel.

**Steps to reproduce the behavior:**
1. Go to [focalboard channel](https://community.mattermost.com/core/channels/focalboard)
2. Set dark theme in settings, for example "Indigo"
3. Use pinned message and open "Meeting Notes" board
4. Open any card that has a link in th

[2021-09-09 10:48] #1145 closed

[2021-09-09 11:05] ogi-m opened #1165 "Bug: Styling is different when accessing through the /plugins/focalboard/workspace/ URLs"
**Summary:**
The styling is different when accessing boards through the old `/plugins/focalboard/workspace/` compared to the new `/boards/workspace/`.
Compare the screenshots and note the scroll bars, font weight, labels etc don't look right on `/plugins/focalboard/workspace/`

**Steps to reproduce the behavior:**
1. Open a board with the /plugins/focalboard/workspace/ url, for example the focalbo

[2021-09-09 13:59] chenilim commented on #1164
Could you investigate @asaadmahmood? Not sure if this (visited link style) is defined in the Mattermost theme or not.

[2021-09-09 14:05] ogi-m opened #1166 "Bug: Theme styling not applied to "About Mattermost" modal"
**Summary:**
Current theme styling isn't applied to the _About Mattermost_ modal when opened from Boards.
I'm on a dark theme and the _About_ modal is white with gray text and light blue links which are very hard to read.

**Steps to reproduce the behavior:**
1. Open Boards from Mattermost
2. Click on the app switcher in the header
3. Click "About Mattermost"
4. Observe the modal styling

**Expect

[2021-09-09 16:05] ogi-m opened #1167 "Feature Idea: Adding a build number in the UI"
**Summary:**
There's currently no way to know which build of the plugin you have installed.
For example you might have v0.9.0 installed but you don't know if it's a build from _main_ or the v0.9.0 branch.

Adding a build number (and branch?) somewhere would help to easily identify this.

[2021-09-09 16:19] chenilim opened #1168 "Redirect 0 viewIds to the first view"
**Summary:**
Redirect requests with viewId = 0 to the same route with viewId = the id of the board's first view.

This should be applied to all routes with a viewId, including:
* `/workspace/:workspaceId/:boardId?/:viewId?/:cardId?`
* `/workspace/:workspaceId/shared/:boardId?/:viewId?`
* `/board/:boardId?/:viewId?/:cardId?`
* `/:boardId?/:viewId?/:cardId?`
* `/shared/:boardId?/:viewId?`

i.e. gene

[2021-09-09 16:20] chenilim commented on #1139
Per the discussion at our Sep 9 dev meeting, we have decided not to make this change, in favor of the behavior specified in #1168.

[2021-09-09 16:20] #1139 closed

[2021-09-09 16:42] chenilim opened #1169 "Honor the Mattermost language setting if possible"
**Summary:**
When running as a plugin, Boards should use the Mattermost language setting if none is currently set and that language translation is available. It should fall-back to English as the default if the language is not available.

**Additional context / similar features:**
For now, the user can choose a language in Boards independent of Mattermost, but Boards should default to the Mattermo

[2021-09-09 17:14] justinegeffen commented on #1034
Yep, that's the final URL - the "guides" part is the landing page which is the same across channels, playbooks, and boards. :)

[2021-09-09 17:15] chenilim commented on #1034
Thanks @justinegeffen! We're all set then. For future reference, that URL is stored in [the doc-boards fwlink](https://github.com/mattermost/focalboard/blob/main/website/site/content/fwlink/doc-boards.html), which is opened by the in-product link, so we can easily change this later if needed.

[2021-09-09 17:27] justinegeffen commented on #125
I've edited the labels for consistency. As far as I understand, changing the case shouldn't cause any issues. @metanerd, it seems like you can edit labels across an organization but not sure whether it means you can do a bulk update of labels or if each project needs to be done individually. [LMK if this helps](https://docs.github.com/en/organizations/managing-organization-settings/managing-defaul

[2021-09-09 17:28] #125 closed

[2021-09-09 17:30] justinegeffen commented on #1034
Brilliant, thank you!! :)

[2021-09-09 21:45] chenilim opened #1171 "Bug: Table calculation row is visible UNLESS on hover after setting a calculation to None"
**Steps to reproduce the behavior:**
1. Open a table view
2. Set the calculation on a column (e.g. to count values)
3. Set it back to None
4. Unset calculations in the calculation row remains visible, but is hidden on hover

**Expected behavior:**
Unset calculations in the calculation row should always be hidden unless on hover

**Screenshots:**
https://user-images.githubusercontent.com/46905241/1

[2021-09-09 21:47] chenilim commented on #1171
Looks like there may be a logic error when implementing #1076. However, I think this is low-enough severity that can wait post v0.9. cc @sbishel, @ogi-m, @asaadmahmood.

[2021-09-09 21:52] chenilim opened #1172 "Bug: User dialog has large extra white-space"
**Steps to reproduce the behavior:**
1. Open Boards
2. Click on the user avatar at the top right
3. The user dialog has a large extra space under "Do not disturb"

**Expected behavior:**
Should look the same as the dialog in Channels

**Screenshots:**
<img width="295" alt="User dialog 1" src="https://user-images.githubusercontent.com/46905241/132767422-e9eac654-cf6c-464e-83f6-13740ec59259.png">

*

[2021-09-09 21:53] chenilim commented on #1172
@asaadmahmood, do you have bandwidth to take a look at this? I suspect it's a regression from #1132. FYI @sbishel, @ogi-m.

[2021-09-09 22:01] chenilim opened #1173 "Bug: Screen position judders when hovering over "Show Description" button"
**Steps to reproduce the behavior:**
1. Open a board or table
2. Hover over the "Show Description" button at the top
3. The content below is pushed down, resulting in a visual judder

**Expected behavior:**
The other page content location should not change on hover.

**Screenshots:**
https://user-images.githubusercontent.com/46905241/132768286-e9e6cb88-9b76-4879-b6ed-6cb5699f2dad.mov

**Platform:*

[2021-09-09 22:03] chenilim commented on #1173
@asaadmahmood, this is similar to #1024, but is a regression. I think we can live with this for v0.9, but it's a poor first impression, and if you think it's an easy and safe fix, we can take it for v0.9. cc @sbishel, @ogi-m.

[2021-09-10 05:10] kamre commented on #705
@chenilim @asaadmahmood I have started prototyping for better workflow when adding new property.

Here is how it looks currently:
![AddNewPropertyMenu](https://user-images.githubusercontent.com/5587620/132802541-20f42f54-0f97-49dd-b90c-84de54ab9d5e.gif)
What do you think about this?

[2021-09-10 05:31] kamre commented on #1171
Can probably be fixed with a change like this:
[code]

[2021-09-10 05:40] kamre commented on #1173
The reason is that `min-height` for the container is `28px` and button `height` [was changed](https://github.com/mattermost/focalboard/pull/1138/files#diff-3821ab810407205c0e9df9f20311ddedf382208a89ca3e90a2935573e698da46R16) to `32px`.
Possible fix:
[code]

[2021-09-10 09:30] justinegeffen commented on #125
Ah thanks so much @chenilim and apologies for any issues caused! Definitely good to know and also well-worth documenting in the Handbook (which I will do). :)

[2021-09-10 15:13] ogi-m commented on #1161
Verified on v0.9.0 RC9
- _Give Feedback_ link is present next to the version in the top right
- Opens a feedback form in google docs

Possible enhancement - should the form open in a new tab maybe? @chenilim @asaadmahmood

[2021-09-10 15:16] ogi-m commented on #1112
Verified on v0.9.0 RC9 - Sort/Filter is highlighted if sorting/filtering is applied

[2021-09-10 15:21] ogi-m commented on #1034
Verified on v0.9.0 RC9, help links opens https://docs.mattermost.com/guides/boards.html

[2021-09-10 15:36] tjbortz1s opened #1181 "Request to update windows store focalbord to a later version more frequently."
**Summary:**
Right now the windows store version is on v0.8.0.

- Items fail to drag properly at times, or do not update to their correct position, requiring a closing and re-opening of the screen..
- The top headers do not scroll with the rest of the items.
- The page randomly resets and items become hidden or unhidden.
- The width of the screen doesn't properly scale to items so there are button

[2021-09-10 17:40] ogi-m opened #1182 "Bug: "Set language" menu opens over the root menu and pushes it to the left"
**Steps to reproduce the behavior:**
1. Open Boards from Mattermost
2. Click on the Settings button in the top right corner
3. Move the mouse over "Set Language" option

**Expected behavior:**
Menu should open to the left of the settings menu (as the arrow indicates)

**Screenshots:**
https://user-images.githubusercontent.com/15314183/132895008-9c926916-f6d8-4616-97bf-102265f19515.mp4

**Platform:

[2021-09-10 17:43] paulpremont opened #1183 "Feature Idea: Get the binary back ?"
I'm in a hurry to test that soft.

But when you read the documentation (https://www.focalboard.com/download/personal-edition/desktop/) , it says that you can get the focalboard-linux.tar.gz archive.

I don't find this file from the link of the documentation.

Is is possible to upload it ?

Many thanks.

[2021-09-10 18:26] chenilim commented on #1181
Thanks for reporting these issues @tjbortz1s! Definitely noted. Long story short, the issues above should be fixed in v0.9, but our schedule was impacted, and it should be released in 1-2 weeks time. Normally, the App Stores should be updated once a month.

In the meantime, if you would like, please check out the [v0.9.0 RC9 release](https://github.com/mattermost/focalboard/releases/tag/v0.9.0-rc9

[2021-09-10 18:38] chenilim commented on #705
Thanks @kamre! This looks great! I agree that requiring the user to pick the property type first is a good idea. Setting the default name to the type is also handy. This doesn't add much more complexity, but significantly improves the flow. Awesome stuff! 🙌

[2021-09-10 18:41] chenilim commented on #1182
Thanks @ogi-m! This is a regression from RC8, and should be fixed for v0.9. Might be related to #1172, and hopefully is just a CSS change. @asaadmahmood, could you help investigate? I'm concerned that this bug could affect other UI as well. cc @sbishel, @jespino.

[2021-09-10 18:44] chenilim commented on #1183
Thanks @paulpremont, and sorry for the confusion. The latest published release is [v0.8.0](https://github.com/mattermost/focalboard/releases/tag/v0.8.0), which includes all the binaries. Some of the releases are "plugin-only" and don't have the desktop binaries.

If you want to check out the latest (soon to be released) build, that's currently [v0.9.0 RC9](https://github.com/mattermost/focalboard/

[2021-09-10 18:44] #1183 closed

[2021-09-10 19:12] jespino commented on #1129
This bug is because the user has no theme configured in the database, so it is using the default theme in mattermost and the default theme in focalboard. that should be fixed making the default theme match the mattermost channels theme.

[2021-09-10 20:31] #1153 closed

[2021-09-10 20:34] #1141 closed

[2021-09-10 23:10] #1136 closed

[2021-09-11 02:01] moicool6 commented on #1182
Is it impossible to save the record of setting language, and you need to set it again every time.

[2021-09-11 02:37] chenilim commented on #1182
Thanks @moicool6! What version are you running? I'm not able to repro this on v0.9.0 RC9 (running as a plugin on our community server). Are you running one of the desktop apps or Personal Server 0.9.0 RC9? Thanks.

[2021-09-12 19:59] Ataraxxia commented on #103
Size of the team doesn't matter. I work in multiple teams/companies consisting of no more than 10 people, and at it's not the case of team size/project scope, but how many internal services you already have to support.  If i can authenticate with SSO to all my services but not to Focalboard, then i  am simply forced to reject it for the start in favour or possibly worse solution that i don't reall

[2021-09-13 04:45] kamre opened #1189 "Bug: kanban column header is overlapping with the scrolled content"
**Steps to reproduce the behavior:**
1. Go to [v1 Focalboard (read-only)](https://community.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared/47aa9bb4-6967-4a96-83c7-11bd6b20f1eb/7e38eab4-890a-4fc3-8f48-a1f9bd1ab822?r=762db9c6-305c-4d13-8ce6-9f11e5232c24)
2. Select _By Status_ view
3. Scroll horizontally to see the last column
4. Scroll vertically so that some cards go above the co

[2021-09-13 11:12] kamre opened #1191 "Bug: menu for card content item is covered with other items"
**Steps to reproduce the behavior:**
1. Create new empty board
2. Create new card
3. Add couple of checkbox items to card content
4. Activate popup menu for the first item
5. Menu is covered with other items below the current one

**Expected behavior:**
Menu should be on top of any other items

**Screenshots:**
![CardContentItemMenu](https://user-images.githubusercontent.com/5587620/133073715-1b9f

[2021-09-13 14:37] kamre opened #1192 "Bug: uncaught TypeError for person property type in single user mode"
**Steps to reproduce the behavior:**
1. Start server in a single user mode (or use any desktop app)
2. Create new board
3. Create new card
4. Add new property and change its type to `person`
5. Uncaught TypeError: Cannot read properties of undefined (reading 'toString')

**Expected behavior:**
There should be no exception. Before it just showed "No option" in the select menu.

**Platform:**
 - Bro

[2021-09-13 15:21] chenilim commented on #1191
Thanks @kamre! Confirmed this is an issue on Chrome Mac as well. Looks like the menu z-order is incorrect? @asaadmahmood, this may be related to the other menu issues, and we should fix for v0.9. Could you take a quick look? If it's a more involved fix, let's discuss. cc @sbishel, @ogi-m.

[2021-09-13 15:52] ogi-m commented on #1189
This is not limited to read-only view, I can repro in regular view as well
cc @chenilim

[2021-09-13 16:45] chenilim commented on #1189
Thanks @kamre and @ogi-m! @asaadmahmood, could you investigate this too? It seems there might be some z-order issues in the UI. @ogi-m, what platform were you able to repro this on? I couldn't repro on Mac (Chrome, FF, Safari), or Windows Edge.

[2021-09-13 16:49] ogi-m commented on #1189
@chenilim I can see it on Windows Chrome, Firefox & Edge. Try scaling down the browser width and make sure it's scrolled all the way to the right horizontally, that should help repro.

[2021-09-13 16:50] justinegeffen commented on #1105
Thanks, @chenilim! Change is noted; no docs impact.

[2021-09-13 17:47] #1095 closed

[2021-09-13 20:41] gaael commented on #1126
Thanks for the workaround, I'll try that tomorrow and update my post if it works.

[2021-09-13 20:56] tjbortz1s commented on #1181
Managed to flip over to the windows zip build and that's working a ton better.
I'll use that instead of the windows store going forward, thank you.

[2021-09-13 21:01] tjbortz1s opened #1195 "Bug: Focalboard windows shows error when run in a UNC path based desktop."
**Steps to reproduce the behavior:**
1) Extract the windows build zip from the releases tab to a desktop folder that is redirected to a UNC path fileshare folder.
2) Run the .exe
3) The application will launch, but instead of loading into the interface it will show "This page isn't working right now".

This may be related to the length of the path instead of the path being a UNC path.

**Expected

[2021-09-13 21:11] tjbortz1s opened #1196 "Feature Idea: Provide way to go back or cancel after clicking provide feedback button at top right"
**Summary:**

Right now after clicking the feedback button at the top right of the program gets caught in a stuck state where the only way to progress is to give feedback.  If you're a curious user who doesn't want to actually give feedback that means you have to close and re-open the program to get back to the original screen.

**How important this is to me and why:**

Importance: Low

[2021-09-13 21:23] chenilim opened #1197 "Bug: Import archive menu item missing from settings menu"
**Steps to reproduce the behavior:**
1. Open the settings menu from the Global Header
2. The import archive option is missing

**Expected behavior:**
The import archive option should be selectable

**Screenshots:**
<img width="283" alt="Settings menu bug" src="https://user-images.githubusercontent.com/46905241/133158157-7f8626f1-35f2-4c9e-97fa-d9701835fb94.png">

**Platform:**
 - v0.9.0 RC9 on Com

[2021-09-13 21:24] chenilim commented on #1197
Hi @asaadmahmood, your PR #1194 might have fixed this already, but this appears to be a related issue - where the menus aren't bounded by the window. In any case, we need to fix and verify this for v0.9. cc @ogi-m.

[2021-09-14 05:52] asaadmahmood commented on #1197
@chenilim Yup, this is fixed.

[2021-09-14 11:13] #991 closed

[2021-09-14 11:13] #1129 closed

[2021-09-14 12:25] harshilsharma63 commented on #1171
Thanks, @kamre, that definitely makes it simpler.

[2021-09-14 12:58] ogi-m opened #1200 "Bug: Workspace switcher > "0 Board" when a workspace doesn't have any boards"
**Steps to reproduce the behavior:**
1. Open Boards
2. Open the workspace switcher
3. Observe a channel with no boards

**Expected behavior:**
It should say "0 Boards" instead of "0 Board"

**Screenshots:**
![workspace_switcher](https://user-images.githubusercontent.com/15314183/133261281-809471fd-f933-43c8-8532-a6f8f73cce63.jpg)

**Platform:**
 - latest main plugin build on mattermost master

[2021-09-14 13:25] ogi-m opened #1201 "Bug: Theme styling not applied to modals opened from the header"
**Steps to reproduce the behavior:**
1. Set a dark theme in Mattermost
2. Go to Boards
3. Click on the avatar in the header
4. Open Custom Status or Account Settings modal

**Expected behavior:**
Modal styling should match the theme

**Screenshots:**
![modal_theme](https://user-images.githubusercontent.com/15314183/133265664-091bcbfc-7220-49f2-a45e-3261732c2dbb.jpg)
![modal_theme1](https://user-im

[2021-09-14 15:58] #1172 closed

[2021-09-14 15:58] #1173 closed

[2021-09-14 15:58] #1182 closed

[2021-09-14 15:58] #1189 closed

[2021-09-14 15:58] #1191 closed

[2021-09-14 15:58] #1197 closed

[2021-09-14 16:32] chenilim opened #1203 "Update plugin.json to require Mattermost v6.0.0"
**Summary:**
Update the plugin manifest to require Mattermost v6 for the v0.9 release.

[2021-09-14 16:37] sbishel opened #1205 "Bug: Title and Document Count is off with long group message names"
**Steps to reproduce the behavior:**
1. Create a long Group Channel with 4 or 5 members
2. Go to Workspace Selector
4. See how title and number of boards is jumbled.

**Expected behavior:**
The Title should not overflow and use an elipses.

**Screenshots:**
![Screen Shot 2021-09-14 at 10 33 51 AM](https://user-images.githubusercontent.com/12704875/133297951-462cde39-c1f9-420e-ba32-8a4dfd09b22b.png

[2021-09-14 16:41] chenilim commented on #1205
Thanks @sbishel. @harshilsharma63, I think we should fix this for v0.9 - the title should push the content below down, or (worst case) cut off at a single line and not overlap. cc @asaadmahmood, @ogi-m.

[2021-09-14 17:13] asaadmahmood commented on #1205
Cut off on a single line and overflow elpissis should probably be fine for now.

[2021-09-14 17:43] ogi-m opened #1206 "Bug: Comment are sorted by oldest month first but most recent comment is at the top of the month"
**Steps to reproduce the behavior:**
1. Go to Focalboard
2. Open a card with a long history of comments
3. Observe the comment sorting

**Expected behavior:**
Cards are presented from oldest to newest (or newest to oldest?)

**Screenshots:**
![comment_ordering](https://user-images.githubusercontent.com/15314183/133306706-bb6ef54d-946d-4bd8-b518-664bcf299944.jpg)

**Platform:**
 - plugin v0.9.0 RC9

[2021-09-14 17:47] ogi-m commented on #1206
These cards are both on community, but the ordering is opposite - one is oldest to newest and the other is newest to oldest.

![oldest_to_newest](https://user-images.githubusercontent.com/15314183/133307762-a3308f22-84d1-4810-838e-6ace6c7619d5.jpg)
![newest_to_oldest](https://user-images.githubusercontent.com/15314183/133307757-8c9ad097-7a19-42d3-9c0e-1a7c30ca3204.jpg)

cc @chenilim

[2021-09-14 18:07] chenilim commented on #1206
Thanks @ogi-m. I took a quick look and it seems that the comments are not being sorted (see [getCardComments](https://github.com/mattermost/focalboard/blob/main/webapp/src/store/comments.ts#L53)). I think this is a regression, but am not sure. In any case, I believe we should fix this for v0.9 as out-of-order comments can be confusing. The order should be oldest-on-top.

Good news is the fix appea

[2021-09-14 19:45] chenilim commented on #1201
@jespino, do you think we should take this for v0.9? The change looks small, but has the potential to break other things. cc @ogi-m, @asaadmahmood, @sbishel.

[2021-09-14 19:47] chenilim commented on #1201
My opinion is: If the only impact is some text in the custom status dialog is unreadable, then it's ok not to fix for v0.9. However, are there other higher-sev impacts?

[2021-09-14 19:52] #1206 closed

[2021-09-14 19:54] chenilim commented on #1203
Reopening this to track re-merging into release-0.9.0 for the final build.

[2021-09-14 20:01] ogi-m commented on #1201
I've installed the plugin from the fix PR on [this](https://focalboard.test.mattermost.cloud/ ) cloud test server (sysadmin/Sys@dmin123) to take a quick look.

It affects the three modals (Custom Statuses, Account Settings & About), but only Custom Statuses is at a point where it's unreadable @chenilim

[2021-09-14 21:14] chenilim commented on #1196
Thanks @tjbortz1s! Are you using this via a web browser? If so, the back buttons should take you back to the board. Please LMK if that doesn't work.

On the Desktop v5, there's currently a bug (#1142), where the back navigation is broken.

[2021-09-14 21:15] sbishel commented on #1192
This issue has already been fixed in this PR. (Merged after this was written.)
https://github.com/mattermost/focalboard/pull/1178

The offending PR had not been cherry picked to release-0.9.0.
So the CP was updated to contain this fix as well.
https://github.com/mattermost/focalboard/commit/26dba73f007296d9fba68fbda5d85886db8d3609

[2021-09-14 21:15] #1192 closed

[2021-09-14 21:19] chenilim commented on #1195
Thanks for filing this @tjbortz1s! My quick guess is this might be an issue with using the current working directory with a file share (i.e. in [utils.cs](https://github.com/mattermost/focalboard/blob/main/win-wpf/Focalboard/Utils.cs#L7)), or in the server initialization. Putting this up for grabs if someone can debug further. Thanks.

[2021-09-14 21:20] #1181 closed

[2021-09-14 21:28] chenilim commented on #1165
Thanks @ogi-m! I did a quick test, and this appears to affect shared board URLs (which are /plugin/...), but only if opened in a window where I've logged in (i.e. not in a private window).

What do you think @jespino or @harshilsharma63? I wonder if this is related to or fixed by #1186, which hasn't been cherry-picked to `release-0.9.0` yet.

[2021-09-14 21:35] #1013 closed

[2021-09-14 21:36] chenilim commented on #1159
Hi @alexaeco! It sounds like you are looking for a way to share boards with colleagues?

From the desktop apps, you can [export an archive](https://www.focalboard.com/guide/user/#archives), and send it to someone else to import.

If you work regularly with others, check out [Personal Server](https://www.focalboard.com/download/personal-edition/ubuntu/) for small teams, or [Mattermost](https://matt

[2021-09-14 21:39] chenilim commented on #1155
Thanks @jiunbae! Opening this up for more input or if someone wants to take a crack at it. I'm not super experienced with this myself, but it seems like we would also have to specify the domain to use.

[2021-09-14 21:40] chenilim commented on #1013
Thanks for fixing this @kamre!

[2021-09-14 21:54] tjbortz1s commented on #1196
No urgency here at all, just to be clear, I am fine not clicking the feedback button and this isn't an issue for me, opening this ticket here is more a "here's something!" than a "I'm having a problem".

I am on the Windows app - latest prerelease - there is no back button visible I am aware of.

Here is what I see after opening the feedback page:
![image](https://user-images.githubusercontent.com

[2021-09-14 23:31] chenilim commented on #1196
Ah, thanks! Looks like the root issue is the link should open in a browser from the app, like the help button. I'll submit a PR.

[2021-09-14 23:34] chenilim commented on #1161
Thanks @ogi-m. Agree that opening in a new tab is preferable. I'll fix it with #1196.

[2021-09-15 05:30] badrihippo opened #1209 "Bug: Inline images in board description overflow from screen"
**Steps to reproduce the behavior:**
1. Create a new board
2. Add a description
3. Within the description, insert a large image using a Markdown expression like `![astrofish](https://media.snipettemag.com/seance-uploads/2021/8/ocean-genes/1vobi2tLbk2oQknaeBF3HGQ.jpeg)`
4. The image now spills out of the screen because its dimensions are larger than the screen width. Additionally, one can't scroll

[2021-09-15 11:47] ogi-m commented on #1201
@chenilim With all of the default themes I tested the global header modals and menus, as well as board views, cards, dropdown menus etc and all looks good.

[2021-09-15 12:43] ogi-m commented on #1095
Verified on RC11

[2021-09-15 12:44] ogi-m commented on #1141
Verified on RC11 - Mattermost icon is now shown in Boards

[2021-09-15 12:47] ogi-m commented on #1189
Tested and passed on v0.9.0 RC11

[2021-09-15 12:47] ogi-m commented on #1182
Tested and passed on v0.9.0 RC11

[2021-09-15 12:47] ogi-m commented on #1173
Tested and passed on v0.9.0 RC11

[2021-09-15 12:48] ogi-m commented on #1191
Tested and passed on v0.9.0 RC11

[2021-09-15 12:48] ogi-m commented on #1197
Tested and passed on v0.9.0 RC11

[2021-09-15 12:48] ogi-m commented on #1172
Tested and passed on v0.9.0 RC11

[2021-09-15 12:49] ogi-m commented on #960
Tested and passed on v0.9.0 RC11

[2021-09-15 15:45] #1196 closed

[2021-09-15 15:53] chenilim opened #1214 "Bug: Dashboard does not show names of DM channels"
**Steps to reproduce the behavior:**
1. Open the new Boards dashboard
2. Notice that the DM channel workspaces have no titles

**Expected behavior:**
Titles appear for DM channels on the dashboard and workspace picker dropdown.

**Screenshots:**
<img width="1079" alt="Screen Shot 2021-09-15 at 8 47 40 AM" src="https://user-images.githubusercontent.com/46905241/133466640-6842e43b-4c38-42f9-8f49-cb0

[2021-09-15 15:55] chenilim commented on #1214
@harshilsharma63, this was an issue we discussed at the team meeting. Just filing a bug to track it. Not sure if it should go to you or @hahmadia. cc @sbishel, @ogi-m. The new dashboard and workspace picker is really awesome! :)

[2021-09-15 16:09] kamre opened #1215 "Bug: its not always possible to hide the side bar"
**Steps to reproduce the behavior:**
1. Create new board (for example "Meeting Notes" from template)
2. There is a horizontal scroll bar because not all kanban columns are visible
4. Its not possible to hide the side bar

**Expected behavior:**
It should be always possible to hide the side bar.

**Screenshots:**
Look for example at these kanban boards from default templates, they all have horizont

[2021-09-15 17:48] wiggin77 opened #1217 "Bug: Clicking off card can lose content in FireFox"
**Steps to reproduce the behavior:**
1. Create or edit a card; add text to the description
2. Click away from the card, meaning click somewhere else on the board
3. See card closes
4. Re-open card
5. See text added in step 1 is lost

**Expected behavior:**
Card content is saved when clicking away from a card

**Additional context:**
If user clicks another field before clicking away from the card,

[2021-09-15 18:31] chenilim commented on #1217
Thanks @wiggin77! Could you add the OS / browser / edition this repros on? I couldn't get a repro on the Community server. I tried:
1. Create a new card
2. Type '123' in the description
3. Click on the gray background
4. Card closes, but content was saved

Was it another specific sequence of steps?

[2021-09-15 18:35] wiggin77 commented on #1217
FireFox / Linux.  Yesterday's main branch, running locally.  I'll check again with today's build.

[2021-09-15 18:45] wiggin77 commented on #1217
Latest main, Firefox, Linux.  Running as a plugin with latest channels server:

![fb_bug](https://user-images.githubusercontent.com/5024605/133491316-c6090f1c-4e5d-4dc8-9db4-cce95c07eee6.gif)

[2021-09-15 20:29] chenilim commented on #1217
Thanks @wiggin77! I took a quick look and it appears to be a strange timing issue with onClose in `Dialog.tsx` and onBlur in `MarkdownEditor`. If I add a `setTimeout(0)` to the dialog code, that seems to fix it. I'll submit a PR, but there may be other unexpected timing issues like this elsewhere.

[2021-09-15 20:39] chenilim commented on #1217
Tested this against v0.82, and this is a regression (did not repro on the older build). So I propose we take this for v0.9, as the fix is relatively simple - at worst, it changes the order of calls when closing the card. LMK if anyone sees any potential issues. cc @sbishel, @ogi-m.

[2021-09-15 21:51] chenilim commented on #1215
Thanks @kamre! In general, the collapse sidebar feature is mainly for mobile web support, but I see your notes in [PR-1052](https://github.com/mattermost/focalboard/pull/1052/files#r705821384), and agree this is an unintentional regression for Personal Server at this point.

I took a quick look and the fix looks like a simple css selector change. I'll submit a PR.

Mid-term (Oct / Nov), we are goi

[2021-09-15 22:01] chenilim commented on #1209
Thanks  @badrihippo! We fixed this for inline images in the card markdown (see this code for `.octo-block img` in [main.scss](https://github.com/mattermost/focalboard/blob/main/webapp/src/styles/main.scss#L190)). I think we can do something similar for the description markdown.

Any additional thoughts @asaadmahmood? I think a similar 500px max width or height is ok for now, but we may need to rev

[2021-09-16 02:19] harshilsharma63 commented on #1214
@chenilim it's already done and cherrypicked in `release-0.9` via #1179

[2021-09-16 02:19] #1214 closed

[2021-09-16 02:33] harshilsharma63 commented on #1214
@chenilim my bad, it wasn't cherry picked. Have done it now.

[2021-09-16 06:56] #1171 closed

[2021-09-16 07:00] harshilsharma63 opened #1221 "Add unit tests for dashboard"
Add unit tests for dashboard components added in #1177

[2021-09-16 10:18] #1154 closed

[2021-09-16 12:19] hahmadia commented on #1071
Not reproducible anymore

[2021-09-16 14:23] TheRealAlexV commented on #103
I'm evaluating task board software for a non-profit volunteer run organization of about 40 or so people. I need a solution with central authentication with the rest of our apps. I have no issues implementing systems such as keycloak or authellia. When companies do things like this, it's a reason for me not to consider them when my organization does get funding for a better product. I'll most likel

[2021-09-16 14:45] #1142 closed

[2021-09-16 15:01] #1150 closed

[2021-09-16 15:42] #1217 closed

[2021-09-16 15:54] #1215 closed

[2021-09-16 15:54] ogi-m opened #1227 "Bug: Workspace switcher and dashboard don't show any channels"
**Steps to reproduce the behavior:**
1. Open Boards from Mattermost
2. Open the workspace switcher

**Expected behavior:**
Workspace switcher should list all the channels and not show the error on the dashboard

**Screenshots:**
![Image Pasted at 2021-9-16 16-34](https://user-images.githubusercontent.com/15314183/133644721-93e19da2-8f8b-408b-bea6-045d67224530.png)

**Platform:**
 - main branch on

[2021-09-16 16:56] jgilliam17 opened #1228 "Feature Idea: Make close button X and 3-do menu sticky on a card"
**Summary:**
Prevent close button and 3-dot menu from scrolling out of view on a card where scrolling is triggered

**How important this is to me and why:**

Importance: Medium, nice to have

Use cases:
1. Card with long list of posts
2. Any text/item heavy card where scrolling is triggered

**Additional context / similar features:**
Any examples of good implementations of this cap

<img width="97

[2021-09-16 17:20] chenilim opened #1229 "Bug: Production telemetry key not being set in production builds"
**Steps to reproduce the behavior:**
1. Create a production build (from `prod_release.yml`)
2. See build log
3. Telemetry keys are not set for webapp

**Expected behavior:**
Telemetry keys should be set for webapp

**Platform:**
 - v0.9.0 RC10

[2021-09-16 17:32] #1229 closed

[2021-09-16 18:13] badrihippo commented on #1209
Okay! I imagine header images to be coming above the title (same as Notion) so perhaps that'd end up as a separate image class altogether? (Just my guess without looking at the code too closely).

Anyway, waiting for @asaadmahmood to weigh in before going forward :slightly_smiling_face:

[2021-09-16 18:15] asaadmahmood commented on #1209
@badrihippo Can I get a screenshot of that?

[2021-09-16 18:17] badrihippo commented on #1209
@asaadmahmood I've included some screenshots within the toggle in my original post. Did you want something else specifically?

[2021-09-16 18:27] #1205 closed

[2021-09-16 18:29] badrihippo commented on #1209
At the risk of veering off topic, here's how Notion does cover images (above the title and icon, as opposed to the ordinary image embedded below):

![notion-cover](https://user-images.githubusercontent.com/7288084/133664957-8ccb575b-88c9-467c-9fc8-eeb6add77902.png)

My guess was that, if something like this were to be implemented in Focalboard in the future, it would use a different class entirely

[2021-09-16 18:30] asaadmahmood commented on #1209
Okay, I see it now. I think instead of an image like that, we should do a div with a background of the image that we use, which has a:

[code]

[2021-09-16 19:11] chenilim opened #1232 "Bug: Disable TestSubTree server unit test intermittently failing"
**Steps to reproduce the behavior:**
1. Run `make server-test`
2. See (very) intermittent errors in `TestGetSubtree`

**Expected behavior:**
No errors

**Example log, from [this run](https://github.com/mattermost/focalboard/runs/3624739983):**
[code]

[2021-09-16 19:31] #1105 closed

[2021-09-16 20:15] ivernus commented on #1155
At present would it be better to front the existing container with an nginx reverse proxy to offload the SSL? I can see the useSSL configuration option but I'm not sure it is fully implemented across the codebase? It would tie in with the install instructions https://www.focalboard.com/download/personal-edition/ubuntu/

[2021-09-16 20:44] chenilim commented on #1227
Confirmed this repros on v0.9.0 RC12 (on community). However, it does not repro on my v6.0 test server. One guess might be that community has multiple teams?

[2021-09-16 21:00] ogi-m commented on #1227
@chenilim I just tried RC12 on two cloud test servers, one HA and the other non-HA, with a single team and then with multiple teams but I couldn't repro in any scenario.

[2021-09-16 21:01] tjbortz1s opened #1235 "Feature Idea: When pressing the plus button at the top of a group, add the created item to the top of the list instead of the bottom."
**Summary:**
When pressing the plus button at the top of a group, add the created item to the top of the list instead of the bottom.

**How important this is to me and why:**
right now it appears at the bottom so if you want to add items you have to scroll all the way down after every addition or use the bottom-most add button.

Importance: Low - nice to have time saver/preference

**Additional co

[2021-09-16 21:31] chenilim commented on #1227
What platform was your original repro on Ogi? Can we set up a repro for @harshilsharma63 so he can take a look at it asap when he's back online? Thanks.

[2021-09-16 21:42] chenilim opened #1236 "Bug: Boards don't update when using Desktop App v5"
**Steps to reproduce the behavior:**
1. Download Desktop App v5 (e.g. [Sep 16 build](https://community-daily.mattermost.com/core/pl/6nn7pgfhq3fq8f1npg78w9r9ph))
2. Connect to a Mattermost v6.0 server, e.g. community.mattermost.com
3. Open a board
4. Make an edit, e.g. rename a card
5. The edit is not persisted, e.g. when re-opening the card

6. Drag a card from one column to another
7. The card do

[2021-09-16 21:45] chenilim commented on #1236
FYI @sbishel and @ogi-m. I'm not sure who should investigate this first, so please reassign @sbishel.

[2021-09-16 22:01] ogi-m commented on #1206
Tested and passed on v0.9.0 RC12 - comments are now sorted from oldest to newest

[2021-09-16 22:08] ogi-m commented on #1136
Tested and passed on v0.9.0 RC12
- not seeing the error anymore
- property converted back to URL

[2021-09-16 22:10] ogi-m opened #1237 "Bug: Predefined templates are missing"
**Steps to reproduce the behavior:**
1. Go to Boards
2. Click on _Add board_
3. Observe the empty templates list

**Expected behavior:**
All the predefined templates should be listed

**Screenshots:**
![templates](https://user-images.githubusercontent.com/15314183/133692140-10c3abb8-16b9-4f59-988b-18a3557162b3.jpg)

**Edition and Platform:**
Plugin v0.9.0 RC12 on community

 - Edition: Mattermost

[2021-09-16 22:12] ogi-m commented on #1196
Verified on v0.9.0 RC12 - form now opens in a new tab

[2021-09-16 22:20] sbishel commented on #1236
@chenilim I can't duplicate. In fact, I can edit board in web app and Desktop V5.0 gets the changes as well. I'm opening Boards via channel header...not via the Global Header which seems to have its own issues.

[2021-09-16 22:22] ogi-m commented on #1171
Tested and passed on v0.9.0 RC12 - now working as expected

[2021-09-16 22:25] ogi-m commented on #1217
Verified on v0.9.0 RC12 - text is now saved as expected

[2021-09-16 22:35] ogi-m opened #1238 "Bug: Sidebar item hover highlight extends outside of the border"
**Steps to reproduce the behavior:**
1. Go Boards
2. Hover on an item in the sidebar
3. Observe the highlight

**Expected behavior:**
The highlight should be within the borders of the sidebar

**Screenshots:**
![highlight](https://user-images.githubusercontent.com/15314183/133693611-7a56eef4-d8a1-4ce6-b5be-956987e5be60.jpg)

**Edition and Platform:**

- Edition: Mattermost plugin
- Version: v0.9.0

[2021-09-16 22:43] chenilim commented on #1236
Hmmm... I'm continuing to investigate. This is reproing for me with Desktop app v5.0.0-develop.13204 on macOS. It's reproing on older Mattermost server + Boards builds as well, so I wonder if it's an issue in the Desktop app v5 or my setup.

[2021-09-16 23:36] chenilim commented on #1237
@harshilsharma63, I took a quick look at this. The root cause is this [new logic in octoClient](https://github.com/mattermost/focalboard/blob/main/webapp/src/octoClient.ts#L136) to default to the last workspace if `workspaceId === 0`.

The problem is [globalTemplates.ts](https://github.com/mattermost/focalboard/blob/main/webapp/src/store/globalTemplates.ts#L14) creates a new OctoClient with `works

[2021-09-17 00:00] chenilim commented on #1236
Ok, this is truly wild: I rebooted my Mac and the problem no longer repros. Haven't seen this before, but my best wild guess is some resource was exhausted. Closing this, but also cc @devinbinnie in case anyone sees something similar.

[2021-09-17 00:00] #1236 closed

[2021-09-17 00:05] chenilim commented on #1238
Thanks @ogi-m. Interestingly, this seems to only repro with the Quartz, Indigo, and Onyx themes (repros for me on Chrome 91 on macOS 11.4). @asaadmahmood, could you take a look? I propose this is low-sev and we can take it for post v0.9, but if it's a safe fix, we can consider for v0.9.1. cc @sbishel.

[2021-09-17 13:55] kamre opened #1240 "Bug: card dialog judders when hovering over "Add icon" button"
**Steps to reproduce the behavior:**
1. Create new board
2. Create new card
3. Remove card icon if there is one
4. Hover over "Add icon" button
5. Card dialog content judders

**Expected behavior:**
Card dialog content location should not change on hover.

**Screenshots:**
![CardDialogAddIcon](https://user-images.githubusercontent.com/5587620/133794348-836e92e7-1516-4149-9ec5-14c3ecd596f6.gif)

**

[2021-09-17 17:18] chenilim opened #1242 "Bug: Workspace switcher code causes SQL errors on MySQL"
**Steps to reproduce the behavior:**
1. Install Boards v0.9.0 RC12 on a server with MySQL (e.g. community)
2. Use Boards
3. See errors in the system console, e.g.:
[code]

**Expected behavior:**
No errors.

**Edition and Platform:**
 - Edition: Mattermost plugin
 - Version: v0.9.0 RC12

**Additional context:**
The issue is related to [PR-1052](https://github.com/mattermost/focalboard/pull/1052/fil

[2021-09-17 17:19] chenilim commented on #1242
FYI @harshilsharma63, @sbishel, @ogi-m - it appears that the workspace switcher code does not handle MySQL fully. @ogi-m, can you repro this on a MySQL server? There may be other issues too.

[2021-09-17 19:08] chenilim commented on #1227
Ok, I've confirmed that this repros on a MySql-backed server. I set one up with `/cloud create SERVERNAME --database mysql-operator --version master`, then [manually installed](https://www.focalboard.com/download/mattermost/latest-plugin/) v0.9.0 RC12.

[2021-09-17 20:50] chenilim opened #1243 "Bug: "No workspace" error first time switching to Boards via App Switcher"
**Steps to reproduce the behavior:**
1. Open a private browser window, or clear the server localstorage
2. Open Channels on the server
3. Click on the App Switcher and select Boards
4. See "no workspace" error

**Expected behavior:**
Boards should load

**Edition and Platform:**
 - Edition: Mattermost plugin
 - Version: v0.9.1 RC1
 - Browser and OS: Chrome 91 on macOS

**Additional context:**
If y

[2021-09-17 20:52] chenilim commented on #1243
I believe this might be related to the FTUE / dashboard changes. Please reassign as appropriate @sbishel. cc @ogi-m.

[2021-09-17 21:09] chenilim commented on #1240
Thanks @kamre! @asaadmahmood, I assume this is a similar fix to the board description bug. While I believe it's less severe (since auto-set icons is enabled by default), we can consider this for v0.9 if you think it's a safe fix. cc @ogi-m.

[2021-09-17 23:11] chenilim opened #1244 "Bug: Can't enter more than one character in property names with Safari"
**Steps to reproduce the behavior:**
1. Open a card
2. Create or edit a property
3. Try to enter a name, e.g. "Estimate"
4. Can only enter and see the first character, no cursor appears, and cannot select characters.

**Expected behavior:**
Able to enter full property names, can see cursor, and can select multiple characters with keyboard or mouse.

**Screenshots:**
<img width="288" alt="Safary pr

[2021-09-17 23:13] chenilim commented on #1244
cc @lindy65, @ogi-m. This is a high-sev issue and regression, and we should investigate a fix for v0.9.

[2021-09-17 23:33] chenilim commented on #1209
Thanks @asaadmahmood! That would be much better for header / banner images. @badrihippo, I've assigned this to you if you'd like to take a crack at it.

[2021-09-18 21:28] luistiktok opened #1246 "Bug: After installing Focalboard 0.9.1(mattermost plugin) I get a: something went wrong page."
Log:
{"level":"info","ts":1631998581.799376,"caller":"go-plugin@v1.4.2/stream.go:15","msg":"error [2021-09-18 20:56:21.798 Z] server not bind to any port caller=\"mlog/mlog.go:228\"","plugin_id":"focalboard","source":"plugin_stdout"}
{"level":"info","ts":1631998588.132103,"caller":"go-plugin@v1.4.2/stream.go:15","msg":"debug [2021-09-18 20:56:28.131 Z] attachSession caller=\"mlog/mlog.go:213\" sin

[2021-09-18 21:45] Techsigns commented on #760
Works for me too with new version v0.8.2, I think this can be closed

[2021-09-18 21:45] #760 closed

[2021-09-18 21:54] luistiktok opened #1247 "Bug: Login session expire loop after downgrade from 0.9.1 - RC1 to version 0.9.0 of the plugin"
![image](https://user-images.githubusercontent.com/90870363/133909465-000d59e1-cd65-4d4a-97c1-337177de7757.png)
I tried to login again but it redirects me to my channel and when clicking the board icon (no icon, just a blank space for some reason). It sends me to the same page of the picture attached.

[2021-09-19 19:00] luistiktok opened #1248 "Feature Idea: Make checkbox works as to-do like Notion"
**Summary:**
What the new capability is.
Been able to use markdown, links to other sections (using [[ ]]) and multiline text.
**How important this is to me and why:**
It will helps to better understand/explain a particular item in a checkbox if i add a reference to another section.
Also, havina  multi-line text capability it will avoid having  a long single text line which is a waste of time movin

[2021-09-19 19:12] luistiktok opened #1249 "Feature Idea: Inline Table, board, calendar"
**Summary:**
What the new capability is.
Add inline boards, table, calendar inside a page.
**How important this is to me and why:**
High because it allows me to better organize an specific topic/project within a single page so from there i can split it into a specific task, more boards and related it the main page.
Importance: High/Medium/Low
High
Use cases:
1. Project for a website creation.
2. P

[2021-09-19 19:18] luistiktok opened #1250 "Feature Idea: New Property: Relations"
**Summary:**
What the new capability is.
Add a new property that allows me to relate to another page.
**How important this is to me and why:**
It allows me to interconnect information that is related to each other.
Importance: High/Medium/Low
Medium
Use cases:
1. Website creation project.
2. Blog/podcast post research.

**Additional context / similar features:**
Notion, Obsidian, Logseq.

[2021-09-19 19:22] luistiktok opened #1251 "Feature Idea: Page creation but not showing in the panel"
**Summary:**
What the new capability is.
Create a page that doesn't necessary needs to go inside of another page in the panel.
**How important this is to me and why:**
It allows me to avoid having a messy panel and can be page related to an specific project/topic that doesnt need to fit  in the panel
Importance: High/Medium/Low
Medium
Use cases:
1. When adding to a calendar,
2. When is part of a r

[2021-09-20 03:30] crameth commented on #1247
Experiencing this issue as well. This should be related to the new workspace switcher feature.

[2021-09-20 05:38] chenilim commented on #1246
Thanks @luistiktok! This looks like a dup of #1242 - SQL errors on MySQL related to the new workspace switcher. A possible workaround is to use the channel header button to open Focalboard, but in general the workspace switcher is broken on MySQL until this is fixed.

[2021-09-20 05:38] #1246 closed

[2021-09-20 08:44] #1242 closed

[2021-09-20 09:24] jespino opened #1256 "Feature Idea: Add --config flag and environment variable to set the config file"
**Summary:**
Sometimes you don't want to have the config file in the same place you execute your binary, so having the posibility of specifying the config file through a parameter or through an environment variable can help to address that use case. Also some distrubtions, operating systems, or containers systems can take advantage of that parameter/environment to adapt it to its own requirements.

[2021-09-20 10:56] harshilsharma63 opened #1258 "Bug: Opening Boards from app switcher doesn't open the dashboard"
**Steps to reproduce the behavior:**
1. Open Mattermost desktop app.
2. Open Boards from the app switcher in the top left.
3. Notice that the last open workspace or workspace for the current channel opens up.

**Expected behavior:**
Boards should open the dashboard when opening via the app switcher.

**Edition and Platform:**
 - Edition: Mattermost PLugin
 - Version: v0.9
 - Browser and OS: Matter

[2021-09-20 14:36] #1237 closed

[2021-09-20 15:40] asaadmahmood opened #1261 "Bug: Label and text not aligned for column list"
**Expected behavior:**
The text and label count should be vertically aligned.

**Screenshots:**
![Screenshot 2021-09-20 at 8 38 42 PM](https://user-images.githubusercontent.com/11034289/134031274-7d6b0d46-917d-4a14-8e7c-5db22608b629.png)

[2021-09-20 15:41] hahmadia opened #1262 "Bug: Session Expiry after first time clicking boards icon in the header of a channel"
**Steps to reproduce the behavior:**
Logged in for the first time in Mattermost using Desktop App V5, after click the Focalboard header Icon, I got a Session expiry.

When I relogged back into Mattermost and clicked the boards icon in the header of channel, it worked.

**Expected behavior:**
Shouldn't have session expiry and should go to the boards on the first time logging in as a new user after

[2021-09-20 15:44] hahmadia commented on #1262
Afterwards, when I click sign in on the Channels tab, it redirects me to the boards tab and shows a infinite `Signing In...` on Channels tab unless I do CTRL + R and then sign in.

![image](https://user-images.githubusercontent.com/17804942/134031939-5d9a3616-895e-436b-9ed6-be500bf0551a.png)

[2021-09-20 15:47] asaadmahmood opened #1263 "Bug: Can't use the scrollbar in the sidebar, and the scrollbar is cut as well."
**Steps to reproduce the behavior:**
1. Add multiple boards in the sidebar
2. Squish your window height.
3. Try to scroll by clicking the scrollbar
4. Notice that you can't scroll by using the scrollbar.

**Expected behavior:**
- The scrollbar should not be cut
- Users should be able to use it by clicking on it
- It should be inside the sidebar.

**Screenshots:**
![Screenshot 2021-09-20 at 8 44 54

[2021-09-20 15:47] hahmadia opened #1264 "Bug: When using app Switcher, it takes you to boards in Channels tab rather than in New Tab in Desktop V5"
**Steps to reproduce the behavior:**
Click App Switch Boards, notice you have boards open in Channel tab.

Clicking on any board afterwards opens it in a new board tab with Channels tab staying on original page

**Expected behavior:**
Open boards in boards tab

**Screenshots:**
![image](https://user-images.githubusercontent.com/17804942/134032288-01cdb11f-67fa-47d5-8765-b341ef430563.png)

After cl

[2021-09-20 15:50] mgdelacroix opened #1265 "Bug: drag&drop fails if you drag from a Markdown image"
**Steps to reproduce the behavior:**
1. On a board and a gallery view, create a card with some text at first and then a Markdown image tag, with the format `![](IMAGE_URL)`
2. From the gallery view, drag and drop it to change its order with other cards, starting the drag action from the text of the card. The order change should happen successfully
3. Do exactly the same thing, but starting the dra

[2021-09-20 15:51] jespino opened #1266 "Bug: Number/Email fields are allowing any value."
**Steps to reproduce the behavior:**
1. Go to a card.
2. Create a number type field.
3. Introduce text that is not a valid number.
4. Create a email type field.
5. Introduct text that is not a valid email.

**Expected behavior:**
It should validate that fields and, at least, complain about the fields values. But it is allowing me to use any value as part of the field.

**Edition and Platform:**
 -

[2021-09-20 15:51] asaadmahmood opened #1267 "Bug: Drag drop on content rarely works"
**Steps to reproduce the behavior:**
1. Cant really move things around in the card content

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots:**
https://user-images.githubusercontent.com/11034289/134033129-0461902d-6f09-4945-a06b-eb71d94f9260.mp4

**Edition and Platform:**
 - Edition: Mattermost plugin
 - Version: 0.9.0
 - Browser and OS: Chrome

[2021-09-20 15:52] hahmadia opened #1268 "Bug: Updating anything doesn't reflect immediately?"
**Steps to reproduce the behavior:**
Change the name of my board, the change doesn't reflect until I do a CTRL + R?

**Expected behavior:**
It should change and show the change right away?

**Screenshots:**
![image](https://user-images.githubusercontent.com/17804942/134033293-944135b2-d7d0-4e6c-81e3-6bb667e09e35.png)

Switching between another board and coming back

![image](https://user-images.gi

[2021-09-20 15:57] asaadmahmood opened #1269 "Bug: Can't go to boards directly after logging into Mattermost (iPhone)"
**Steps to reproduce the behavior:**
1. Copy url link of board
2. Copy it on mobile device
3. Login to Mattermost
4. Notice the error

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots:**
![IMG_E650A24B9EB4-1](https://user-images.githubusercontent.com/11034289/134033606-a4d7dc74-03c4-4d86-9731-43ae489dc446.jpeg)

**Edition and Platform:**
 - Edit

[2021-09-20 15:57] sbishel opened #1270 "Bug: Issue with WebSocket, not getting events after changing."
**Steps to reproduce the behavior:**
Seems if you get into the state, it reproduced everytime, but not sure how to get into that status.

1. Go to "New Card"
2. Click on Title
3. Change Title.
4. Close Card
5. Card does not show title changes.
6. Refresh, title changes now there.

Also, properties or any changes exhibit the same behavior

**Expected behavior:**
Changes should be saved and updated

[2021-09-20 15:58] asaadmahmood opened #1271 "Bug: Can't scroll in card view on mobile (IOS)"
**Steps to reproduce the behavior:**
1. Open card view
2. Use a small screen, or have a card with multiple properties
3. Try to scroll

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots:**
![IMG_67E5CE8B4243-1](https://user-images.githubusercontent.com/11034289/134034324-06fc8c18-1f5e-49e0-ae72-b54792578129.jpeg)

**Edition and Platform:**
 - Edi

[2021-09-20 16:02] asaadmahmood opened #1272 "Bug: Keyboard does not popup when adding a comment or description"
**Steps to reproduce the behavior:**
1. Open a card
2. Try to edit card content
3. Or Try to add a comment
4. Keyboard does not open up

**Expected behavior:**
A keyboard should open up allow me to edit things

**Screenshots:**
https://user-images.githubusercontent.com/11034289/134034890-159a71af-c3db-420f-a05f-b61b588ddf5a.MP4

**Edition and Platform:**
 - Edition: Mattermost plugin
 - Version: 0

[2021-09-20 16:02] chenilim opened #1273 "Bug: No way to unhide hidden table groups"
**Steps to reproduce the behavior:**
1. Open a table
2. Group by a property (e.g. status)
3. Click on the ... menu for a group (e.g. P1), and select Hide
4. Now look for a way to unhide that group, there doesn't appear to be a way
5. Ungrouping, then regrouping doesn't reset the hidden groups either

**Expected behavior:**
An obvious way to unhide hidden groups.

**Screenshots:**
<img width="461"

[2021-09-20 16:03] chenilim commented on #1273
FYI @sbishel, not sure if this is a limitation of the current design, or if there's a hidden way to do this? @asaadmahmood, we might need to revisit this. Open to ideas.

[2021-09-20 16:04] asaadmahmood opened #1274 "Bug: Can't add properties on card (IOS)"
**Steps to reproduce the behavior:**
1. Open a card
2. Try to edit card content
3. Or Try to add a comment
4. Keyboard does not open up

**Expected behavior:**
A keyboard should open up allow me to edit things

**Screenshots:**
https://user-images.githubusercontent.com/11034289/134034890-159a71af-c3db-420f-a05f-b61b588ddf5a.MP4

**Edition and Platform:**
 - Edition: Mattermost plugin
 - Version: 0

[2021-09-20 16:08] asaadmahmood opened #1275 "Bug: Clicking on Workspace switcher doesn't work most of the times (IOS)"
**Expected behavior:**
Clicking anywhere on the workflow swither should open the list

**Screenshots:**
![IMG_EBC487ECE18D-1](https://user-images.githubusercontent.com/11034289/134035820-ae1c9e7d-15a7-4202-8971-4e362b033c1c.jpeg)

**Edition and Platform:**
 - Edition: Mattermost plugin
 - Version: 0.9.0
 - Browser and OS: Safari 93 iOS 14.7.1

[2021-09-20 16:10] asaadmahmood opened #1276 "Bug: Can't scroll in the center channel (IOS)"
**Expected behavior:**
I should be able to scroll in the center channel

**Screenshots:**
https://user-images.githubusercontent.com/11034289/134034890-159a71af-c3db-420f-a05f-b61b588ddf5a.MP4

**Edition and Platform:**
 - Edition: Mattermost plugin
 - Version: 0.9.0
 - Browser and OS: Safari 93 iOS 14.7.1

[2021-09-20 16:12] hahmadia opened #1277 "Bug: Hide X on Select similar to Multi Select unless clicked into to Edit"
**Steps to reproduce the behavior:**
Hide the X of Select similar to MultiSelect unless you click into the field to edit it

**Expected behavior:**
No X should be shown

**Screenshots:**
![image](https://user-images.githubusercontent.com/17804942/134037088-bdcfa42c-0e64-4980-b2cd-d6104f8aac13.png)

[2021-09-20 16:20] justinegeffen opened #1278 "Feature Idea: Confirm delete when deleting board"
**Summary:**
Confirm that the user wants to delete the board prior to deletion.

**How important this is to me and why:**

Importance: High

Use cases:
"Delete" and "Duplicate" are close together and it's very easy to select "Delete" inadvertently. The board is deleted immediately and is not recoverable. If a user has a very detailed, long-standing board it means all the work is lost.

**Additiona

[2021-09-20 16:21] sbishel opened #1279 "Bug: Shared Boards do not work."
**Steps to reproduce the behavior:**
1. Go to a board
2. Click on ...
3. Select Share Board
4. Copy Link
5. a. Paste into New tab
Receive "Team Not Found" error

6. b. Paste into Incognito Window
Sent to Login Form

**Expected behavior:**
Share board should work in read-only mode

**Edition and Platform:**
 - Edition: Mattermost plugin
 - Version: [v0.9.0]
 - Browser and OS: [e.g. Chrome 91 on mac

[2021-09-20 16:22] chenilim opened #1280 "Bug: Updates from all workspaces are shown"
**Steps to reproduce the behavior:**
1. Create two Channels in Mattermost, e.g. "channel 1" and "channel 2"
2. Open Boards from both, in two separate tabs
3. Create a board in "channel 1"
4. The board also appears in the "channel 2" tab / workspace

**Expected behavior:**
Updates only appear in the active workspace for the tab.

**Edition and Platform:**
 - Edition: Mattermost plugin
 - Version: v

[2021-09-20 16:23] chenilim commented on #1280
This is a high-sev issue as it breaks the permission model.

[2021-09-20 16:24] wiggin77 opened #1281 "Bug: adding board using template created by someone else, nothing happens"
**Steps to reproduce the behavior:**
1. Create new channel; press Boards button
2. Select "Add Board"
3. See template(s) created by someone else listed
4. Select one
5. List is dismissed but nothing happens

**Expected behavior:**
New board created with selected template

**Screenshots:*
![add_board_issue](https://user-images.githubusercontent.com/5024605/134038110-c066ab1d-fcfd-4bda-a967-89514063

[2021-09-20 16:27] jespino opened #1282 "Bug: Table view sort is not working as expected"
**Steps to reproduce the behavior:**
1. Go to table view.
2. Add multiple cards with title
3. Add multiple cards without title
4. Sort by a select type field
5. See that some of the cards are not properly sorted.

**Expected behavior:**
All the cards in the table view get sorted properly.

**Screenshots:**
![image](https://user-images.githubusercontent.com/290303/134038570-d7f732c7-483c-4f64-8710-

[2021-09-20 16:28] jespino commented on #1282
This happen in all the views, not only in table view.

[2021-09-20 16:29] justinegeffen opened #1283 "Feature Idea: Auto-populate a property field with the selected property name"
**Summary:**
When I select a new property, the name of the field remains "New Property". The only way I can see which property I've selected is by clicking on that new property and confirming.

The name field should automatically reflect the chosen property so that the user doesn't have to rename it - it should remain editable though, so it can be modified.

**How important this is to me and why:*

[2021-09-20 16:32] justinegeffen opened #1284 "Feature Idea: Fix alignment between fields in cards"
**Summary:**
Field alignment is off-kilter in cards.

**How important this is to me and why:**

Importance: High

Use cases:
Having aligned fields improves the overall look and feel of the product.

<img width="583" alt="Screen Shot 2021-09-20 at 18 11 43" src="https://user-images.githubusercontent.com/4223530/134039420-5846fef1-0afe-46fa-a07c-2eb57fbfe7b4.png">

[2021-09-20 16:32] jespino opened #1285 "Bug: A filter "not include" makes the new card to select one value for that field"
**Steps to reproduce the behavior:**
1. Go to a table view
2. Filter by a filed with "not include"
3. Add a new card.

**Expected behavior:**
The new card doesn't have anything in that field. But it is adding one value to that field (that is not the filtered one)

**Edition and Platform:**
 - Edition: Personal Desktop
 - Version: v0.9.0
 - Browser and OS: Desktop app

[2021-09-20 16:33] wiggin77 opened #1286 "Bug: setting custom emoji for a custom status doesn't work"
**Steps to reproduce the behavior:**
1. Go to a workspace; in this case empty (no boards)
2. Click on user profile icon top right
3. Select "Set a custom status"
4. Select emoji picker
5. screen goes blank

**Expected behavior:**
Select emoji for custom status

**Screenshots:**
![custom_status_bug](https://user-images.githubusercontent.com/5024605/134039628-27c70792-7efa-45c4-badc-d010c588ebcd.gif

[2021-09-20 17:49] chenilim commented on #1286
@sbishel, we should investigate and fix this one - I don't think it strictly needs to go into v6.0, but we can consider it if it's an easy / safe fix. cc @ogi-m, @asaadmahmood.

[2021-09-20 17:54] sbishel commented on #1286
I wonder if this is also a web-socket issue. When I tried it. It worked, although there is definitely a CSS issue.
![Screen Shot 2021-09-20 at 11 52 02 AM](https://user-images.githubusercontent.com/12704875/134050429-ff663cb2-eff4-45fa-adf1-dce7b5ecc4ca.png)

[2021-09-20 17:55] sbishel commented on #1286
@asaadmahmood - Could you take a look at the CSS? If you encounter the original issue, assign back to me.

[2021-09-20 17:58] wiggin77 commented on #1286
I'm not seeing any WS errors in the log.  I do see this exception:
[code]

[2021-09-20 17:58] sbishel commented on #1286
"No Boards" is the key to duplicate as is...

[2021-09-20 17:59] sbishel commented on #1286
I will create a separate ticket for the CSS issue....

[2021-09-20 18:02] sbishel opened #1287 "Bug: Incorrect styling for custom status emoji picker."
**Steps to reproduce the behavior:**
1. Go to a workspace; make sure you have a board in the workspace.
2. Click on user profile icon top right
3. Select "Set a custom status"
4. Select emoji picker

**Expected behavior:**
Emoji picker shouldn't be translusent.
Modal should display in middle vertically as well.

**Screenshots:**

![Screen Shot 2021-09-20 at 11 52 02 AM](https://user-images.githubu

[2021-09-20 18:03] chenilim commented on #1279
@sbishel, I am not able to repro with the steps above. The link that is copied is correct in my case: https://boards-bugbash.test.mattermost.cloud/plugins/focalboard/workspace/dqgeahsj8id8mf9cbz6wrcygea/shared/6578c946-8515-4144-87b3-66e5cd0a1d75/7fba6bef-511f-4fc6-8ed7-3718bd3f6cbe?r=6e7b1c91-8b15-42b8-85dd-509232d750e9

I tried this on both Chrome and Safari on macOS. @ogi-m, are you able to get

[2021-09-20 18:13] sbishel commented on #1279
I can't repo locally either...but on the bugbash machine I can repo with either Safari or Chrome...Not sure what's up with that.

[2021-09-20 18:14] chenilim opened #1288 "Bug: Websocket connection fails on shared boards"
**Steps to reproduce the behavior:**
1. Open a board
2. Click on the board (...) menu, and select Share Board
3. Enable shared board, and copy link
4. Open a private window and paste link
5. The board appears, but the websocket connection error banner appears after a few seconds
6. Open the developer console
7. See errors:
[code]

**Expected behavior:**
No errors

**Screenshots:**
<img width="709"

[2021-09-20 18:15] chenilim commented on #1281
This might be related or a dup of #1280.

[2021-09-20 18:24] justinegeffen opened #1289 "Feature Idea: Select and multi-select fields should be more obvious"
**Summary:**
When choosing Select or Multi-select, it's not clear how to populate the fields, or whether it's auto-populated, and with what.

**How important this is to me and why:**

Importance: High

Use cases:
1. It's not clear what's being selected or what can be selected - whether it's user-generated or pulled in from somewhere.
2. The field boundaries aren't clear and it's not obvious that t

[2021-09-20 18:32] chenilim commented on #1283
Thanks Justine! Looks like this is already covered by #705, and a prototype is in the works. Please add any additional input there though.

[2021-09-20 18:32] #1283 closed

[2021-09-20 18:32] justinegeffen commented on #1283
Oh awesome, thank you! I didn't see that. :)

[2021-09-20 18:33] chenilim commented on #1288
@mgdelacroix, this looks related to the other websocket issues. Please investigate and reassign as necessary. Thanks. cc @sbishel, @ogi-m.

[2021-09-20 18:38] asaadmahmood commented on #1278
Here's how we should do it:
https://www.figma.com/file/a3SJgKolniXEU2G4zG8Uc0/Issue-512-Deleting-a-property?node-id=214%3A3130

[2021-09-20 18:41] justinegeffen commented on #1278
Yep! That's perfect.

[2021-09-20 18:43] chenilim commented on #1278
Thanks @justinegeffen and @asaadmahmood!

Putting this up for grabs. It's also related to #512 and #1140. We should use the same dialog code.

[2021-09-20 18:49] chenilim commented on #1268
Closing this as a dup of #1270 that Scott filed.

[2021-09-20 18:49] #1268 closed

[2021-09-20 19:15] chenilim commented on #1264
Thanks @hahmadia! @harshilsharma63, not sure if this is related to #1258, but could you help investigate and fix if it isn't already? Thanks. cc @sbishel, @ogi-m.

[2021-09-20 19:18] chenilim commented on #1262
Related to #1264, and might be addressed in #1258. In any case, we should confirm this works on new "out of the box" Desktop app instances. cc @ogi-m, @sbishel.

[2021-09-20 19:21] chenilim commented on #1256
Agree the config file path should be configurable as a parameter. Putting it up for grabs.

[2021-09-20 19:40] chenilim opened #1290 "Bug: Custom status crashes if Boards is opened via channel header"
**Steps to reproduce the behavior:**
1. Open Channels
2. Click on the Boards channel header button
3. Notice that the online status is missing from the Account avatar
4. Click on account avatar at the top right
5. Select Set Custom Status
6. Click on the Emoji button
7. Blank screen / crash, error:
[code]

**Expected behavior:**
Online status appears, and set custom status works.

**Screenshots:**

[2021-09-20 19:42] chenilim commented on #1290
@jespino, please investigate. It seems that the global header / integration may not be initialized correctly if Boards is opened via the channel header button (or via a link to a board)? cc @sbishel, @ogi-m.

[2021-09-20 19:44] chenilim commented on #1286
I filed #1290 with more detailed steps - this seems to repro if Boards is opened via the channel header, or direct link to board. I'll close 1290 as a dup of this, but see the additional steps there.

[2021-09-20 19:45] chenilim commented on #1290
Dup of #1286.

[2021-09-20 19:45] #1290 closed

[2021-09-20 19:47] chenilim commented on #1279
Ok, let's investigate this then. Not sure what might cause the share link URL to be incorrect (it's missing the workspace sub-path in your repro steps).

[2021-09-20 19:50] chenilim commented on #1267
The root issue seems to be the drop zone highlights don't always correspond to the actual boundaries. i.e. if you drop exactly on the blue drop zones, the action should always work, but the drop-zones highlight blue in some cases when the mouse is outside their boundary.

Short term fix might be to only highlight the drop zones when actually hovered. Longer-term (better) fix is to have more forgiv

[2021-09-20 20:00] chenilim commented on #1277
Looks like a dup of #1013, which is fixed in main.

[2021-09-20 20:00] #1277 closed

[2021-09-20 20:03] chenilim commented on #1284
Thanks @justinegeffen! This is related to #1035. Assigning to you @asaadmahmood to track - more generally, we should take a UX cleanup pass on the Card Editor and other main UI. We can also break these out into up for grab items if you prefer.

[2021-09-20 20:07] chenilim commented on #1281
Also related to #1237. @mgdelacroix, assigning this to you to track. Please verify and close it with the fix for #1280. @ogi-m, let's verify again when that fix and the fix for #1237 are merged and cherry picked. Thanks.

[2021-09-20 20:18] chenilim opened #1291 "Bug: Dragging a gallery item by text block shows outline of multiple cards"
**Steps to reproduce the behavior:**
1. Create a gallery view, with multiple cards
2. Create a card with a text block
3. Drag that card
4. See the outline of multiple cards

**Expected behavior:**
See just the outline of the dragged card

**Screenshots:**
https://user-images.githubusercontent.com/46905241/134069452-dda9670d-1124-415c-850e-41b926c27e9a.mov

**Edition and Platform:**
 - Edition: Mat

[2021-09-20 20:20] chenilim commented on #1265
Thanks @mgdelacroix! I couldn't repro this on Chrome on Mac. Could you attach a video? Does it repro on other browsers / OSes for you?

BTW, while trying to repro this, I found and filed #1291 to track a maybe related issue (but less severe - just the incorrect outline in my case, the drag and drop seemed to work ok). cc @ogi-m.

[2021-09-20 21:06] chenilim commented on #1263
Good catch @asaadmahmood! This is a regression from v0.8.2, and we should investigate it for v0.9 - it could be high severity for users using a mouse without a scroll wheel - it would be impossible to scroll the sidebar. Could you help investigate?

[2021-09-20 21:07] chenilim commented on #1261
Thanks @asaadmahmood, putting this up for grabs.

[2021-09-20 21:08] chenilim commented on #1098
This should have been resolved with the move to using Mattermost themes.

[2021-09-20 21:08] #1098 closed

[2021-09-20 21:23] chenilim commented on #1227
@harshilsharma63 / @ogi-m, should this be closed now that #1252 is merged?

[2021-09-20 21:25] sbishel commented on #1279
I'm pretty sure this is related to the Web Socket issue we have been seeing. If I test this, then try changing a title on a card. They either both work correctly, or both work incorrectly.

I will keep open to retest after Web socket issue has been fixed.

[2021-09-20 22:22] chenilim commented on #1289
Thanks @justinegeffen! The current UX is based off [Notion](https://www.notion.so/guides/database-properties-help-organize-your-teams-information). However, agree that the flow can be improved. @asaadmahmood, can you take a pass at this? A few tweaks could make this a lot more obvious and usable.

[2021-09-21 03:10] drphil02 opened #1294 "Field names Optional in card view"
Field names Optional in card view
What the new capability is.
To make the fields more obvious it would be good to include the field names in card view.
If it can be a switch on the form when setting up the field it would be great
**How important this is to me and why:**
Not everyone knows what the intent is of collecting the data or what data is to be collected.
Importance: High/Medium/Low
High
Us

[2021-09-21 05:33] harshilsharma63 commented on #1264
@chenilim this BTW this is not a regression. It has been this way since the global header existed.

[2021-09-21 05:35] harshilsharma63 commented on #1243
Will be fixed by #1259

[2021-09-21 05:36] harshilsharma63 commented on #1227
@chenilim nope. Still testing on mysql test instance and its failing there.

[2021-09-21 07:56] harshilsharma63 commented on #1262
Will wait for other related PRs to merge in before spending time on this.

[2021-09-21 08:20] #1258 closed

[2021-09-21 08:59] jespino commented on #1286
I'm fixing this as part of the mattermost-webapp repo, changing the emoji picker to allow it to be shown in no-team context.

[2021-09-21 12:19] justinegeffen commented on #1289
Thanks @chenilim. :)

[2021-09-21 13:31] asaadmahmood commented on #1287
@sbishel This issue requires us adding the app__body class to the body tag.
I think @jespino had a PR for that. Not sure if that went in, and if we wanted to take it for 0.9.

[2021-09-21 14:10] ogi-m commented on #1287
PR: https://github.com/mattermost/focalboard/pull/1202

[2021-09-21 14:29] #1201 closed

[2021-09-21 14:59] hahmadia opened #1302 "Feature Idea: Implement Screen 1 of FTUE boards navigation"
Implement Screen 1 of FTUE

Specifications can be viewed here https://docs.google.com/document/d/1Q0eujL89EU39Z3R1mer-tZMksEbyLtPGNqO-JsAe9Gg/edit?usp=sharing

[2021-09-21 16:25] #1244 closed

[2021-09-21 16:34] kamre commented on #1285
Here is [how select property is processed](https://github.com/mattermost/focalboard/blob/main/webapp/src/cardFilter.ts#L124-L132) when new card is created:
[code]
Is this really needed?

[2021-09-21 16:36] chenilim opened #1304 "Feature Idea: Add option to hide/show empty table groups"
**Summary:**
Add a toggle option to the Table's Group By menu, "Hide empty groups" with a checkmark if set. When set, groups with no items are not shown.

**How important this is to me and why:**

Importance: Medium

Use cases:
1. OKRs grouped by objective when each quarter has different objectives
2. In general, this is also easier to use than individually hiding empty groups

[2021-09-21 16:46] sbishel opened #1305 "Bug: TestGetSubtree - Fix Flakey Server Test"
**Steps to reproduce the behavior:**
1. Revert change to disable test
1. Run `make server-test`
2. See (very) intermittent errors in `TestGetSubtree`

**Expected behavior:**
No errors

**Example log, from [this run](https://github.com/mattermost/focalboard/runs/3624739983):**
[code]

[2021-09-21 16:52] sbishel commented on #1232
Create ticket to fix and re-enable
https://github.com/mattermost/focalboard/issues/1305

[2021-09-21 16:52] chenilim commented on #1285
Thanks @kamre! I was just looking at the same thing. Submitted a PR to remove the unnecessary code.

[2021-09-21 16:59] chenilim commented on #1271
Followup from our team meeting: Let's investigate and try to fix at least the scroll / read-only use cases for v0.9. cc @sbishel, @ogi-m.

[2021-09-21 17:25] #1232 closed

[2021-09-21 19:13] chenilim opened #1308 "Show beta warning label on mobile web"
**Summary:**
The mobile web experience is currently broken (see [open issues with iOS tag](https://github.com/mattermost/focalboard/issues?q=is%3Aissue+is%3Aopen+iOS)). We should show a label to set the proper expectations for our users.

When displaying on a mobile device (iOS or Android) for the first time, show a dismissable banner or dialog with the following message:

**How important this is

[2021-09-21 19:16] chenilim commented on #1308
@sbishel, creating this ticket from the discussion at our team meeting today. cc @asaadmahmood, please add any additional design input. I wonder if this can be done with the appropriate css media selectors? It looks like there would be some coding needed to not show the message after the first time, but maybe there's a cheaper approach?

[2021-09-21 19:19] DIVYA-19 commented on #1261
Hi @chenilim, I have created a PR on this issue https://github.com/mattermost/focalboard/pull/1309. can you please look into it

Thanks

[2021-09-22 03:53] #1227 closed

[2021-09-22 05:49] #1200 closed

[2021-09-22 05:53] harshilsharma63 commented on #1264
Fixed with #1295

[2021-09-22 05:53] #1264 closed

[2021-09-22 06:55] harshilsharma63 commented on #1262
@hahmadia can you try this again on local with the latest `main` or `release-0.9.0` branch?

[2021-09-22 11:41] ogi-m opened #1311 "Bug: Creating a board from template doesn't work"
**Steps to reproduce the behavior:**
1. Open Boards
2. Click on "+Add board"
3. Select an existing template

**Expected behavior:**
Board is created from the template (instead, nothing happens)

**Edition and Platform:**
 - Plugin, latest v0.9.1
 - Mattermost v6.0

 **Additional context:**
Creating an empty board works, so it's only an issue with the templates

[2021-09-22 14:11] chenilim opened #1312 "Page title / browser tab should say "Boards - Mattermost" when running as a plugin"
**Summary:**
Currently, the page title is "Focalboard". When running as a plugin, the page title should be "Boards - Mattermost" to align with the new branding. Personal Editions should continue to be titled "Focalboard"

**How important this is to me and why:**
Importance: High, for v6.0 release

Created from [thread here](https://community-daily.mattermost.com/core/pl/oae6k5ph4pf7bpweqwqbk6h41e)

[2021-09-22 14:59] ogi-m opened #1313 "Bug: Workspace switcher > Board count not updated without refresh"
**Steps to reproduce the behavior:**
1. Go Boards
2. Open the workspace switcher
3. Observe a workspace and the listed number of boards is _n_
4. Go to that workspace and add another board
5. Go back to the dashboard
6. Open the workspace switcher and observe the same workspace as in step 3

**Expected behavior:**
The number of boards should be _n+1_, incremented for the board added in step 4 (ins

[2021-09-22 14:59] ogi-m commented on #1313
Would be nice to fix IMO, but definitely not urgent

[2021-09-22 16:04] ogi-m commented on #1227
Tested and passed on latest v0.9 branch

[2021-09-22 16:05] ogi-m commented on #1242
Tested and passed on latest v0.9 branch

[2021-09-22 16:08] ogi-m commented on #1264
Tested and passed on latest 0.9 branch

[2021-09-22 16:20] chenilim opened #1315 "Bug: Card scrolls to the bottom when opened"
**Steps to reproduce the behavior:**
1. Open a board
2. Open a card with multiple-pages of text in the content
3. The card scrolls down automatically

**Expected behavior:**
The card editor should not automatically scroll down

**Screenshots:**
https://user-images.githubusercontent.com/46905241/134382570-35030c17-a808-4f48-9e01-c9e0bd35c4e7.mov

**Edition and Platform:**
 - Edition: Mattermost plu

[2021-09-22 16:22] chenilim commented on #1315
@sbishel, this is low sev, but it is a regression from 0.8.2. If it's an easy fix, we should take it for v0.9. cc @ogi-m, @asaadmahmood.

[2021-09-22 16:22] hahmadia commented on #1262
@harshilsharma63 Thank you Mr.Wondeful for fixing it <3 Works for me now (But I'll let QA close this)

[2021-09-22 16:31] chenilim opened #1316 "Don't show an error when the Boards plugin is updated, or server connection interrupted"
**Summary:**
Currently, users with a Boards tab open see an error when the plugin is updated:
1. Go to system console
2. Update the Boards plugin
3. All clients see an error (can press the back button to return to the board)

***Expected:***
Users see the board they were on after the update is completed.

**Additional context:**
This likely requires the websocket error handling code to be tweaked.

[2021-09-22 16:33] chenilim commented on #1316
@sbishel, there will be fit and finish bugs / features like this as we converge on v1. Not sure what the best way to collect them is, but I think we can file issues here, then collect the high-pri ones in a card for specific releases? We can chat more.

[2021-09-22 16:44] mgdelacroix commented on #1265
Can't reproduce on Chrome, looks like it's a Firefox only issue

[2021-09-22 16:50] mgdelacroix commented on #1265
https://user-images.githubusercontent.com/223323/134387145-cdcb8850-9124-4990-8c9d-5dca67839c26.mp4

[2021-09-22 17:16] #1276 closed

[2021-09-22 17:16] #1238 closed

[2021-09-22 17:16] #1263 closed

[2021-09-22 17:36] #1285 closed

[2021-09-22 19:57] #1280 closed

[2021-09-22 21:16] chenilim commented on #1304
cc @sbishel and @asaadmahmood, thoughts on this enhancement?

[2021-09-22 21:18] chenilim commented on #1313
Thanks @ogi-m! Agree. Putting this in the v0.10 milestone for now.

[2021-09-22 23:18] chenilim opened #1318 "Bug: Table calculations appear editable in read-only shared boards"
**Steps to reproduce the behavior:**
1. Open a table
2. Click on the board menu (...), and share the board. Copy the link.
3. Open a private window and open the shared board link
4. Try to add a column calculation
5. The menu appears, but doesn't save

**Expected behavior:**
1. The menu should not appear on click
2. The calculate row should not appear on hover

**Screenshots:**
<img width="490" al

[2021-09-22 23:20] chenilim commented on #1318
@harshilsharma63, this is low-sev (the edit isn't actually saved), but in general the UI should check the readonly flag, so scheduling it for v0.10. cc @sbishel, @ogi-m, @asaadmahmood.

[2021-09-22 23:34] chenilim commented on #298
Hi @kamre, sorry your comment slipped through the cracks. The current plan is to keep the current comment system for v1 (i.e. not replace with Mattermost chat - I've updated [the card](https://community.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared/47aa9bb4-6967-4a96-83c7-11bd6b20f1eb/7e38eab4-890a-4fc3-8f48-a1f9bd1ab822?r=762db9c6-305c-4d13-8ce6-9f11e5232c24&c=66db0d7d-11a5-4c

[2021-09-22 23:46] wiggin77 commented on #298
We already handle editing blocks, ensuring already mentioned users don't get mentioned again, but newly added ones get notified. I compare the old and new version of the block and only notify newly added mentions.

[2021-09-23 06:28] gtanczyk commented on #1278
I'll take this one

[2021-09-23 07:42] #1311 closed

[2021-09-23 07:42] harshilsharma63 commented on #1311
@ogi-m this is fixed on `main` now.

[2021-09-23 09:33] ogi-m opened #1321 "Bug: Opening Boards from app switcher opens login screen"
**Steps to reproduce the behavior:**
1. Open Boards from app switcher (exit boards and repeat several times)

**Expected behavior:**
User should be taken to the dashboard

**Screenshots:**
![login](https://user-images.githubusercontent.com/15314183/134484679-89ce9091-c2d5-4193-97b0-b5077bc6888c.jpg)

**Edition and Platform:**
 - Edition: Mattermost plugin
 - Version: 0.9.1
 - Browser and OS: Chrom

[2021-09-23 19:57] nishantwrp opened #1325 "Bug: UI issue in dark and light theme in sidebar"
**Screenshots:**
![ezgif com-gif-maker](https://user-images.githubusercontent.com/36989112/134575003-a0ef6c90-824d-47f2-99d2-70d32742c95a.jpg)

Notice the selected view outside the sidebar too.

**Edition and Platform:**
 - Edition: Personal Server
 - Version: v0.9.0
 - Browser and OS: Confirmed on Firefox and Chrome

**Additional context:**
Happens in dark theme and light theme both.

[2021-09-24 16:26] #526 closed

[2021-09-24 16:26] hahmadia commented on #526
@ogi-m merged to main and ready for testing

[2021-09-24 17:36] chenilim commented on #1270
@mgdelacroix, I ran a [dev build](https://github.com/mattermost/focalboard/actions/runs/1270631272) on the `release-0.9.0` branch, and observed the following issue:
1. Install and enable plugin on test server (`/cloud create SERVERNAME --version master`)
2. Switch to Boards via the App Switcher
3. Try to drag a card to another column
4. The card doesn't move (but does move after Cmd+R refresh)

Ho

[2021-09-24 23:05] chenilim opened #1330 "Bug: Error banner text is hard to read in dark mode"
**Steps to reproduce the behavior:**
1. Use a build with PR #1326
2. Open Personal Server on a mobile browser (or resize the desktop window to a small width)
3. Set the theme to dark mode if not already
4. The text on the banner is hard to read (white on light pink)

**Expected behavior:**
Text should be higher contrast.

**Screenshots:**
![IMG_96C817A50A55-1](https://user-images.githubusercontent

[2021-09-24 23:51] #1059 closed

[2021-09-25 00:56] #1057 closed

[2021-09-25 06:42] kamre opened #1331 "Bug: URL property is not visible on kanban cards"
**Steps to reproduce the behavior:**
1. Create new board
2. Create new card
3. Add URL property to the card and close card dialog
4. Make URL property visible on the cards via _Properties_ menu
5. URL property is not visible on the kanban card

**Expected behavior:**
URL property should be visible on the kanban card

**Screenshots:**
URL property in the card dialog:
![image](https://user-images.gi

[2021-09-25 06:58] kamre commented on #1331
Originally there was this rule in `kanbanCard.scss`:
[code]
and it didn't work because we have the following structure in the DOM:
![image](https://user-images.githubusercontent.com/5587620/134761907-ede156af-1ed5-4494-9cbb-752f2163d90c.png)
and immediate children (`>` in CSS selector) don't have `octo-propertyvalue` class.

So after removing `>` there is `&:empty` selector that is always used for

[2021-09-25 06:59] kamre commented on #1331
One more question: do we want to hide all empty fields on kanban card?

Right now it looks like some empty fields are hidden completely and other ones still consume place:
![image](https://user-images.githubusercontent.com/5587620/134762129-8f02029c-a110-4afd-aaa9-fb634382c7ee.png)

[2021-09-27 07:23] ajartille opened #1332 "Add Cover Image Option to Each Page/Block"
Would be happy to take this issue on myself, btw. Trying to migrate a friend from Notion. Will try my hand... Thanks!

[2021-09-27 13:08] r4tze commented on #111
I would really like such a feature for documents and other files!

[2021-09-27 14:09] hahmadia opened #1333 "Feature Idea: Implement Screen 3 and 4 of v6.0 navigation and FTUE"
Implement The following two screens as outlined in the FTUE spec. See the Information about these screens under Screen 3 and Screen 4 heading in the following document

https://docs.google.com/document/d/1Q0eujL89EU39Z3R1mer-tZMksEbyLtPGNqO-JsAe9Gg/edit?usp=sharing

[2021-09-27 15:07] puterkey opened #1334 "Bug: Block cotentt menu hidden by the following block in small screen"
**Steps to reproduce the behavior:**
1. create too check box content blocks
2. Click on fisrt one content menu
3. See error in small screen

**Expected behavior:**
The content block menu can be dispalyed fully.

**Screenshots:**

**Edition and Platform:**
 - Edition: ersonal Server/webapp
 - Version: [v0.9.1rc1]
 - Browser and OS: Chrome on Windows

[2021-09-27 17:02] chenilim commented on #1287
@jespino, what do you think the risk is to take this for v0.9? What's your recommendation?

[2021-09-27 17:04] chenilim commented on #1243
@harshilsharma63, please confirm that the fix is in the `release-0.9.0` branch, then close this issue. Thanks.

[2021-09-27 17:07] ogi-m opened #1335 "Bug: Boards button missing from channel menu in web mobile view"
**Steps to reproduce the behavior:**
1. Make sure boards plugin is installed and enabled
2. Go to a channel
3. Resize the browser to mobile view
4. Click on the channel name in the header to open the menu

**Expected behavior:**
Boards should be listed in the menu

**Screenshots:**
Desktop view:
![boards_web](https://user-images.githubusercontent.com/15314183/134954105-6122d541-f3c9-4340-83ec-adff

[2021-09-27 17:08] ogi-m commented on #1335
@chenilim Do we want to fix this for v0.9? There's currently no way to access boards from mobile web view since the header button is missing from the menu, and the global nav doesn't display in mobile view.

[2021-09-27 17:10] chenilim commented on #1203
Cherry picked to `release-0.9.0` now that all community servers are on the 6.0 schema.

[2021-09-27 17:10] #1203 closed

[2021-09-27 17:16] chenilim commented on #1335
This is currently "by design". We don't want to advertise Boards from mobile web until the mobile UX improves. Note that we will also show a warning banner (#1308) on mobile web for now.

We can keep this bug open to track, and resolve it once the mobile web UX is ready. In the meantime, the workaround is to simply open the Boards url (/plug/focalboard/go-to-current-workspace), e.g. to test.

cc @

[2021-09-27 17:21] chenilim commented on #1262
@ogi-m, any update on this? If we believe this is fixed in release-0.9.0, in general we should close the bug to validate.

[2021-09-27 17:55] ogi-m commented on #1335
@chenilim That makes sense, thanks! Lindy ran into this when adding Rainforest tests for mobile web view. I suppose we don't need to run those tests before we get the mobile web view into a usable state anyway, so we'll wait for the button instead of using the workaround and then refactoring the tests for the second time.

[2021-09-27 17:57] chenilim commented on #1335
Thanks @ogi-m, yup I agree. Marked this to revisit in the v0.10 timeframe.

[2021-09-27 18:14] mgdelacroix commented on #1270
@chenilim I've been investigating this a bit and it seems that is related to the URL schema and the subscription message. When navigating to a URL with the schema `/boards/{{boardId}}/{{viewId}}` the frontend sends a subscription message for the workspace id `0`. The updates are not received because the client never gets to subscribe properly.

If the URL has the `boards/workspace/{{workspaceId}}/

[2021-09-27 19:24] tjbortz1s opened #1336 "Feature Idea: Adding "Last Edited By" Property should not update last edited by field."
**Summary:**
If I add last updated by to an existing card, I am probably doing it because I want to see when the card was last updated.
However, adding that field causes the last updated date/time to reset to when the property was added.
Having this change not effect last update date/time would allow the user to view when a card was last updated at any point rather than having to have the property

[2021-09-28 04:10] harshilsharma63 commented on #1281
I believe it was related to this PR - https://github.com/mattermost/focalboard/pull/1319. It's working fine on main now.

[2021-09-28 05:03] harshilsharma63 opened #1337 "Bug: Opening Boards from app switcher in web browser doesn't open dashboard"
**Steps to reproduce the behavior:**
1. Open Mattermost in browser.
2. Open Boards from app switcher in top left.

**Expected behavior:**
Boards dashboard should open.

**Screenshots:**
This is what opens up right now.
<img width="1201" alt="Screenshot 2021-09-28 at 10 32 10 AM" src="https://user-images.githubusercontent.com/18575143/135026225-4095678a-a614-4a64-967b-ba32065666c4.png">

**Edition

[2021-09-28 08:41] mgdelacroix commented on #1270
Agree with your analysis @chenilim, but looking into this further, I think the bug is a level above what we're experiencing. When clicking into the app switcher, the resulting URL is `/boards/dashboard`, but the dashboard component is not being rendered, we see a workspace instead with a URL that doesn't provide with its ID, hence the subscription issue. Going to the dashboard and then to a worksp

[2021-09-28 09:51] #1221 closed

[2021-09-28 09:51] harshilsharma63 commented on #1321
This should be fixed by #1337 .

[2021-09-28 09:59] #1318 closed

[2021-09-28 13:13] mgdelacroix commented on #1270
Actually, this has been already taken care of here https://github.com/mattermost/focalboard/issues/1337

[2021-09-28 13:50] #1312 closed

[2021-09-28 13:51] #1302 closed

[2021-09-28 14:17] #1321 closed

[2021-09-28 14:17] #1287 closed

[2021-09-28 14:18] #1243 closed

[2021-09-28 21:05] sbishel opened #1344 "Webapp Linter Fixes - Update global windows object to use an interface"
Currently we add properties to the global Window object here in an ad-hoc fashion.
https://github.com/mattermost/focalboard/blob/main/mattermost-plugin/webapp/src/index.tsx#L11

These objects are then accessed using the following syntax. `(window as any).extendedproperty`. This results in Linter warnings for `@typescript-eslint/no-explicit-any`

This issue is to remove those warnings by extending

[2021-09-28 21:14] sbishel opened #1345 "Webapp Linter Fixes - Investigate/Cleanup ToDos"
There are several files with ToDos left in the code. These need to be investigated, fixed and removed.

If small enough and easy enough to understand and fix. They can be fixed as part of this ticket. However, if after investigating the issue is large and/or complicated, a separate ticket should be created and this ticket can be closed by referencing the new ticket and removing the TODO from code.

[2021-09-28 21:16] sbishel opened #1346 "Webapp Linter Fixes - Investigate/Cleanup ToDos"
There are several files with ToDos left in the code. These need to be investigated, fixed and removed.

If small enough and easy enough to understand and fix. They can be fixed as part of this ticket. However, if after investigating the issue is large and/or complicated, a separate ticket should be created and this ticket can be closed by referencing the new ticket and removing the TODO from code.

[2021-09-28 21:17] sbishel opened #1347 "Webapp Linter Fixes - Investigate/Cleanup ToDos"
There are several files with ToDos left in the code. These need to be investigated, fixed and removed.

If small enough and easy enough to understand and fix. They can be fixed as part of this ticket. However, if after investigating the issue is large and/or complicated, a separate ticket should be created and this ticket can be closed by referencing the new ticket and removing the TODO from code.

[2021-09-28 21:18] sbishel opened #1348 "Webapp Linter Fixes - Investigate/Cleanup ToDos"
There are several files with ToDos left in the code. These need to be investigated, fixed and removed.
	* Run `npx eslint --ext .tsx,.ts .` in the webapp folder to see them

If small enough and easy enough to understand and fix. They can be fixed as part of this ticket. However, if after investigating the issue is large and/or complicated, a separate ticket should be created and this ticket can be

[2021-09-28 21:19] sbishel opened #1349 "Webapp Linter Fixes - Investigate/Cleanup ToDos"
There are several files with ToDos left in the code. These need to be investigated, fixed and removed.

If small enough and easy enough to understand and fix. They can be fixed as part of this ticket. However, if after investigating the issue is large and/or complicated, a separate ticket should be created and this ticket can be closed by referencing the new ticket and removing the TODO from code.

[2021-09-28 21:20] sbishel opened #1350 "Webapp Linter Fixes - Investigate/Cleanup ToDos"
Webapp Linter Fixes - Investigate/Cleanup ToDos
There are several files with ToDos left in the code. These need to be investigated, fixed and removed.
	* Run `npx eslint --ext .tsx,.ts .` in the webapp folder to see them

If small enough and easy enough to understand and fix. They can be fixed as part of this ticket. However, if after investigating the issue is large and/or complicated, a separate

[2021-09-28 21:25] sbishel opened #1351 "Webapp Linter Fixes - Investigate / Update using any `Record<string, any>`"
There are several places where we use `Record<string, any>`
	* Run `npx eslint --ext .tsx,.ts .` in the webapp folder to see them

These should be investigated and updated to fix linter errors. The fix may be to add a @ignore if there is no easy way to fix or another ticket may be created for the fix.

This ticket includes the investigation of the following files.
/webapp/src/blocks/block.ts
/weba

[2021-09-28 21:29] sbishel opened #1352 "Webapp Linter Fixes - fix linter warnings for file `markdownEditor.tsx`"
The file ...webapp/src/components/markdownEditor.tsx has linter warning for using any object.
	* Run `npx eslint --ext .tsx,.ts .` in the webapp folder to see them

[2021-09-28 21:31] sbishel opened #1353 "Webapp Linter Fixes - fix linter warnings for file `sortable.tsx`"
Fix linter warnings for ...webapp/src/hooks/sortable.tsx
	* Run `npx eslint --ext .tsx,.ts .` in the webapp folder to see them

[2021-09-28 21:37] sbishel opened #1354 "Webapp Linter Fixes - fix linter warnings for file `octoClient.ts`"
fix linter warnings for ..webapp/src/octoClient.ts

[2021-09-28 21:38] sbishel opened #1355 "Webapp Linter Fixes - fix linter warnings for file `userSettings.ts`"
- fix linter warnings for webapp/src/userSettings.ts

[2021-09-28 21:39] sbishel opened #1356 "Webapp Linter Fixes - fix linter warnings for file `utils.ts`"
- fix linter warnings for file webapp/src/utils.ts

[2021-09-28 21:41] sbishel opened #1357 "Webapp Linter Fixes - fix miscellaneous no-explicit-any warnings"
The following files each contain a no-explicit-any warnings.
	* Run `npx eslint --ext .tsx,.ts .` in the webapp folder to see them

webapp/src/telemetry/telemetryClient.ts
webapp/src/testUtils.tsx
webapp/src/blocks/archive.ts

[2021-09-28 21:42] sbishel opened #1358 "Webapp Linter Fixes - fix miscellaneous no-explicit-any warnings"
The following files each contain a no-explicit-any warnings.

webapp/src/components/calculations/options.tsx
webapp/src/components/cardDetail/cardDetailContents.test.tsx
webapp/src/components/workspaceSwitcher/workspaceOptions.tsx

[2021-09-28 21:42] sbishel opened #1359 "Webapp Linter Fixes - fix miscellaneous no-explicit-any warnings"
Webapp Linter Fixes - fix miscellaneous no-explicit-any warnings
	* Run `npx eslint --ext .tsx,.ts .` in the webapp folder to see them

The following files each contain a no-explicit-any warnings.

webapp/src/pages/boardPage.tsx
webapp/src/widgets/valueSelector.tsx
webapp/src/wsclient.ts

[2021-09-28 21:48] sbishel opened #1360 "Webapp Linter Fixes - fix test that wrap Elements with `(children: any)`"
There are several files that use either
`wrapProviders = (children: any)` or `wrapIntl = (children: any)`.
	* Run `npx eslint --ext .tsx,.ts .` in the webapp folder to see them

These should be updated to use `ReactElement` instead

[2021-09-28 22:06] sbishel opened #1361 "Webapp Linter Fixes - fix linter warnings for file `theme.ts`"
fix linter warnings for file webapp/src/theme.ts

This contains only a single warning for `no-explicit-any` warnings.
But this fix may take some mana. As the "Theme" object that needs used is actually in the mattermost-plugin. So it will need moved to the webapp project, which already contains a different "Theme" object.

[2021-09-28 22:09] sbishel opened #1362 "Webapp Linter Fixes - fix missing return type on function"
Several files suffer from this same issue. Please fix...
	* Run `npx eslint --ext .tsx,.ts .` in the webapp folder to see them

- webapp/src/components/cardDialog.tsx
- webapp/src/components/globalHeader/globalHeader.tsx
- webapp/src/components/table/tableRows.tsx
- webapp/src/components/viewHeader/viewHeaderSearch.tsx
- webapp/src/nativeApp.ts
- webapp/src/octoClient.ts
- webapp/src/pages/boardPa

[2021-09-28 22:09] chenilim opened #1363 "Bug: Plugin crashes when DM channel name contains users who aren't found"
## Steps to reproduce the behavior

1. See [this thread]

Server logs:
[code]

## Expected behavior

No crash

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.9.1 - built from source on Sep 28, 2021

## Additional context

[This line of code](https://github.com/mattermost/focalboard/blob/d101304bb432477bf01d01b6ed24763e3d22e1e0/server/services/store/mattermostauthlayer/matter

[2021-09-28 22:10] chenilim commented on #1363
For now, suggest replacing missing users with "???" or similar token.

[2021-09-28 22:12] sbishel opened #1364 "Webapp Linter Fixes - remove pgtools.d.ts"
Instead of fixing linter issues. Remove this file after ensuring it is no longer necessary.
	* Run `npx eslint --ext .tsx,.ts .` in the webapp folder to see them

[2021-09-28 22:42] chenilim opened #1365 "Run checkin workflows on release branches"
## Summary

Update GitHub workflows to run check-in tests and workflows on release branches in addition to main.

[2021-09-29 03:51] harshilsharma63 commented on #1337
Issue #1302 resolved this.

[2021-09-29 03:51] #1337 closed

[2021-09-29 05:32] harshilsharma63 commented on #1262
Closing this as it's fixed by other PRs combined.

[2021-09-29 05:32] #1262 closed

[2021-09-29 05:57] #1363 closed

[2021-09-29 06:27] harshilsharma63 opened #1368 "Table Calculation: Add More General Functions"
Implement the following general table calculation functions-

1. **Count empty**: Count of cards where the selected property is empty
1. **Count not empty**: Count of cards where the selected property is not empty
1. **Percent empty**: Percent of cards in the column where the selected property is empty (rounded to integer %)
1. **Percent not empty**: Percent of cards in the column where the select

[2021-09-29 15:43] sbishel commented on #1279
Retested on the bugbash server which has the web socket fixes. It works fine now with those updates. Closing.

[2021-09-29 15:43] #1279 closed

[2021-09-29 16:19] #1270 closed

[2021-09-29 18:18] chenilim opened #1370 "Bug: Websocket error banner on shared boards"
## Steps to reproduce the behavior

1. Deploy plugin v0.9.1 RC2
2. Share a board
3. Open the shared board link in a private browser window
4. Make a change in the original (editable) window
5. A websocket error banner appears in the shared url window

## Expected behavior

No errors

## Screenshots
<img width="1552" alt="Screen Shot 2021-09-29 at 11 15 00 AM" src="https://user-images.githubusercon

[2021-09-29 18:21] chenilim opened #1371 "Bug: Access denied when changing views in a shared board"
## Steps to reproduce the behavior

1. Deploy v0.9.1 RC2 and enable shared boards in the System Console
2. Share a board
3. Open a private browser window and open the shared url
4. Use the view picker to change views
5. Access denied error

## Expected behavior

No error, view is shown

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.9.1 RC2
 - Browser and OS: Chrome 93 on ma

[2021-09-29 18:40] chenilim commented on #1370
Might be related to #1371

[2021-09-29 18:41] chenilim commented on #1371
May be a dup of #1288?

[2021-09-29 21:17] chenilim opened #1372 "Bug: Dashboard doesn't scroll"
## Steps to reproduce the behavior

1. Open the dashboard on the v0.9.1 RC2 plugin, on a server where you have many channels
2. Try to scroll vertically, you can't

## Expected behavior

Able to scroll to see all workspaces

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.9.1 RC2
 - Browser and OS: Chrome 93 on macOS

[2021-09-29 22:00] chenilim opened #1373 "Bug: Opening URL to board sometimes opens Dashboard instead"
## Steps to reproduce the behavior

1. Go to [Focalboard community channel](https://community-daily.mattermost.com/core/channels/focalboard) (on community-daily)
2. Click on "meeting topics" in the channel header
3. Boards dashboard opens

## Expected behavior

The linked board should open

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.9.1 RC2
 - Browser and OS: Chrome 93 o

[2021-09-29 22:14] chenilim commented on #1373
Assigning to @sbishel to reassign. FYI @harshilsharma63, @hahmadia, @jespino - might be something strange in the routing.

[2021-09-29 23:58] #1362 closed

[2021-09-30 01:04] matheusmosca commented on #1368
Hi @harshilsharma63, can I work on this issue?

[2021-09-30 02:12] matheusmosca commented on #427
Hi @sbishel, can I work on this issue?

[2021-09-30 02:13] harshilsharma63 commented on #1368
Sure @matheusmosca , go for it!

[2021-09-30 05:19] harshilsharma63 commented on #1373
On it.

[2021-09-30 10:01] #1364 closed

[2021-09-30 10:35] nishantwrp opened #1378 "Feature Idea: Mentioning Cards"
## Summary

It would be great if there was a way to mention other cards inside the card content.

## How important this is to me and why

Importance: Medium

## Additional context/similar features
Notion has this feature. We can add references to other pages.

[2021-09-30 11:48] #1372 closed

[2021-09-30 11:50] hahmadia commented on #1372
@ogi-m

This has been merged into main and release-0.9.0

You can test when you like

[2021-09-30 13:37] ogi-m opened #1379 "Bug: Plugin crashing in HA environment"
## Steps to reproduce the behavior

1. Go https://mysql.test.mattermost.com/
2. Install the plugin build from main branch
3. Enable Boards
4. Open Boards from the global header several times until the plugin no longer appears in the app launcher and channel header
5. Go to System Console > Plugin and see the message
"This plugin crashed multiple times and is no longer running. Check your system lo

[2021-09-30 15:13] chenilim commented on #1286
Is this still an issue? I can't repro it on community-daily, which is running v0.9.1 RC2.

[2021-09-30 15:13] chenilim commented on #1290
(Similar to #1286) Is this still an issue? I can't repro it on community-daily, which is running v0.9.1 RC2.

[2021-09-30 15:29] wiggin77 commented on #1286
Works now on daily.  Still broken on community (as expected).

[2021-09-30 15:41] sbishel commented on #427
Thanks @matheusmosca, all yours...

[2021-09-30 18:46] #1291 closed

[2021-09-30 18:55] #1111 closed

[2021-09-30 19:09] #1365 closed

[2021-09-30 21:58] chenilim opened #1385 "Bug: Lots of "Unable to clean up the sessions" errors in plugin server log"
## Steps to reproduce the behavior

1. Run the v0.9.1 RC2 plugin (or recent)
2. Chck the server logs after a day or so
3. See numerous "Unable to clean up the sessions" errors

## Expected behavior

No "Unable to clean up the sessions" errors.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.9.1 RC2

## Additional context

This is logged by [this line](https://github.com/matt

[2021-09-30 23:04] esethna opened #1386 "FTUE boards UX enhancements"
Nice work Boards team on the v0.9 enhancements! Posting here to share a few thoughts on further improvements you may or may not have already considered.

1. Welcome to Boards screen seems like it could be scaled up quite significantly

![image](https://user-images.githubusercontent.com/14333569/135539472-f305dc5f-d48d-4655-a0e0-0877b8d7a455.png)

2. With no CTA button on the empty screen for a wor

[2021-09-30 23:30] chenilim commented on #1386
Thanks so much for compiling this @esethna! cc @asaadmahmood. Some of these are already on the radar, but my quick responses:
1. This seems like a scale issue for large monitors - something in general to be more aware of
2. Agree with the CTA - I'm pretty sure you had this in one of your wireframes @asaadmahmood. Maybe we can file a ticket to fix this sooner (v0.10+)?
3. This is tracked by #978. I

[2021-10-01 00:26] esethna commented on #1386
Thanks!

Re 2, looks like there's a PR incoming 🎉 https://github.com/mattermost/focalboard/pull/1377

[2021-10-01 15:47] rafaeelaudibert commented on #1359
Hey @sbishel @chenilim, I'd be up to fix some of the `eslint` problems :). I might be able to solve more than the ones from this issue (because only this one would be pretty fast). What do you guys think?

[2021-10-01 16:02] aditya2712 commented on #1082
Is this issue completed? I can see commits related to this issue.

[2021-10-01 16:16] esethna commented on #1386
@chenilim @asaadmahmood looks like others are running into the tiny splash screen issue. I'm on a 4k montior, Harrison is on a 1440p monitor https://community-daily.mattermost.com/core/pl/41ot6d4t338b5rrot1jj7398ge

[2021-10-01 16:28] sbishel commented on #1359
Thanks @rafaeelaudibert. I wanted to split them into small enough work items not to be overwhelming. But feel free to combine 2 or 3 issues into a single PR. I would suggest not combining many more than that, just to keep the PRs fairly small.

I will assign this one to you, just let me know what others you would like to take.

[2021-10-01 16:50] sbishel opened #1392 "Bug: Sharing Board Link without a view selected creates invalid url"
## Steps to reproduce the behavior

1. Turn on Board sharing
Personal server - config.json set "enablepublicsharedboards": true
Plugin - set in the "Mattermost Boards" configuration in System Console

2. Select a board, not a view but click on the board name.
2. Select  ...
3. Select "Share Board"
4. Turn on sharing and copy the link.

5. Open link in either incognito or another tab

Receive a pag

[2021-10-01 16:56] asaadmahmood commented on #1386
Thanks @esethna tested the app out generally:
1. Yup, the scale issue is an issue that we see throughout Mattermost, not specifically related to Boards, so we can see what we can do about that holistically. We can increase the size of the image if it was an svg, but can't do that right now unless we export a large image. Also, we don't do text scaling on larger screens throughout the app, so maybe

[2021-10-01 17:04] esethna commented on #1386
Thanks @asaadmahmood, not sure I understand #1, since I have a 4k monitor with 175% zoom and the only scaling issue I've seen in Channels, Boards or Playbooks is this new splash screen. I think high rez monitors are pretty common these days so it might be good to figure this out, but I'll leave it in your hands from here.

[2021-10-01 17:12] asaadmahmood opened #1393 "Bug: Comment textarea changes height when in focus"
## Expected behavior
It should remain fixed in height in the default state, though we will still allow users to type multiple lines.

## Screenshots
![Oct-01-2021 22-11-03](https://user-images.githubusercontent.com/11034289/135660548-38ca5672-118f-4391-87f8-34f5a291023b.gif)

[2021-10-01 17:15] asaadmahmood opened #1394 "Bug: Board description area jumps around when focusing"
## Expected behavior
It should not change height when focusing.

## Screenshots
![Oct-01-2021 22-14-01](https://user-images.githubusercontent.com/11034289/135660796-85f96ff0-f65f-4be5-a7f2-e52ba21b37bd.gif)

[2021-10-01 17:29] #1371 closed

[2021-10-01 17:53] #1308 closed, assigned to sbishel

[2021-10-01 17:55] jma26 commented on #1394
Hey! I'd like to try to tackle this head-on over the weekend.

[2021-10-01 17:55] asaadmahmood commented on #1394
@jma26 Awesome! Go for it.

[2021-10-01 17:57] asaadmahmood opened #1395 "Feature idea: Increase size for content on Splash screen"
Eric raised an issue regarding the content on the splash screen being quite small. We need to update it to be a big larger.

[2021-10-01 18:23] kamre commented on #1394
@jma26 [this](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/markdownEditor.scss#L55) `min-height: 32px;` can be a reason when preview has the height that is different from the height of the editor itself.

@asaadmahmood in general there is no 1-1 correspondence of the editor and preview because it is not a full wysiwyg style editor. So placing complex markdown (like imag

[2021-10-01 18:24] asaadmahmood commented on #1394
@kamre I understand, though I still expect the empty state to stay consistent or when its just a single line with text.

[2021-10-01 18:25] kamre commented on #1393
Its the same discrepancy between preview and markdown editor like in #1394

[2021-10-01 18:31] kamre commented on #1331
@asaadmahmood can you look into this issue and provide your opinion about it please?

[2021-10-01 18:33] asaadmahmood commented on #1331
@kamre Yes, I think we can remove that rule, and yes we want to hide empty fields I'm guessing. But we should also prohibit them from taking any space.

[2021-10-01 18:44] chenilim opened #1397 "Feature Idea: Add "show empty" toggle to Dashboard"
## Summary

Add a toggle switch to show / hide workspaces with 0 boards. Turn on by default. Setting should persist in user settings (localstorage)

## How important this is to me and why

Importance: High

Use cases:
1. The current Dashboard is very cluttered, especially with DM / group message channels
2. This should be on by default to make it easy to populate initial channels

## Additional co

[2021-10-01 18:53] chenilim commented on #1397
Submitting this per the [thread here](https://community-daily.mattermost.com/core/pl/z1qhoag1k7gupd5yyax6t5otqe), with attached PR. What do you all think of taking this for v0.9? I think the risk vs. reward is worth it, but are there any potential issues? cc @sbishel, @ogi-m, @asaadmahmood.

[2021-10-01 20:54] eloymg commented on #1356
Hi! I created a PR for solve this issue. Thanks!

[2021-10-01 21:18] eloymg commented on #1356
Hi close the PR why I need more work for solve all warnings. Sorry for the mistake. Thanks!

[2021-10-01 22:12] b4sen commented on #993
Hi, can I take this issue?

[2021-10-01 22:34] sbishel commented on #993
Thanks @b4sen, its all yours.

[2021-10-01 22:36] sbishel commented on #1356
No worries, I will close the PR. Thanks

[2021-10-02 05:41] Hard-Coder05 commented on #1355
@sbishel @chenilim I would like to work on this issue!

[2021-10-02 06:03] dazzlerkumar commented on #1024
I can fix this issue.

[2021-10-02 07:34] b4sen commented on #993
If I grab the "Name" from the translation table, should I get the rest of the headers too?
This is how I would approach it:
`const row: string[] = [intl.formatMessage({id: 'TableComponent.name'})]`

[2021-10-02 09:39] ashutoshpw commented on #1353
@sbishel I will be working on this!

[2021-10-02 13:15] sbishel commented on #1397
I think it looks pretty safe to cherry-pick.

[2021-10-02 13:22] sbishel commented on #1355
Thanks @Hard-Coder05, its all yours.

[2021-10-02 13:25] sbishel commented on #993
@b4sen I don't think that is necessary as "Name" is the only hard coded property name. All other properties are user defined and not translated.  Thanks for checking.

[2021-10-02 14:21] asaadmahmood commented on #878
@kamre Yup, I can see that, our case is probably a bit different, so we may need to preserve line breaks as we would follow a document type example, especially when we introduce the full page layout.

[2021-10-02 14:29] kamre commented on #878
There is https://github.com/mattermost/marked
May be something was already done to preserve line breaks in the fork? @hmhealey do have any idea about this?

[2021-10-02 14:29] achie27 commented on #1256
I will be grabbing this.

[2021-10-02 14:38] purush7 commented on #435
@sbishel may I work on this?

[2021-10-02 15:53] Swatigupta-droid opened #1409 "Bug: The size of hero.jpg too large"
The [hero](https://github.com/mattermost/focalboard/blob/main/website/site/static/img/hero.jpg) is a bit large to view.
This is not a great issue but still holds valid into UX criteria.

[2021-10-02 17:48] sahil9001 commented on #1393
Can I take this issue?

[2021-10-02 19:10] GeopJr opened #1410 "Feature Idea: linux-app should use ~/.config for anything that needs write access"
## Summary

linux-app should use `$XDG_CONFIG_HOME` and `$HOME/.config` to save everything that requires write access.

## How important this is to me and why

Importance: High

Use cases:
1. Distribute as a package
2. Per-user config and database

## Additional context/similar features

I've spent some time working on packaging focalboard into the following formats: rpm, deb, flatpak
While everyt

[2021-10-02 21:17] askalik commented on #47
could I please be assigned this

[2021-10-03 05:10] leosunmo commented on #478
This would be a great feature, especially when you make it as easy to make changes as Focalboard does, having history of each card is crucial.

[2021-10-03 12:59] akshitarora921 commented on #1261
Hi, Is it still open?

[2021-10-03 14:40] pullopen opened #1419 "Can not find "share board" option in self-deployed focalboard"
## Steps to reproduce the behavior

1. Deploy focalboard v0.9.1 - RC2
2. Create a board.
3. Can not find "share board" in the "..." right above.

## Expected behavior

A "share board" option as the user instruction said.

## Screenshots

![screenshot](https://user-images.githubusercontent.com/66767303/135758765-3b09e4b9-d1a3-43bf-b26f-22900f9a2eea.png)

## Edition and Platform

 - Edition: Persona

[2021-10-03 15:26] pullopen commented on #1419
Solved: add `"enablepublicsharedboards": true` in `config.json` and restart.

I think you should mention that in the document.

[2021-10-03 17:14] snehaa1989 commented on #1409
@Swatigupta-droid kindly assign to me, which file should i make changes in?

[2021-10-03 18:23] pullopen opened #1420 "Feature Idea: Option to show content in Board view"
## Summary

An option to show some of the content in board view

## How important this is to me and why

Importance: Medium

Use cases:
1. The first few lines of a detailed content of a task will show me how it goes.
2. I can read the summary of all content in board view page.

[2021-10-03 18:28] Swatigupta-droid commented on #1409
@snehaa1989 i cant assign ,its upto the maintainers to assign

[2021-10-03 18:32] anchepiece commented on #1352
Hi :wave: @sbishel and mattermost team, thanks for open sourcing this project.
I'd like to attempt adding these types.

[2021-10-03 18:41] wiggin77 opened #1421 "Bug: Personal server cannot select board/view"
## Steps to reproduce the behavior

1. Latest main; `make all`
2. Log in; using existing sqlite DB
3. Try to select any view/board
4. Cannot select different view or board
   - when clicking the URL line briefly changes but the browser redirects back to the original URL.

## Expected behavior
Expect to select views

## Screenshots
![cannot_select](https://user-images.githubusercontent.com/5024605/

[2021-10-03 19:00] jma26 commented on #1394
I'm having issues trying to get the setup up and running. Not sure if I'm looking at the right places, but is there a FAQ or discord I can ask for help?

Followed the pre-reqs but `make prebuild` doesn't exist and wondering if this is because I'm using a node version manager, nvm.

[2021-10-03 19:45] anchepiece commented on #1346
Hi @sbishel
Just a quick note that /webapp/src/archiver.ts should be resolved in https://github.com/mattermost/focalboard/pull/1405

[2021-10-03 20:07] pullopen opened #1423 "Feature Idea: Allow to order boards by dragging"
## Summary

Allow to sort boards by dragging instead of alphabet order.

## How important this is to me and why

Importance: High

Use cases:
1. To make the whole workspace neater.
2. To classify similar themes.

[2021-10-03 20:28] anchepiece commented on #1358
Hi @sbishel, I'd like to attempt this one, thanks.

[2021-10-03 20:39] pullopen opened #1425 "Please remove the left margin in mobile view"
## Steps to reproduce the behavior

1. Deploy on personal server.
2. Open a page on mobile.
3. Can see an enormous margin on the left, even more on edit mode, almost half of the screen.

## Expected behavior

Thinner margin on the left. The content can fill up the whole screen.

## Screenshots

![Screenshot](https://user-images.githubusercontent.com/66767303/135770766-9aa6d8ae-9af3-4190-83a2-62836

[2021-10-03 20:49] pullopen opened #1426 "Would you add support to extreme long picture"
When uploading an extreme long picture, The picture will be compressed in the view, and there's no way to expand it. So could you remove the max lenth of a picture block so that the whole picture can show in the view?

![图片](https://user-images.githubusercontent.com/66767303/135771053-eb5d38d0-75d1-43a7-8f3d-3b5f4fcf4e6d.png)

Version: Personal Server, v0.9.1rc2

[2021-10-03 20:56] anchepiece commented on #1358
No changes included for webapp/src/components/cardDetail/cardDetailContents.test.tsx which is already addressed in #1405
Resolving the TODO there is also tracked separately in issue 1345.

[2021-10-03 21:24] anchepiece commented on #1361
@sbishel Is it possible that the Theme definition is set even higher up in [mattermost-redux](https://github.com/mattermost/mattermost-redux/blob/53d6ff2/src/types/preferences.ts#L15)?

Some options on resolving this use:
1. Pull in mattermost-redux as a dependency and use the Theme type directly
2. Define a new local type MattermostTheme with only the used theme parameters
3. Copy the entire defi

[2021-10-03 21:33] anchepiece commented on #1394
@jma26 Hi, I'm not a core dev, but the `make prebuild` would be ran from the root focalboard folder, but all this does is `cd webapp; npm install` which you can attempt yourself.

Maybe this should be included higher up in the main getting started page https://www.focalboard.com/contribute/getting-started/, but there is also the official discussion at https://community.mattermost.com/core/channels

[2021-10-04 03:02] RajMhatre20 commented on #1425
Can I work on this?

[2021-10-04 04:22] #864 closed

[2021-10-04 04:23] #868 closed

[2021-10-04 04:27] #867 closed

[2021-10-04 04:29] #869 closed

[2021-10-04 04:35] #1331 closed

[2021-10-04 06:01] pullopen commented on #1249
It's definitely one of my top demands, and I sincerely hope we can have an infinite table structure. Right now we can only have two layers and it's far from enough.

[2021-10-04 06:09] pullopen commented on #1002
In Notion, they export a `.zip` including csv and Markdown files of the detailed pages. I think that would also be a good choice.

[2021-10-04 06:26] pullopen opened #1429 "Bug: Sort by date not working."
## Steps to reproduce the behavior

1. Go to Boards view.
2. Select  "sort" by date.
3. Not working in either direction.

## Expected behavior

Items be sorted by date.

## Edition and Platform

 - Edition: Personal Server
 - Version: v0.9.1-rc2
 - Browser and OS: Firefox on Windows.

[2021-10-04 06:48] pullopen opened #1431 "Feature Idea: Filter by date range"
## Summary

Filter by date range.

## How important this is to me and why

Importance: High. I need this to filter out the task I should do now or within a year, or in the far future.

Use cases:
1. Those works that will due in a week.
2. The books I read last year.

[2021-10-04 08:22] jespino commented on #1256
@achie27 Great! thanks!

[2021-10-04 08:33] akshat-kumar2109 commented on #1393
Please assign me this issue. I would like to work on it.

[2021-10-04 09:14] #1373 closed

[2021-10-04 09:26] asaadmahmood commented on #1002
Yup, I think definitely a good to have, maybe these can actually be options within the export dropdown/modal to allow users to  customise the export.

[2021-10-04 09:27] asaadmahmood commented on #1393
@sahil9001 Sure.
@akshat-kumar2109 Since sahil came first, assigning it to him, but if he does not take it, we can assign it to you.

[2021-10-04 09:30] asaadmahmood opened #1432 "Feature Idea: Replace button on welcome page to use the Button component instead of the HTML <button>"
## Summary
Replace button on welcome page to use the Button component instead of the HTML <button>

## How important this is to me and why

Importance: Low

## Screenshot
<img width="524" alt="Screenshot 2021-10-04 at 2 52 05 PM" src="https://user-images.githubusercontent.com/11034289/135830756-4bbd3bd9-15ba-4e5b-b56e-d8bc16b94b71.png">

[2021-10-04 09:41] kamre commented on #1432
@asaadmahmood only `welcomePage.tsx` uses `<button>` tag directly. All other places use `<Button>` component.

[2021-10-04 09:51] asaadmahmood commented on #1432
@kamre Okay cool, then I can update the ticket to replace the button on the welcome page.

[2021-10-04 11:36] #1352 closed

[2021-10-04 14:23] asaadmahmood commented on #1432
@prathamesh3707 Someone has already submitted a fix for this.

[2021-10-04 14:34] 2024-SANDHYA opened #1435 "Feature Idea: CSS Hover Effects"
Will add hover effects on navbar & footer icons

[2021-10-04 16:01] #1288 closed

[2021-10-04 16:23] grsky360 commented on #229
Thanks everyone, this PR has been merged.!

[2021-10-04 16:23] aaronrothschild commented on #386
cc @larkox curious of your thoughts on this - with regards to your idea of Dynamic Data and showing the contextual info in the RHS for apps.  There's some interesting use cases subtleties mentioned.  No action required.

[2021-10-04 16:24] aaronrothschild commented on #386
cc @matthewbirtch just curious if you'd see this type of feature showing up in the RHS App bar.

[2021-10-04 16:33] chenilim opened #1436 "UI: Date range highlight should be square, not round, in between dates"
## Summary

The current date-range property displays circle highlights for ranges:
<img width="310" alt="date range" src="https://user-images.githubusercontent.com/46905241/135889636-f781b43e-3fbf-4365-86f3-83561759bf0c.png">

The highlight for dates in between should be square / filled-in

## How important this is to me and why

Importance: Low

Use cases:
1. This is purely a UI aesthetic issue

[2021-10-04 16:33] chenilim opened #1437 "Bug: Date range highlight display has wrong end-caps"
## Steps to reproduce the behavior

1. Open a card with a date property
2. Open the date property
3. Enable "End Date", and specify a range
4. See wrong end-caps of the display

## Expected behavior

The end-caps should curve outwards.

## Screenshots
<img width="310" alt="date range" src="https://user-images.githubusercontent.com/46905241/135889668-262c507a-a163-4f9e-8650-f4c329397466.png">

## E

[2021-10-04 16:36] mgdelacroix opened #1438 "Bug: /plugins/focalboard gets added to the URL when loading Boards"
## Steps to reproduce the behavior

There are two paths that I've seen to reproduce this bug:

1. Use the channel header button to access Boards

On the resulting URL, there is an extra `/plugins/focalboard` at the end. As soon as you select a board, it goes away. The second path starts from a valid board URL and after enabling shared boards:

1. Share a board
2. Copy the URL and check that it's v

[2021-10-04 16:38] chenilim commented on #1437
@asaadmahmood, just want to confirm that this is a bug. cc @sbishel.

[2021-10-04 16:39] chenilim commented on #1436
@asaadmahmood, I *think* we talked about this briefly, and decided to punt it for now. Are there other visual changes we wanted from the date picker? cc @sbishel.

[2021-10-04 16:43] chenilim commented on #1437
Thanks @asaadmahmood! Putting this up for grabs.

[2021-10-04 16:43] asaadmahmood commented on #1436
@chenilim Yup bug.
This is how it should look like.

![image](https://user-images.githubusercontent.com/11034289/135890811-e737298a-399f-4f66-949f-5b83a4e7bed4.png)

[2021-10-04 16:44] asaadmahmood commented on #1437
This is how it should look like.
Ignore the header, but the dates should look like this for a range:

![image](https://user-images.githubusercontent.com/11034289/135890918-8379958b-4f9c-46be-a91d-0dbb0adc55b6.png)

[2021-10-04 17:05] sbishel commented on #1438
@mgdelacroix -

My understanding is that `/boards` requires an authorized users, which is why this directs to `plugins/focalboard`. Unless that is changing with your work.

[2021-10-04 17:08] #861 closed

[2021-10-04 17:09] mgdelacroix commented on #1438
@sbishel you're right, in the case of the shared URL it should begin with `/plugins/focalboard` as per the current implementation of Shared Boards, so the issue with that path is only the duplication. The resulting bad URL is causing the router to show the boards page and that confused me.

[2021-10-04 17:12] kamre commented on #1437
@chenilim @asaadmahmood I have also noticed that the date range spanning between months looks a bit strange (from the video in "Focalboard / Boards October 2021 Roadmap Update"):
![image](https://user-images.githubusercontent.com/5587620/135893810-af964837-2d34-4b46-9b11-dfac989d5d67.png)
First 6 November days are not highlighted though they are in a range. Should this be reported as a separate bu

[2021-10-04 17:14] asaadmahmood commented on #1437
@kamre Yes, it can be.

[2021-10-04 17:17] mgdelacroix commented on #1281
Fixed on https://github.com/mattermost/focalboard/pull/1319

[2021-10-04 17:17] #1281 closed

[2021-10-04 17:17] kamre commented on #1436
It looks like this for me on the `main` branch currently:
![image](https://user-images.githubusercontent.com/5587620/135895106-7f690228-2b36-4f94-9c83-92a165fde8d4.png)
Personal server, Windows 10, Chrome 94

[2021-10-04 17:18] mgdelacroix commented on #1370
Fixed on https://github.com/mattermost/focalboard/pull/1391

[2021-10-04 17:18] #1370 closed

[2021-10-04 17:27] kamre opened #1439 "Bug: Date range doesn't highlight first/last days of the adjacent months"
## Steps to reproduce the behavior
1. Open a card with date property
2. Select date range: `October 1, 2021` -> `December 15, 2021`
3. Switch to October month in the calendar (not selecting any dates)
4. First days of November are not highlighted but they are in the selected date range.

## Expected behavior
All dates in the selected range should be highlighted.

## Screenshots
![image](https://us

[2021-10-04 17:29] kamre commented on #1437
Created #1439

[2021-10-04 18:01] #866 closed

[2021-10-04 18:11] hmhealey commented on #878
I think the `breaks` option for marked might be what you're looking for. I thought we used it in the web app, but the fork is pretty out of date and we have a lot of CSS messing with Markdown there as well, so it might not have needed it.

[2021-10-04 18:27] chenilim opened #1441 "Bug: Pressing Esc on a URL property results in a crash"
## Steps to reproduce the behavior

1. Open a card with a URL property
2. Click on the url property
3. (Optional) Enter or paste in a URL
4. Press Esc
4. "Something went wrong error"

## Expected behavior

No error. Esc should accept the input.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.9.1
 - Browser and OS: Chome 93 on macOS

## Additional context

Error in console:
[

[2021-10-04 18:27] #1360 closed

[2021-10-04 18:29] chenilim commented on #1441
FYI @sbishel, @ogi-m. This is a regression from 0.8.2. I think we should investigate for v0.9, as it's an unhandled exception in the webapp, that might indicate a broader issue.

[2021-10-04 19:09] sbishel commented on #1441
On it.

[2021-10-04 19:11] chenilim commented on #1439
Thanks @kamre! Putting this up for grabs.

[2021-10-04 19:12] chenilim commented on #1435
Thanks @2024-SANDHYA! Could you share details or a screenshot of the items to add hover effects to? cc @asaadmahmood.

[2021-10-04 19:51] chenilim opened #1442 "Bug: CI tests are currently failing on release-0.9.0 branch"
## Steps to reproduce the behavior

1. See [release-0.9.0 branch](https://github.com/mattermost/focalboard/tree/release-0.9.0)
2. notice that recent commits have been failing CI tests

## Expected behavior

CI tests all pass

## Edition and Platform

 - Edition: All
 - Version: v0.9.1

## Additional context

See [this CI run](https://github.com/mattermost/focalboard/runs/3793460458) for details on

[2021-10-04 19:52] chenilim commented on #1442
@sbishel, filing an issue to track this. I think we just need to update the snapshots, and clean up a couple tests. cc @ogi-m.

[2021-10-04 20:25] ssensalo commented on #1350
Hey @sbishel and @chenilim, I would like to work on this issue

[2021-10-04 20:27] sbishel commented on #1350
Thanks @ssensalo, its all yours.

[2021-10-04 20:28] chenilim opened #1443 "Bug: Shared board URL shows login page"
## Steps to reproduce the behavior

1. Open a board
2. Click on the board menu (...) and select share board
3. Enable sharing
4. Click on copy link
5. Open a private browser window, and paste in link
4. The login screen appears

## Expected behavior

The shared board displays

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.9.1 RC3
 - Browser and OS: Chrome 93 on macOS

## Ad

[2021-10-04 20:30] chenilim commented on #1392
@mgdelacroix, assigning to you for now, as this may be a dup or related to https://github.com/mattermost/focalboard/issues/1438 and https://github.com/mattermost/focalboard/issues/1443

[2021-10-04 20:31] chenilim commented on #1443
This might be a dup / related to https://github.com/mattermost/focalboard/issues/1392 and https://github.com/mattermost/focalboard/issues/1438, but the repro steps here are very direct for me.

[2021-10-04 20:56] #1357 closed

[2021-10-04 20:58] #1395 closed

[2021-10-04 21:27] #1397 closed

[2021-10-05 00:46] matthewbirtch commented on #386
I'm not sure how different this is from our current link previews - I guess it offers more control for us rather than using the opengraph data? I don't know if the RHS detail view is going to offer more value than just clicking the link - especially if we offer the hover interaction.

Also, there is already work underway to unfurl cards for the Boards product, so I'm excited to see that get in to

[2021-10-05 01:48] #863 closed

[2021-10-05 02:16] #862 closed

[2021-10-05 04:04] #860 closed

[2021-10-05 06:40] kamre commented on #878
@hmhealey `breaks` [is already set](https://github.com/mattermost/focalboard/blob/main/webapp/src/utils.ts#L163) to `true` and this doesn't produce the desired behaviour because the sequence of line ends is collapsed to single one.

And `focalboard` [is not using forked version](https://github.com/mattermost/focalboard/blob/main/webapp/package.json#L39). That is why I have asked if using forked ve

[2021-10-05 09:06] mgdelacroix commented on #1443
Yep, this is a dup of https://github.com/mattermost/focalboard/issues/1438, the modification of the URL causes the router to show the boards, and if you're not logged into the instance you'll see the login instead

[2021-10-05 09:06] #1443 closed

[2021-10-05 11:50] aloks98 commented on #1439
Hey, I'd like to work on this issue!

[2021-10-05 12:06] jankolf opened #1448 "Bug: Can not invite users - Invalid registration link [v0.9.1 - RC3]"
## Setup
I installed v0.9.1 - RC3 on my [Uberspace account](https://lab.uberspace.de/guide_focalboard.html) and adapted the installation instructions to new focalboard setup (e.g. changed directory name).
Setup is using postgresql, "dbtype", "dbconfig" and "postgres_dbconfig" is set accordingly.

## Steps to reproduce the behavior

1. Click on the left upper side on "focalboard"
2. Click "invite u

[2021-10-05 14:12] ogi-m commented on #1286
PR: https://github.com/mattermost/mattermost-webapp/pull/8901

[2021-10-05 14:22] #1271 closed

[2021-10-05 14:23] asaadmahmood commented on #1271
Should be fixed with this PR, based on Ogi's comments.
https://github.com/mattermost/focalboard/pull/1310

[2021-10-05 14:36] chenilim commented on #1385
@jespino, I think this was already fixed in main. If so, please close the bug. Thanks.

[2021-10-05 14:56] sbishel commented on #1421
Investigate in release-0.9.0. branch

[2021-10-05 15:45] aloks98 commented on #1439
Hi, I have fixed this CSS issue but there are some cases where I'd like input from the UI devs.
What if the end date is in next month's dates which show in current view?
![gh1439_1](https://user-images.githubusercontent.com/45600289/136056950-dfe6f255-5f17-4ed7-8845-cf653709b69c.png)

[2021-10-05 15:51] mmmint commented on #1448
Just downgraded to 0.9.0 and it works, meaning bug was introduced in 0.9.1.

[2021-10-05 16:16] chenilim commented on #1448
Thanks @jankolf and @mmmint! @sbishel, looks like this is a blocking issue for v0.9 Personal Edition. cc @ogi-m.

[2021-10-05 16:32] wiggin77 commented on #1442
I enabled CI test runs on PRs that target the release branch, so new PRs with failing tests won't slip through going forward.  However, this means no new PRs can be merged with `release-0.9.0` until the existing errors are fixed (or an admin forces a merge).

[2021-10-05 16:36] sbishel opened #1451 "Enhancement: Mobile View - LHS should be minimized by default"
## Summary

Closing the LHS would give the mobile view more real estate for the current board. The user would still be allowed to expand the LHS on demand.

## How important this is to me and why
Very important to make mobile more usable. Currently the LHS take up a lot of real-estate. And although it can be closed manually, starting closed would give the user more real estate to start and remind

[2021-10-05 16:55] chenilim opened #1452 "Bug: Desktop App: Clicking on the unread filter in Channels sometimes opens the Boards dashboard"
## Steps to reproduce the behavior

1. Open the Mattermost Desktop App v5.0 (RC2)
2. Click on the unread threads filter button in Channels
3. Sometimes the Boards dashboard opens

## Expected behavior

The Boards view should not open

## Screenshots

![unread thread button](https://user-images.githubusercontent.com/46905241/136068084-2aa5180f-cc23-43a4-b5fe-163927ada81b.gif)

## Edition and Platfo

[2021-10-05 17:00] chenilim opened #1453 "Bug: Desktop App: Clicking on the back button sometimes opens Boards"
## Steps to reproduce the behavior

1. Open the Mattermost Desktop App v5.0 (RC2)
2. Click on the back button in Channels
3. Sometimes the Boards dashboard opens

## Expected behavior

The Boards view should not open

## Screenshots
https://user-images.githubusercontent.com/46905241/136068894-f3bec8eb-eff6-484a-a138-8333804a8f6e.mov

## Edition and Platform

 - Edition: Mattermost plugin
 - Versio

[2021-10-05 17:03] kamre commented on #1448
We need Cypress tests for this functionality!

I [started working](https://github.com/kamre/focalboard/pull/1/files#diff-4b5c671a5f23aabe1811d05711075551cb555074a50d99ae91061e62e0f7f1e6) on https://github.com/mattermost/focalboard/issues/42 and wanted to add tests for inviting users also, but the infrastructure for Cypress testing was not ready.

@saturninoabril any updates for the testing infrast

[2021-10-05 17:04] sbishel commented on #1442
Perfect. I'm preparing a PR for these fixes now.

[2021-10-05 17:08] #859 closed

[2021-10-05 17:28] aloks98 commented on #1448
I think I have identified the issue. Mind if I drop a PR on this?

[2021-10-05 17:37] sbishel commented on #1448
@aloks98 - I was just getting ready to investigate...I'd love to see your PR.

[2021-10-05 17:43] hmhealey commented on #878
Oh, I see. I misread the ticket description.

In that case, it's just part of Markdown where it doesn't follow the user's inputted line breaks unless they're in code blocks. Even the web app's version of marked doesn't preserve them despite it predating the CommonMark spec.

[2021-10-05 21:50] sbishel commented on #1442
Didn't autoclose...closing manually.

[2021-10-05 21:51] sbishel commented on #1442
Didn't autoclose...closing manually.

[2021-10-05 21:51] #1442 closed

[2021-10-05 21:53] tjbortz1s opened #1459 "Bug: Three dot menu on cards reopens if you unhover and hover back on to the card"
## Steps to reproduce the behavior

![ThreeDotMenuHoverReopens](https://user-images.githubusercontent.com/6193065/136107843-431c9a43-2f4e-4d48-98aa-7de6fa7f82d9.gif)

## Expected behavior

The three dot menu remains closed.  I think it looks like the open item is kept by a number? Opening another item in the list closes the one that was previously open.

## Edition and Platform

 - Edition: Person

[2021-10-05 22:55] #1353 closed

[2021-10-06 00:15] saturninoabril commented on #1448
Hello @kamre, sorry to block the Cypress item. Feel free to submit PR for [issue-focalboard-42](https://github.com/mattermost/focalboard/issues/42) with your https://github.com/kamre/focalboard/pull/1/files but I'll let Boards team to drive on how to proceed as it's touching the basic foundation of single-server setup. cc @sbishel

I'm currently looking at the Product suite test setup and it will

[2021-10-06 04:15] kamre commented on #1459
Looks similar to #1007

[2021-10-06 05:13] akshat-kumar2109 commented on #1393
No problem @asaadmahmood

[2021-10-06 06:08] leosunmo opened #1461 "Feature Idea: Importing Images/Attachments"
## Summary

Allow importing images and other attachments

## How important this is to me and why
Importance: Medium
This is kinda needed for a smooth transition from Trello or similar.

Use cases:
* Importing from Trello or other compatible services

## Additional context/similar features

As I was looking at adding support for full Trello imports I realised I had no good way to import attachments

[2021-10-06 06:13] asaadmahmood commented on #1439
@sbishel Yes I'd be fine with that for now, ideally we want those numbers from the other month to be hidden like what material design does. If that's not possible, we can highlight the date in the same view (and also in the other month).

![image](https://user-images.githubusercontent.com/11034289/136149906-b1044535-3df0-4708-b196-01c917136d0b.png)

[2021-10-06 06:24] aloks98 commented on #1439
@asaadmahmood Let me look into it, if hiding the next month's dates are possible.

[2021-10-06 06:35] asaadmahmood commented on #1439
@aloks98 Sure, we do style them differently, so I thnk it should be possible.

[2021-10-06 07:11] jankolf commented on #1448
Thank you all very much for the valuable work and quick responses, I really appreciate it.

[2021-10-06 08:06] jespino commented on #1385
Yes, this is fixed on main.

[2021-10-06 08:06] #1385 closed

[2021-10-06 08:41] #1452 closed

[2021-10-06 08:41] #1453 closed

[2021-10-06 09:15] Techrese opened #1462 "Bug: ui error in the login page"
There is a simple ui error in the login page.

What I tried:

Created a new login with the same email different username.

- result: error message 'invalid registration contact your administrator'
 this error message appears underneath the form and is rather not readable too.

![Capture](https://user-images.githubusercontent.com/20265461/136174667-2f1f47f8-c09e-4288-9c23-dda3291abbe0.PNG)

using v

[2021-10-06 09:20] Techrese opened #1463 "Feature Idea:"
Due to my ui issue:

First enhacement is the errormessage 'invaliid registration contact your administrator' since I have set it up and being me as administrator I still don't know what this error message means.
I assume: since I tried to create a new account with the same email I guess that the error.

- enhancement: improved error message with clearer view for the user or administrator
- example

[2021-10-06 11:16] gagandeepp commented on #846
interested please assign

[2021-10-06 13:15] #1286 closed

[2021-10-06 13:57] #1441 closed

[2021-10-06 14:37] AbihaFatima commented on #1432
Is this issue still open? @asaadmahmood

[2021-10-06 15:06] asaadmahmood opened #1467 "Feature Idea: Create checkbox when enter is pressed (if you're already on a checkbox)"
## Summary
In cards, if you are already on a checkbox, pressing enter should create a new checkbox below it and place the focus on that line.

## How important this is to me and why
Importance: Medium

[2021-10-06 15:21] sbishel commented on #1392
Closed by accident...sorry.

[2021-10-06 15:55] #1438 closed

[2021-10-06 16:48] alauregaillard opened #1469 "Bug: "Select a template" (on add Board list) looks like a button but it is not"
## Steps to reproduce the behavior

1. Go to Focalboard
2. Click on "Add Board"
3. Mouse hover the label "Select a template"
The mouse pointer and the background color of the field are like it is a button but clicking is not doing something.

## Expected behavior

The mouse pointer and the background color are not like it is a button.

## Screenshots

![Select a template](https://user-images.githu

[2021-10-06 16:57] #1392 closed

[2021-10-06 16:58] aloks98 commented on #1439
@asaadmahmood Done with changes
![Screenshot 2021-10-06 at 10 27 16 PM](https://user-images.githubusercontent.com/45600289/136249557-79ff7640-b992-4f58-9e13-b6289ababbcc.png)
![Screenshot 2021-10-06 at 10 27 33 PM](https://user-images.githubusercontent.com/45600289/136249568-2575e8d8-130a-490b-95b4-32a106da6a65.png)
.

[2021-10-06 16:59] ogi-m commented on #1452
Can no longer repro on v0.9 branch

[2021-10-06 17:55] chenilim commented on #1469
Thanks @alauregaillard! I propose fixing by removing the hover highlight from `Menu.Label` elements, unless you prefer a different approach @asaadmahmood? Putting this up for grabs.

[2021-10-06 19:14] #1439 closed

[2021-10-06 19:25] alauregaillard opened #1470 "Bug: Columns headers are not align with cards"
## Steps to reproduce the behavior

1. Open Focalboard
2. Click on "Add Board"
3. Click on "Meeting notes" (View "By type")
4. Add a lot of columns
5. Use the scroll bar (on the bottom)
Columns headers are not align with cards.

## Expected behavior

Columns headers have to be aligned with cards.

## Screenshots

![ColumnsHeaders](https://user-images.githubusercontent.com/86982045/136269384-e56ea5

[2021-10-06 19:25] sbishel commented on #1421
Have not been able to duplicate on either release-0.9.0 or main branch. Appears to be isolated to specific machine.

[2021-10-06 19:29] alauregaillard opened #1471 "Bug:"
## Steps to reproduce the behavior

1. Open Focalboard
2. Click on "Add Board"1. Click on "Meeting notes" (View "By type")
    Add a lot of columns
    Use the scroll bar (on the bottom)
    Columns headers are not align with cards.

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to elaborate on the problem.

##

[2021-10-06 19:51] chenilim opened #1472 "Bug: Clicking on a view in the sidebar opens the first view instead"
## Steps to reproduce the behavior

1. Open a workspace with multiple boards
2. Click on the second (or subsequent) view of another board in the sidebar
3. The first view of the board appears

## Expected behavior

The selected view should appear

## Screenshots

https://user-images.githubusercontent.com/46905241/136273242-2f2d291a-f966-4fd9-a34a-bc20d5fb125a.mov

## Edition and Platform

 - Editi

[2021-10-06 19:51] alauregaillard opened #1473 "Bug: Filter - when I press "delete" some older filters are added"
## Steps to reproduce the behavior

1. Open Focalboard
2. Click on "Add Board"
3. Click on "Meeting notes" (View "By type")
4. Click on "Filter"
5. Click on "Add filter" 3 times
6. Click on "Delete" for the first filter. I have 3 filters (expected 2).
7. Click on "Delete" for the second one. I have 1 filter.
8. Click on "Delete", I have 2 filters!?

## Expected behavior

Delete filter should delet

[2021-10-06 19:52] #1009 closed

[2021-10-06 20:20] alauregaillard opened #1474 "Feature Idea: Gallery view the card's text size is too small"
## Summary

Gallery view the card's text may be bigger in order to read it.

## How important this is to me and why

Importance: Low

Use cases:
1. The user wants to read the text description of a card in Gallery view.

## Additional context/similar features

I have this:
![DescriptionCard](https://user-images.githubusercontent.com/86982045/136275677-42fcb543-9fbd-4943-9c03-4c72f68de565.png)
I wan

[2021-10-06 20:28] alauregaillard opened #1475 "Bug: French translation is not complete"
## Steps to reproduce the behavior

1. Open Focalboard
2. Click on "Settings"
3. Click on "Set language"
4. Click on "Français"
5. Click on "Ajouter un tableau"
6. Click on "Nouveau modèle"

## Expected behavior

The text should be in french.

## Screenshots

![fr1](https://user-images.githubusercontent.com/86982045/136277865-27371698-a702-4892-b76b-122f851f19fc.png)
![fr4](https://user-images.git

[2021-10-06 21:05] tjbortz1s commented on #1459
Yes it does

[2021-10-07 01:58] chenilim commented on #1467
This is somewhat related to #288, but agree, we can take this as a more immediate improvement. Putting it up for grabs.

Bonus points: Pressing Esc or Enter on an auto-added checkbox should delete it.

[2021-10-07 02:04] chenilim commented on #1470
Thanks @alauregaillard! This was fixed in 0.9. The headers now scroll horizontally with cards. We haven't released 0.9 to the app store yet, but if possible, could you check if this still repros for you on [v0.9.1 RC4](https://github.com/mattermost/focalboard/releases/tag/v0.9.1-rc4)? Thanks!

[2021-10-07 02:04] #1470 closed

[2021-10-07 07:07] kamre commented on #1467
Hi! I am going to work on this issue. @asaadmahmood please assign this issue to me.

[2021-10-07 10:17] radiantly commented on #1469
Hey, could I take a go at this?

[2021-10-07 14:20] ogi-m opened #1480 "Bug: Boards don't match the selected theme when opened in a new tab"
## Steps to reproduce the behavior

**Desktop app:**
1. Go to Channels in the Desktop app
2. Go to Theme > Settings and change the theme
3. Open Boards from the global nav
4. Note the color scheme in boards doesn't match the one in channels

**Chrome:**
1. Open channels in browser
2. Go to Theme > Settings and change the theme
3. Click on the app launcher in the global nav
4. Open Boards **in a ne

[2021-10-07 14:59] wiggin77 opened #1481 "Bug: switching from channels to boards loses online status"
## Steps to reproduce the behavior

1. Go to a channel in Channels
2. See online status icon (green)
2. Select Boards icon
3. Wait a while for Boards to load :-(
4. See the online status icon empty

## Expected behavior
Online status is preserved when switching to Boards

## Screenshots
![online-status-lost](https://user-images.githubusercontent.com/5024605/136410509-85c5a243-6f36-4f05-bb11-082ab8

[2021-10-07 15:01] mgdelacroix opened #1482 "Bug: empty select property filter doesn't show cards with the field empty"
## Steps to reproduce the behavior

1. Create a field with `Select` type in a board, or use the `Status` field
2. Create two cards, one with that field set to a value and the other one with the value set to empty
3. Create a filter to show only the cards with the field not empty. You should see one card
4. Change the filter to show only the cards with the filter set to empty. You should see one ca

[2021-10-07 15:05] chenilim opened #1483 "Bug: Online status shows offline when opening Boards from the channel header button"
## Steps to reproduce the behavior

1. Open Boards from the channel header button
2. Your online status is offline (shown at the top right)

## Expected behavior

Should show current status

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.9.1
 - Browser and OS: Safari on macOS

## Additional context

This also repros if you open a link to a board directly in a new tab / windo

[2021-10-07 15:05] wiggin77 opened #1484 "Bug: Dashboard shows double username for private channel"
## Steps to reproduce the behavior

1. Go to private single user channel in Channels
2. Select  Boards from app switcher
3. See strange double username displayed for that board

## Expected behavior
Single username (or similar)

## Screenshots
![dashboard](https://user-images.githubusercontent.com/5024605/136411802-e7f3ab93-220f-4fb8-b5ef-8473feaf14e1.png)
## Edition and Platform

 - Edition: Matt

[2021-10-07 15:17] mgdelacroix opened #1485 "Bug: shared board link is generated without plugin prefix after refresh on desktop app"
## Steps to reproduce the behavior

1. On the desktop app, load a board and share it
2. Check the shared url, it should start with `/plugins/focalboard`
3. Refresh with `CTRL+R` or from the top menu
4. Check the shared url, it will not start with `/plugins/focalboard` and will load either the login screen if you try to access it on an incognito window or the "team not found" screen

## Expected be

[2021-10-07 15:24] wiggin77 opened #1486 "Bug: Markdown tables not rendering in cards"
## Steps to reproduce the behavior

1. Open a card
2. Add table syntax in bottom content area

e.g.
[code]

3. click elsewhere on card to save
4. See table not rendered as a table

## Expected behavior
Render markdown table as a table

## Screenshots
![markdown-table](https://user-images.githubusercontent.com/5024605/136414993-77f05b51-4052-4896-adf0-2a0658cb9604.gif)

## Edition and Platform

 -

[2021-10-07 15:24] mgdelacroix opened #1487 "Bug: export to CSV fails if the board is showing a multi select property"
## Steps to reproduce the behavior

1. Create a multi select property
2. Add a couple of values to it
3. Show the property on the board configuration
4. Click on the "export CSV" button. You'll see a "export failed!" message and no prompt to download

## Expected behavior

The export should work properly

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.9.1
 - Browser and OS:

[2021-10-07 15:41] sbishel opened #1488 "Allow "show empty" dashboard button to limit drop down."
## Summary

The "show empty" option on dashboard should limit workspace switcher dropdown. (May-be?)

## How important this is to me and why

Low

Use cases:
1. Limits options in drop down allows easier finding of boards.

[2021-10-07 15:52] chenilim commented on #1488
What do you think @asaadmahmood? Making the toggle apply to the dropdown as well should be easy, but one concern is users may not know to return to the dashboard to change the setting.

[2021-10-07 15:53] asaadmahmood commented on #1488
Would refrain from it @chenilim Until and unless its explicit in the dropdown, which I don't think is needed.

[2021-10-07 16:18] sbishel opened #1489 "Add Telemetry for Shared Boards"
Add telemetry for when boards are allowed to be shared as well as when a shared board is accessed.

[2021-10-07 17:03] sbishel opened #1491 "Enhancement: Change how we wrap names for React.Memo"
## Summary
When using React Dev Tools extension in the browser, the tree of components shows `Anonymous` components with `Memo`.

For proper names we can change wrapping of our components with `React.memo` from this:
[code]
to this variant:
[code]
and will have proper names in React Dev Tools.

If you search source code for `React.memo((`, there are 58 instances that need updated.

## How importan

[2021-10-07 17:04] #1488 closed, assigned to nobody

[2021-10-07 17:30] sbishel commented on #1421
Closing for now.

[2021-10-07 17:30] #1421 closed

[2021-10-07 19:42] lindy65 opened #1492 "Bug: "Calculate" menu below the Estimate Property opens underneath and is obscured by the Header row"
## Steps to reproduce the behavior

1. In Table view, create a couple of cards and add a property called "Estimate" with the type of number
2. Fill in some test data in the estimate fields of the cards (e.g. 8 and 16)
3. Hover below the "Estimate" field to display the "Calculate ^" option
4. Click on "Calculate ^"
5. Observe: menu opens underneath the header row and is partially obscured by the he

[2021-10-07 22:22] #1350 closed

[2021-10-08 12:01] AndreasAZiegler opened #1496 "Feature Idea: Synchronization"
## Summary

I'm working on multiple machines and therefore having the possibility to synchronize is very important for me. I wish a similar kind of synchronization as [Joplin](https://joplinapp.org/) has where I choose between different options (self-hosted Nextcloud server in my case). A web-only solution wouldn't work for me, since I'm quite often work without internet connection. If synchroniza

[2021-10-08 15:48] devinbinnie commented on #1485
Curious, how come the URL starts with `/plugins/focalboard` and not `/boards`? That might cause some strange Desktop App behaviour.

[2021-10-08 17:02] chenilim opened #1498 "Bug: Clicking a link in markdown toggles on edit mode"
## Steps to reproduce the behavior

1. Open a board
2. Add a link to the board description header (e.g. [link](http://www.focalboard.com))
3. Click on the link
4. The link opens in a new tab, but the header enters edit mode
5. Do the same thing with a card description (markdown content)

## Expected behavior

The markdown editor should not enter edit mode when a link is clicked.

## Edition and Pl

[2021-10-08 17:10] #1482 closed

[2021-10-08 23:38] #849 closed

[2021-10-09 05:53] #229 closed

[2021-10-09 12:35] nishantwrp commented on #1354
I think this issue can be closed as #1416 is merged.

[2021-10-09 12:39] nishantwrp commented on #999
Hi, I'd like to work on this issue.

[2021-10-09 17:16] Bhavin789 commented on #1347
Hello @sbishel, I had a brief look at the above lint warnings and it seems like easy fixes.

We have to either somehow define our TODO comments better and have to check with a way to define types for `window`.

May I have a look at this issue if its ok? Thanks!

[2021-10-09 17:42] Bhavin789 commented on #832
Hi @sbishel , may I add a test to this? Possible to assign it to me? Thanks!

[2021-10-10 08:18] kamre commented on #1467
Hi @chenilim. I was able to implement bonus points, please look at the pull request.

[2021-10-10 09:57] reyhhan commented on #1498
Would appreciate of you can guide me on setting up the dev environment as I'm new to this.
Do I need a macOS to fix this issue or can it be worked on using Windows OS?

[2021-10-10 15:24] chenilim commented on #1498
Hi @reyhhan, start with the [contributor's guide here](https://www.focalboard.com/contribute/getting-started/) to set up the dev environment. This can be set up on Windows, Linux, or macOS. LMK if you run into any issues. Thanks!

[2021-10-10 16:52] remram44 opened #1507 "Bug: license terms"
## Steps to reproduce the behavior

1. Go to [LICENSE.txt](https://github.com/mattermost/focalboard/blob/main/LICENSE.txt)
2. See the terms `You are licensed to use compiled versions of Focalboard produced by Mattermost, Inc. under an MIT LICENSE`
3. MIT is a **source code** license specifically granting permission to "modify, merge, publish, distribute, sublicense, and/or sell copies of the Softw

[2021-10-10 16:56] remram44 commented on #1507
Your license file also includes a "promise" which probably should be taken out of this legal document. If you want to make it legalese, please outline what happens if you break said promise.

[2021-10-10 18:53] aroberts commented on #103
I found my way here from #152, and suddenly it's clear why there's no traction on that ticket. I'm glad to know that any kind of login federation won't be available in this product (by "this", I mean the open source / open core self-hostable product) - it's good to know I can direct my attention and effort elsewhere.

[TaskCafe](https://github.com/JordanKnott/taskcafe/discussions/20) may be a proj

[2021-10-11 05:42] pathakshashank17 opened #1509 "Feature Idea: LaTeX / KaTeX support"
## Summary

`KaTeX` / `LaTeX` support greatly helps in creating beautiful math embedded docs.

## How important this is to me and why

Importance: High. I use Notion **only** due to its KaTeX capabilities.

## Additional context/similar features

Notion does this by wrapping the `KaTeX` syntax between `$$$$`, like this:
[code]

[2021-10-11 08:12] harshilsharma63 opened #1510 "Make calculation labels translatable"
The table/kanban calculation options are not translatable as of now. We should allow those to be translated.

<img width="175" alt="Screenshot 2021-10-11 at 1 41 58 PM" src="https://user-images.githubusercontent.com/18575143/136755418-e5a37df9-f80d-4971-93dc-a57684ebf232.png">

The strings are defined here - https://github.com/mattermost/focalboard/blob/9ca5cd6a877c154f528b9d5ff56e49aed33173a4/web

[2021-10-11 11:15] ogi-m commented on #1480
@jespino It doesn't happen if I set a different theme at the same time for both teams with the "Apply the theme for all my teams" option.
However, if I set the themes individually for each team, then this will happen even if I set the same theme for both teams.

[2021-10-11 11:19] ogi-m commented on #1480
I just realized why this happens on the desktop app but not browser - It's because it opens in a new tab.
I was just able to repro in Chrome as well:
1. Open channels in browser
2. Go to Theme > Settings and change the theme
3. Click on the app launcher in the global nav
4. Open Boards **in a new tab**
4. Note the color scheme in boards doesn't match the one in channels

I'll update the original d

[2021-10-11 13:18] nishantwrp commented on #1003
Hi, I'd like to work on this issue.

[2021-10-11 14:21] asaadmahmood opened #1511 "Feature Idea: Convert Icon buttons from <div> to <button>"
## Summary
Feature Idea: Convert Icon buttons from <div> to <button>

## How important this is to me and why
Importance: Medium

<img width="703" alt="Screenshot 2021-10-11 at 7 20 48 PM" src="https://user-images.githubusercontent.com/11034289/136806489-d8e6107b-496c-477a-8491-6e32c63216b6.png">

[2021-10-11 15:17] asaadmahmood opened #1513 "Feature Idea: Convert octo-sidebar-item from <div> to <button>"
## Summary
Feature Idea: Convert octo-sidebar-item from <div> to <button>

## How important this is to me and why
Importance: Medium

## Additional context/similar features
This is being used multiple times in the file, so please be sure to replace all instances.
Also, some css changes may be needed to revert the button base styles that are applied, so the UI looks the same as before.

<img width=

[2021-10-11 15:38] kamre commented on #1498
@chenilim @reyhhan Looks like this is not reproducible on standalone server for `release-0.9.0` branch. And actually similar bug #1011 was already fixed.

So this might be a Mattermost plugin specific bug.

[2021-10-11 15:46] jespino commented on #1071
I'm unable to reproduce it locally on the release-0.9.0 branch or master. I'm using linux and it is working for me in Chrome and Firefox. @hahmadia are you able to reproduce it?

[2021-10-11 16:43] chenilim opened #1515 "Bug: InitializeTemplates failed error on HA cluster install"
## Steps to reproduce the behavior

1. Create a new HA test cluster (via `/cloud create SERVERNAME --size miniHA --database mysql-operator --version master`)
2. Wait for the server to be provisioned, then log in
3. Open the server logs in the System Console
4. See the following error: `Error 1062: Duplicate entry '0-3fa520eb-30cd-4852-829a-ba3bc7e88e26' for key 'PRIMARY'`.

## Expected behavior

N

[2021-10-11 16:57] ogi-m opened #1516 "Bug: "Create a board" screen flashes briefly every time when opening Boards from channel header"
## Steps to reproduce the behavior

1. Open a channel with existing associated boards
2. Open Boards from the channel header
3. Note that the "Create a board" screen flashes briefly before the board view is loaded

## Expected behavior

User should be taken directly to the board view

## Screenshots

https://user-images.githubusercontent.com/15314183/136827295-3e8997f1-ac85-43b6-963a-d008f3cf5bf4.

[2021-10-11 17:09] ogi-m opened #1517 "Bug: Opening Boards from the app switcher lands the user on the dashboard"
## Steps to reproduce the behavior

1. From the desktop app, open boards, select a workspace and a board
2. Go back to Channels
3. Reopen Boards from the app switcher - user is taken to the dashboard.

## Expected behavior

User should land on the last viewed board

## Screenshots

If applicable, add screenshots to elaborate on the problem.

## Edition and Platform

 - Edition: Mattermost plugin

[2021-10-11 19:43] #1475 closed

[2021-10-11 21:27] ogi-m opened #1519 "Bug: "Create a Board" screen > Low contrast on dark themes"
## Steps to reproduce the behavior

1. Go to Channels and set a dark theme
2. Go to Boards
3. Click on the "+" button next to the channel switcher
4. Observe the text

## Expected behavior

Text should be easily readable

## Screenshots

![createaboard](https://user-images.githubusercontent.com/15314183/136857456-eb6b0337-d926-4fd0-bc11-1c0684e3e707.jpg)

## Edition and Platform

 - Edition: plugi

[2021-10-12 09:02] bhavin-a opened #1523 "Feature Idea: add common jest import file to configure RTL imports"
## Summary

While adding Unit Tests on [this issue](https://github.com/mattermost/focalboard/issues/832), I found that we are importing `@testing-library/react` in all the test files to extend the RTL (React Testing Libray) custom jest matchers. `jest` actually provides an easier way to handle this where we can add a setup file that is present for all the tests before they start.

This way, we can

[2021-10-12 11:31] #1080 closed

[2021-10-12 13:39] tjbortz1s opened #1527 "Bug: Mobile web header appears in desktop version of focalboard when window width is small"
## Steps to reproduce the behavior

Open focalboard
Shrink the window size until it's "mobile sized"

## Expected behavior

No warning appears or the warning mentions "small width" is unsupported instead?
Focalboard refuses to shrink beyond the size where the mobile header would appear on desktop?

I'm not sure what the expected behavior should be.  It doesn't seem right to get a warning for mobil

[2021-10-12 13:49] hahmadia opened #1528 "Feature Idea: Write Unit Test for emptyCenterPanel.tsx and welcomePage.tsx"
As part of the new FUTE pages that were implemented, unit tests for `emptyCenterPanel` and `welcomePage` had not been written. This is a issue to write unit test coverage for those two components.

[2021-10-12 14:24] austinsonger commented on #99
It's crazy that you don't add the binaries here... My work Macbook is blocked from downloading anything from Apple Store and linking itunes account to Macbook and the only way I can download apps is through github or the web.

[2021-10-12 16:09] DeeJayBro commented on #1487
I would like to work on this

[2021-10-12 17:14] #832 closed

[2021-10-12 17:22] #1486 closed, assigned to nobody

[2021-10-12 17:50] sargreal opened #1531 "Bug: Websocket in Plugin behind Traefik not "ready""
## Steps to reproduce the behavior

1. Setup Mattermost behind Traefik with https
2. Go to Boards Plugin
3. Realize that no updates are shown after interactions

## Expected behavior

Interface should be updated after interactions

## Screenshots

![image](https://user-images.githubusercontent.com/19500573/137003181-bfd4b491-344d-4371-915d-03db84aa63a8.png)

## Edition and Platform

 - Edition: Ma

[2021-10-12 18:40] tjbortz1s opened #1532 "Bug: Title textarea is not focused after creating a new item"
## Steps to reproduce the behavior

1. Create a new goal
2. Try to type without clicking anything

## Expected behavior

The title box is focused and typing sets the title.

## Screenshots

![TitleBoxNotFocused](https://user-images.githubusercontent.com/6193065/137011021-731b2220-b188-4083-b7a4-b091d027ac93.gif)

## Edition and Platform

 - Windows app v9.2

## Additional context

I saw there was

[2021-10-12 20:38] sudoManiac commented on #512
@asaadmahmood Hello . Please assign this to me I am working on this issue.

[2021-10-13 01:31] sbishel opened #1535 "Enhancement: Add telemetry for NonReliable Web Sockets"
## Summary

Add telemetry for EnableReliableWebSockets.

## How important this is to me and why

Needs added to Mattermost-server.

Importance: Medium

Use cases:
1. Understand how many servers have this turned off.

[2021-10-13 06:16] kamre commented on #1532
@tjbortz1s @chenilim It seems that corresponding fix from #1120 wasn't cherry picked to release branch.

[2021-10-13 08:28] gabrielctn opened #1536 "Bug: WebSocket connection failed - One or more reserved bits are on: reserved1 = 0, reserved2 = 1, reserved3 = 1"
## Steps to reproduce the behavior

1. Setup Mattermost with docker behind an Apache reverse proxy
2. Click on a channel
3. Click on Focalboard icon of that channel
4. In the new Boards tab that opened, click on "Add a table"
5. Add any table
6. The app redirects to the "Channels" tab with the error screen shown by screenshot 1.
7. The developer console shows the error in screenshot 2.

## Expecte

[2021-10-13 11:05] asaadmahmood commented on #512
@prakharporwal Its not about the value, but the property itself. So yes, that is only applied when you delete the whole property rather than the value. The values are obviously unique.

[2021-10-13 11:45] harshilsharma63 opened #1539 "Feature Idea: Dashboard: allow searching for words rather than only substrings"
## Summary

<img width="1361" alt="Screenshot 2021-10-13 at 5 08 29 PM" src="https://user-images.githubusercontent.com/18575143/137125639-b4737f4a-5153-495b-b8c5-21b984160ad1.png">

Currently, when we search for something in the dashboard search box, it searches for a substring.

The search can be improved by searching for the individual words in the input query.

For example, if there is a worksp

[2021-10-13 11:51] harshilsharma63 opened #1540 "Bug: Card icon picker closes while searching for emoji if mouse goes out of it's boundary"
## Steps to reproduce the behavior

1. Open any card
2. Click on it's icon and select `Pick Icon`.
3. In the emoji picker that opens up, click on the search filed and start typing something.
4. Now take your mouse outside the emoji picker. No need to click anywhere, just move the mouse.
5. Notice the emoji picker closes as soon as the mouse moves out of the boundary.

## Expected behavior

Emoji p

[2021-10-13 11:55] harshilsharma63 opened #1541 "Feature Idea: Add configuration for enabling/disabling boards import/export"
## Summary

Add configurable setting for enabling/disabling the ability to export and import boards data.

It should be a plugin setting for plugin mode and a config.json setting for personal server mode.

## How important this is to me and why

Importance: Medium

Use cases:
1. Allow administrators to control outflow of information.

[2021-10-13 11:57] harshilsharma63 opened #1542 "Limit a card's title length"
## Summary

Currently, a card's title has no virtual limit in the database or the UI.

Add a limit of 1000 characters to the card title.

Also, make sure it displays correctly in the UI.

## How important this is to me and why

Importance: Low

[2021-10-13 12:46] jenyaftw opened #1543 "Bug: Switch widget style"
## Steps to reproduce the behavior

1. Open settings pop up menu in bottom left corner
2. See the switch widget for random icons option item.

## Expected behavior

![image](https://user-images.githubusercontent.com/24240873/137135058-254dad09-59e5-46a0-9130-37a6ff6c692e.png)
![image](https://user-images.githubusercontent.com/24240873/137135104-da92d0e9-10b6-4ebe-a38c-64817ebbd7a9.png)

## Screens

[2021-10-13 12:46] nishantwrp commented on #1368
Hi @matheusmosca, are you working on this issue? If not, I'd like to work on this.

[2021-10-13 13:36] mgdelacroix opened #1545 "Bug: opening the desktop app in the Boards tab doesn't send through the WorkspaceID"
## Steps to reproduce the behavior

1. In the desktop app, open a board
2. Close the desktop app
3. Reopen the desktop app. It should load on the boards tab.
4. Perform an action like creating a card or moving one around

## Expected behavior

The result of the action should be reflected on the state of the frontend, but is not.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v

[2021-10-13 14:10] JenyaFTW commented on #1542
Can I take this?

[2021-10-13 14:24] asaadmahmood commented on #1542
@JenyaFTW Sure

[2021-10-13 15:01] amyblais opened #1549 "Update mattermost-server to pre-package Focalboard plugin v0.10"
Update [the makefile](https://github.com/mattermost/mattermost-server/blob/master/Makefile#L123) so that Focalboard v0.10 ships with Mattermost 6.1.

Note that this needs to be cherry picked to the appropriate branch for the release.

**Deadline: November 9th (6.1 Code Freeze)**

[2021-10-13 15:21] prakharporwal commented on #1140
@chenilim @asaadmahmood  Please assign this to me I have worked on #512

[2021-10-13 15:42] chenilim commented on #1485
@devinbinnie (sorry, missed your comment earlier): The shared URLs are off `/plugins/focalboard` because they are meant to be accessed by unauthenticated users, and `/boards/...` would trigger an auth check. In general, the shared URLs are expected to be opened in a browser vs. the desktop app.

[2021-10-13 15:59] #1487 closed

[2021-10-13 16:28] De1ain commented on #1539
Hi @harshilsharma63, please assign this issue to me.

[2021-10-13 17:18] nathanaelhoun commented on #1531
I had a similar problem, Mattermost v6.0 behing nginx, and setting `ServiceSettings.EnableReliableWebSockets` to `true` fixed that.
Solution was found [here](https://forum.mattermost.org/t/websocket-issues-with-mattermost-6-0-0-and-boards-mattermost-websocket-client-is-not-ready/12302/4).

[2021-10-13 18:03] #1532 closed

[2021-10-13 20:54] chenilim opened #1555 "Bug: Share board dialog is unusable in German (and possibly other languages)"
## Steps to reproduce the behavior

1. Switch the language to German
2. Click on the board menu, and select Share Board ("Board teilen")
3. The switch is not visible

## Expected behavior

The switch is visible and usable.

## Screenshots

<img width="444" alt="Screen Shot 2021-10-13 at 1 51 07 PM" src="https://user-images.githubusercontent.com/46905241/137211127-45c75a19-6f6a-4057-91bb-4e71073590

[2021-10-13 21:44] gabrielctn commented on #1531
I have the same issue, the solution to set `ServiceSettings.EnableReliableWebSockets=true` in config.json worked for the browser version but it didn't resolve the problem for Mattermost Desktop v5.0.0. Any idea why ?
I opened #1536  for that matter.

[2021-10-13 22:43] gabrielctn commented on #1536
@philiplb are you also reverse-proxying ?

I have no idea how to diagnose this. Maybe it is because of the version of my Apache ? Therefore the module proxy_wstunnel is not working well ?

[2021-10-14 04:53] harshilsharma63 commented on #1540
@adithyaakrishna absolutely!

[2021-10-14 06:16] Johennes commented on #1368
@nishantwrp apologies, I had already started work on this in conjunction with #1080 but forgot to report back here. :facepalm:

[2021-10-14 07:30] sargreal commented on #1535
As already mentioned in #1531, EnableReliableWebSockets is if I'm not mistaken basically required for focalboard to work at all?
This should definitely be analyzed, especially because on our server it was set to false in the config.json so the new default (https://github.com/mattermost/mattermost-server/pull/17890) did not work. Probably as it was introduced with default false.

To note that as we

[2021-10-14 07:31] jensschaerer opened #1558 "Feature Idea: Change workspace name"
Currently, the namespace is built from the channel name in Mattermost. For private boards that you can only see yourself, we use our own message channel in the team. Unfortunately, this is then displayed in the workspace view with "firstname.lastname, firstname.lastname" or in the dropdown with "firstname.lastname". It would be great if you could assign a separate name for each workspace, if neces

[2021-10-14 07:54] philiplb commented on #1536
@gabrielctn Yes, with an Apache in front.
I haven't found a solution yet and I don't know what's going wrong here.

[2021-10-14 09:58] gabrielctn commented on #1536
Ah so you mean that it "still **doesn't** work" for you either then ? I thought you meant it works for you.

[2021-10-14 15:09] chenilim opened #1562 "Feature Idea: Add Jira import script"
## Summary

Add a script to import issues from Jira

## How important this is to me and why

Importance: Medium

Use cases:
1. Migrate from Jira to Boards

Related to #53.

[2021-10-14 19:35] alexander-potemkin opened #1566 "Feature Idea: documentation, not only the boards"
## Summary

Is there any foreseen expectation for the documentation support, like Notion does (not just the trello boards)?

## How important this is to me and why

It's very important, because we use to document everything in Notion.so and do the tickets only when things needs to be planned; having texts and boards in a different services doesn't really help =(

To say an awful thing: we start to

[2021-10-14 21:13] chenilim commented on #1498
@prakharporwal, the enableLocalMode setting opens a file socket for the Admin API, mainly for [resetting passwords](https://www.focalboard.com/guide/admin/#resetting-passwords). Unfortunately, it seems that this file isn't always correctly cleaned up, which causes subsequent launches to fail. See #481.

[2021-10-15 01:54] chenilim opened #1567 "Bug: Link in @mention doesn't open card"
## Steps to reproduce the behavior

1. Create a card
2. `@mention` yourself in the comment or content
3. Click on the link in the notification (DM from the Boards bot)
4. The board opens, but not the card

## Expected behavior

The link should open the card

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: Main build, 10/14/21
 - Browser and OS: Chome 93 on macOS

## Additional c

[2021-10-15 02:15] chenilim opened #1568 "Bug: Opening a link to a card does not open the card"
## Steps to reproduce the behavior

1. Open a card
2. Copy the URL from the browser address bar
3. Open a new tab and paste in the URL
4. The board opens, but not the card

## Expected behavior

The card should open

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.9.2 (Community server)
 - Browser and OS: Chrome 93 on macOS

## Additional context

The card URL I tried was: ht

[2021-10-15 14:28] hmhealey opened #1570 "Bug: Emoji picker closes randomly when interacting with it"
1. Open a card
2. Click on the icon to change it and hover over Pick Icon
3. Move your mouse away from the popover or type a letter in the search box

## Expected behavio*u*r

The picker doesn't close so easily

## Screenshots

https://user-images.githubusercontent.com/3277310/137503525-827808fd-1326-4039-907f-6ca9f4b1351d.mov

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.

[2021-10-15 16:56] ogi-m opened #1572 "Bug: Activating table fields fails intermittently in Rainforest"
Clicking into a table view cell to activate it fails intermittently in Rainforest. Please [see the videos.](https://drive.google.com/drive/folders/14-S1hIZ5gb40php3NaxBB4xTdV682KQk)

Current solution is to use the TAB key to navigate fields, but is there something we can do about this?

[2021-10-15 18:12] nishantwrp commented on #1315
Hi, I'd like to work on this issue.

[2021-10-15 21:17] #1555 closed

[2021-10-15 22:39] sbishel opened #1576 "Bug: Person property is not centered vertically"
## Steps to reproduce the behavior

1. Go to a card
2. Select  'New Property'
3. Select 'Person'
4. Select a person from the dropdown
5. Value is not centered vertically
## Expected behavior

All other properties appear to be centered vertically

## Screenshots
![Screen Shot 2021-10-15 at 4 01 32 PM](https://user-images.githubusercontent.com/12704875/137558401-092527d4-77ee-4896-ae78-f4b1fc001355.

[2021-10-15 22:53] #1359 closed

[2021-10-16 05:23] kamre commented on #1576
Looks similar to this:
 - #1096

[2021-10-16 18:51] kamre opened #1581 "Bug: submenus are always visible"
1. Click on _Settings_ menu
2. Hover over _Set theme_ to show submenu
3. Move mouse to _Random icons_ menu item
4. Submenu is still visible

## Expected behavior

Submenu should disappear when any other menu item on the same level is hovered.

## Screenshots
![SubmenuAlwaysVisible](https://user-images.githubusercontent.com/5587620/137598923-ed1d2fb1-438c-455a-b40f-1bd71cfd4c84.gif)

## Edition and

[2021-10-18 16:25] chenilim opened #1589 "Bug: GetBlocks fails if CreatedBy is NULL in Database"
## Steps to reproduce the behavior

The repro steps are unclear, but somehow, the `created_by` field in the blocks table is set to NULL. This produces the following error (see [this thread](https://forum.mattermost.org/t/6-0-boards-not-working-apparently-x-boards-exists-but-none-show/12320/4)):

[code]

## Expected behavior

`created_by` should never be set to NULL. And there should not be an erro

[2021-10-19 10:09] ghost opened #1595 "Feature Idea: disable spellchecking in card comments"
Apparently the spell checker in comments is fixed to English. A way to disable that or change the language would be ideal. It could be the selected option in the configuration of the app.

[2021-10-19 13:05] mpetitdemange57 opened #1596 "Bug: Gallery view doesn't work"
## Steps to reproduce the behavior

1. Create a card
2. Add a description (at the bottom of the card)
3. Create a Gallery view
4. Go to the created Gallery view
5. ERROR - The screen is empty nothing is printed

## Expected behavior

The Gallery should print the different cards

## Screenshots

![image](https://user-images.githubusercontent.com/44063558/137914897-8bbe7e2a-a36f-4eb3-8171-600c420572

[2021-10-19 13:42] ogi-m opened #1597 "Bug: Desktop app > Refresh removes all items from the sidebar"
## Steps to reproduce the behavior

1. Go to Boards dashboard on the desktop app
2. Refresh (CMD/CTRL+R)
3. Observe that the sidebar is now blank and the center view shows the "Create a board" screen

## Expected behavior

User should land on the dashboard.

## Screenshots

![desktop_refresh](https://user-images.githubusercontent.com/15314183/137921661-678a6b22-b75b-4a5d-875e-7c545385a7e2.jpg)

##

[2021-10-19 13:51] ogi-m opened #1598 "Bug: Deleting the first view in the list opens "Create a board" screen"
## Steps to reproduce the behavior

1. Go to Boards
2. Create a new board, e.g. Project Tasks
3. Select the first view in the list - "All Tasks"
4. Delete the view - "Create a board" screen opens in the center view

## Expected behavior

User should be taken to the next available view for the board.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.9.2; latest main
  - Browser

[2021-10-19 14:32] hmhealey opened #1599 "Feature Idea: Automatically sort multi-select property values"
## Summary

When displaying multi-select property values, it would be nice if they were automatically sorted to avoid having two cards with the same values for a property that appear in a different order like in the screenshot below.

![Screen Shot 2021-10-19 at 10 28 03 AM](https://user-images.githubusercontent.com/3277310/137931474-1f98cd55-095c-43c5-afe5-8f8b184d4e83.png)

## How important this

[2021-10-19 19:00] kirtilodha opened #1602 "Can't start server (due to `enableLocalMode` setting)"
### Discussed in https://github.com/mattermost/focalboard/discussions/1601

<div type='discussions-op-text'>

<sup>Originally posted by **kirtilodha** October 20, 2021</sup>
<img width="598" alt="Capture" src="https://user-images.githubusercontent.com/67586672/137973806-28009832-afd5-4a90-ab2e-16e028eb465c.PNG">
</div>

[2021-10-19 21:39] gabrielctn commented on #1536
So, here is a little update.
I forgot to mention that I use Mattermost App + Plugin on an **Apple M1 Macbook Pro**. I just saw that the app is labelled as "beta" for the M1 version so maybe that explains it.
I was indeed unable to reproduce this error on browser versions, as well as on a linux, and am waiting for a user to give feedback on his Intel MacBook.

[2021-10-20 02:32] kamre commented on #1596
Should be fixed in #1556

[2021-10-20 02:39] #827 closed

[2021-10-20 04:06] kamre commented on #1599
@hmhealey do you propose to sort the labels lexicographically like it is done for cards with single select property label when sorting is enabled in the table or on the board?

[2021-10-20 07:03] afro-coder commented on #429
Was wondering if I can take this up.

[2021-10-20 07:16] Prassud commented on #429
Sure @afro-coder

[2021-10-20 12:21] #1511 closed, assigned to SGR007

[2021-10-20 18:48] chenilim commented on #1568
Closing, as this is fixed in main.

[2021-10-20 18:48] #1568 closed

[2021-10-21 01:19] igordsm commented on #483
Ok, so I hacked a solution for this today and it works as long as `pack` and `focalboard.db` are in the same dir as the executable. I'll be sending a PR in the next days.

[2021-10-21 09:46] nishantwrp opened #1615 "Bug: Two icons for same purpose (Hamburger & Show)?"
## Steps to reproduce the behavior

1. Collapse the sidebar.
2. Try to expand the sidebar.
4. See error.

## Expected behavior

I think there should be one icon instead of two there. Either one of `hamburger` or `show`.
## Screenshots

https://user-images.githubusercontent.com/36989112/138253379-d893809b-7718-4359-8f6f-e6b0ce677caa.mp4

## Additional Context
 I am not sure if it was intentional in

[2021-10-21 12:09] #852 closed

[2021-10-21 15:49] hmhealey opened #1620 "Bug: Unable to drag to select text in board group titles"
## Steps to reproduce the behaviour

1. Go to a Board view
2. Click and drag within the title of a group to select it
3. The groups in the view are rearranged

## Expected behaviour

The text is selected without moving the group

## Edition and Platform

 - Edition: Mattermost plugin (community-daily)
 - Version: v0.9.3 beta
 - Browser and OS: Desktop App (nightly) on Mac

[2021-10-21 17:17] #1489 closed, assigned to sbishel

[2021-10-22 02:54] marcvelasco commented on #1349
@sbishel @chenilim can I look at this one?

[2021-10-22 09:07] #1485 closed, assigned to harshilsharma63

[2021-10-22 09:07] #1545 closed, assigned to harshilsharma63

[2021-10-22 16:16] ogi-m opened #1625 "Bug: Link Unfurl > Preview too wide for RHS and causes scrolling"
## Steps to reproduce the behavior

1. Copy a link to a card
2. Go to Channels and post the link
3. Open the post in the RHS and note the scrolling

## Expected behavior

The preview should fit within the RHS

## Screenshots

https://user-images.githubusercontent.com/15314183/138488720-bfb3ffec-bce1-483e-9697-0362b273f8c5.mp4

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: main

[2021-10-22 16:23] ogi-m opened #1626 "Bug: Link Unfurl > Properties without a set value are not counted in "+n more""
## Steps to reproduce the behavior

1. Open a card and create a new property but don't set a value, leave it blank (or toggled off if it's a checkbox)
2. Go to channels and post the link to the card
3. Note the value for "+n more" on the unfurled preview
4. Return the the same card in boards, and add a value to the property created in step 1
5. Return to channels and post the link to the card agai

[2021-10-22 16:30] ogi-m opened #1627 "Bug: Link Unfurl > Uneditable properties are not counted in "+n more""
## Steps to reproduce the behavior

1. Open a card in Boards and copy a link to it
2. Go to Channels and post the link
3. Note the "+n more" value
4. Return to Boards and add a "Created time" property
5. Go to Channels and post the link again
6. Note the "+n more" - "n" has the same value as in step 3

## Expected behavior

"n" should be incremented by 1

## Edition and Platform

 - Edition: Matte