[2021-07-17 16:24] chenilim commented on #715
Hi @kamre, the internationalized dates above look good to me. The key thing is the dates are unambiguous, which they appear to be.

Entering dates directly in this format is a separate issue from this. Please file a feature idea to track it. I don't think that is high priority right now. Thanks.

[2021-07-18 08:31] kamre commented on #715
@chenilim @asaadmahmood I have implemented the proposed approach with different date formats for displaying and editing. Please look at #748, there are some sceenshots.

[2021-07-18 12:30] kamre commented on #744
Regression is very similar to #641 and is caused by #447 when `z-index` of `.top-head` [was changed to 100](https://github.com/mattermost/focalboard/pull/447/files#diff-a34f365f7de9366f36e3c1cdaf54c6242bbe315b4341ee50ecc9a3d2e6184550R46) while `Modal` wrapper that is used for invite users dialog [has only 10](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/modal.scss#L5) f

[2021-07-18 12:52] kamre commented on #743
Regression was caused by #447 with [removing](https://github.com/mattermost/focalboard/pull/447/files#diff-b65f8567bcf45d4a2fd479abdf8dd326d451fec34e0c4dca156e4a8482665626) `width: 100%` from `.title`

[2021-07-18 14:31] kamre commented on #742
Regression was introduced in #553 when changing of type and name was merged into a single function `Mutator.changePropertyTypeAndName` because all options for new property template are [always reset now](https://github.com/mattermost/focalboard/pull/553/files#diff-aade4e54243eceb9fb093417357a0046317bc05608cdea8d77c6a1b3ebc14878L394) and before there was a [separate simple renaming](https://github.

[2021-07-18 15:34] kamre commented on #738
Regression was introduced in #586 when `overflow: auto` [was added](https://github.com/mattermost/focalboard/pull/586/files#diff-8cfe234ced0d8ff8513c392fbdff38c79b43ab48be429ff0ed7589502e368b2dR148) to `&.octo-table-body`

[2021-07-19 04:32] harshilsharma63 commented on #113
No, we do not want to store this column in database. Its something you can add to the list of columns in each row.

For reference, see how we add the first column in table view here - https://github.com/mattermost/focalboard/blob/77a90a473c5eb016b0ccb0c33f7151b27b6667ef/webapp/src/components/table/tableRow.tsx#L83

[2021-07-19 08:05] harshilsharma63 commented on #718
@chenilim This PR by @jespino fixed this issue as a side effect - https://github.com/mattermost/focalboard/pull/649

[2021-07-19 08:25] #725 closed

[2021-07-19 08:36] harshilsharma63 commented on #725
@chenilim this is now fixed in main and has been cherry picked into `release-0.8.0` as well.

[2021-07-19 10:59] #738 closed

[2021-07-19 11:06] harshilsharma63 commented on #708
@kamre would you be able to try this out on the latest `main` branch? It seems to be working fine now.

[2021-07-19 11:41] harshilsharma63 commented on #461
FYI I'm working on this.

[2021-07-19 11:47] kamre commented on #708
@harshilsharma63 still reproducible on `main` now. Need to drop the card on column, not on the other card.

[2021-07-19 12:21] kamre commented on #738
@harshilsharma63 @chenilim if the width of the browser window is small enough there will be two scroll bars at the bottom:
![GH-738-TwoScrollBars](https://user-images.githubusercontent.com/5587620/126158777-b612a52e-cdc5-4ad0-9868-18ce1e0cb521.gif)
Is this the expected behaviour?

[2021-07-19 17:23] chenilim commented on #550
Just a heads up that we are taking a closer look at this in #715, and the [updated design proposal](https://github.com/mattermost/focalboard/issues/715#issuecomment-881922287) is to use MMMM DD, YYYY (e.g. June 09, 2021) as the default display, while keeping MM/DD/YYYY or DD/MM/YYYY (based on the user setting) as the edit-time format. Overall, I think this is a better default as it is unambiguous

[2021-07-19 23:03] chenilim opened #753 "Bug: Clicking on a Markdown link should open it in a new tab"
**Steps to reproduce the behavior:**
1. Open a card with a link in the Markdown description (or add one)
2. Click on the link
3. The card enters edit mode, then the link is opened in the same tab

**Expected behavior:**
The link should open in a new (_blank) tab, without entering edit mode.

**Screenshots:**
https://user-images.githubusercontent.com/46905241/126238307-fc2b1fb8-d573-4b43-b1af-dc2e7

[2021-07-19 23:04] chenilim commented on #753
@hahmadia can you help investigate? Not sure what caused this regression, but I recommend starting with the MarkdownEditor control. cc @harshilsharma63.

[2021-07-20 09:10] kamre commented on #753
@chenilim @jespino regression happened during the changes in #579, in particular when this check was added to `Utils.htmlFromMarkdown`:
[code]
because `openInNewBrowser` is `undefined`.

[2021-07-20 11:18] #690 closed

[2021-07-20 13:01] #670 closed

[2021-07-20 14:16] chenilim commented on #514
@harshilsharma63 please investigate and let's circle back.

[2021-07-20 14:19] chenilim commented on #504
Weblate dashboard: https://translate.mattermost.com/projects/focalboard/webapp/

[2021-07-20 14:41] chenilim commented on #718
@jespino please fix this on release-0.8.0.

[2021-07-20 15:54] asaadmahmood commented on #678
Should be fixed by my PR.

[2021-07-20 15:54] #678 closed

[2021-07-20 17:15] chenilim commented on #492
Putting this on the backburner - we plan to overhaul the menu system at some point, but for now this is a low-priority item we'll continue to track.

[2021-07-20 17:16] chenilim commented on #706
Please investigate and assess if this is an easy fix, or if it requires other dependencies (e.g. user info permissions).

[2021-07-20 17:19] chenilim commented on #521
FYI @asaadmahmood, let's chat more about this one and how to best handle the broader issue of tooltips / accessibility, e.g. either as a Design push or as a series of bugs.

[2021-07-20 17:40] asaadmahmood commented on #743
@hahmadia Assigning this back to you. We don't have to just make it a 100% width, we have to span the title in multiple lines if it goes beyond the first line, so the ideal solution is to use either a contenteditable `div` or use a `textarea` that resizes itself as the content spans into multiple lines.

[2021-07-20 18:02] chenilim opened #756 "Bug: DB connections timeout on updates (Insert POST Block API requests)"
**Steps to reproduce the behavior:**
1. Use the Focalboard plugin v0.8.1 on Mattermost v5.37 for a while
2. Updates (e.g. move cards to different column) fail to complete

**Expected behavior:**
Updates work.

**Platform:**
 - Focalboard plugin v0.8.1 on Mattermost v5.37 with MySQL
 - Chrome 91 on macOS

**Additional context:**
Views (GET requests) still work fine.
See the following error in the s

[2021-07-20 18:03] chenilim commented on #756
@jespino, assigning this to you to track the issue and to merge the [fix in the release-0.8.0 branch](https://github.com/mattermost/focalboard/commit/1b8d46998691d089ab76089c1a1177a3bf14be08) to main. Thanks.

[2021-07-20 21:18] chenilim opened #757 "Bug: Cannot load some views with filters"
**Steps to reproduce the behavior:**
1. Open the "By Owner" view of our team Focalboard ([direct link](https://community.mattermost.com/plugins/focalboard/workspace/qgsck6cts3fwpqwyjiupjm5cde?id=47aa9bb4-6967-4a96-83c7-11bd6b20f1eb&v=89e87813-96b3-4e1d-825a-d2d919091a0c))
2. Open the Chrome developer console
3. See error:
[code]

**Expected behavior:**
The view loads without error

**Platform:**

[2021-07-20 22:53] candideu commented on #734
The issue was solved by downloading the latest version (zip file .exe version for Windows).

[2021-07-20 22:53] #734 closed

[2021-07-21 00:23] chenilim commented on #504
Translations are set up and tracked via the Weblate platform, and anyone can contribute translations here: https://translate.mattermost.com/projects/focalboard/webapp/. In general, non-English languages will lag as new strings are added.

[2021-07-21 00:23] #504 closed

[2021-07-21 09:11] Techsigns opened #760 "Bug: Websocket closed before establishing connection"
**Summary:**
I've setup focalboard plugin 0.8.1 on recent Mattermost version and followed the guide under https://www.focalboard.com/download/mattermost/ to configure my Nginx reverse proxy as described. Anyway, the websocked is closed before establishing a connection, the proxy returns a 400 Bad Request

`[21/Jul/2021:09:05:41 +0000] "GET /plugins/focalboard/ws/onchange HTTP/1.1" 400 12 "-" "Mozi

[2021-07-21 12:51] yatadev commented on #587
@chenilim @MakerLab-Dev
I am also interested in MFA on Focalboard standalone.
I am also interested in proxy authentification like authelia support.

[2021-07-21 12:53] yatadev opened #762 "Doc:"
**Summary:**
Docker Hub has the standard readme instead of the docker readme

**Link to documentation page:**
https://hub.docker.com/r/mattermost/focalboard

[2021-07-21 17:40] kamre commented on #743
@asaadmahmood I have tried the approach with `textarea` [described here](https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/). Here is how it looks:
![GH-743-TextArea-Title-PoC](https://user-images.githubusercontent.com/5587620/126534072-ff0d7830-2068-47d4-b7d0-a152186650a7.gif)
This is just a _proof of concept_, it is possible to try it via downloading [artefacts from here](https

[2021-07-21 17:51] asaadmahmood commented on #743
@kamre This looks pretty good to me!

[2021-07-22 06:51] chenilim commented on #420
@harshilsharma63, I'm still seeing unexpected behavior dragging columns on v0.8.1:

https://user-images.githubusercontent.com/46905241/126599823-98f60734-485c-4de1-be1a-8affc5d3eb45.mov

Repros on the community server with [this board](https://community.mattermost.com/plugins/focalboard/workspace/qgsck6cts3fwpqwyjiupjm5cde?id=0e57479f-c05a-4191-8d7d-7a23a4a6ffd7&v=0dcb9125-cf17-498e-88b6-bfd397d83

[2021-07-22 10:28] kamre commented on #743
@chenilim @harshilsharma63  I have also found this [implementation of autosize textarea in the mattermost-webapp](https://github.com/mattermost/mattermost-webapp/blob/master/components/autosize_textarea.tsx#L17)

Can/should it be reused (copied) for the implementation for focalboard?

[2021-07-22 11:56] #428 closed

[2021-07-22 13:12] hahmadia opened #770 "Feature Idea: Card Title Expands To Multiple Lines"
**Summary:**
What the new capability is.

Card Title doesn't stay on one line and expands to several lines

**How important this is to me and why:**

Asaad and Community suggested enhancement from a bug ticket

Importance: Low

**Additional context / similar features:**
Any examples of good implementations of this capability.

Here the title should be expanded to several lines
![image](https://use

[2021-07-22 13:13] hahmadia commented on #743
@asaadmahmood @kamre

I love the discussion you guys are having about improving this! However, I think this issue is more so to revert the change that introduced the bug and I can create a new ticket and let you guys continue the discussion over there as the change you guys have requested is larger and more so an enhancement rather than a bug fix.

I've created a new issue that is a feature enhanc

[2021-07-22 13:58] #633 closed

[2021-07-22 13:58] #535 closed

[2021-07-22 14:36] #744 closed

[2021-07-23 06:17] chenilim opened #773 "Bug: Dragging a card to another column then back doesn't work"
**Summary:**
**Steps to reproduce the behavior:**
1. Create a new board, e.g. using the Roadmap template
2. Drag a card from column A to column B
3. Drag the card back from column B to column A
4. Nothing happens

**Expected behavior:**
The card returns to column A

**Screenshots:**
https://user-images.githubusercontent.com/46905241/126744015-70847796-e499-4f78-8e2a-af271a3e713e.mov

**Platform:**

[2021-07-23 06:18] chenilim commented on #773
@harshilsharma63, could you help investigate this one too? Not sure if this is already fixed in main. If so, please also fix on the `release-0.8.0` branch.

I have noticed some general instability with sequential drag operations like this one.

[2021-07-23 12:06] ogi-m opened #774 "Bug: Unable to access other views after adding a board title"
**Summary:**
If a user creates a new board, gives it a title and then adds several other views, the user is unable to navigate to any of the newly created views. A refresh fixes the issue.

**Steps to reproduce the behavior:**
1. Open Focalboard
2. Click on Add Board > Empty Board
3. Add a title to the new board
4. Click on the arrow next to board view to open the dropdown
5. In the dropdown click

[2021-07-23 16:20] chenilim commented on #774
Thanks @ogi-m. Looks like this is a dup of #718, and is a high priority to fix for 0.8.

[2021-07-23 16:20] #774 closed

[2021-07-23 16:39] tjbortz1s commented on #773
This may be relevant:
https://github.com/mattermost/focalboard/issues/740

[2021-07-23 17:10] chenilim commented on #773
Is this a dup of #708? Please close if so, and cherry pick / verify that fix on `release-0.8.0`. Thanks.

[2021-07-23 17:11] chenilim commented on #420
May be a dup of #740?

[2021-07-23 18:50] chenilim opened #775 "Bug: Debug error logs msg:invalid fmt.Stringer for key client provisioner."
**Steps to reproduce the behavior:**
1. Open https://logging.mattermost.com to Kibana \ Discover ([link](https://logging.mattermost.com/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(columns:!(_source),filters:!(),index:'246d1240-4cde-11ea-b868-791a4c31a3cf',interval:auto,query:(language:lucene,query:Focalboard),sort:!())))
2. Search for "Focalboa

[2021-07-23 18:51] chenilim commented on #775
@wiggin77, please investigate. Let's also review the info in Kibana to make sure it's what we expect to see. Thanks.

[2021-07-23 19:14] tjbortz1s commented on #740
Experimenting with this today, I managed to get everything back in order by moving a board, flipping between the two boards using the left bar, and moving the board again. I moved the boards one at a time to adjacent columns only.  Moving a board twice without swapping between boards seemed to cause issues with jumbling.

[2021-07-23 19:17] tjbortz1s commented on #741
This is also caused by dragging an item between two groups.

[2021-07-23 20:28] chenilim commented on #741
Thanks @tjbortz1s! @harshilsharma63, this might be related to #773.

[2021-07-23 22:42] chenilim commented on #762
@jwilander, I think you are the admin on the DockerHub page? No rush, but could you help add the [Focalboard docker readme](https://github.com/mattermost/focalboard/blob/main/docker/README.md) content to DockerHub? Maybe a link would be good, so users can always get to the latest.

[2021-07-23 22:49] chenilim commented on #760
Thanks for reporting this @Techsigns! Hmmm... the config looks right, and I assume you reloaded / restarted NGINX.

Does the other machine running the server (192.168.15.70 :80) have another proxy? That's the only difference (2-machine vs. 1) in the config from what I've tried myself. Thanks.

[2021-07-23 22:51] chenilim commented on #740
@harshilsharma63, looks like a dup / additional repro of #420 on v0.8.

[2021-07-24 04:18] yedamao commented on #432
@Aashimalik hi, are u still working on this

[2021-07-24 05:46] Aashimalik commented on #432
@yedamao
Someone else is working on this .

[2021-07-24 14:33] #757 closed

[2021-07-24 22:01] Techsigns commented on #760
@chenilim no, server doesn't have a proxy, it is barely a fresh Ubuntu server install with docker setup and the following docker-compose.yml to run mattermost (which works flawlessly since several months):

[code]

[2021-07-25 23:24] chenilim opened #778 "Remove date format user setting"
Now that #715 will be fixed, let's use this ticket to track removing the Date format user setting.

Apologies for the round-about path this took. However, I believe the resulting design (MMMM DD, YYYY) is better overall in avoiding the need for a user setting in the first place.

[2021-07-25 23:26] chenilim commented on #778
Hi @kamre, not sure why I can't assign this to you, but please use this ticket to submit the PR to remove the user setting. Thank you for all your help on this!

[2021-07-25 23:34] chenilim opened #779 "Bug: All dates should appear in MMMM DD, YYYY format"
**Summary:**
Per our updated design, dates in general should appear in the `MMMM DD, YYYY` format. The places where this needs to be fixed includes:
* Created Date properties
* Updated Date / Time

On both the in-card display and in the card preview on boards.

**Steps to reproduce the behavior:**
1. Open a card with a Created and Updated Date property
2. The format is not MMMM DD, YYYY

**Expecte

[2021-07-26 03:22] kamre commented on #778
@chenilim @asaadmahmood Should we also change the date format for editing date in the input? Something unambiguous like `YYYY-MM-DD`

[2021-07-26 05:11] #708 closed

[2021-07-26 05:39] harshilsharma63 opened #780 "Bug: Cards with long titles look bad in kanban board"
**Summary:**
Cards with long titles look bad in kanban board

**Steps to reproduce the behavior:**
1. Go to any kanban view board.
1. Create a card (or use existing card) with a really long title.

**Expected behavior:**
A card with a long title shouldn't extend infinitely vertically.

**Screenshots:**
<img width="557" alt="Screenshot 2021-07-26 at 10 27 10 AM" src="https://user-images.githubuserc

[2021-07-26 05:40] harshilsharma63 commented on #780
@asaadmahmood assigning this to you for UX.

[2021-07-26 07:47] asaadmahmood commented on #778
@kamre If possible, we should make it consistent to the MMMM DD, YYYY

[2021-07-26 07:55] kamre commented on #778
@asaadmahmood I think there is no easy way to parse `MMMM DD, YYYY` back into `Date` because `Intl` doesn't have such functionality. And for different locales it looks really different:
![KanbanCardPreviewDateLocales](https://user-images.githubusercontent.com/5587620/126042900-6e762484-d922-435a-b052-99cfc403757b.gif)
Even editing this with full names of the months can lead to typos and screwing t

[2021-07-26 08:00] asaadmahmood commented on #778
@kamre Then we can just leave the format as it is for now, as the user is already selecting it by himself and the input probably also gives him a visual indication of the date selected.

[2021-07-26 08:34] #770 closed

[2021-07-26 11:24] ZevSwe opened #783 "Feature Idea:"
**Summary:**
Create a Andriod app.

**How important this is to me and why:**
Today surfing to focalboard via a mobile browser isn't a very good experience, the format of the boards make it hard to read and scroll around, Moving cards is hard and so on. Having a nice and easy Andriod app would make this more useful for non-computer related tasks, thus making it more of a go to to-do tracker.

Impor

[2021-07-26 11:30] ZevSwe opened #784 "Feature Idea: Re-occuring tasks"
**Summary:**
If one uses focalboard for re-occurring tasks it would be nice if these could re scheduled as such.

**How important this is to me and why:**
This would make focalboard useful for all stuff one needs to do once in a while. Emptying TMP-folder, cleaning the pantry, updating servers etc.

Importance: Medium

Use cases:
1. Remind me to do chores in time intervals.

[2021-07-26 11:53] hahmadia commented on #743
Fixed by https://github.com/mattermost/focalboard/issues/770

[2021-07-26 11:53] #743 closed

[2021-07-26 12:10] jwilander commented on #762
@chenilim do you want me to replace the entire DockerHub readme just with that link above?

[2021-07-26 12:11] jwilander commented on #762
@jespino also has admin permissions for the repo to make changes

[2021-07-27 02:36] kamre commented on #778
@chenilim I have create a [branch for this issue](https://github.com/kamre/focalboard/compare/gh-715-consistent-date-display...kamre:gh-778-remove-preferred-date-format?expand=1) based on changes for #715

So after #748 is merged I will create new pull request.

[2021-07-27 03:00] kamre commented on #779
@chenilim After using `Utils.displayDateTime` with `long` option for month inside `Comment`/`CreatedAt`/`LastModifiedAt` components it looks like this:

![image](https://user-images.githubusercontent.com/5587620/127088107-83d6a807-bff8-4fbc-a8e7-01d3d08e4e04.png)
and
![GH-779-Board-Card-Preview](https://user-images.githubusercontent.com/5587620/127088273-0ee04564-b854-4480-9b4a-046c113bb425.gif)

[2021-07-27 04:14] chenilim commented on #779
Thanks @kamre! I guess I forgot to specify it in this ticket, but if the year is the current year, then let's omit it. i.e.:
* July 29 (for date)
* July 27, 9:55 AM (for date-time)

It looks like this was implemented for `displayDate`. Can you also help implement it in `displayDateTime`? Thanks!

[2021-07-27 04:17] kamre commented on #779
@chenilim yes, sure it will be easy to implement.

[2021-07-27 05:56] harshilsharma63 commented on #773
@chenilim yes it's a duplicate of #708 and is fixed on main. Can you give it another try?

[2021-07-27 05:59] chenilim commented on #773
Thanks Harshil. If it's fixed in main, please cherry-pick or re-fix on `release-0.8.0`. Thanks.

[2021-07-27 06:02] #715 closed

[2021-07-27 06:44] kamre commented on #779
@asaadmahmood editable date uses input with date picker and its text is not properly aligned with the text inside div for created/updated date and time (added temporary borders with red one for the input):
![image](https://user-images.githubusercontent.com/5587620/127107757-a15a6507-8e11-48db-95fa-fee86841fcbe.png)
Is this an issue? Should we try to fix this?

[2021-07-27 08:56] #778 closed

[2021-07-27 09:11] #779 closed

[2021-07-27 09:36] harshilsharma63 commented on #773
@chenilim done. Cherrypicked into `release-0.8.0`.

[2021-07-27 10:04] nough commented on #441
in addition to this, it could be useful to be able to use focalboard as a separate webpage, e.g. by going to mattermost.domain.name/plugins/focalboard/workspace. The application could detect that you've gone to a blank workspace, and redirect you to your personal workspace.

[2021-07-27 10:17] nough opened #793 "Feature Idea: Enable plugin as a separate window to Mattermost"
**Summary:**
The plugin for the Mattermost app currently opens as a "separate window" to mattermost, however this is not selectable from the windows taskbar. Instead, you have to open the mattermost application and then the focalboard window pops up on top.

**How important this is to me and why:**
If I've got a project that I'm working on, it would be nice to have the board for that project avail

[2021-07-27 10:21] nough commented on #793
an "open in browser" button could be a suitable workaround or replacement for this feature.

[2021-07-27 10:34] harshilsharma63 commented on #742
@kamre as always, thanks a ton for the investigation 👍

[2021-07-27 15:03] hahmadia commented on #773
Since #708 is close should we close this too?

[2021-07-27 15:03] #420 closed

[2021-07-27 15:04] harshilsharma63 commented on #773
@hahmadia yes. @chenilim can you just try it out on the latest `release-0.8.0` branch? I just want to make sure I got it.

[2021-07-27 15:05] harshilsharma63 commented on #740
Fixed with #789

[2021-07-27 15:05] #740 closed

[2021-07-27 15:42] #430 closed

[2021-07-27 16:57] #775 closed

[2021-07-27 17:56] chenilim commented on #773
Thanks @harshilsharma63! I'm out until next week. @ogi-m, can you help Harshil test this? Thanks.

[2021-07-27 18:23] tjbortz1s opened #794 "Feature Idea: Hit enter key while checkbox description item is selected to create a new checkbox item below"
**Summary:**

Right now if you want to add a dozen checkboxes it is an incredibly tedious process.  Click on the three dots, add below, new checkbox.  Checkboxes don't support new lines right now, so if pressing enter on the checkbox created a new one (in the future - shift and enter for a new line?) it would make their usage way way more simple.

Pressing backspace on an empty checkbox could dele

[2021-07-27 18:56] tjbortz1s commented on #794
Never-mind, found existing issue for this

[2021-07-27 18:56] #794 closed

[2021-07-27 21:19] chenilim commented on #793
Thanks for filing this @nough! We are synching with the Desktop App team next week to discuss. The current plan is for Focalboard to have a separate tab in the Mattermost Desktop App. In the mid-term (Q4), we are also planning on redesigning the sidebar to handle boards across the server. This should get us most of the way.

There are at least a couple more points to work through:
* Able to open s

[2021-07-28 01:49] gaoyan198 opened #796 "Bug: Invalid Registration Link"
**Summary:**
Unable to register new users

**Steps to reproduce the behavior:**
1. Go to log in page
2. Click on "or create an account ...."
3. Fill in the details
4. Error message of "invalid registration link" pops out

**Expected behavior:**
Supposed to go through and create the user for me

**Platform:**
 - Brower: Safari 14.1.1.1

[2021-07-28 16:27] haikukoten opened #798 "How to edit the Property Name?"
Is there a way to edit property name?

[2021-07-28 18:26] gagallo7 opened #799 "Bug: Changing icon resets property fields"
**Summary:**
In the editing task modal, when I change the icon, all properties are set to empty, except for `Date Created`.

**Steps to reproduce the behavior:**
1. Go to Project Tasks.
2. Hover a task.
2. Click on `Open` Button.
3. Fill some properties.
4. Change the task icon.

**Expected behavior:**
The task's icon changed to the one I picked for without modifying any other property of the task

[2021-07-28 21:40] gagallo7 commented on #799
I realized that there is a newer version of `focalboard-app`, tested here with `v0.8.0`. The issue doesn't happen anymore.
Closing this issue.

[2021-07-28 21:40] #799 closed

[2021-07-28 22:16] ogi-m commented on #773
✔️ Confirmed this is now fixed - no issues with when moving cards between columns

[2021-07-28 22:16] #773 closed

[2021-07-29 08:40] lonix1 commented on #670
New user here. I want to try out this app but I get the same bug as above. I'm using the latest dockerhub image 0.8.1.

Does someone have a working docker-compose file to share? Thank you.

[2021-07-29 09:56] #431 closed

[2021-07-29 13:18] tjbortz1s opened #801 "Bug: Drag and drop card onto itself causes card to jump to top of screen."
**Summary:**
Dragging and dropping a card onto itself causes the card to appear at the top of the list

**Expected behavior:**
The card does not move

**Screenshots:**
![DragDropOntoSelfBug](https://user-images.githubusercontent.com/6193065/127498851-25f34dc4-8e1a-4697-9e82-a7814d7fc5f3.gif)

**Platform:**
WPF 8.0.0

[2021-07-29 15:55] kamre commented on #801
Reproducible on `main` branch on standalone server.

Can be fixed by checking if the card is the same one:
[code]
Should I create pull request with this change?

[2021-07-29 21:01] ZevSwe commented on #783
Seems to be covered in #160, will close this.

[2021-07-29 21:01] #783 closed

[2021-07-29 21:06] ZevSwe commented on #160
Main problems with mobile is that the name of the current board takes a forth of the screen and cant be minimized in any way. It's a lot of scrolling around as the board isn't made for vertical screens. One can flip phone but then url+name of board+board menu takes 2/3 of the screen making it totally useless. Would love if this got taken care of!

[2021-07-29 21:13] ZevSwe commented on #107
I would also love the idea of some kind of user access on boards. Say I have a board for personal stuff, and then one for things to do around the house with my partner, maybe one temporary one with a pack list for the vacation, then I have another one with a friend for that code project we're working on. Now I don't want my partner to see my board, because I might put presents and other stuff on i

[2021-07-29 21:19] ZevSwe opened #804 "Feature Idea: Bulk template"
**Summary:**
When starting a certain project one might already know a bunch of stuff one needs, one might need a startup meeting, a end meeting, code review, report, final export, send invoice and what not. Or one uses this to build a standard packing list, when I travel I always bring tshirt, shirt, pants, charger, socks, underwear, toothbrush and what not. It could be a nice time saver not havin

[2021-07-30 08:02] #742 closed

[2021-07-30 08:02] #753 closed

[2021-07-30 08:35] Szymongib opened #805 "Doc/Tooliing: Add `make help` to Makefile to make it easier to work with commands"
**Summary:**
[Self-documenting Makefile](https://marmelab.com/blog/2016/02/29/auto-documented-makefile.html) make it easier for new contributors as well as takes some edge off when switching between projects as you can quickly lookup exact names of make rules without searching through the Makefile.

Example from other project:
![image](https://user-images.githubusercontent.com/19947566/127625461-5

[2021-07-30 09:21] kamre commented on #738
@harshilsharma63 @chenilim kanban board has the same issue with scrollbar in the middle of page.

Should this issue be reopened or a new one created?

[2021-07-30 11:32] #805 closed

[2021-07-30 11:33] jespino commented on #798
Yes, you only have to modify the property name inside a card.

[2021-07-30 15:36] jespino commented on #756
This is done

[2021-07-30 15:36] #756 closed

[2021-07-30 15:37] jespino commented on #718
This is already fixed in the redux branch, I think we can wait until get that branch merged.

[2021-07-30 16:28] sbishel opened #808 "Update Menu to common component"
The menus in CardDialog.tsx, GalleryCard.tsx, and KanbanCard.tsx are all very similar and in two cases identical.

We should create a common component for the menu and reuse on each card. All cards should support Delete, Duplicate, Copy Link. Additional menu items such as for CardDialog should be able to be added.

[2021-07-30 16:50] majidsajadi commented on #808
i would like to work on this. please assign to me if possible.

[2021-07-30 19:07] #503 closed

[2021-07-30 20:46] sbishel commented on #808
Awesome @majidsajadi its all yours. Let me know if you need additional information.

[2021-07-30 21:13] #433 closed

[2021-07-30 21:25] Shahzayb commented on #562
It's working as expected.

https://github.com/mattermost/focalboard/blob/6bbbecf3663bea83255ac66332ec5615aa7d637b/webapp/src/viewModel/boardTree.ts#L436-L441

[2021-07-31 05:56] kamre commented on #298
@chenilim is this issue still actual? I would like to work on it.

In [a card to track improving comments](https://focalboard-community.octo.mattermost.com/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared?id=47aa9bb4-6967-4a96-83c7-11bd6b20f1eb&v=ca1a5441-4c1c-4d0e-856e-88cc744576c8&r=762db9c6-305c-4d13-8ce6-9f11e5232c24&c=66db0d7d-11a5-4c32-83d3-ba57fc7065c6) there is a phrase: "we intend to replace t

[2021-07-31 18:03] lindy65 opened #809 "Bug: Not able to rename a new card from "Untitled" (macOS & Win10)"
Reproduced on AWS "latest" builds for macOS and Win10

**Summary:**
Text flashes between "Untitled" and "new_card_name"

https://user-images.githubusercontent.com/13020833/127748317-18d681fd-0e40-48f1-a993-97e54dc37208.mp4

[2021-08-01 06:07] kamre commented on #809
The issue is reproducible for standalone server and started to happen after the merge of #807

@jespino FYI

[2021-08-01 07:29] jespino commented on #809
Thanks for the heads up @kamre, I'll take a look.

[2021-08-01 08:06] jespino commented on #801
@kamre yes, feel free to create the PR, looks like the correct solution. Thanks! :)

[2021-08-01 08:10] jespino commented on #796
Currently focalboard is an "invitation only" system, the first account can be created without invitation link, but after that, you have to share the invitation link (you can get it in the top left header button), with that invitation link the registration should work.

@asaadmahmood clearly here we have a UX problem, should we hide the "o create an account" link when the server has already the fir

[2021-08-01 08:25] jespino commented on #780
@asaadmahmood probably the simplest solution for this (for kanban and gallery view) is to truncate the card title to a certain amount of characters. I can create a PR with that approach easily.

[2021-08-01 08:37] kamre commented on #780
Notion and Trello don't cut titles:
![image](https://user-images.githubusercontent.com/5587620/127764781-d75888f1-61af-4ea8-bb38-61f1cdaab71b.png)
![image](https://user-images.githubusercontent.com/5587620/127764814-e4cc0b79-5560-433b-bc5b-f36486fb897e.png)

[2021-08-01 09:21] TOWUK opened #814 "Doc: udpate download to latest!!!"
**Summary:**
set latest version!!!

**Link to documentation page:**
https://www.focalboard.com/download/personal-edition/ubuntu/

**(Optional) Additional context and/or screenshot:**
![image](https://user-images.githubusercontent.com/28830162/127765976-bbefb2eb-5f71-431c-8875-b5b07b9183a0.png)

[2021-08-01 10:11] TOWUK opened #815 "Bug: board area half used"
**Summary:**
check image
**Steps to reproduce the behavior:**
1. just create boards

**Expected behavior:**
none
**Screenshots:**
![image](https://user-images.githubusercontent.com/28830162/127767159-1f0df0b6-f199-43a7-a784-192cdea56148.png)
![image](https://user-images.githubusercontent.com/28830162/127767247-e4914f34-186e-400d-aafe-481f3705e2ef.png)

**Platform:**
 - Browser and version: latest

[2021-08-01 10:31] asaadmahmood commented on #796
@jespino Yes, we should hide it if the first user is created.
And we can also have a config that shows/hide that link and make Focalboard work for creating users without invitation as well. But the first step is removing the link.

[2021-08-01 10:33] asaadmahmood commented on #780
@jespino I don't think this is a big issue to begin with, we can truncate it at 3 lines if we want. But I'm not sure if its that important for users. Let's keep it as is and see if a lot of users are finding an issue with this.

[2021-08-01 10:47] justasojourner commented on #338
_Thanks for building this tool, it’s looking promising!_

Re: the calendar specifically, and the system generally, can you please keep internationalisation in mind. For example, for the majority of countries, Monday, not Sunday, is the first day of the week.

Also date display formatting is not just a matter of order (and again most countries use dd + mm + yy) but separators — ` ‘/‘, ‘.’, ‘-‘ `.

[2021-08-01 13:14] fl0r1s commented on #124
Example docker-compose could be:
[code]

You should then be able to `docker-compose build focalboard`, but I'm getting some NPM errors.
[code]

If anyone can make anything off this thaht would be cool.

[2021-08-01 13:24] kamre commented on #815
I have also noticed this [here](https://github.com/mattermost/focalboard/issues/738#issuecomment-882591170).

Propose to fix it via adding `flex` inside `centerPanel.scss`:
[code]

[2021-08-01 15:30] TOWUK commented on #815
How I will fix it, what path the file is?

[2021-08-01 15:57] kamre commented on #815
@TOWUK here is [the file with these lines](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/centerPanel.scss#L36-L38).

[2021-08-02 05:14] gaoyan198 commented on #796
Thanks @jespino ! Got confused and used the "register" button at the login page.

[2021-08-02 05:14] #796 closed

[2021-08-02 06:06] #809 closed

[2021-08-02 06:45] gaoyan198 opened #816 "Bug: Left navigation panel goes missing when minimised"
**Summary:**
Left navigation panel goes missing when minimised

**Steps to reproduce the behavior:**
1) Login
2) Click on minimise/hide left navigation panel
3) Unable to show the navigation panel again without refreshing page
4) Safari Version: 14.1.1, Chrome Version 92.0.4515.107
**Expected behavior:**
When I minimise the left navigation panel, there should be a button to allow me to undo an sho

[2021-08-02 07:01] harshilsharma63 opened #817 "Bug: Auto Size Column Doesn't Work In Firefox"
**Summary:**
Auto sizing of columns doesn't work in Firefox. Also worth checking Safari.

**Steps to reproduce the behaviour:**
1. Open Focalboard in Firefox.
1. Create a new Roadmap board.
2. The initial board should display a board with a Priority column header truncated to Priorit...
3. Double click the resize handle on the right side of the Priority column.
4. The column size would still be th

[2021-08-02 07:36] jespino commented on #780
Ok, lets close this and see if somebody complains in the future.

[2021-08-02 07:36] #780 closed

[2021-08-02 09:36] Johennes commented on #124
@chenilim if the Makefile was extended to include a cross-compilation target, would it be thinkable to in future attach x86 _and_ ARM build assets to releases in GitHub? I know it'd be a bit of extra work but it'd facilitate self-hosting via YunoHost (see YunoHost-Apps/focalboard_ynh#9).

[2021-08-02 09:47] #692 closed

[2021-08-02 10:12] #801 closed

[2021-08-02 10:56] kamre commented on #817
@harshilsharma63 this is interesting! I am going to look into this.

Some initial debugging in Firefox on Windows shows that `borderLeft` and `borderRight` for the computed style are empty strings and this leads to `NaN` because of `parseInt` usage.

At the same time `borderLeft`/`borderRight` in Chrome are like this: `1px solid rgba(0, 0, 0, 0)`

[2021-08-02 11:02] harshilsharma63 commented on #817
@kamre Hmm, that's interesting. If you'd like to work on this, I can assign it to you and remove the up for grabs label.

[2021-08-02 11:04] kamre commented on #817
Please assign to me.

[2021-08-02 11:06] harshilsharma63 commented on #817
There you go!

[2021-08-02 12:18] kamre commented on #817
Looks like Firefox doesn't support shorthands for computed style, i.e. `borderLeftWidth` is available and is equal to `1px` and `borderLeft` is just empty.

Very similar thing with shorthand for `font`, different parts like `fontSize`/`fontFamily` are available but the string for `font` is just empty.

[2021-08-02 14:24] kamre commented on #816
Should be fixed in `main` branch.

[2021-08-02 15:07] jespino commented on #661
@harshilsharma63 is this still relevant¿?

[2021-08-02 15:16] jespino commented on #627
This is going to be fixed on 0.9 as part of the redux store migration in PR #737

[2021-08-02 15:17] jespino commented on #71
Somebody with windows can confirm is this is still happening on the `main` branch?

[2021-08-02 15:40] TOWUK commented on #815
i dont know path on my local machine path to file! not path github!

[2021-08-02 16:05] kamre commented on #796
@jespino will checking that "the server has already the first account" require a new server API endpoint or existing ones should be enough?

[2021-08-02 16:07] jespino commented on #796
@kamre I think is going to need a new one, we can build other tricks, but I think is fine to have another API for that.

[2021-08-02 16:24] sbishel opened #824 "WebApp Unit Tests - ./webapp/src/components/addContentMenuItem.tsx"
Write Unit Tests for `./webapp/src/components/addContentMenuItem.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 16:29] sbishel opened #826 "WebApp Unit Tests - ./webapp/src/components/blockIconSelector.tsx"
Write Unit Tests for `./webapp/src/components/blockIconSelector.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample tests

[2021-08-02 16:29] kamre commented on #815
@TOWUK as a user it will not be easy to fix this issue inside the downloaded archive/installer.

I have created pull request with the fix. Decided to change `flex-grow` only for `kanban` component.

[2021-08-02 16:30] sbishel opened #827 "WebApp Unit Tests - /webapp/src/components/cardDialong.tsx"
Write Unit Tests for `./webapp/src/components/cardDialog.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample tests

[2021-08-02 16:31] sbishel opened #828 "WebApp Unit Tests for ./webapp/src/components/centerPanel.tsx"
Write Unit Tests for `./webapp/src/components/centerPanel.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample tests

[2021-08-02 16:32] sbishel opened #829 "WebApp Unit Tests - ./webapp/src/components/contentBlock.tsx"
Write Unit Tests for ./webapp/src/components/contentBlock.tsx

see ./webapp/src/components/table/* or./webapp/src/components/properties/dateRange/dateRange.test.tsx for sample tests

[2021-08-02 16:33] sbishel opened #830 "WebApp Unit Tests ./webapp/src/components/dialog.tsx"
Write Unit Tests for ./webapp/src/components/dialog.tsx

see ./webapp/src/components/table/* or./webapp/src/components/properties/dateRange/dateRange.test.tsx for sample tests

[2021-08-02 16:35] sbishel opened #831 "WebApp Unit Tests - ./webapp/src/components/emptyCenterPanel.tsx"
Write Unit Tests for ./webapp/src/components/emptyCenterPanel.tsx

see ./webapp/src/components/table/* or./webapp/src/components/properties/dateRange/dateRange.test.tsx for sample tests

[2021-08-02 16:36] sbishel opened #832 "WebApp Unit Tests ./webapp/src/components/flashMessages.tsx"
Write Unit Tests for ./webapp/src/components/flashMessages.tsx

see `./webapp/src/components/table/*` or `./webapp/src/components/properties/dateRange/dateRange.test.tsx for sample test`

[2021-08-02 16:37] sbishel opened #833 "WebApp Unit Tests for ./webapp/src/components/markdownEditor.tsx"
Write Unit Tests for ./webapp/src/components/markdownEditor.tsx

see `./webapp/src/components/table/*` or `./webapp/src/components/properties/dateRange/dateRange.test.tsx for sample test`

[2021-08-02 16:38] sbishel opened #834 "WebApp Unit Tests for ./webapp/src/components/modal.tsx"
Write Unit Tests for ./webapp/src/components/modal.tsx

see `./webapp/src/components/table/*` or `./webapp/src/components/properties/dateRange/dateRange.test.tsx for sample test`

[2021-08-02 16:39] sbishel opened #835 "WebApp Unit Tests for ./webapp/src/components/propertyValueEditor.tsx"
Write Unit Tests for ./webapp/src/components/propertyValueEditor.tsx

see `./webapp/src/components/table/*` or `./webapp/src/components/properties/dateRange/dateRange.test.tsx for sample test`

[2021-08-02 16:41] sbishel opened #836 "WebApp Unit Tests for ./webapp/src/components/shareBoardComponent.tsx"
Write Unit Tests for `./webapp/src/components/shareBoardComponent.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 16:41] sbishel opened #837 "WebApp Unit Tests for ./webapp/src/components/topBar.tsx"
Write Unit Tests for `./webapp/src/components/topBar.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 16:42] sbishel opened #838 "WebApp Unit Tests for ./webapp/src/components/viewMenu.tsx"
Write Unit Tests for `./webapp/src/components/viewMenu.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 16:43] sbishel opened #839 "WebApp Unit Tests for ./webapp/src/components/viewTitle.tsx"
Write Unit Tests for `./webapp/src/components/viewTitle.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 16:44] sbishel opened #840 "WebApp Unit Tests for ./webapp/src/components/workspace.tsx"
Write Unit Tests for `./webapp/src/components/workspace.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:28] sbishel opened #841 "WebApp Unit Tests for ./webapp/src/components/cardDetail/cardDetail.tsx"
Write Unit Tests for `./webapp/src/components/cardDetail/cardDetail.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample tests

[2021-08-02 17:29] sbishel opened #842 "WebApp Unit Tests for ./webapp/src/components/cardDetail/cardDetailContents.tsx"
Write Unit Tests for `./webapp/src/components/cardDetail/cardDetailContents.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample tests

[2021-08-02 17:30] sbishel opened #843 "WebApp Unit Tests for ./webapp/src/components/cardDetail/cardContentsMenu.tsx"
Write Unit Tests for `./webapp/src/components/cardDetail/cardContentsMenu.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample tests

[2021-08-02 17:31] sbishel opened #844 "WebApp Unit Tests for ./webapp/src/components/cardDetail/cardDetailContentsProperties.tsx"
Write Unit Tests for `./webapp/src/components/cardDetail/cardDetailContentsProperties.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample tests

[2021-08-02 17:33] sbishel opened #845 "WebApp Unit Tests for ./webapp/src/components/cardDetail/comment.tsx"
Write Unit Tests for `./webapp/src/components/cardDetail/comment.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample tests

[2021-08-02 17:34] sbishel opened #846 "Write Unit Tests for ./webapp/src/components/cardDetail/commentsList.tsx"
Write Unit Tests for `./webapp/src/components/cardDetail/commentsList.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample tests

[2021-08-02 17:37] sbishel opened #847 "WebApp Unit Tests - ./webapp/src/components/content/contentElement.tsx"
Write Unit Tests for `./webapp/src/components/content/contentElement.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:37] sbishel opened #848 "WebApp Unit Tests for ./webapp/src/components/content/dividerElement.tsx"
Write Unit Tests for `./webapp/src/components/content/dividerElement.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:38] sbishel opened #849 "WebApp Unit Tests for ./webapp/src/components/content/imageElement.tsx"
Write Unit Tests for `./webapp/src/components/content/imageElement.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:39] sbishel opened #850 "Write Unit Tests for ./webapp/src/components/content/textElement.tsx"
Write Unit Tests for `./webapp/src/components/content/textElement.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:40] sbishel opened #851 "Write Unit Tests for ./webapp/src/components/gallery/gallery.tsx"
Write Unit Tests for `./webapp/src/components/gallery/gallery.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:41] sbishel opened #852 "WebApp Unit Tests for ./webapp/src/components/gallery/galleryCard.tsx"
Write Unit Tests for `./webapp/src/components/gallery/galleryCard.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:42] sbishel opened #853 "WebApp Unit Tests for ./webapp/src/components/kanban/kanban.tsx"
Write Unit Tests for `./webapp/src/components/kanban/kanban.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:43] sbishel opened #854 "Write Unit Tests for ./webapp/src/components/kanban/kanbanCard.tsx"
Write Unit Tests for `./webapp/src/components/kanban/kanbanCard.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:44] sbishel opened #855 "WebApp Unit Tests for ./webapp/src/components/kanban/kanbanColumn.tsx"
Write Unit Tests for `./webapp/src/components/kanban/kanbanColumn.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:45] sbishel opened #856 "WebApp Unit Tests for ./webapp/src/components/kanban/kanbanColumnHeader.tsx"
Write Unit Tests for `./webapp/src/components/kanban/kanbanColumnHeader.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:45] sbishel opened #857 "WebApp Unit Tests for ./webapp/src/components/kanban/kanbanHiddenColumnItem.tsx"
Write Unit Tests for `./webapp/src/components/kanban/kanbanHiddenColumnItem.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:46] jespino commented on #654
This is already fix in the main branch.

[2021-08-02 17:46] #654 closed

[2021-08-02 17:46] jespino commented on #718
Already merged in main, closing this.

[2021-08-02 17:47] jespino commented on #627
This is fixed on main already.

[2021-08-02 17:47] #627 closed

[2021-08-02 17:48] sbishel opened #858 "WebApp Unit Tests for ./webapp/src/components/properties/multiSelect.tsx"
Write Unit Tests for `./webapp/src/components/properties/multiSelect.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:49] sbishel opened #859 "WebApp Unit Tests for ./webapp/src/components/viewHeader/filterComponent.tsx"
Write Unit Tests for `./webapp/src/components/viewHeader/filterComponent.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:50] sbishel opened #860 "WebApp Unit Tests for ./webapp/src/components/viewHeader/filterEntry.tsx"
Write Unit Tests for `./webapp/src/components/viewHeader/filterEntry.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:51] sbishel opened #861 "WebApp Unit Tests for ./webapp/src/components/viewHeader/filterValue.tsx"
Write Unit Tests for `./webapp/src/components/viewHeader/filterValue.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:51] jespino commented on #733
Looks lie this is working on main branch.

[2021-08-02 17:51] #733 closed

[2021-08-02 17:51] sbishel opened #862 "WebApp Unit Tests for ./webapp/src/components/viewHeader/newCardButton.tsx"
Write Unit Tests for `./webapp/src/components/viewHeader/newCardButton.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:52] sbishel opened #863 "WebApp Unit Tests for ./webapp/src/components/viewHeader/newCardButtonTemplateItem.tsx"
Write Unit Tests for `./webapp/src/components/viewHeader/newCardButtonTemplateItem.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:52] sbishel opened #864 "WebApp Unit Tests for ./webapp/src/components/viewHeader/viewHeader.tsx"
Write Unit Tests for `./webapp/src/components/viewHeader/viewHeader.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:53] sbishel opened #865 "WebApp Unit Tests for ./webapp/src/components/viewHeader/viewHeaderActionsMenu.tsx"
Write Unit Tests for `./webapp/src/components/viewHeader/viewHeaderActionsMenu.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:54] sbishel opened #866 "WebApp Unit Tests for ./webapp/src/components/viewHeader/viewHeaderGroupByMenu.tsx"
Write Unit Tests for `./webapp/src/components/viewHeader/viewHeaderGroupByMenu.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:54] sbishel opened #867 "WebApp Unit Tests for ./webapp/src/components/viewHeader/viewHeaderPropertiesMenu.tsx"
Write Unit Tests for `./webapp/src/components/viewHeader/viewHeaderPropertiesMenu.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:55] sbishel opened #868 "WebApp Unit Tests for ./webapp/src/components/viewHeader/viewHeaderSearch.tsx"
Write Unit Tests for `./webapp/src/components/viewHeader/viewHeaderSearch.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:55] jespino commented on #693
This is fixed on main branch, I think.

[2021-08-02 17:55] #693 closed

[2021-08-02 17:55] sbishel opened #869 "WebApp Unit Tests for ./webapp/src/components/viewHeader/viewHeaderSortMenu.tsx"
Write Unit Tests for `./webapp/src/components/viewHeader/viewHeaderSortMenu.tsx`

see `./webapp/src/components/table/*` or`./webapp/src/components/properties/dateRange/dateRange.test.tsx` for sample test

[2021-08-02 17:59] jespino commented on #668
This was closed by @N3rdP1um23 a month ago.

[2021-08-02 17:59] #668 closed

[2021-08-02 18:11] jespino commented on #651
I'm not able to reproduce this bug on main branch. so I going to close it. @jgilliam17 please, re-open it if you are still able to reproduce it.

[2021-08-02 18:11] #651 closed

[2021-08-02 18:18] #657 closed

[2021-08-02 18:36] jespino commented on #620
This is a bit trickier than it looks like, but it is doable. I going to change it to enhancement.

[2021-08-02 18:38] jespino commented on #562
Great @Shahzayb thanks for the heads up. Closing this issue.

[2021-08-02 18:38] #562 closed

[2021-08-02 18:42] jespino commented on #523
This is not longer happening in main branch.

[2021-08-02 18:42] #523 closed

[2021-08-02 18:43] jespino commented on #493
This is no longer happening in main branch. My guess is it was related to old/not-full-on-sync data messing around.

[2021-08-02 18:43] #493 closed

[2021-08-02 18:45] jespino commented on #495
Clearly this is not a bug, because was the intended behavior, so I going to convert this to enhancement.

[2021-08-02 18:47] jespino commented on #449
@chenilim @asaadmahmood any opinion on this? This is the designed behavior I think so I going to convert this to enhancement.

[2021-08-02 18:49] jespino commented on #387
This was already solved by @prakharporwal.

[2021-08-02 18:49] #387 closed

[2021-08-02 18:52] asaadmahmood commented on #449
@jespino This is different from notion, but I like the add content button. I would not mind having the `add content` button appear at all times when the user is description field is active.

Though again, just like any other issues, see how many users actually think this is a problem before we implement a fix.

[2021-08-02 18:55] jespino commented on #374
I executed that today and is working fine, I guess this is already fixed in the main branch.

[2021-08-02 18:55] #374 closed

[2021-08-02 18:59] jespino commented on #373
This is not a bug, actually, this compiles the app, the noticed messages are a warning from SQLite and the proposed solution is to disable that kind of warnings. I think I prefer to keep the warnings enable just in case we include other libraries that have the same issue (I prefer to keep the messages there). I going to close this.

[2021-08-02 18:59] #373 closed

[2021-08-02 19:06] vaskozl commented on #124
Do not forget arm64 docker images please :).

[2021-08-02 19:08] fl0r1s commented on #124
@Johennes can you please elaborate on how you achieved adding this new build target?

[2021-08-02 19:14] #815 closed

[2021-08-02 19:14] Johennes commented on #124
@fl0r1s I didn't actually but @crra mentioned he did in his [comment](https://github.com/mattermost/focalboard/issues/124#issuecomment-814210315) above. There is a corresponding commit linked there.

[2021-08-02 19:14] miguelcorreia19 opened #871 "Bug: The selection of an icon makes the new properties disappear"
**Summary:**
On Project Tasks, when we change the icon, the new properties disappear.

**Steps to reproduce the behavior:**
1. Add Board > Project Tasks
2. Open a Task (can be one of the existing defaults)
3. Add a property and close the Dialog Box
4. On the left of the Project Tasks name, select Pick icon
5. Choose anyone

**Expected behavior:**
The new property, that was created on point 3, had

[2021-08-02 19:24] jespino commented on #449
@asaadmahmood the fix would be very easy to do. I don't mind to keep it always visible, visible on certain circustances or invisible until hover. I don't think is super important, but because it is cheap, I think we can use our gut feeling about what is the best option, change it to that, and then wait for feedback.

[2021-08-02 19:31] #817 closed

[2021-08-02 19:33] #370 closed

[2021-08-02 19:44] jespino commented on #871
@miguelcorreia19 submitted a PR fixing that, thanks for the heads up! :+1:

[2021-08-02 19:46] jespino commented on #816
I'm not able to reproduce this in main branch, please @gaoyan198 reopen this is you are able to reproduce it in the main branch.

[2021-08-02 19:46] #816 closed

[2021-08-02 19:49] jespino commented on #735
@loranger sorry for the late reply, it looks like somehow to a system problem, not an application problem, I would try to open a shell in the docker container and verify the permissions from the inside, probably that can give you more insights.

[2021-08-02 19:50] asaadmahmood commented on #449
@jespino Then we can make that change and see what users think.

[2021-08-02 19:51] jespino commented on #449
@asaadmahmood ok, what change? always visible?

[2021-08-02 19:51] asaadmahmood commented on #449
@jespino Always visible when the description field is focused.

[2021-08-02 19:55] jespino commented on #741
@tjbortz1s what do you mean with "Between two groups" I'm not able to reproduce that case.

The other case it that way because is how the data is design. The hidden groups are cleaned after you change the group by, to "give space" to the new hidden groups based on the new group by. We can think how to solve that, for example, not cleaning that up.

[2021-08-02 20:19] tjbortz1s commented on #741
In my case - dragging one of the cards between, say "open" and "complete" would cause the hidden groups to be lost after the card ended up at its destination.  It seems like that it has only happened intermittently or in some very odd situations - as I'm dragging the cards between groups now and it's working fine.

[2021-08-02 21:08] #741 closed

[2021-08-02 21:32] jespino commented on #705
@asaadmahmood what do you think about it? Should we ask you always the field type directly when you want to add a property? I think that would be easier and more expected.

[2021-08-02 21:39] jespino commented on #630
@asaadmahmood do you have any opinion about this?

[2021-08-03 07:04] chenilim commented on #718
We need to fix this on the `release-0.8.0' branch in order to ship to Cloud prod. Can you make the fix on `release-0.8.0`?

Without this fix, it would delay pushing Focalboard to Cloud. Unfortunately, the redux change is fairly large, so I don't think this can simply be cherry picked, and will need to be re-fixed on the old code. cc @sbishel

[2021-08-03 08:21] jespino commented on #718
Submitted a solution for 0.8.0

[2021-08-03 13:18] hahmadia commented on #719
Not able to reproduce in Main

[2021-08-03 13:18] #719 closed

[2021-08-03 13:18] hahmadia commented on #626
Not able to reproduce in Main anymore.

[2021-08-03 13:18] #626 closed

[2021-08-03 13:49] #871 closed

[2021-08-03 14:09] hahmadia commented on #842
I will take this on

[2021-08-03 15:24] asaadmahmood opened #878 "Bug: Markdown renderer removes extra line breaks for Card Description"
**Summary:**
Bug: Markdown renderer removes extra line breaks for Card Description

**Steps to reproduce the behavior:**
1. Create a card
2. Add two lines of text in the description
3. Give 10 empty lines breaks in between them
4. Click outside
5. The spacing is removed

**Expected behavior:**
The spacing should not be removed.

**Screenshots:**
Attached a video.
https://user-images.githubusercont

[2021-08-03 15:31] asaadmahmood commented on #878
@chenilim Not a css issue, checked that.

[2021-08-03 15:42] chenilim opened #879 "Update Shared Board text to be more clear"
**Summary:**
Update the Share Board text to read: "Anyone with the link can view this board and all cards in it".

Existing dialog for reference:
<img width="436" alt="Shrare board dialog" src="https://user-images.githubusercontent.com/46905241/128045152-ba38f619-4cff-4d28-baf8-3f67fc9cd9ab.png">

[2021-08-03 15:43] chenilim commented on #879
@sbishel, please assign to Dev for v0.9.
FYI @asaadmahmood - we could also enhance this with a small "warning" icon to the left of the text if you think that's appropriate, but that can be a P2.

[2021-08-03 17:27] loranger commented on #735
Hello @jespino

Thanks for your reply.
I would definitely try the same, but unfortunately, there is no shell available from official focalboard image :

(from the docker-compose above)
[code]

[2021-08-03 19:09] #718 closed

[2021-08-03 21:19] Shahzayb commented on #684
Hey @sbishel, I've done some debugging and found this. Hope that'll be useful.

`columnRefs` only contains refs of the cells of last card/row in a table, which is making it difficult to actually pick the multiSelect cell with max number of options. We need a multiSelect cell with max selected options to properly calculate the `padding`.
https://github.com/mattermost/focalboard/blob/caedc771b48ddf4

[2021-08-03 21:43] Shahzayb commented on #858
I'd like to work on this.

[2021-08-03 22:05] whooperlove opened #881 "Bug: Popup menu is clipped."
**Summary:**
Popup menu is clipped in roadmap page.
<img width="1214" alt="Screen Shot 2021-08-04 at 7 00 54 AM" src="https://user-images.githubusercontent.com/9650829/128092075-8d55d006-5316-4708-84ac-52b3d41df1cc.png">

**Steps to reproduce the behavior:**
1. Launch Forcalboard mac app.
2. Create a board from 'Roadmap' template.
3. Click on 'P1' in the list.
4. Popup menu is not fully visible be

[2021-08-03 23:38] sbishel commented on #684
@Shahzayb
Thanks for your information, it was helpful. By adding an empty label, if nothing is selected, and some other trickery, I was able to determine the padding per item, which then allows me to determine the correct padding for each set of values.

[2021-08-04 03:59] kamre commented on #881
Looks like #815 that was fixed recently in `main`.

[2021-08-04 04:06] kamre commented on #842
@sbishel @hahmadia will this be only snapshot unit tests?

[2021-08-04 04:06] hahmadia commented on #842
@kamre

I'm working on this right now. I can tag you on the PR once I finish so you can see what tests I've written.
Did you have suggestions for particular test we should write? It will mainly be snapshot but also some other tests to cover some logic things

[2021-08-04 04:14] kamre commented on #842
@hahmadia yes, I see that you are working on this. Please tag me when there will be a PR.

There are many other issues for adding unit tests for `webapp`. So I wanted to work on some of them. And just want to understand how it is better to write such unit tests.

Looking at the existing unit tests I see that many of them are snapshot tests. Is this the recommended way?

[2021-08-04 05:00] kamre commented on #878
The reason is how `marked.js` library interprets line breaks. It tries to follow github markdown, and on github in comments it looks like this:
![GH-878-Markdown-Line-Breaks](https://user-images.githubusercontent.com/5587620/128124450-7b5073c9-bc8f-4f79-af91-fbe89251e73e.gif)
May be some preprocessing of the markdown text passed into `marked.js` can be done to preserve like breaks.

[2021-08-04 14:12] #449 closed

[2021-08-04 14:56] michaelgamble commented on #479
@asaadmahmood I unassigned myself off in favor of you taking this over

[2021-08-04 14:56] michaelgamble commented on #485
@asaadmahmood I unassigned myself off in favor of you taking this over

[2021-08-04 15:40] jespino commented on #881
Yes, that is fixed on main. Thanks for reporting it. The fix will be available in 0.9.0

[2021-08-04 15:40] #881 closed

[2021-08-04 23:22] #879 closed

[2021-08-05 12:10] hahmadia commented on #842
@kamre  @Shahzayb

Here is the link to my PR. It's under review but you can get an idea of some tests I've written

https://github.com/mattermost/focalboard/pull/884

[2021-08-05 13:22] #706 closed

[2021-08-05 13:57] harshilsharma63 opened #887 "Bug: clicking on share board option in plugin mode crashes the app"
**Steps to reproduce the behavior:**
1. Open Focalboard as a Mattermost plugin
2. Click on the share board button in the view. Notice the app crash.

**Expected behavior:**
Share modal should open and the app shouldn't crash.

**Screenshots:**
See attached viewo

https://user-images.githubusercontent.com/18575143/128362353-d7972379-5423-4547-b805-9ec5b4325554.mp4

**Platform:**
 - Browser and vers

[2021-08-05 15:37] #684 closed

[2021-08-05 15:43] chenilim opened #888 "Bug: Close button on cards doesn't appear on shared boards"
**Steps to reproduce the behavior:**
1. Share a board
2. Open the shared link
3. Open a card (or see [this card for reference](https://community.mattermost.com/plugins/focalboard/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared?id=47aa9bb4-6967-4a96-83c7-11bd6b20f1eb&v=ca1a5441-4c1c-4d0e-856e-88cc744576c8&r=762db9c6-305c-4d13-8ce6-9f11e5232c24&c=fab73592-3c32-4a03-8f19-fa1ae783ea67)
4. There's no close

[2021-08-05 16:18] chenilim commented on #738
Hi @kamre, sorry for the delay. Are you still seeing issues on the build in `main`? If so, please file a new issue, thanks!

[2021-08-05 16:30] kamre opened #889 "Bug: double horizontal scrollbars for narrow viewport"
**Summary:**
In kanban view when the viewport is narrow two horizontal scrollbars appear.

**Steps to reproduce the behavior:**
1. Create board from Roadmap template
2. Resize the window making the width small enough
3. At some breakpoint there is single scrollbar
4. Making it even more narrow produces double scrollbars

**Expected behavior:**
Single horizontal scrollbar should be enough?

**Scree

[2021-08-05 16:31] kamre commented on #738
Hello @chenilim, kanban horizontal scrollbar in the middle of page was fixed in #825

For double scrollbars I have filed #889

[2021-08-05 16:35] chenilim commented on #889
Thanks @kamre! Assigning this to you to start @harshilsharma63 as this appears related to #738. Let's target this fix for v0.9. Thanks.

[2021-08-05 16:39] FlorianMF opened #890 "Bug: Import Scripts - non-existing imports"
**Summary:**

I just cloned the repo and wanted to import the boards I exported from Notion today.
The call of importNotion.ts fails because the imported `Mutable...` classes do not exist anymore.

This seems to be the case also for Todoist and Asana.
When checking out release-0.8.0/ tag v0.8.2 (commit 082b30462785ca4a7e33ac6eda79c6e88906da75) everything works fine.

[2021-08-05 17:52] #798 closed

[2021-08-05 18:26] chenilim opened #891 "Update mattermost-server to pre-package Focalboard plugin v0.8.2"
**Summary:**
Update the [makefile](https://github.com/mattermost/mattermost-server/blob/master/Makefile#L123) so that [Focalboard v0.8.2](https://github.com/mattermost/focalboard/releases/tag/v0.8.2) ships with Mattermost 5.38.

Note that this may need to be cherry picked to the appropriate branch for the release.

[2021-08-05 19:32] loganmarchione opened #892 "Bug: Port 8000 exposed twice in Dockerfile"
**Summary:**
In the [Dockerfile](https://github.com/mattermost/focalboard/blob/main/docker/Dockerfile), port 8000 is exposed twice, on lines 32 and 34. Pretty sure it's just a typo.

**Steps to reproduce the behavior:**
N/A

**Expected behavior:**
Remove the instance on line 32.

[2021-08-05 20:25] loganmarchione opened #893 "Bug: Docker build error"
**Summary:**
Docker build is failing because build context is wrong.

**Steps to reproduce the behavior:**
1. `git clone https://github.com/mattermost/focalboard.git && cd focalboard/docker`
2. `sudo docker build -t focalboard .`

Here you can see the error because the build context is wrong.
[code]

**Expected behavior:**
Expected to build successfully, but the context is wrong.

The commands on

[2021-08-05 20:44] loganmarchione commented on #762
I'm also looking for instructions on using the image on DockerHub. It seems to have SQLite built in, but I can't get it to start. What am I missing that the README doesn't address?

[code]

[2021-08-05 20:47] chenilim opened #894 "Feature Idea: Don't show Select labels as all-caps"
**Summary:**
Currently, Select labels are always displayed in capital letters, regardless of what was originally typed. They should show the user's original case instead. This is important to distinguish acronyms, and would provide more visual margin.

Current display:
<img width="1051" alt="v0 8 2 screenshot" src="https://user-images.githubusercontent.com/46905241/128418783-d34e2706-569c-4ce9-a51

[2021-08-05 21:15] chenilim commented on #762
Thanks @jwilander! Just catching up on this. Assigning it to you @jespino. The main task for this issue is to add the Docker instructions [from the download guide here](https://www.focalboard.com/download/personal-edition/docker/). I suggest adding them under "Try out Focalboard" as a new item "Focalboard Personal Server (Docker)" above the Ubuntu instructions.

Thanks for reporting this @loganmar

[2021-08-05 22:17] loganmarchione commented on #762
Thanks @chenilim it's working now! Is there a note I missed somewhere about minor versions being plugin-only?

[2021-08-05 22:21] chenilim commented on #762
For now [the release notes](https://github.com/mattermost/focalboard/releases/tag/v0.8.2) will say "This is a plugin-only release". We are working on improving the release workflow, so sorry for the confusion. LMK if there was somewhere else (other than the GitHub releases) where the 0.8.2 release appeared.

[2021-08-05 22:27] loganmarchione commented on #762
Nope it's my fault, I just grabbed the latest version on DockerHub that wasn't `latest`.

[2021-08-06 07:01] tomajask commented on #444
+1 to this. Is there any chance to implement it soon?

[2021-08-06 07:40] #890 closed

[2021-08-06 16:59] chenilim opened #900 "Update Icon for plugin"
Use the glyph named `icon-product-boards` from https://mattermost.github.io/compass-icons/ as the main icon.

Once the icons are updated, the glyph will automatically be updated and we won't have to manually do that.

Note: We may need to include the compass glyphs if we haven't already.

[2021-08-06 17:01] chenilim commented on #900
@jespino assigning this to you, per the [thread here](https://community.mattermost.com/core/pl/smg31q1atfbyieo7sstdbwodbw). Please update that as part of the Global Nav work item (or separate PR). Thanks. cc @asaadmahmood.

Note that this should only affect the plugin for now. Personal Editions will use the existing branding and logo.

[2021-08-06 17:21] ogi-m opened #901 "Bug: Focalboard doesn't apply different themes per team"
**Summary:**
If you have several different teams using different themes, this isn't reflected in focalboard which will only use one theme regardless of the team it's being accessed from.

**Steps to reproduce the behavior:**
1. Install focalboard on mattermost
2. Open a team with a dark theme
3. Open focalboard from that team - focalboard has the dark theme applied
4. Switch to a team with the def

[2021-08-06 17:25] ogi-m opened #902 "Bug: Selecting a new theme for the team doesn't get applied in focalboard"
**Summary:**
When the user changes the theme for the team, focalboard continues to use the previous theme that was set for the theme. Refreshing after changing the theme doesn't fix it.

**Steps to reproduce the behavior:**
1. Install and enable the plugin
2. Open Team A - current theme is default (white/blue)
3. Open focalboard - default theme also applied
4. In Team A, change the theme to Matter

[2021-08-06 17:40] Techsigns commented on #760
Any news on this issue? I would love to use focalboard for our team but unfortunately the web socket error is anoing. Focalboard is working anyway but I think the live updates using web sockets are missing. Is there a workarround anyhow? Any possibilities to debug this issue? Server logs are empty, verbose mode was active, too but no chance to track down whats the cause

[2021-08-06 17:49] chenilim commented on #760
Sorry for missing the update. I've re-reviewed the info and am still at a loss. I assume the regular Mattermost websocket connection is working (i.e. posts are updating in real-time)? If so, the Focalboard websocket proxy should work the same way. Looping in @jespino, @mgdelacroix, and @sbishel. Can you guys spot anything wrong with this config?

[2021-08-06 17:51] Techsigns commented on #760
@chenilim yes, Mattermost websocket is working without problems and since many month using the provided configuration

[2021-08-06 20:04] chenilim commented on #893
Thanks @loganmarchione! @jespino, could you review and update the readme if this looks right? I'm not super familiar with Docker but it appears that the command needs to be run from a different folder?

[2021-08-06 20:12] chenilim commented on #746
Thanks @arunzco! @asaadmahmood, here's one more thing to think about. The current mitigation is the user has undo (Cmd+Z) to recover from an accidental delete. Longer term, we should consider a "recycle-bin" concept (perhaps per user and/or admin), plus a "restore previous version" UX.

[2021-08-06 20:15] chenilim commented on #804
Thanks @ZevSwe! We are thinking about scenarios like this in the longer (post v1) term. One possibility is to have "quickstart" options that set up a bunch of boards, channels, etc. Another possibility is to integrate with the Playbooks feature in Mattermost to trigger the creation on multiple boards, etc. cc @asaadmahmood.

[2021-08-06 22:42] Shahzayb commented on #858
I'm working on this.

[2021-08-06 22:44] Shahzayb commented on #858
I'm not gonna mock `react-select/creatable`. Instead, I'm gonna use this lib https://github.com/romgain/react-select-event

[2021-08-07 00:42] Gabriel-Afonso opened #904 "Bug: vertical scrollbar in gallery view if text to large"
**Summary:**
If the text in the first block of a gallery card is too large, a vertical scrollbar is displayed. This error appears because the preview text of the gallery card overflows the actual card.

**Steps to reproduce the behavior:**
1. add a new card to the gallery view
2. add a long text as a single block
3. reload the website
4. See error

**Screenshots:**
![bug](https://user-images.githu

[2021-08-07 07:23] asaadmahmood commented on #746
@chenilim I definitely think this option would be quite useful. Do we have an idea on how much effort this is? If it's not that big, I can flesh out the UX really quickly.

[2021-08-08 12:27] loranger commented on #735
It may be related to [this issue](https://github.com/mattermost/focalboard/issues/670), but I can't figure out how I can fix it

[2021-08-09 12:24] #842 closed

[2021-08-09 13:28] loranger commented on #735
I did try a clean install step-by-step using docker, docker-compose, nginx, focalboard and sqlite.

It seems the db file cannot be stored in the `/opt/focalboard/` folder anymore but *have* to be stored in `/data` path.

[code]

The default [dbconfig](https://github.com/mattermost/focalboard/blob/main/config.json#L5) does not work anymore out of the box and have to be changed to the corresponding

[2021-08-09 13:28] #735 closed

[2021-08-09 16:03] niconori opened #907 "Bug: docker-hub container won't start"
**Summary:**
The offical docker container from mattermost/focalboard is broken since v 0.8 because it can't find the database file

**Steps to reproduce the behavior:**
1. If you go to https://hub.docker.com/r/mattermost/focalboard
2. Use an Image greater than 0.6.7
3. Spin up a new container with something like that:
[code]
4. This error-msg is printed in Log and the app isn't accessible
[code]

[2021-08-09 16:22] loganmarchione commented on #907
Try using 0.8.0

They mark certain releases as plugin-only, which is confusing.
https://github.com/mattermost/focalboard/releases

See this
https://github.com/mattermost/focalboard/issues/762#issuecomment-893814340

[2021-08-09 17:23] niconori commented on #907
Thanks for the hint @loganmarchione , but that doesn't change anything for me:

[code]

[2021-08-09 17:39] chenilim commented on #784
Also related / similar to #308.

[2021-08-09 17:46] loganmarchione commented on #907
Now I'm wondering how mine is working because I'm using 0.8.0. Minus the Traefik stuff, our configs are the same.
[code]

Try this command. They [just pushed](https://github.com/mattermost/focalboard/commit/7d2a58081c18cf9360e8c437d3adc0ea050037b3) 0.9.0 but it's not tagged on GitHub or DockerHub yet.
`sudo docker run -it -p 80:8000 mattermost/focalboard`

[2021-08-09 19:26] chenilim opened #909 "Bug: Focalboard logo font is incorrect"
**Steps to reproduce the behavior:**
1. Build and run the latest on main (on Aug 9 2021), or run a build from [this commit](https://github.com/mattermost/focalboard/pull/908/checks?check_run_id=3283633273)
2. See the font of the "Focalboard" logo, it appears to be Helvetica:
<img width="181" alt="v0 9 title" src="https://user-images.githubusercontent.com/46905241/128762642-816b3c3f-2fff-4561-8a7e-

[2021-08-09 19:28] chenilim commented on #909
@asaadmahmood, what font should we use for the logo title? Or should we create and use svg paths for it? If so, we will need one for "Focalboard" and another for "Boards". FYI @jespino.

[2021-08-09 22:18] niconori commented on #907
if i use your docker-volumes config in my compose file i get it up and running. i think the problem is related to the nobody user and that he isn't allowed to create the file onto the docker hostfilesystem.

maybe this helps if someone came along with the same issue

[2021-08-09 22:18] #907 closed

[2021-08-10 02:57] #436 closed

[2021-08-10 09:46] #887 closed

[2021-08-10 11:36] aranwe opened #911 "Feature Idea: Alternative install option"
**Summary:**
Ability to install outside of Windows Store / AppStore.

**How important this is to me and why:**
In our enterprise we have disabled Windows Store & we cannot install software directly from WS.
Being able to install focalboard outside of WS would actually make us able to evaluate and eventually move to FB :)

Importance: High

Use cases:
1. Install FB Desktop from Github .msi or .exe

[2021-08-10 12:16] ogi-m opened #912 "Bug: Table column calculations > Every "Created time" property field is counted as unique"
**Summary:**
Every field is the "Created time" field is count as a unique property.
See the example in the screenshot - there's 6 rows but only 2 unique values:
-  _July 29, 12:06 AM_
- _August 09, 9:28PM_

I would expect the count to show **2**, not **6**.

**Steps to reproduce the behavior:**
1. Go to table view
2. Add a "Created time" property (or "Last Updated Time")
3. Create several cards in

[2021-08-10 14:14] Shahzayb commented on #888
I'd take on this.

[2021-08-10 14:48] Shahzayb commented on #888
`toolsMenu` is false because the shared board is `readonly`

https://github.com/mattermost/focalboard/blob/8fff482daab3a7b9c62bdc1d23e2ffc23289d6d9/webapp/src/app.tsx#L81-L83

https://github.com/mattermost/focalboard/blob/8fff482daab3a7b9c62bdc1d23e2ffc23289d6d9/webapp/src/components/cardDialog.tsx#L84-L87

if `toolsMenu` is false then it will hide the `close button` and `more options` button.

ht

[2021-08-10 15:13] it33 opened #914 "Feature Idea: Show more title text on cards"
**Summary:**
Show more title text on cards (see screen mockup)

**How important this is to me and why:**

Can't understand cards when I try to read them when title is overly truncated.

Importance: Medium

Use cases:
1. Read a card

**Additional context / similar features:**
Any examples of good implementations of this capability.

![image](https://user-images.githubusercontent.com/177788/12889278

[2021-08-10 17:54] jespino commented on #914
This is already fixed in 0.9.0, that is going to be released soon. Thanks for the report.

[2021-08-10 17:54] #914 closed

[2021-08-10 17:55] jespino commented on #909
Done!

[2021-08-10 17:55] #909 closed

[2021-08-10 18:10] chenilim opened #917 "Bug: Team not found running Focalboard plugin v0.9.0"
**Steps to reproduce the behavior:**
1. Install or upgrade to Mattermost v5.38 RC1
2. Install Focalboard v0.9.0 RC1
3. Click on the Focalboard channel header button
4. See "Team not found" error

**Expected behavior:**
Focalboard opens

**Platform:**
 - Focalboard v0.9.0 RC1 on Mattermost v5.38 RC1

**Additional context:**
It appears that the wrong URL is opened, or is not supported.

[2021-08-10 18:10] chenilim commented on #917
What is the expected behavior @jespino? Should v0.9 work on MM 5.38? Or does it need a pending change? cc @ogi-m, @sbishel.

[2021-08-10 18:31] sbishel opened #918 "Bug: Error when selecting a date property in card view"
**Summary:**
When selecting a date property in card view you receive a page that simply states

"Something went wrong."

Javascript error "Cannot read property 'localeData' of undefined"

**Steps to reproduce the behavior:**
1. Go to any card.
2. Create a new Date Property
3. Click on "Empty" to load the day picker.
4. See error

**Expected behavior:**
Day Picker is loaded successfully.

**Screens

[2021-08-10 18:34] jespino opened #919 "Bug: Clicking the focalboard global header menu option on focalboard breaks the app"
**Summary:**
The focalboard header menu option only works when you are not on focalboard (or at least whenever you have a current channel selected). We need to see how to make it works properly

**Steps to reproduce the behavior:**
1. Go to focalboard (as mattermost plugin)
2. Click on the global header menu and click on Boards icon
3. It leave you in a blank screen.

**Expected behavior:**
Do not

[2021-08-10 18:49] jespino opened #920 "Bug: Plugin icon should be different from Personal Server icon"
**Summary:**
Plugin icon should be different from Personal Server icon

**Steps to reproduce the behavior:**
1. Go to a personal server and log in

**Expected behavior:**
You see the focalboard icon, but you are now seeing the "boards" icon.

**Platform:**
 - Browser and version: Firefox
 - OS and version: Linux

[2021-08-10 20:38] tjbortz1s commented on #911
Also this would let us update to 0.8.2 using the releases files instead of waiting for the windows store to update - right now it's not being published at all to the windows store and 0.8.0 has a lot of pretty broken "features" in it right now.

[2021-08-10 21:30] sbishel opened #925 "Bug: Day Picker doesn't show selected dates"
**Summary:**
Day Picker no longer shows the selected dates.

**Steps to reproduce the behavior:**
1. Go to a card
2. Click on a date property
3. Select a date or range
4. The dates will appear in text box, but don't show as selected.

**Expected behavior:**
Date should show selected.

**Additional context:**
Caused due to theme changes that occurred about the same time.

<img width="283" alt="Scre

[2021-08-10 21:53] sbishel commented on #918
This has something with the way are doing new builds for plugins, checked the prior commit and it works. It works fine with `Personal Server`.

When building mattermost-plugin, `make dist`. A warning is displayed -
[code]

[2021-08-10 22:16] #920 closed

[2021-08-11 02:39] MFYDev opened #928 "Bug: Cannot change language to Chinese Simplified in 0.8.2"
**Summary:**
In Mattermost 5.37.1, I installed FocalBoard 0.8.2, and I found when I tried to change language to Chinese Simplified, it doesn't work, the language is still English.

**Steps to reproduce the behavior:**
1. Install Mattermost 5.37.1
2. Install FocalBoard 0.8.2 from Github Release
3. Change language to Chinese Simplified
4. See error

**Expected behavior:**
The language should be chan

[2021-08-11 08:07] #925 closed

[2021-08-11 08:20] #888 closed

[2021-08-11 09:11] jespino commented on #917
Solved in #922

[2021-08-11 09:11] jespino commented on #919
This is fixed in #922

[2021-08-11 09:11] #919 closed

[2021-08-11 09:54] jespino commented on #902
It should be fixed as part of the #923 PR.

[2021-08-11 09:54] #902 closed

[2021-08-11 12:26] jespino commented on #928
@MFYDev thanks for reporting it, I added a PR to fix this for the next 0.9.0 release.

[2021-08-11 12:55] ogi-m opened #930 "Bug: Table column calculations > Calculate dropdown height is limited by the table height"
**Summary:**
_Calculate_ dropdown height is limited by the table height, so where there are only a few items in the table it appears cut off and doesn't display all the options

**Steps to reproduce the behavior:**
1. Open table view and make sure there's only a few rows
2. Add a number type property
3. Click on calculate below the numbers column

**Expected behavior:**
Dropdown opens fully and re

[2021-08-11 14:44] it33 opened #931 "Feature Idea: Have a way to remove "No Group" from grouped view in table"
**Summary:**
Have a way to remove "No Group" from grouped view in table

**How important this is to me and why:**
When using a grouped view, typically all items are in a group. Having an empty "No Group" at the top of a grouped table seems confusing, unnecessary and aesthetically challenging.

Having a "No Group" be required to show up seems to me like the 5% case rather than the 95% case.

Import

[2021-08-11 14:58] #928 closed

[2021-08-11 15:35] #931 closed

[2021-08-11 15:37] chenilim commented on #930
Let's try to fix this for v0.9 - looks like a straightforward css z-index problem? cc @sbishel.

[2021-08-11 17:44] chenilim opened #934 "Bug: Hamburger menu is not shown after collapsing sidebar"
**Summary:**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior:**
1. Open a board
2. Click on the hide-sidebar button
4. Hamburger menu that shows sidebar is not shown

**Expected behavior:**
Hamburger menu that shows sidebar is shown when sidebar is collapsed.

**Screenshots:**
https://user-images.githubusercontent.com/46905241/129077549-0bc1f41f-da62-4a7f-886

[2021-08-11 17:46] chenilim commented on #934
@sbishel, assigning to you to reassign. This blocks mobile scenarios, as the user is unable to switch to other boards without the sidebar (among other things), so we should take this for v0.9.

[2021-08-11 17:55] #918 closed

[2021-08-11 20:09] chenilim opened #936 "Bug: Card text editing does not display correctly"
**Steps to reproduce the behavior:**
1. Open a card
2. Click on "Add a description" at the bottom
3. Displays extra boxes above and below cursor, text does not appear correctly

**Expected behavior:**
WYSIWYG markdown editing, as before.

**Screenshots:**
<img width="804" alt="Text content bug" src="https://user-images.githubusercontent.com/46905241/129096198-195c0c3f-1125-49d7-82cf-439dff59e7ee.p

[2021-08-11 20:32] chenilim opened #937 "Bug: Need to scroll down to add board when sidebar is full"
**Steps to reproduce the behavior:**
1. Open a workspace with many boards (e.g. [our team workspace](https://community-daily.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/2510923b-40de-4a48-871f-cb8f85517a0b/effcc895-53a6-4af5-8320-9aabac657178))
2. Need to scroll down in order to add a board

**Expected behavior:**
The add board button should always be on top at the bottom of the scr

[2021-08-11 20:34] sbishel opened #938 "Bug: Table Calculations -> Calculation Row should not be included in scroll."
**Summary:**
Don't include the calculation row when scrolling

**Steps to reproduce the behavior:**
1. Open a board with a large number of items
3. Scroll the page
4. As you scroll, you will see the items behind the calculation row

**Expected behavior:**
scroll should not include calculation row.

**Screenshots:**

https://user-images.githubusercontent.com/12704875/129099284-509eaaf5-4487-4372-81

[2021-08-11 21:39] sbishel commented on #936
Only duplicates when run as a plugin.

[2021-08-11 21:40] sbishel commented on #934
Only duplicates as a plugin.

[2021-08-11 21:58] sbishel commented on #937
Only duplicates in plugin mode.

[2021-08-11 22:29] chenilim opened #940 "Bug: Boards option does not line up in App Switcher"
**Steps to reproduce the behavior:**
1. Click on the App Switcher
2. "Boards" title does not line up with "Channels

**Expected behavior:**
Should line up.

**Screenshots:**
<img width="296" alt="App Switcher" src="https://user-images.githubusercontent.com/46905241/129111951-7b1b951a-6929-460e-8e0a-ccac2a2d8147.png">

**Platform:**
 - v0.9.0 RC3 on community server

[2021-08-11 22:54] chenilim opened #942 "Boards title should appear in Global Nav, not sidebar when running as a plugin"
**Steps to reproduce the behavior:**
1. Boards icon and title are in sidebar
2. Workspace channel's name appears below the collapse-sidebar button

**Expected behavior:**
1. Boards icon and title should be in Global Nav bar
2. Workspace channel's name appears where the current icon and title appear, on the same row as the collapse-sidebar button.

**Screenshots:**
From [Design spec](https://www.fi

[2021-08-11 22:56] chenilim commented on #942
@jespino, assigning to you to implement for 0.9. FYI @asaadmahmood, I proposed moving the channel name to the collapse sidebar row for 0.9 - the longer term fix is to remove the collapse-sidebar button when running on desktop, but that should happen after we refactor the mobile support.

FYI @sbishel.

[2021-08-11 23:09] chenilim opened #943 "Bug: App Switcher stays open after switching to Boards"
**Steps to reproduce the behavior:**
1. Open the App Switcher and select Boards
2. The App Switcher menu remains open

**Expected behavior:**
The App Switcher menu should close after selection

**Screenshots:**
https://user-images.githubusercontent.com/46905241/129115105-e1bab0ae-85cd-4f2c-8c4d-4bfe132c7672.mov

**Platform:**
 - v0.9.0 RC3 on Community

**Additional context:**
The App Switcher men

[2021-08-11 23:10] chenilim commented on #943
@jespino, assigning to you for investigation - this might be an App Switcher bug? FYI @asaadmahmood, @sbishel.

[2021-08-11 23:13] chenilim opened #944 "Bug: Boards tab icon stays after switching to Channels"
**Steps to reproduce the behavior:**
1. Open Boards
2. Select a board with an icon, the browser tab icon changes
3. Also note that the tab icon changes are not always applied when switching boards / views
3. Switch to Channels from the App Switcher
4. The tab icon remains

**Expected behavior:**
1. The tab icon should revert to the Mattermost icon.
2. The tab icon should be applied consistently wh

[2021-08-11 23:14] chenilim commented on #944
@jespino, assigning to you for investigation. If this is an easy fix, we should take it for v0.9, and this might require changes in the App Switcher code. FYI @asaadmahmood, @sbishel.

[2021-08-12 03:55] chenilim opened #945 "Bug: Opening a view without the full schema results in a page error"
**Steps to reproduce the behavior:**
1. Import the attached archive:
[view-without-collapsedOptionIds.focalboard.zip](https://github.com/mattermost/focalboard/files/6972721/view-without-collapsedOptionIds.focalboard.zip)

2. Open it
3. Page error "Something went wrong"
4. Error in console: "Cannot read property 'indexOf' of undefined"

**Expected behavior:**
View loads

**Platform:**
 - v0.9.0 RC3

[2021-08-12 03:57] chenilim commented on #945
This bug demonstrates a general issue when downloaded blocks are missing fields on the latest schema.

[2021-08-12 06:23] asaadmahmood commented on #943
Yup, does look like a bug.

[2021-08-12 06:24] asaadmahmood commented on #944
Yup, bug.

[2021-08-12 09:39] #945 closed

[2021-08-12 09:40] #942 closed

[2021-08-12 09:43] jespino commented on #940
I fixed that in the PR #947

[2021-08-12 09:43] #940 closed

[2021-08-12 09:45] jespino commented on #934
The plugin now doesn't have collapse button, we need to define how we want to show it and where, because the removal of the whole board title and header makes it harder. @asaadmahmood any suggestion?

[2021-08-12 09:59] #938 closed

[2021-08-12 10:03] harshilsharma63 commented on #938
@sbishel @chenilim I've cherry-picked this to v0.9.0 branch as well.

[2021-08-12 10:07] #937 closed

[2021-08-12 10:21] jespino commented on #900
This is fixed

[2021-08-12 10:21] #900 closed

[2021-08-12 10:22] jespino commented on #943
I'm addressing this on the mattermost-webapp side.

[2021-08-12 10:46] #930 closed

[2021-08-12 11:11] harshilsharma63 commented on #930
@chenilim I've cherrypicked this to v0.9.0.

[2021-08-12 11:43] Ziggiz opened #953 "Feature Idea: Please add Norwegian and me as an translator at matthermost"
**Summary:**
What the new capability is.

**How important this is to me and why:**

Importance: High/Medium/Low

Use cases:
1.
2.
3.

**Additional context / similar features:**
Any examples of good implementations of this capability.

[2021-08-12 12:44] #943 closed

[2021-08-12 13:37] asaadmahmood commented on #934
@jespino I mentioned it to @chenilim , but the ideal behavior is.
We remove the collapse button on both the desktop and mobile layouts altogether. No collapsing functionality is present.

On mobile, we also don't have the collapsing button, rather the sidebar is hidden by default, similar to what we see in Mattermost.

In the center channel, we have a hamburger menu (only on mobile) that is used t

[2021-08-12 13:39] #889 closed

[2021-08-12 13:47] ogi-m commented on #901
@jespino I'm not sure if there was an intentional change for this but this is actually working now - focalboard applies the theme from the team that I opened it from. I'll close it.

[2021-08-12 15:11] chenilim opened #955 "Bug: Links are not highlighted in the card markdown content"
**Steps to reproduce the behavior:**
1. Create a card
2. Add a link to the description, e.g. `Here's [a link](http://www.focalboard.com)`
3. Exit editing
4. The link is not highlighted (e.g. underlined and in blue)

**Expected behavior:**
Links are obvious in descriptions.

**Screenshots:**
The link "Thread in Analytics channel" is not highlighted:
<img width="462" alt="Links not highlighted" src=

[2021-08-12 15:12] chenilim commented on #955
@sbishel, assigning to you to reassign. Looks like a regression, and may be related to general issues when running as a plugin with the Mattermost webapp CSS?

[2021-08-12 15:36] ogi-m opened #956 "Bug: Global header > Opening Boards from Threads page doesn't work"
**Summary:**
Opening boards from the Threads page doesn't work as there's no workspace associated to the Threads page. Trying to access boards from Threads just reloads the page.

**Steps to reproduce the behavior:**
1. In Channels, open Threads view
2. Click on the app switcher and select boards

**Expected behavior:**
Boards should open to the workspace associated with the channel to which the f

[2021-08-12 15:56] chenilim opened #957 "Bug: Drag and drop cards not working"
**Steps to reproduce the behavior:**
1. Open a board
2. Drag a card from one column to another
3. Nothing happens

**Expected behavior:**
Drag and drop should work.

**Screenshots:**
https://user-images.githubusercontent.com/46905241/129228643-646ef976-f1f8-4fc7-a31b-b153d78a1581.mov

**Platform:**
 - v0.9.0 RC4 on Mattermost 5.38 RC1
 - Chrome 91 on macOS

**Additional context:**
This works in Pe

[2021-08-12 16:05] chenilim commented on #957
@sbishel, I'm investigating on my end, and am not entirely sure if this is an issue with my test server. Can you or @ogi-m help repro (or validate) this on v5.38? And better yet, on the latest Mattermost server master build?

[2021-08-12 16:12] jespino commented on #901
@ogi-m I think it shouldn't be working on refresh.

[2021-08-12 16:18] chenilim commented on #957
Confirmed that drag and drop is working with v0.8.2, but not 0.9.0 RC3 or RC4 on my 5.38 RC1 test server. However, drag and drop is working with 0.9.0 RC3 on Community. @jespino, did the drag and drop system change in 0.9.0? And is it expected to only work on v6.0 code?

[2021-08-12 16:49] sbishel commented on #955
@hahmadia - May be related to https://github.com/mattermost/focalboard/issues/936

[2021-08-12 16:53] chenilim opened #958 "Bug: Deleting a filter deletes the wrong one"
**Steps to reproduce the behavior:**
1. Open a board or table
2. Click on Filter
3. Add a filter (e.g. Status = In Progress)
4. Add another filter (e.g. Priority = P1)
5. Click delete on the second filter
6. The first filter is deleted
7. Click delete on the (now) first and only filter
8. Nothing happens

**Expected behavior:**
1. The correct filter is deleted
2. Able to delete the first filter

*

[2021-08-12 17:27] chenilim opened #959 "Bug: Table view header has a gap when scrolling"
**Steps to reproduce the behavior:**
1. Open a table with many rows
2. Scroll down
3. The rows appear in a gap above the header

**Expected behavior:**
No gap.
There also appears to be extra padding in the header.

**Screenshots:**
<img width="891" alt="Table gap" src="https://user-images.githubusercontent.com/46905241/129241181-8348f2ef-6cb5-49a5-a7c4-893fc7290361.png">

**Platform:**
 - v0.9.0 R

[2021-08-12 17:28] chenilim commented on #959
FYI @asaadmahmood. The P1 issue here is the gap, but it looks like we need a UI pass on the table in general, to tighten up the padding, alignment (e.g. text and icons don't vertically align), etc.

[2021-08-12 17:28] asaadmahmood commented on #959
@chenilim I can take this one.

[2021-08-12 17:34] chenilim opened #960 "Only show table calculate controls on hover"
**Summary:**
Currently, the table calculate row is always visible:
<img width="765" alt="Table calculate row" src="https://user-images.githubusercontent.com/46905241/129242266-93e7c08b-af83-4a40-bd25-338f52475286.png">

This adds visual noise, and is mostly unnecessary as users will typically set this once or a few times, and only for a few columns.

Proposal:
* Hide the un-set (default state) cal

[2021-08-12 17:36] chenilim commented on #960
What do you think @asaadmahmood? If you agree and it's an easy fix, I'd recommend taking it for 0.9, otherwise, we can consider for later. FYI @sbishel, @harshilsharma63.

[2021-08-12 17:37] asaadmahmood commented on #960
@chenilim Makes sense to me, and it should be an easy fix.

[2021-08-12 17:43] chenilim commented on #960
Thanks, do you want to take a crack at it, or should this be assigned to @harshilsharma63, as we need to differentiate the set and unset controls?

[2021-08-12 18:35] chenilim commented on #934
I took a look at this, and implemented the proposed fix:
* Add the hide button on the same row as the workspace (channel) name
* Fix showing the show-sidebar (hamburger) button when hidden (this was a css conflict with the .hidden class)

Will submit a PR shortly, but here's the new behavior:
https://user-images.githubusercontent.com/46905241/129250319-2f25163b-1280-4282-8c90-00d71e6dfef0.mov

[2021-08-12 18:38] chenilim opened #963 "Update sidebar collapse behavior for mobile and desktop web"
Here are the notes from #934 to update the sidebar collapse behavior:

We remove the collapse button on both the desktop and mobile layouts altogether. No collapsing functionality is present.

On mobile, we also don't have the collapsing button, rather the sidebar is hidden by default, similar to what we see in Mattermost.

In the center channel, we have a hamburger menu (only on mobile) that is u

[2021-08-12 18:59] #934 closed

[2021-08-12 19:12] chenilim commented on #960
Thanks @asaadmahmood, assigning it to you @harshilsharma63. Let's try to take this for 0.9 if it's an easy fix. FYI @sbishel.

[2021-08-12 19:29] Johennes commented on #714
I just tested the macOS app on current `main` and I cannot reproduce this. Selecting either of the Chinese variants updates the UI language for me. Could it be that this has been fixed already? 🤔

![Screenshot 2021-08-12 at 21 28 50](https://user-images.githubusercontent.com/1137962/129257235-a9b734bd-fd19-4089-9553-71232f153616.png)

[2021-08-12 20:00] chenilim commented on #959
Just a quick note that this gap appears in the Board view (and maybe Gallery view) as well. It's likely the same code or fix, but please file additional issues if not. Thanks.

[2021-08-12 20:05] chenilim opened #964 "Bug: Gallery view does not scroll"
**Steps to reproduce the behavior:**
1. Open a Gallery view with many items, or items with long content (e.g. paste lorem ipsum as a card's title)
2. Cannot scroll down

**Expected behavior:**
Should be able to scroll

**Screenshots:**
<img width="1056" alt="Gallery no scroll" src="https://user-images.githubusercontent.com/46905241/129261971-4edae3da-7650-4052-9deb-fa44b988d084.png">

**Platform:*

[2021-08-12 20:06] chenilim commented on #964
More more regression to reassign @sbishel. FYI @asaadmahmood.

[2021-08-12 20:20] Johennes commented on #912
I think the problem is that date fields are stored in milliseconds but the UI only shows the time part down to the minute. The values of "Created time" and "Last updated time" properties are populated automatically so even though you see "12:06 AM" three times, the second / millisecond components will be different under the hood.

While the count is technically correct, the UI makes it seem mislea

[2021-08-12 20:51] chenilim opened #965 "Bug: Global nav right-side buttons are spaced too far apart"
**Steps to reproduce the behavior:**
1. Open boards
2. Notice that the right-side nav bar buttons are spaced farther than Channels

**Expected behavior:**
Should have consistent spacing

**Screenshots:**
Boards:
![boards nav](https://user-images.githubusercontent.com/46905241/129267989-078ba472-1992-4cee-9b06-9ad0195cefcc.png)

Channels:
![channels nav](https://user-images.githubusercontent.com/46

[2021-08-12 20:52] chenilim commented on #965
@asaadmahmood, not sure if this is something you can just go in and fix the CSS on, or if we need @jespino to update the code.

[2021-08-12 21:19] chenilim opened #966 "Bug: Should not show "Empty" label for empty table cells"
**Steps to reproduce the behavior:**
1. Create a table with cards that have URL, text, and date properties (among others)
2. These property types (and likely others) show an "Empty" placeholder
3. Also, empty dates have an "Empty" label with a darker color and larger font

**Expected behavior:**
Remove all "Empty" labels and placeholders in tables - show empty cells instead.

**Screenshots:**
<img

[2021-08-12 21:20] chenilim commented on #966
@asaadmahmood, I think we should simply remove the "Empty" placeholder on tables. I don't think this is a high priority, but might be part of cleaning up the table styles. FYI @sbishel.

[2021-08-12 21:22] chenilim opened #967 "Bug: URL properties overflow table cells"
**Steps to reproduce the behavior:**
1. Open a table with a URL property cell
2. The contents of the URL overflow the cell

**Expected behavior:**
Content should not overflow cells

**Screenshots:**
<img width="387" alt="URL cell overflow" src="https://user-images.githubusercontent.com/46905241/129271732-710868dc-7ea2-4097-a06f-349bf3bf417f.png">

**Platform:**
 - v0.9.0 RC4 Mac App

[2021-08-12 21:23] chenilim commented on #967
FYI @asaadmahmood, we can leave this as a help wanted ticket, or something to check as part of the table styles cleanup. cc @sbishel.

[2021-08-12 22:02] sbishel commented on #959
FYI, I just noticed this occurs in the Kanban Board as well.

[2021-08-13 09:09] #964 closed

[2021-08-13 10:34] ogi-m commented on #937
Tested and passed on RC4 - Add board button is always visible, no scrollbar

[2021-08-13 10:52] ogi-m opened #969 "Bug: Opening boards from app switcher combines the workspace with the one from the previous channel"
**Summary:**
When a user opens focalboard using the app switcher, the sidebar will show boards from the channel that boards belonging to the current channel's workspace, as well as the board belonging to the channel that focalboard was previously opened from.

See screenshot for example - the workspace for R&D Meeting channel is open, but the boards from Focalboard channel are also shown (which wa

[2021-08-13 10:57] ogi-m commented on #901
@jespino Retested this in more detail and this is the behavior I'm seeing:
- Opening Boards from app switcher - the correct theme is applied for the team the user is accessing from
- Opening Boards from channel header icon - doesn't apply the theme for every team, it sticks to the first team it was opened from (behaviour described in the ticket here).

I'll reopen and add to the steps that it need

[2021-08-13 11:55] jespino commented on #965
I think this should be just css code.

[2021-08-13 12:00] ogi-m commented on #938
Tested and passed on 0.9 RC4 - items don't scroll behind the calculation row

[2021-08-13 12:01] #958 closed

[2021-08-13 12:05] ogi-m commented on #944
I'm still seeing this issue with RC4 on community-daily. @chenilim can you still repro?

[2021-08-13 12:07] ogi-m commented on #889
Tested and passed on v0.9.0 RC4 plugin - no double scroll bars

[2021-08-13 13:39] #969 closed

[2021-08-13 14:31] jespino opened #973 "Bug: Switch from playbooks to Boards doesn't work."
**Summary:**
Clicking in Boards in the product switcher when you are in Playbooks doesn't work.

**Steps to reproduce the behavior:**
1. Go to playbooks
2. Refresh the browser.
3. Try to go from playbooks to boards using the product switcher

**Expected behavior:**
Go to Boards

**Observed behavior:**
It doesn't go anywhere

**Platform:**
 - Browser and version: Firefox
 - OS and version: Linux

[2021-08-13 14:51] #955 closed

[2021-08-13 14:51] #936 closed

[2021-08-13 16:05] chenilim opened #975 "Feature Idea: Provide an obvious and easy way to share links to boards, views, and cards"
**Summary:**
Currently, the Mattermost desktop app doesn't show the url, which makes it impossible to share links to specific items (boards, views, cards, etc.). Propose adding a "Share" button to each main page that shares the URL. Perhaps allowing the user to copy the URL, or to share it directly in a new post?

**How important this is to me and why:**
Importance: Medium
This is important to be

[2021-08-13 16:49] chenilim opened #976 "Bug: Last board / view is not opened when using the App Switcher"
**Steps to reproduce the behavior:**
1. Switch to Boards via the app switcher
2. Open a view
3. Switch back to Channels
4. Switch to Boards again
5. No board / view is shown

**Expected behavior:**
The last view should be opened by default. This is what happens when using the Channel Header button.

**Platform:**
 - v0.9.0 RC5 on Community
 - Chrome 91 on macOS

**Additional context:**
The lastBoa

[2021-08-13 16:51] chenilim commented on #976
@sbishel, while I don't think this is a high severity issue, it's concerning that the load behavior is different when opened via the App Switcher. I think it's worth investigating to make sure there isn't a bigger issue. FYI @jespino.

[2021-08-13 16:57] ogi-m opened #977 "Bug: Uncollapse button hidden by the global nav"
**Summary:**
There's no apparent way for the user to uncollapse the sidebar after collapsing it.

**Steps to reproduce the behavior:**
1. Install RC5
2. Open Boards
3. Click on the collapse button in the sidebar

**Expected behavior:**

Board collapses and the uncollapse button is displayed

**Screenshots:**
![SharedScreenshot](https://user-images.githubusercontent.com/15314183/129393722-6d9ca653-

[2021-08-13 16:58] chenilim opened #978 "Feature Idea: Open the first board if there is one"
**Summary:**
Currently, no initial board is opened (if there isn't a last-opened board / view). To save a click, we should open the first view of the first board if there is one.

**How important this is to me and why:**

Importance: Low

Use cases:
1. Save the user a click, and avoid an empty page

[2021-08-13 17:50] chenilim commented on #956
This is going to be an issue until the permissions / sidebar redesign. Even if a thread is selected, clicking on Boards in the App Switcher doesn't currently do anything.

I propose:
* If a thread is selected, open the workspace associated with the channel for that thread
* If no thread is selected, open the workspace for the Town Square (or first, default channel)
  * The idea is that they can sw

[2021-08-13 17:51] asaadmahmood commented on #956
@chenilim I already made a suggestion, that it opens the first thread in the list in the threaded view if nothing is selected.
And obviously the temporary switcher may help and once we disconnect boards from channels, a lot of our issues would be resolved.

[2021-08-13 17:54] chenilim commented on #956
Thanks @asaadmahmood, in that case we only have to address the first issue: To open the workspace for the selected thread. Assigning to you @sbishel to reassign (not sure if this should start with @jespino) - let's investigate if this is (hopefully) a straightforward fix.

[2021-08-13 18:00] jespino commented on #956
I have a solution for this already in a PR, basically i store the last viewed channel and if there is no current channel i use the last viewed one.

[2021-08-13 18:27] chenilim commented on #956
Thanks @jespino, sounds like this is PR #974. I *think* that's ok as an interim solution for the Threads as well. It's definitely better than it is now.

[2021-08-13 22:25] #977 closed

[2021-08-13 22:26] chenilim commented on #977
Given that the fix is relatively simple, and this is technically a regression from 0.8, I've marked it for 0.9 and will cherry-pick. FYI @sbishel.

[2021-08-14 15:24] #956 closed

[2021-08-14 15:24] #973 closed

[2021-08-14 15:31] jespino commented on #976
That is fixed in the #972 PR.

[2021-08-14 15:31] #976 closed

[2021-08-14 20:55] jufab commented on #967
@chenilim Can I try to do this one? (not cleanup but to fix this bug...and for my first PR on this project 😊 )

[2021-08-15 10:52] jespino commented on #978
I want to rewrite all the redirection logic that we have already into the router, to make it simpler and easier.

[2021-08-15 12:22] asaadmahmood commented on #966
That makes sense to me.

[2021-08-16 07:23] xuoguoto commented on #551
To add to this discussion:

Also missing is how to order each value in a select list. For example if I add a new status, say TESTING, it goes after completed. Couldn't figure out how to move it after in progress.

[2021-08-16 08:11] jespino opened #988 "Bug: Hide column and show it again doesn't respect the previous order"
**Summary:**
If I hide a column and show it again is not restoring the old order.

**Steps to reproduce the behavior:**
1. Go to a kanban view with multiple columns
2. Hide one of the columns (not the first one, and remember which was the position)
3. Show again that column.
4. You can see the column wasn't restored in the previous position

**Expected behavior:**
Column should be in the same posi

[2021-08-16 09:06] harshilsharma63 commented on #960
@chenilim @asaadmahmood  doesn't this make the feature less discoverable? Same as #449 ?

[2021-08-16 10:01] asaadmahmood commented on #960
@harshilsharma63 It does slightly, but ideally we should have the `count` on the first row displayed at all times so the user knows he can do the calculations from there (similar to notion).

[2021-08-16 12:00] #894 closed

[2021-08-16 15:03] ogi-m commented on #945
@chenilim The "Something went wrong" error still pops up when first uploading and opening the board. Board loads after refresh.

[2021-08-16 15:29] ogi-m commented on #969
Tested and passed on 0.9.0 RC5

[2021-08-16 15:30] ogi-m commented on #964
Tested and passed on v0.9.0 RC5

[2021-08-16 15:51] hahmadia opened #989 "Bug: Shared Boards URL is Incorrect for Focalboard as a Plugin"
**Summary:**
When you share a board in focalboard when focalboard is a plugin of Mattermost, the shared link is incorrect resulting in incorrect behaviour.

**Steps to reproduce the behavior:**
1. Go to a board
2. Click `...` and `Share board`
3. Link is (for example)
`http://localhost:8065/workspace/...`

**Expected behavior:**
A clear and concise description of what you expected to happen.
`http

[2021-08-16 15:54] hahmadia opened #990 "Bug: Add padding to `...` dropdown of boards"
**Summary:**
`...` dropdown menu needs padding

**Expected behavior:**
![image](https://user-images.githubusercontent.com/17804942/129592574-61f7ac63-2beb-42e6-b4ef-6217013cdd4f.png)

The above dropdown should have padding added so the contents are not stuck to the borders

[2021-08-16 15:57] sbishel opened #991 "Bug: Refresh Focalboard loses theme from Mattermost"
**Summary:**
When launching focalboard from GlobalNavbar, the theme follows. However a refresh in focalboard and the theme returns to focalboard theme.

**Steps to reproduce the behavior:**
1. Go to Channels
2. Click on Focalboard from Global nav bar.
3. Refresh focalboard.
4. Notice theme change.

**Expected behavior:**
Theme should survive a hard refresh.

**Screenshots:**

https://user-images.g

[2021-08-16 15:58] hahmadia opened #992 "Bug: Make page shown after turning off board sharing more descriptive rather than a blank page"
**Summary:**
No indication the board sharing has been turned off

**Steps to reproduce the behavior:**
1. Share a board
2. Access URL via incognito
3. Turn off board sharing
4. Refresh page and you are shown a page that is blank without indication that sharing for that board is turned off

**Currently**
![image](https://user-images.githubusercontent.com/17804942/129593152-71f26bea-b052-4add-bdb2-6

[2021-08-16 15:59] mgdelacroix opened #993 "Bug: When exporting to CSV, card title is exported as "Title" but shown as "Name" on table view"
**Steps to reproduce the behavior:**
1. Go to a board
2. Select a table view of the board
3. Export that view as CSV

**Expected behavior:**
Both names in the view and the exported CSV file should be consistent.

**Screenshots:**
![image](https://user-images.githubusercontent.com/223323/129592929-c54d8541-1b90-4e39-9bbd-235cc56032eb.png)

The equivalent export is:

[code]

which shows `Title` inst

[2021-08-16 15:59] hahmadia commented on #992
@chenilim

Thoughts on how to improve this?

[2021-08-16 16:02] ogi-m opened #994 "Bug: App switcher text color doesn't match the theme"
**Summary:**
The text for Channels, Playbooks and Boards in the channel switcher shows up as purple regardless of the set theme.

**Steps to reproduce the behavior:**
1. Set a dark theme
2. Open Boards
3. Open the app switcher in the top left and observe the text color

**Expected behavior:**
The text should have the same color as in Channels

**Screenshots:**
App switcher text color in Boards:

!

[2021-08-16 16:03] #858 closed

[2021-08-16 16:04] wiggin77 opened #995 "Bug: Cannot login via mobile"
**Summary:**
Using a channel header in Chat mobile app, clicking a link to Focalboard workspace launches a browser with a login screen. Chat credentials are not accepted. Creating a new account displays a "invalid registration link" error.

**Steps to reproduce the behavior:**
1. Go to chat mobile app, open a channel with a link to a focalboard workspace in the channel header
2. Click on link to f

[2021-08-16 16:06] ogi-m opened #996 "Bug: Clicking on Account Settings or Custom Status in the avatar dropdown doesn't work"
**Summary:**
Nothing happens when clicking on the Custom Status or Account Settings options in the navbar avatar dropdown.
When the user returns to Channels, the modals pop up then.

These options should either open the expected modals immediately or they should be hidden from the dropdown.

**Steps to reproduce the behavior:**
1. Go to Boards
2. Click on the avatar in the top right
3. Click on Ac

[2021-08-16 16:06] mgdelacroix opened #997 "Bug: card images are never deleted"
**Summary:**
If I attach an image to a card and delete either the card or its whole board, the image is still present in the server and can be fetch.

**Steps to reproduce the behavior:**
1. Create new a card
2. In the card's description, add a content block with an image
3. Using the developer tools, grab the image link
4. Delete the card
5. Delete the whole board

**Expected behavior:**
After 4)

[2021-08-16 16:13] jespino opened #998 "Bug: Images in multiple columns content overlaps outside the column size"
**Summary:**
Images in multi-column content overflows outside of the column size.

**Steps to reproduce the behavior:**
1. Go to a card
2. Add 2 dividers and an image
3. Drag and drop all of them to put them in one single row
4. The image overflows the column expected size.

**Expected behavior:**
The image adjust to the column size if the image is too big.

**Screenshots:**
![imagen](https://user

[2021-08-16 16:14] hahmadia opened #999 "Feature Idea:"
**Summary:**
Making the search automatic rather than having to press enter for it to work
Will make for better usability perspective

![image](https://user-images.githubusercontent.com/17804942/129595248-adb96b4b-ad93-447f-8e5a-ff365796161f.png)

Currently when I type text in the above search bar, I must press enter for it work. It would be better if I can type and have a debounce on the search ha

[2021-08-16 16:17] ogi-m commented on #991
Probably relates to https://github.com/mattermost/focalboard/issues/901

[2021-08-16 16:18] sbishel opened #1001 "Bug: Export Archive does not include images"
**Summary:**
May be expected, but we should probably take a look at.

**Steps to reproduce the behavior:**
1. Go to a board and create cards with images.
2. Export board archive
3. Go to another board
4. Import Archive
5. No images present.

**Expected behavior:**
Images to be able to be exported/imported

[2021-08-16 16:20] sbishel opened #1002 "Bug: Export CSV does not export comments, or content"
**Summary:**
Again, probably known and by design.
But Export CSV does not export either comments, or content

**Steps to reproduce the behavior:**
1. Go to board, created cards with comments and content
2. Export board as csv.
3. Look at csv file
4. Neither comments, nor content appear in CSV.

**Expected behavior:**
I would expect at the comments and content as text to be exported

[2021-08-16 16:21] chenilim opened #1003 "Bug: Deleting a multi-select option doesn't remove it from the property"
**Steps to reproduce the behavior:**
1. Open a card with a multi-select property
2. Edit the property
3. Add a new option, e.g. "New option"
4. Click on the option menu and delete the option
5. "New option" is still set on the property

**Expected behavior:**
The deleted option should be removed from the property on that card, and all cards in the board.

**Screenshots:**
<img width="445" alt="Opt

[2021-08-16 16:26] #998 closed

[2021-08-16 16:27] mgdelacroix opened #1004 "Bug: "Add board" contextual menu overflows the screen on the left"
**Summary:**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior:**
1. Go to a board
2. Create a template
3. Open the "+ Add board" on the bottom left of the screen
4. Click the contextual menu of the template

**Expected behavior:**
The menu should not get cut by the screen.

**Screenshots:**
![image](https://user-images.githubusercontent.com/223323/129597023-d0

[2021-08-16 16:27] sbishel opened #1005 "Bug: Shared-boards modal needs some padding"
**Summary:**
The shared-boards modal looks like it could use some padding.

**Steps to reproduce the behavior:**
1. Go to any board
2. Click on ...
3. click on share board
4. See modal window

**Expected behavior:**
More padding around popup windown

**Screenshots:**
![Screen Shot 2021-08-16 at 10 26 09 AM](https://user-images.githubusercontent.com/12704875/129597248-88bb43d8-986b-4a1b-bb53-199ba9

[2021-08-16 16:29] chenilim opened #1006 "Bug: Editing card template's description doesn't work"
**Steps to reproduce the behavior:**
1. Create a template from a card
2. Click on "Add a description..."
3. Enter some text
4. Press Esc or click outside the edit box
5. The text disappears
6. Clicking on "Add a description..." again makes the text appear, but only during editing
7. Adding additional content (text, divider, checkbox, image) also exhibits the same issue

**Expected behavior:**
1. T

[2021-08-16 16:33] chenilim commented on #1006
@sbishel, assigning to you to reassign, and marking this for 0.9. It looks like the card content logic has issues when editing it as a template.

[2021-08-16 16:35] chenilim commented on #1005
This is a regression, and we should fix it for 0.9. Should be (hopefully) a simple fix. @asaadmahmood, can you take care of this as part of the style update / review? Thanks.

[2021-08-16 16:40] chenilim commented on #1004
@asaadmahmood, another fit and finish bug for v0.9. Longer term, we probably need to revisit our menu implementation so that they don't get clipped by their containers. For now, I think we can just make sure this menu is fully visible. cc @jespino, @sbishel.

[2021-08-16 16:42] chenilim commented on #1003
@sbishel and @ogi-m, I think this issue is relatively low severity, but we can investigate for v0.9 if you feel more strongly about it.

[2021-08-16 16:47] chenilim commented on #996
All the menu settings should work as expected. @sbishel, assigning to you to reassign. Not sure if this should go to @jespino or someone else.

[2021-08-16 16:55] chenilim commented on #995
The basic login flow should work on mobile.

[2021-08-16 16:58] jespino commented on #996
I think that should go to mattermost-webapp team and should go to the global header team. Probably exposing the modals at the global header level.

[2021-08-16 16:58] chenilim commented on #994
Could you help investigate @asaadmahmood? Not sure if this is a bug on our side, or something the Global Nav team needs to fix. cc @sbishel.

[2021-08-16 17:00] chenilim commented on #993
This is a relatively minor issue, but agree that the CSV headers should be consistent with the table. We should grab the "Name" string from the translation table. Putting this up for grabs. cc @sbishel, @ogi-m.

[2021-08-16 17:07] kamre opened #1007 "Bug: popup menu disappears when mouse is not over"
**Summary:**
Some components contain a button that appears only on hover and allows to show popup menu. Such popup menus disappear when the mouse is moved away and reappear when mouse is over the component.

**Expected behavior:**
Popup menu should be visible until user clicks somewhere.

**Screenshots:**
Kanban card:
![PopupMenuKanbanCard](https://user-images.githubusercontent.com/5587620/1296020

[2021-08-16 17:10] asaadmahmood commented on #994
@chenilim Global, this is an issue that I see on the channel side as well on `community-daily`.
![Screenshot 2021-08-16 at 10 10 24 PM](https://user-images.githubusercontent.com/11034289/129602611-a36b9fe9-f1d1-433e-b2e1-92bd981adeb1.png)

[2021-08-16 17:12] chenilim commented on #992
In this case, and error banner with the text "Board may be deleted or access revoked." should be shown. This text is already in the translation table as `BoardPage.syncFailed`. It looks like this is a regression from v0.8, where this error was handled by BoardPage. From the browser console, I see an error, which may be unhandled:

<img width="637" alt="Permission error in console" src="https://use

[2021-08-16 17:13] chenilim commented on #991
@jespino is this a dup of #901? In any case, I believe this should work as expected, even after a hard refresh.

[2021-08-16 17:14] chenilim commented on #990
Thanks @hahmadia, while you filed this first, I already assigned #1005, so duping this issue to that one.

[2021-08-16 17:14] #990 closed

[2021-08-16 17:18] chenilim commented on #989
Good catch. We definitely want to fix this, which should hopefully be straight forward. @sbishel, assigning to you to reassign. Note that there is a "frontendBaseURL" property used in the plugin webapp code. We might want to review / refactor to make sure there's a consistent base URL that works across the plugin and Personal Editions. cc @jespino, @mgdelacroix, @ogi-m.

[2021-08-16 17:32] chenilim commented on #544
Thanks @jespino. #988 has direct repro steps for the issue, which is the column order isn't preserved when hiding then showing a column.

The code is in `mutator.ts` under `hideViewColumn` and `unhideViewColumn`. I believe it should be a straight-forward fix to preserve the `visibleOptionIds` field even when hiding a column, but ignore hidden columns (those in `hiddenOptionIds`) when displaying. T

[2021-08-16 17:32] amyblais opened #1009 "Update mattermost-server to pre-package Focalboard plugin v0.9"
Update [the makefile](https://github.com/mattermost/mattermost-server/blob/master/Makefile#L123) so that Focalboard v0.9 ships with Mattermost 6.0.

Note that this needs to be cherry picked to the appropriate branch for the release.

**Deadline: October 7th (6.0 Code Freeze)**

[2021-08-16 17:33] chenilim commented on #988
With a closer look, I believe this is a dup of #544, so I added some more notes there, put that up for grabs, and closing this as a dup.

[2021-08-16 17:33] #988 closed

[2021-08-16 17:33] amyblais commented on #1009
@chenilim @sbishel I'm unable to assign this, but please add this to the v0.9 milestone.

[2021-08-16 17:34] chenilim commented on #1009
Thanks @amyblais! Assigning this to you @sbishel to track.

[2021-08-16 17:40] chenilim commented on #1007
Thanks @kamre, good catch! Not sure why this happens for some menus as you noted, but not others (e.g. board menu, board column menu). In any case, the menus should remain visible until the user selects an option, clicks away, or presses Esc. cc @asaadmahmood, @jespino, @sbishel.

Putting this up for grabs.

[2021-08-16 17:48] chenilim opened #1010 "Bug: Text (and other) property values are truncated in the card view"
**Steps to reproduce the behavior:**
1. Open a card with a text property
2. Enter a long string into the property, save it
3. The text is truncated after just a few words

**Expected behavior:**
The property values should take up the full horizontal space in the card editor.

**Screenshots:**
<img width="999" alt="Card editor" src="https://user-images.githubusercontent.com/46905241/129607150-0ed2e

[2021-08-16 17:54] chenilim commented on #1010
@asaadmahmood, what do you think the right layout should be? I think it should be relatively easy to make the values take 100% of the remaining width in the card editor, but there may be some special cases for things like URLs, which have an on-hover link button at the end.

If you agree it's an easy fix, let's make the change for 0.9. cc @ogi-m, @sbishel.

[2021-08-16 18:02] chenilim commented on #1001
This is tracked by [this card](https://community.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared/47aa9bb4-6967-4a96-83c7-11bd6b20f1eb/7e38eab4-890a-4fc3-8f48-a1f9bd1ab822?r=762db9c6-305c-4d13-8ce6-9f11e5232c24&c=6f393f58-00fe-471a-8ea1-cbb338e59fa4), which is currently unscheduled.

This should be technically feasible, with client-side code to download and encode images to includ

[2021-08-16 18:05] chenilim commented on #999
Thanks @hahmadia! Putting this up for grabs. It should be fairly straight forward as the search code is currently all client-side, so there won't be an adverse perf impact either. I'd recommend adding an appropriate small (e.g. 200ms) delay before running the search to avoid UI locking. cc @sbishel.

[2021-08-16 18:09] chenilim commented on #997
Thanks @mgdelacroix! The core issue here is that an image might still be linked or referenced from another card. E.g. if you duplicate a card, it duplicates the link to the existing image (without duplicating the image). Not sure what the best solution to this is, but some ideas:

1. Implement ref-counting or ref-searching logic for images
2. Implement a cleanup routine on the server to periodical

[2021-08-16 18:18] ThatIsAPseudo commented on #585
This issue does no longer occur on the last pre-release (v9.0 RC-5)

[2021-08-16 18:24] chenilim opened #1011 "Bug: Clicking on a link in the card description also edits the description"
**Steps to reproduce the behavior:**
1. Open a card with a link in the description markdown
2. Click on the link
3. The link opens in another tab (as expected)
4. Switch back to the card tab
5. The card description is being edited

**Expected behavior:**
The card description should not be edited when clicking on a link.

**Screenshots:**
https://user-images.githubusercontent.com/46905241/129611485

[2021-08-16 18:30] chenilim commented on #1011
Note that the markdown editor normally ends editing when it loses focus, so it might have been a change in timing that caused this. While it's relatively low severity, it's a good fit-and-finish issue as clicking on links is a fairly common action.

[2021-08-16 19:37] chenilim opened #1013 "Select option clear button display is inconsistent"
**Steps to reproduce the behavior:**
1. Open a table with select and multi-select properties
2. Notice that the select options have a clear (X) button on them
3. Notice that the multi-select options do not, unless editing
4. Open a card, notice a similar inconsistency in the X button display

**Expected behavior:**
Select options should not show a clear button when not editing, across all views.

[2021-08-16 19:41] chenilim commented on #1013
@asaadmahmood, please weigh in if you agree with the proposed behavior, and assign to @sbishel to reassign if you do. While this is a low-sev issue, I'd like to take it as a fit-and-finish polish issue particularly for table views.

[2021-08-16 19:42] asaadmahmood commented on #1013
@chenilim This makes sense to me.

[2021-08-16 19:47] chenilim commented on #1013
Thanks. One more thing: The clear button remains visible after editing a multi-select property (in the table and in the card editor):
https://user-images.githubusercontent.com/46905241/129620904-56b3ac3f-58a1-487b-98e1-fbbbfab1f5bf.mov

The clear button should be hidden when not actively editing a select property.

[2021-08-16 20:22] chenilim opened #1014 "Bug: Board Favicon is not set when switching to Boards (nor always set when changing boards)"
**Steps to reproduce the behavior:**
1. From a channel with a board, open the App Switcher and switch to Boards
2. The browser tab favicon is not changed

**Expected behavior:**
The browser favicon should be set to the board's icon

**Platform:**
 - v0.9.0 RC5 on Community
 - Chrome 91 on macOS

**Additional context:**
The board favicon is not always set when switching to a board from another boar

[2021-08-16 20:24] chenilim commented on #1014
@jespino, assigning this to you for investigation as this appears related to #944. Please reassign / rebalance as necessary. I'm seeing some general flakiness with the favicon setting, which may indicate a deeper issue. FYI @sbishel, @ogi-m.

[2021-08-16 20:42] sbishel commented on #996
Created Jira issue for the UI Platform Team

https://mattermost.atlassian.net/browse/MM-37963

[2021-08-16 21:05] justinegeffen opened #1015 "Bug: Selecting text box moves the whole line"
**Summary:**
When clicking and dragging to select the text area in Meeting notes' table view, it moves the entire text box.

https://user-images.githubusercontent.com/4223530/129629324-29c164af-09dc-4ddd-90c7-30c7aebf644c.mov

**Steps to reproduce the behavior:**
In the Meeting Notes board, select table view. If there's a line with default text, click and drag your cursor as if you want to highlig

[2021-08-16 23:42] chenilim commented on #1015
Thanks @justinegeffen! Took a quick look. This repros on FireFox, but not on Chrome. Basically, mouse-based selection doesn't work on table cells. Double-click to select doesn't work either. Mouse-selection does appear to work fine in the card editor though.

@sbishel, assigning to you to reassign. I think mouse text selection in a table cell is a common action, and we should generally investigate

[2021-08-16 23:54] chenilim opened #1016 "Bug: Add content button doesn't disappear when editing card description"
**Steps to reproduce the behavior:**
1. Open a card
2. Click on Add a description
3. The "Add content" button remains visible while editing the description

**Expected behavior:**
The "Add content" button should only be visible when hovered over.

**Screenshots:**
https://user-images.githubusercontent.com/46905241/129643113-1130d0aa-e847-49ef-af52-813060302991.mov

**Platform:**
 - v0.9.0 RC5 on C

[2021-08-16 23:55] chenilim commented on #1016
This is a low-sev issue, but is a regression from 0.8.

[2021-08-17 07:38] jespino commented on #1014
I think this was fixed in the PR #972, that is after rc5

[2021-08-17 07:40] jespino commented on #991
This can be related to the multiple teams themes. If you have multiple team themes, you have the "default theme", the team X theme, the team Y theme, and so on. The default theme is never shown, but is the only one that focalboard is able to support without the teams concept.

[2021-08-17 07:45] jespino commented on #944
This problems are only happening in Chrome :facepalm: and I was using Firefox.

[2021-08-17 10:35] kamre commented on #1006
@hahmadia @jespino it seems that regression was introduced during the transition to Redux.

In particular here is how the problem happens:
* `CardDialog` component extracts the card content via `contents = useAppSelector(getCardContents(props.cardId))`
* `getCardContents(cardId)` uses internally `getCards(...)` which returns `state.cards.cards`
* `state.cards.cards` doesn't contain cards from `sta

[2021-08-17 10:51] kamre commented on #1016
@chenilim this was changed via #449, in particular look at [this comment](https://github.com/mattermost/focalboard/issues/449#issuecomment-891288871).

[2021-08-17 12:19] kamre commented on #1011
@chenilim @harshilsharma63 the reason for such behaviour is that link generated for markdown has the following logic:
[code]
So if there is no `window.openInNewBrowser` it will **not** stop propagation of the click event and it will be used to start editing of the card description.

Possible fix is to always use `onclick="event.stopPropagation();` for the generated links.

[2021-08-17 12:27] hahmadia commented on #995
Hi @wiggin77

Are you sure the focalboard link you clicked wasn't the outdated one?

Make sure that the link is `boards/focalboard/...` and not just `/focalboard/...` because if it is the latter, then you will run into the issue you described (as I did myself when I was testing sharing)

Could you try adding `/boards/` right behind the `/focalboard/` and report back if the problem is resolved for

[2021-08-17 13:39] jespino commented on #1016
@chenilim I think I remember a conversation about this with @asaadmahmood and I think the final decision was "show it while hover and while focus", that is the reason of the current behavior.

[2021-08-17 14:24] wiggin77 commented on #995
I will.  But I tried taking the URL from a board in desktop browser and posting it to myself with same results.

[2021-08-17 14:26] asaadmahmood commented on #1016
Yup @chenilim @jespino Lets keep it, there's an issue where it's not discoverable, let's see if people actually find it irritating.

[2021-08-17 14:26] wiggin77 commented on #995
Here is the link I pulled from the browser's URL bar while using FB.  https://community.mattermost.com/plugins/focalboard/workspace/qgsck6cts3fwpqwyjiupjm5cde/47aa9bb4-6967-4a96-83c7-11bd6b20f1eb/150d1464-6d59-4c39-810f-ee201439dbaf

Clicking that in mobile brings me to the login screen as described.

[2021-08-17 14:58] chenilim commented on #1016
Ah, thanks, I had missed that note. Yup, this behavior is "by design" then, and I'll close this issue. I'll defer to @asaadmahmood on the design, but my guess is we need to rethink where we apply the visible-on-hover controls in general. We've run into issues where other things like the board description button is also not discoverable.

[2021-08-17 14:58] #1016 closed

[2021-08-17 15:46] ogi-m commented on #995
This also happens on the web app when opening a link do a different server - for example when opening a URL that has community-release in it but you're logged into community-daily. It should open the Mattermost login instead.

[2021-08-17 16:02] hahmadia commented on #995
Ok yep I can reproduce it @wiggin77 @ogi-m ...

[2021-08-17 17:43] sbishel commented on #1013
@chenilim I have spent a couple of hours looking at this, trying a couple quick and not so quick fixes. Fixing this is going to take looking at the `CreatableSelect` component in more depth and possibly reworking how we are using it.

I suggest removing from `0.9.0` as it is functional and works currently.

[2021-08-17 17:48] chenilim commented on #1013
Yup, agree. If it's not a simple fix, we can fix this after 0.9. Removing the milestone.

[2021-08-17 18:46] chenilim opened #1021 "Bug: Cannot use mouse to select property name on FireFox and Safari"
Use FireFox or Safari

**Steps to reproduce the behavior:**
1. Open a card
2. Add a property
3. Try to select the property name text with the mouse
4. Unable to select with mouse

**Expected behavior:**
Should be able to select text with mouse

**Screenshots:**
https://user-images.githubusercontent.com/46905241/129783034-956a8ca2-03c0-4c74-9439-45279528696b.mov

**Platform:**
 - v0.9.0 RC5 on Comm

[2021-08-17 18:47] chenilim commented on #1021
This appears to be related to #1015, and might affect other text input fields as well.

[2021-08-17 18:48] chenilim commented on #1015
This repros on Safari as well, and I've also filed a related issue, #1021 for the property name fields. It appears it might be the same base issue.

[2021-08-17 20:36] #1006 closed

[2021-08-17 20:50] #1014 closed

[2021-08-17 21:25] jespino commented on #996
Created a PR here: https://github.com/mattermost/mattermost-webapp/pull/8621

[2021-08-17 22:08] chenilim opened #1024 "Bug: Table row height is increased on hover"
**Steps to reproduce the behavior:**
1. Open a table
2. Hover over a row
3. The height of that row is increased (appears to be by one pixel)

**Expected behavior:**
The row height should remain constant on hover. This is a minor issue, but a UI distraction.

**Screenshots:**
https://user-images.githubusercontent.com/46905241/129807164-5b7e0d7b-d820-4e6b-a917-8387885bfce0.mov

**Platform:**
 - v09.

[2021-08-17 22:14] chenilim commented on #1024
FYI @asaadmahmood. This is a minor UI annoyance, so setting it as up for grabs, but you might want to consider it if you're planning an overall table restyling.

[2021-08-17 22:20] jespino commented on #1015
This is a bit more profund problem, react-dnd solution to fix this problem is to capture the "dragStart" it doesn't allow me to select text. I need to give it another try, but maybe the solution is to add a "handler" at the left of the row to drag and drop from there.

[2021-08-17 23:14] chenilim commented on #1015
Yup, adding a drag grip on the table's left margin makes sense to me. That's what Notion and other apps do. This might be the right general pattern for draggable elements. What do you think @asaadmahmood?

[2021-08-18 09:22] kamre commented on #959
Is the overlap of kanban card with the header like this one:
![KanbanCardHeaderOverlap](https://user-images.githubusercontent.com/5587620/129873179-a8524a5d-1a3e-441e-a323-b1c97e1d1db3.gif)
also related to this issue?

[2021-08-18 09:52] chmac opened #1026 "Bug: Person shows "No options" in standalone"
**Summary:**
In focalboard standalone, the property type `Person` shows only `No options`.

**Steps to reproduce the behavior:**
1. Install focalboard standalone
2. Create a card, add a property of type Person
3. See `No options`

**Expected behavior:**

From #559 it seems like this list is populated from the mattermost users. I'd assumed that there was somewhere a list of `Person`s that I could e

[2021-08-18 10:14] #727 closed

[2021-08-18 10:15] jespino commented on #727
Fixed, this is going to be available in 0.10

[2021-08-18 10:17] jespino commented on #1026
This is working fin on the main branch, can you test it against the last 0.9.0-rc5?

[2021-08-18 10:25] chmac opened #1027 "Bug: Undo / redo menu items are disabled (macOS, standalone)"
**Summary:**
Undo and redo menu items are disabled in macOS standalone app.

**Steps to reproduce the behavior:**
1. Delete something
1. Click Edit menu
1. Press <kbd>cmd</kbd>+<kbd>z</kbd>

**Expected behavior:**
The undo function works, but the menu item is disabled.

**Screenshots:**
<img width="262" alt="Screenshot 2021-08-18 at 12 23 31" src="https://user-images.githubusercontent.com/690997/1

[2021-08-18 10:37] chmac commented on #1026
@jespino When you say "working", can you elaborate on what that means? Is there a place where I can edit the list of `Person`s in the standalone app?

How would I test the 0.9.0-rc5 version? I'm running the standalone (macOS App Store installed) version of focalboard. This issue only applies to the **standalone** version of the app as far as I'm aware.

[2021-08-18 10:40] jespino commented on #1026
Ohh, you are talking about the App, that is different, the app is "single" user, so there is no `Person` to list, you can have different "Person" in a personal server, that is bind to users.

For Desktop App, the right approach is to have a select field, and manually introduce the different persons. The `Person` type field is for environments with multiple users. Maybe we should hide it in the Des

[2021-08-18 10:40] jespino commented on #1026
@chenilim what do you think about it?

[2021-08-18 10:43] chmac commented on #252
The checkboxes feature is a great start. The thing that's obviously missing for me (inspired by GitHub and Trello) is to be able to see how many checkboxes are closed and how many are open. Here's what I mean from trello:

<img width="265" alt="Screenshot 2021-08-18 at 12 42 13" src="https://user-images.githubusercontent.com/690997/129884691-3723bdbd-865c-4e2e-a669-38ef0f7c21ae.png">

Having that

[2021-08-18 10:44] chmac commented on #1026
@jespino I thought that might be the solution. One question that comes up is what happens with data export / import, if the data has a value of "Person" then what happens to it? What is the underlying data stored in that property? Is it an ID of some sort?

What about changing the implementation of the Person property so that on the standalone desktop app it behaves like a Select?

Then if the dat

[2021-08-18 10:46] chmac commented on #252
It would be great if checkboxes inside markdown blocks were also considered "checkboxes". In some ways, this would potentially solve #288 (allowing hierarchical lists). It's a bit weird from a UX perspective that 2 of these are checkboxes but the first 3 are not clickable:

<img width="258" alt="Screenshot 2021-08-18 at 12 45 35" src="https://user-images.githubusercontent.com/690997/129885212-3f44

[2021-08-18 10:48] chmac commented on #288
If checkboxes inside the markdown body were clickable and considered "subtasks", this might solve this issue. I mentioned the idea on #252 but cross posting it here also. It's a bit wonky from a UX perspective that in this screenshot only 2 of the 5 "checkboxes" are actually clickable:

<img width="258" alt="Screenshot 2021-08-18 at 12 45 35" src="https://user-images.githubusercontent.com/690997/1

[2021-08-18 10:58] chmac opened #1028 "Bug: New button doesn't add card at bottom"
**Summary:**
The `+ New` button at the bottom of a list does not add items to the bottom of that list.

**Steps to reproduce the behavior:**
1. Create a new list
2. Create a task called Third
3. Click the `+ New` button and create a task called First
4. Note that `First` now appears above `Third`
5. Click the `+ New` button and create a task called Second
6. Note that the `Second` task now appears

[2021-08-18 11:00] jespino commented on #1026
If that value is Person, it stores the `userId`, what is the udnerlaying data stored in the property.

The option of changing it to a select on standalone version sounds right, and yes, the "matching" is not going to be great, because the user ID is not a very good identifier, anyway we can change how we export/import that in the future, because makes more sense to use something more widely unique

[2021-08-18 11:02] chmac commented on #526
How does this work in the desktop version of the app where there is no URL bar?

[2021-08-18 11:07] chmac opened #1029 "Feature Idea: Property type that is a link to another board"
**Summary:**
I'd like to have an overview of all my projects on a single board. Then I'd like to be able to click from that board directly to another board for each project. This would be possible in the web based version using simple URLs, but not in the desktop version.

In the spirit of #324 it would be cool to have a property type which contains a link to another board. Both as a choice (so I

[2021-08-18 11:46] jespino commented on #1002
This is designed that way, it only exports the visible options on the view, that means for tables, is a "what you see is what you get", and for kanban the same.

@chenilim can have a better understanding of what the intention is there.

[2021-08-18 12:06] chmac opened #1031 "Feature Idea: Filter by more field types"
**Summary:**
I'd like to be able to filter by dates, numbers, regex patterns on strings / urls / etc.

**How important this is to me and why:**

Importance: High

To be able to use focalboard to store data, filtering is a key requirement for me. For example if I want to track tasks, having due dates on those tasks, being able to build a view that shows only tasks that are overdue seems crucial.

U

[2021-08-18 15:12] chenilim commented on #1027
Thanks @chmac! This is indeed a UI issue. The keyboard shortcuts, including Cmd+Z are handled by the embedded JS (TypeScript), but the containing Mac App isn't aware of them. I believe the solution is to add handlers to the Mac App, then forward them to the JS code.

Putting this up for grabs if anyone wants to take a crack at it.

[2021-08-18 17:00] #891 closed

[2021-08-18 17:44] #989 closed

[2021-08-18 17:46] kamre opened #1033 "Bug: opening URL from kanban card also opens card dialog"
**Summary:**
When URL property is visible on the kanban card its possible hover and click on the link with URL. After the click the card dialog is also opened.

**Steps to reproduce the behavior:**
1. Create new empty board
2. Create new card in the board and add URL property to it
3. Close the card dialog
4. Click to _Properties_ menu in the board and enable URL property
5. URL property is visibl

[2021-08-18 18:21] chenilim commented on #1033
Thanks @kamre! Agree clicking on the link button should not open the card. Should be a straight-forward fix. Putting it up for grabs. FYI @sbishel, @asaadmahmood.

[2021-08-18 19:43] chenilim commented on #1026
Yup, I agree in principle. Though perhaps it would be easier to convert to a text property instead (which can be explicitly converted to a Select property by the user). The value would ideally be populated with the userID (i.e. username or email). This conversion should happen at import time.

Agree that the person property type should be disabled when running in standalone (App) mode. i.e. remove

[2021-08-18 19:47] chenilim commented on #1026
FYI @asaadmahmood, any additional thoughts? More generally, we should rethink the role of export / import archive. The original intent was as a convenience to developers and a quick way to migrate among editions. However, export / import is more of a Sys Admin feature in larger multi-user environments. It's a powerful feature that can lead to problems like data loss if used incorrectly, or with th

[2021-08-18 20:37] chmac commented on #1026
If you're importing into the desktop app you won't have the user table so you won't be able to convert `userId` into email or username.

Personally I'd suggest that converting it to a String field and leaving it as the `userId` is a totally acceptable solution without too much effort. There's no elegant solution, if usernames or emails change then reimporting the same date wouldn't work any more.

[2021-08-18 22:07] chenilim opened #1034 "Open final documentation page when clicking on help icon in global nav"
When running as a plugin:

**Steps to reproduce the behavior:**
1. Click on the help button in the global nav
2. It opens https://www.focalboard.com/guide/user/

**Expected behavior:**
It should open the new Boards documentation page on docs.mattermost.com

**Screenshots:**
<img width="146" alt="Nav bar right" src="https://user-images.githubusercontent.com/46905241/129978402-2b7d255e-d0d6-4a0d-abd

[2021-08-18 22:08] chenilim commented on #1034
@justinegeffen, is there a URL we can use for now, that will be the entry point for the user documentation? cc @sbishel, @jespino.

[2021-08-18 22:25] chenilim opened #1035 "Bug: Card property display styles are inconsistent"
**Steps to reproduce the behavior:**
1. Open a card with properties of various types
2. Note that the styles are inconsistent, e.g.:
* Created Time and Last Update Time font is smaller that Dates
* Dates are bold
* User properties have a larger font than text
* Date and User property values have different padding from others

**Expected behavior:**
Styles should be consistent

**Screenshots:**
<im

[2021-08-18 22:27] chenilim commented on #1035
@asaadmahmood, this is not a high priority, but probably can be cleaned up with a quick pass.

[2021-08-18 22:33] chenilim opened #1036 "Bug: URL properties on Kanban view cards have a white background on hover"
**Summary:**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior:**
1. Open a board with cards that have a URL property
2. Click Properties, and enable that URL property to be displayed in the preview
3. Hover over a card
4. The URL property value has a white background (on the default theme)

**Expected behavior:**
The background should be transparent (i.e. same

[2021-08-18 22:35] chenilim commented on #1036
FYI @asaadmahmood, this is a minor issue, but please update if you want a different design. More generally, the URL value should probably be full-width to the container, and the link icon style may need to be tweaked.

[2021-08-18 23:36] #992 closed

[2021-08-19 06:52] Prassud commented on #423
@DeltaCube23 is this done, if not shall i pick this up?

[2021-08-19 07:16] jespino commented on #423
@Prassud great, go ahead! :tada:

[2021-08-19 08:28] jespino commented on #994
Closed by #1012

[2021-08-19 09:47] zJudGenie opened #1040 "Bug: The border of some kanban cards is cut"
**Summary:**
As you can see in the first screenshot, the left border of all cards in the first column is cut.
A solution could be to remove [`this padding`](https://github.com/mattermost/focalboard/blob/7b5a45dc6cf53fb044b99cb9b4d3ae09a4dcc958/webapp/src/components/centerPanel.scss#L50) and add a `padding-left` set to `1px`

**Steps to reproduce the behavior:**
1. Create the first column
2. Add so

[2021-08-19 10:31] #1033 closed

[2021-08-19 11:41] justinegeffen commented on #1034
The URL will be https://docs.mattermost.com/boards and the PR will be ready to review on Monday AM. Can we leave this link as-is until then?

[2021-08-19 12:23] jespino opened #1042 "Bug: The session cleanup shouldn't be run in plugin mode"
**Summary:**
In plugin mode we are trying to clean the sessions (that is not happening because the DB access doesn't allow it) but it is logging the error periodically. Also it is an unnecessary waste of resources.

**Expected behavior:**
No session clean up from our side in plugin mode.

[2021-08-19 13:09] hahmadia commented on #995
This bug is fixed by Miguels web socket enhancements. The specific PR that fixes this issue is
https://github.com/mattermost/mattermost-webapp/pull/8608

[2021-08-19 13:09] #995 closed

[2021-08-19 13:38] asaadmahmood commented on #90
No longer applicable as we already have a feedback button and it can be expanded more.

[2021-08-19 13:38] #90 closed

[2021-08-19 13:38] #959 closed

[2021-08-19 13:39] #965 closed

[2021-08-19 13:39] #966 closed

[2021-08-19 14:00] jespino opened #1046 "Bug: In plugin mode, the share url should be in the form of `/plugins/focalboard/shared/whatever`"
**Summary:**
This is because the `/boards/`url now requires logged in user, so we can solve that problem using directly the plugin api for that.

[2021-08-19 15:34] kamre commented on #1024
@chenilim @asaadmahmood I also see such behaviour with increased row height on hover, and I use custom larger font size in my browser.

The reason for this is definitely appearing "Open" button. Currently it has the height [equal to 90%](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/table/tableRow.scss#L14) and this seems to be the reason for the increasing of table row

[2021-08-19 16:47] lonix1 commented on #735
@loranger I tried with v0.8.2 but get same errors.

Do you maybe have a working compose file that you can share?

[2021-08-19 17:08] lonix1 commented on #907
@niconori I also can't get it to run...  do you maybe have a working docker-compose file to share to show how you succeeded?

[2021-08-19 17:15] loranger commented on #735
@lonix1 Sure, here is my focalboard structure:

[code]

I'm used to use `.env` files as soon as I can for my docker projects and make them more reusable, but there is nothing inside this one except a project name and an url (used by my traefik reverse proxy):

<details>
<summary>
<code>.env</code>
</summary>

[code]

</details>

[Traefik](https://traefik.io/traefik/) and [watchtower](https://conta

[2021-08-19 17:22] lonix1 commented on #735
@loranger It's gonna take a while to go through all the details and to make it work, but I wanted to say thanks right away...

Thanks!! :smiley:

[2021-08-19 18:22] ogi-m opened #1051 "Bug: Card title alignment is inconsistent"
**Summary:**
Card title alignment is inconsistent and depends on the emoji that's allocated to the card.

**Steps to reproduce the behavior:**
1. Open board view
2. Create several cards in a column
3. Observe the card title alignment

**Expected behavior:**
Card titles should be aligned

**Screenshots:**
![Image Pasted at 2021-8-19 11-45](https://user-images.githubusercontent.com/15314183/13012299

[2021-08-19 21:46] chenilim commented on #1051
Thanks @ogi-m. Hmmm, any ideas @asaadmahmood? Maybe we need to set a min-width on the icon?

[2021-08-19 21:52] chenilim commented on #1046
Thanks @jespino, when did / or will this behavior (requiring a logged in user) change? Both `/boards/` and `/plugins/focalboard/` work for shared boards on community-daily right now, at least for me. In any case, if that behavior is changing, I agree we'll need to make this change on our end.

We should revisit the ability to change that url in the future (i.e. to remove "focalboard" from it), but

[2021-08-19 22:14] chenilim commented on #1040
Repros on Chrome, and on the community server with v0.9.0 RC6 as well.

[2021-08-19 22:34] chenilim commented on #1034
Thanks @justinegeffen, yup, lets review the doc PR and make this change once the new docs are up.

[2021-08-20 05:46] kamre commented on #511
@chenilim I have looked into this and the reason is that we are [replacing](https://github.com/mattermost/focalboard/blob/main/webapp/src/utils.ts#L157) `<` with `&lt;` for sanitizing the user input to avoid execution of scripts when html from markdown is inserted into preview.

Internally `marked.js` preserves exact text for the code blocks and we see `&lt;` because of this.

Proper solution can

[2021-08-20 13:20] lonix1 commented on #670
@Erwyn Did you manage to make it work with sqlite? If so is there a working docker-compose you could link to? I also couldn't get it to work, even with the latest 0.8.2.

[2021-08-20 13:24] Erwyn commented on #670
Are you sure you are running the latest version ? I just checked and it
works out of the box:

[code]

Le ven. 20 août 2021 à 15:20, lonix1 ***@***.***> a écrit :

[2021-08-20 13:37] kamre opened #1053 "Bug: horizontal lines are truncated in table view"
**Summary:**
On narrow viewport when the table view has horizontal scroll the horizontal lines for table rows are truncated.

**Expected behavior:**
Horizontal lines for rows should be full width.

**Screenshots:**
![TableViewHorizontalLines](https://user-images.githubusercontent.com/5587620/130241531-69794dd3-41f8-4546-8247-9fe7267da43d.gif)

**Platform:**
 - Browser and version: Chrome 92
 - OS

[2021-08-20 15:01] lonix1 commented on #670
@Erwyn The latest version is `0.9.0`, but it is not yet tagged, so it only works if you use `latest`.

So it seems to work, thanks!

[2021-08-20 15:13] lonix1 commented on #735
I got it to work with the latest version `0.9.0`. Thanks for your help!

[2021-08-20 15:27] lonix1 commented on #746
A compromise / interim solution: there should be a *"Are you sure you want to delete this board?"* popup.

A destructive operation should typically double-check with the user, in case of accidental clicks.

[2021-08-20 15:40] lonix1 opened #1055 "Feature Idea: Allow renaming of default "NO STATUS" column"
**Summary:**
Please allow us to change the name of the "NO STATUS" column. All the other columns can be renamed.

**How important this is to me and why:**
Importance: Medium

Use cases:

In scrum/kanban the leftmost column is usually "Backlog" or some variation of that, depending on the board. Examples, "backlog", "unrefined", "project backlog" / "sprint backlog", etc.

**Additional context / simi

[2021-08-20 15:54] lonix1 commented on #584
*Long-term this is the way to go!*

But from experience, this is not a trivial feature, and could get out of hand very quickly - so it would take forever to develop.

I assume "P1" / "P2" means "phases"? I agree that is the best way to keep to the focalboard philosophy and "keep it simple"

phase 1
- add concept of "admin" and "non-admin" users; admin user is first to register with app
- admin use

[2021-08-20 17:08] kamre opened #1056 "Bug: no focus for empty card title"
**Summary:**
When creating a new card or opening a dialog for existing card with empty title there should be focus on the textarea used for the card title.

**Steps to reproduce the behavior:**
1. Create empty board
2. Create new card
3. There is no focus on the title in the opened dialog

**Expected behavior:**
There should be focus on the title because it is empty.

**Platform:**
 - Browser and

[2021-08-20 18:11] chenilim commented on #1056
Thanks @kamre! Marked this as a regression and putting it up for grabs. While it's a regression, the severity is very low, so we can take this post v0.9. FYI @sbishel.

[2021-08-20 18:14] chenilim commented on #1053
Thanks for finding and fixing this @kamre!

[2021-08-20 19:26] chenilim opened #1057 "Feature Idea: Property value controls should highlight on hover in the card editor"
**Summary:**
In the card editor, hovering over a property name highlights it, but not when hovering over the value. this makes it hard to select the control to edit a property. The value control should have a similar gray highlight on hover.

https://user-images.githubusercontent.com/46905241/130283892-60ae3cf6-8ff5-4dcd-a730-65e1402adf51.mov

**How important this is to me and why:**

Importance:

[2021-08-20 19:26] chenilim commented on #1057
FYI @asaadmahmood, please update if you prefer a different approach.

[2021-08-20 19:57] chenilim opened #1058 "UI: Change the date range arrow (->)"
**Steps to reproduce the behavior:**
1. Open a card with a date range property
2. It shows as "Date -> Date", but the two-character text "arrow" is not vertically aligned

**Expected behavior:**
Replace the two-character text arrow with a single character, → (U+2192).

**Screenshots:**
<img width="387" alt="Date display" src="https://user-images.githubusercontent.com/46905241/130287035-05a16af3-ac

[2021-08-20 19:58] chenilim commented on #1058
@asaadmahmood, this should be a simple fix, but what do you think? Any issues to consider? Or should we use another arrow or character? I think an arrow is better than the word "to" since it avoids the need for translation.

[2021-08-20 19:59] asaadmahmood commented on #1058
@chenilim Should probably be fine.

[2021-08-20 20:04] chenilim opened #1059 "Bug: Number property should show "Empty" placeholder in card editor"
**Steps to reproduce the behavior:**
1. Open a card with a number property that is not set
2. The field placeholder is blank

**Expected behavior:**
* The field placeholder should show the text "Empty" in the card editor for all property types
* However, the placeholder should be blank in tables

**Screenshots:**
<img width="391" alt="Number empty" src="https://user-images.githubusercontent.com/46

[2021-08-20 21:22] chenilim opened #1060 "Bug: Boards App Switcher should open /boards/..."
**Steps to reproduce the behavior:**
1. Select Boards from the app switcher
2. It opens `/plug/focalboard/...` (notice the URL on hover)

**Expected behavior:**
It should open a path under `/boards/...`

**Screenshots:**
<img width="469" alt="Boards url" src="https://user-images.githubusercontent.com/46905241/130294581-1763be88-6108-450f-bba4-a7eb4d591acb.png">

**Platform:**
 - v0.9.0 RC6 on Comm

[2021-08-20 21:31] chenilim commented on #71
Verified this does not repro on the Windows app (or Mac app or web app) in v0.9.0 RC6.

[2021-08-20 21:31] #71 closed

[2021-08-20 21:38] chenilim commented on #511
Thanks @kamre! Agree that using an industry-strength sanitizer is the right long term solution. @jespino or @sbishel, do you happen to know what Mattermost uses? We should probably have a consistent approach to markdown rendering over time.

[2021-08-20 21:39] sbishel opened #1061 "Bug: Card View - Calendar Modal pushed to the right."
**Summary:**
The Calendar modal is pushed to the right of the card view.

**Steps to reproduce the behavior:**
1. Go to Card view
2. Create a date property
3. click on the date property to bring up the date modal.
4. See error

**Expected behavior:**
The date property should probably be displayed under the date text, not over to the right

**Screenshots:**

![Screen Shot 2021-08-20 at 3 35 31 PM](

[2021-08-20 21:40] sbishel commented on #1061
Hey Asaad. Assigning to you as you just introduced the flex property. I was going to remove it, but it wasn't clear the issue you were solving by adding it.

[2021-08-20 21:56] chenilim commented on #1058
Thanks Asaad! Putting this up for grabs. Should be a simple fix.

[2021-08-20 22:08] chenilim commented on #1002
Yes, agree with Jesus - exporting a table to a CSV should generally export what is shown in the view. However, exporting a board view to a CSV is a bit more ambiguous. That said, I can see a need to export content and comments for some use cases.

I can think of a couple long-term approaches:
1. Allow content and comments to be shown in tables, and thus exported as part of the CSV
* The display wo

[2021-08-21 00:01] chenilim commented on #288
Thanks @chmac! Sorry, I missed your earlier comment in the other issue. Agree that it would be great if the Markdown editor supported clicking the checkboxes to toggle their state. Note that currently, you can "check" them in markdown with this format:
[code]
I did a quick search, and this might be doable by [replacing the click handlers in CodeMirror](https://stackoverflow.com/questions/62684743/

[2021-08-21 14:24] kamre commented on #1057
@chenilim please assign to me, I have started working on this feature.

@asaadmahmood propose to also have the same width for buttons that are used for property name so that it looks similar to Notion:
![GH-1057-property-name-button-size](https://user-images.githubusercontent.com/5587620/130324811-b7e712e3-b7bd-4fea-8c21-5f3f2a61b592.gif)

[2021-08-21 15:28] kamre commented on #1057
@asaadmahmood I have added highlighting for the property values and here is how it looks for almost all empty values:
![image](https://user-images.githubusercontent.com/5587620/130326787-ba6b916a-2a36-48de-83ed-ad7d81af522e.png)
Look at how clickable areas vary in width! Should we change this to be more consistent?

[2021-08-21 16:05] kamre commented on #1059
@chenilim I can look into this while working on somewhat related #1057

[2021-08-21 16:16] asaadmahmood commented on #1057
@kamre Yes we should. They should ideally be consistent, I think we can use the email field as a standard and have that width.
And then obviously if the content expands that width, the container should also expand.

[2021-08-22 15:33] ArpitRathore2020 commented on #1058
is this still open? I am a first-timer.

[2021-08-23 10:19] #1040 closed

[2021-08-23 10:32] ogi-m commented on #977
Tested and passed on RC6, button to open the collapsed menu is now visible

[2021-08-23 10:45] ogi-m commented on #976
Tested and passed on RC6 - the last view opens by default when accessing from the app switcher

[2021-08-23 10:51] jespino commented on #996
Fixed on mattermost/mattermost-webapp#8621

[2021-08-23 10:51] #996 closed

[2021-08-23 10:52] ogi-m commented on #1014
Tested and passed on RC6 -  favicon is updated on each board change

[2021-08-23 10:53] ogi-m commented on #944
I can still repro this in Chrome - sometimes it updates back to the Mattermost icon when switching to channels but more often it keeps the icon of the last viewed board.

[2021-08-23 10:59] jespino commented on #1060
I added this to the thread, but I don't think this is needed. The generated url is correct because is how you register custom urls in plugins. We have to figure out how to solve this from the desktop app, but I don't think the solution needs to be change that url.

[2021-08-23 11:00] jespino commented on #1058
@ArpitRathore2020, sorry, looks like somebody else already submitted a PR for this.

[2021-08-23 12:05] ZevSwe commented on #160
I wrote before about this but thought I might revisit this as it's still opened and not in v1.0 from what I can see. I do like the idea of going for just a website instead. However, that has two problems that needs solving to get this working on mobile devices. Only one of these can be solved easily with the browser approach.
1.  In red, address bar, tabs and status bar takes up a lot of room, thi

[2021-08-23 13:25] #1053 closed

[2021-08-23 14:33] #1005 closed

[2021-08-23 16:46] #1004 closed

[2021-08-23 17:27] #1010 closed

[2021-08-23 22:10] chenilim opened #1071 "Bug: Drag and drop card content to last column from row not working"
**Steps to reproduce the behavior:**
1. Open a card
2. Create two text blocks
3. Drag the second text block to the rightmost column of the first row
4. Nothing happens

**Expected behavior:**
Should be able to drag a row to the last column

**Screenshots:**
https://user-images.githubusercontent.com/46905241/130525924-dcbf841e-3023-49a3-9217-8eb6f18c136f.mov

**Platform:**
 - v0.9.0 RC6 on Communit

[2021-08-23 22:12] chenilim commented on #1071
Hi @hahmadia, not sure if this is a dup, but if this is an easy fix, let's try to take it for v0.9, and it's a major bug in a new feature. FYI @sbishel, @ogi-m.

[2021-08-23 22:17] chenilim opened #1072 "Bug: Dragging a card's text content shows the entire card as its preview"
**Steps to reproduce the behavior:**
1. Open a card
2. Create multiple text content blocks
3. Drag a text content block to reorder it
4. The drag preview shows the entire card

**Expected behavior:**
The drag preview should show just the text content.

**Screenshots:**
https://user-images.githubusercontent.com/46905241/130526428-258789fd-fe11-472b-b9ef-54c8739752cc.mov

**Platform:**
 - v0.9.0 RC6

[2021-08-23 22:18] chenilim commented on #1072
@jespino, I remember you had looked at a similar issue before. Do you think this is a regression? Would you like to take a look at it, or should we put it up for grabs?

[2021-08-23 22:21] ogi-m commented on #998
Tested and passed on RC5

[2021-08-23 22:22] #1058 closed

[2021-08-23 22:24] ogi-m commented on #1021
Verified this is fixed on RC5

[2021-08-23 22:27] ogi-m commented on #959
Verified this is fixed on RC6

[2021-08-23 22:29] ogi-m commented on #1006
Verified this is fixed on RC6

[2021-08-23 23:08] #967 closed

[2021-08-24 06:32] harshilsharma63 opened #1077 "Bug: POsiibly flaky unit test"
**Summary:**
This test seems to produce a different result during `npm run updatesnapshot` and `npm run test` - https://github.com/mattermost/focalboard/blob/main/webapp/src/components/cardDetail/cardDetailContents.test.tsx#L99

**Steps to reproduce the behaviour:**
1. Run `npm run updatesnapshot`. Notice that it will have updated snapshot for this test.
2. Run `npm run test`. Notice that the test

[2021-08-24 06:32] #1036 closed

[2021-08-24 06:47] harshilsharma63 commented on #585
@chenilim can you try this once then we can close this.

[2021-08-24 06:48] harshilsharma63 commented on #461
This was implemented in #761

[2021-08-24 06:48] #461 closed

[2021-08-24 09:30] #912 closed

[2021-08-24 13:11] #1011 closed

[2021-08-24 13:18] harshilsharma63 opened #1080 "Table Calulations: Date Functions"
**Summary:**
Implement the following table calculation functions for the date type property

1. **Earliest date**: The earliest value of a date property
1. **Latest date**: The latest value of a date property (including end-date for date ranges)
1. **Date range**: The time span between the earliest and latest value of a date property, expressed in a moment.js description (e.g. "a few seconds" or "

[2021-08-24 13:20] harshilsharma63 opened #1082 "Table Calculations: Checkbox Property"
**Summary:**
Implement the following table calculation functions for the checkbox type property

1. **Checked**: Count of a checkbox (boolean) property that is checked
1. **Unchecked**: Count of a checkbox (boolean) property that is unchecked
1. **Percent checked**: Percentage of a checkbox (boolean) property that is checked
1. **Percent unchecked**: Percentage of a checkbox (boolean) property tha

[2021-08-24 14:15] ogi-m opened #1083 "Bug: Last Updated Time property is updated without making any edits"
**Summary:**
_Last Updated Time_ property is updated even if the user just clicks in and out of the card description field without making any changes.
The property should only be updated if the text content actually changed.

**Steps to reproduce the behavior:**
1. Go to Boards and open a card with description text
2. Add a _Last Updated Time_ property to the card
3. Observe the time of the last e

[2021-08-24 14:37] #1061 closed

[2021-08-24 16:12] chenilim commented on #1060
Closing this as "by design" per the [thread here](https://community.mattermost.com/core/pl/jhm7px34a3yydpen5ioeiwytah).

[2021-08-24 16:12] #1060 closed

[2021-08-24 18:03] kamre commented on #1072
@jespino @chenilim looks like [this issue](https://github.com/react-dnd/react-dnd/issues/832#issuecomment-442071628) is related

So adding this style seems to fix the issue on Chrome at least:
[code]

[2021-08-24 18:24] chenilim opened #1086 "Bug: Channel header hint text should read "Boards Workspace""
**Steps to reproduce the behavior:**
1. Hover over the Boards channel header icon
2. It reads "Focalboard Workspace"

**Expected behavior:**
It should say "Boards Workspace", per the branding update

**Screenshots:**
<img width="169" alt="Channel header hint" src="https://user-images.githubusercontent.com/46905241/130669704-9d46572f-c2d4-4866-8c8a-46eaec01c844.png">

**Platform:**
 - v0.9.0 RC6 on

[2021-08-24 18:39] justinegeffen commented on #814
Thank you for raising this issue. :) The documentation has been updated for clarity and will be available on the Mattermost product documentation site shortly.

[2021-08-24 18:40] #814 closed

[2021-08-24 18:48] #1086 closed

[2021-08-24 20:07] #1046 closed

[2021-08-25 04:35] kamre opened #1090 "Bug: its not possible to resize the width of table column"
**Summary:**
There is no "horizontal grip" on mouse over that allows to change the width of table column.

**Steps to reproduce the behavior:**
1. Create board
2. Create card and add some properties
3. Add table view and switch to it
4. Try to resize column width
5. Horizontal grip doesn't appear on mouse over

**Expected behavior:**
Horizontal grip should appear on mouse over and allow resizing o

[2021-08-25 12:37] Prassud commented on #423
Thanks @jespino , working on this

[2021-08-25 13:01] #1021 closed

[2021-08-25 13:09] ogi-m commented on #992
Tested and passed on RC7 - "Board may be deleted or access revoked" error is now displayed

[2021-08-25 13:20] ogi-m opened #1095 "Bug: App launcher icon colors don't match the theme"
**Summary:**
The icons in the app launcher for Channels, Playbooks and Boards seem to follow the text color instead of the icon color set in Channels.

**Steps to reproduce the behavior:**
1. Set a theme in Channels
2. Open app launcher and observe the icon color
2. Open Boards
3. Open app launcher and observe the icon color

**Expected behavior:**
Icon color should match the ones in Channels

**S

[2021-08-25 13:21] ogi-m commented on #994
Verified the text color is now fixed but I've [opened anew issue](https://github.com/mattermost/focalboard/issues/1095) for icon color.

[2021-08-25 14:04] jespino commented on #1072
@kamre thanks! I'll apply that solution.

[2021-08-25 14:05] kamre opened #1096 "Bug: values of properties in the card dialog are not aligned vertically"
**Summary:**
In the card dialog not all types of properties are aligned vertically.

**Steps to reproduce the behavior:**
1. Create empty board
2. Add card with properties of different types
3. Look at the placeholders or checkbox switcher
4. Elements for values are not aligned vertically

**Expected behavior:**
Elements for values should be aligned vertically

**Screenshots:**
![image](https://us

[2021-08-25 14:09] chenilim commented on #1090
Thanks @kamre! Yup, this is a regression that we need to fix for v0.9. Assigning to you to reassign @sbishel, thanks.

[2021-08-25 14:38] it33 opened #1098 "Bug: Hard to read tags in default theme settings"
**Summary:**
Hard to read tags in default theme settings

**Steps to reproduce the behavior:**
![image](https://user-images.githubusercontent.com/177788/130810823-60097194-d99f-4413-a386-828842275212.png)
![image](https://user-images.githubusercontent.com/177788/130810860-c698044a-061c-4869-a6fa-38b763176756.png)

**Expected behavior:**
Not hard to read tags in default theme settings

**Screenshot

[2021-08-25 14:46] #1072 closed

[2021-08-25 15:42] ogi-m opened #1100 "Bug: Plugin doesn't work with subpaths"
**Summary:**
Opening broad from a server with a subpath configured results in 404.
On `subpath.test.mattermost.com/mattermost/` it opens `subpath.test.mattermost.com/boards/workspace/` instead of `subpath.test.mattermost.com/mattermost/boards/workspace/`

**Steps to reproduce the behavior:**
1. Open a server witha subpath configured and install Focalboard v0.9
2. Open boards from a channel

**Expe

[2021-08-25 16:38] lonix1 opened #1101 "Feature Idea: Custom css and js"
### Summary
Please allow us to add userscripts and userstyles to the DOM.

### How important this is to me and why:
Importance: Medium

### Use cases:
There are loads of feature requests and bugs in the issue tracker. Obviously there are many great ideas but not enough time to implement them all.

Some apps allow you to use custom userscripts (using tampermonkey, for example) and custom userstyles

[2021-08-25 16:40] wiggin77 opened #1102 "Bug: blocks_inserted metric overstated by 2X"
**Summary:**
The call to increment the `blocks_inserted` metric is called twice per block.

**Additional context:**
The REST APIs always call `(*App).InsertBlocks` when inserting one or more blocks, which in turn always calls `(*App).InsertBlock`.  Both APIs increment the counter.

[2021-08-25 16:44] #1102 closed

[2021-08-25 20:18] chenilim opened #1104 "Change plugin name to "Mattermost Boards" in Marketplace"
In line with the rebranding, let's change the name of the Focalboard plugin to "Mattermost Boards" in the Marketplace, and also update its description to "The Mattermost Boards plugin".

[2021-08-25 20:26] chenilim opened #1105 "Bug: Remove additional plugin steps"
**Steps to reproduce the behavior:**
1. Open the Focalboard plugin page in the System Console
2. It shows a section with "For additional setup steps, please see here"

**Expected behavior:**
That section should be removed now that the additional websocket config is no longer required by [PR-1079](https://github.com/mattermost/focalboard/pull/1079).

**Screenshots:**
<img width="560" alt="Focalboar

[2021-08-25 21:46] chenilim opened #1106 "Bug: Crash when grouping a table with an incomplete view"
**Steps to reproduce the behavior:**
1. Download, unzip and import the attached archive (this has a view without the `collapsedOptionIds` property)
[Table without collapsedOptionIds.focalboard.zip](https://github.com/mattermost/focalboard/files/7050056/Table.without.collapsedOptionIds.focalboard.zip)

2. Open the table
3. Group by Status (or any property)
4. Crash

**Expected behavior:**
The app s

[2021-08-26 02:57] bkawakami opened #1108 "Doc: Improve Docker download documentation with environments variables"
**Summary:**
Adding environment variable information in Docker documentation. I really tried to understand how environment variables in Docker would work through this [link #231](https://github.com/mattermost/focalboard/issues/231), but I couldn't.

**Link to documentation page:**
`https://www.focalboard.com/download/personal-edition/docker/`

[2021-08-26 06:39] kamre opened #1109 "Bug: after adding new board the view is not properly updated"
**Summary:**
If there is an existing board and a new one is added from the menu in the side bar then the current view is not properly updated and also highlighted active view in the side bar is the wrong one.

**Steps to reproduce the behavior:**
1. Start the server with no boards
2. Click on "+ Add Board" in the side panel and select "Project Tasks"
3. There will be an active table view "All Task

[2021-08-26 13:16] kamre opened #1111 "Bug: tooltip popup height is too small"
**Summary:**
Tooltip popup for property name in kanban card has too small height.

**Screenshots:**
![image](https://user-images.githubusercontent.com/5587620/130969026-47329a94-761a-4836-82a8-cee65a0e702b.png)

**Platform:**
 - Browser and version: Chrome 92
 - OS and version: Windows 10

**Additional context:**
Regression caused by #1078

[2021-08-26 15:20] chenilim opened #1112 "Bug: Sort and Filter buttons not highlighted when set"
This repros with the plugin, but not Personal Server:

**Steps to reproduce the behavior:**
1. Open a board or a table
2. Set the filter and the sort settings from the header
3. The buttons are not highlighted

**Expected behavior:**
The Filter and Sort buttons should be highlighted (bold) when set.

**Screenshots:**
Plugin:
<img width="484" alt="Plugin filter sort" src="https://user-images.github

[2021-08-26 16:50] mickmister opened #1113 "Feature: Support a "Create another" card feature, similar to Jira"
Jira has this check box at the bottom of their "Create issue" modal that keeps the modal open and allows you to continue creating more issues after submitting the form. It would be great if Focalboard allowed the user to do the same with creating multiple cards in succession.

<img width="600px" src="https://user-images.githubusercontent.com/6913320/131003530-5c35c3a2-3806-4e13-9284-ad1f5097a34f.p

[2021-08-26 19:48] mickmister opened #1115 "Feature Idea: When creating a new card, the typing cursor should be focused on the card title"
Currently when you click `+ New` to create a new card, the browser's focus remains on the `+ New` button, instead of switching focus to the title input of the new card.

The ideal behavior is that after clicking `+ New`, you can start typing the title of the card you're creating.

[2021-08-26 20:17] nishantwrp opened #1116 "Feature Idea: Focalboard API"
**Summary:**
I think that there should be API endpoints that expose focalboard boards and cards. For start, we can support basic CRUD on boards, cards. This will make it super easy make custom scripts, cron jobs etc. Also as a further scope to api endpoints we can add support for plugins in focalboard etc. For e.g.

- Google Calendar Integration
- Slack Integration
- ... etc.

**How important this

[2021-08-26 22:27] sbishel opened #1117 "Update mattermost-redux library"
The stand alone mattermost redux library is no longer being maintained.
https://github.com/mattermost/mattermost-redux

We should update to reference redux library within webapp to ensure we stay up to date.
https://github.com/mattermost/mattermost-webapp/tree/master/packages/mattermost-redux

[2021-08-27 01:11] #1115 closed, assigned to nobody

[2021-08-27 01:33] #1106 closed, assigned to chenilim

[2021-08-27 08:33] henrikhj opened #1121 "Feature Idea: Grouping of boards"
**Summary:**
A way to group multiple boards that are related in some way.

**How important this is to me and why:**
High
If Focalboard is to replace our current solution, in which we have 100+ boards spread across 7 different 'workspaces', this is absolutely Critical.

Use cases:
1. This could be a team, with a lot of boards.
2. It could be any one person with multiple boards.
3. Or boards grouped

[2021-08-27 09:22] mgdelacroix opened #1122 "Bug: global header user menu is not fully visible"
**Summary:**
When clicking on the user avatar at the global header top right, the menu is shown half outside the screen.

**Expected behavior:**
The menu should be fully visible inside the screen.

**Screenshots:**
![image](https://user-images.githubusercontent.com/223323/131104710-5ef8f1d9-25fd-4ea8-a405-4133494bb740.png)

**Platform:**
- Community daily, Focalboard 0.9.0

[2021-08-27 12:14] #1104 closed, assigned to sbishel

[2021-08-27 16:51] ogi-m opened #1125 "Bug: Refresh required after every action"
**Summary:**
After every action (e.g. board creation, card creation, moving a card, etc), the user needs to refresh to see the action executed.

**Steps to reproduce the behavior:**
1. Install latest plugin build from main
2. Open boards
3. Click _+Add Board_ and select a template

**Expected behavior:**
New board opens and appears in the sidebar without having to refresh

**Platform:**
latest mai

[2021-08-28 02:50] lonix1 commented on #1101
Although one could alter the theme by tinkering with js/css, it would be a hack. You'd need to "undo" the default styles, then apply yours.

A theme would typically be supported by the app itself, so it would apply only your theme and nothing else. That said, if we had this feature, one could "hack" the default theme until a formal theming feature is added. ...So this is not a dupe.

Also to imple

[2021-08-28 05:01] kamre commented on #1109
@chenilim I have checked the server logs and there are no any errors with this simple scenario. Also no error banner in the UI. So it seems to be a webapp state problem.

[2021-08-28 06:32] gaael opened #1126 "Bug: blank window on startup"
**Summary:**
When launching Focalboard Personal Desktop from the command line, a blank window opens and stays that way.

**Steps to reproduce the behavior:**
1. Install Focalboard v0.8.0 ([download here](https://github.com/mattermost/focalboard/releases/tag/v0.8.0) and extract contents to `/opt/focalboard-app/`)
2. Lanch from the command line : `$ /opt/focalboard-app/focalboard-app`
3. See the bla

[2021-08-28 10:47] s-ponta commented on #441
I encountered the same problem.
In my case, I used Forcalboard plugin for mattermost. The versions are:
Forcalboard plugin : v0.8.2
Mattermost : 5.37.1 (bundled in Gitlab 14.2.1)

[2021-08-28 20:28] nishantwrp opened #1127 "Feature Idea: Desktop app connected with the server"
**Summary:**
It would be great if there was a option to connect the desktop app with an already self-hosted server.
Importance: Medium

Probably requires #1116

[2021-08-30 06:13] #960 closed

[2021-08-30 06:23] harshilsharma63 commented on #960
@chenilim I'vemerged into `main` and cherrypicked in `release-0.9.0`.

[2021-08-30 14:17] asaadmahmood opened #1129 "Bug: Focalboard is not inheriting theme from Mattermost if NOT opened via global header"
**Summary:**
Bug: Focalboard is not inheriting theme from Mattermost if NOT opened via global header

**Expected behavior:**
The theme should be inherited from Mattermost.

**Screenshots:**
![Screenshot 2021-08-25 at 8 36 50 PM](https://user-images.githubusercontent.com/11034289/131353568-9e6c0082-da9d-43eb-ac9f-be68a3af7526.png)
![Screenshot 2021-08-25 at 8 38 04 PM](https://user-images.githubuse

[2021-08-30 14:42] kamre opened #1130 "Bug: today and date from the input are not selected in the day picker calendar"
**Summary:**
Day picker calendar doesn't select the date when today button is clicked or the date is entered in the input field.

**Steps to reproduce the behavior:**
1. Create empty board
2. Create new card and add Date property
3. Start editing date
4. Clicking _Today_ button doesn't select the date in the calendar
5. Entering the date in the input field changes the value but it is not selected

[2021-08-30 15:22] chenilim commented on #1130
Thanks @kamre! I'd classify these as sev-2 bugs, and am putting them up for grabs. FYI @sbishel, @ogi-m, @asaadmahmood.

[2021-08-30 15:25] chenilim opened #1131 "Bug: Use picker in global nav is cut off"
**Steps to reproduce the behavior:**
1. On Community, switch to Boards
2. Click on your user icon at the top right
3. The dialog is cut off on the right

**Expected behavior:**
The dialog should be fully visible

**Screenshots:**
<img width="193" alt="User dialog" src="https://user-images.githubusercontent.com/46905241/131363698-ae9fe793-0a98-4706-8995-8b489a395143.png">

**Platform:**
 - v0.9.0 R

[2021-08-30 15:27] chenilim commented on #1131
Per the [thread here](https://community-daily.mattermost.com/core/pl/8m43totwjjbqfdkc91j8aizmqc), this is already fixed in master. If it involves Focalboard code, let's make sure this is fixed in the 0.9 branch. Assigning to you to reassign @sbishel. cc @ogi-m.

[2021-08-30 15:29] chenilim commented on #1129
@jespino, are you still looking into theme issues? Also, when opening Boards via the Channel Header, it doesn't appear to inherit the Mattermost theme either. cc @ogi-m, @sbishel.

[2021-08-30 15:30] chenilim commented on #1096
Thanks @kamre! What do you think @asaadmahmood? I don't think this is necessarily a P1 for 0.9, but LMK if you want to take care of this during a pass, or rather put it up for grabs. Thanks.

[2021-08-30 15:47] fl0r1s commented on #124
FYI, you can build with following compose snippet:
[code]

[2021-08-30 19:25] #824 closed

[2021-08-30 19:44] chenilim commented on #1056
With the updated schedule (v0.9 shipping with Mattermost in Oct), and since @kamre has submitted a fix (thanks kamre!), I'm changing the milestone to v0.9 to cherry pick for the release-0.9.0 branch after merging. cc @sbishel, @ogi-m - LMK if you see any issues with this. Thanks.

[2021-08-30 19:48] chenilim commented on #1116
Thanks @nishantwrp! The current API is [documented here](https://github.com/mattermost/focalboard/tree/main/server/swagger). Right now, the API is block-based (boards, cards, etc. are blocks with different types). We are open to input on how to refactor this in the future, but the current API is fully functional, and should be able to support the scenarios mentioned above.

[2021-08-30 19:50] chenilim commented on #1122
Thanks @mgdelacroix! Sorry, I filed a dup in #1131 before I saw this and Scott's already submitted a PR to fix that. To avoid confusion, I'm closing this as a dup of #1131.

[2021-08-30 19:50] #1122 closed

[2021-08-30 19:53] #826 closed

[2021-08-30 19:58] chenilim commented on #1121
Thanks @henrikhj! We are implementing a Workspace switcher for the Focalboard Mattermost plugin in v0.9, [PR-1052](https://github.com/mattermost/focalboard/pull/1052). Long story short: Focalboard when integrated with Mattermost will support a different workspace per channel (see [demo video on YouTube](https://www.youtube.com/watch?v=v6hG91_WvhY)).

In Q4 2021, we're looking at [role-based permis

[2021-08-30 20:06] chenilim commented on #1111
Hi @kamre, was this repro on the Personal Server v0.9.0 RC7? I don't see a repro on v0.9.0 RC8 (community server or Mac app), nor on RC7 Mac app. In any case, the fix in the PR looks straight forward, but I'll defer to @asaadmahmood to review. Thanks.

[2021-08-30 20:13] nishantwrp commented on #1116
Ah okay, thanks @chenilim! Btw, don't you think we should serve this swagger documentation in the server instance itself, or is it already? Something like `{focalboard_server}/api/v1/docs`.

[2021-08-30 23:00] sbishel opened #1133 "Bug: Not all language available for selection"
**Summary:**
There are 17 translated language files in GitHub. But only 11 available in 0.9 version.

**Steps to reproduce the behavior:**
1. Go to User Settings
2. Click on 'Set Language'
3. Notice 11 available languages.

**Expected behavior:**
Expect to see all languages [here](https://github.com/mattermost/focalboard/tree/main/webapp/i18n) available to be selected.

**Additional context:**

[2021-08-31 02:16] #432 closed

[2021-08-31 04:43] mickmister commented on #1113
@kamre I suppose adding "Duplicate" to the dot menu on the top right may be an equivalent feature here

[2021-08-31 04:54] kamre commented on #1113
@mickmister for kanban and gallery cards "Duplicate" is already there in the options menu.

Do you propose to add "Duplicate" into card dialog options menu? Sounds like #808

[2021-08-31 04:56] mickmister commented on #1113
@kamre Thanks for the link, sounds like the same request :+1:

@asaadmahmood Do you think we should close this issue in favor of https://github.com/mattermost/focalboard/issues/808?

[2021-08-31 05:59] asaadmahmood commented on #1113
@mickmister I think we can keep this open, because I do not think this is tracked with duplicate or copy, creating another is something separate.

[2021-08-31 06:03] mickmister commented on #1113
@asaadmahmood At least in Jira's case, it does duplicate the issue's values when you select "Create Another". Meaning if I have the `Mattermost Team` set to "UX" on the first issue, it will be preselected as that value when I click "Create" when "Create another" is checked. Some fields are not carried over, such as the summary and description.

Duplicate seems like similar functionality but it wou

[2021-08-31 06:42] kamre commented on #1111
Hello @chenilim, this is a recent regression in `main` and not reproduced on `v0.9.0`

[2021-08-31 08:18] Prassud commented on #429
Thanks @sbishel, will start working on this

[2021-08-31 10:01] #1125 closed

[2021-08-31 10:02] mgdelacroix commented on #1125
It was a broader problem that the one described on #1109, will try and repro that one with the patch applied

[2021-08-31 10:24] mgdelacroix commented on #1109
Doesn't seem to be a WS issue, as the view is effectively changed and set. The issue seems to be only in the highlight on the sidebar, which is set to the newly created board but the old one remains highlighted as well

[2021-08-31 10:27] kamre commented on #1109
@mgdelacroix Yes, this is not related to WS issue.

Its not only about highlighting on the side bar because main central view is table one after these steps and there is no table view for the new empty board.

[2021-08-31 10:31] mgdelacroix commented on #1109
Right, didn't notice the nonexisting table view

[2021-08-31 12:00] ogi-m commented on #1004
Tested and passed - verified the contextual menu now opens to the right

[2021-08-31 12:02] ogi-m commented on #1033
Tested and passed - the card dialog no longer opens when clicking on the url

[2021-08-31 12:33] ogi-m opened #1136 "Bug: "Something went wrong" error after converting multi select property to URL"
**Summary:**
Converting multiselect property to URL causes the board to return "Something went wrong" error with no apparent way to fix it. Reopening the board results in the same error.

**Steps to reproduce the behavior:**
1. Open boards from Mattermost
2. Create a card
3. Create a URL property and add a link to the card
4. Change the URL property to multi select
5. Change the property back from

[2021-08-31 12:39] ogi-m opened #1137 "Bug: Link icon placed far away from the URL"
**Summary:**
Link icon is placed to the far right of the card regardless of the length of the URL.

**Steps to reproduce the behavior:**
1. Open a board
2. Create a URL property on a card
3. Add a short URL to the URL property field
4. Observe the link icon on the URL property

**Expected behavior:**
I expect the link icon to be placed near the end of the entered URL

**Screenshots:**
![card_url_p

[2021-08-31 12:56] ogi-m commented on #1010
Tested and passed on RC8 - verified they now take up the whole width of the card.

[2021-08-31 12:57] ogi-m commented on #1005
Tested and passed on v0.9.0 RC8 - the spacing is now adequate

[2021-08-31 12:58] ogi-m commented on #1040
Tested and passed on v0.9.0 RC8, the left border is clearly visible on cards in the first column

[2021-08-31 13:09] ogi-m commented on #1090
Tested and passed on v0.9.0 - table resizing working as expected.

[2021-08-31 13:12] asaadmahmood commented on #1113
@mickmister Duplicate would be similar, however, there's another thing, "Create another" while creating one requires some additional UX, as currently we automatically create a card when a user clicks on Add Card.

[2021-08-31 13:16] asaadmahmood commented on #1113
So with a Create another checkbox, we would have to surface "Create" functionality for a card instead of auto creating it.
(or have another UX to create it).

[2021-08-31 13:37] ogi-m commented on #1072
Tested and passed on v0.9.0 RC8 - only the selected text is shown in the drag preview.

[2021-08-31 13:38] ogi-m commented on #1021
Tested and passed on v0.9.0 RC8 in Firefox 👍🏻

[2021-08-31 13:40] ogi-m commented on #1086
Tested and passed on v0.9.0 RC8 - button hint now says "Boards".

[2021-08-31 13:42] ogi-m commented on #1106
Tested and passed on v0.9.0 RC8 - items grouped as expected, no crash.

[2021-08-31 13:44] ogi-m commented on #1083
Also verified v0.9.0 RC8

[2021-08-31 14:37] chenilim commented on #1136
We should at least not permanently crash on load.

[2021-08-31 14:44] chenilim commented on #1129
We should default to the new demin theme colors in any case.

[2021-08-31 14:55] kamre commented on #1137
This will be fixed in #1065 where autosize for input field was added.

[2021-08-31 17:11] chenilim opened #1139 "Change card URL / route to boardId/cardId"
**Summary:**
Per our team meeting on Aug 31, let's change the URL for a card to: `/workspace/:workspaceId/:boardId?/:cardId?`, and pass the viewId as a query string param named `v`, i.e. `?v=<viewId>`.

If no viewId is passed, the URL is redirected with the viewId of the first view of the board.

For shared boards, the URL will be `/workspace/:workspaceId/shared/:boardId?/:cardId?`.

**Additional

[2021-08-31 17:15] chenilim commented on #1139
FYI @wiggin77, @sbishel - filing this issue to track the change per the discussion at the team meeting today. Please LMK if I missed anything.

If we make this change, we should push it to v0.9 (to ship in Oct), so it might be more clear to make this change separately, and cherry pick the appropriate changes to `release-0.9.0` (which might also include [PR-1050](https://github.com/mattermost/focal

[2021-08-31 17:24] #1131 closed

[2021-08-31 17:58] chenilim opened #1140 "Feature Idea: Show warning when converting property type"
**Summary:**
When changing the type of a property, show a warning dialog if any of the values (across all cards in the board) is set. i.e. don't show it if no values for that property are set (such as when first creating a property).

This is related to #512 (confirmation when deleting property).

**How important this is to me and why:**
Importance: Medium

Use cases:
1. Users may not be aware tha

[2021-08-31 18:03] asaadmahmood commented on #1140
@chenilim Makes sense to me. Though we may need to define how the warning is displayed and what the text is.

[2021-08-31 18:12] chenilim commented on #1140
The warning should be shown as a modal dialog with the text above (noted as a block quote). The design of the modal should be consistent with #512 - though we should probably invest in the basic modal infrastructure first (or fix one of these issues along with it).

[2021-08-31 18:35] sbishel opened #1141 "Bug: Web app crashes on updateFavicon"
**Summary:**
Seeing a couple crashes related to favicon updating today on community-daily. Seem to happen when I click into some channels/threads but not sure of exact repro steps. Anyone else seeing it or have an idea what might cause it?

**Steps to reproduce the behavior:**
1. Go to any channel.
2. Click global header, and open focalboard for that channel.
3. Open a card.
4. Click the back butt

[2021-08-31 18:39] sbishel commented on #1141
Per original Jira ticket -

This is happening because Focalboard removes the link tags in the HTML that the web app uses to control the favicon ([link](https://github.com/mattermost/focalboard/blob/e10229031feb5029ee3c36bb9a28070d7f8d8c14/mattermost-plugin/webapp/src/index.tsx#L66)), so after viewing Focalboard, any attempt to update the favicon from the web app side causes a crash ([link](https:/

[2021-08-31 19:13] chenilim commented on #1141
Unless someone has strong opinions, I propose just disabling the Focalboard favicon code when running as a plugin. The favicon is currently used to communicate if a user has unread messages, and in the long run that should be consistent.

In any case, agree this needs to be fixed for 0.9 / 6.0. cc @asaadmahmood, @jespino.

[2021-08-31 19:22] asaadmahmood commented on #1141
Disabling it makes sense to me @chenilim

[2021-08-31 20:07] devinbinnie opened #1142 "Bug: Navigation with Desktop App doesn't work correctly."
**Summary:**
Focalboard uses the `react-router-dom` history module to navigate between its pages without refreshing. Unfortunately the desktop app is not aware of the changes this module makes and cannot facilitate any navigation between tabs this way.

We need to either:
a) Switch Focalboard to use the provided `browserHistory` module in the webapp (under `window.WebappUtils.browserHistory`)
b) C

[2021-08-31 20:57] sbishel commented on #1136
@ogi-m I am not able to reproduce, tried on main as well as community-daily. We can look at tomorrow.

[2021-08-31 21:28] gabrielctn opened #1143 "Bug: plugin websocket connection interrupted behind Apache2 reverse proxy"
**Summary:**

The Focalboard plugin v0.8.2 on my Mattermost Teams Edition 5.38.0 installed behind an Apache2 reverse proxy installation has websocket connection interruptions.
Mattermost works perfectly without any issue, chat is updated live and have been working fine since the beginning.
Focalboard works but does not save everything, probably due to the websocket issue.

**Steps to reproduce the