[2022-08-01 17:19] #685 closed

[2022-08-01 17:52] #3461 closed

[2022-08-01 18:13] chenilim commented on #3465
Related to https://github.com/mattermost/focalboard/issues/3448

[2022-08-01 18:17] chenilim commented on #3447
Link to spec: https://docs.google.com/document/d/1pcNMzUETYp-T8WpBRzK68vDq-itzYsjz6PH554mhBrc/edit

[2022-08-01 18:20] chenilim commented on #3467
@asaadmahmood, please define behavior and reassign to triage for v7.3. Thanks. cc @wuwinson.

[2022-08-01 18:21] asaadmahmood commented on #3467
@chenilim Added it.

[2022-08-01 18:24] chenilim commented on #3496
@wuwinson, please investigate the expected behavior. Thanks.

[2022-08-01 18:29] chenilim commented on #3495
May be related to https://github.com/mattermost/focalboard/issues/3425. This one can be fixed in 7.3 though.

[2022-08-01 18:31] chenilim commented on #3493
@wiggin77, appears to be related to the multi-product architecture changes?

[2022-08-01 18:37] chenilim commented on #3471
cc @ogi-m - please retest on the latest bugbash this week. There was an issue of slow user-data refreshes, which was fixed in the latest release branch.

[2022-08-01 18:41] chenilim commented on #3469
@mgdelacroix, please double-check that the migrations are migrating and assigning the admins for DM (e.g. 1:1) and GM boards correctly.

[2022-08-01 18:42] chenilim commented on #3466
cc @asaadmahmood, is there an expected behavior?

[2022-08-01 18:44] asaadmahmood commented on #3466
@chenilim We can think of improving this but currently channels, and some other competitors don't auto scroll the selected item into view.

[2022-08-01 18:44] chenilim commented on #3446
@neflyte, thanks for filing this! I could not repro using Chrome or Desktop App on Mac. Would you be able to attach a video? i.e. do you think it's specifically about the backticks? Does text without backticks save correctly?

[2022-08-01 18:46] chenilim commented on #3424
This may already be fixed in main. Please check @sbishel. Thanks.

[2022-08-01 18:47] chenilim commented on #3342
Ping @ogi-m.

[2022-08-01 18:50] chenilim commented on #3288
@prakharporwal please try cloning the repo via https (https://github.com/mattermost/focalboard.git), or double check your ssh credentials. Thanks.

[2022-08-01 19:00] chenilim commented on #3351
Does this require any additional chances @mgdelacroix?

[2022-08-01 19:03] chenilim commented on #3299
@Rajat-Dabade, please retest on this week's bugbash server. It did not repro on Scott's local setup. Thanks.

[2022-08-01 19:05] sbishel commented on #2879
This is fixed for me as well on RC1. Closing...

[2022-08-01 19:05] #2879 closed

[2022-08-01 19:07] chenilim commented on #2371
@jespino, is there anything that needs done on this for 7.2?

[2022-08-01 19:13] justinegeffen commented on #3022
@chenilim, is this still required? :)

[2022-08-01 19:14] justinegeffen commented on #2857
@wuwinson, is this still required? :)

[2022-08-01 19:16] justinegeffen commented on #2837
The API docs aren't updated by the docs team and I'm not sure how one would add a warning to them. :( I think the content needs to be added directly to the API code and it gets pulled into the API documentation.

[2022-08-01 19:28] chenilim commented on #2673
Hi @justinegeffen, the [Swagger API docs](https://htmlpreview.github.io/?https://github.com/mattermost/focalboard/blob/main/server/swagger/docs/html/index.html) are generated from code comments, mainly in [api.go](https://github.com/mattermost/focalboard/blob/main/server/api/api.go#L277). Please review the wording and descriptions, and make any edits as a PR to the code comments. Thanks.

[2022-08-01 19:30] justinegeffen commented on #2673
Gotcha! Will do. :) Thanks.

[2022-08-01 19:31] chenilim commented on #3022
Yes, this is still an issue (boards can be duplicated with missing images), though not a high-priority one.

[2022-08-01 20:03] justinegeffen commented on #549
This is addressed in the latest doc updates (WIP), thank you! :)

[2022-08-01 20:03] #549 closed

[2022-08-01 22:17] chenilim opened #3509 "Bug: Boards that I am not an admin of are shown in link boards dialog"
## Steps to reproduce the behavior

1. (7.2 bugbash) Select the boards icon from the Channel header
2. Select + Add
3. Type 'e' in the search box
4. Boards that I am not an admin of are shown, but selecting Link on them (and confirming) does nothing

## Expected behavior

Only boards that I am admin of should be shown

## Screenshots (optional)

<img width="631" alt="Screen Shot 2022-08-01 at 3 13

[2022-08-01 22:28] chenilim opened #3510 "Feature Idea: Esc should close link dialog"
## Summary

1. Select board icon from Channel header
2. Select + Add board
3. Press ESC
4. Nothing happens

Expected: Dialog should close

## How important this is to me and why

Importance: Low

Use cases:
1. All dialogs should close when ESC is pressed

[2022-08-01 22:34] chenilim opened #3511 "Bug: Pressing Enter two or more times results in multiple categories"
## Steps to reproduce the behavior

1. Select ... next to a category in the sidebar
2.Select add new cateogory
3. Type in a name
4. Press enter multiple times rapidly
5. Multiple categories with the same name are created

## Expected behavior

Only one category is created

## Screenshots (optional)
https://user-images.githubusercontent.com/46905241/182256678-999aeef0-3d9c-49c6-ad54-878f7f5e588c.mo

[2022-08-01 22:44] chenilim opened #3512 "Bug: Lack of margin between text and button in link dialog"
## Steps to reproduce the behavior

1. Select Boards icon from channel header and select + Add
2. Notice that long descriptions go up to the button

## Expected behavior

There should be a margin between text and the button

## Screenshots (optional)

<img width="623" alt="Screen Shot 2022-08-01 at 3 09 24 PM" src="https://user-images.githubusercontent.com/46905241/182257761-f5da399a-e6ee-4d95-917

[2022-08-01 22:45] chenilim commented on #3512
@asaadmahmood, is a margin specified in the design? cc @wuwinson.

[2022-08-01 22:48] sbishel commented on #3469
I did some testing on this locally. What appears to happen is the board creator gets "admin" status. The other user (direct channel) get access via channel association. When looking at channel association only the "direct channel" of the team the board was migrated to displays that association. If accessing the direct channel from the other team, no association is displayed.

In boards, the board

[2022-08-01 22:58] chenilim opened #3513 "Bug: DM board associations are not shown on different teams"
## Steps to reproduce the behavior

1. Create a board in Team 1 and associate it with a DM channel
2. Open the DM channel from Team 2, and show the associated boards
3. The board is not shown

## Expected behavior

The board is shown regardless of team

## Screenshots (optional)

https://user-images.githubusercontent.com/46905241/182259230-c76676b8-5682-4044-992d-635738b92a6d.mov

## Edition and P

[2022-08-01 22:59] sbishel opened #3514 "Bug: Migrated Direct Channels only show board associations on one team"
## Steps to reproduce the behavior

Testing locally, direct channel boards appear to be working correctly. The creator is given admin permissions and the other user(s) are granted access via channel association. However, the association is only shown in one team in Channels.

This can lead to confusion because Channels doesn't care about Teams for Direct/Group Channels, but Boards associates Migra

[2022-08-01 23:02] sbishel commented on #3469
Opened https://github.com/mattermost/focalboard/issues/3514 to track direct channel/team issue.

[2022-08-01 23:28] chenilim opened #3515 "Bug: Cannot find boards with synthetic membership"
## Steps to reproduce the behavior

1. (7.2 bugbash) As user1 create a board and associate it with a channel that user2 is a member of (e.g. 1:1 DM channel)
2. Log in as user2 and go to boards
3. Press Cmd+K and try to find the board
4. Cannot find it

## Expected behavior

Should be able to find the board by name

## Screenshots (optional)

<img width="966" alt="Screen Shot 2022-08-01 at 4 13 55

[2022-08-01 23:29] chenilim commented on #3469
@sbishel, I also filed https://github.com/mattermost/focalboard/issues/3513 which might be a dup of #3514. I also filed https://github.com/mattermost/focalboard/issues/3515 to track being unable to find boards you have synthetic membership to.

[2022-08-02 07:44] jespino commented on #2371
This is more a review thing, there is not going to be needed to create any code for that. I'll review the spec and verify everything is behaving as expected.

[2022-08-02 09:09] cdlangen opened #3519 "Bug: Card updates after a long delay"
## Steps to reproduce the behavior

Once when I altered a card in the webapp (tried to add comments / alter the description), the changes didn't appear in the card and no error message was shown. After a few minutes the comments and changes did eventually appear. I have no idea why this occurred, so I don't know how to reproduce it.

## Expected behavior

The card updates with changes. If the card

[2022-08-02 12:11] ogi-m commented on #3342
@wuwinson @chenilim I was able to reproduce this as decrbed on plugin v7.2. It only happens in the comments section when hitting the spacebar while typing.

[2022-08-02 12:25] ogi-m commented on #3357
@hacxman In step #3, did you mean board name or card name? I've tried both but I can't repro

[2022-08-02 13:02] asaadmahmood opened #3520 "Bug: Boards with no icon don't have the official boards icon displayed"
## Steps to reproduce the behavior
1. Create a board with no icon
2. Open modal on channels to link a board.
3. See that if the board has no icon, no icon is shown.

## Expected behavior
Official Boards icon should show on boards that don't have an icon.

## Screenshots (optional)
<img width="649" alt="Screenshot 2022-08-02 at 6 00 20 PM" src="https://user-images.githubusercontent.com/11034289/182

[2022-08-02 15:05] ogi-m commented on #3471
I can no longer repro this on the community clone

[2022-08-02 15:05] #3471 closed

[2022-08-02 15:06] ogi-m commented on #3443
I can no longer repro this on the community clone

[2022-08-02 15:06] #3443 closed

[2022-08-02 16:45] mgdelacroix opened #3521 "Bug: channel association is not showing on DM/GM boards"
## Steps to reproduce the behavior

1. Create a board and link it to a DM or GM
2. Go to the share tab
3. See how the channel association is not shown

## Expected behavior

The channel association should be shown in the share dialog

## Screenshots (optional)

![image](https://user-images.githubusercontent.com/223323/182429131-01547398-5b5a-46be-ac4d-3c1fd23f3e33.png)

The screenshot shows both t

[2022-08-02 16:53] mgdelacroix commented on #3469
@chenilim @sbishel my tests show the behavior that we discussed, the owner of the board gets set as the admin and the other members have synthetic memberships. However, I've found and filed https://github.com/mattermost/focalboard/issues/3521, which seems to be only cosmetic

[2022-08-02 21:32] sbishel commented on #3469
Closing as this is working as designed, #3521 and #3514 should help with confusion.

[2022-08-02 21:32] #3469 closed

[2022-08-02 21:40] sbishel commented on #3351
Tested on bug-bash, no longer an issue...closing

[2022-08-02 21:40] #3351 closed

[2022-08-02 21:58] chenilim opened #3523 "Bug: Not obvious you can search for a channel in the Share dialog"
## Steps to reproduce the behavior

1. Open the Share dialog for a board
2. Not obvious how to link to a channel

## Expected behavior

Recommend changing the search box placeholder text to "Search for people or channels"

## Screenshots (optional)

<img width="632" alt="Screen Shot 2022-08-02 at 2 56 50 PM" src="https://user-images.githubusercontent.com/46905241/182480604-acc05d55-d7a4-4dcc-b964-

[2022-08-02 21:59] chenilim commented on #3523
cc @asaadmahmood - I actually forgot about this feature, and couldn't figure it out until I read @wuwinson's help doc. :) Do you think this is enough, or could we improve the discoverability more?

[2022-08-02 22:04] chenilim opened #3524 "Feature Idea: Allow boards from any team to be searched for"
## Summary

(Based on 7.2 bugbash): Allow boards from all teams the user is a member of to be found in the search (Cmd+K). Automatically switch to the appropriate team when selected

## How important this is to me and why

Importance: Medium

Use cases:
1. The problem today is you need to be on the "correct" team to find a board, which is ambiguous in the case of migrated DM / GM channel boards
2.

[2022-08-02 22:05] chenilim commented on #3524
cc @asaadmahmood, @wuwinson - I don't remember if we discussed this before, but in light of the 7.2 changes doc, this will avoid some user confusion.

[2022-08-02 22:25] sbishel commented on #3424
Retested on latest  https://boards-bugbash.test.mattermost.cloud/
This has been fixed along the way. Closing....
Reopen if you still see this issue.

[2022-08-02 22:25] #3424 closed

[2022-08-02 22:38] sbishel commented on #3425
@Pinjasaur - I spoke to @chenilim about this. If this can't be fixed easily (and quickly). Let's "fix" it by removing the functionality from Calendar, its new functionality and the we can implement correctly (using single instance) when we have more time.

[2022-08-03 01:44] harshilsharma63 commented on #3465
@chenilim @wuwinson to be clear, we want all newly created categories to be "collapsed" by default, right? As part of #3448, we'll persist a category's expanded/collapsed state anways.

[2022-08-03 02:11] chenilim commented on #3465
I'll defer to Winson, but my understanding is the categories should be collapsed **after migration**. IMHO, categories created by the user should be uncollapsed. cc @asaadmahmood.

[2022-08-03 04:57] harshilsharma63 commented on #3465
Makes sense @chenilim .

[2022-08-03 18:50] asaadmahmood commented on #3523
@wuwinson Yup, I'll fix it right now.

[2022-08-03 18:52] wuwinson commented on #3520
@asaadmahmood Can you attach/link the icon to this ticket? Feel free to tackle this one if you have capacity as well. Thanks!

[2022-08-03 18:57] wuwinson commented on #3519
@cdlangen Thanks for reporting this. If anyone else notices this, please chime in and add any repro steps if possible. Thanks!

[2022-08-03 18:59] wuwinson commented on #3513
Dupe of #3514

[2022-08-03 18:59] #3513 closed

[2022-08-03 18:59] wuwinson commented on #3512
@asaadmahmood Can you tackle this one? Thanks!

[2022-08-03 19:01] wuwinson commented on #3511
@ogi-m Can you confirm if this is happening on other dialogs? Thanks!

[2022-08-03 19:08] asaadmahmood commented on #3520
@wuwinson It's the same icon we have in the LHS for boards with no icons.

[2022-08-03 19:09] asaadmahmood commented on #3512
@wuwinson Sure.

[2022-08-03 19:11] asaadmahmood opened #3530 "Bug: Switching boards takes you to the template picker."
## Steps to reproduce the behavior
See video attached below.
https://user-images.githubusercontent.com/11034289/182689961-1a7f1403-d36f-4ab5-9cf4-ecd1987ddd61.mp4

## Expected behavior
Boards should switch normally.

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: 7.2
 - Browser and OS: Chrome Mac

## Additional context (optional)

Add any other context about the proble

[2022-08-03 19:12] asaadmahmood opened #3531 "Bug: Empty templates appear in template list and in the preview"
## Steps to reproduce the behavior
See video below.

https://user-images.githubusercontent.com/11034289/182690286-6bfdd0a3-2147-40a8-99fa-fb846115a37e.mov

## Expected behavior
Templates with no name should show as Untitled, while there should be no templates that are empty on the previewwer.

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: 7.2
 - Browser and OS: Chrome

[2022-08-03 19:26] asaadmahmood opened #3532 "Bug: Boards autocomplete acts weird while searching for boards"
## Steps to reproduce the behavior
See video below.
https://user-images.githubusercontent.com/11034289/182692535-6bd6f75b-e9d8-4921-915c-c99e00ea4b35.mov

## Expected behavior
Matches matching the search text most relevantly should appear above.

 - Edition: Mattermost Boards (plugin)
 - Version: v7.2 Bug Bash
 - Browser and OS: Chrome on Mac

[2022-08-03 19:42] wuwinson commented on #3531
@mgdelacroix Can you double check the migration of templates and permissions. Would there be any reason that they would act differently from boards? cc @sbishel

[2022-08-03 19:57] #3425 closed

[2022-08-03 19:58] wuwinson commented on #3484
Let's set the min server version to 7.2, and recommend customers on ESR to upgrade to the next ESR for stability. cc @sbishel @chenilim

[2022-08-03 19:58] #3484 closed

[2022-08-03 20:03] wuwinson commented on #2837
@wuwinson to add a note to https://github.com/mattermost/focalboard/tree/main/server/swagger

[2022-08-03 20:17] Pinjasaur commented on #3495
Able to repro by shrinking browser window horizontally. Not fixed implicitly by #3425, will need to investigate further. Perhaps as simple as `overflow` on the parent Full Calendar component.

[2022-08-03 20:23] sbishel opened #3535 "Bug: Update minimum server version to 7.2"
Because of changes in websockets, we need Mattermost-server version 7.2 as a minimum.

[2022-08-03 21:00] #3535 closed

[2022-08-03 21:24] #3404 closed

[2022-08-03 21:29] Pinjasaur commented on #1007
Taken from https://github.com/mattermost/focalboard/pull/3486#issuecomment-1201035635.

[2022-08-03 22:12] #3294 closed

[2022-08-03 22:30] #33 closed

[2022-08-03 22:36] #3521 closed

[2022-08-03 22:38] #3478 closed

[2022-08-03 22:40] wiggin77 opened #3541 "Bug: Docker-compose gives permission denied on `data` directory"
## Steps to reproduce the behavior

1. Go to `docker` folder in `focalboard` repo
2. Type `docker-compose -f docker-compose-db-nginx.yml up`
4. Boards is not able to write images to the `data` directory created. See error:

[code]

## Expected behavior

Boards is able to write images to local storage.

## Edition and Platform

 - Edition: Personal Server (docker)
 - Version: 7.3 (main)
 - Browser

[2022-08-03 22:58] Pinjasaur opened #3542 "Bug: Can't search for an untitled board"
## Steps to reproduce the behavior

1. Create an untitled board
2. Open the Boards Switcher (Ctrl/Cmd + K)
3. Try searching for `(Untitled Board)` as displayed in UI
4. See no results

## Expected behavior

Able to search for untitled board(s).

## Screenshots (optional)

If applicable, add screenshots or a screen recording to elaborate on the problem.

<img width="1150" alt="image" src="https://u

[2022-08-03 22:59] Pinjasaur commented on #3542
I noticed this while trying to repro #3530. @wuwinson do you know if this behavior is intended?

[2022-08-03 23:13] Pinjasaur commented on #3530
Having a hard time consistently reproducing this locally. It happens when switching between boards on different teams, but only _sometimes_. It doesn't appear to be related to if you select the board via the mouse cursor or keyboard shortcuts. Makes me think it's somehow related to a race condition in state?

Any tips in reproducing? @wuwinson @asaadmahmood @ogi-m

[2022-08-04 00:58] wuwinson commented on #3542
No, any board with the words "untitled" should appear in the search results.

[2022-08-04 01:22] wuwinson commented on #3530
@Pinjasaur It looks like it has to do with you searching and opening up a board that's on another team.

For example, on https://community-dr.staging.cloud.mattermost.com/boards/

- We have the `Contributors` team with the "Developer Meeting Agenda" board under the Focalboard category.
- In the `Staff` team, we have the "Focalboard V1 Features" board under the Focalboard (Internal) category.

1. G

[2022-08-04 01:53] wuwinson opened #3543 "Bug: Custom templates shared with the team are misleading with the role assignment"
## Steps to reproduce the behavior

1. Open the template picker
2. Create new template
3. Share the template with the team by setting the team role as "Editor"
4. Log-in as another team member
5. Open the template picker and hover over the template created in step 2
6. See error - User from step 4 is not able to edit the template even though they are "Editors" of the template

## Expected behavior

[2022-08-04 01:53] wuwinson commented on #3543
Maybe related to #3531

cc @sbishel @chenilim

[2022-08-04 01:55] wuwinson commented on #3465
Yep agreed, this applies to **migrated** custom categories only. Any new categories created by the user should be uncollapsed.

[2022-08-04 03:46] chenilim opened #3544 "Bug: Sidebar scrollbar almost invisible"
## Steps to reproduce the behavior

1. (7.2 RC1) Open Boards
2. Try to scroll the sidebar
3. The scrollbar is almost invisible

## Expected behavior

More visible scrollbar.

## Screenshots (optional)

https://user-images.githubusercontent.com/46905241/182758482-7ec3d67b-097f-442d-90e1-9e2b9bb3f1ed.mov

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: 7.2 RC1
 - Browser

[2022-08-04 03:54] chenilim opened #3545 "Bug: Other people's boards appear in my sidebar"
## Steps to reproduce the behavior

1. (After 7.2 RC1 community migration) See Boards sidebar
2. There are several boards that I don't have any access to which appear in my sidebar

## Expected behavior

Boards I do not have access to should not appear in my sidebar

## Screenshots (optional)

https://user-images.githubusercontent.com/46905241/182759457-e42c7e94-a17d-47e8-ad7e-f45cb1210a50.mov

##

[2022-08-04 04:02] chenilim opened #3546 "Bug: Associated channel not shown in Share dialog for DM channels"
## Steps to reproduce the behavior

1. Open a board migrated from a DM channel
2. Open the Share dialog
3. The channel is not listed

## Expected behavior

The associated channel of a board should appear in the Share dialog

## Screenshots (optional)

<img width="925" alt="Screen Shot 2022-08-03 at 9 00 04 PM" src="https://user-images.githubusercontent.com/46905241/182760311-89f034eb-6cc8-4176-81e

[2022-08-04 04:03] chenilim commented on #3545
I realized this is because the boards are from a associated channel I am a member of, but is due to (dup of) https://github.com/mattermost/focalboard/issues/3546.

[2022-08-04 04:03] #3545 closed

[2022-08-04 04:04] chenilim commented on #3546
@sbishel, @wuwinson I recommend investigating this for 7.2 if it's not covered by another bug already. cc @jespino.

[2022-08-04 06:24] AuspeXeu opened #3547 "Feature Idea: allow references to now() in templates"
## Summary

I want a date field to be preset to a date equal to `now() + 10 days`

## How important this is to me and why

Importance: High

Use cases:
1. Automatic follow-ups

[2022-08-04 07:48] #3350 closed

[2022-08-04 07:48] #3512 closed

[2022-08-04 07:48] #3523 closed

[2022-08-04 08:21] harshilsharma63 opened #3548 "Feature Idea: Select opened board in sidebar"
## Summary

When opening a board from board switcher, the board opens up but if the board isn't brought into viewport in the LHS and a lot of times you need to manually find it.

Additionally, if that board is in a category and the category was collapsed, do we open that category?

## How important this is to me and why

Importance: Medium

[2022-08-04 08:23] harshilsharma63 commented on #3548
cc @asaadmahmood @wuwinson

[2022-08-04 08:39] mgdelacroix opened #3549 "Bug: template picker opens when following a board link on the desktop app"
## Steps to reproduce the behavior

1. On the desktop app, go to the boards tab and visit a board on team A
2. Change to the channels tab and go to a channel with a linked board on team B
3. Open the boards RHS and click on the board link to visit the linked board
4. Desktop app will change to the boards tab and within boards the app will change to team B, but it will not visit the board clicked,

[2022-08-04 08:45] jespino opened #3550 "Bug: Boards without select properties in it doesn't show the kanban content at all"
## Steps to reproduce the behavior

1. Go to a board with kanban and table view
2. Go to the table view
3. Open a card and delete any property that is of type "select"
4. Go to the kanban board. It appears blank without any information why.

## Expected behavior

I would expect that the kanban shows me some kind of information about why it is blank. Also the group by menu should explain also why i

[2022-08-04 08:47] jespino commented on #3550
@asaadmahmood I think this needs a bit of design and UX, feel free to assing it to yourself. It is not a "huge" priority, but I think can be done for 7.3, anyway I leave it as Triage.

[2022-08-04 08:48] asaadmahmood commented on #3550
@jespino Sure, will have a look at it.

[2022-08-04 08:50] jespino opened #3551 "Bug: Deleting the current group by property generate a javascript error"
## Steps to reproduce the behavior

1. Go to a board with a kanban board
2. Go to the kanban board
3. Open a card
4. Remove the current group by property in the card (needs to be the last select property available)
5. It fails and redirects you to the error page

## Expected behavior

Delete it without a problem (And show that there is no property for orther this, see #3550

## Edition and Platfor

[2022-08-04 09:19] #3447 closed

[2022-08-04 14:04] michaelquigley opened #3554 "Feature Idea: Precise Versioning in Server Executable"
## Summary

Version information baked into server executable. The UI currently says "Jun 2022"... this isn't granular enough. It would be more useful if there were a way to get the _exact_ version (i.e. `7.1.0`) of the server.

## How important this is to me and why

Importance: Medium

Use cases:
1. Running multiple environments... it's difficult to know what version of Focalboard is actually ins

[2022-08-04 14:11] justinegeffen opened #3555 "Feature Idea: UX improvement for linking channels"
## Summary

It's not immediately clear in the linking modal/process how linking works, in terms of what it is, and why to do it. Most channels will already have linked boards so the default "landing page" won't be displayed.

It also seems a bit too easy to link a board to a new channel. I wanted to test it but it seemed like it could really break things for the currently linked channel. For examp

[2022-08-04 14:33] chenilim commented on #2952
@wuwinson should this still be prioritized for 7.2? cc @sbishel.

[2022-08-04 14:59] wuwinson commented on #3555
cc @asaadmahmood @chenilim

[2022-08-04 15:49] asaadmahmood commented on #2952
@wuwinson Yes I can fix this (hopefully).

[2022-08-04 15:57] wuwinson opened #3559 "Bug: Moving boards to another category causes the board to disappear for other users until they refresh"
## Steps to reproduce the behavior

1. Login with 2 users at the same time or have another person check on their Boards during testing
2. User 1: Select a board that is visible to both users (i.e., "Focalboard Developer Meeting Agenda" under the `Focalboard` category in the Contributors team)
3. User 1: Move the board to another category
4. User 2: See error - the "Focalboard Developer Meeting Age

[2022-08-04 15:57] wuwinson commented on #3559
cc @sbishel @chenilim @asaadmahmood

[2022-08-04 16:37] jespino commented on #3543
After investigating it, it can be possible, you are seeing all the "public" templates, that are the ones that "allows you to join by default", but for templates the meaning is different, is "anyone can use it, but not necessarily join". So... you don't have edit or delete permissions until you get explicitly invited or you find the way to join it (the interface doesn't allow you to do that).

You

[2022-08-04 16:52] #3243 closed

[2022-08-04 17:10] sbishel commented on #3299
Retested on community...appears to be fixed, closing

[2022-08-04 17:10] #3299 closed

[2022-08-04 17:13] nab-77 opened #3564 "Bug: Searching boards does not return relevant items"
## Steps to reproduce the behavior

1. Use the search box Find Boards or the search box on the Link boards dialog
2. Type in your board name
3. Review list
4. Note the board you are searching for is missing

## Expected behavior

1. Based on your search input the list would be complete, including the board you are searching for.
2. When searching for multiple words, board switcher search results s

[2022-08-04 17:20] Pinjasaur commented on #3530
Community clone doesn't have Boards plugin anymore (maybe due to the 7.2 deployment/migration that just happened in the last day)—able to repro more or less consistently on community.mattermost.com.

[2022-08-04 17:29] Pinjasaur opened #3565 "Feature Idea: render `(Untitled Template)` if a template is untitled"
## Summary

Just like an untitled board renders as `(Untitled Board)` we should probably do the same for an untitled template otherwise it renders a seemingly blank UI element in the template selector.

![image](https://user-images.githubusercontent.com/6335792/182913689-8e56b2bf-114d-4b79-9c4a-003a9195d967.png)

## How important this is to me and why

Importance: High/Medium/Low

Use cases:
1.
2.

[2022-08-04 17:44] Pinjasaur commented on #3530
OK, narrowed it down more. On community.mattermost.com:

Browsing Focalboard Q&A board on Contributors, open switcher & search `focal` and select the first result which is Focalboard OKRs on Staff team. URL becomes:

- `https://community.mattermost.com/boards/team/qghzt68dq7bopgqamcnziq69ao/b1kkw5iy54pnqtjti6y84u436aa/v8w1odtuus3gbzghwquk7m4xr6c` which repros the case above

Now, do the same steps

[2022-08-04 18:41] wuwinson opened #3568 "Bug: Link board to channel button should be blue"
## Steps to reproduce the behavior

1. Go to a board without a channel already linked to it
2. Open the Share modal on the board
3. Search for a channel to link to the board
4. See error - the `Yes, link here` button is red

5. Go to any channel and open the Boards Apps Bar
6. Open the Link Boards modal and search for a board that isn't already linked to a channel
7. Click on the "Link" button for

[2022-08-04 18:42] wuwinson commented on #3568
cc @asaadmahmood in case you have capacity to tackle this for v7.2, otherwise we'll hold off until v7.3.

[2022-08-04 18:45] asaadmahmood commented on #3568
@wuwinson This is already fixed on 7.2 (not on community), but probably for rc2.

[2022-08-04 18:45] #3568 closed

[2022-08-04 18:46] wuwinson commented on #3568
Nice!

[2022-08-04 20:52] wuwinson commented on #3548
Dupe of #3466 - Would be awesome to get this in for v7.3 if it's simple, otherwise we can leave it up for grabs and prioritize it for a later time if it doesn't get picked up.

[2022-08-04 21:15] sbishel commented on #3542
A board that displays "(Untitled Board)" does not have a title. (ie. title = "")(empty string). So without some fancy conversion in order to search for "", this can't work and shouldn't be fixed.

That said...we should not allow a board with a blank title be saved or save a new board with a default title "Untitled Board".  Rather than "". Untitled Boards are a mistake, there is no reason to have a

[2022-08-04 21:16] sbishel commented on #3565
I don't disagree, since we currently allow templates without a title. But, long term, templates without a title should not be saved (or saved with a default, not "")

[2022-08-04 21:19] Pinjasaur commented on #3542
Yeah, I was thinking the same thing—the `(Default Board)` i18n happens on the frontend and the search query happens on the backend.

[2022-08-04 21:21] Pinjasaur commented on #3565
^ related to #3542

[2022-08-04 21:23] wuwinson commented on #3564
@nab-77 Is this happening for single word searches or when you start using multiple words in your search term? cc @sbishel @chenilim

[2022-08-04 21:37] wuwinson opened #3572 "Bug: Create board from Link Board modal in RHS not working on desktop app"
## Steps to reproduce the behavior

1. Go to any channel
2. Click on "Add" button to open Link Board modal
3. Select "Create a board"
4. See error - takes you to last viewed board and not the template picker

## Expected behavior

User should be redirected to the template picker. Works as expected on browser.

## Screenshots (optional)

https://user-images.githubusercontent.com/93531870/182957061-

[2022-08-04 21:39] wiggin77 opened #3573 "Bug: RHS boards list does not update when board created"
## Steps to reproduce the behavior

1. Go to any channel
2. Select  Boards icon on RHS
3. Select `Link boards`
4. Select `Create Board` & create a board
5. Return to channel
6. Newly created board does not appear in RHS

## Expected behavior

Newly created boards appear in RHS

## Screenshots (optional)

![Boards-RHS-Update-bug](https://user-images.githubusercontent.com/5024605/182957338-c0410f30-

[2022-08-04 21:39] wuwinson opened #3574 "Bug: Unlink button cut-off on Link Boards modal"
## Steps to reproduce the behavior

1. Go to Link boards modal from the channel
2. Search for boards already linked to the channel
3. See error - some of the "Unlink" buttons are cut-off, but not all of them.

## Expected behavior

Buttons are not cut off.

## Screenshots (optional)

https://user-images.githubusercontent.com/93531870/182957294-2d541e73-6dc5-4eea-b223-f969e6771167.mov

## Edition a

[2022-08-04 21:39] wuwinson commented on #3574
cc @asaadmahmood

[2022-08-04 23:15] Pinjasaur opened #3575 "Bug: Ability to un-hide a board"
## Steps to reproduce the behavior

1. Hide a board
2. It's now hidden from being rendered, what if I want to see it again?

## Expected behavior

Ability to unhide a board besides the very-technical workaround of manually sending a PUT request with the updated `hiddenBoardIDs` key & values.

## Screenshots (optional)

If applicable, add screenshots or a screen recording to elaborate on the proble

[2022-08-04 23:23] Pinjasaur commented on #3575
I now see `handleUnhideBoard` which seems to be work if you have a direct link to a board? It would be nice to have an alternative method so I can't lock myself out of a board, so to speak.

[2022-08-04 23:32] Pinjasaur opened #3576 "Bug: LHS team not selected upon reload"
## Steps to reproduce the behavior

1. Go to any team/board/card URL
2. Reload the page
3. Notice the team on the LHS isn't automatically selected

## Expected behavior

The team to be auto selected/persisted upon a fresh page load.

## Screenshots (optional)

<img width="708" alt="image" src="https://user-images.githubusercontent.com/6335792/182972285-fdc8a82f-9104-438b-af56-8f75b4daa52f.png">

#

[2022-08-05 02:14] wuwinson opened #3578 "Feature Idea: More colors for select/multi-select property types"
## Summary
Currently, the `SELECT` and `MULTI-SELECT` property types only support up to 10 different standard colors. Users who have more than 10 options in each property will have to re-use colors, making those items harder to differentiate.

![Screen Shot 2022-08-04 at 10 03 14 PM](https://user-images.githubusercontent.com/93531870/182986922-2b6f5884-905e-4143-b723-0c0340c7775c.png)

## How impo

[2022-08-05 02:15] wuwinson commented on #3578
Related [thread](https://community.mattermost.com/core/pl/343jf7o4d7f6tmnkddzboqj3ir)

[2022-08-05 03:02] wuwinson commented on #3543
@jespino I did a little investigating as well, and confirmed that they are most likely due to setting the team role on the templates as "Editor". Personally I think this is preferable to not allow team members to edit the template unless they are explicitly added by the admin, but the role "Editor" is misleading then. We should rename the role dropdown specifically for the template editor to somet

[2022-08-05 09:46] JadeVane opened #3580 "Feature Idea: Add the switching method of class-level night mode and day mode"
## Summary

Currently I am working on make a custom theme for focalboard, but find that the the theme is changed by color variables in inline styles, this is not friendly to secondary development.

light mode

![截图 2022-08-05 17-34-40](https://user-images.githubusercontent.com/34258753/183049574-5e616e5d-73ec-4f4d-bfb6-1ab70d6d5257.png)

when change to night mode

![截图 2022-08-05 17-34-58](https:/

[2022-08-05 16:02] #3515 closed

[2022-08-05 16:30] wuwinson opened #3584 "Bug: Unable to link board to DM"
## Steps to reproduce the behavior

1. Go to a DM
2. Open Link Boards modal
3. Search for a board already linked to another channel
4. Click on the blue Link button
5. Click on the red Link button after confirmation modal appears
6. See error - board doesn't link to the DM and no indication of failed linkage

## Expected behavior

Board is linked to the DM and unlinked from previous channel

## Sc

[2022-08-05 16:31] wuwinson commented on #3584
See [thread](https://community.mattermost.com/private-core/pl/on5r7rkj8ifpuykkpa1x8ui85o) for details.

[2022-08-05 16:32] #3509 closed

[2022-08-05 16:35] sbishel commented on #3584
Duplicate of https://github.com/mattermost/focalboard/issues/3509?

[2022-08-05 16:46] wuwinson commented on #3564
I'm encountering this pretty frequently whenever I enter a 2nd word into my search term from both the Link Board modal and the Share modal.

https://user-images.githubusercontent.com/93531870/183123385-e5527440-385d-4805-8b06-da6c09dcd244.mov

https://user-images.githubusercontent.com/93531870/183123429-48269715-5a02-472a-918d-1527b5c1d510.mov

[2022-08-05 16:51] sbishel commented on #3576
duplicat of https://github.com/mattermost/focalboard/issues/3458?

[2022-08-05 16:53] wuwinson commented on #3584
Looks like it, closing out.

[2022-08-05 16:53] #3584 closed

[2022-08-05 20:29] nab-77 commented on #3564
Its on a single word for me. I am looking for `Product Journey Team` board.
<img width="653" alt="Screenshot 2022-08-04 at 15 13 27" src="https://user-images.githubusercontent.com/93996140/183157918-2ed3804d-a5dd-40bb-9196-7d385ee5be0a.png">

[2022-08-05 21:29] wiersgallak opened #3588 "Bug: Lost board when new permissions rolled out"
## Steps to reproduce the behavior

After permissions and the new LHS was added, I am no longer able to find the board I had in my DM with myself. (I believe the board name was ```katie.wiersgalla,katie.wiersglla```  - that is how I found it when searching for it from the prior Boards UI. The view I believe was named "Personal Tasks", but I am not completely certain.

I have a bookmark to it on Ch

[2022-08-05 21:30] wiersgallak commented on #3588
Providing a bigger image of the console in case its useful:
<img width="1238" alt="image" src="https://user-images.githubusercontent.com/39744472/183208863-a872ed32-7044-4e27-bb0b-fdc07c2e892d.png">

[2022-08-05 22:55] sbishel commented on #3588
Adding conversation https://community.mattermost.com/core/pl/zyj34acjobycm87qc53nobyxwh

Query's to determine current member settings. Any other queries to request from SRE?

SELECT * FROM focalboard_board_members WHERE board_id = '074aca72-00c3-4708-852c-a6289f096f54'
SELECT * FROM focalboard_board_members_history WHERE board_id = '074aca72-00c3-4708-852c-a6289f096f54'
SELECT channel_id, created_

[2022-08-06 00:37] wiggin77 commented on #3588
I'm seeing requests for the board link in community logs.  First request is the old style URL:
[code]
which gets redirected to:
[code]
That second request returns an `access denied to board` 403 in all cases after 7.2 was deployed.

[2022-08-06 09:43] kamre commented on #2891
Hello @wuwinson @ogi-m, I have encountered something similar while developing and testing using the personal server.

In particular I use the following scenario:
- build server and webapp
- start server via `npm run runserver-test` (it starts the server with configuration used for Cypress tests)
- open browser at `http://localhost:8088` and see the login page
- register the first user
- test somet

[2022-08-07 10:39] kamre opened #3589 "Bug: Failed to execute 'send' on 'WebSocket': Still in CONNECTING state"
## Steps to reproduce the behavior

1. `make server`
2. `npm run watchdev`
3. `npm run runserver-test`
4. `npm run cypress:open`
5. Run `loginActions.ts` cypress test
6. There is an error: "Failed to execute 'send' on 'WebSocket': Still in CONNECTING state"
7. Cypress test is failing because of this error

## Expected behavior
Error should not appear.

## Screenshots (optional)
<img width="891" al

[2022-08-07 10:51] kamre commented on #3589
When going to `http::/localhost:8088/` the component `BoardPage` is rendered and it starts to [use websocket](https://github.com/mattermost/focalboard/blob/9c6cfa68aa465dc9322b8c0ab99f6593701c0caa/webapp/src/pages/boardPage/boardPage.tsx#L111). Almost immediately there is a _redirect_ to `/login` and this _component is unmounted_ with the corresponding cleanup that _tries to use websocket_ that is

[2022-08-07 14:34] top-cg commented on #670
@medunham
Hi,
Thanks for your comment.
I was trying to set the user using env variables ... and adding "user :" solved the issue.

[2022-08-07 22:48] mgdelacroix commented on #3588
Reading through the `migrateTeamLessBoards` data migration, turns out we're not checking that the teams we're assigning the boards to are not archived, so chances are that both Katie and Corey were members of a team that is not available anymore and that's the one that the board got assigned to.

Will try to repro this first thing tomorrow and work on a fix

[2022-08-08 07:18] clmnin opened #3591 "Doc: How do I build this without having mattermost/enterprise"
## Summary

I tried building the app using the following commands
[code]

But it fails when it can't find the `mattermost/enterprise` repo - which is not open source. And so I tried building a stand alone linux app using `make linux-app` but this fails with the same error.

## Link to documentation page

Link to the doc I followed - [link](https://developers.mattermost.com/contribute/focalboard/pe

[2022-08-08 07:38] lindy65 opened #3592 "Bug: Calendar view - expanded task list on Saturdays and Sundays displays weirdly and scrolling causes expanded task list to close"
Found by QA community contributor `@varghesejose2020` on `https://boards-bugbash.test.mattermost.cloud/` server

## Steps to reproduce the behavior

1. Use Project Tasks Template and go to Calendar View
2. On either a Saturday or Sunday, create 8 to 10 tasks
3. Click on `+x more` button below the tasks
4. Observe: Expanded task list displays over originally created tasks and the `+x more` button (

[2022-08-08 08:17] noxer commented on #3591
Hi @clmnin, thanks for reporting this. It's a bug in our Makefile.

For now you can mitigate it by running `make setup-go-work`, opening the `go.work` file in the root folder of the repository, and removing the line `use ../mattermost-server`.

[2022-08-08 08:29] clmnin commented on #3591
Thank you

[2022-08-08 08:29] #3591 closed

[2022-08-08 10:11] harshilsharma63 commented on #3564
@wuwinson what you are showing in the demo video is because when you search for multiple words, we don't look for them occurring together, but rather anything that matches either word. For example, if you search for "hello world", you'd get everything containing just "hello", and just "world" rather than things containing "hello world" together. From your video I can see this isn't the ideal exper

[2022-08-08 10:11] harshilsharma63 commented on #3564
@nab-77 can you tell which channel was that board in and which team?

[2022-08-08 11:46] evoactivity opened #3595 "Bug: Local mode password reset results in a "404 page not found" message"
## Steps to reproduce the behavior

1. Enable local mode and restart focalboard service
2. attempt to use password-reset.sh
3. see `404 page not found` message

## Expected behavior

Password is reset for user

## Edition and Platform

 - Edition: Personal Server
 - Version: v0.15.0
 - Browser and OS: curl 7.68.0, Ubuntu 20.04.3 LTS

## Additional context (optional)
This is just installed on a dig

[2022-08-08 13:33] johndavidlugtu opened #3597 "Bug: Can't create new board cards on MM community"
## Steps to reproduce the behavior

1. Go to Mattermost community
2. Try creating a new board card
3. Nothing happens

## Expected behavior

Clicking on "New" opens up a new card, or at least tells me why it's not responding.

## Screenshots (optional)

https://www.loom.com/share/aed98bc249b6495e8993c0e30e4fd58f

## Edition and Platform

 - Edition: Personal Desktop / Personal Server / Mattermost

[2022-08-08 14:34] sbishel commented on #3597
@Rajat-Dabade - appears related to these -
https://github.com/mattermost/focalboard/pull/3444
https://github.com/mattermost/focalboard/pull/3335

@johndavidlugtu - As a work-around, you can create boards using the drop-down on the `New` button.

[2022-08-08 14:40] wuwinson commented on #3597
Only appears to occur on board view, but not other views. Clicking on the blue `New` button doesn't work either unless you use the drop down.

Might be some kind of delay with card creation, as some cards appeared on the board later on.

[2022-08-08 14:50] asaadmahmood opened #3599 "Bug: Last viewed board not preserved when switching teams (or when going from channels to boards)"
## Steps to reproduce the behavior
See video below:
https://www.loom.com/share/44fbcf53d3644d5eaf75b43058a928ae

## Expected behavior
The last viewed board should be displayed when switching teams or when going from other products to boards.

## Screenshots (optional)
https://www.loom.com/share/44fbcf53d3644d5eaf75b43058a928ae

## Edition and Platform
 - Mattermost Boards (plugin)
 - Version: 7.2

[2022-08-08 15:01] Pinjasaur commented on #3576
I'll close this in favor of #3458 as it's a dupe.

[2022-08-08 15:01] #3576 closed

[2022-08-08 15:06] wuwinson opened #3600 "Bug: Non-board admin should not be able to unlink board from channel RHS"
## Steps to reproduce the behavior

1. Go to a channel with linked boards where you are not an admin of the board
2. Click on the options "..." menu for the board
3. See error - I am able to click on the "Unlink board" button even though I am not an admin of the board (although nothing happens from clicking on the button)

## Expected behavior

The "Unlink board" option should be disabled for non-

[2022-08-08 15:07] wuwinson commented on #3600
cc @asaadmahmood On where to display the subtitle.

[2022-08-08 15:09] asaadmahmood commented on #3600
@wuwinson Added it, we can ignore the other options for now.
![image](https://user-images.githubusercontent.com/11034289/183450849-c2631697-f2c4-46a4-90bd-ddaaf43084b6.png)

[2022-08-08 15:43] chenilim opened #3601 "Bug: Delete option shows in read-only table-view rows"
## Steps to reproduce the behavior

1. Open a board with a table view and share it publicly
2. Open the public link in another browser
3. Hover over a row in a table view
4. The drag grip appears with a delete option

## Expected behavior

No drag grip, nor delete option should appear when read-only

## Screenshots (optional)

https://user-images.githubusercontent.com/46905241/183457928-ad8dac64-f

[2022-08-08 16:03] #2952 closed

[2022-08-08 16:03] #2484 closed

[2022-08-08 16:03] #3574 closed

[2022-08-08 16:10] wuwinson opened #3605 "Bug: Board admin cannot see linked channel if they're not a member of the channel"
## Steps to reproduce the behavior

1. Login as User 1 and create `Private Channel A`
2. Add User 2 to the private channel
3. Login as User 2 and create a `Private Board Z`
4. As User 2, open share modal and link `Private Channel A` to `Private Board Z`
5. Go back to User 1 and remove User 2 from the `Private Channel A`
6. Go back to User 2 and open Share modal on `Private Board Z`
7. See error -

[2022-08-08 16:10] wuwinson commented on #3605
Edge case Sev/2, but can probably wait until v7.3.

[2022-08-08 16:21] dikkedimi commented on #2269
I am having the same issue on ubuntu 20.04 LTS.

following the steps to the letter and it leads to a bad gateway.

My other nginx host works fine, it's too bad i prefer to run that on port 80.

what is unclear to me, reading the config files and the service configuration: where is nginx supposed to get the memo  about the working directory? Seems weird to let the .service file handle that.

the
`

[2022-08-08 17:01] #3498 closed

[2022-08-08 17:17] wuwinson opened #3608 "Bug: Private boards where I am an Editor are shown in link boards dialog"
## Steps to reproduce the behavior

1. Find a private board where you are an Editor
2. Go to a channel and open the link boards modal
3. Search for the private board from step 1
4. See error - board appears in the search results even though user is not an admin of the board
5. Clicking on the "Link board" button does nothing

Related to #3509

## Expected behavior

Technically, if you are not a bo

[2022-08-08 17:59] octoman90 commented on #3312
I think are looking for the `media-fonts/noto-emoji` package.

[2022-08-08 18:12] broskees commented on #3184
This is huge. Another example of a good great implementation of capability, I think the best in the market, is [TickTick](https://ticktick.com/?language=en_US). The calendar view allows you to actually time-box your day with tasks. Then you can simply add the .ical link to your current calendar app.

[2022-08-08 19:17] wuwinson commented on #3599
Dupe of #3498

[2022-08-08 19:17] #3599 closed

[2022-08-08 19:22] wuwinson commented on #3595
@evoactivity You'll need to replace v2 with v1 in this line:
`curl --unix-socket /var/tmp/focalboard_local.socket http://localhost/api/v1/admin/users/$1/password -X POST -H 'Content-Type: application/json' -d '{ "password": "'$2'" }'`

@justinegeffen Can we update the [doc](https://www.focalboard.com/guide/admin/#resetting-passwords) to indicate that if prior to v7.2, then use v1 of the API, other

[2022-08-08 19:22] jdkdev commented on #2467
Hi!

Can someone share what their current work around is for file attachments in cards/boards?

If you aren't coupling that information with the card, where do you store all that stuff?

Thanks,
Jordan

[2022-08-08 19:35] wuwinson commented on #3575
@Pinjasaur This is the same behavior as Channels - you can also still search for the board from the board switcher, which would unhide it if you "join" again. Closing out.

[2022-08-08 19:35] #3575 closed

[2022-08-08 19:42] wuwinson commented on #3564
Need to file separate bugs for these 3 search bugs.

[2022-08-08 19:49] wuwinson commented on #3549
Dupe of #3530

[2022-08-08 19:49] #3549 closed

[2022-08-08 19:52] wuwinson commented on #3546
Dupe of #3521

[2022-08-08 19:52] #3546 closed

[2022-08-08 19:53] wuwinson commented on #3544
@asaadmahmood Can you help with this one? Thanks!

[2022-08-08 19:56] wuwinson commented on #3542
We should consider implementing @sbishel suggestion on enforcing names for empty boards/templates to avoid this issue. Closing this one out as won't fix for now until we can address Scott's suggestion in the future.

[2022-08-08 19:56] #3542 closed

[2022-08-08 20:01] nab-77 commented on #3564
I was searching for Product Journey Team Meeting Agenda board, in the Product Journey Team channel (it does show as a linked board in the RHS).

[2022-08-08 20:14] wuwinson commented on #3531
Related to https://github.com/mattermost/focalboard/issues/3565. In the short term, can force an "Untitled Template" name on the templates?

[2022-08-08 20:36] wuwinson commented on #2467
@jdkdev Thanks for reaching out! We're currently using the `URL` property on the card and linking files to our Google Drive.

[2022-08-08 20:55] #3448 closed

[2022-08-08 20:55] #3465 closed

[2022-08-08 22:36] Pinjasaur opened #3615 "Feature Idea: label current board in board switcher"
## Summary

When using the board switcher it would be handy to have the current board labelled since it's common for there to be multiple boards of the same name.

For context, I selected the first "Content Calendar" board listed and opened the switcher again it's not obvious that I'm already viewing it:

<img width="1031" alt="image" src="https://user-images.githubusercontent.com/6335792/18352619

[2022-08-09 01:10] wuwinson commented on #3564
@nab-77 The board switcher only searches for the board name, not the channel name. Is your board titled "Product Journey Team Meeting Agenda" or is it titled "Meeting Agenda" on the Product Journey Team channel? If it's the latter, then you'd need to search for the term "Meeting Agenda".

[2022-08-09 03:30] jdkdev commented on #2467
@wuwinson
Ok thanks, I am on the hunt for some FOSS alternatives to GDrive as well,

[2022-08-09 06:22] #2965 closed

[2022-08-09 08:27] nab-77 commented on #3564
Board name is Meeting Agenda. So using those search terms I get multiple boards in the results and I am unable to see which is the one I am looking for.

I did used to enter "Product" in the search box and see the item.

[2022-08-09 11:05] mgdelacroix commented on #3588
Reopening the issue as we need to fix it in Community, where the faulty migration has already run

[2022-08-09 15:59] nab-77 commented on #3564
As a follow up I renamed the board to "Product Journey Team Meeting Agenda" and when entering I still get no results.

[2022-08-09 16:48] jespino commented on #3608
I think this was fixed in the PR #3553 merged 4 days ago. I guess we can test after @sbishel uploads the rc3 to the server.

[2022-08-09 16:51] jespino commented on #3605
I agree, this can wait until 7.3, but we have to think how to do it. If you are not a member of the channel, you can't even know the name of the channel, so... I would show something like "Private Channel (you don't have access to this channel)" and the unlink button. @asaadmahmood what do you think?

[2022-08-09 16:55] wuwinson commented on #3564
Thanks for following up Neil! We're looking to address this bug in the following ways:

1. Switch the search with multiple words from an "OR" to an "AND" search, which would narrow down the results and be consistent with how the channel switcher works.
2. Display your custom categories in the search results, so it's easier to find your board that uses the same name as other boards.

When you renam

[2022-08-09 17:07] wuwinson opened #3620 "Board switcher results should display custom categories if available"
## Steps to reproduce the behavior

1. Open board switcher
2. Search for "Meeting Agenda" or any other commonly used board name
3. See error - User cannot differentiate between boards with the same name

Related to #3564

## Expected behavior

1. ~~Add option to "Show categories" on the board switcher.~~
2. ~~Option is enabled by default.~~
3. When enabled, user's custom categories (if available)

[2022-08-09 17:12] nab-77 commented on #3564
I get results just not the board I am searching for.

"Product"  > results do not contain what i am looking for
"Product Journey"  > results do not contain what i am looking and does not expand the list of results
"Product Journey Team"  > results do not contain what i am looking for but does expand the list of results
"Product Journey Team Meeting"  > results do not contain what i am looking for

[2022-08-09 17:52] wuwinson opened #3621 "Bug: Searching for channels on the Share dialog does not display the correct results unless using exact casing"
## Steps to reproduce the behavior

1. Go to Share dialog on any board within the Focalboard team on the [Bug Bash Server](https://boards-bugbash.test.mattermost.cloud/focalboard/)
2. Search for "town square" in lowercase
3. See error - no results, even though searching for "town" displays the "Town Square" channel. Searching in exact case displays the relevant results.
4. Search for "weekly focal

[2022-08-09 19:18] wuwinson commented on #3608
@jespino I think I tested after PR #3553 was merged, and it fixed public boards showing up in the results. Now this issue only happens when the user is an explicit board member, but not the admin.

[2022-08-09 20:19] wuwinson opened #3625 "Bug: Channel role groups should not be visible on the template editor Share dialog"
## Steps to reproduce the behavior

1. Go to template editor
2. Open the Share dialog
3. Search for a channel
4. See error - channel role groups should not be available on the template editor
5. Assigning a channel to the template doesn't actually do anything as well

## Expected behavior

Channel role groups are only available on boards, but not on templates. Templates should only allow team acce

[2022-08-09 20:20] wuwinson commented on #3543
@jespino Updated this ticket and separated https://github.com/mattermost/focalboard/issues/3625 into its own ticket.

[2022-08-09 22:38] Pinjasaur commented on #3530
@harshilsharma63 took me a while but I tracked it down to the plugin: https://github.com/mattermost/focalboard/blob/683682a08677ca574e085a44484b0c8d4233c2b7/mattermost-plugin/webapp/src/index.tsx#L243

I haven't had a chance to dig into it to a better or more appropriate way to handle it. Makes sense why it's so inconsistent—it's all dependent on the redux state and my local environment state is m

[2022-08-10 09:19] #3620 closed

[2022-08-10 09:19] #3564 closed

[2022-08-10 10:44] #3559 closed

[2022-08-10 10:48] jespino commented on #3608
@wuwinson I'll take a look.

[2022-08-10 10:56] #3544 closed

[2022-08-10 11:01] #2897 closed

[2022-08-10 11:49] jespino commented on #3543
@asaadmahmood do you mind to make a specific UX proposal for this change? I don't need a full UX, It would be just enough with a textual description with the exact texts used.

[2022-08-10 11:51] asaadmahmood commented on #3543
@jespino I am more inclined to change it as "Viewer".
I can also think of separate ways to differentiate the share template modal from the share board modal, which we can do later.

[2022-08-10 12:53] hacxman commented on #3357
card name, but i think even board name didn't work. the problem is mostly with descriptions, as i'd love to paste urls there and sometimes console outputs.
i have an idea - does it depend clipboard api? i have it disabled due to security policy.

[2022-08-10 12:58] #3597 closed

[2022-08-10 12:58] #3601 closed

[2022-08-10 14:17] #3621 closed

[2022-08-10 14:38] sbishel commented on #3458
This was fixed again with https://github.com/mattermost/focalboard/pull/3602

[2022-08-10 14:38] #3458 closed

[2022-08-10 18:15] sbishel opened #3638 "Bug: 'Boards' category expands/collapses for all teams"
## Steps to reproduce the behavior

1. Go to Team 1, expand/collapse "Boards"
2. Go to Team 2, note that state matches Team 1 - expand/collapse
3. Go to Team 1, state matches Team 2, not how Team 1 was left.

## Expected behavior

The "Boards" category to expand/collapse independantly across teams

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: v7.2.0-rc3
 - Browser an

[2022-08-10 20:24] wuwinson opened #3640 "Feature Idea: Differentiate DM/GM channels from other channel role groups in the Share dialog"
## Summary

When linking a DM/GM channel to a board from the Share dialog, the channel name consists of the members from that DM/GM. This can be confusing to users, since they're trying to share the board with a channel, but it looks like they're sharing the board with multiple explicit members. It would be helpful to users if we differentiate the DM/GM channels from regular channels.

## How impo

[2022-08-10 20:24] wuwinson commented on #3640
cc @asaadmahmood

[2022-08-10 22:24] sbishel opened #3641 "Bug: FindBoards - Boards in other teams display "Boards" as category"
## Steps to reproduce the behavior

1. Go to "Find Boards"
2. Enter a letter to bring up multiple boards
3. Notice categories other than in current team are all Boards, not the actual category name.

## Expected behavior

Category from any team should be displayed.

## Screenshots (optional)

![Screen Shot 2022-08-10 at 4 28 05 PM](https://user-images.githubusercontent.com/12704875/184031592-6df3c

[2022-08-10 22:34] sbishel opened #3642 "Bug: Find Boards UX does not match spec"
## Steps to reproduce the behavior

1. Go to "Find Boards"
2. Enter a letter to bring up multiple boards
3. Notice the Team is cut off and category should be left justified next to board name.

## Expected behavior
Team name displays, category displays next to board name

## Screenshots (optional)

![Screen Shot 2022-08-10 at 4 28 34 PM](https://user-images.githubusercontent.com/12704875/184031591

[2022-08-10 22:39] sbishel commented on #3641
If we can't retrieve ALL categories...easily and quickly, we will revert the feature.

[2022-08-10 22:40] sbishel commented on #3642
If https://github.com/mattermost/focalboard/issues/3641 can't be fixed, this one doesn't matter as we will revert the feature.

[2022-08-11 06:08] harshilsharma63 commented on #3641
@sbishel I started it but it's getting a bit lengthy. I think it's best to revert the feature and skip this to 7.3.

[2022-08-11 06:38] #3625 closed

[2022-08-11 07:38] #3477 closed

[2022-08-11 08:09] asaadmahmood commented on #3565
@wuwinson I think this should be a bug.

[2022-08-11 08:23] asaadmahmood opened #3645 "Bug: Template List takes a refresh to show public/private template change"
## Steps to reproduce the behavior
See video:
https://www.loom.com/share/555bbf02e97c4aafa1261ea6dff3ccb5

## Expected behavior
Should automatically update the template list.

## Screenshots (optional)
https://www.loom.com/share/555bbf02e97c4aafa1261ea6dff3ccb5

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: 7.2 RC3
 - Browser and OS: Chrome Mac

## Additional context

[2022-08-11 08:43] mgdelacroix opened #3646 "Bug: error when rendering a board with a bad group by property"
## Steps to reproduce the behavior

1. Create a new board without using a template. You should get a kanban view grouped by status
2. Create a new card and change the type of the status property to be a non-groupable one (for example, URL)
3. The board should cause an error when trying to be visited

## Expected behavior

We should define a way to render the kanban when no groupable property exist

[2022-08-11 08:43] mgdelacroix opened #4845 "Bug: error when rendering a board with a bad group by property"
## Steps to reproduce the behavior

1. Create a new board without using a template. You should get a kanban view grouped by status
2. Create a new card and change the type of the status property to be a non-groupable one (for example, URL)
3. The board should cause an error when trying to be visited

## Expected behavior

We should define a way to render the kanban when no groupable property exist

[2022-08-11 13:22] #3573 closed

[2022-08-11 13:28] neflyte commented on #3446
I can't reproduce this with v7.2; I'll assume it got fixed somewhere. :smile:

[2022-08-11 13:28] #3446 closed

[2022-08-11 14:05] Pinjasaur commented on #3530
Here's the current patch we're working with.

[code]

[2022-08-11 15:05] sbishel commented on #3641
Reverted from v7.2 - https://github.com/mattermost/focalboard/pull/3650.

[2022-08-11 15:08] sbishel commented on #3640
@wuwinson Do we have a solution for this?

[2022-08-11 15:14] sbishel commented on #3532
Should be fixed by the following two PRs. Open a new issue if still seeing issues.
https://github.com/mattermost/focalboard/pull/3623
https://github.com/mattermost/focalboard/pull/3622

[2022-08-11 15:14] #3532 closed

[2022-08-11 15:16] sbishel commented on #3467
I believe this has been fixed.  https://github.com/mattermost/focalboard/pull/3556

[2022-08-11 15:16] #3467 closed

[2022-08-11 15:22] #3588 closed

[2022-08-11 15:54] sbishel opened #3654 "Bug: Switching between teams in boards goes to Template Picker"
## Steps to reproduce the behavior

1. Go to TeamA, select a Board
2. Go to TeamB - note on Template picker, select a board
3. Go to TeamA - back to template picker.
4. Go to TeamB - back to template picker.

## Expected behavior
You should be able to switch between team and keep last used board.

## Edition and Platform

 - Edition:Mattermost Boards (plugin)
 - Version: 7.2.0-rc3
 - Browser and O

[2022-08-11 18:15] wiggin77 opened #3655 "Bug: RHS boards list does not update for other users when board created"
## Steps to reproduce the behavior

1. Go to any channel that has no Boards linked using two accounts and two browsers
2. Select  `Boards` icon on RHS in both browsers
3. Select `Link boards` on first browser
4. Select `Create Board` & create a board on first browser
5. Newly created board does not appear in RHS for second browser

## Expected behavior

Newly created boards appear in RHS for all u

[2022-08-11 18:18] sbishel opened #3656 "Bug: Bots show up in Share Board Search"
## Steps to reproduce the behavior

1. Go to Share on a board you are an admin
2. Type 'B'
3. Notice the user "Boards", which is a bot is available

## Expected behavior

Bots should not be displayed as users for board access.

## Screenshots (optional)
<img width="612" alt="Screen Shot 2022-08-11 at 12 17 30 PM" src="https://user-images.githubusercontent.com/12704875/184210846-7db51fd2-95d8-4607-

[2022-08-11 18:21] wuwinson opened #3658 "Bug: Migrated channel role groups on template editor still visible"
## Steps to reproduce the behavior

1. Go to a migrated template where you have permissions to edit
2. Open the Share dialog
3. See error - some templates display the channel role group as part of the migration.

## Expected behavior

https://github.com/mattermost/focalboard/issues/3625 fixed it so you cannot search or add channels as a permission group to a template, but we should also clean up a

[2022-08-11 18:22] jespino commented on #3655
I think this should be fix in main, can you confirm that?

[2022-08-11 18:26] wiggin77 commented on #3655
@jespino Yes this made it to the Bugbash server.  It seems to only fail if the RHS was empty for both browsers.

[2022-08-11 18:29] wiggin77 commented on #3655
Hmmm.  Now I cannot reproduce.

[2022-08-11 18:29] wuwinson commented on #3608
Fixed in v7.2 RC3. Closing out. cc @sbishel

[2022-08-11 18:29] #3608 closed

[2022-08-11 18:30] wiggin77 commented on #3655
Possibly cached client code?

[2022-08-11 18:30] sbishel commented on #3646
Related to https://github.com/mattermost/focalboard/issues/3551 and https://github.com/mattermost/focalboard/issues/3550

[2022-08-11 18:31] wiggin77 commented on #3655
Cannot reproduce after browser refresh.  May have been cached client code.

[2022-08-11 18:35] Pinjasaur opened #3659 "Feature Idea: improve the RHS App Bar Boards tooltip text"
## Summary

Improve the RHS App Bar Boards tooltip text:

![image](https://user-images.githubusercontent.com/6335792/184213551-c8fe134f-4931-43e6-ae9b-0652225ecf79.png)

cc @justinegeffen perhaps `Toggle Linked Boards`?

## How important this is to me and why

Importance: High/Medium/Low

Use cases:
1.
2.
3.

## Additional context/similar features

I'm partial to Playbooks' usage of `Toggle`.

[2022-08-11 18:45] wuwinson opened #3660 "Bug: Trash can icon for unlink boards on RHS is misleading"
## Steps to reproduce the behavior

1. Go to a channel with linked boards
2. Click on options menu from the linked board
3. See error - icon displays as a trash can which usually indicates deletion. Users may get confused and think this action deletes their board rather than unlinking it.

## Expected behavior
Unlink displays an icon more reflective of the action:
![Screen Shot 2022-08-11 at 2 44

[2022-08-11 18:45] wuwinson commented on #3660
cc @wiggin77

[2022-08-11 18:51] wuwinson commented on #3659
cc @asaadmahmood

[2022-08-11 18:54] wuwinson commented on #3656
Check person property and @mentions - related to #3144

[2022-08-11 18:55] wiggin77 opened #3661 "Bug: Markdown in cards titles not rendering in RHS"
## Steps to reproduce the behavior

1. Create a board with markdown in title (e.g bold)
2. Link the board to a channel
3. In RHS the markdown does not render as markdown

## Expected behavior

Render markdown

## Screenshots (optional)

![markdown-in-title](https://user-images.githubusercontent.com/5024605/184217560-0794c3de-96c3-40e8-aa91-879368224c25.png)
![markdown-in-title-2](https://user-imag

[2022-08-11 18:57] wuwinson commented on #3654
cc @jespino Any insights to help Paul here?

[2022-08-11 18:59] wuwinson commented on #3646
cc @asaadmahmood

[2022-08-11 19:01] Pinjasaur commented on #3654
I think this might be related to the adjacent code to #3651. Potentially just querying for `lastBoardId` and if it exists update the URL with it along with `teamId`. Might be totally wrong, though.

[2022-08-11 19:02] asaadmahmood commented on #3659
Show linked boards, Hide linked boards sounds good to me too.
But we can have toggle as well.

[2022-08-11 19:03] wuwinson commented on #3641
cc @asaadmahmood for v7.3

[2022-08-11 19:07] #3595 closed

[2022-08-11 19:24] #3572 closed

[2022-08-11 20:33] wuwinson opened #3663 "Bug: v7.2 tour points not loading"
## Steps to reproduce the behavior

### Tour points not loading
1. Go to [bug bash server](https://boards-bugbash.test.mattermost.cloud/focalboard/channels/town-square) and switch over to boards
2. See error - v7.2 tour points don't load when you first open Boards. Tour points only load after finishing the Welcome tour.

## Expected behavior

v7.2 tour points load when you first open Boards v7.2 f

[2022-08-11 20:34] wuwinson commented on #3663
cc @sbishel

[2022-08-11 21:16] wuwinson opened #3664 "Bug: v7.2 tour points not matching spec/improvements"
## Steps to reproduce the behavior

1. Initiate and finish Welcome tour
2. v7.2 tour points should start right afterwards
3. Go through through the tour points
4. See expected behavior for each tour point below

## Expected behavior
#### First tour point
![Screen Shot 2022-08-11 at 4 08 25 PM](https://user-images.githubusercontent.com/93531870/184241543-57325fa1-6ac5-4fa1-992d-f4e88e63577b.png)

1

[2022-08-11 23:59] sbishel commented on #3524
@chenilim - We do search across teams. Can this be closed?

[2022-08-12 00:03] sbishel commented on #3520
Closing as fixed.
<img width="616" alt="Screen Shot 2022-08-11 at 6 02 41 PM" src="https://user-images.githubusercontent.com/12704875/184261884-b1982ee7-c4df-4c58-bcbb-48079f856d31.png">

[2022-08-12 00:03] #3520 closed

[2022-08-12 00:27] chenilim commented on #3524
Yup, cross team search is working now, so closing.

[2022-08-12 00:27] #3524 closed

[2022-08-12 06:38] Rajat-Dabade commented on #3664
Thanks for the feedback @wuwinson, I will make the suggested changes today itself. I got really confused by the `Search For Boards` tour point because now also the spec
![Screenshot 2022-08-12 at 12 02 58 PM](https://user-images.githubusercontent.com/26198062/184297599-30f66229-4a79-4bac-92cf-b1e3fa60e35c.png)
says, `Pop over on the board switcher`, but now it's clear. Will make the changes and pu

[2022-08-12 09:32] paulpremont opened #3666 "Feature Idea:"
## Summary

Many Thanks for this great app !!

Please could you add the option to stop to interpret the ":" for emoji ?

## How important this is to me and why

Importance: High

I guess lot's of user will press escape after each ":".
It's very annoying on the long.

[2022-08-12 09:37] paulpremont opened #3667 "Bug: Second character does not appear in comment"
## Steps to reproduce the behavior

1. Open a new task
2. Add a comment or description
3. Enter "12"

## Expected behavior

"12" should appear but only "1" is appearing

## Edition and Platform

 - Edition: Personal Desktop
 - Version: 7.1.0
 - OS: Ubuntu 22.04

[2022-08-12 10:11] Rajat-Dabade commented on #3663
@wuwinson, I was able to see the 7.2 tours, when I log in to the bug-bush server for the first time. I have checked it with @harshilsharma63 as well, and he was also able to see the tour for the first time.

I suspect that you might have not completed the first tour and kept it as it was and never completed it, which will only resume when you have an onboarding welcome board and complete each step

[2022-08-12 14:33] #3663 closed

[2022-08-12 14:37] wuwinson opened #3669 "Bug: 3rd tour point (Manage boards) for v7.2 does not load"
## Steps to reproduce the behavior

1. Go to Boards for the first time on Community (RC3 as of Friday Aug 12th)
2. Click through 1st and 2nd tour point, then click "Next"
3. See error - the 3rd tour point does not appear. Even if I expand the first category or other categories, I still don't see the 3rd tour point. **Edit**: Looks like the 3rd tour point briefly appears after a browser refresh, bu

[2022-08-12 14:37] wuwinson commented on #3669
cc @sbishel @Rajat-Dabade @harshilsharma63

[2022-08-12 15:47] #3664 closed

[2022-08-12 16:33] mgdelacroix commented on #3019
@wuwinson @justinegeffen I prepared [this document](https://docs.google.com/document/d/1hKQV6QfXSJ6LznvKxoENvU1Z21ulaZ09b-h8N1caS64/edit#) following the Server Team's guidelines for migration changes. We should add it to the Release Notes for admins to check before migrating.

Please let me know if any editing or clarification is required.

[2022-08-12 16:39] #3654 closed

[2022-08-12 17:15] #3543 closed

[2022-08-12 21:03] wuwinson commented on #3019
Thanks @mgdelacroix! @justinegeffen In addition to wherever you think this should go, can we also create a subpage under our [What's New](https://docs.mattermost.com/welcome/whats-new-in-v72.html) page and link to it in the following areas?

- Release Notes
- Under the [Automatic Migration](https://docs.mattermost.com/welcome/whats-new-in-v72.html#automatic-migration) section
- Another under [this

[2022-08-12 21:05] justinegeffen commented on #3019
That looks good to me, I like those suggestions @wuwinson. I'll sort it out this weekend.

[2022-08-13 07:05] beastarman74 opened #3676 "Bug: Clicking + New on an existing board does not create a card"
## Steps to reproduce the behavior

1. Go to a board that existed pre v7.3 in Focalboard
2. Click + New at the bottom of any status
3. No new card item is generated
4. The following error is recorded in the docker log

[code]

## Expected behavior

Clicking + New opens a new card window to complete without error.

## Screenshots (optional)

![Focalboard - new card](https://user-images.githubuserco

[2022-08-14 04:18] skythomp16 opened #3677 "MacOS App Store out of date"
Hello. The latest version on the macOS app store is 0.15 and it appears that 7.1 is out.  Is there a plan to update that to the latest version and keep it there going forward?

[2022-08-15 06:01] wuwinson opened #3678 "Bug: Viewer role visible on team role drop down"
## Steps to reproduce the behavior

1. Go to Share modal on any board
2. Click on the team role drop down menu
3. See error - "Viewer" is selectable as an option

## Expected behavior

Viewer is not yet supported in v7.2 (with the exception of the custom template permissions), and users should only see "Editor" or "None" as options

## Screenshots (optional)

![Screen Shot 2022-08-15 at 1 56 43 AM

[2022-08-15 06:04] wuwinson commented on #3678
cc @sbishel @jespino Might be related to fix for #3543. We should hide this role for now (except on the custom template editor) since we don't officially support it yet and it may impact other features that we don't have time to thoroughly test.

[2022-08-15 06:07] wuwinson opened #3679 "Bug: Link board modal does not dismiss after linking a board"
## Steps to reproduce the behavior

1. Go to link board modal from channel RHS
2. Search a board to link
3. Click on the link button
4. See error - modal is still visible after linking the board

## Expected behavior

1. The link board modal should auto-dismiss and the confirmation modal should appear as soon as user clicks on the Link button
2. If user confirms, close confirmation modal and displ

[2022-08-15 07:11] lindy65 opened #3680 "Bug: Duplicating a card not created by you on the ONBOARDING board throws an error but does duplicate the card"
Found by `varghesejose2020` on `https://boards-bugbash.test.mattermost.cloud/` server. Lindy can also reproduce.

## Steps to reproduce the behavior

1. Go to `https://boards-bugbash.test.mattermost.cloud/` server > Onboarding board
2. Hover over the "Create your own board" card below the "To Do" column, click on the 3-dots and select "Duplicate"
3. Observed: Error reading "This card doesn't exist

[2022-08-15 18:21] wiggin77 commented on #3493
Fixed via https://github.com/mattermost/focalboard/pull/3517

[2022-08-15 18:25] #3678 closed

[2022-08-15 18:29] wiggin77 commented on #2307
I'm not seeing these errors in my console.  Is this still happening for anyone else?  @chenilim @wuwinson

[2022-08-15 18:51] lindy65 opened #3683 "Bug: macOS Boards App using AWS build shows a blank screen"
Using the AWS macOS URL to install the Boards app gives a blank screen - either on trying to open the app or after selecting a template.  (URL: https://focalboard-builds.s3.amazonaws.com/latest/focalboard-mac.zip)

See [this convo](https://community.mattermost.com/core/pl/w51u7twjgpgktntyyhr76qbiia) for more context

## Steps to reproduce the behavior

1. Download the macOS using the AWS URL: http

[2022-08-15 18:59] wuwinson commented on #2307
Thanks for checking @wiggin77! Still seeing the errors on my console - Chrome on Mac on the latest bug bash server.

https://user-images.githubusercontent.com/93531870/184698491-7cb769c0-51dd-47e5-a87c-38db7ebdbdf3.mov

[2022-08-15 19:17] wuwinson commented on #3676
Dupe of https://github.com/mattermost/focalboard/issues/3597

[2022-08-15 19:19] wuwinson commented on #3679
cc @asaadmahmood This currently works better for linking multiple boards, but not so much for single boards. However, I think the more common use case will be single board linking. Thoughts?

[2022-08-15 19:23] wuwinson commented on #3680
@lindy65 Can you repro this with any other boards? We think this might be related to bad data on @harshilsharma63's [Welcome board](https://boards-bugbash.test.mattermost.cloud/boards/team/uzkj4t1tdpfat8xywo5w8fcy9y/b6wqy1pfqkjredn6o1curber79a/vei8dum5f1ffjznz99oiacxmc9r). Does not occur on any other board - new or existing. cc @sbishel

[2022-08-15 19:26] wuwinson commented on #3683
@Pinjasaur Can you also check if this is happening on v7.2? Thanks! cc @sbishel

[2022-08-15 19:48] asaadmahmood commented on #3679
@wuwinson I agree I think for this as soon as the user clicks the link, we close the modal and open the confirmation dialog, and then when they confirm, we take them to the RHS.
If they cancel, we can take them back to the link boards list modal.

[2022-08-15 19:51] wuwinson commented on #3679
Thanks @asaadmahmood! Updated the expected behavior.

[2022-08-15 20:19] wuwinson opened #3685 "Feature Idea: Bulk actions on Boards sidebar"
## Summary

Users who are upgrading to Boards v7.2 may end up with many boards/categories on their sidebar. It will be tedious and time consuming to move/hide/delete these boards individually. As a Boards user, I want to be able to select multiple boards or categories and perform an available action in bulk. Or as an interim solution, I'd like to be able to bulk action all boards within a category

[2022-08-15 20:19] wuwinson commented on #3685
[Relevant thread](https://community.mattermost.com/core/pl/77udg9pog3nfmeiye114c7kj5w)

[2022-08-15 20:42] sbishel commented on #3676
Actually more of a duplicate of https://github.com/mattermost/focalboard/issues/3036.
Some of the board templates contained bad ids for the default card template. Those were fixed and updated in the above issue. You can work around this issue with old boards by "re-selecting" the default card template. See below.

![Screen Shot 2022-08-15 at 2 33 27 PM](https://user-images.githubusercontent.com/12

[2022-08-15 20:57] wuwinson commented on #3676
@sbishel This is still happening with all the new templates with the exception of `Personal Goals` and the `Welcome to Boards` templates. Tested on the latest bug bash server.

https://user-images.githubusercontent.com/93531870/184716836-35132243-d5ab-4f1f-9561-f7ccf519b6ef.mov

[2022-08-15 21:01] sbishel commented on #3676
@wuwinson - Ok, reopen and moved to v7.3.

[2022-08-15 21:13] #3669 closed

[2022-08-15 21:56] Pinjasaur commented on #3683
Tested locally off of `release-7.2` in `single-user` mode and am able to reproduce the behavior I was setting from the AWS build zip. I'll need to dig in more, but I think it has to do with the teamId and how the default `0` is used.

[2022-08-16 05:30] harshilsharma63 commented on #3680
Works fine for me for new boards, even for a new user. @lindy65 can you share the URL of welcome board you're referring to? There are tons of welcome board in there and duplicate board is working for me in all those boards that I have access to.

[2022-08-16 06:47] lindy65 commented on #3680
Thanks @wuwinson and @harshilsharma63 - I could repro this only on the Welcome Board on the `https://boards-bugbash.test.mattermost.cloud/` server

Try duplicating [this card](https://boards-bugbash.test.mattermost.cloud/boards/team/uzkj4t1tdpfat8xywo5w8fcy9y/b6wqy1pfqkjredn6o1curber79a/vei8dum5f1ffjznz99oiacxmc9r/c4i4g453kmtyd8kcy9zzs39pd4e) Harshil.  I get the error every time.

[2022-08-16 06:49] lindy65 commented on #3680
Not sure whether this makes a difference @harshilsharma63 but you're an admin on the board

![image](https://user-images.githubusercontent.com/13020833/184815336-6f1188f3-5dee-4a3d-9d90-74b28add62ea.png)

[2022-08-16 12:30] justinegeffen commented on #3019
@mgdelacroix, would you be open to adding an entry in the Cloud changelog [here](https://github.com/mattermost/docs/pull/5828/files) regarding the issue with a link to the doc?

[2022-08-16 14:10] justinegeffen commented on #3019
PR for What's New doc updates is here: https://github.com/mattermost/docs/pull/5840.

[2022-08-16 17:09] amyblais opened #3690 "Update mattermost-server to pre-package Focalboard plugin v7.4"
Update [the makefile](https://github.com/mattermost/mattermost-server/blob/master/Makefile#L123) so that Focalboard v7.4 ships with Mattermost 7.4.

Note that this needs to be cherry picked to the appropriate branch for the release.

**Deadline: September 9th (7.3 Code Freeze)**

[2022-08-16 18:11] #2546 closed

[2022-08-16 21:01] sbishel commented on #3531
Partially a duplicate of https://github.com/mattermost/focalboard/issues/3400

[2022-08-16 21:08] sbishel commented on #3496
This can be fixed by unencoding, then encoding.

[2022-08-16 22:01] Pinjasaur opened #3693 "Bug/Regression: 4xx & 5xx user-related API endpoint errors in single-user mode"
## Steps to reproduce the behavior

1. Start personal server in single-user mode, as documented in [mac/README.md](https://github.com/mattermost/focalboard/blob/393b961a6b6bce0d8e60f74f7beae14b407dfdbb/mac/README.md#testing-the-single-user-server)
2. Notice 4xx errors from `/users` API endpoint
3. Create a new board
4. Notice 5xx error from `/users/single-user` API endpoint

## Expected behavior

[2022-08-16 22:01] Pinjasaur commented on #3693
I noticed this while fixing #3683.

[2022-08-16 22:22] Pinjasaur opened #3694 "Bug: message banners stack"
## Steps to reproduce the behavior

1. Start up a fresh version of e.g. personal server
2. Notice version & cloud banner stack

## Expected behavior

Not 100% sure, perhaps different colors or not stacking? Just felt odd to have them as shown in the screenshot.

## Screenshots (optional)

<img width="1512" alt="image" src="https://user-images.githubusercontent.com/6335792/184994807-ccd2d931-4764-4

[2022-08-16 22:23] Pinjasaur commented on #3694
This might be more of an enhancement, not a bug.

cc @asaadmahmood for UI/UX and @sbishel since I _believe_ you implemented both banners.

[2022-08-16 23:05] Pinjasaur opened #3695 "Bug: unable to edit/delete a template in personal server/desktop"
## Steps to reproduce the behavior

1. Go to the template selector in personal server or desktop
2. Create a new custom template
3. Go back to the template selector and notice you cannot edit/delete your custom template

## Expected behavior

Be able to edit/delete a custom template.

## Screenshots (optional)

Personal Server:

<img width="1223" alt="image" src="https://user-images.githubusercont

[2022-08-16 23:06] Pinjasaur commented on #3695
@wuwinson can you confirm that this in a bug? if it's not and I'm simply mistaken, please close. thanks!

[2022-08-16 23:31] siddjellali commented on #2592
Hello even after upgrading to 7.2.0 i still have corrupted bdd, could you please help me ?

[code]

[2022-08-17 09:41] altyne opened #3697 "Bug: Focal board not showing after upgrading"
## Steps to reproduce the behavior

1. Mattermost updated from docker hub (mattermost/mattermost-team-edition)

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots (optional)

![image](https://user-images.githubusercontent.com/10827779/185085897-96dee7fb-3be0-428f-b0da-6f33c3283250.png)
![mattermost board plugin error not showing](https://user-imag

[2022-08-17 10:22] #3400 closed

[2022-08-17 12:01] AuspeXeu opened #3699 "Feature Idea: enlarge images on click"
## Summary

Since images might be difficult to read, it would be great to enlarge them when clicking on them.

## How important this is to me and why

Importance: Medium

[2022-08-17 12:10] asaadmahmood commented on #3694
@wuwinson I don't think both banners should appear, the What's new banner should overlap the get your own free cloud, and when that is dismissed, we can show the get your own cloud server one (but even that not immediately, maybe on the next refresh or something?)

[2022-08-17 15:05] wuwinson opened #3701 "Bug: Focalboard Personal Desktop for Windows is broken"
## Steps to reproduce the behavior

1. On a Windows machine, download `focalboard-win.zip` from https://github.com/mattermost/focalboard/releases/download/v7.2.0/focalboard-win.zip or from https://focalboard-builds.s3.amazonaws.com/latest/focalboard-win.zip
2. Unzip the file and run Focalboard.exe
3. See error - The app loads but only shows 2 templates. Clicking on any template results in a blank

[2022-08-17 15:05] wuwinson commented on #3701
cc @sbishel

[2022-08-17 15:08] sbishel commented on #3701
I'm pretty sure its this same issue...https://github.com/mattermost/focalboard/issues/3683. I'll remove the windows app from release for now.

[2022-08-17 15:09] #3683 closed

[2022-08-17 15:11] wuwinson commented on #3701
Sounds good, thanks Scott. I'll retest once ready.

[2022-08-17 15:45] wuwinson commented on #2421
Relevant [post](https://community.mattermost.com/core/pl/er1bfxnc8tb4jp75ffn9646w7w).

[2022-08-17 15:58] wuwinson commented on #3694
Agreed, the "What's New" banner should take precedence over the "Free cloud server" banner. Not sure how frequent a user refreshes the desktop app, but what if we delay the the cloud server banner until 24 hrs after the "What's New" banner is dismissed?

[2022-08-17 16:00] wuwinson commented on #3699
Thanks for the feedback @AuspeXeu! We have this enhancement tracked on line item #1 on https://github.com/mattermost/focalboard/issues/2467. Closing out this ticket as a dupe.

[2022-08-17 16:00] #3699 closed

[2022-08-17 16:29] Pinjasaur commented on #3695
Aha, that's why it felt so familiar...

[2022-08-17 18:36] wuwinson commented on #3659
Let's stick with `Toggle Linked Boards` for simplicity and consistency.

[2022-08-17 18:51] wuwinson commented on #3695
cc @sbishel

[2022-08-17 18:55] wuwinson commented on #3694
To clarify, this shouldn't be appearing on Personal Desktop, but the "What's New" banner should appear on Personal Server.

[2022-08-17 19:04] wuwinson commented on #3646
Moved to [card](https://community.mattermost.com/boards/team/qghzt68dq7bopgqamcnziq69ao/b4ctmm917q3rzdfi451qtuxjzcw/vsyng4ghehbgsmp7gxfxk81bxxa/c11bed3ye77dq8gkn5ebosdpkey)

[2022-08-17 19:14] wuwinson opened #3702 "Bug: Revert displaying categories in board switcher results for v7.3"
Based on #3642

[2022-08-17 19:24] #3548 closed

[2022-08-17 19:30] wuwinson commented on #3531
Partially fixed on #3400, for templates that are appearing blank - this is likely due to bad data, so let's if we can repro with known data.

[2022-08-17 19:30] #3531 closed

[2022-08-17 19:32] wuwinson commented on #3293
cc @asaadmahmood Thoughts on expected behaviour?

[2022-08-17 19:37] wuwinson commented on #2920
Feel free to re-open if you're still having issues. Thanks!

[2022-08-17 19:37] #2920 closed

[2022-08-17 19:40] wuwinson commented on #2902
Tracked on [this card](https://community.mattermost.com/boards/team/qghzt68dq7bopgqamcnziq69ao/b4ctmm917q3rzdfi451qtuxjzcw/vuswsftt1rb873datosmmbtwkpa/cydbwjcy4xf8cxpaa871axuy63w). Closing out this ticket.

[2022-08-17 19:54] wuwinson commented on #3307
Spec: https://docs.google.com/document/d/1IiIgtXI_lYtTSpm6XfqPvSe_jD0E0rajqerWSRLC6OQ/edit?usp=sharing

[2022-08-17 20:00] wuwinson commented on #3496
Expected behavior:
1. `https://example.com?title=August 1 - 2022` should take user to URL prior to any spacing, in this case it should direct user to `https://example.com?title=August`
2. `https://example.com?title=August%201%20-%202022` should not encode the '%', and instead direct user to the URL as is.

[2022-08-17 20:01] wuwinson commented on #3511
Retested on latest bug bash and appears fixed. Reopen if necessary. Thanks!

[2022-08-17 20:01] #3511 closed

[2022-08-17 20:59] wuwinson commented on #2857
@justinegeffen Added it as a note [here](https://docs.google.com/document/d/13f_6mMWtvagOpfu_O77NR1_JQXMkhxIrBGsfub5nXlk/edit#bookmark=id.6gu43vxfevna). Closing this out.

[2022-08-17 20:59] #2857 closed

[2022-08-18 00:36] Rohaq commented on #3128
This would also be great for creating a Eisenhower Decision Matrix view of tasks, though I would maybe suggest rather than purely a Quadrant View, make it grid based?

That way the user can better customise their layouts in a simple way, whether it's using the grid to make quadrants, or say, have six categories in 3x2 zones.

[2022-08-18 03:21] anx-ag commented on #2421
I came across this FR because of [this forum topic](https://forum.mattermost.com/t/how-to-get-board-updates-or-inserts-in-webhook-or-api/13865).

I think there maybe could be a generic solution to all these requests. If subscription options could be configured on a board/card level, one could a channel-id or a username as the target for the updates (just like in incoming webhooks). The bot could t

[2022-08-18 07:37] roukmoute commented on #3496
3: In a markdown link, `1.` must be encoded correctly

[2022-08-18 13:58] sbishel commented on #2961
Retest on 7.2 to make sure its still an issue.

[2022-08-18 15:03] mgdelacroix commented on #2592
Hi @siddjellali, what version of Focalboard were you upgrading from?

[2022-08-18 15:04] siddjellali commented on #2592
I tried 7.2.0

[2022-08-18 15:05] mgdelacroix commented on #2592
@siddjellali and do you remember what was the version that you were running before trying v7.2.0?

[2022-08-18 15:08] siddjellali commented on #2592
yes it was 7.0.1

[2022-08-18 16:39] mgdelacroix commented on #2592
Thanks! Could you please post the contents of your `schema_migrations` table and the list of the tables that the database has?

[2022-08-18 16:54] mgdelacroix commented on #3697
Thanks for the report @altyne! Could you please post the following information:
- What's the tag of the dockerhub image you've deployed?
- What tag were you upgrading from?
- Could you please post the loglines that were logged before the error one? It is important these come from the first error event, if possible. The ones from a plugin restart, for example, would be useful but they would not add

[2022-08-18 17:53] altyne commented on #3697
@mgdelacroix

mattermost/mattermost-team-edition

mattermost/mattermost-team-edition:master

{"timestamp":"2022-08-17 10:50:45.828 +04:00","level":"info","msg":"Server is initializing...","caller":"app/server.go:276","go_version":"go1.18.1"}
{"timestamp":"2022-08-17 10:50:45.828 +04:00","level":"info","msg":"Pinging SQL","caller":"sqlstore/store.go:228","database":"master"}
{"timestamp":"2022-08-1

[2022-08-18 17:54] siddjellali commented on #2592
sqlite> select * from schema_migrations;
1|init
2|system_settings_table

[2022-08-18 18:36] jtb-jtb opened #3704 "Bug: Card Template Not Carrying All Checkboxes Into New Card on Boards"
## Steps to reproduce the behavior

1. Create Card Template
2. Add multiple checkboxes at bottom of card
3. Exit out of card template editor
4. Create new card with template
5. See only first checkbox is present on new card
## Expected behavior

The new card should have all checkboxes from the template included when a new card is created

## Screenshots (optional)

![image](https://user-images.git

[2022-08-19 06:39] AuspeXeu opened #3707 "Bug: wrong path in sharing dialog"
## Steps to reproduce the behavior

1. In you settings .json, add the following line `"serverRoot": "https://example.com/vhost1",`
2. Click on the sharing dialog
3. The sharing link is wrong, it's missing the `vhost1 string`

![image](https://user-images.githubusercontent.com/2115696/185558678-654728c9-3f95-41f7-aa2e-f11296b93df0.png)

## Edition and Platform
 - Edition: Personal Server
 - Version

[2022-08-19 08:04] kantic commented on #1638
The same bug happens to me using the latest stable Personal Desktop version v7.1.0 on Ubuntu XFCE.
When selecting Settings -> Export Archive, I get the following Error:
[code]
Is there any update / workaround for this bug?

[2022-08-19 08:29] mgdelacroix commented on #2592
Can you please post the list of the tables as well that the database has? You can get that running `.schema` while connected to the database

[2022-08-19 08:40] mgdelacroix commented on #3697
Thanks @altyne! Can you please attach as well the output of `describe table` for both `focalboard_blocks` and `focalboard_blocks_history`?

[2022-08-19 09:33] siddjellali commented on #2592
**sqlite> .tables**
[code]

**sqlite> .schema**
C```
REATE TABLE IF NOT EXISTS "schema_migrations_old_temp" (Version bigint not null primary key, Name varchar not null, dirty TXEXT);
CREATE TABLE IF NOT EXISTS "blocks_history" (
        id VARCHAR(36),

        insert_at DATETIME NOT NULL DEFAULT(STRFTIME('%Y-%m-%d %H:%M:%f', 'NOW')),

        parent_id VARCHAR(36),
        schema BIGINT,

[2022-08-19 10:09] AuspeXeu commented on #3701
Same problem on our self-hosted instances after the upgrade.

[2022-08-19 10:37] altyne commented on #3697
@mgdelacroix
describe table focalboard_blocks:
![image](https://user-images.githubusercontent.com/10827779/185600822-567f7791-2c20-4099-9db3-5e8c61b2e36f.png)

describe table focalboard_blocks_history:
My database (mysql) crashed!

Here's the log:
The manual page at http://dev.mysql.com/doc/mysql/en/crashing.html contains
information that should help you find out what is causing the crash.
2022-08

[2022-08-19 10:50] mgdelacroix commented on #3697
Sorry I didn't explain myself correctly. I'm looking for the table shape to see how far the migration got to run, this is the kind of output we'd be expecting:

[code]

[2022-08-19 11:12] mgdelacroix commented on #2592
Thanks a lot! and one last thing, can you please post the contents of `schema_migrations_old_temp` and `temp_schema_migration`?

[2022-08-19 11:47] altyne commented on #3697
![image](https://user-images.githubusercontent.com/10827779/185611825-8b7599ae-7a99-4c6d-8172-4b660c3b04c7.png)

[2022-08-19 13:42] wiggin77 opened #3710 "Feature Idea: Include i18n extraction check in CI"
## Summary

Sometimes new I18n strings are added to webapp but the strings are not being added to the `en.json` file.  In CI we should have a check using the i18n extraction tool to make sure nothing was missed and halt build if the tool finds strings to be added.

This will prevent non-english users from seeing English (default) strings in strange places.

## How important this is to me and why

[2022-08-19 13:44] wiggin77 commented on #3710
dup of https://github.com/mattermost/focalboard/issues/3096

[2022-08-19 13:44] #3710 closed

[2022-08-19 15:39] mgdelacroix commented on #3697
Great, thanks @altyne for all the info! So it looks like migration 18 failed to apply, and it went as far as to make some initial changes. The clue for this is that you have the `board_id` field on the `focalboard_blocks` table, but there is no `focalboard_boards` table created yet.

The best way to fix this is to revert the initial changes that the migration does, and then reupload the latest ver

[2022-08-19 16:18] siddjellali commented on #2592
Thanks to you !!

[code]

[2022-08-19 16:24] broskees commented on #522
This is a pretty big deal for me. We generally have a backlog board and an active sprint board created from templates for each sprint. I'd love to be able to drag tasks from the backlog to the active sprint.

[2022-08-19 16:42] broskees commented on #1982
Super important for this to ever be a viable alternative to Jira/Asana - Dev teams can't function without this.

[2022-08-19 17:11] mgdelacroix commented on #2592
Great, it looks like the migration information was stored on the old migrations table instead of on the new one, and with a small hiccup (migration 17 didn't run). The steps to fix this are as follows:
- Perform a backup of the database to be able to recover if something doesn't go as planned. As you're using `sqlite`, just making a copy of the database file while the server is stopped will be eno

[2022-08-19 17:19] siddjellali commented on #2592
I really appreciate your support @mgdelacroix
migration 17 has not been run successfully.

[code]

[2022-08-19 17:54] b-m-f opened #3712 "Bug: White page and DOMException"
## Steps to reproduce the behavior

Directly after Login

## Expected behavior
Get to overveiw

## Screenshots
![Screenshot from 2022-08-19 18-04-57](https://user-images.githubusercontent.com/2843450/185679025-2a3cf671-2d59-44b8-a404-d1d1c5a6e9a8.png)

## Edition and Platform

 - Edition: Personal Server
 - Version: Dockerfile 7.2.0
 - Browser and OS: Chromium & Firefox on Linux

## Additional con

[2022-08-19 18:18] #3659 closed

[2022-08-20 10:05] sgmihai commented on #124
Running the command for the Dockerfile posted above, gave me this result:
https://hastebin.com/jacasojovi.swift
Any ideas?

[2022-08-21 11:07] mgdelacroix commented on #2592
That output seems to be mixing the loglines of two different runs with seconds of difference:

[code]

one finds the new data and applies the migration correctly, and ends up starting the server:

[code]

and the other one which fails with the same error we've been seeing before and fails like the `INSERT` was never run:

[code]

What are the contents now of the `schema_migrations` table and the `

[2022-08-21 18:32] siddjellali commented on #2592
You are right ! App is up and running, now.
Any chance to do to v7 without everything broken?

[code]

[2022-08-22 14:00] mgdelacroix commented on #2592
Glad I was able to help!

[2022-08-22 14:00] #2592 closed

[2022-08-22 14:20] #3702 closed

[2022-08-22 15:17] Pinjasaur opened #3716 "Tech Debt: Support Absolute Imports"
## Summary

Support absolute imports over our current usage of relative imports i.e.

![image](https://user-images.githubusercontent.com/6335792/185956331-fa2f1056-6299-47d6-8fe5-8e54ac394ff6.png)

@asaadmahmood brought this up (thread linked below) w/ this supporting article: https://hackernoon.com/react-pro-tip-use-absolute-imports-for-better-readability-and-easy-refactoring-2ad5c7f2f957

## How

[2022-08-22 18:04] #3589 closed

[2022-08-22 19:07] sbishel commented on #3716
Does this need to be done all at once or can we do it piecemeal?

[2022-08-22 19:09] wuwinson commented on #3712
@Rajat-Dabade Can you please investigate? Thanks! cc @sbishel

[2022-08-22 19:11] wuwinson commented on #3707
@Rajat-Dabade Can you help investigate this one as well? Thanks! cc @sbishel

[2022-08-22 19:13] Pinjasaur commented on #3716
@sbishel Good question—would have to experiment locally and see if it's the case or not. Not sure if this could be paired with linter config or not. [3/5](https://handbook.mattermost.com/company/about-mattermost/list-of-terms#0-5-1-5-2-5-3-5-4-5-5-5), would rather have _consistent_ imports than a mix of absolute & relative.

[2022-08-22 19:14] wuwinson commented on #3704
@jtb-jtb We can't repro this on [Community](https://community.mattermost.com/boards/) with the latest v7.2 release. Can you try to upgrade and see if this is still happening for you? Thanks!

[2022-08-22 19:17] wuwinson commented on #3701
Should be fixed by https://github.com/mattermost/focalboard/pull/3692

[2022-08-22 19:19] #3680 closed

[2022-08-22 19:22] wuwinson commented on #3615
cc @asaadmahmood Thoughts?

[2022-08-22 19:24] wuwinson commented on #3383
Thanks @hmhealey! We haven't been able to repro this issue, so hoping that someone from the community can chime in if they're seeing something similar happen.

[2022-08-22 19:25] asaadmahmood commented on #3615
@wuwinson Not sold if we need this. I'd wait for feedback from new users to see if boards of the same name are an issue for them.

[2022-08-22 19:25] asaadmahmood commented on #3615
Once we have the category names as well, the distinction would be there.

[2022-08-22 19:26] wuwinson commented on #3288
@prakharporwal Closing out. Please feel free to re-open if you're still having issues. Thanks!

[2022-08-22 19:26] #3288 closed

[2022-08-22 19:31] jtb-jtb commented on #3704
We're on cloud and I verified the plugin is v7.2. I tried it on Community as well, and it gave me the same results :( . I created a card template, added a checkbox at the bottom (not on top with the properties but below the comments), then added a couple more. Exited the template manager, created a card from that template, and only the first checkbox is there. If I open the template the checkboxes

[2022-08-22 19:53] wuwinson commented on #3615
Yep makes sense, thanks @asaadmahmood!

[2022-08-23 06:12] ayeshaahoor opened #3721 "Bug: syestm error"
## Steps to reproduce the behavior

1. Go to ...
2. Select  ...
3. Scroll down to ...
4. See error

## Expected behavior

A system should perform

## Screenshots (optional)

If applicable, add screenshots or a screen recording to elaborate on the problem.

## Edition and Platform

 - Edition: Personal Desktop / Personal Server / Mattermost Boards (plugin)
 - Version: [e.g. v0.15.0]
 - Browser and

[2022-08-23 06:34] Rajat-Dabade commented on #3712
@b-m-f, I have tried to reproduce this issue but it seems that is it working completely fine for me.

https://user-images.githubusercontent.com/26198062/186087038-a2b0903b-e22f-48d0-980e-de90fd1bcc01.mov

Can you please provide some more details regarding this if the issue still exists? Thanks.

[2022-08-23 07:09] lindy65 commented on #3680
Thanks @wuwinson - I'm not able to repro on other boards at present but will keep an eye open and re-open if necessary.

[2022-08-23 11:22] b-m-f commented on #3712
Hey @Rajat-Dabade ,

first of all thank you for the super fast response.

I have dug deeper and found a misconfiguration in the reverse proxy setup.

`Upgrade: websocket`

was missing as a header.

For some reason **7.1** was able to still reach the dashboard whereas in **7.2** the above error occurs.

Now that the proxy setup is fixed everthing runs smooth. Thank you for the support!

[2022-08-23 11:22] #3712 closed

[2022-08-23 11:31] #3600 closed

[2022-08-23 13:04] sbishel commented on #3707
@harshilsharma63 - Could you work with @Rajat-Dabade to get his environment setup for this. As I recall there are some tricks to duplicating this environment.

[2022-08-23 13:10] harshilsharma63 commented on #3707
@sbishel yeah, you need to run Nginx  to allow opening app on a subpath. @Rajat-Dabade lets catch up on this.

[2022-08-23 14:50] #3676 closed

[2022-08-23 16:28] MingSwivel opened #3728 "Bug: Fail to import Jira to board (500 error)"
## Steps to reproduce the behavior

1. Followed https://docs.mattermost.com/boards/data-and-archives.html#import-from-jira
2. Failed import (500)

## Expected behavior
Import successfully.

## Screenshots (optional)
<img width="247" alt="CleanShot 2022-08-24 at 00 27 03@2x" src="https://user-images.githubusercontent.com/88298938/186211610-4edb10c7-17cd-4822-bcb4-8b2b8b234af2.png">

## Edition and

[2022-08-23 16:28] MingSwivel commented on #3728
Is it `.focalboard` or `.boardarchive` ?

[2022-08-24 00:59] gignsky commented on #3184
This would be absolutely fantastic! I would use this feature ALL the time.

[2022-08-24 02:06] fegon-syns commented on #2001
Along with language, the selected theme and font size are also discarded when starting the program again. I suppose the cause is the same.

[2022-08-24 15:45] fraschm1998 opened #3735 "Bug: Focalboard database error after upgrade 0.16.0 to 7.2.0"
## Steps to reproduce the behavior

Mattermost updated from docker hub (mattermost/focalboard:7.2.0)

## Expected behavior

For the update to work

## Edition and Platform

 - Edition: Personal Server
 - Version: mattermost/focalboard:7.2.0
 - Browser and OS: Brave/Firefox

## Additional context (optional)

Error:

[code]

[2022-08-24 19:22] WaburiBK commented on #3183
Hey. Is the problem with the screen resolution or window sizing?

[2022-08-24 22:08] #2669 closed

[2022-08-24 22:47] #3721 closed

[2022-08-24 22:52] mgdelacroix commented on #3735
Hi @fraschm1998! Could you please post the output of running both `.schema` and `SELECT * FROM schema_migrations;` on your database?

[2022-08-25 08:57] daniele-athome commented on #3701
Also affects personal server (version 7.2.0 on Docker).

[2022-08-25 09:49] alexhorn opened #3739 "Bug: Page randomly refuses to load"
## Steps to reproduce the behavior

Directly open one of the boards using a bookmark.

## Expected behavior

Usually the page loads, but randomly it just stays blank.

## Edition and Platform

 - Edition: Personal Server
 - Version: v7.2.0 in Docker
 - Browser and OS: Chrome on Windows

## Additional context

I'm running the Personal Server in Docker behind Traefik v2.8.

The browser console shows

[2022-08-25 10:12] BinaryCanon commented on #3183
Hi,
The issue is about window sizing.

[2022-08-25 11:01] photonzoo commented on #3184
+1 I second this feature request: very few Kanban board solutions actually support users importing deadlines for tasks and activities into their personal calendars. Doing so, Focalboard would provide an extremely useful differentiator allow end users to more easily keep track of their schedules. Among other advantages, it would permit end users to set themselves calendar alerts according to their

[2022-08-25 12:49] alexhorn opened #3740 "Feature Idea: Ctrl+Enter should submit a commit"
## Summary

When commenting on a card, Ctrl+Enter should submit the comment.

## How important this is to me and why

Importance: Low

Use cases:
1. Submitting comments without having to use the mouse.

## Additional context/similar features

Many other applications (e.g. GitHub) support this shortcut.

[2022-08-25 15:51] sbishel commented on #2961
Closing as appears fixed in latest main.

https://user-images.githubusercontent.com/12704875/186711888-061e1e82-418f-4737-9163-1ed7e202b480.mov

[2022-08-25 15:51] #2961 closed

[2022-08-25 17:21] #3293 closed

[2022-08-25 18:10] Pinjasaur opened #3744 "UI Regression: dialog/modal styling"
@asaadmahmood it appears there's some CSS regression from #3713, specifically the top/toolbar part of dialogs/modals

![image](https://user-images.githubusercontent.com/6335792/186738356-1e3bfe44-ffe3-4da3-bffb-83356b47373c.png)

![image](https://user-images.githubusercontent.com/6335792/186738383-79c85dce-a5c7-43b0-a9a5-6862c565a769.png)

[2022-08-25 18:44] Pinjasaur opened #3746 "Bug: `@mention` not filtering in private boards"
## Steps to reproduce the behavior

1. Go to a private board and start typing e.g. comment to mention someone
2. Notice it doesn't filter as you type

## Expected behavior

Users to filter as typing.

## Screenshots (optional)

![image](https://user-images.githubusercontent.com/6335792/186743889-c8f06d55-0966-46b0-929a-dc51c480880b.png)

## Edition and Platform

 - Edition: Personal Desktop / Pers

[2022-08-25 18:45] Pinjasaur commented on #3746
@sbishel lmk your findings, #2604 has some related work I need to do for Guest users, so there may be overlap

[2022-08-25 19:20] kamre commented on #3735
Hi @mgdelacroix I have a similar issue (but I am using `main` branch for periodical upgrades, not releases).

Here is how the `schema_migrations` table looks like for me:
[code]
At the same time I see these migrations in the `main` branch now:
<img width="431" alt="image" src="https://user-images.githubusercontent.com/5587620/186749937-9222db91-714b-4425-9b04-b61298538492.png">

So there is some m

[2022-08-25 19:36] Pinjasaur commented on #2604
Working on this.

[2022-08-26 04:59] mzch opened #3749 "Bug?: No page is shown only in Chrome"
## Steps to reproduce the behavior

1. Update focalboard using `focalboard-server-linux-amd64.tar.gz`.
2. Start Focalboard.
3. Visit Focalboard page via Google Chrome.
4. See no page.

## Expected behavior

See Login page.

## Screenshots (optional)

<img width="1513" alt="ScreenShot" src="https://user-images.githubusercontent.com/621178/186823197-81c56735-ced4-40fb-8d77-9b158e9c5784.png">

## Edi

[2022-08-26 14:25] sbishel commented on #3298
Retested on Community (v7.2.1) and it does not reproduce. Closing, reopen if you see it again.

[2022-08-26 14:25] #3298 closed

[2022-08-26 19:40] tacuna commented on #124
Got the exact same error as in @sgmihai (first log) without using docker; Raspberry Pi.

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=focalboard-server-git with modifications:

also install `libpng`

before `make prebuild`
[code]
In addition i had to remove `LDFLAGS` from  `focalboard/mattermost-plugin/Makefile ` (before `make prebuild`) as `/usr/bin/ld` could not handle them `/usr/bin/l

[2022-08-27 05:53] sgmihai commented on #124
Can you please provide the full PKGBUILD and Makefile you used ? It is not entirely clear to me from those instructions how to edit them. Thanks

[2022-08-27 10:32] kamre commented on #3749
Looks similar to this one that was recently fixed:
 - #3589

[2022-08-27 10:34] kamre commented on #3739
Looks similar to this bug that was fixed recently:
- #3589

[2022-08-27 17:37] arturoovf commented on #3184
Indeed CalDAV server with individual feeds would be absolutely amazing!

[2022-08-27 17:46] kamre opened #3751 "Bug: TypeError for URL property with empty link"
## Steps to reproduce the behavior

1. Create new empty board
2. Create new card
3. Add URL property to card
4. Close card dialog
5. Show URL property on the board view
6. Board view is not visible and there is an error in the console:
[code]

## Expected behavior

Board view with the card should be visible.

## Edition and Platform

 - Edition: Personal Server
 - Version: `main` branch
 - Browser

[2022-08-27 17:53] kamre commented on #3751
Possible fix:
[code]

But in general it should be also fixed in the typescript types because `props.propertyValue` has type `string | string[]` which is actually not true now because we have `undefined` here also.

@jespino, @Pinjasaur what do you think about the fixing typescript types?

[2022-08-27 19:46] kamre commented on #3226
Hi @chenilim, @wuwinson, @asaadmahmood I would like to discuss if _PoC for a card as a page from hackathon_ can be developed further and integrated into boards.

Here is what was implemented:

1. Additional button added to the header of the card dialog:
<img width="809" alt="image" src="https://user-images.githubusercontent.com/5587620/187043682-a95bab66-9a16-49f1-afb6-2de0b71d75d0.png">

2. When

[2022-08-28 11:42] asaadmahmood commented on #3226
@kamre I don't think I have a problem with most of the points above, the only problem I have that would not make this feature "as useful" is our editor experience. Currently its very hard to document things in cards due to the limitations of the editor, and I think people would find issues creating larger documents too.

Though apart from that, I don't see a big issue.

[2022-08-28 16:36] altyne commented on #3697
@mgdelacroix
I backup all tables except focalboard_blocks_history. even dumping, use [database] or fixing table my docker instance will crash. I forcibly drop and delete all related files associated to it. I never tried your schema alteration instruction though. Install the plugin back via mattermost server market place (7.2.0). Now it working perfectly fine; just recreated those deleted boards.

[2022-08-28 17:24] Natedi opened #3752 "Bug: Cannot start installation of Focalboard Personal on MacBookPro"
## Steps to reproduce the behavior

1. Go to App Store
2. Select Install
3. Click "Open"
4. See nothing happens

## Expected behavior:
Typical installation should happen

Blank window opens and that it

## Edition and Platform

 - Edition: Personal Desktop
 - Version: Current - from Apple App Store (0.15.2)
 - My Mac configuration:

 Model Name:	MacBook Pro
  Model Identifier:	MacBookPro18,1
  Chi

[2022-08-29 04:33] MioAtSwivel opened #3753 "Bug: Board view dropdown menu fly out of the window"
## Steps to reproduce the behavior

1. Create or access a board
2. Click on the dropdown menu to change / add view
3. Half of the menu flew out of window

## Expected behavior

The dropdown menu should drop *down* instead of flying up and away form the visible view

## Screenshots (optional)

![CleanShot 2022-08-29 at 12 25 20](https://user-images.githubusercontent.com/102662641/187122845-c4f0be81

[2022-08-29 10:55] kamre commented on #3226
@asaadmahmood I agree about the limitations of the editor for larger documents.

May be [this prototype](https://community.mattermost.com/core/pl/j1pxs6wiqpy3tpkjihd9tqdb6h) from @jespino will grown into a new editing approach that will be a lot more convenient. Probably I can help with this prototype, at least I can write tests (unit and e2e) when the approach is stabilized.

[2022-08-29 20:56] #2331 closed

[2022-08-29 22:20] Pinjasaur commented on #3751
@kamre, agree the types should be updated. I see a couple options:

1. making `propertyValue` optional i.e. implicit `undefined`
2. explicitly defining an `undefined` value

Unless @jespino has strong opinions otherwise, I'm going to queue this up for discussion in our weekly dev meeting. That's public, you're welcome to join. https://community.mattermost.com/boards/team/rcgiyftm7jyrxnma1osd8zswby

[2022-08-30 11:23] mgdelacroix commented on #3735
Hi @kamre! I'm afraid your issue is a bit different. For a while we had a `placeholder` migration merged on `main`, but we decided not to go with that approach and removed the migration, so it was never released.

It seems that you updated `main` before it was removed, so we need to do a bit of fine tuning to fix the issue. Please take a backup of the database file and then run the following queri

[2022-08-30 11:26] mgdelacroix commented on #3697
Thanks @altyne for the update and glad to know everything is working now! :)

The instance crash could explain the migration failing, so I'm closing the issue for now and we can reopen if it occurs again.

[2022-08-30 11:26] #3697 closed

[2022-08-30 11:28] kamre commented on #3735
@mgdelacroix thanks! I will try the proposed SQL commands, but in the mean time #3751 is blocking me from updating to `main`

[2022-08-30 16:03] sbishel commented on #3753
fixed via https://github.com/mattermost/focalboard/pull/3251

[2022-08-30 16:03] #3753 closed

[2022-08-30 16:09] wuwinson commented on #3752
@Natedi I'm on an M1 MacBook Pro and wasn't able to repro this issue and haven't received any reports from the App Store. Have you tried uninstalling and reinstalling? @ogi-m Any issues on your end?

If it's still not working, have you considered using our [Cloud Starter plan](https://mattermost.com/pricing/) which is also free?

cc @sbishel

[2022-08-30 16:12] wuwinson commented on #3749
Fixed with #3718. Can you try it out with the latest main? If it's still an issue, feel free to re-open. Thanks!

[2022-08-30 16:12] #3749 closed

[2022-08-30 16:17] wuwinson commented on #3746
Might potentially be resolved with the [@mention autocomplete](https://docs.google.com/document/d/1IiIgtXI_lYtTSpm6XfqPvSe_jD0E0rajqerWSRLC6OQ/edit?usp=sharing) feature @jespino worked on. Can verify after it's been merged.

[2022-08-30 16:18] wuwinson commented on #3739
Fixed with #3718, feel free to re-open if it's still an issue. Thanks!

[2022-08-30 16:18] #3739 closed

[2022-08-30 17:25] ogi-m commented on #3752
@wuwinson I don't have macOS but I've asked @jgilliam17 to try and she's able to install without issue

[2022-08-30 18:58] Pinjasaur commented on #3656
Just like in #3144, needed to `@mention` a user before able to see the `boards` bot appear. Not seeing it in the Person property or `@mention`s list.

[2022-08-30 19:32] #3679 closed

[2022-08-30 20:21] Pinjasaur opened #3764 "Tech Debt: reduce plugin (Webpack) bundle size by deduplicating `static/` files"
## Summary

If you view the `static` directory inside of the Webpack bundle directory, notice that asset files exist twice e.g. `file.ext` _and_ `file..ext`.

Viewed from the root `focalboard` directory:

<img width="309" alt="image" src="https://user-images.githubusercontent.com/6335792/187534541-07a75861-f992-4716-8bee-8e8b8a349acf.png">

<img width="309" alt="image" src="https://user-images.git

[2022-08-31 02:05] Natedi commented on #3752
@wuwinson
I did try to uninstall and install it before, but repeated it again today and got the same problem.
Here is everything in details and some screenshots.
1. Went to Apple Store clicked on a little cloud with arrow -> see a little circle with progressing download indication.
2. A possible issue (?) -> I do not see the file in my "Downloads" folder and if I search for it, I find it in "Appli

[2022-08-31 02:07] Natedi commented on #3752
@wuwinson Yes, I'll check the "cloud starter", thanks

[2022-08-31 02:22] MingSwivel commented on #3728
Hi @sbishel,

I just imported the Jira (`archive.boardarchive`) again. I can see this error via browser console.
![CleanShot 2022-08-31 at 10 18 54@2x](https://user-images.githubusercontent.com/88298938/187578326-1f035621-efeb-4168-92eb-35a4f7b2c687.png)

@mioatswivel Can you share the backend error log in docker?

Thanks.

[2022-08-31 02:24] MingSwivel commented on #3728
<img width="571" alt="CleanShot 2022-08-31 at 10 23 06@2x" src="https://user-images.githubuserconte
<img width="573" alt="CleanShot 2022-08-31 at 10 23 57@2x" src="https://user-images.githubusercontent.com/88298938/187578873-2eb973c1-33cc-4662-98be-0d8a3d87b6ec.png">
nt.com/88298938/187578736-e3b207f0-46d0-43de-a752-1dc2fc06e096.png">

FYI.

[2022-08-31 09:01] Kazintsev opened #3765 "Feature Idea: email notifications"
Hello!

## Edition and Platform

 - Edition: Team Edition + Mattermost Boards (plugin)
 - Version: 7.1.1 + 7.1.0

## Description

We are considering Mattermost with Mattermost Boards Plugin as a solution in our company. The main concern is the email notifications for any actions in cards and due dates. Right now all the communication between Boards and Mattermost (and end user) are based on the me

[2022-08-31 19:31] #3704 closed

[2022-08-31 19:40] #2604 closed

[2022-09-01 02:53] Natedi commented on #3752
Just to note,
I use a brand new Mac - literally a few days from physical local Apple Store (not resellers of any sorts) and if I look at the screen shot of file info, in the "sharing and permissions" section, I see this "Wheel" thing. First of all, I don't know why it says "you have custom access", because I don't believe I've changed any default system settings and secondly, I have no idea what t

[2022-09-01 08:56] jespino opened #3767 "Bug: Wrongly showing the tick on users role selector on Share Board modal"
## Steps to reproduce the behavior

1. Go to a board where you have permissions to manage users
2. Go to Share Board
3. Click on the role of a member
4. The selected role has the tick aside the role name partially covered

## Expected behavior

You can clearly see the tick of the selected role

## Screenshots (optional)

![imagen](https://user-images.githubusercontent.com/290303/187874588-91987134

[2022-09-01 08:58] jespino opened #3768 "Bug: Search icon misaligned"
## Steps to reproduce the behavior

1. Go to any board
2. The search input icon is misaligned

## Expected behavior

The search icon is properly aligned

## Screenshots (optional)

![imagen](https://user-images.githubusercontent.com/290303/187874941-2ffe2db0-833a-47ea-86fd-065b918706ef.png)

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: 7.3
 - Browser and OS: Firefox

[2022-09-01 12:07] Rajat-Dabade commented on #3751
@Pinjasaur @kamre, the default value of the `string` in typescript is `undefined` and for `string[]` it is an empty array i.e. `[]`, I guess the fix for this would be simple `if (propertyValue === undefined)` check at the place where all the properties are getting disturbed.

cc @jespino

[2022-09-01 12:09] ankit-tiple commented on #3768
Can I work on this issue? @jespino

[2022-09-01 18:51] Pinjasaur opened #3770 "UI Bug: share modal role dropdown checkmark misaligned"
## Steps to reproduce the behavior

1. Go to a board
2. Select Share button
3. Select the role dropdown next to a user/channel
4. See misaligned checkmark

## Expected behavior

Not misaligned.

## Screenshots (optional)

Safari:
![image](https://user-images.githubusercontent.com/6335792/187987152-60954ecf-f822-42f7-a341-5a0e7909a9de.png)

FF:
![image](https://user-images.githubusercontent.com/633

[2022-09-01 19:12] wuwinson commented on #3767
Dupe of #3770

[2022-09-01 19:12] #3767 closed

[2022-09-01 21:08] wuwinson opened #3771 "Bug: Guests can access boards linked to a channel"
## Steps to reproduce the behavior

1. Invite a guest to a channel
2. Link boards to the same channel
3. Login as the guest
4. Go to the channel and click on the boards linked on the channel
5. See error - guest is able to access those boards even though they're not an explicit member

## Expected behavior

Guests should not have access any board unless they were added as an explicit member. See [

[2022-09-01 21:19] Pinjasaur commented on #3771
@wuwinson should the Linked Channels RHS in Channels be rendered for a Guest user at all then?

[2022-09-01 21:26] wuwinson commented on #3771
@Pinjasaur Only for the boards where they are an explicit member. Other boards should be hidden.

[2022-09-01 22:05] Pinjasaur commented on #3495
I've been poking at this a bit longer than I wanted to. I've tried a few things:

1. using the `position` prop on the `<Menu>` component (used in the CardActionMenu) to display the menu to the right... this proves tricky because we don't really have much control over how Full Calendar actually renders the events, particularly in they're multi-day, so it's non-trivial (based on my attempts) to only

[2022-09-02 05:19] harshilsharma63 opened #3773 "Latest main - unable to create board from template with images"
Getting following error when trying to create board with template with images in it -

[code]

Server URL - https://harshil-mysql-test-6.test.mattermost.cloud/team-a/channels/off-topic

Server invite link in Focalboard internal channel

[2022-09-02 11:13] rdanielwetan commented on #429
there seems to be no recent progress, can i take this issue please? @sbishel

[2022-09-02 11:21] afro-coder commented on #429
Weird, I thought this got closed, is there something still pending from my end @sbishel

[2022-09-02 17:22] Pinjasaur commented on #3751
@kamre you should be unblocked now. @jespino is planning on a more exhaustive update soon to better reflect how `propertyValue` works post-refactor.

[2022-09-04 09:46] kamre commented on #3751
@Pinjasaur @Rajat-Dabade thank you very much!
I was able to update my personal focalboard server to latest `main` after fixing migrations manually.

[2022-09-04 09:48] kamre commented on #3735
@mgdelacroix I was able to update my personal focalboard server to the latest `main` after fixing migrations manually, thanks!

[2022-09-04 10:11] kamre opened #3776 "Feature Idea: export board archive in the side bar context menu"
## Summary

Currently it is possible to export board archive via board view options menu:
<img width="396" alt="image" src="https://user-images.githubusercontent.com/5587620/188308194-4e3fa01e-4a0a-4ee3-9a29-b9c1242c12b0.png">

This action can also be added to the side bar context menu:
<img width="241" alt="image" src="https://user-images.githubusercontent.com/5587620/188308249-f39e404a-2a52-4986

[2022-09-04 13:44] asaadmahmood commented on #3776
Makes sense @kamre

[2022-09-04 22:51] #3645 closed

[2022-09-05 07:23] #3768 closed

[2022-09-05 19:19] kamre opened #3780 "Bug: switching boards shows wrong board view initially"
## Steps to reproduce the behavior

1. Create new empty board (name it `Kanban`)
2. Create another new empty board (name it `Gallery`)
3. Add gallery view and delete board view from the board named `Gallery`
4. Create new card in the gallery view
5. Open card dialog and change property from `Select` to `Text`
6. Switch to `Kanban` board in the left sidebar
7. Switch back to `Gallery` board in the

[2022-09-05 23:01] sbishel commented on #3773
Seems to work fine on 7.3 but can't get it to work with main, even going back prior to 7.3. release date. Can't duplicate locally, not sure if it is due to code or not.

[2022-09-05 23:02] #3695 closed

[2022-09-06 02:16] Talismanian opened #3781 "Easier way to view hidden boards"
Currently, you can only view hidden boards by specifically searching for them. This can make it hard to find a specific board in a list of them hidden. (Side note: documentation on how to find hidden boards is needed.)

A couple of ways of making this easier could be:

1. A toggle in the Settings menu that shows hidden boards
2. A search filter for hidden boards

Then, a ... menu option should be

[2022-09-06 03:41] andriykrefer commented on #3701
Tried focalboard here for the first time and also got this issue. Version 7.2.1 for Docker

[2022-09-06 13:39] sbishel commented on #3773
Also receive the error "Unable to upload image. FileSize limit reached."

[2022-09-06 16:22] hmhealey opened #3782 "Bug: Unable to drag to select text in table view"
## Steps to reproduce the behaviour

1. Create or go to a board in table view
2. Ensure that the view has an editable text column
3. Attempt to drag to select text from within that column

## Expected behaviour

The text is selected. Instead, the whole row is picked up and dragged, and if you drop it, it often gets moved even if you drop it in the same place you started.

At a higher level, I'd ex

[2022-09-06 16:22] hmhealey opened #4844 "Bug: Unable to drag to select text in table view"
## Steps to reproduce the behaviour

1. Create or go to a board in table view
2. Ensure that the view has an editable text column
3. Attempt to drag to select text from within that column

## Expected behaviour

The text is selected. Instead, the whole row is picked up and dragged, and if you drop it, it often gets moved even if you drop it in the same place you started.

At a higher level, I'd ex

[2022-09-06 17:41] wuwinson commented on #3780
Related to https://github.com/mattermost/focalboard/issues/3646 - need to handle lack of `Select` property or empty values within a `Select` property.

[2022-09-06 17:42] wuwinson commented on #3780
cc @asaadmahmood

[2022-09-06 17:47] wuwinson commented on #3752
@Natedi Thanks for the details, we're not too sure what's going on here, but would recommend sticking with the Cloud Starter version until we release a new mac version in the future. Going to close out this issue, but feel free to re-open if you have other issues. Thanks!

[2022-09-06 17:47] #3752 closed

[2022-09-06 17:49] wuwinson commented on #3746
Waiting on #3724 before testing.

[2022-09-06 17:55] wuwinson commented on #3728
Thanks @MingSwivel. Can you share the server error log as well? Thanks! cc @sbishel

[2022-09-06 18:28] wuwinson commented on #3667
@paulpremont I'm not able to repro this on the latest [Personal Desktop build for Mac](https://focalboard-builds.s3.amazonaws.com/latest/focalboard-mac.zip).

Would recommend downloading our v7.3 release from our [release page](https://github.com/mattermost/focalboard/releases) when available. If you'd like an early preview you can test the [latest build for Linux](https://github.com/mattermost/fo

[2022-09-06 18:28] #3667 closed

[2022-09-06 20:56] wuwinson commented on #3782
Thanks for reporting @hmhealey!

Able to repro on Personal Desktop Mac edition:

https://user-images.githubusercontent.com/93531870/188735740-fcbdebb2-6f55-405c-94e6-48ed81872861.mov

Not able to repro on Community in MM Desktop App on Mac:

https://user-images.githubusercontent.com/93531870/188735047-f29626c5-9234-450c-b38d-84c6c5a4fb62.mov

[2022-09-06 21:14] wuwinson opened #3785 "Feature Idea: Update confirmation message to account for Guest Accounts when linking boards to a channel"
## Summary

When linking a board to a channel, Guest accounts from the channel are not automatically granted access to the board. The board admin should be informed of this so they know who will be getting access to their board.

The copy on the 4 confirmation messages below need to be updated to:

See [thread](https://community.mattermost.com/private-core/pl/dpw8uj3dbpdsijdobueacp7kyc) for refere

[2022-09-06 21:15] wuwinson commented on #3785
cc @justinegeffen @asaadmahmood @Pinjasaur for input.

[2022-09-06 21:24] Pinjasaur commented on #3785
If we're able to keep it identical for all 4 modals that'll simplify the i18n/translation aspect of it.

Perhaps:

0/5 otherwise

[2022-09-06 21:34] wuwinson opened #3787 "Feature Idea: Push Channel posts into card comments"
## Summary

When working on providing updates to board cards for a project that I am tracking, I want to be able to take a comment from a Mattermost channel and push it to the card so I have a record of pertinent update or a decision that was made that affects the progress towards completion of the project.

See [thread](https://community.mattermost.com/core/pl/dt6kshfaj3yc5j5ceit4x4naur) for deta

[2022-09-07 02:10] MingSwivel commented on #3728
`{"timestamp":"2022-09-07 10:08:04.132 +08:00","level":"error","msg":"API ERROR","caller":"app/plugin_api.go:975","plugin_id":"focalboard","code":"500","error":"\"unsupported archive line type; got board, line 2\"","_msg":"","api":"/api/v1/workspaces/xxxxxxxxxxxxxxxxxxxxx/archive/import"}`
@wuwinson

[2022-09-07 02:14] MingSwivel commented on #3728
Did anyone try to export and import Jira into Boards? The content format seems wrong.

[2022-09-07 06:23] AuspeXeu opened #3788 "Bug: boards not loading"
## Steps to reproduce the behavior

![image](https://user-images.githubusercontent.com/2115696/188803537-9276658d-b403-4d56-934d-add62373b154.png)
![image](https://user-images.githubusercontent.com/2115696/188824459-1f9c5a1e-4b11-488a-9f81-290033218f1b.png)

## Edition and Platform

 - Edition: Personal Server (docker)
 - Version: v7.2.0
 - Browser and OS: Firefox, Chrome, Edge - Windows 10

## Ad

[2022-09-07 08:16] Rajat-Dabade opened #3789 "Bug: Multiperson property failed in kanban view."
## Steps to reproduce the behaviour

1. Create a board.
2. Create at least 2 cards.
3. Open a card and add the multiperson property and add a value to the multiperson property only to one of these cards.
5. Close the card and in the header - properties - check the multiperson property.
6. See an error

## Expected behaviour

The multiperson should show in the close kanban card.

## Screenshots (op

[2022-09-07 09:15] jespino commented on #3307
I think this is not fixed in main, if you have permissions to manage members of the board you are going to be able to search for users in the team, if not you are not going to be able. Once you choose one of the members, you need to add the member to the board to assign it, if not, you are no going to be able to assign it. Can you confirm that is what you expect @wuwinson ?

[2022-09-07 10:54] Rajat-Dabade commented on #2413
This is been done as a part of this PR: https://github.com/mattermost/focalboard/pull/3741, so closing this issue.

[2022-09-07 10:54] #2413 closed

[2022-09-07 13:40] hoellmet commented on #3728
Seems like my error with asana import:
https://github.com/mattermost/focalboard/discussions/3784

[2022-09-07 13:59] MingSwivel commented on #3728
Is it JSONL?
I found the Jira export is sth cannot be opened. Sadly.
Hope someone fixes it soon.

[2022-09-07 14:27] wuwinson commented on #3307
@jespino Yep, this is the expected behavior for a private board. Only board admins will be able to search for users on the team and add them to the board. Everyone else will only see board members on the person property and for @mentions.

For a public board however, an Editor or Commenter can also search for users on the team, and add them to the board as the **default** role. A board Admin on a

[2022-09-07 15:04] #3019 closed

[2022-09-07 15:06] mgdelacroix commented on #3735
@kamre glad everything worked fine!

I'm closing the issue as per the current status, @fraschm1998 please feel free to reopen it if required

[2022-09-07 15:06] #3735 closed

[2022-09-07 18:54] hmhealey commented on #3782
Here's a recording I took in the MM desktop app since I do see it there as well. That's strange that it didn't repro for you. Perhaps it's something to do with where in the table the column is located?

https://user-images.githubusercontent.com/3277310/188955830-36a5d598-c747-4d75-8257-f5c40d83ba04.mov

[2022-09-07 20:22] #3658 closed

[2022-09-08 02:08] sbishel opened #3797 "Bug: Telemetry for Boards no longer being sent"
https://community.mattermost.com/private-core/pl/qqihcqdu73gwuqdnmka5ec863e

Something changed in Focalboard telemetry starting 7.2 and we aren't receiving telemetry data for this column board (number of boards on server). We stopped collecting this data, for this column exactly after the time they upgraded.

![image](https://user-images.githubusercontent.com/12704875/189017638-6124ff7f-f1d5-4580-

[2022-09-08 08:30] mgdelacroix opened #3798 "Bug: board icon selectors misaligned"
## Steps to reproduce the behavior

1. Go to any board
2. Click on the board icon
or
Click on the views menu
or
Click on the kanban group menu

## Screenshots (optional)

Icon selector
![image](https://user-images.githubusercontent.com/223323/189074123-b472cad2-73de-403a-bd1a-3a003adfa6c7.png)

Views selector
![image](https://user-images.githubusercontent.com/223323/189074846-065a212e-8543-45cb-ba

[2022-09-08 08:39] mgdelacroix opened #3799 "Bug: hiding a board doesn't work the first time"
## Steps to reproduce the behavior

1. Hide a board on your RHS
2. It will not hide
3. Hide it again
5. It will work

## Expected behavior

The operation should work at the first attempt

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: v7.3-RC1
 - Browser and OS: Firefox 104.0.2 on Linux

[2022-09-08 08:47] Rajat-Dabade opened #3800 "Bug: Following button and menuwrapper button is misplace in card view"
## Steps to reproduce the behaviour

1. Go to any board
2. Open a card
3. See error the following button and menuWrapper button is misplaced.

## Expected behaviour
<img width="770" alt="Screenshot 2022-09-08 at 2 14 43 PM" src="https://user-images.githubusercontent.com/26198062/189077700-0b306469-751b-42f6-aec4-312999433ada.png">

## Screenshots (optional)
Currently, it is like this
![Screenshot

[2022-09-08 13:21] mawanthad opened #3802 "Bug: Language changed unexpectedly, now EN not available."
My language automatically change to another language suddenly. But now when I am trying to change the language ENGLISh is not there in the list. Can you please check this.

[2022-09-08 15:30] hmhealey opened #3803 "Bug: Dark themes sometimes applied incorrectly in plugin"
## Steps to reproduce the behavior

In both of the below cases, the backdrops/text on certain properties such as column labels, statuses, and multiselect properties appears as light-on-light making them difficult to read.

#### Repro steps 1
1. In Channels, select a dark theme
2. Switch to Boards using one of the following methods that opens Boards in a new tab:
    1. Clicking on the App Bar butt

[2022-09-08 15:33] hmhealey opened #3804 "Bug: Empty cards are created when no changes are made"
## Steps to reproduce the behavior

1. Click on the "+ New" button to make a new card
2. Immediately close the modal without making any changes

## Expected behavior

A card isn't created automatically unless the user enters some text or makes some changes. It feels too easy to accidentally create cards that you didn't mean to.

## Screenshots (optional)

![Screen Shot 2022-09-08 at 11 32 24 AM](h

[2022-09-08 15:33] hmhealey opened #4843 "Bug: Empty cards are created when no changes are made"
## Steps to reproduce the behavior

1. Click on the "+ New" button to make a new card
2. Immediately close the modal without making any changes

## Expected behavior

A card isn't created automatically unless the user enters some text or makes some changes. It feels too easy to accidentally create cards that you didn't mean to.

## Screenshots (optional)

![Screen Shot 2022-09-08 at 11 32 24 AM](h

[2022-09-08 15:38] hmhealey opened #3805 "Bug: Unable to find boards to link to a channel"
## Steps to reproduce the behaviour

1. In Channels, click on the Boards icon in the App Bar
2. Click on the "+ Add" button if the channel already has boards or "Link boards to ~" if the channel doesn't
3. In the modal that pops up, enter the name or partial name of another channel

## Expected behaviour

The channel is displayed

## Screenshots (optional)

In this example, there's a Web Platform

[2022-09-08 17:38] gigibytes opened #3806 "Bug: Blank Window on Launch"
## Steps to reproduce the behavior

1. Download and extract focalboard-linux.tar.gz
2. Double-click focalboard-app

## Expected behavior

Expected a window with buttons/text/images.

## Screenshots (optional)
![image](https://user-images.githubusercontent.com/5151947/189189197-019b9fb9-2c48-4c4d-85d0-e143caa0d6aa.png)

## Edition and Platform

 - Edition: Personal Desktop
 - Version: 7.2.1
 - Brow

[2022-09-08 18:19] wiggin77 opened #3807 "Bug: `Link boards` modal has empty boards list when opening"
## Steps to reproduce the behavior

1. Make some boards
2. From Channels, select `Link boards to ...`
3. Observe the boards list appears empty, despite boards existing
4. Typing a letter that happens to appear in the board name will display the board;  what if I don't remember the name?  Type random characters until I see it?

## Expected behavior

When the boards filter string is empty, show all

[2022-09-08 18:27] sbishel opened #3808 "Bug: Cannot create explicit membership for implicit member"
## Steps to reproduce the behavior

1. Create a board with a channel association.
2. In share dialog, attempt to find a member of the channel
3. Channel members are not displayed, so you cannot choose one.

## Expected behavior

Channel members should be available to create explicit membership.

## Screenshots (optional)
<img width="625" alt="Screen Shot 2022-09-08 at 12 26 10 PM" src="https://use

[2022-09-08 18:31] wiggin77 commented on #3655
I have reproduced this again on https://boards-bugbash73.test.mattermost.cloud

[2022-09-08 18:39] sbishel opened #3809 "Bug: Multi-Person member doesn't display if removed."
I"m not sure if this is bug or the proper functionality, but currently doesn't feel right.

## Steps to reproduce the behavior

1. Create a Multiple Person property
2. Add multiple members to the property
3. Remove one of the members from the board
3a - Either unlink a channel
3b - Or delete explicit membership
4. Member is no longer displayed in multi person property.

5. Add member back to board

[2022-09-08 18:42] wiggin77 opened #3810 "Bug: Shard Board role selector has misplaced check mark."
## Steps to reproduce the behavior

1. Go to Share Board modal
2. Click on role selector
3. Observe check mark misaligned

## Expected behavior

Check mark in correct position

## Screenshots (optional)

![check-mark-wrong](https://user-images.githubusercontent.com/5024605/189200516-05fa9b2b-5a45-44fa-b31c-d8e93c457bbe.png)

## Edition and Platform

 - Edition: Bugbash 7.3
 - Version: 7.3
 - Brows

[2022-09-08 18:47] sbishel opened #3811 "Bug: User with Commenter role gets error accessing card"
## Steps to reproduce the behavior

1. Set team members to be "commenter" on a board
2. Search and select the board as a member of that team.
3. Attempt to open a card.
4. See error

## Expected behavior

User should be able to access the card as a commenter
## Screenshots (optional)
<img width="833" alt="Screen Shot 2022-09-08 at 12 45 29 PM" src="https://user-images.githubusercontent.com/1270487

[2022-09-08 18:53] Pinjasaur opened #3812 "Bug: infinite error redirect loop"
## Steps to reproduce the behavior

1. Go to a board with a view that causes an error `Boards: Sprints` in https://boards-bugbash73.test.mattermost.cloud/boards/team/emkcjitr1jfs5nzhntbj6dzztr/bcic7hnpf1bnf8x9b6hnxqhqmpc/v51b4fn1f7brfxkfk49cwzzndnr
2. Attempt to select the same error view again
3. Observe error redirect loop (1+ minute)

## Expected behavior

Not stuck in error redirect loop.

##

[2022-09-08 18:59] wuwinson opened #3813 "Bug: Follow button and options menu is repositioned and cut off"
## Steps to reproduce the behavior

1. Go to a card
2. Click on options menu
3. See error - menu is cutoff

## Expected behavior

Options menu is fully visible. @asaadmahmood Confirming again - is "Follow" button intentionally repositioned to the left now?

## Screenshots (optional)

![Screen Shot 2022-09-08 at 2 47 04 PM](https://user-images.githubusercontent.com/93531870/189203677-1c511f5d-c33a-

[2022-09-08 19:06] wuwinson commented on #3807
Potentially show recents first, then all the boards the user has access to. When user starts entering a search term, display matched results. Thoughts @asaadmahmood?

[2022-09-08 19:09] Pinjasaur commented on #3807
I think we could kick off an empty search e.g. `''` and load the first e.g. 10 like we do for mentions:

https://github.com/mattermost/focalboard/blob/4652a15babf483645b9338df53efa25ab2b3e73d/webapp/src/components/markdownEditorInput/markdownEditorInput.tsx#L105-L109

[2022-09-08 19:15] wuwinson commented on #3800
Dupe of #3813

[2022-09-08 19:15] #3800 closed

[2022-09-08 19:18] wuwinson commented on #3804
@hmhealey This is the current behavior, but agreed we should improve this experience. cc @asaadmahmood

[2022-09-08 19:48] wiggin77 commented on #3812
May be happening on community as well:  https://community.mattermost.com/private-core/pl/humyg56q87g7brrx9uboqtj8dh

[2022-09-08 21:30] wuwinson opened #3814 "Bug: Minimum board roles not working"
## Steps to reproduce the behavior

#### Default role on public board
1. Go to a board and open the Share dialog
2. Set minimum team role to "Commenter"
3. Add an explicit member to the board
4. See error - user is added as an "Editor"

#### Setting role lower than minimum
5. Change the user's role to "Viewer"
6. See error - user can be set to "Viewer" even though minimum role is "Commenter"

####

[2022-09-08 22:22] wuwinson opened #3815 "Bug: Linked board keeps redirecting to an error page"
## Steps to reproduce the behavior

1. Open Boards RHS from a channel
2. Click on a linked board
3. The linked board opens on a new tab
4. From the same tab, open another board on your sidebar
5. Go back to the channels tab
6. Click on the same linked board from step 2
7. See error

## Expected behavior

The board you clicked on opens in a new tab.

## Screenshots (optional)

https://user-images.g

[2022-09-08 23:35] BloodshotPico commented on #124
I'm assuming this is still an ongoing problem trying to run this on a Pi?
Sucks looks really good to run, if anyone knows something similar that can run on the Pi am I able to get those at all?

If not that's fine, I'll probably run this on an actual machine, just going to take longer.

[2022-09-09 05:43] SpookOz opened #3816 "Bug: Error when manually adding row to board_members table using sqlite3"
## Steps to reproduce the behavior

Using Docker version of focalboard. Unbeknownst to me, a user I shared my board with was creating their own boards and using them. The user has now left and I need to gain access to the boards. I tried to gain access using:
[code]

## Expected behavior

I was hoping to be able to access the board

## Error

I can now see the board when searching for it, but cann

[2022-09-09 06:19] SpookOz commented on #3816
Note, I was able to get around this issue by copying a current row:
[code]
But I'm still curious as to what I'm missing in the roles column

[2022-09-09 09:42] #3773 closed

[2022-09-09 16:21] chenilim opened #3821 "Bug: Mention @ autocomplete doesn't filter on typing"
## Steps to reproduce the behavior

1. Open a card
2. Enter a comment
3. Type `@` then the start of a user's name
4. The list doesn't filter

## Expected behavior

The list should filter to users with those characters in their name

## Screenshots (optional)

<img width="385" alt="Screen Shot 2022-09-09 at 9 16 57 AM" src="https://user-images.githubusercontent.com/46905241/189396168-f6fd6ff2-d97e-

[2022-09-09 17:34] Genei180 commented on #124
@BloodshotPico as mentioned earlier it, I tried to implement it at #1700 which is not yet merged.

I looked at it again, and tried to resolve the Existing Merge Conflicts.
Maybe it will be accepted now.

I don't know why it didn't go true last time.
But in theory it allows for all OS's which are supported by the GO Compiler, if I remember it Correctly.

[2022-09-10 01:56] #3656 closed

[2022-09-10 02:17] wiggin77 opened #3824 "Bug: Cannot create board from `Link to Channel` model in DM channel"
## Steps to reproduce the behavior

1. Have some boards created
2. From a DM channel, open Boards RHS
3. Select  `Link boards to DM`
4. Select `Create a board`
5. Template selector briefly appears then disappears, showing last open board.

## Expected behavior

Template selector should stay up, allowing user to create a board

## Screenshots (optional)

![create-board-bug](https://user-images.gith

[2022-09-10 19:29] lindy65 commented on #3813
Adding here that the menu being cut off also reproduces when creating a template from a card then clicking on the 3-dot menu from within the template

![image](https://user-images.githubusercontent.com/13020833/189498964-879e4859-dce5-4475-b95c-403765a184ff.png)

This issue was found by a QA community contributor and I also reproduced on the https://boards-bugbash73.test.mattermost.cloud/ server.

[2022-09-11 05:36] tuqueque opened #3826 "Bug: "Could not connect: Connection timed out" error..."
Hello, I installed Focalboard from the AUR (https://aur.archlinux.org/packages/focalboard-bin ) repository (Manjaro Linux), but when I open the app, the window is just blank for about 1 minute and after that, it turns white with a prompt that says:
`Could not connect: Connection timed out`
![2022-09-11_00-56](https://user-images.githubusercontent.com/13471025/189513977-28621cf0-55e3-4d52-b4fb-210d

[2022-09-12 06:00] harshilsharma63 commented on #3789
@Rajat-Dabade the board crash is fixed but the UI looks funny when adding too many users in the property-

![Uploading Screenshot 2022-09-12 at 11.29.40 AM.png…]()

ccing @asaadmahmood  for thoughts

[2022-09-12 10:29] #3789 closed

[2022-09-12 11:13] harshilsharma63 commented on #3812
@wuwinson @Pinjasaur this was fixed by #3793 I've uploaded lagtest 7.3 with the patch on bugbashs server. Please give it a go.

[2022-09-12 15:05] #3813 closed

[2022-09-12 15:29] chenilim opened #3830 "Bug: Person property cells overflow in table view"
## Steps to reproduce the behavior

1. Open a table view with person property columns
2. The person names overflow the cell

## Expected behavior

Should not overflow

## Screenshots (optional)

<img width="362" alt="Screen Shot 2022-09-12 at 8 27 54 AM" src="https://user-images.githubusercontent.com/46905241/189694337-4f6b72ad-18ff-4550-b364-d5c6354ca62a.png">

## Edition and Platform

 - Edition

[2022-09-12 16:21] wuwinson commented on #3815
@harshilsharma63 Might have to work with SRE to get error and/or database info. cc @sbishel @ogi-m

[2022-09-12 16:23] wuwinson commented on #3806
@gigibytes Can you share any error messages to help us triage this issue? Thanks! cc @sbishel

[2022-09-12 16:28] wuwinson commented on #3802
@mawanthad We're not able to reproduce this issue on Community, can you provide more details on how you ran into this issue along with information on your OS version and edition, MM Boards edition, and screenshots/recordings. Thanks!

[2022-09-12 16:29] mawanthad commented on #3802
It is windows 10 64 bit and it suddenly appears.

On Mon, 12 Sep 2022, 21:58 Winson Wu, ***@***.***> wrote:

[2022-09-12 19:30] wuwinson commented on #3802
Thanks @mawanthad! In that case, we'll close out this ticket. Please feel free to re-open if it's still an issue. Thanks!

[2022-09-12 19:30] #3802 closed

[2022-09-12 20:14] Pinjasaur commented on #3812
Just did some testing and it appears resolved. My concern is still that our error handling was allowing the recursive `/boards` appending. That doesn't have to be fixed for this ticket, but if it's not we should create another ticket to track fixing that.

[2022-09-12 20:21] Pinjasaur commented on #3808
I'll need to dig in a bit more but I _think_ the problem is they're being filtered out because they're already showing up as board members (because they're implicit through the channel<>board association).

https://github.com/mattermost/focalboard/blob/ed655ac996fd39327c01e288b8dcecb649aae73c/webapp/src/components/shareBoard/shareBoard.tsx#L363

[2022-09-12 21:54] wuwinson commented on #3830
Reproducible in v7.3 Bug Bash server as well.

If we want to stay consistent with current table view behavior, the names should get clipped when it reaches the width of the cell.

However, it might be a better experience for the cell to auto-expand to a max width then start wrapping the text up to certain number of lines before requiring the user to manually expand the cell. Would be helpful for `

[2022-09-12 22:01] wuwinson commented on #3821
@chenilim Are you still running into this issue? Not able to repro on Community. Tried Chrome and MM Desktop app. Also tested on v7.3 and can't repro there either. cc @ogi-m

[2022-09-12 22:06] wuwinson commented on #3746
Confirmed this is fixed on v7.3 Bug Bash server. Users are filtered as you type on both private and public boards, and we also indicate which users are not explicit board members. Closing out.

[2022-09-12 22:06] #3746 closed

[2022-09-12 22:17] wuwinson opened #3833 "Bug: Autocomplete indicator for non-board members does not match designs"
## Steps to reproduce the behavior

1. Go to comments section on any card
2. Start @mentioning a non board member
3. See error on autocomplete list

## Expected behavior

Indicator for non-board members should appear right-aligned to the autocomplete box in a different font and color from the username.

## Screenshots (optional)
### Actual
![Screen Shot 2022-09-12 at 6 07 51 PM](https://user-image

[2022-09-12 22:18] gdguesser commented on #1261
Can this one be closed? Since the PR [#1309](https://github.com/mattermost/focalboard/pull/1309) has been already merged.

[2022-09-12 22:21] wuwinson commented on #3815
@harshilsharma63 Still waiting to get more details from @amynicol1985. Please hold off on this one for now. Thanks!

[2022-09-12 22:23] chenilim commented on #3821
Yup, it repros on [this card](https://community.mattermost.com/boards/team/qghzt68dq7bopgqamcnziq69ao/2510923b-40de-4a48-871f-cb8f85517a0b/effcc895-53a6-4af5-8320-9aabac657178/c14gbsocagprkup7nkjm8c6hr1r), but not in a card from the Internal Focalboard channel (Weekly Focalboard meeting agenda). Maybe it's board specific?

[2022-09-12 22:43] wuwinson commented on #3821
Thanks @chenilim! Ran a few tests and this looks like it only occurs on a private board when the user has synthetic membership. Does not occur any public boards or boards where users have explicit membership. Tested in v7.3 Bug Bash and not able to repro there, so might already be resolved. @ogi-m Can you confirm? Our [Boards Team Meetup Location](https://community.mattermost.com/boards/team/qghzt

[2022-09-13 08:18] gdguesser commented on #47
Hello @chenilim is this available?

[2022-09-13 09:52] filippofontana commented on #3806
Hi! Same OS and same error. These are the logs retrieved from the terminal:
[code]
I got 3 `CONSOLE (JS) ERROR`.

Hope it helps.

[2022-09-13 10:09] hoellmet opened #3834 "asana import fails"
### Discussed in https://github.com/mattermost/focalboard/discussions/3784

# Steps to reproduce the behavior

I tried to import a asana.json board archive.
I do all the steps in the import/asana/README.md and https://docs.mattermost.com/boards/data-and-archives.html document,
but if i try to import in mattermost no cards are imported and no error message is shown

1. From the Asana Board Menu (dr

[2022-09-13 11:13] mgdelacroix commented on #3788
Hi @AuspeXeu! Can you please post the URL that you're trying to access when the error happens and the sequence of requests on the Network tab to see what is happening at a request level?

It would be ideal if you could attach one sequence from a successful load and another one from a failing one.

[2022-09-13 12:17] AuspeXeu commented on #3788
The url is just the base url like `https://boards.example.com` which then gets changed to `https://boards.example.com/b1qicbkfdz3ge8k7rs7kywhydxr` in my particular case.

First the sequence of call of a failing load:
![image](https://user-images.githubusercontent.com/2115696/189898419-976b19a3-b9b6-4086-9d8f-884f00e74eb6.png)

And a successful load:
![image](https://user-images.githubusercontent.c

[2022-09-13 14:34] chenilim commented on #47
cc @wuwinson, @sbishel.

[2022-09-13 16:11] jespino commented on #3811
I'm not able to reproduce this locally, can we check it again?

[2022-09-13 18:14] vaygr commented on #343
I came from the Asana world, so it'd be really nice to have a setting that swaps positions of the main content and comments.

[2022-09-13 19:04] hmhealey commented on #3805
That's not the case for the board that I wanted to link, but I also wasn't able to see boards that I'd previously created. myself. The other one I was looking for was on another team though if that's relevant.

More specifically, I was in the Web Platform channel on the private team on community, and I was trying to link a board that Pantelis created a couple weeks ago. I wasn't able to see a boar

[2022-09-13 20:34] sbishel commented on #3811
I can't duplicate even on the bug bash server which is where I produced it before. I was switching between several roles, so I'm not sure exactly how to duplicate. Closing for now.

[2022-09-13 20:34] #3811 closed

[2022-09-13 20:37] #3797 closed

[2022-09-13 21:17] wuwinson commented on #3785
@justinegeffen Any updates on the copy for this? Thanks!

[2022-09-13 22:28] Pinjasaur commented on #3771
While testing this locally I realized that this should probably apply to the Search Boards modal, too. Currently a guest can search for a board they are an implicit member of via a channel association. Is that correct @wuwinson?

[2022-09-13 22:30] wuwinson commented on #3771
Good catch! Yep, guests should not be able to search for any boards they're not an explicit member of.

[2022-09-13 23:13] Pinjasaur commented on #3771
cc @sbishel

[2022-09-14 09:21] mgdelacroix commented on #3788
Nothing seems to be failing on those request chains. The error happens in all boards and views or is it one specifically that fails? If that is the case, what's the type of view that causes the error? (as in Kanban view, Table view, etc) Is there anything that triggered these errors initially? Any action, update or change?

[2022-09-14 10:00] AuspeXeu commented on #3788
It fails on the initial page load of the focalboard server instance. Not any particular board. I cannot even get to any view since the screen just remains blank.

[2022-09-14 10:02] mgdelacroix commented on #3788
Thanks for all the information :) Is it a fresh instance? How does it behave from an incognito window?

[2022-09-14 12:18] AuspeXeu commented on #3788
Same issue for an incognito window unfortunately. I'll try with a fresh instance as well, I would assume that I should import my existing database to simulate a real-world case?

[2022-09-14 12:25] mgdelacroix commented on #3788
I see. You could try with a new instance and import your DB, but I don't think it would help. You were using the tool before then, when did it start to fail? did you update the server or do any action while using it that you could think of as the starting point of the failures?

[2022-09-14 12:51] luvwinnie commented on #2343
does this merged in the latest 7.3 version?

[2022-09-14 12:59] AuspeXeu commented on #3788
Oh, it was definitely not present prior to version `7.1.2`. After that upgrade it started failing.

[2022-09-14 13:11] #2769 closed, assigned to jespino

[2022-09-14 13:23] luvwinnie commented on #2343
Can someone shows the way to fix this issue?Maybe I should build the plugin by myself to fix this issue.

[2022-09-14 14:37] mgdelacroix commented on #3788
Could you please reach me on https://community.mattermost.com to talk synchronously? My username is `miguel.delacruz` there

[2022-09-14 16:04] tuqueque commented on #3826
I tried both, the AUR repository and an official release from here (your Github page) and both gave me the exact same error I posted.

I use Manjaro Linux (XFCE). I keep it up to date always. Kernel 5.19...

The error I get seems to imply that is trying to establish some sort of connection. I have Internet connection, but as far as I know, this program runs locally on the computer, no Internet con

[2022-09-14 18:22] #3808 closed

[2022-09-15 08:30] asaadmahmood opened #3846 "Bug: Multiple console errors when on the first tour point"
## Steps to reproduce the behavior

1. Create a new user
2. Go take a tour
3. Notice bunch of console errors when the board loads with the first tour point

## Expected behavior
No console errors

## Screenshots (optional)
<img width="1045" alt="Screenshot 2022-09-15 at 1 27 06 PM" src="https://user-images.githubusercontent.com/11034289/190355232-b38ea233-264c-427a-b9d5-011aa0fd5bfe.png">

## Edit

[2022-09-15 08:32] harshilsharma63 opened #3847 "Bug: Unable to convert between certain property types"
## Steps to reproduce the behavior

1. Create a multi select property.
2. Try converting it to a text type.
3. There is no user error message about type incompatibility or anything. It just doesn't work.

Also, converting number property to text removes its values, but it shouldn't as text can contain number

[2022-09-15 08:33] asaadmahmood opened #3848 "Bug: Clicking next or previous on tour points at the first time does not work"
## Steps to reproduce the behavior

1. Create a new user
2. Take a tour
3. Open a card, and go to tour points on the card

## Expected behavior
Clicking next or previous on tour points should work

## Screenshots (optional)
https://www.loom.com/share/0aba577eaf134f88b248ceec2821b253

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: 7.3
 - Browser and OS: Chrome on Mac

#

[2022-09-15 08:39] harshilsharma63 opened #3849 "Bug: Text should be aligned towards left in card template list"
<img width="340" alt="Screenshot 2022-09-15 at 2 09 10 PM" src="https://user-images.githubusercontent.com/18575143/190357286-0b239d29-d69c-46dc-a818-4a84bc2c3bb8.png">

[2022-09-15 10:40] #3833 closed

[2022-09-15 10:40] #3770 closed

[2022-09-15 10:40] #3798 closed

[2022-09-15 10:40] #3660 closed

[2022-09-15 11:58] #3799 closed

[2022-09-15 13:43] johan-d-x opened #3852 "Bug: Missing notifications for board events and mentions"
We're having trouble using Boards in our team due to notification trouble.

We've applied this manual fix: https://github.com/mattermost/focalboard/discussions/2415

Notifications are still inconsistent:
- The `@boards` bot isn't available/functioning for all boards (between 2 users for instance and even for some public boards)

- It is unclear what event the `@boards` is supposed to track and fol

[2022-09-15 18:51] wuwinson opened #3853 "Bug: "New template from card" text wrapped on menu"
## Steps to reproduce the behavior

1. Open a card
2. Select  options menu (...)
3. See error - "New template from card" text is wrapped

## Expected behavior

Width of menu should span the width of the "New template from card" text so it doesn't wrap.

![Screen Shot 2022-09-15 at 2 50 26 PM](https://user-images.githubusercontent.com/93531870/190485654-fa3f59b8-0e82-4509-8749-9e39aa71177d.png)

##

[2022-09-15 19:48] #3814 closed

[2022-09-15 19:59] wuwinson commented on #3785
Thanks @justinegeffen! @sbishel @Pinjasaur The text has been finalized.

[2022-09-15 20:48] sbishel commented on #3744
Appears to have been fixed by https://github.com/mattermost/focalboard/pull/3835 - tested on latest https://boards-bugbash73.test.mattermost.cloud

[2022-09-15 20:48] #3744 closed

[2022-09-15 20:51] sbishel commented on #3848
Retested on latest - https://boards-bugbash73.test.mattermost.cloud/
Appears to have been fixed.

[2022-09-15 20:51] #3848 closed

[2022-09-15 20:52] #3693 closed

[2022-09-15 20:58] sbishel commented on #2962
Retested on latest https://boards-bugbash73.test.mattermost.cloud/
- this is still an issue.

[2022-09-15 21:00] sbishel commented on #3849
@asaadmahmood - hopefully this is quick based on your other recent UX fixes. Not sure if we should be assigning to you still or not?

[2022-09-15 21:05] sbishel commented on #3824
@wiggin77 - I retested this on latest https://boards-bugbash73.test.mattermost.cloud/ and could no longer duplicate. Could you double check and close if fixed.

[2022-09-15 21:07] sbishel commented on #3655
This appears fixed on latest - https://boards-bugbash73.test.mattermost.cloud/
(or need to somehow get in the right state to duplicate.

Tested when testing -
https://github.com/mattermost/focalboard/issues/3824

[2022-09-15 21:08] wiggin77 commented on #3824
Agreed @sbishel - I can no longer reproduce.

[2022-09-15 21:08] #3824 closed

[2022-09-15 21:12] wiggin77 commented on #3655
I cannot reproduce on latest bug bash server.

[2022-09-15 21:12] #3655 closed

[2022-09-15 23:07] wuwinson commented on #3810
Re-opening - Still occurring on both the team role dropdown and explicit member dropdown, although slightly differently.

![Screen Shot 2022-09-15 at 7 06 03 PM](https://user-images.githubusercontent.com/93531870/190523763-9848fe9c-1251-430d-b248-7e6e8898d5f4.png)
![Screen Shot 2022-09-15 at 7 06 10 PM](https://user-images.githubusercontent.com/93531870/190523766-39d44b50-e30f-48a2-8965-1c0b7266cd

[2022-09-15 23:14] wuwinson opened #3855 "Bug: RHS doesn't scroll all the way down"
## Steps to reproduce the behavior

1. Go to https://boards-bugbash73.test.mattermost.cloud/focalboard/channels/town-square
2. Decrease window size so that RHS requires scrolling
3. See error - last board is cut-off and can only be viewed if window size is expanded

## Expected behavior

RHS scrolls all the way to the last board

## Screenshots (optional)

https://user-images.githubusercontent.com

[2022-09-16 02:44] asaadmahmood commented on #3810
@wuwinson I don't think there has been a realse for this yet. Did you check this on master?

[2022-09-16 03:02] asaadmahmood commented on #3849
@sbishel Yup, feel free to assign things to me, I'll try to get any UX UI fixes in even over the weekend so we're good for the release.

[2022-09-16 08:01] AuspeXeu commented on #3788
It seems like our nginx reverse proxy in front of the docker image is causing the issue since directly exposing port 8000 of the docker image works without problems. We're actually using the nginx configuration of the official documentation: https://www.focalboard.com/download/personal-edition/ubuntu/

[2022-09-16 09:39] mgdelacroix commented on #3848
Can't reproduce neither on `main` nor on `v7.3`

[2022-09-16 09:44] asaadmahmood commented on #3853
Can't reproduce neither on master or on https://boards-bugbash73.test.mattermost.cloud/boards/team/emkcjitr1jfs5nzhntbj6dzztr/bqoq5yf17wffg7e34pfg4pgtt4e/vzor5wijsdbnbfc5cxkn89i85ae/c5k7ru5iro7ynicd1axmtzmwexr

@wuwinson Can you have a look.

[2022-09-16 13:34] wuwinson commented on #3853
Can't repro anymore, closing out. Thanks @asaadmahmood!

[2022-09-16 13:34] #3853 closed

[2022-09-16 13:37] wuwinson commented on #3810
Thanks @asaadmahmood! Not sure what was happening yesterday... but looks good now!

[2022-09-16 13:37] #3810 closed

[2022-09-16 13:50] sbishel commented on #2846
Retested on https://boards-bugbash73.test.mattermost.cloud/ appears fixed.

[2022-09-16 13:58] sbishel commented on #1804
Subdirectories were fixed a while ago. Closing this issue, please reopen if still seeing this issue.

[2022-09-16 13:58] #1804 closed

[2022-09-16 17:15] mgdelacroix commented on #3788
An interface flick behind the proxy was causing the websocket to send a command in between component mount and unmounts, after the client was closed, and the resulting error was making the interface crash.

https://github.com/mattermost/focalboard/pull/3858 catches websocket errors, logging them and preventing the crash.

Thanks a ton @AuspeXeu for your time and your help debugging this tricky sit

[2022-09-16 17:15] #3788 closed

[2022-09-16 21:25] wuwinson opened #3862 "Bug: Renaming category creates a new category instead"
## Steps to reproduce the behavior

1. Open options menu on a custom category
2. Select "Rename category"
4. Type in new name then click "Update"
5. See error - a new category is created and current category name is unchanged.

## Expected behavior

Category name is renamed

## Screenshots (optional)

https://user-images.githubusercontent.com/93531870/190774441-e02964d7-4fba-46f4-a678-68983739556b

[2022-09-16 21:34] wuwinson opened #3863 "Bug: Missing minimum role confirmation modal when switching from private to public board"
## Steps to reproduce the behavior

1. Go to a private board
2. Add a few explicit board members and set their roles to Viewer or Commenter
3. Switch team role to Editor
4. See error - confirmation modal does not appear and board is switched to public

## Expected behavior

Confirmation modal appears to inform admin that some explicit board members will get their roles promoted. See designs:

![im

[2022-09-16 21:35] wuwinson commented on #3863
@asaadmahmood @justinegeffen Do we still want to use the term "public board" here? cc @sbishel

[2022-09-16 21:47] wuwinson opened #3864 "Bug: New board members do not assume minimum board role"
## Steps to reproduce the behavior

1. Create a new board
2. Set the team role to "Viewer"
3. Add an explicit board member
4. See error - member is added as "Editor" and not "Viewer"

## Expected behavior

New board members are automatically assigned the minimum team role.

## Screenshots (optional)

https://user-images.githubusercontent.com/93531870/190798954-9c9a7790-4849-44e6-9ea6-3b2147d00a3a.

[2022-09-16 21:56] wuwinson opened #3865 "Bug: "Viewer" role not aligned on drop down for explicit board members"
## Steps to reproduce the behavior

1. Open Share modal on a board
2. Add an explicit board member
3. Click on their role dropdown
4. See error - "Viewer" role is not aligned, but lines up once you select the "Viewer" role. Does not occur on team dropdown, only for explicit membership. Occurs when editing custom templates too.

## Expected behavior

"Viewer" role is aligned with other roles on rol

[2022-09-17 15:28] AuspeXeu commented on #3806
Maybe related to #3788

[2022-09-17 15:28] AuspeXeu commented on #3701
Maybe related to #3788?

[2022-09-17 15:29] AuspeXeu commented on #3362
Maybe related to #3788?

[2022-09-19 09:47] harshilsharma63 opened #3869 "Bug: Multiperson Property - setting a user and removing them from board crashes the app"
## Steps to reproduce the behavior

1. Create a board and a card and create a multiperson property in the card.
3. Set a user in that property.
4. Configure the board to display that property on the board.
5. Now remove that user from the list of board members.
6. Notice the app crashes and error-loops a few times.

## Expected behavior

The app shouldn't crash, like ever.

[2022-09-19 14:00] N3rdP1um23 opened #3871 "Bug: Plugin not able to migrate properly after latest Mattermost v7.3 upgrade"
## Steps to reproduce the behavior

1. Upgraded Mattermost server from v7.2 to v7.3
2. After the Mattermost service was restarted, boards within Mattermost were no longer listed as an option (in the Channel, Boards, Playbooks dropdown)
3. Disabled and reenabled the boards plugin following a similar issue from here https://community.mattermost.com/core/pl/rpttbwstwpbbxcrsgg3d68ikwc - nothing worked

[2022-09-19 14:40] #3869 closed

[2022-09-19 19:18] wuwinson commented on #3834
@Pinjasaur can you please test and fix all imports since v7.2? Thanks! cc @sbishel

[2022-09-19 19:23] wuwinson commented on #3815
@amynicol1985 Are you still able to repro this issue? Can you share a screen recording with us if so? Thanks!

[2022-09-19 19:29] wuwinson commented on #3805
@hmhealey The board needs to be in the same team as the channel, and you'd need to be a board admin to see the board in your search results when linking boards. Can you confirm if that's the case? Happy to chat about this in Mattercon as well.

[2022-09-20 12:29] priv4cy commented on #3312
I saw the same error in arch linux and installing noto-emoji solved my problem. I think Gentoo could be the same.

[2022-09-20 12:29] #3312 closed

[2022-09-22 15:54] psydvl commented on #3806
Same on openSUSE Tumbleweed (Wayland+GNOME Shell 42.4)
Downgrade to 7.1.0 can solve this problem

[2022-09-23 04:51] neonanal commented on #2597
Any progress on this? For people with Omnibug GL installation Focalboards are pretty useless without integration.

[2022-09-23 14:51] Pinjasaur commented on #3785
I'll plan on getting it in for #3786.

[2022-09-23 15:03] Pinjasaur commented on #3821
Yeah this should have been fixed in #3761.

[2022-09-24 10:13] DiederikR opened #3878 "Can't remove created templates"
Hi all,

I just created a template by accident and there seems to be no way of removing it.
I noticed there should be a bin icon when you hover but there is none in version v.7.2.1 running in a Docker container.

Perhaps this is a bug or am I missing something here?

Thanks!

[2022-09-27 02:29] MioAtSwivel opened #3879 "Bug: Updating to 7.2 replaced all images into 4 empty text block"
## Steps to reproduce the behavior

1. Create a board and card in pre-7.2 versions
2. Add add an image to the card
3. Update to 7.2 through updating mattermost
4. Images get replaced into 4 empty text block

## Expected behavior

The images stay there as how it was before updating

## Screenshots (optional)

![image](https://user-images.githubusercontent.com/102662641/192417152-af630ffe-9d51-42d1-

[2022-09-28 10:38] fraschm1998 commented on #3735
.schema:http://sprunge.us/xbJ37F

SELECT * FROM schema_migrations;

[code]

[2022-09-28 18:12] sbishel commented on #3815
I dug into this base on this [conversation](https://community.mattermost.com/private-core/pl/ku8d1kbnotgptcxrf1srp1rnpe).

There are a few different things going on here that will take a while to unpack. But, it essentially goes back to the board not having a select property.
<img width="1483" alt="Screen Shot 2022-09-28 at 12 07 20 PM" src="https://user-images.githubusercontent.com/12704875/19285

[2022-09-28 19:33] wuwinson commented on #3878
@DiederikR Can you provide more details on your server edition and screen recordings if available? Thanks! cc @sbishel

[2022-09-28 19:34] wuwinson commented on #3878
Potentially related to https://github.com/mattermost/focalboard/issues/3695

[2022-09-29 10:35] Defman21 commented on #3677
That's a real bummer that App Store version does not receive updates. I'm okay with compiling it myself, but that's a lot of storage to be consumed by XCode and all the dependencies. Perhaps Focalboard should build a MacOS version for the Releases as well?

[2022-09-29 15:38] sbishel commented on #3821
Can we confirm on https://boards-bugbash73.test.mattermost.cloud/ and close?

[2022-09-29 15:56] #3605 closed

[2022-09-29 16:09] sbishel commented on #1658
Closing as fixed

[2022-09-29 16:13] sbishel commented on #1632
Closing as fixed.

[2022-09-29 16:13] #1632 closed

[2022-09-29 16:14] sbishel commented on #1576
Closing as fixed.

[2022-09-29 16:14] #1576 closed

[2022-09-29 16:15] sbishel commented on #1513
fixed

[2022-09-29 16:15] #1513 closed

[2022-09-29 16:17] wuwinson commented on #3821
Can't repro on https://boards-bugbash73.test.mattermost.cloud/, closing out.

[2022-09-29 16:17] #3821 closed

[2022-09-29 16:17] sbishel commented on #1542
closing https://github.com/mattermost/focalboard/pull/1548

[2022-09-29 16:17] #1542 closed

[2022-09-29 16:22] sbishel commented on #1492
@lindy65 - I'm closing this as fixed, reopen if you still see a problem.

[2022-09-29 16:22] #1492 closed

[2022-09-29 16:23] sbishel commented on #1484
Closing as no longer necessary.

[2022-09-29 16:23] #1484 closed

[2022-09-29 16:25] sbishel commented on #1393
closed as fixed

[2022-09-29 16:25] #1393 closed

[2022-09-29 16:35] sbishel commented on #1278
closing as fixed

[2022-09-29 16:35] #1278 closed

[2022-09-29 16:37] sbishel commented on #1261
fixed

[2022-09-29 16:37] #1261 closed

[2022-09-29 16:42] sbishel commented on #993
closing as fixed

[2022-09-29 16:42] #993 closed

[2022-09-29 16:45] sbishel commented on #835
closing as file no longer exists

[2022-09-29 16:45] #835 closed

[2022-09-29 16:45] #846 closed

[2022-09-29 16:49] sbishel commented on #558
closing, as retest appears fix, please reopen if you still see an issue

[2022-09-29 16:49] #558 closed

[2022-09-29 17:36] lindy65 commented on #1492
Thanks @sbishel - will do!

[2022-09-29 18:03] sbishel commented on #3781
@wuwinson - If we come up with a solution, we could open it up for Hacktoberfest

[2022-09-29 18:41] sbishel commented on #3740
@wuwinson?

[2022-09-29 18:41] wiggin77 opened #3881 "Bug: Person property edit cursor behind avatar"
## Steps to reproduce the behavior

1. Create card with a `Person` property.
2. Select a person to populate it
3. Edit the Person property by clicking on it
4. See the cursor appearing behind the avatar of the person selected in step 2

## Expected behavior

The fact that people who are not members of the board do not appear in the auto-complete drop-down is confusing IMO.  With the cursor hidden

[2022-09-29 18:42] wuwinson opened #3882 "Bug: Permissions text on role drop down is cut-off"
## Steps to reproduce the behavior

1. Go to any board as a board admin
2. Open a card
3. Go to a `person` property field or @mention someone in the comments section
4. Select a person who is NOT a current member of the board
5. Confirmation modal appears with role drop down selector
6. See error - The "Permissions" label on the drop down is cut off

## Expected behavior

"Permissions" label appea

[2022-09-29 18:42] Pinjasaur opened #3883 "Bug: Multi-Person not showing board/non-board members when typing"
## Steps to reproduce the behavior

1. Go to a board with a multi-person property
2. Select the property
3. Start typing
4. Notice no board/non-board members like in a Person property

## Expected behavior

The Multi-Person property to render board/non-board members when typing just like in a Person property.

## Screenshots (optional)

Person property (as-expected):

![image](https://user-images.

[2022-09-29 18:45] wiggin77 opened #3884 "Bug: Multi-Person property does not allow selecting non-board members"
## Steps to reproduce the behavior

1. Create a card with a multi-person property
2. Select the property to edit it
3. Type the first letter of a team member username that is not a board member
4. There is no way to select that user

## Expected behavior

Multi-person property should behave as Person property does with respect to who can be added/selected.

## Screenshots (optional)

![person-prop

[2022-09-29 18:47] sbishel commented on #3519
closing as cannot repo.

[2022-09-29 18:47] #3519 closed

[2022-09-29 18:54] sbishel commented on #3361
closing as fixed

[2022-09-29 18:54] #3361 closed

[2022-09-29 18:55] wuwinson opened #3885 "Bug: Role drop-down for Share boards gets pushed down on boards with many members"
## Steps to reproduce the behavior

1. Go to a board with many explicit members
2. Scroll down to the last member
3. Click on the role dropdown
4. See error - dropdown appears below the modal

## Expected behavior

Dropdown appears directly under the role

## Screenshots (optional)

https://user-images.githubusercontent.com/93531870/193117891-4fc164b8-1d98-4701-b9fe-3afb5651a2cf.mov

## Edition an

[2022-09-29 18:57] sbishel commented on #3357
closing as cannot reproduce

[2022-09-29 18:57] #3357 closed

[2022-09-29 18:59] wiggin77 opened #3886 "Bug: `Add <user> to board` modal has drop-down covering its label"
## Steps to reproduce the behavior

1. Create card in board
2. Add Person property
3. When editing the property, type name of user that is a team member by not board member
4. See UI alignment issue

## Expected behavior

Non-overlapping UI

## Screenshots (optional)

![mattmoss](https://user-images.githubusercontent.com/5024605/193119129-426cd282-8689-47ed-b028-590381cdc51b.png)

## Edition and P

[2022-09-29 19:04] Pinjasaur commented on #3881
Repros on Mac FF too.

![image](https://user-images.githubusercontent.com/6335792/193120103-538d7bcd-b3de-4e8d-8b61-5db37ad5a2bf.png)

[2022-09-29 19:06] wuwinson commented on #3886
Dupe of #3882

[2022-09-29 19:06] #3886 closed

[2022-09-29 19:10] wuwinson commented on #3883
Dupe of #3884

[2022-09-29 19:10] #3883 closed

[2022-09-29 19:11] Pinjasaur commented on #3884
@wiggin77 I'm seeing that behavior you described by leaving a tab idle for a few minutes while doing something else:

Person:

![image](https://user-images.githubusercontent.com/6335792/193121526-14c94b9f-ac0c-439b-a215-b610d422da74.png)

Multi-Person:

![image](https://user-images.githubusercontent.com/6335792/193121561-ee3639a4-915c-4605-ba19-c2c060ae1efb.png)

[2022-09-29 19:14] Pinjasaur commented on #3884
Looks like Multi-Person is showing bots in that scenario too (#3762)

[2022-09-29 19:14] sbishel commented on #3776
@wuwinson?  We can open for Hacktoberfest?

[2022-09-29 20:31] Pinjasaur commented on #3716
Reviewing the article it looks like you're able to mix relative & absolute imports in the same file.

You can also create a `jsconfig.json` to pair with VS Code so autocomplete continues to work as expected e.g.

[code]

---

Doing more searching, I found this article too: https://jeffchen.dev/posts/Automatically-Fixing-Relative-Imports-with-ESLint/

It mentions using TypeScript's `baseUrl` config

[2022-09-29 21:56] wuwinson commented on #3776
Thanks @kamre @sbishel! Let's add the "Export board archive" option below the "New template from board" option for the ... menu next to each board on the sidebar. Button should behave exactly the same as from the boards view. Asaad is out for a few weeks, but please see my hacked together mockup for reference:

![Screen Shot 2022-09-29 at 5 16 08 PM](https://user-images.githubusercontent.com/93531

[2022-09-29 22:56] wuwinson commented on #3781
Thanks @Talismanian @sbishel! We recently updated our documentation to cover hidden boards: https://docs.mattermost.com/boards/navigate-boards.html#manage-boards-on-the-sidebar

I like how ClickUp handles hidden boards on their sidebar, if we could do something similar that would be awesome.

https://user-images.githubusercontent.com/93531870/193153345-a74d995e-3efb-4e2b-83db-3ddad1a0c0ec.mov

##

[2022-09-30 07:48] harshilsharma63 commented on #3781
Sounds doable @wuwinson We can queue this up for future release.

[2022-09-30 08:49] fraschm1998 opened #3891 "Bug: Focalboard database error after upgrade 0.16.0 to 7.2.1"
## Steps to reproduce the behavior

Mattermost updated from docker hub (mattermost/focalboard:7.2.1)

## Expected behavior

For the update to work

## Edition and Platform

- Edition: Personal Server
- Version: mattermost/focalboard:7.2.1
- Browser and OS: Brave/Firefox

## Additional context (optional)

Error:

[code]

.schema:http://sprunge.us/xbJ37F

SELECT * FROM schema_migrations;

[code]

[2022-09-30 10:09] harshilsharma63 commented on #3879
I'm able to reproduce this locally by upgrading from v7.0 to tip of `main`. Looking into this now.

[2022-09-30 10:28] schischa commented on #3871
Got exactly the same error here. Any solution yet?

[2022-09-30 12:27] #3780 closed

[2022-09-30 12:27] #3815 closed

[2022-09-30 12:36] mgdelacroix commented on #3871
Hi @N3rdP1um23, thanks for the report. Could you please post the contents of the `focalboard_schema_migrations` table and the list of the `focalboard_` prefixed tables that your database contains?

Thanks!

[2022-09-30 12:44] N3rdP1um23 commented on #3871
Hey @mgdelacroix,

Anytime!!

Here's the `focalboard_schema_migrations` table
[code]

Here's the list of focalboard prefized tables
[code]

Let me know if you need anything else!

[2022-09-30 14:12] wuwinson commented on #3781
Cool, thanks @harshilsharma63! We're gonna open this one up for Hacktoberfest.

[2022-09-30 14:26] #3307 closed

[2022-09-30 14:26] #3864 closed

[2022-09-30 14:53] mgdelacroix commented on #3871
Thanks @N3rdP1um23! It seems to me that the migration either was completed and not marked as so, or it failed at the last step (populating the `board_members` table), so I'd recommend to do the following; first, if you have not taken a backup of the database, please do so, and then run the following queries with the plugin disabled:

[code]

once completed, try to enable the plugin again, and if a

[2022-09-30 15:06] sbishel opened #3895 "Code Debt: Share common code between Person and MultiPerson properties"
## Summary

The [Person Property] (https://github.com/mattermost/focalboard/blob/main/webapp/src/properties/person/person.tsx) and [MultiPerson Property] (https://github.com/mattermost/focalboard/blob/main/webapp/src/properties/multiperson/multiperson.tsx ) share most of the same code.

Especially after this [PR](https://github.com/mattermost/focalboard/pull/3888) made them work in an equivalent m

[2022-09-30 15:06] sbishel opened #4842 "Code Debt: Share common code between Person and MultiPerson properties"
## Summary

The [Person Property](https://github.com/mattermost/focalboard/blob/main/webapp/src/properties/person/person.tsx) and [MultiPerson Property](https://github.com/mattermost/focalboard/blob/main/webapp/src/properties/multiperson/multiperson.tsx ) share most of the same code.

Especially after this [PR](https://github.com/mattermost/focalboard/pull/3888) made them work in an equivalent man

[2022-09-30 15:11] krmh04 opened #3896 "Bug: An additional scroll bar is present in Calendar View"
## Steps to reproduce the behavior

1.Create a board /Open any board
2. Add a Calendar view/Navigate to calendar view
3. Add two or more cards on a date/day

## Expected behavior

A single scroll bar should be present

## Screenshots (optional)
The bug is present only on Mozilla Firefox and is not visible on Google Chrome and Microsoft Edge.
![firefox](https://user-images.githubusercontent.com/899

[2022-09-30 15:13] #3882 closed

[2022-09-30 15:26] N3rdP1um23 commented on #3871
No problem at all!

It looks like it may have failed on the last migration step as you mentioned. Running the `INSERT into focalboard_board_members` causes the following issue
[code]

Looking for the table collations, I can see the following
[code]

I assume they sould probably be the same collation type? Or casted as such when performing the `INSERT INTO` statement?

[2022-09-30 19:51] wuwinson commented on #3330
@gstlouisgit Our [card templates](https://community.mattermost.com/core/channels/focalboard) may partially address this already. To have tasks automatically assign with a red icon:

1. Open an existing or new card
2. Select the red icon for the card
3. On the options menu (...) on the top right of the card, select New template from card
4. Update any properties you want to pre-populate on the card

[2022-09-30 21:40] hmhealey commented on #3805
Oh, I see. I didn't realize those were requirements. In retrospect, the team thing makes sense with Boards now having the team sidebar, but I didn't know there was such a thing as a board admin.

I can close this then unless me not understanding how that's supposed to work is something you'd want to track.

[2022-09-30 22:03] wuwinson commented on #3805
Thanks for confirming @hmhealey! We also updated our [Help Docs](https://docs.mattermost.com/boards/navigate-boards.html#navigate-boards) to cover the latest changes. Going to close out this ticket, but please feel free to reach out on the [Focalboard Community](https://community.mattermost.com/core/channels/focalboard) channel and/or file an [enhancement idea](https://github.com/mattermost/focalb

[2022-09-30 22:03] #3805 closed

[2022-09-30 22:31] XerofAdmin commented on #3891
Same here, error initializing the Database, mariaDB is not supported - After Upgrade to mattermost 7.3.

[2022-09-30 22:55] wuwinson commented on #2336
Another relevant [thread](https://community.mattermost.com/private-core/pl/g5brmn7k4fr9zny6d8i9twrngh)

[2022-09-30 23:05] wuwinson commented on #2597
Feedback from conversation with [NearApogee](https://www.next.nearapogee.com/):

[2022-09-30 23:08] wuwinson commented on #2597
@neonanal Thanks for the feedback. No updates yet! But it's a potential candidate for next year's roadmap.

[2022-10-01 05:55] cannalee90 commented on #3551
May I take this one?

[2022-10-01 07:05] varghesejose2020 opened #3898 "Popup is not aligned"
## Summary
Found on `https://boards-bugbash73.test.mattermost.cloud/`server >Private Board
In this section we click on three dots and select `Copy Link` Option Copied popup is not alligned
![feature1](https://user-images.githubusercontent.com/71702982/193397195-b6ef6bec-b380-46a6-87ae-25ceb93fb01f.png)

[2022-10-01 07:17] varghesejose2020 opened #3899 "Change Indication icon for Random and Pick Icon"
## Summary
Found on `https://boards-bugbash73.test.mattermost.cloud/`server >On Boarding
Indication Icon of Random and Pick Icon is same. It should be better to change
![image](https://user-images.githubusercontent.com/71702982/193397757-173e8aea-28cd-4d81-a2fe-6402a66e3841.png)

[2022-10-01 10:11] mvayak commented on #3891
Same here, error initializing the Database, mariaDB is not supported - After Upgrade to mattermost 7.3.

https://prnt.sc/yE7po7hvwRMB

[2022-10-01 13:05] cannalee90 commented on #3895
May I try this one

[2022-10-01 15:40] chenilim opened #3903 "Bug: Person auto-complete doesn't work in tables"
## Steps to reproduce the behavior

1. Open a table view with a person column
2. Type in the person column
3. No auto complete

## Expected behavior

There should be auto-complete like typing in the card.

## Screenshots (optional)

<img width="731" alt="Screen Shot 2022-10-01 at 8 38 27 AM" src="https://user-images.githubusercontent.com/46905241/193417075-b2b3ac21-9c89-4704-a23e-38fd8fe44aaa.png"

[2022-10-01 15:41] chenilim opened #3904 "Bug: Search icon is vertically misaligned"
## Steps to reproduce the behavior

1. Open a board
2. Search icon is too high in the box

## Expected behavior

Search icon should be vertically centered

## Screenshots (optional)
<img width="289" alt="Screen Shot 2022-10-01 at 8 40 48 AM" src="https://user-images.githubusercontent.com/46905241/193417142-6505e44d-9453-4acc-96e4-8ad8d8eadb40.png">

## Edition and Platform

 - Edition: Mattermost

[2022-10-01 18:51] yunsuklee commented on #108
Hi! May I be assigned this issue? I'd love to try it out :)

[2022-10-02 11:43] kamre commented on #3879
I have the same problem after updating to `main` branch. My first impression was that I have some files/directories permission problems because of my own updating script. But it might be that the problem is more generic.

So I am also waiting for possible solution and will look into this on my personal server.

[2022-10-02 14:27] timothee-durand commented on #3204
I just checked, it seems that it's still not fixed. If you want I can take a look at it ?

[2022-10-02 16:06] rish-singhal commented on #3895
I can work on this issue.

[2022-10-02 16:07] rish-singhal commented on #3781
I can take a stab on this issue.

[2022-10-02 22:13] jufab commented on #1950
Hi,

May I try?

[2022-10-03 02:38] cannalee90 commented on #3776
Could you assign this issue for me?

[2022-10-03 02:47] harshilsharma63 commented on #3879
@kamre I've found the issue. Expect a PR pretty soon :)

[2022-10-03 02:59] kamre commented on #3776
@wuwinson there is a corresponding Compass icon that can be used like this:
[code]
Will look like this:
![Screenshot 2022-10-03 at 09 58 31](https://user-images.githubusercontent.com/5587620/193494023-f4713df8-7815-4b5f-ab8c-3ff6298ca045.png)

[2022-10-03 09:57] #3764 closed

[2022-10-03 10:22] mgdelacroix commented on #3806
I cannot reproduce on current `main`, it's most probably related to https://github.com/mattermost/focalboard/issues/3788 as @AuspeXeu indicated

[2022-10-03 10:22] #3806 closed

[2022-10-03 13:40] wuwinson commented on #3776
Perfect, thanks @kamre! @cannalee90 you got it!

[2022-10-03 14:25] wuwinson commented on #3781
Thanks @rish-singhal, assigned!

[2022-10-03 15:24] sbishel commented on #3895
@cannalee90 - Thanks assigning to you as first request.

[2022-10-03 16:11] #3884 closed

[2022-10-03 17:45] jespino commented on #3863
@wuwinson I added the check only for Commenter and Editor role, because in the Viewer case is going to keep everybody in the same role anyway.

[2022-10-03 18:42] Pinjasaur opened #3914 "Bug: double-encoded URL in comments"
## Steps to reproduce the behavior

1. Go to card with a comment that has a link e.g. Hacktoberfest: https://community.mattermost.com/boards/team/qghzt68dq7bopgqamcnziq69ao/2b3ba61b-2434-4892-8fe0-f22fe5af5e68/a43d6c7d-bf99-4ee2-8697-32071ab11207/czdyn97twebnwzjfi3uxpp1714h
2. Note the URL has double-encoded entities

## Expected behavior

Not to double-encode URLs. This might be a side-effect of

[2022-10-03 18:58] wuwinson opened #3915 "Bug: Rows in table view shift left on hover over"
## Steps to reproduce the behavior

1. For boards where you're a Viewer or Commenter only
2. Go to table view
3. Hover over each row
4. See error - row shifts to the left

## Expected behavior

Row is highlighted but remains fixed in it's position

## Screenshots (optional)

https://user-images.githubusercontent.com/93531870/193656559-fcf83932-bdde-4c44-ae8c-7d2673795e42.mov

## Edition and Platfo

[2022-10-03 19:07] wuwinson opened #3916 "Bug: Cannot change "type" for existing properties when there are values are assigned"
## Steps to reproduce the behavior

1. Open a card and click on the property name with a value assigned on it
2. Go to the "Type" menu and select a different type for the property
3. See error - Cannot change the property type
4. Works fine with properties with no values assigned

## Expected behavior

A confirmation modal should appear to confirm the property type change.

![Screen Shot 2022-10-0

[2022-10-03 19:10] wuwinson commented on #3896
Thanks for reporting @krmh04!

[2022-10-03 19:12] wuwinson commented on #3914
Dupe of #3496

[2022-10-03 19:12] #3914 closed

[2022-10-03 19:28] wuwinson commented on #3812
Thanks @Pinjasaur, can you create a new ticket for that issue? Closing this one out.

[2022-10-03 19:28] #3812 closed

[2022-10-03 19:34] wuwinson commented on #3847
Related to #3916

[2022-10-03 21:57] jufab opened #3918 "Bug: Color on Person cell with dark theme is invisible"
## Steps to reproduce the behavior

1. Set dark theme
2. Open a table view with person property columns

## Expected behavior

View a selected person or Empty text

## Screenshots (optional)
<img width="600" alt="image" src="https://user-images.githubusercontent.com/25395032/193692502-a13f212f-a6c6-49a9-852f-725a1dd487f5.png">
<img width="600" alt="image" src="https://user-images.githubusercontent

[2022-10-03 21:58] jufab commented on #3918
Can I be assigned on it? I think I know how to fix it.

[2022-10-03 22:03] wuwinson opened #3919 "Bug: Card badges are missing"
## Steps to reproduce the behavior

1. Go to any board
2. Open the "Properties" menu from the board header
3. See error - the toggle to enable "Comments and descriptions" are missing

## Expected behavior

"Comments and descriptions" toggle should be visible as the last option on the menu. See https://github.com/mattermost/focalboard/pull/2025 and our [Help Docs](https://github.com/mattermost/foca

[2022-10-04 00:18] sbishel commented on #3847
https://github.com/mattermost/focalboard/pull/3920 fixes the first part of this.

[2022-10-04 00:19] #3785 closed

[2022-10-04 00:21] #3855 closed

[2022-10-04 00:23] #3771 closed

[2022-10-04 07:17] vivekkj123 commented on #3898
Hi, I would like to work on this. Please assign it to me

[2022-10-04 08:58] mgdelacroix commented on #3871
Database collation was indeed causing the migration to fail. Checking migration code, we're not consistently honoring the default collation of the database, which can lead to a mixed table collation situation like the one @N3rdP1um23 is showing here.

Although the specific situation was solved, I'll leave this ticket open so we can use it to track the issue and patch it in the codebase.

[2022-10-04 09:16] idChef commented on #3915
Hi, let me take this issue

[2022-10-04 09:56] vivekkj123 commented on #3899
Hi, I can work on this. Please assign to me

[2022-10-04 10:30] harshilsharma63 commented on #3812
@sbishel is also fixing something around this.

[2022-10-04 11:00] henrikhj commented on #3891
This is clearly an intended 'feature' according to #3725.
It seems that a bunch of the migration SQLs that are being run, are using the [column->path operator](https://dev.mysql.com/doc/refman/8.0/en/json-search-functions.html#operator_json-column-path) even though the JSON_EXTRACT function could probably just as well have been used, which is supported in both MySQL and MariaDB.
Going from https:/

[2022-10-04 11:09] #3862 closed

[2022-10-04 13:17] chirag-ghosh commented on #3903
Can i work on this ?

[2022-10-04 13:36] wuwinson commented on #3915
Great, thanks @idChef!

[2022-10-04 15:48] vivekkj123 commented on #3865
Hi,
I think I can solve this issue. Please assign to me :)

[2022-10-04 15:54] wuwinson commented on #3865
Awesome, thanks @vivekkj123!

[2022-10-04 16:31] sbishel commented on #3919
@wuwinson - I cannot duplicate on any board. Only on table views which is by design.

[2022-10-04 16:33] sbishel commented on #3918
@jufab - absolutely...

[2022-10-04 16:34] wuwinson commented on #3919
@sbishel User error... my fault. :grimacing:  Closing out.

[2022-10-04 16:34] #3919 closed

[2022-10-04 16:50] #3510 closed

[2022-10-04 16:59] #1950 closed

[2022-10-04 18:51] #3916 closed

[2022-10-04 20:06] henrikhj commented on #3891
I definitely understand the business decision on your end, to not support several different RDMSes. It's a lot of work.
I do however wonder why the decision was made to go against the popular choice these days. But I guess that ship has sailed a long time ago.

What annoys me the most is that we evaluated the software from the belief that it would work perfectly fine on our MariaDB infrastructure,

[2022-10-04 23:06] sbishel commented on #3847
Closing this as #3920 fixes the first part. Regarding changing values, we only delete values when going to from select properties. So we shouldn't be removing values. Please write a separate ticket where and how you see values being changed.

[2022-10-04 23:06] #3847 closed

[2022-10-05 04:52] #3885 closed

[2022-10-05 11:45] mgdelacroix commented on #3826
Thanks for the report @tuqueque! This should be fix in `v7.3` through https://github.com/mattermost/focalboard/pull/3858

[2022-10-05 11:45] #3826 closed

[2022-10-05 12:19] BabbarRaghav commented on #132
Hi, is this issue still open and without any assignees?

I would like to solve it

[2022-10-05 14:49] #3865 closed

[2022-10-05 18:23] sbishel commented on #3878
I tested this yesterday and it seems to work fine on latest. #3695 was part of v7.3.

[2022-10-05 18:24] #3878 closed

[2022-10-05 19:37] Pinjasaur commented on #1735
Spent some time and am able to reproduce both in Safari & Firefox on Mac. You might need to add more properties to cards to get a scrollbar on the column calculations menu.

There's some really _weird_ behavior: if you move the cursor quickly between items vs slowly the offset of the submenu changes by a handful of pixels which plays a part in this bug.

FF:

https://user-images.githubusercontent.

[2022-10-05 20:16] #3879 closed

[2022-10-05 20:37] Pinjasaur commented on #3701
Leaning towards fixed by #3858 which will be in our next release.

[2022-10-05 20:38] Pinjasaur commented on #3812
@sbishel need a ticket or issue created?

[2022-10-05 20:43] sbishel commented on #3812
@Pinjasaur My fix https://github.com/mattermost/focalboard/pull/3880, also fixed the issue before the error loop. So we probably need a ticket to investigate the error looping, but need a way to duplicate since these now won't occur.

[2022-10-05 21:02] Pinjasaur opened #3937 "Investigate `/error` handling logic to prevent recursive redirects"
Broken out of #3812. We have some error handling/routing logic that does variations of `/boards/error` and `/plugins/focalboard/error` that under the right circumstances will do a infinite recursive redirect loop (see video in original issue).

<img width="362" alt="image" src="https://user-images.githubusercontent.com/6335792/194161165-f34a5df6-afe3-4cc6-a15a-056eb7bd18be.png">

To do:
- determin

[2022-10-05 21:02] Pinjasaur commented on #3812
#3937

[2022-10-05 21:05] Pinjasaur commented on #3410
For anyone interested in working on this (for Hacktoberfest or not) we're happy to take a more iterative approach i.e. start with the more core metadata (version, commit, build info) and add more later.

[2022-10-05 22:37] wuwinson opened #3938 "Bug: Creating a board from a custom template adds the board to the same category as the origin board"
## Steps to reproduce the behavior

1. Go to a board under a custom category
2. From the sidebar, open the board's option menu and select `New template from board`
3. Go to the template picker and select the template
4. See error - the board gets created in the same category as the origin board. Only applies to the board creator. The board will get created correctly in the default Boards category

[2022-10-05 22:46] wuwinson opened #3939 "Bug: `Guest` tag overlaps with timestamp in card comments"
## Steps to reproduce the behavior

1. Login as a guest account
2. Open a card and add a comment
3. See error - `Guest` tag overlaps with the timestamp

## Expected behavior

Guest tag does not overlap with timestamp

## Screenshots (optional)

![Screen Shot 2022-10-05 at 6 42 15 PM](https://user-images.githubusercontent.com/93531870/194177426-a9886853-839e-4767-8eb4-138ef8e0ecf0.png)

## Edition

[2022-10-05 22:51] #3918 closed

[2022-10-05 22:53] wuwinson opened #3940 "Bug: Grammatical error on confirmation modal to add member from autocomplete list"
## Steps to reproduce the behavior

1. Go to a board where you're an admin
2. Open a card and @mention a non-board member
3. Select the non-member from the autocomplete list
4. See error - grammatical error with the word "received" on confirmation modal

## Expected behavior
"Receive" should be in present tense:

{User name} is not a member of the board, and will not **receive** any notifications