[2022-10-05 22:59] wuwinson opened #3941 "Bug: Linked board channel notification message styling"
## Steps to reproduce the behavior

1. Go to a channel and open the Boards Apps Bar
2. Link a channel to the board
3. See error - the word "Board" is capitalized and missing the word "the"

## Expected behavior

[@username] linked the board [Board Name] to this channel
[@username] unlinked the board [Board Name] to this channel

## Screenshots (optional)

![Screen Shot 2022-10-05 at 6 57 00 PM](ht

[2022-10-05 23:05] wuwinson opened #3942 "Bug: Unlink board message displays the word "Hello" for boards you do not have permissions to unlink"
## Steps to reproduce the behavior

1. Go to Boards Apps Bar in a channel
2. Open the options menu for a board you cannot unlink
3. See error - the word "Hello" appears in the message

## Expected behavior

The message should not include the word "Hello" and the header should only display "Unlink board"

## Screenshots (optional)

![Screen Shot 2022-10-05 at 7 02 40 PM](https://user-images.githubu

[2022-10-06 02:08] alfredoalpizar commented on #3386
can I be assigned this issue?

[2022-10-06 02:08] alfredoalpizar commented on #3942
can I be assigned this one?

[2022-10-06 02:11] shikhar13012001 commented on #3940
I would like to work on this issue, Can you please assign me this? @wuwinson

[2022-10-06 05:23] agnivade commented on #3891
Fully agree with you there. The only problem there is someone needs to spend the time to provide an official migration script from MariaDB to MySQL/Postgres. We just haven't had the time to do that. There is some discussion here: https://github.com/mattermost/mattermost-server/issues/18351. I'll look into prioritizing that for next quarter.

[2022-10-06 06:42] AuspeXeu commented on #3701
@Pinjasaur when do you expect this release to land?

[2022-10-06 08:20] mgdelacroix opened #3944 "Bug: Creating a board from channel's RHS redirects to the last screen you were using on boards"
## Steps to reproduce the behavior

1. Go to boards and edit a board template
2. Using the top-left menu, go to channels
3. Open the RHS for Boards, click on add and then create
4. You'd be redirected to the template editor
5. Click on an already created board on the sidebar
6. Now go back to channels using the top-left menu
7. Open the RHS for Boards, then add and then create
8. You'd be redirect

[2022-10-06 08:40] mgdelacroix opened #3945 "Bug: Granting editor permissions through minimum role doesn't allow the user to comment"
## Steps to reproduce the behavior

1. Go to a private board and invite a user as a viewer
2. Update minimum role to Editor
3. User cannot add comments to cards

## Expected behavior

User should be able to comment.

## Screenshots (optional)

![image](https://user-images.githubusercontent.com/223323/194264309-1622dcce-7820-462c-9d00-67183a5def01.png)

## Edition and Platform

 - Edition: Mattermo

[2022-10-06 08:50] Rajat-Dabade opened #3946 "Bug: Product tour for share button is not in the right place"
## Steps to reproduce the behaviour

1. Start the product tour.
2. Click the next button till the share button tour appears.
3. See the error, the share button tour is on the new button.

## Expected behaviour
The share button tour should be on the share button.

## Screenshots (optional)
![Screenshot 2022-10-06 at 2 08 40 PM](https://user-images.githubusercontent.com/26198062/194266695-8c05b124-6

[2022-10-06 10:37] harshilsharma63 commented on #3386
@alfredoalpizar absolutely! Here you go!

[2022-10-06 13:14] vivekkj123 commented on #3946
Can i Work on this ?

[2022-10-06 14:04] ogi-m commented on #3701
I can't repro this on v7.4 branch

[2022-10-06 14:30] kamre opened #3947 "Feature Idea: confirmation dialog when deleting a card in calendar/galley view"
## Summary

Cards in **calendar**/**gallery** views have action menus like this:
![image](https://user-images.githubusercontent.com/5587620/194337434-e8904e8b-0119-4693-9ca7-f7aa7fb813dd.png)

If `Delete` action is selected there is no confirmation dialog like for `Delete` menu action for cards on **kanban** view:
![image](https://user-images.githubusercontent.com/5587620/194338929-2f848167-f96f-4

[2022-10-06 15:24] wuwinson commented on #3947
Good catch, thanks @kamre!

[2022-10-06 15:40] dubdubs01 opened #3948 "Bug: Constantly logged out of Boards when left open overnight/extended periods"
## Steps to reproduce the behavior

1. Leave Boards open overnight in a browser or in the desktop app
2. Go to the Boards tab/window the next day
3. See error - I get error message that I am not logged in or an error has occurred. If I switch to Channels then back to Boards from the app switcher, Boards loads just fine again.

## Expected behavior

I remain logged into Boards.

## Screenshots (opt

[2022-10-06 15:42] wuwinson commented on #3948
@ogi-m Have you been encountering this at all?

[2022-10-06 17:20] wuwinson opened #3951 "Bug: Viewers and Commenters see IDs on empty person property"
## Steps to reproduce the behavior

1. Go to a board as a Viewer or Commenter
2. Open a card with an empty person property
3. See error - some type of user ID is displayed even though the property is empty
4. Switch role to Editor or Admin and the person property correctly displays as empty

## Expected behavior

Person property correctly displays as empty.

## Screenshots (optional)

https://user

[2022-10-06 17:34] ogi-m commented on #3948
@wuwinson I've just encountered this. I'll try leaving it open now with the console open to see if we can collect something useful there when it happens.

[2022-10-06 18:17] shikhar13012001 commented on #3940
@wuwinson I have create the PR please review and let me know if you need any changes,
Thanks again for assigning this issue to me, it was great! 😄

[2022-10-06 19:04] wuwinson opened #3953 "Bug: Linked channels are copied over to duplicated boards and templates"
## Steps to reproduce the behavior

1. Go to a board with a linked channel
2. Click on the Options Menu (...) for the board from the sidebar
3. Select "Duplicate board"
4. Open Share dialog from duplicated board
5. See error - linked channel is copied to the duplicated board

1. Repeat steps 1-2
2. Select "New template from board"
3. Open share dialog from the new template
4. See error - linked ch

[2022-10-06 19:14] #3945 closed

[2022-10-06 19:38] Pinjasaur opened #3955 "UI Bug: `Permissions` label in Confirm Add User modal styled incorrectly when dropdown disabled"
## Steps to reproduce the behavior

1. Go to a board as a non-admin user and attempt to add a non-board member user to the board
2. Observe the modal with the disabled dropdown and incorrect label styling

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots (optional)

![image](https://user-images.githubusercontent.com/6335792/194403269-6cedae1a-71

[2022-10-06 19:58] sbishel commented on #3946
@vivekkj123 - sure.

[2022-10-06 20:11] wuwinson opened #3957 "Bug: Admins cannot add other non-board members as "Admins" via autocomplete list"
## Steps to reproduce the behavior

1. Go to any board as an admin
2. Open a card and click on a person property and select a non-board member to add to the board
3. Confirmation modal appears - select "Admin" from the dropdown list
4. See error - user is not added to the person property, nor are they visible on the Share dialog
5. Refresh browser
6. Open Share dialog - user is now visible as a bo

[2022-10-06 20:22] wuwinson opened #3958 "Feature Idea: Option to"
## Summary

What the new capability is.

## How important this is to me and why

Importance: High/Medium/Low

Use cases:
1.
2.
3.

## Additional context/similar features

Any examples of good implementations of this capability.

[2022-10-06 20:28] wuwinson opened #3959 "Feature Idea: Option to "Create New Category" under the "Move To..." option in the sidebar"
## Summary

Currently, when moving a board to another category from the sidebar, I can only select existing categories. There may be cases where I want to move the board to a new category. To do so, I'd first have to create the new category, then go back to the Options Menu (...) from the sidebar and move the board.

If we can add a "Create New Category" option under the existing categories in the

[2022-10-06 20:44] wuwinson commented on #3959
### Requirements

1. On the Options Menu (...) for a board on the sidebar > Move To... > List of existing categories:
   a. Add a divider on the menu below the last category
   b. After the divider, add a new option for "New Category"
2. After user creates the new category, automatically move the board to the category

[2022-10-06 20:47] #3958 closed

[2022-10-06 20:50] Pinjasaur commented on #3701
@AuspeXeu this would be fully rolled out for 7.4, which releases the middle of this month (Oct 2022), however you could try it locally using the `release-7.4` branch, or on community.mattermost.com once https://github.com/mattermost/mattermost-server/pull/21206 gets merged (community.mattermost.com is built daily)

[2022-10-06 21:19] #3690 closed

[2022-10-06 21:54] sbishel opened #3960 "Bug: Error deploying to Community"
## Steps to reproduce the behavior

Received the following error when deploying to Community Server and plugin failed to start.

This plugin failed to start. cannot activate plugin: error initializing the DB: driver: mysql, message: failed when applying migration, command: apply_migration, originalError: Error 1062: Duplicate entry '13uarqhzitbqp834esso4hmikh-focalboard-welcomePageViewed' for key

[2022-10-06 21:56] sbishel commented on #3960
![Screen Shot 2022-10-06 at 3 55 20 PM](https://user-images.githubusercontent.com/12704875/194425811-5887488b-80f7-44d7-b3db-785ad5bda243.png)

[2022-10-06 22:57] wuwinson commented on #3891
@henrikhj @fraschm1998 @XerofAdmin @mvayak

I'm sorry to hear that you're all running into this issue with MariaDB. As @agnivade mentioned, we don't officially support MariaDB, but we should have made it more obvious aside from the documentation and a warning in the logs.

To help mitigate this issue, we're working on https://github.com/mattermost/focalboard/pull/3929 and plan to ship it as a poin

[2022-10-06 23:52] sbishel commented on #3955
@wuwinson - Can we just hide the `Permissions` dropdown in this case? Does a "normal" user care what permissions the user is receiving on a public board. Can't do anything anyway.

[2022-10-07 00:12] #3898 closed

[2022-10-07 05:30] XerofAdmin commented on #3891
Thank you @wuwinson , from my side, I just switched over to MySQL, so all my environments are fine. But this has forced me to kick out mariaDB on those servers, so I had to switch my web apps over too. The people over @ mariadb might not be too happy with you :)

[2022-10-07 05:43] XerofAdmin commented on #3891
sudo mysqldump mattermost > mattermost.sql
sudo systemctl stop mysql
sudo apt purge -y mariadb-server mysql-server mysql-common mysql-client mysql*
sudo rm -rf rm -rf /var/lib/mysql && sudo rm -rf rm -rf /etc/mysql*
sudo reboot
sudo apt install -y mysql-server
sudo systemctl status mysql
sudo mysql_secure_installation
sudo mysql
ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password B

[2022-10-07 06:54] agnivade commented on #3891
Thanks! The hard part is migrating MariaDB to Postgres :)

[2022-10-07 08:21] XerofAdmin commented on #3891
I initially started with that, but it's a mess, you are going to have issues later on in that Postgres DB.

[2022-10-07 10:05] carnevlu commented on #166
Hi,

will this feature be implemented in focalboard??? or not??

[2022-10-07 11:07] harshilsharma63 commented on #3960
@sbishel I've created a PR for this - https://github.com/mattermost/focalboard/pull/3963 to add duplicate key conflict scenerios. However, I'm still not sure why the issue arrived in the first place. I've verified data on community server and there are no conflicts in the data. I've DM'd you a copy of the data as well for reference.

Anyways, the duplicate key handling should resolve this by essen

[2022-10-07 11:12] proffalken commented on #103
@tomeli5n - what did you switch to out of interest? I've had Focalboard up and running for a while, but now need to move to LDAP or similar for centralised auth, and to see this attitude from the core team is really quite disappointing.

[2022-10-07 12:34] tomeli5n commented on #103
@proffalken we switched to [kanboard](https://github.com/kanboard/kanboard)

[2022-10-07 12:50] sbishel opened #3965 "Bug: Create Unit tests for migration changes"
Unit tests need to be created for https://github.com/mattermost/focalboard/pull/3963

[2022-10-07 12:56] proffalken commented on #103
@tomeli5n amazing, thank you!

[2022-10-07 13:07] #3957 closed

[2022-10-07 13:37] wuwinson commented on #3955
@sbishel Good point, let's hide it then!

To clarify, we'd be removing the dropdown only for the following 2 cases highlighted in yellow:
![Screen Shot 2022-10-07 at 9 36 29 AM](https://user-images.githubusercontent.com/93531870/194566568-226866e6-9a17-45f2-a4cf-146f0fedc1fa.png)

[2022-10-07 13:50] luastoned opened #3970 "Bug: postgres authentication with docker fails"
## Steps to reproduce the behavior

1. Setup Mattermost 7.3-4 with Postgres
2. Wait for migrations to finish, Mattermost works, Focalboard will not.
[code]

1. Setup Focalboard 7.2-4 with Postgres
[code]

MySQL for Mattermost works, SQLite for Focalboard works.
I can connect to both Postgres instances with pgAdmin, so the user/password is correct.

## Expected behavior

Focalboard should be able t

[2022-10-07 14:06] #3940 closed

[2022-10-07 14:47] wuwinson opened #3971 "Bug: Adding a board member via autocomplete only works when selecting "Admin" role"
## Steps to reproduce the behavior

1. Go to a board as an admin
2. Open a card with a person property
3. Click the person property and select a non-board member
4. Select any role that is not an "Admin"
5. See error - user is not added to the board
6. Same issue with @mentions
7. Also applies to Editors and Commenters trying to add someone on a public board

## Expected behavior

Selected users a

[2022-10-07 15:28] Pinjasaur commented on #3955
I can take this. I'll have to double check but might need to add a new permission i.e. "can add user as custom role".

[2022-10-07 15:30] #3971 closed

[2022-10-07 16:00] sbishel commented on #3965
fixed - https://github.com/mattermost/focalboard/pull/3968

[2022-10-07 16:00] #3965 closed

[2022-10-07 16:24] wuwinson opened #3974 "Bug: Guest accounts with "Editor" role can see non-members in autocomplete list"
## Steps to reproduce the behavior

1. Sign in as a guest account with "Editor" role on a board
2. Open a board with a person property
3. Click on the person property to open auto-complete list
4. See error - guest can see non-board members and some member names are duplicated
5. Issue does not occur on @mentions

## Expected behavior

Guests should only see board members on auto-complete lists. S

[2022-10-07 16:54] wuwinson opened #3975 "Bug: Autocomplete does not appear when @mentioning more than one user is the same comment"
## Steps to reproduce the behavior

1. Go to comments section on a card
2. @mention multiple people on the card
3. See error - autocomplete only appears for the first user but not the other users

## Expected behavior

Autocomplete displays whenever an @ is typed into the card comment or description

## Screenshots (optional)

https://user-images.githubusercontent.com/93531870/194608679-77c99829-1

[2022-10-07 19:48] #2520 closed

[2022-10-08 09:09] JamesDAdams commented on #1448
Hi,

i have the same problem : **Invalid registration link, please contact your administrator**

With the mattermost/focalboard:7.4.1 on docker

![image](https://user-images.githubusercontent.com/20860324/194699749-a06c68d7-c0d4-4c42-a038-cbdb85784638.png)

[2022-10-08 15:44] krmh04 opened #3976 "Bug: Options for Content(Text) are not visible if an image is dragged(moved) in a card"
## Steps to reproduce the behavior
1. Add a card
2. Add content(text)
3. Add an image in the next line
4. Drag/Move the image up using the ⸽⸽ option

## Expected behavior

The options for content(text) should be visible

## Screenshots (optional)
![Screenshot 2022-10-08 at 20-59-51 Test Board Board view](https://user-images.githubusercontent.com/89924564/194715258-f25530e7-5725-42a6-84bd-50a612497

[2022-10-08 17:04] lindy65 commented on #3976
Thanks so much @krmh04 👍

Boards team, I reproduced this too on the `https://boards-bugbash73.test.mattermost.cloud/` server

[2022-10-09 04:16] ankurjain00 commented on #437
I can pick this up. Can you assign it to me?

[2022-10-09 05:30] chirag-ghosh commented on #3975
I can work on this

[2022-10-09 07:57] cannalee90 commented on #3959
I'd like to do this

[2022-10-09 09:44] varunKT001 commented on #3947
@wuwinson I would like to work on this issue. Please assign it to me.

[2022-10-09 14:19] vivekkj123 commented on #3946
Hey, Are there any tricks to test product tour?

[2022-10-09 17:44] lindy65 opened #3978 "Bug: Incorrect icon in a board's 3-dot menu for "Hide board""
Reproduced by a QA community contributor and myself on `https://boards-bugbash73.test.mattermost.cloud/` server

## Steps to reproduce the behavior

1. Hover over any board in the left panel and click the 3-dot menu
2. Observe: "Hide board" is an "X"
3. Go to "[Lindy's board](https://boards-bugbash73.test.mattermost.cloud/boards/team/emkcjitr1jfs5nzhntbj6dzztr/bd3d7f1fritfj7exceht5a8juay/v5uesid1x

[2022-10-10 05:32] Rajat-Dabade commented on #3946
@vivekkj123, yes there is, from the top nav bar inside the setting menu there is an option to start a product tour (the last option).
![Screenshot 2022-10-10 at 11 01 32 AM](https://user-images.githubusercontent.com/26198062/194803750-fcf8101e-f67f-483a-a134-0b407058cfc1.png)

[2022-10-10 08:33] lindy65 opened #3979 "Bug: When "End date" is enabled in Date property/calendar and an End date is selected, it wraps to the next line"
Reproduced by a QA community contributor and myself on `https://boards-bugbash73.test.mattermost.cloud/` server

## Steps to reproduce the behavior

1. Create a card
2. Add a "Date" property to the card
3. Select a date on the calendar, scroll down and enable "End date" and then select an End date
4. Observed: End date wraps to the next line

## Expected behavior

End date does not wrap to the nex

[2022-10-10 08:52] BaltazarBazar opened #3980 "Bug: CONSOLE ERROR SyntaxError: Invalid regular expression"
When I try to start the app for the first time:

x@deb:~/Desktop/focalboard-app$ ./focalboard-app
http://localhost:38375/static/main.js?23c98825b3a4d0d6c41d:350: CONSOLE ERROR SyntaxError: Invalid regular expression: invalid escaped character for unicode pattern

^C
x@deb:~/Desktop/focalboard-app$

The app opens but the window is blank. That's all that happens

[2022-10-10 12:37] roukmoute opened #3981 "Feature Idea: Keep the sidebar hidden when the page is refreshed"
## Summary

Keep the sidebar hidden when the page is refreshed.

## How important this is to me and why

Importance: Low

[2022-10-10 13:07] roukmoute opened #3982 "Feature Idea: Take into account the markdown in the content "checkboxes"."
## Summary

Take into account the markdown in the content "checkboxes".

## How important this is to me and why

Importance: Low

## Additional context/similar features

![image](https://user-images.githubusercontent.com/2140469/194873128-593ac104-3394-4ae6-a294-62245bc8a2c7.png)
![image](https://user-images.githubusercontent.com/2140469/194873189-68aa0854-3dd6-43f7-ab0e-cd544f62d4be.png)

[2022-10-10 19:29] peterpiglet commented on #2505
Changing the first day of the week to Monday, as is default for European countries, would increase the overview of our work schedule tremendously!

[2022-10-10 21:01] seanohue commented on #3896
@wuwinson Sorry for the lack of movement on this. I'm having trouble building Focalboard on my Mac after going through the Mattermost developer setup for the server and the frontend. See [my post in the community server here](https://community.mattermost.com/core/pl/4w1s51z9jf8njjr8yfr4kbm4mo) for more details.

[2022-10-10 21:55] sbishel commented on #3960
ReOpened with new syntax issue.

This plugin failed to start. cannot activate plugin: error initializing the DB: driver: mysql, message: failed when applying migration, command: apply_migration, originalError: Error 3143: Invalid JSON path expression. The error is around character position 17., query: INSERT INTO Preferences (UserId, Category, Name, Value) SELECT Id, 'focalboard', 'welcomePageView

[2022-10-10 22:02] #3960 closed

[2022-10-10 23:52] wiggin77 opened #3990 "Bug: RHS app bar icon not loading"
## Steps to reproduce the behavior

1. Go to channel on community
2. See app icon on RHS app bar is a solid white circle.
3. Bring up dev tools and see https://community.mattermost.com/plugins/focalboard/public/app-bar-icon.png returned 404

## Expected behavior

App icon appears

## Screenshots (optional)

![Screenshot from 2022-10-10 19-39-19](https://user-images.githubusercontent.com/5024605/19

[2022-10-10 23:59] peterklingelhofer opened #3991 "Bug: Priorities are sorted out of order"
## Steps to reproduce the behavior
Create a project board with various priorities, go to the Task Overview section on the left, and sort the Priorities category. Observed behavior (that appears unintentional):
`High`
`Low`
`Medium`

## Expected behavior
`High`
`Medium`
`Low`

## Screenshots (optional)

<img width="132" alt="194717091-6aee3e03-cf73-4930-85e0-bb0724860127" src="https://user-images.g

[2022-10-11 11:06] varunKT001 commented on #3947
@wuwinson Please assign this issue to me.

[2022-10-11 11:30] kamre commented on #3979
Looks like [this CSS rule](https://github.com/mattermost/focalboard/blob/main/webapp/src/properties/date/date.scss#L47) is the reason:
[code]
Removing this rule for `width` fixes the issue.

[2022-10-11 11:50] ogi-m opened #3992 "Bug: Create new board > Missing all templates except one"
## Steps to reproduce the behavior

1. Create a fresh cloud installation of MM with boards v7.4.1/v7.4.2
2. Click on `+` > Create new board
3. Observe the template list - only "Meeting Agenda" is shown

## Expected behavior

Full list of templates should be shown

## Screenshots (optional)

![image](https://user-images.githubusercontent.com/15314183/195081713-d150c3ca-6ff8-4710-a4bd-9395b46718b8.p

[2022-10-11 12:29] ogi-m opened #3993 "Bug: Product tour won't start"
## Steps to reproduce the behavior

1. Open Boards
2. Click on Settings > Product Tour
3. See error - "Sorry, something went wrong"

## Expected behavior

Product tour starts

## Screenshots (optional)

<img width="1728" alt="Screenshot 2022-10-11 at 13 51 53" src="https://user-images.githubusercontent.com/15314183/195089128-90632d3a-f25c-4879-a092-823991af60a3.png">

## Edition and Platform

 - E

[2022-10-11 12:45] kamre commented on #3976
Probably can be fixed by changing [CSS rule for the image width](https://github.com/mattermost/focalboard/blob/3335ccd3649ba8f155002cfffc983e83ce92ea15/webapp/src/components/contentBlock.scss#L34) to this one:
[code]
Here 58px = 48px (octo-block-margin) + 10px (addRow)

[2022-10-11 12:52] andrewwutw opened #3994 "Plugin build error (enterprise/go.mod: no such file or directory)"
I followed the instructions of this page : [Mattermost Boards plugin guide](https://developers.mattermost.com/contribute/more-info/focalboard/mattermost-boards-setup-guide/)

But the last command failed :

[code]

The output is :

[code]

It looks like a file ```enterprise/go.mod``` is missing?

My environment is :

Ubuntu 20.04.5 LTS (Focal Fossa)

node : v16.10.0

npm : 7.24.0

go : go version g

[2022-10-11 13:22] gowcoizer commented on #1448
![image](https://user-images.githubusercontent.com/36004727/195102327-3e6b3e2b-fe24-4357-b224-cfc75b0c43ff.png)

Unable to do the first registration. 7.4.1 from the Microsoft store

[2022-10-11 13:30] schischa commented on #3871
@mgdelacroix any chance I get my mattermost installation fixed without rolling back?

[2022-10-11 13:42] wuwinson commented on #3975
Thanks @chirag-ghosh!

[2022-10-11 13:43] wuwinson commented on #3959
Great, thanks @cannalee90!

[2022-10-11 14:29] Pinjasaur opened #3995 "Bug: stuck on Welcome/Start Tour page on community.mattermost.com"
## Steps to reproduce the behavior

1. Try to go for Boards on community.mattermost.com
2. Stuck on welcome/start tour page (start or dismiss tour buttons do nothing)

## Expected behavior

I've previously dismissed the welcome tour so I shouldn't be seeing it. And if I was, I should be able to start or dismiss the tour.

## Screenshots (optional)

![image](https://user-images.githubusercontent.co

[2022-10-11 14:33] Pinjasaur commented on #3995
Based on that malformed URL it looks like the Team ID is not defined? It's also not a Focalboard API. https://api.mattermost.com/#tag/channels/operation/GetSidebarCategoriesForTeamForUser

[2022-10-11 14:33] varunKT001 commented on #3947
@wuwinson
Can you help me in setting up the project?
I have no experience with GO, so is it possible that I can only start a dev-server for the web app?

[2022-10-11 14:45] varunKT001 commented on #3947
@kamre I'll go through it, thanks!

[2022-10-11 15:19] #3899 closed

[2022-10-11 15:24] Pinjasaur commented on #3995
I'm wondering if the 404 is a bit of a [red herring](https://en.wikipedia.org/wiki/Red_herring). I'm at a loss to why it's broken. I don't see anything that stands out to me in terms of network errors (4xx or 5xx) or console errors. @ogi-m this is different from the behavior you've noticed, right?

[2022-10-11 15:33] ogi-m commented on #3995
@Pinjasaur Yeah it's different, in the case of https://github.com/mattermost/focalboard/issues/3993 I can open everything except for the product tour

[2022-10-11 17:11] JamesDAdams opened #3997 "Bug: Impossible to register another account"
## Steps to reproduce the behavior

1. Go to share a board
2. copy the link
3. try to register with the link
4. See error

## Expected behavior

I want register with the link

## Screenshots (optional)

![image](https://user-images.githubusercontent.com/20860324/195156128-a295858b-4a40-4c52-a09b-465598645ba2.png)

## Edition and Platform

 - Edition: Personal Server
 - Version: 7.4.1 docker
 - Bro

[2022-10-11 17:12] JamesDAdams commented on #1448
@gowcoizer I create this new issue https://github.com/mattermost/focalboard/issues/3997

[2022-10-11 17:16] wiggin77 commented on #3871
@schischa it looks like only one of your tables has the wrong collation. Running these two queries should fix you instance.

[code]

[2022-10-11 17:48] luastoned commented on #3970
Oh wow, I managed to create a hostname clash with the databases.

[2022-10-11 17:48] #3970 closed

[2022-10-11 18:06] wiggin77 commented on #3871
Hi @N3rdP1um23.  This script will fix any collation mismatches in your database:
[fix_collation.sql.txt](https://github.com/mattermost/focalboard/files/9758679/fix_collation.sql.txt)

[2022-10-11 18:18] smmilton commented on #3871
After fixing collations, how do I get the system to re-try the migrations?

[2022-10-11 18:37] wiggin77 commented on #3871
@smmilton there is a table called `focalboard_schema_migrations`.  Each records denotes completion of a migration step via the `version` column.  To re-run the last migration step, delete the record with the highest version #.

Unfortunately the migrations are not all idempotent, so simply deleting all the records will create more problems.

[2022-10-11 18:48] smmilton commented on #3871
not much there on my install:

`mysql> select * from schema_migrations;
+---------+-------+
| version | dirty |
+---------+-------+
|       2 |     0 |
+---------+-------+
1 row in set (0.01 sec)`

[2022-10-11 19:34] #3992 closed

[2022-10-11 19:34] #3993 closed

[2022-10-11 21:06] wiggin77 commented on #3871
I see.  You're quite a few releases behind, back when the migrations table only used one record.  If you try just running the new version (after applying the parts of the above script that apply to you) does it get through the rest of the migrations?

[2022-10-11 21:12] smmilton commented on #3871
I don't have any useful data in the focalboards tables, safer just to drop them and let the plugin install re-add them correctly?

[2022-10-11 21:27] wiggin77 commented on #3871
Yes, that will work.

[2022-10-11 22:08] sbishel opened #4000 "Bug: Personal Server cannot register initial user"
## Steps to reproduce the behavior

1. Go to a new instance of personal server.
2. You will be redirected to the login page
3. Select "or create an account..."
4. You will be redirected to the register screen.
5. You will be then redirected back to the login screen.

## Expected behavior

Able to register a new user without being redirected to login page.

## Screenshots (optional)

https://user-i

[2022-10-11 22:15] sbishel opened #4001 "Bug: Cannot set up initial user in personal server"
## Steps to reproduce the behavior

1. Go to fresh Personal Server install
2. You will be directed to the login page
3. Select to "register as a new user"
4. You will be directed to the register page momentarily.
5. Then redirected back to the login page.

## Expected behavior

Able to register as a new user without being redirected to the login page

## Screenshots (optional)

If applicable, add

[2022-10-11 22:28] sbishel commented on #4001
It gets into a loop attempting to call `initialLoad`. Because no one is logged in an error is thrown [here](https://github.com/mattermost/focalboard/blob/main/webapp/src/store/initialLoad.ts#L27).

This results in the errorPage redirecting automatically back to `/login` - https://github.com/mattermost/focalboard/blob/main/webapp/src/errors.ts#L73

I think the websockets are getting disconnected an

[2022-10-11 22:39] sbishel commented on #4001
closing duplicate of https://github.com/mattermost/focalboard/issues/4000

[2022-10-11 22:39] #4001 closed

[2022-10-11 22:40] sbishel commented on #4000
It gets into a loop attempting to call `initialLoad`. Because no one is logged in an error is thrown [here](https://github.com/mattermost/focalboard/blob/main/webapp/src/store/initialLoad.ts#L27).

This results in the errorPage redirecting automatically back to `/login` - https://github.com/mattermost/focalboard/blob/main/webapp/src/errors.ts#L73

I think the websockets are getting disconnected an

[2022-10-12 11:39] luis-guimaraes-exoawk commented on #2597
Any progress?

[2022-10-12 12:04] gowcoizer opened #4003 "Doc: Microsoft Store version is different from the latest release here. How can I manualy upgrade keeping my board?"
Installed the app on Windows 11 from the Microsoft Store, creating account isn't working so I checked latest downloadable version here (focalboard-win.zip)  and it is different. Can I manually update and keep the board I have created so far? Tried with Notepad++ to find where is stored my new data but couldn't find so clarify if possible.

Microsoft Store
![image](https://user-images.githubusercon

[2022-10-12 14:07] vivekkj123 commented on #3994
Yeah. I also got the same error while building the plugin.

[2022-10-12 15:26] mu-us61 opened #4004 "Bug: Locale not supported by C library"
## Steps to reproduce the behavior

run the program from console   ./focalboard-app

## Expected behavior

it should work but show an empty window

## Screenshots (optional)

![image](https://user-images.githubusercontent.com/73366454/195384097-4e144575-c4a0-4041-a386-21668a2f0c3e.png)

## Edition and Platform

 - Edition: Personal Desktop
 - Version: [v 7.2.1 ]
 - Browser and OS: Debian 11 KDE ,

[2022-10-12 17:01] obvionaoe commented on #3253
Any updates?

[2022-10-12 17:07] Pinjasaur commented on #3995
I think it might be a localized problem to the state of my user somehow. Changing to private/incognito browser and trying a different browser (Safari) doesn't change the behavior: I'm still unable to use Boards.

[2022-10-12 17:11] ogi-m opened #4005 "Bug: Cursor moves to the end of the text"
## Steps to reproduce the behavior

1. Open a card
2. Start typing a comment
3. Move the cursor from the end of the text to somewhere in the middle
4. Start typing
5. Notice that after the first letter is entered, the cursor moves back to the end of the text

## Expected behavior

Cursor should not move

## Screenshots (optional)

https://user-images.githubusercontent.com/15314183/195405616-919884

[2022-10-12 18:45] sbishel commented on #3980
@BaltazarBazar - Can you provide version information

[2022-10-12 18:49] mu-us61 commented on #4004
it appears this a kind of KDE thing , in regional settings I changed my region from Turkey to US and problem is fixed
https://unix.stackexchange.com/questions/678904/locale-not-supported-by-c-library-when-running-thunderbird

[2022-10-12 18:49] #4004 closed

[2022-10-12 18:50] BaltazarBazar commented on #3980
I used the latest version

[2022-10-12 19:00] sbishel commented on #3951
I don't believe this is an issue. A read-only user will simply display the text, which would be a GUID in the case of a user field. The editor and admin are not displaying because the User no longer exists.

The large issue is to display User Names in Readonly. There is already a ticket on this. Closing

[2022-10-12 19:00] #3951 closed

[2022-10-12 19:53] wuwinson opened #4007 "Bug: Welcome screen appears sporadically even after previously skipping the tour"
## Steps to reproduce the behavior

1. Go to bookmarked board from your browser on Community
2. Select the bookmark several times to reload the page
3. See error - Welcome screen appears sporadically when it shouldn't. Clicking on the "Take a tour" button also doesn't work and might be related to https://github.com/mattermost/focalboard/issues/3995
4. Going to /boards on the other hand takes you t

[2022-10-12 19:53] wuwinson commented on #4007
cc @sbishel

[2022-10-12 20:10] wuwinson opened #4008 "Bug: Long category names overlap other categories on the "Move To..." sidebar submenu"
## Steps to reproduce the behavior

1. Go to sidebar on Community
2. Select a board and open the options menu (...) from the sidebar
3. Select "Move To..."
4. See error - categories with long names overlap other categories and are not legible on the submenu

## Expected behavior

Category names that wrap multiple lines have an expanded height on the submenu. cc @asaadmahmood for confirmation.

##

[2022-10-12 20:12] #3991 closed

[2022-10-12 22:55] Pinjasaur commented on #3995
Got to the root cause for me, I had a `hiddenBoardIDs` value of `"\"\""` which JSON.parses to a `""` literal which is not of type Array so `"".forEach` throws an error and the whole frontend breaks. I believe this is isolated to myself as back when hiding boards was a new feature I tried it out, realized I still wanted to be able to see the board, and manually patched my user props back to a `hidd

[2022-10-12 22:55] #3995 closed

[2022-10-12 22:57] Pinjasaur commented on #3995
to be clear: to experience this you would need to manually `PUT` in a bad value for `hiddenBoardIDs`, just like I unfortunately did. it just took the migration to become apparent for me. even if you hide a board and unhide it, the `hiddenBoardIDs` value gets set back to a `[]`

[2022-10-12 23:59] sbishel commented on #3816
@SpookOz - Sorry for the delayed response.

You were missing setting Roles = "" rather than Roles = null. The [`model.BoardMember` object](https://github.com/mattermost/focalboard/blob/74846cd39c90f3635de0ca531e0920e38f582097/server/model/board.go#L151) and doesn't accept null.

Not currently, but investigating, see https://github.com/mattermost/focalboard/issues/3781

Not currently, `v7.4.2` adds

[2022-10-13 00:13] #3776 closed

[2022-10-13 13:35] chirag-ghosh commented on #3975
OK so I tried debugging this issue. Turns out when I try to mention the second time, the `isMentionPopoverOpen` state, first changes to true and then immediately changes to false.
This issue doesn't happen for the first time. Additionally this issue never occurs when mentioning in the card content.

P.S. Suppose when mentioning for the second time in the comment, we type `@`, then click somewhere

[2022-10-13 18:31] wuwinson opened #4012 "Bug: "New template from board" duplicated board on sidebar and remains in Edit mode"
## Steps to reproduce the behavior

1. Go to the options menu (...) for any board on the sidebar
2. Select  "New template from board" option
3. See error - board is duplicated on the sidebar and remains in edit template mode
4. Deleting the duplicated board from the sidebar also deletes the newly created template

## Expected behavior

Board is not duplicated on the sidebar and user is taken to th

[2022-10-13 18:43] wuwinson opened #4013 "Bug: Changes to template permissions and icons don't update"
## Steps to reproduce the behavior

1. Open a custom template to edit
2. Open the Share dialog and change permissions for the team
3. See error - nothing happens
4. Change the icon for the template
5. See error - nothing happens
6. Go back to the template editor
7. Notice the icon is updated on the preview, but going back to the same template to edit does not display the changes
8. Open another te

[2022-10-13 18:52] wuwinson opened #4014 "Bug: Email notification displays comments but not change notifications"
## Steps to reproduce the behavior

1. Follow a card
2. Have another user make changes to the card and comment you
3. Wait for Boards bot notification
4. Then wait for email notification
5. See error - Email notification is missing content for change notifications

## Expected behavior

Email notification display similar to Boards bot notification in Channels.

## Screenshots (optional)

### Board

[2022-10-13 20:53] #3974 closed

[2022-10-13 21:07] Pinjasaur opened #4017 "Bug: unable to `i18n-extract` on Windows"
Based on #3996 it appears that our `npm run i18n-extract` which utilizes `formatjs` doesn't work as advertised on Windows. No errors, but the `i18n/en.json` file ends up empty.

It's tricky since the majority of developers are using Mac & Linux day-to-day, especially on the team. Still, unless we're not supporting Windows we should see if we can find a cross-platform way to make the i18n extractio

[2022-10-13 22:04] wuwinson commented on #3994
@andrewwutw @vivekkj123 It sounds like you're running into the same problem as in [this thread](https://community.mattermost.com/core/pl/kxuj9a5bdiy58rr8fs7sjut1my). Hopefully those steps should help unblock you, but let us know otherwise! cc @wiggin77 @sbishel

@justinegeffen Any updates on when we can update that page? Thanks!

[2022-10-13 23:08] CarbonHeartDev commented on #1863
I can take care of this

[2022-10-13 23:09] CarbonHeartDev commented on #1863
I'm working on implementing it

[2022-10-14 02:03] seanohue commented on #3896
Hi @krmh04 -- can you provide more details on this bug?
I am trying to reproduce it using Firefox version 105.0.2 (64-bit) on MacOS and do not see the issue.
Comparing it to Chrome Version 106.0.5249.103 on the same machine and they look identical.

Let me know if I made a mistake when trying to reproduce this issue, or if it with a specific version of Firefox or on a specific OS.

I also noticed

[2022-10-14 07:38] haivala opened #4018 "Bug: Migration is not working (MM 7.4.0)"
## Steps to reproduce the behavior

1. Upgrade mattermost to from 7.3.0 to 7.4.0
2. Boards are not working

## Expected behavior

Broards should be working

## Edition and Platform

 - Edition:  Mattermost Docker Team edition
 - Version: 7.4.0

## Additional context
Log says
[code]

[2022-10-14 13:58] wiggin77 commented on #3975
@chirag-ghosh I'm not familiar with that specific code, however there would be a handler for keyboard events that looks for `@` keystroke and sets the state.  There may be logic there that checks if the caret is directly to the right of the `@` but the logic may find the position of only the first `@` and assume the caret is not beside a `@`.

[2022-10-14 14:10] wuwinson commented on #3896
@seanohue It looks like you're using the [Personal Server](https://www.focalboard.com/download/personal-edition/ubuntu/) edition, but @krmh04's bug is on our [Boards plugin](https://www.focalboard.com/download/mattermost/latest-plugin/).

You can try [this board] from our Community server which uses the Boards plugin.

I wasn't able to repro on Firefox on Mac, so it might just be specific to Windo

[2022-10-14 14:29] sadohert commented on #4005
I'm seeing this on our COmmunity server.  It makes the act of creating a comment against a card (_that needs revisions/iterations/formatting_) incredibly painful...  Basically, if you don't type something 100% accurately the first time, you need to backspace everything out... imagine being on paragraph 3 and realizing there's a material correction back on paragraph 1 🤦🏼‍♂️

[2022-10-14 15:32] amyblais opened #4019 "Update mattermost-server to pre-package Focalboard plugin v7.5"
Update [the makefile](https://github.com/mattermost/mattermost-server/blob/master/Makefile#L123) so that Focalboard v7.5 ships with Mattermost 7.5.

Note that this needs to be cherry picked to the appropriate branch for the release.

**Deadline: November 8th (7.5 Code Freeze)**

[2022-10-14 17:12] haivala commented on #4018
How to solve this?

[2022-10-14 17:31] JamesDAdams commented on #3997
up

[2022-10-14 22:39] #3871 closed

[2022-10-15 01:33] seanohue commented on #3896
Ah, thank you for pointing out that it is on the Boards plugin. I'll try to reproduce as well and may be able to try it out on my Windows machine this weekend too.

[2022-10-15 05:10] kaakaa commented on #2343
On Mattermost v7.4.0 / Boards plugin v7.4.2, this issue seems to be fixed.

https://user-images.githubusercontent.com/1453749/195969840-87025e33-6e96-40ad-92bc-d1466c8fd96d.mov

[2022-10-15 05:25] seanohue commented on #3896
Everything seems to match between Chrome and Firefox in the plugin as well, at least on MacOS.
That said, there are definitely two scrollbars on both Chrome and Firefox -- one for the left-hand content menu and one for the calendar.

Am I reading the screenshot in the original post correctly by assuming that the bug is that there is a scroll bar for the section of the calendar that includes days o

[2022-10-15 08:41] krmh04 commented on #3896
Hi @seanohue ,thanks for trying to reproduce the issue. Yes, you are correct.

[2022-10-15 19:07] seanohue commented on #3896
Okay, I was able to reproduce this issue on Windows Firefox! I'll spend some time this week trying to track down the root cause. I don't have a Windows dev environment set up quite yet but I'll see what I can manage.

[2022-10-16 13:50] WhiteHsu commented on #533
hi @lindy65 @haardikdharma10 @chenilim
I'm very interested in this bug, may I take it?  :-)

[2022-10-16 17:12] lindy65 commented on #533
Hi @WhiteHsu - fantastic :)  I've assigned the issue to you!

[2022-10-17 01:45] 3kami3 commented on #2343
Mattermost ESR v7.1.4 / Boards plugin v7.1.0 did not fix this problem.
The ESR version will have to wait for the next minor upgrade.

[2022-10-17 03:00] WhiteHsu commented on #533
Thanks @lindy65

But when I am trying to build the project, there is prebuild issue as here:
https://github.com/mattermost/focalboard/discussions/4024

My you kindly suggest?

[2022-10-17 03:28] cobenash commented on #4018
I faced the same situation.

Try to reinstall but not working.

[2022-10-17 10:59] kamre commented on #3947
@Rajat-Dabade @varunKT001 When deleting the card in Calendar view I see the confirmation dialog. After that I click `Delete` button and the card is deleted but the dialog is not closed.

Can you check this please?

[2022-10-17 11:10] Rajat-Dabade commented on #3947
@kamre, I can also see this issue, I will create another ticket for it. Nice catch. Thanks.

[2022-10-17 11:11] varunKT001 commented on #3947
@kamre @Rajat-Dabade It's a minor fix. Shall I work on this?

[2022-10-17 11:12] Rajat-Dabade commented on #3947
Sure, @varunKT001, will reopen this issue.

[2022-10-17 11:13] varunKT001 commented on #3947
@Rajat-Dabade I'll make a PR soon, thanks!

[2022-10-17 17:29] andrewwutw commented on #3994
@wuwinson Ok, by adding ```export EXCLUDE_ENTERPRISE=1``` in the beginning of the build procedure, I can build plugin successfully.
I hope someone can add this information into the document. I closed this issue.

[2022-10-17 17:29] #3994 closed

[2022-10-17 18:37] esethna commented on #4005
+1 to Stu's comment. This bug is a real pain!!

[2022-10-17 19:19] wuwinson commented on #4008
cc @asaadmahmood Should we wrap or truncate or something else?

[2022-10-17 19:26] wuwinson commented on #3997
@JamesDAdams Can you share any log errors as well? Thanks!

Potentially related to https://github.com/mattermost/focalboard/issues/4000 - will circle to see if that PR fixes this issue as well. cc @sbishel

[2022-10-17 19:27] wuwinson commented on #3980
@jespino @wiggin77 Can you see if you can duplicate this issue? Thanks!

[2022-10-17 21:45] #3953 closed

[2022-10-17 21:48] haivala commented on #4018
Are you telling me I need to wait a month to get the boards working again?

[2022-10-18 00:00] CarbonHeartDev commented on #1863
I keep working on this issue, I'm still getting my feet wet but I feel which I'm gradually getting accustomed with the project and soon I'll gain enough moment.
I understood how filters works in Focalboard and now I'm implementing the aforementioned filters for Date properties as written on the issue but I have a doubt: on Focalboard a Date property field can be both a single value and a range and

[2022-10-18 03:52] asaadmahmood commented on #4008
@wuwinson I'll fix this. Ideally we can allow the menu to expand a bit more, and then truncate the categories, with possibly a basic html tooltip on hover.

[2022-10-18 05:11] harshilsharma63 commented on #1863
cc @wuwinson @asaadmahmood thoughts on how this should work?

[2022-10-18 05:30] AuspeXeu opened #4028 "Doc: role permissions"
## Summary

It would be great to have a resource that details what rights come with a specific role. (Viewer, Commenter, Admin, etc.)

[2022-10-18 05:43] cobenash commented on #4018
Is it possible to downgrade from 7.4 to 7.3 ?

I haven't try it yet. :)

[2022-10-18 05:49] harshilsharma63 commented on #4018
@haivala @cobenash can you please share the list of tables you have in the DB and the schema of `focalboard_schema_migrations` table?

[2022-10-18 05:55] moetiker commented on #4018
I faced the same situation. Upgraded from 7.3.0

[2022-10-18 06:47] oetiker commented on #4018
it seems that the props column in the users table does not work quite as expected:

[code]
does not work. it returns
[code]

this breaks the

[code]
command. And thus the migrations fail.

[2022-10-18 07:02] oetiker commented on #4018
further analyzing this, it turns out that the props column can contain the VALUE 'null' :) I guess this could be an artifact from a mysql to postgresql migration ...

[2022-10-18 07:05] oetiker commented on #4018
Runninng

[code]
fixes the users table

[2022-10-18 07:20] oetiker commented on #4018
Maybe an even more radical fix would be appropriate.

[code]
Since MM seems to assume that the props column does contain a hash ...

[2022-10-18 07:29] haivala commented on #4018
i ran this but there is still one error:
[code]

[2022-10-18 07:37] wolfganghofer commented on #1924
Not only the boards are duplicated when importing an archive, but also the board templates.

Edition: Personal Desktop, downloaded from Apple App Store
Version: 0.15.2 (33)
OS: macOS Monterey 12.6
![board-templates-duplicated](https://user-images.githubusercontent.com/77409222/196366504-07f465c0-62c6-4377-9c76-d2ead6046fd0.jpg)

[2022-10-18 07:44] oetiker commented on #4018
@haivala not sure why you are getting this ... it seems there was a dirty column in the schema_migrations table at some point, and there is special code in mm to detect if it is still there or not ... this code seems to fail in your case, thinking that the column is still there while it is not actually present ...

[2022-10-18 07:47] oetiker commented on #4018
https://github.com/mattermost/focalboard/blob/6f0c34ddd1ae275986ab491a05ee4ba9c30ad0b1/server/services/store/sqlstore/schema_table_migration.go#L107-L133

[2022-10-18 07:51] harshilsharma63 commented on #4014
@wuwinson its already being completed as part of https://github.com/mattermost/mattermost-server/pull/20946

The em,ail notifications will now contains everything but the red box highlighted below.

![195681362-0d86a6d1-8c6a-4c95-bbbb-1e09ed3e0680](https://user-images.githubusercontent.com/18575143/196369228-7484bc38-fd0f-472f-9e6d-fda0495c389c.png)

Also, this is not a bug, but rather a new featu

[2022-10-18 07:51] haivala commented on #4018
I have been upgrading this instance since MM version 2 or 3, can't remember even so I'm not surprised there something extra over the years. I'll try that!

[2022-10-18 07:52] harshilsharma63 commented on #4014
Can we close this one as a dupe of the ticket being tracked in the above specified PR?

[2022-10-18 07:53] haivala commented on #4018
That sql gave me this:
[code]

[2022-10-18 08:00] oetiker commented on #4018
hmmm that looks good ... could it be, that you have some old plugin copy somewhere ? Because in the current focalboard code the word 'dirty' only occurs in that schema table migration routine ... Maybe you have a second (old) focalboard pluggin kicking around ?

[2022-10-18 08:10] harshilsharma63 commented on #4018
@oetiker thanks a ton for the analysisfor and posting the fix! We'll definitally handle this and look into other invalid states the data in the DB might be in.

[2022-10-18 08:12] harshilsharma63 commented on #4018
@haivala you's is a different issue. A while back we switched DB migration tools and the new tool stores data in a different format in `focalboard_schema_migrations` table. We wreote a custom code to transform this table's schema and the stored stored in it from the old format to the new format. It looks like that code is not doing its job perfectly, and this causing your issue.

Can you please sh

[2022-10-18 08:13] haivala commented on #4018
Any tips how to check that? I just recently moved from the old docker install to the new one. `volumes/app/mattermost/plugins` has `focalboard` folder.

[2022-10-18 08:15] haivala commented on #4018
Sure. Can you give me the commands? I'm more familiar with Mysql.

[2022-10-18 08:17] harshilsharma63 commented on #4018
@haivala to list all tables-

[code]

to show schema of a the table-

[code]

[2022-10-18 08:22] haivala commented on #4018
My point was that I have Postgres db. I would have know the mysql commands from the memory :)

[2022-10-18 08:25] haivala commented on #4018
[code]

[2022-10-18 08:26] harshilsharma63 commented on #4018
Can you also check the schema of `focalboard_temp_schema_migration` table?

[2022-10-18 08:28] haivala commented on #4018
[code]

[2022-10-18 08:29] haivala commented on #4018
\d focalboard_temp_schema_migration
Did not find any relation named "focalboard_temp_schema_migration".

[2022-10-18 08:33] harshilsharma63 commented on #4018
@haivala okay, I feel I know what's hapenning. Can you show the contents of `focalboard_system_settings` table? Also, to summarise, whats the latest error you get on starting Focalboard?

[2022-10-18 08:48] jespino commented on #3980
I don't know if this is a duplicated issue, the bugs looks related to some kind of encoding problem. @BaltazarBazar can you try to execute this with `LANG=C ./focalboard-app` and see if that still happens?

[2022-10-18 08:48] cobenash commented on #4018
Here is mine. @harshilsharma63

[code]

I have the same error message as @haivala

[2022-10-18 08:54] asaadmahmood commented on #1863
@harshilsharma63 @nishantwrp Something as simple as this should work.
![image](https://user-images.githubusercontent.com/11034289/196384370-5ba7eaf0-a502-4d51-9b5f-eaeaa416059e.png)
![image](https://user-images.githubusercontent.com/11034289/196384389-0fbf0e93-4ec3-46a0-962a-0dcc94ef81cf.png)

[2022-10-18 09:04] haivala commented on #4018
I have the same

[2022-10-18 09:26] asaadmahmood commented on #1863
If we want to do that, we may want to do something like this.
![image](https://user-images.githubusercontent.com/11034289/196391916-42f92115-7d39-4a82-bae0-d23a1dd4fb1c.png)

[2022-10-18 09:33] harshilsharma63 commented on #4018
@haivala can you please double check that you are indeed runnning focalboard version 7.4? Try removing and re-installing the plugin. The DB schema checks out - no `dirty` column in `focalboard_schema_migrations` is correct, but if its still trying to do `SELECT version, dirty FROM "focalboard_schema_migrations" LIMIT 1`, that occurred in an older version of Focalboard.

Feel free to DM me on commu

[2022-10-18 09:47] harshilsharma63 commented on #4018
@haivala no, it doesn't delete the data.

[2022-10-18 09:49] haivala commented on #4018
So in system console: disable, remove and then in marketplace install?

[2022-10-18 09:50] harshilsharma63 commented on #4018
Disable from system console, remove, and install [from here](https://github.com/mattermost/focalboard/releases/tag/v7.4.2) just to be extra sure of the version we're instaling.

[2022-10-18 09:52] cobenash commented on #4018
@harshilsharma63 How could we install [from here](https://github.com/mattermost/focalboard/releases/tag/v7.4.2) when we use docker image as the main installation method?

[2022-10-18 10:00] cobenash commented on #4018
I got it.

I download it  via following command
[code]
And I uncompress the file and then put it to the plugin folder. The focalboard function is back.

[2022-10-18 10:06] haivala commented on #4018
did you extract it in `volumes/app/mattermost/plugins/focalboard` or in `volumes/app/mattermost/client/plugins/focalboard`?
Which one is the right one? Do I need them both?

[2022-10-18 10:07] cobenash commented on #4018
`volumes/app/mattermost/plugins/focalboard`

All the board including data is back too. :)

Thanks for everyone's help.

Appreciate it.

[2022-10-18 10:10] haivala commented on #4018
@cobenash Do you have them both?

[2022-10-18 10:40] harshilsharma63 commented on #4018
@cobenash I'm super glad it worked for you!

@haivala were you able to get it to work?

[2022-10-18 10:41] haivala commented on #4018
I'm waiting answer to: Do I need them both?

[2022-10-18 10:45] harshilsharma63 commented on #4018
@haivala its perfectly safe to do both. Your data is never deleted.

[2022-10-18 10:48] haivala commented on #4018
I mean is it right to have the plugin in both folders? or should the client side one be deleted?

[2022-10-18 11:04] harshilsharma63 commented on #4018
@haivala I'm sorry but I have never used Mattermost with Docker so I'm not sure on this. If you just go into system console > plugins, do you get an option to remove Focalboard and an upload plugin button?

[2022-10-18 11:41] haivala commented on #4018
I can now confirm that the error has vanished after plugin replace.

Thanks for everyone's help!

[2022-10-18 12:01] cobenash commented on #4018
@harshilsharma63  Thanks 💯

@haivala I am glad that you worked too. I replied via modifying the same comment. lol

`/volumes/app/mattermost/client/plugins/*` looks like the location to store user sensitive information compiled by the plugin in `/volumes/app/mattermost/plugins/*`

[2022-10-18 13:02] PabloCastellano commented on #3109
This is dupe of https://github.com/mattermost/focalboard/issues/166

[2022-10-18 13:12] BaltazarBazar commented on #3980
Same thing. It all looks good (a bunch of green lines) in the terminal window up until the final line:

2022/10/18 14:06:40 ==  migrate_user_props_to_preferences: migrated (0.0063s)  =========================================
2022/10/18 14:06:40 ==  remove_template_channel_link: migrating  =======================================================
2022/10/18 14:06:40 ==  remove_template_channel_link:

[2022-10-18 13:56] #3947 closed

[2022-10-18 14:47] mvitale1989 opened #4032 "Bug: ctrl+Z doesn't always undo"
## Steps to reproduce the behavior

1. Go to focalboard
2. Open a card
3. Type a comment
4. Delete a single character with backspace
5. Press ctrl+Z

## Expected behavior

I expect ctrl+Z to restore the character i deleted. Instead, nothing happens.

## Edition and Platform

 - Edition: the one on the community server, as of today
 - Version: v7.4.2
 - Browser and OS: both on Firefox 105.0.3, and

[2022-10-18 14:47] mvitale1989 opened #4841 "Bug: ctrl+Z doesn't always undo"
## Steps to reproduce the behavior

1. Go to focalboard
2. Open a card
3. Type a comment
4. Delete a single character with backspace
5. Press ctrl+Z

## Expected behavior

I expect ctrl+Z to restore the character i deleted. Instead, nothing happens.

## Edition and Platform

 - Edition: the one on the community server, as of today
 - Version: v7.4.2
 - Browser and OS: both on Firefox 105.0.3, and

[2022-10-18 14:49] cannalee90 commented on #3895
I'm having struggling with some problems but i think i could do it by next week

[2022-10-18 15:29] wuwinson commented on #3896
Thanks for taking the time to look into this @seanohue! @sbishel I'm okay with leaving this as `won't fix`. Any concerns on your end?

[2022-10-18 15:42] seanohue commented on #3896
One last thing I can look into tomorrow (I don't have access to my Window's machine today) is if [applying this CSS](https://stackoverflow.com/questions/17758578/how-to-remove-the-arrows-in-a-scroll-bar-through-css) as an inline style will remove the scrollbar arrows while leaving the track.

It looks like there are other spots in Focalboard where fullcalendar styles are overridden but I'm not 100

[2022-10-18 16:06] wiggin77 commented on #3852
@johan-d-x can you confirm which version of Mattermost server you are on?  Do you happen to upgrade the plugin but have an older server?

[2022-10-18 16:11] wiggin77 commented on #2469
@gotIT4 I believe this was fixed via https://github.com/mattermost/mattermost-server/pull/19713 and appeared in Mattermost server 6.6.  Note, the fix is in MM server, not the Focalboard plugin.

Can you confirm this has fixed the issue for you?

[2022-10-18 17:03] hacxman commented on #3357
hi, i've tried this again and it suddenly seems to work just fine!

[2022-10-18 18:09] wiggin77 commented on #3728
@MingSwivel I am unable to reproduce this error following the instructions in the link you posted, I exported a XML from Jira, converted to a `.boardarchive file` using `npx ts-node importJira.ts -i ./my_jira_export.xml -o archive.boardarchive`, and then I imported to a new Board.  All the tickets were imported.

The error reported `unsupported archive line type; got board, line 2` is something th

[2022-10-18 18:50] Pinjasaur commented on #3834
Related to #3728.

[2022-10-18 18:53] wuwinson commented on #4014
Ah ok thanks @harshilsharma63! We were testing all the stuff from `main` as part of our post-v7.4 bug bash and thought the email stuff was merged in. Closing this out.

[2022-10-18 18:53] #4014 closed

[2022-10-18 19:26] varunKT001 commented on #3947
@kamre Even though I have 2 PRs merged, I can't see my name in the contributors' list shown by GitHub 😕

[2022-10-18 19:29] h1zardian opened #4034 "Doc: Need steps on creating a native Linux desktop application"
## Summary

It would be great to have extended documentation on creating the launch script and .desktop file for the native feel of focalboard application on linux desktops.

## Link to documentation page

`https://www.focalboard.com/download/personal-edition/desktop`

## (Optional) Additional context and/or screenshot

I would like to work on this issue, can it be assigned to me?
I have also crea

[2022-10-18 20:00] Pinjasaur commented on #1863
@CarbonHeartDev I've assigned you to this, please feel free to keep asking questions.

[2022-10-18 20:10] Pinjasaur commented on #3192
I was thinking about exactly this today (glad I searched for an existing issue first). Currently, comments are sorted in reverse-chronological (newest first), as per #1985. The main motivation I see in viewing comments in chronological order is keeping parity with Channels. Otherwise, newer comments are typically more relevant so having them display first can be handy UX.

Open questions:
- Would

[2022-10-18 20:29] wuwinson commented on #3192
I would expect it to be per-user, similar to how we treat categories on the sidebar.

[2022-10-18 20:34] asaadmahmood commented on #3192
@Pinjasaur Yup, expect it to be per user, and be preserved on a card, by default it can be newest first, and then we can allow users to override that setting per card. (similar to facebook posts).

If we feel like users have a certain way of consuming threads and want all threads to be modified, then this needs to be a user setting in the settings modal.

[2022-10-18 20:51] wuwinson commented on #1863
Relevant tickets for additional reference:
- https://github.com/mattermost/focalboard/issues/1031
- https://github.com/mattermost/focalboard/issues/1431

## Requirements
For any `Date`, `Created time`, or `Last updated time` property selected in the filter dropdown, display the following filter options with a calendar picker to specify the dates:
1. **is** - Only display cards that matches the exa

[2022-10-18 21:08] eyebank opened #4036 "Bug: FocalBoard Plugin (7.4.2) wont start after upgrade (0.7.3). MM @ 7.4.0"
## Steps to reproduce the behavior
upgrade boards from 0.7.3 to 7.4.2

also remove plugin and reinstall.

## Expected behavior

Expect Boards to Load

here is the error:

This plugin failed to start. cannot activate plugin: error initializing the DB: driver: postgres, message: failed to execute migration, command: executing_query, originalError: pq: cannot delete from scalar, query: INSERT INTO Pr

[2022-10-18 22:00] wuwinson commented on #4028
@AuspeXeu Thanks for your feedback! We may need to link to the Help Docs somewhere on the Share dialog to make it more obvious, but the docs are located [here](https://docs.mattermost.com/boards/share-and-collaborate.html#roles). Feel free to reach out if you have any other questions. cc @justinegeffen @asaadmahmood

[2022-10-18 22:00] #4028 closed

[2022-10-18 23:01] Pinjasaur opened #4037 "UI Enhancement: use icons in Settings > Import submenu"
## Summary

It's not immediately obvious in the Settings > Import submenu that only the `Import archive` option actually opens the file dialog for you to upload a `.boardarchive` file. The other menu options are simply links to specific sections in the docs.

I'd like to make it more clear in the UI the purpose that the menu options serve. Perhaps an icon that would help infer to users that a menu

[2022-10-18 23:01] Pinjasaur opened #4840 "UI Enhancement: use icons in Settings > Import submenu"
## Summary

It's not immediately obvious in the Settings > Import submenu that only the `Import archive` option actually opens the file dialog for you to upload a `.boardarchive` file. The other menu options are simply links to specific sections in the docs.

I'd like to make it more clear in the UI the purpose that the menu options serve. Perhaps an icon that would help infer to users that a menu

[2022-10-18 23:09] Pinjasaur commented on #4037
Perhaps something like:

<img width="545" alt="image" src="https://user-images.githubusercontent.com/6335792/196561696-e7693c76-ac43-4af6-a557-210ba32e4798.png">

[code]

[2022-10-18 23:18] Pinjasaur commented on #4037
I wonder if maybe the copy of the menu options could be made clearer? cc @justinegeffen

Perhaps `Import archive` -> `Import .boardarchive`? or `Import archive file`?

[2022-10-19 06:24] harshilsharma63 commented on #4005
Debugging this now.

[2022-10-19 08:23] andrewwutw opened #4038 "Bug: Text cursor always moves to the end of input text after any text editing action."
## Steps to reproduce the behavior

In focalboard text input mode, if I do any text editing action, the text cursor will move to the end of input text automatically.

See screenshots :

1. I create a new empty board item.

![1](https://user-images.githubusercontent.com/4443713/196635831-b1245f8b-32d7-4edd-b540-df51968fdfea.png)

2. I type "1234" in the comment field. It is no problem.

![2](https:

[2022-10-19 09:51] MingSwivel commented on #3728
Yes. I can import now. Thank you.

[2022-10-19 09:51] #3728 closed

[2022-10-19 09:56] hoellmet commented on #3834
@Pinjasaur Sorry i comment here: #3784

[2022-10-19 10:12] johan-d-x commented on #3852
@wiggin77 We are running `Mattermost Version 7.2.0` via Omnibus Gitlab.
Regarding the plugin version: `Mattermost Boards (focalboard - 7.1.0)`

We're running the latest plugin version available on the Marketplace.

[2022-10-19 12:29] #2658 closed

[2022-10-19 13:03] wiggin77 commented on #3852
Ok, thank you @johan-d-x.  To answer a few questions from the original description:

When following a card, a user should be notified of any changes to the content of the card, or the card being deleted.  That includes any changes to property values, comments added, and any changes (add/modify/delete) to text in the description.  However the user will not be notified of changes they themselves hav

[2022-10-19 13:05] wiggin77 commented on #3852
One other thing, there should be no need to ever mention the @board bot.  Mentioning the bot has no effect.  The only way to subscribe to card changes is to be the author of the card, get mentioned in the card, or click the `Follow` button.

[2022-10-19 15:22] #3941 closed

[2022-10-19 16:03] wuwinson commented on #4037
Thoughts @asaadmahmood? Maybe a divider would help?

[2022-10-19 17:28] wuwinson commented on #4038
Thanks for reporting @andrewwutw! This was reported on https://github.com/mattermost/focalboard/issues/4005 and the fix should be available in one of the upcoming weekly cloud releases.

[2022-10-19 17:28] #4038 closed

[2022-10-19 17:59] sbishel commented on #4007
This occurs when using the old "workspace" path. And it actually stops on the Welcome Board. It does "flash" even when hitting the new "team" path.

[2022-10-19 18:31] sbishel commented on #4007
This occurs when using the old "workspace" path. And it actually stops on the Welcome Board. It does "flash" even when hitting the new "team" path.

[2022-10-19 20:56] wuwinson opened #4046 "Feature Idea: Translated standard Boards templates"
## Summary
Board templates are only supported in English currently. If users switch their language settings to a non-English language, the standard templates will always appear in English regardless of the language selected. Board users rely on standard templates to help them learn about the product and to get started quickly.

For non-native English speakers looking to use Boards, this is problem

[2022-10-19 21:03] sbishel commented on #4046
https://community.mattermost.com/boards/team/qghzt68dq7bopgqamcnziq69ao/b4ctmm917q3rzdfi451qtuxjzcw/vd89yph84ajbkufkbgts9m3sb5a/cjzatja8gqfr48fpsyx5ayp7ujo

[2022-10-19 21:14] sbishel opened #4047 "Error exporting to CSV"
Hey team, is there a known issue with Boards CSV exports? A user reached out to us, stating they were able to export their boards just fine last week but now it's failing. It happens in different browsers. The instance is `https://jcgrand.cloud.mattermost.com`

_Issue created from a [Mattermost message](https://community.mattermost.com/_redirect/pl/t9imxx469fymxfm1iwzuzpuhmo) *by `@marco.kundt`*._

[2022-10-19 21:34] sbishel commented on #4047
This is occurring due to `undefined` property values.

[2022-10-19 22:37] shadybotros commented on #3938
@wuwinson I can work on that if no one is already working on it (would be my first contribution)

[2022-10-20 02:04] WhiteHsu commented on #533
hi @lindy65 @haardikdharma10 @chenilim

I've already submitted my PR to fix the issue on the Filter button of the Header:
https://github.com/mattermost/focalboard/pull/4050

Please kindly help review and feedback.

In addition to my commits, the PR shows that I need to sign the CLA. May you help suggest how I should do for the next to sign it? Thank you a lot.
![圖片](https://user-images.githubuserc

[2022-10-20 04:09] cannalee90 commented on #3959
@wuwinson update: so far I finished first part of the specification you write but im having trouble with the last part.

[2022-10-20 06:36] lindy65 commented on #533
Thanks @WhiteHsu - I'm requesting help for you from @harshilsharma63

[2022-10-20 08:50] #4047 closed

[2022-10-20 09:00] #4007 closed

[2022-10-20 09:02] #4000 closed

[2022-10-20 09:16] gotIT4 commented on #2469
Hi @wiggin77 we have still the error "Mention notification skipped; not a known username"
Mattermost Version 7.2.0

[2022-10-20 13:59] wuwinson commented on #3938
Awesome, thanks @shadybotros! I've assigned the bug to you!

[2022-10-20 15:22] wuwinson commented on #3959
@cannalee90 This behavior would be similar to what happens in Mattermost Channels today. @sbishel Can you recommend someone from the team who might be able to provide some assistance? Thanks!

[2022-10-20 16:15] cannalee90 commented on #3959
@wuwinson thank you! I just made pr but i'm not it is right way to do. any suggestion would be welcomed

[2022-10-20 17:24] michkrej commented on #2068
Hi! Can I work on this issue?

[2022-10-20 17:27] sbishel commented on #2068
@michkrej - Sure, all yours.  Thanks.

[2022-10-20 17:31] sbishel commented on #3959
@harshilsharma63 - Should be able to help with Selecting the board in the sidebar.

[2022-10-20 17:50] adithyaakrishna commented on #3939
Can I take this up?

[2022-10-20 17:54] wuwinson commented on #3939
Thanks @adithyaakrishna, assigned to you!

[2022-10-20 18:29] adithyaakrishna commented on #2439
Can I take this up?

[2022-10-20 19:30] hoellmet commented on #3834
@Pinjasaur I upload files and comment in discussion: https://github.com/mattermost/focalboard/discussions/3784

[2022-10-20 19:34] bambeusz commented on #4036
same here, I found some workaround for the previous version, and assumed it may work for the current one, just replacing the migration value, but I don't know which was the "last working" value. anyone?

https://github.com/mattermost/focalboard/issues/2119#issuecomment-1013751739

[2022-10-20 21:27] sbishel opened #4059 "Bug: Panic due to GetMemberForBoard can return a null member."
The Community Mattermost server is encountering several panics in the focalboard plugin. This seems to have started in the  last day or so.

https://mattermost.atlassian.net/browse/MM-47528

[2022-10-20 22:01] #4059 closed

[2022-10-20 23:22] sbishel commented on #3997
Hi @JamesDAdams - Sorry for delay, but I was unable to register an initial user due to #4000. Once that has fixed, I was unable to duplicate your issue. However, after re-reading, I'm wondering if you're actually missing a step...Inviting Users.

Before sharing the board in you're first step - `1. Go to share a board`

You should invite users to register using this link.
1. Go to to "Focalboard" i

[2022-10-20 23:25] sbishel commented on #3881
@wiggin77 - Could you retest on Linux and see if still an issue. I tried on https://boards-bugbash74.test.mattermost.cloud/ and could no longer duplicate either on MAC (chrome nor FF).

[2022-10-21 02:32] sdclipper opened #4065 "Does not accept the language in Portuguese (Brazil)"
I installed the focalboard on a ubuntu server when configuring for the Brazilian Portuguese language the focalboard does not accept, the other languages ​​work.

[2022-10-21 03:24] WhiteHsu commented on #533
Thanks @lindy65 .

After resolving the env issue, I've revised the codes and raised the MR #[4050 ](https://github.com/mattermost/focalboard/pull/4050)to fix the bug #[533](https://github.com/mattermost/focalboard/issues/533). Please kindly review and feedback. Thank you very much.  :-)

[2022-10-21 13:34] wiggin77 commented on #3881
Still happening for me on bugbash74.  FF 106.0.1 Linux

![caret-bug](https://user-images.githubusercontent.com/5024605/197208203-986243d0-d1e3-4550-a9f0-45f527bde4ba.gif)

[2022-10-21 13:58] wuwinson commented on #3410
Thanks @mastersb! I've assigned this ticket to you.

[2022-10-21 16:07] sbishel commented on #3881
Thanks.  Also occurs on the normal "Select" property.

[2022-10-21 16:35] qlyoung opened #4064 "Bug: UI scaling & spacing isn't correct in Desktop"
## Steps to reproduce the behavior

1. Open Focalboard Desktop

## Expected behavior

Correct spacing

## Screenshots (optional)

![fb2](https://user-images.githubusercontent.com/6827003/197245102-bf1c5f4b-09c7-4e68-8e38-b4c49474eefe.png)
![fb3](https://user-images.githubusercontent.com/6827003/197245106-848d0f15-27b0-4f79-b5de-6fe28e79aed5.png)
![focalboard-1](https://user-images.githubuserconten

[2022-10-21 18:46] MrVSiK commented on #2190
Hi! Is this feature under development?

[2022-10-21 20:24] Pinjasaur commented on #3834
Closing, see #3784.

[2022-10-21 20:24] #3834 closed

[2022-10-22 14:28] kamre commented on #1007
Hi @wuwinson, I am working on this bug and will soon create a pull request with the fix. So you can assign it to me.

[2022-10-23 05:16] zhzy0077 opened #4067 "Bug: Fail to upgrade from v7.4.2 to v7.4.3 on focalboard server w/ MySQL"
## Steps to reproduce the behavior

1. A working focalboard server on v7.4.2 with MySQL data store via Docker.
2. docker run v7.4.3 version of focalboard server

## Expected behavior
The server is able to start.

## Screenshots (optional)
[code]
## Edition and Platform

 - Edition: Personal Server
 - Version: v7.4.3
 - Browser and OS: Docker on Linux

## Additional context (optional)

The failure

[2022-10-23 06:22] varunKT001 opened #4068 "Doc: Unable to setup the project locally"
## Summary

Unable to setup the project on local machine.

OS: Windows 10 (21H1)
Node version: 16.13.0
NPM version: 8.1.3
Go version: 1.19.2

## (Optional) Additional context and/or screenshot

- NPM error while installing dependencies for `mattermost-plugin/webapp`

[code]

- Build error while setting up the server

[code]

[2022-10-23 11:24] shadybotros opened #4070 "UX: Adding a new table row should focus on the new row's title"
## Summary

Steps to Reproduce:
1. Enter a table view
2. Click on `+ New` at the bottom OR update the last row and press enter
3. A new row is added
4. But: The title of the new row is not focused and you have to click on it to edit

Suggested Behaviour: The title of the new row should be focused so that I can edit right away

## How important this is to me and why

Importance: Medium

Why: When I

[2022-10-23 11:24] shadybotros commented on #4070
cc @wuwinson

[2022-10-23 12:26] shadybotros commented on #4070
I'm working on it, should be a simple fix

[2022-10-23 13:49] shadybotros commented on #2323
@wuwinson I can take this if no one is working on it (already looking into it actually :)

[2022-10-23 23:20] pairofcrocs opened #4072 "Doc: NGINX Proxy Manager Issues"
## Summary

Seemingly all people are having issues getting focalboard working inside of NGINX Proxy Manager (NPM)

## Link to documentation page

(https://www.focalboard.com/download/personal-edition/ubuntu/#configure-nginx)

## (Optional) Additional context and/or screenshot

I keep getting the `Websocket connection closed, connection interrupted. If this persists, check your server or web proxy

[2022-10-24 06:04] zhzy0077 commented on #4072
The error sounds like a websocket issue. Have you checked 'Websockets support' in NGINX Proxy Manager?
This is my config:
![image](https://user-images.githubusercontent.com/8717471/197458242-c21cb9c3-05d2-4357-a337-693ccebe6da8.png)

[2022-10-24 07:46] lindy65 opened #4073 "Bug: "SUM" is not adding up the total of column rows (remains zero)"
Reproduced in Rainforest v7.4.3 Boards Plugin Windows 10/Chrome

## Steps to reproduce the behavior

1. Use the "Personal Tasks" template
2. Add "7" to the Number column to the right of "Buy groceries"
3. Add "2" to the Number column to the right of "Feed Fluffy"
4. Hover over "COUNT" at the bottom of the table
5. Click on "Calculate^" below the Number column
6. Observed:  "SUM" remains zero (see

[2022-10-24 09:52] Alderaaan opened #4074 "Bug:"
Hi,

Since I downloaded and deployed the v7.4.2 focalboard, I noted when an issue with the txt block.

# Steps to reproduce the behaviour

1- Go to boards
2 - Select any board and navigate to table view
3 - Create a project with an txt column
4 - Write a comment
5 - Navigate to the board view
6- Navigate to the table view

# Expected behaviour

The txt comment disapear.

# IMG
<img width="129" alt

[2022-10-24 14:01] wuwinson commented on #1007
Awesome, thanks @kamre!

[2022-10-24 14:39] MikeSchlag opened #4075 "Bug: Attempting to view board from Mattermost Windows client gets "Redirecting to error page", works from web browser"
## Steps to reproduce the behavior

1. Using Mattermost Windows client v5.1.1, attempt to select `Boards` view from any project tab.
2. Client displays 'Redirecting to error page' and never goes anywhere else.
3. Using Mattermost Windows client v5.1.1, use `View/Clear and reload cache` command
4. Attempt to select `Boards` view from any project; error is displayed again
5. Using web browser, use s

[2022-10-24 16:22] #3939 closed

[2022-10-24 16:53] chenilim opened #4077 "Bug: Move to menu shows overlapped titles"
## Steps to reproduce the behavior

1. Select ... from a board's sidebar item
2. Select  move to...
3. See long titles overlap

## Expected behavior

Titles should not overlap. Perhaps truncate.

## Screenshots (optional)

<img width="487" alt="Screen Shot 2022-10-24 at 9 51 08 AM" src="https://user-images.githubusercontent.com/46905241/197581864-1fd96d2e-d27d-4520-a1d4-90a7627522b3.png">

## Edit

[2022-10-24 16:58] Pinjasaur opened #4078 "Enhancement: List Board Members before Non-Board Members"
### People Data Types should auto filter

I'm setting up a new board and finding that the `person` attribute doesn't auto filter based on who's a member of the card. Any thoughts / plans to have this auto filter to the people in the board or last used few first, then let it search?

_Issue created from a [Mattermost message](https://community.mattermost.com/_redirect/pl/1sy7ax7ye3fc9ymyh5pbo5xt8h)

[2022-10-24 17:00] Pinjasaur commented on #4078
![image](https://user-images.githubusercontent.com/6335792/197583362-94679921-5023-4575-bb2f-d42d0183d552.png)

[2022-10-24 17:23] MikeSchlag commented on #4075
Additionally, I am able to see the board in the `Linked Boards` side pane accessed from the bullseye icon.

![image](https://user-images.githubusercontent.com/107645861/197587706-d1899a3b-60ea-4b86-baf6-cdbef242b8da.png)

However, clicking on the board in this view still results in the "Redirecting to error page" message.

[2022-10-24 18:33] wuwinson commented on #4077
Thanks for reporting @chenilim! Dupe of #4008, closing this one out.

[2022-10-24 18:33] #4077 closed

[2022-10-24 18:36] wuwinson commented on #4078
This is a bug, dropdown should look like this:
![Screen Shot 2022-10-24 at 2 34 43 PM](https://user-images.githubusercontent.com/93531870/197600229-6acab9f4-b4a3-4289-be76-85aaf5d24938.png)

[2022-10-24 18:40] wuwinson commented on #3803
Also appearing in the Share dialog and confirmation dialog for autocomplete list:

<img width="451" alt="image" src="https://user-images.githubusercontent.com/93531870/197600817-807119ea-8c13-4948-9f59-87b5de2c3e1f.png">
<img width="652" alt="image1" src="https://user-images.githubusercontent.com/93531870/197600826-abc13939-a138-40be-8993-759b9275ebe6.png">

[2022-10-24 19:14] wuwinson commented on #4074
@Alderaaan Can you provide a screen recording of your issue? We're having trouble reproducing it. Thanks!

[2022-10-24 19:18] wuwinson commented on #4064
@ogi-m Can you repro this issue? Thanks!

[2022-10-24 19:25] wuwinson commented on #4036
Might be fixed with #4029

[2022-10-24 19:28] coltoneshaw commented on #1266
![Screenshot 2022-10-24 at 3 25 32 PM](https://user-images.githubusercontent.com/46071821/197609221-ad25441a-2b25-493d-b52d-e7adb1aab9e7.jpg)
Still seeing this behavior on v7.4.3.

[2022-10-24 19:35] wuwinson commented on #4068
@varunKT001 Have you tried the steps documented [here](https://developers.mattermost.com/contribute/more-info/focalboard/personal-server-setup-guide/#build-via-the-terminal)? Thanks! cc @sbishel

[2022-10-24 20:05] wiggin77 commented on #4067
TBH I didn't know personal server could use MySQL.  I thought it was Sqlite only.  I'll fix today.

[2022-10-25 01:55] pairofcrocs commented on #4072
Nope, I was an complete idiot.

After HOURS of trouble shooting I finally figured out that uBlockOrigin was blocking the websockets requests....

[2022-10-25 01:55] #4072 closed

[2022-10-25 03:53] lindalumitchell commented on #4073
Also reproduced in Rainforest on v7.4.3 Boards Plugin MacOS / Safari.

[2022-10-25 11:33] KakEgorka opened #4081 "Bug: The value in Number Field disappear when we change a board view"
## Steps to reproduce the behavior

1. Enter the Mattermost Boards and create issue
2. Edit issue in boards view and fill the number type field
3. Close the edit screen and change a view to "table"
4. See error

## Expected behavior

The number field must be filled after we change the board view

## Screenshots (optional)

https://user-images.githubusercontent.com/109951790/197762365-441909dd-e1c2

[2022-10-25 13:37] Pinjasaur commented on #4081
Will need to investigate further, potentially related to #4073.

[2022-10-25 15:25] WhiteHsu commented on #3462
hi @wuwinson @Pinjasaur
This bug looks interesting to me. May I take it?  :-)

[2022-10-25 15:44] wuwinson commented on #3462
Thanks @WhiteHsu! I've assigned the ticket to you.

[2022-10-25 15:45] WhiteHsu commented on #3462
@wuwinson thanks and will do!

[2022-10-25 15:57] eiminola opened #4082 "Bug: Cannot run the Windows standalone app"
windows personal( standalone) version.

In windows, when I download and install Focalboard from Microsoft Store everything works perfect, but the problem with Microsoft Store is this: the Focalboard version which is there is old, it is for 5 months ago.
When I want to use the last version of  Focalboard which in the release part of GitHub repo, after downloading the zip file( Focalboard-win) and e

[2022-10-25 16:06] kamre commented on #3462
Hi @WhiteHsu, the title of the board uses `input` element that is why it knows how to position the cursor on focus.

Description of the board is a lot more complex because it is rendered as html coming from markdown editor. So determining the position of the cursor is not that trivial. Specifically there is an html preview when the editor is not even active, so during the click on html preview the

[2022-10-25 16:32] Pinjasaur opened #4083 "Enhancement: increase satisfaction & engagement when moving into DONE column"
snippet of a message from @metanerd in the context of just having taken a workshop on productivity & prioritization. the idea being a user should _want_ to move cards into `DONE` because it brings some sort of satisfaction. maybe via gamification, fancy animations, sound effects, or other things that stimulate dopamine

_Issue created from a [Mattermost message](https://community.mattermost.com/_r

[2022-10-25 16:36] wuwinson commented on #2964
Can't repro anymore in v7.4 - closing out.

[2022-10-25 16:54] wuwinson commented on #2323
@shadybotros Assigned to you!

## Requirements
- For a newly added row/card on table view, pressing `Esc` or `Cmd/Ctrl + Z` will undo the added row/card.
- If the user types content into the card title after creating the new row, pressing `Esc` will only clear the content on the card title, and will not undo the added row. In this case, user must use `Cmd/Ctrl + Z` to undo the added row/card.

[2022-10-25 18:02] #4067 closed

[2022-10-25 18:36] TheMasterFX opened #4084 "Bug: Offline Mattemost instance - Icon emoji preview not loaded due to unpkg.com reference on boards"
## Steps to reproduce the behavior

1. Install a Mattermost instance in an offline environment (no connection to internet)
2. Go to Boards => Create New Board (from any Template you like)
3. Open a Task
4. Click on the Symbol => Pick icon => Preview is empty

## Expected behavior
Preview of icon is visible

## Observed behavior (that appears unintentional)
No Icon preview visible due to reference

[2022-10-25 19:15] sbishel commented on #4078
This is not a bug. What happens is the first 10 records are returned. If those first 10 do not contain board members then the board members are not shown. If we want to change the design of the drop down to work differently, that's fine, but it does currently work as designed. cc: @wuwinson

[2022-10-25 19:25] Alderaaan commented on #4074
Yes. Attachment.
Tks
[screen-recording.webm](https://user-images.githubusercontent.com/21173299/197863780-c8bfa3dd-b5c3-47b6-b0e4-32655ee3aafb.webm)

[2022-10-25 19:51] wuwinson commented on #4078
Thanks @sbishel, switching back to `Enhancement`.

[2022-10-25 19:59] coltoneshaw opened #4085 "Bug: Boards uses a hard-coded value for Person SingleValue attribute."
## Steps to reproduce the behavior

1. Set your theme to any of the dark mode themes
2. Create a person attribute property
3. Set that value and see that you can barely see the name.

## Expected behavior

It should not be a hardcoded value, but rather the theme value.

## Screenshots (optional)
![Screenshot 2022-10-25 at 3 38 06 PM](https://user-images.githubusercontent.com/46071821/197869968-4fe

[2022-10-25 20:52] qlyoung commented on #4064
What action do you need from me?

[2022-10-25 20:58] Pinjasaur commented on #4081
Similar to #4074.

[2022-10-25 22:03] Pinjasaur commented on #4081
OK, I'm able to reproduce the behavior across a `Text` and `Number` property (which confirms #4074). I didn't try every property type but it seems limited to Text and Number, at least in basic testing.

Steps:

1. Go to a Board View
2. Edit the property of a card
3. Switch to a non-Board View e.g. Table, Calendar, Gallery
4. Notice the property briefly shows the updated value and reverts back to p

[2022-10-25 22:18] Pinjasaur commented on #4081
@harshilsharma63 this might be related to your #4073—seems possible due to similar circumstances of property values not "sticking" like they should. I haven't spent much time looking into that specific behavior. If you're able to look into #4073 and find anything let me know and we can sync tomorrow. Otherwise I'll continue the investigation tomorrow. cc @sbishel

[2022-10-26 07:25] #3830 closed

[2022-10-26 09:19] michkrej opened #4086 "Doc: Personal server setup guide out of date"
## Summary

Currently the instructions on how to setup focalboard locally aren't correct. You have to clone mattermost-server and add an environment variable to the focalboard repo before running *make* for everything to work correctly.

## Link to documentation page

[README](https://github.com/mattermost/focalboard/blob/main/README.md)
[Personal server setup guide](https://developers.mattermost.

[2022-10-26 09:20] michkrej commented on #4086
I'll gladly submit a pull request for these changes if you guys thing this is something that should be updated! :)

On another note I also saw that  the focalboard repo isn't ignoring .env files, is that on purpose?

[2022-10-26 09:36] KakEgorka opened #4087 "Mattermost freezes after errors in Mattermost Boards"
When connect plugin focalboard to our Mattermost we face many entries in logs with errors:
[code]

[code]
after that Mattermost server freezes  for some time and stop working. Over time server "alives" and back to work normally until another same errors triggers for some reasons.

## Edition and Platform

 - Edition: Mattermost Boards (plugin) (Mattermost Server Team 7.2)
 - Version: focalboard -

[2022-10-26 10:13] ogi-m commented on #4064
I've tried different zoom levels but I can't repro this.

![image](https://user-images.githubusercontent.com/15314183/198000384-bcdeb6f9-85cb-4f84-b22f-124ee8b31db8.png)

[2022-10-26 10:15] ogi-m commented on #4075
@wuwinson I'm unable to repro on Windows.

[2022-10-26 11:08] #3638 closed

[2022-10-26 13:58] wiggin77 commented on #3541
This was broken by https://github.com/mattermost/focalboard/pull/552

[2022-10-26 14:21] FOustOri commented on #4075
Had exactly the same problem when upgrading from version 7.4.0 to 7.4.2. Copying the client folder with a clean mattermost helped.

[2022-10-26 16:26] ogi-m commented on #4064
@jgilliam17  tried this on Ubuntu and couldn't repro the scaling issue.
cc @wuwinson

[2022-10-26 16:29] nathkn commented on #638
I also have a work mac that has a much more restricted app store (I would guess the requirement of an Apple ID is a big reason, since you don't need one for any other reason). It'd be great to get the Mac binaries uploaded like the exe's are.

[2022-10-26 16:40] qlyoung commented on #4064
Reproduces on two different machines, one with a display size of 2560x1440 and the other a super ultrawide size 5120x1440. Both are running i3 on X11. DPI on my 2560x1440 panel is set to 196. Let me know what other data you need.

![image](https://user-images.githubusercontent.com/6827003/198084942-bcff3f87-5f66-4b2d-8f6a-f232fc94751a.png)

[2022-10-26 18:57] #4074 closed

[2022-10-26 18:57] #4081 closed

[2022-10-26 18:58] Pinjasaur commented on #4073
While reviewing #4081 I looked into the behavior for this bug a bit closer.

I'll paste a snippet of what I [wrote there](https://github.com/mattermost/focalboard/pull/4089#pullrequestreview-1157118876):

[2022-10-26 19:38] #1007 closed

[2022-10-26 21:50] Pinjasaur opened #4092 "Bug: search throwing runtime error"
### Continued Search Problems ###
Hey everyone, not sure what the cause is this time, but anytime i try to use the search it just crashes and resets.. any help to getting it fixed would be appreciated...
https://community.mattermost.com/boards/team/rcgiyftm7jyrxnma1osd8zswby/bz5upto7c6ty8bn4j57zjf4s4ch/v9t865zgc5p8s8rfa1ht8t5puba

_Issue created from a [Mattermost message](https://community.matter

[2022-10-26 21:52] Pinjasaur commented on #4092
I'm seeing this error in the js console:

[code]

[2022-10-26 22:01] wuwinson opened #4093 "Bug: Expanded Boards apps bar RHS scales incorrectly"
## Steps to reproduce the behavior

1. Go to a channel with no linked boards
2. Open the Boards apps bar
3. Scale browser window to a smaller height
4. Click on button to expand RHS
5. See error

See [thread](https://community.mattermost.com/core/pl/jahjxt5phfggfjp5r8way4fcee) for reference.

## Expected behavior
Empty state scales properly so all content is visible.

## Screenshots (optional)

![

[2022-10-27 05:09] #4065 closed

[2022-10-27 05:14] harshilsharma63 commented on #4073
I've tested and can confirm that #4089 fixes this.

[2022-10-27 05:15] harshilsharma63 commented on #4073
Closing as the PR is already merged in main.

[2022-10-27 05:15] #4073 closed

[2022-10-27 08:12] DisColow opened #4094 "Bug: "Table" view : large boards with many items get the scroll reset when clicking on a card"
## Steps to reproduce the behavior

1. Go to your board that has so many items that it has an horizontal or vertical scrollbar
2. Scroll your page
3. Click on any card item
4. The page scroll is now reset and you have to manually scroll back to your previous sroll offset

## Expected behavior

1. Go to your board that has so many items that it has an horizontal and vertical scrollbar
2. Scroll you

[2022-10-27 08:40] asaadmahmood opened #4095 "Bug:"
## Steps to reproduce the behavior

1. Be a viewer on a board
2. Try to drag/drop a card from one column to another
3. You get a bunch of console errors and response errors

## Expected behavior
You shouldn't even be able to drag and drop, additionally no console errors should be there.

## Screenshots (optional)
<img width="716" alt="Screenshot 2022-10-27 at 1 36 26 PM" src="https://user-images.g

[2022-10-27 09:46] varunKT001 commented on #4068
@wuwinson Yes, I followed the exact steps mentioned in the documentation.

[2022-10-27 13:14] #4036 closed

[2022-10-27 13:14] harshilsharma63 commented on #4018
Closing as fixed by #4029

[2022-10-27 13:14] #4018 closed

[2022-10-27 17:29] sbishel commented on #3846
This should get fixed when we update templates.

[2022-10-27 20:04] #3496 closed

[2022-10-27 20:17] Pinjasaur commented on #4092
Exported the archive and imported it locally. Reproduces as well. Hoping the non-minified code is easier to follow the stacktrace in.

[2022-10-27 20:20] Pinjasaur commented on #4092
An observation: I've been using the string `test` as the search query. It takes 2 characters before it crashes e.g. `t` is fine, `te` is not. Unsure if it's a coincidence or not.

Here's a less obfuscated error message:

[code]

[2022-10-27 21:12] MikeSchlag commented on #4075
I’m happy to try any specific clearing of files or comparison against a clean install; assuming in that case I’d just rename my Mattermost folders and install the client again)?

[2022-10-28 07:17] DisColow commented on #4003
i believe that the personal desktop application doesn't require account creation.
so there should be your bug.

[2022-10-28 08:15] redhoyasa commented on #3246
I'll work on this.

[2022-10-28 09:49] harshilsharma63 commented on #3342
@mjxaone can you tell me your Focalboard plugin version? And can you also confirm that this occurs only in the new comment section and everywhere else (Card title, description) work fine? If yes, it's most likely fixed by #4039 and the fix would be in 7.5.

[2022-10-28 13:11] michkrej commented on #2068
Wasn't sure if I should make a pull request against my forked main-branch or against the mattermost-one. But there is a pull request up now!

[2022-10-28 13:50] fefrei opened #4103 "Bug: Focalboard prevents Mattermost from starting up, “DB is locked, going to try acquire the lock if it is expired.”"
## Description

With a recent update, our Mattermost instance was failing to start up. The rest of GitLab booted up fine, but Mattermost never finished starting, and failed to respond to requests.
Interestingly, we noticed that after multiple hours, Mattermost would sometimes finish starting, and work fine afterwards.

After some experimentation, it looks like the issue was with the FocalBoard emb

[2022-10-28 14:28] michkrej commented on #3804
I could take a look at this if you still think it should be improved :)

[2022-10-28 14:32] michkrej commented on #2315
Hi! I could take a look at this one as well :)

[2022-10-28 15:36] redhoyasa commented on #2932
I have some questions:
1. Since the permission is attached to the board (not the view), any user that has the URL for other views can still open the other views using the URL directly right?
2. What if the board owner wants to share all the views with "read-only"? In this case, do you expect the dropdown selector still be disabled?

[2022-10-28 15:56] wuwinson commented on #2932
@redhoyasa Thanks for your questions! Answers below:

1. Correct!
2. The common use case for sharing public read-only boards is to communicate specific information to an external audience, and not all the information from the board, thus the reason for wanting to restrict access to a single view. If the board owner wants to share all views publicly, I'd expect the dropdown to still be disabled and

[2022-10-28 16:07] wuwinson commented on #3804
That would be awesome, thanks @michkrej! Added some high level requirements below to help. Let us know if you have any questions! cc @asaadmahmood for any additional input.

## Requirements
1. Creating a new card on a board does not automatically save unless the user adds content or makes changes to the card
2. "Untitled" cards can still be created as long as something on the card was changed or a

[2022-10-28 16:20] redhoyasa commented on #2932
@wuwinson thanks for the answer!

To summarize:
1. in the public "read-only" view, the dropdown is disabled (or hidden? which one do you prefer?)
2. if the user is directly assigned the "Viewer" role, the dropdown is available for that user

Is that correct?

[2022-10-28 16:55] wuwinson commented on #2932
@redhoyasa Yep, that's right!

1. Dropdown should be disabled but not hidden, so the viewers can still see the name of the view
2. Dropdown is still available for users assigned the "Viewer" role (no changes from current behavior)

LMK if you'd like to pick up this ticket, and I'll assign to you. Thanks!

[2022-10-28 17:03] redhoyasa commented on #2932
Yes I would like to pick this one.

[2022-10-28 17:08] wuwinson commented on #2932
Awesome, thanks @redhoyasa!

[2022-10-28 19:48] statixVFX commented on #166
Adding support for both a page where markdown is supported that lets you embed boards would be super useful.

Its would be quite nice create information and context around the individual boards.

[2022-10-28 21:18] alevinetx commented on #4082
@eiminola  Did you check the security on the exe?  I didn't have any problems, other than Windows telling me it couldn't verify the publisher and gave me an option to continue running.

![image](https://user-images.githubusercontent.com/5067356/198734482-2f41ef31-76e6-4a00-a7f7-9f0612c352ad.png)

[2022-10-29 08:44] eiminola commented on #4082
@alevinetx thank you for your contributions.
I used to do direct zip extract, but after seeing your comment I did copying from zip archive and then pasting into a folder, but nothing has changed, Windows has no reaction.

As you see there is no security section in the properties of exe file.
![image](https://user-images.githubusercontent.com/51320663/198822335-078be24f-02a2-4923-80d8-3e3a1a023d22.

[2022-10-29 14:15] isgj opened #4104 "Bug: App doesn't start"
## Steps to reproduce the behavior

1. Launch the app

## Expected behavior

The app should start and run

## Screenshots (optional)

[Screencast from 29-10-22 16:08:34.webm](https://user-images.githubusercontent.com/20517048/198836124-441734d1-fdc7-46e5-8ef1-883291883be8.webm)

## Edition and Platform

 - Edition: Personal Desktop
 - Version: v7.4.3
 - Browser and OS: Ubuntu 22.04

## Additional

[2022-10-30 13:42] kamre commented on #606
@chenilim @wuwinson I suppose this was already fixed.

[2022-10-31 04:51] redhoyasa commented on #2932
@wuwinson I forgot to ask this. Do you want the views' name to become disabled (as in the below screenshot)? Or do you want the whole dropdown disabled so we cannot click and show the dropdown list?

<img width="937" alt="Screenshot 2022-10-31 at 11 49 11 AM" src="https://user-images.githubusercontent.com/1910192/198933461-1645769e-680c-4d26-b9da-4851b0b493e7.png">

[2022-10-31 06:49] redhoyasa opened #4106 "Bug: Broken table view with public "read-only" permission."
## Steps to reproduce the behavior

1. Go to a table view
2. Click the `Share` button at the top right of the page
3. Click on the `Publish` tab
4. Toggle on `Publish the public web`
5. Copy the public URL to an incognito/private browser window

## Expected behavior

The table view is not broken

## Screenshots (optional)

https://user-images.githubusercontent.com/1910192/198947608-36e66b70-ddaa-4

[2022-10-31 06:51] redhoyasa commented on #2932
From my understanding, the board owners can decide whether they want the viewers to be able to open the card or not, is that correct?

[2022-10-31 14:01] wuwinson commented on #2932
@redhoyasa The whole dropdown should be disabled so you cannot click and show the dropdown list

We can leave this out of scope for now as we don't currently have a mechanism for board owners to determine if cards can be opened or not.

Thanks!

[2022-10-31 14:04] wuwinson commented on #606
Good catch, thanks @kamre! Closing out.

[2022-10-31 14:04] #606 closed

[2022-10-31 14:07] wuwinson commented on #4106
Thanks for reporting @redhoyasa! This looks like a dupe of https://github.com/mattermost/focalboard/issues/3915, but doesn't look like https://github.com/mattermost/focalboard/pull/4022 was merged yet. cc @Rajat-Dabade @sbishel

[2022-10-31 14:50] MikeSchlag commented on #4075
Small update: got notification that Windows 5.2.0 client is available, did the upgrade, no change to the initial submission. Note that I have not tried a clean install, pending any requests for things to go about diff'ing between a clean install and my current install.

[2022-10-31 15:00] mdiehlenator opened #4108 "Bug: Can't connect to Boards from Channels"
## Steps to reproduce the behavior

Using MM Desktop v. 5.1.1 or the web client using Firefox, I am unable to go from using a Channel to using the Boards plugin.  When I try, I am asked to log in again.  Providing the correct credentials doesn't result in access to my Boards.

## Expected behavior

I should be able to login into MM and use the Channels and Boards.

## Screenshots (optional)

None

[2022-10-31 18:35] wuwinson opened #4111 "Bug: Loading a board triggers multiple "viewBoard" Telemetry events"
## Steps to reproduce the behavior

1. Open developer console and go to the "Network" tab
2. With the console open, load any board
3. See error - multiple "viewBoard" events are triggered for any single board

## Expected behavior

Only 1 "viewBoard" event is triggered each time a board is loaded

## Screenshots (optional)

https://user-images.githubusercontent.com/93531870/199080285-10a19f3d-c8b7

[2022-10-31 19:13] wuwinson commented on #4106
@Rajat-Dabade There's a fix in here as well as the one on #3915 - Feel free to close out whichever one you decide to merge. Thanks!

[2022-10-31 19:16] wuwinson commented on #4095
@asaadmahmood Which template are you using?

[2022-10-31 19:23] wuwinson commented on #4094
Dupe of https://github.com/mattermost/focalboard/issues/3097 - will be fixed in the latest Personal Desktop version when available. cc @sbishel

[2022-10-31 19:29] wuwinson commented on #4086
@michkrej Yes a PR would be awesome, thank you so much! cc @justinegeffen

[2022-10-31 19:34] wuwinson commented on #4084
@harshilsharma63 Is this something that we can change on our end? Thanks! cc @sbishel

[2022-10-31 19:47] wuwinson commented on #4068
@varunKT001 Can you try the steps recommended in [this discussion](https://github.com/mattermost/focalboard/discussions/4024)? Thanks!

[2022-10-31 19:48] wuwinson commented on #4064
@asaadmahmood Thoughts on this one?

[2022-10-31 19:54] wuwinson commented on #3997
Closing out, feel free to re-open if you're still having issues @JamesDAdams!

[2022-10-31 19:54] #3997 closed

[2022-10-31 20:48] wuwinson commented on #4003
@gowcoizer To get the latest features on Boards, we recommend switching over to our free [Cloud Starter](https://mattermost.com/pricing/) edition which gives you access to the latest features on Boards, Channels, Playbooks and more.

Microsoft Windows Store shouldn't require an account to download, and the version from Windows Store and the "latest" version from Github are more or less the same. E

[2022-10-31 20:48] #4003 closed

[2022-10-31 21:04] wuwinson commented on #4075
Thanks for the additional details @MikeSchlag!

@sbishel I just tried a fresh install of Mattermost Windows Desktop client v5.2.0, and logged into Community which is running Mattermost Server Version: v7.4.0 and Boards Version: v7.4.3, and unfortunately I was not able to repro the issue. Chrome on Windows was also working as expected.

@MikeSchlag Are you able to create a new board from the "Linke

[2022-11-01 01:20] wiggin77 commented on #4082
@eiminola , I tried reproducing this problem using Windows 11 and the latest release [focalboard-win.zip](https://github.com/mattermost/focalboard/releases/download/v7.4.3/focalboard-win.zip)   I did have to unblock the executable as alevinetx indicated above.

Are there any errors in Event Viewer?

[2022-11-01 06:37] MioAtSwivel opened #4113 "Bug: Cursor flew to the end of line after any input in comment field"
## Steps to reproduce the behavior

1. Go to any item created in a board
2. Open it
3. Input something to "add the comment..." field
4. Try insert characters at the middle of your typed words
5. Cursor flew to the end of line after any input

## Expected behavior

Cursor should continue to stay at the spot (just how usually you would expect from using any text editor)

## Screenshots (optional)

!

[2022-11-01 08:35] michkrej commented on #4086
@justinegeffen the pull request can be found above when you have time to look at it!

[2022-11-01 15:00] wiggin77 commented on #4068
@varunKT001 the instructions are incomplete based on some recent changes.  Based on the error you are seeing, you need to clone the [Mattermost server](https://github.com/mattermost/mattermost-server) into a directory at the same level as FocalBoard.

After that, `make server-win` will build a Windows binary.

[2022-11-01 16:28] MikeSchlag commented on #4075
@wuwinson Using the 'bullseye' icon in the upper right of the channel view, I pick a channel that I know doesn't have any boards (or any for that entire project), click on the 'Link boards to <channel>' button that pops up in the sidebar window; a new window pops up for 'Link Boards' (none are displayed, since there are no boards), and I click 'Create a board', I immediately get the "Redirecting t

[2022-11-01 17:29] Rajat-Dabade commented on #4106
I will go with https://github.com/mattermost/focalboard/pull/4022 PR, it has class `readonly` which might be helpful when adding other CSS in future for read-only permissions.

Thanks, @redhoyasa for the PR. Really appreciate your work 🥇 .

[2022-11-01 17:30] #3915 closed

[2022-11-01 17:30] #4106 closed

[2022-11-01 18:10] justinegeffen commented on #4086
Thank you, @michkrej! :)

[2022-11-01 18:25] wuwinson commented on #4113
Thanks for reporting @MioAtSwivel! This is fixed as of `v7.4.2` - please download the [latest release](https://github.com/mattermost/focalboard/releases) for the fix. Thanks!

[2022-11-01 18:25] #4113 closed

[2022-11-01 18:51] gechandesu commented on #2022
Does not reproduces in Waylang.

[2022-11-01 19:13] #4086 closed

[2022-11-01 21:33] #1961 closed

[2022-11-01 21:38] #4092 closed

[2022-11-01 22:09] redhoyasa commented on #4106
Oops, I didn't check it was duplicated. Thank you @Rajat-Dabade, that was good 👍 .

[2022-11-02 02:12] harshilsharma63 commented on #4084
@TheMasterFX thanks for creating this issue 🙌

@wuwinson this definitely seems fixable. I'll look into this.

[2022-11-02 02:15] #4111 closed

[2022-11-02 06:44] varunKT001 commented on #4068
@wiggin77

I've got a new error while running the binary:

[code]

It says it encountered a dead network. I thought that was due to the windows firewall. However, the error still persists even after allowing it.

![image](https://user-images.githubusercontent.com/83509023/199418929-ad5a7caf-590e-4813-90b7-f715cbe6c8be.png)

PS: I've tried restarting the PC after changing the firewall settings.

[2022-11-02 10:08] asaadmahmood commented on #4037
@wuwinson A divider and maybe a text change like @Pinjasaur suggested should be better.

[2022-11-02 11:11] #4093 closed

[2022-11-02 11:11] #4008 closed

[2022-11-02 13:50] wuwinson commented on #4037
Thanks @asaadmahmood!

## Requirements
1. Rename `Import archive` -> `Import archive file`
2. Add divider below the import archive option so it differentiates it from the links below

[2022-11-02 13:57] Pinjasaur commented on #4037
To confirm, no icons? @asaadmahmood @wuwinson

[2022-11-02 14:35] asaadmahmood commented on #4037
Yup @Pinjasaur
Though I think something like this would be better.

Thoughts @wuwinson

![image](https://user-images.githubusercontent.com/11034289/199517777-3726c102-b0fb-4b3a-9fd9-c0a42b9b5857.png)

[2022-11-02 14:38] wuwinson commented on #4037
LGTM! Would rename "Documentation Links" -> "External Import Docs"

[2022-11-02 14:40] asaadmahmood commented on #4037
Sounds good.

![image](https://user-images.githubusercontent.com/11034289/199518963-93570733-034a-4519-914c-7b8d00ebe842.png)

[2022-11-02 14:54] Pinjasaur commented on #4037
Awesome. LGTM too. Is there a Figma you can share @asaadmahmood ?

[2022-11-02 15:01] asaadmahmood commented on #4037
@Pinjasaur https://www.figma.com/file/N6S7zbFJgm1cmU6J08ow3j/Boards---Due-Date-Notifications?node-id=1138%3A245587&viewport=-7346%2C1330%2C0.48

[2022-11-02 15:23] LINKIWI opened #4121 "Bug: Invalid regular expression exception for emoji replacement in Firefox"
## Steps to reproduce the behavior

1. Go to the root path of the web server, i.e. localhost:8000
2. See a blank page and an error.

## Expected behavior

I see the welcome screen.

## Edition and Platform

 - Edition: Personal Server
 - Version: 7.4.3
 - Browser and OS: Firefox 68, Ubuntu 20.04

## Symptom

Loading the main page causes a syntax error while parsing the main.js bundle due to an ill

[2022-11-02 15:24] LINKIWI opened #4122 "Bug: Invalid instantiation of Intl.Locale from formatjs dependency in Firefox"
## Steps to reproduce the behavior

1. Go to the root path of the web server, i.e. localhost:8000
2. See a blank page and an error.

## Expected behavior

I see the welcome screen.

## Edition and Platform

 - Edition: Personal Server
 - Version: 7.4.3
 - Browser and OS: Firefox 68, Ubuntu 20.04

## Symptom

Loading any board causes a runtime exception as follows:

[code]

## Root cause

This is a

[2022-11-02 15:24] LINKIWI opened #4123 "Bug: MySQL migrations search for collation and charset on nonexistent Channels table"
## Steps to reproduce the behavior

1. Configure MySQL storage.
2. Start the focalboard-server binary.
3. See an error that migrations failed.

## Expected behavior

The binary starts and starts serving over HTTP.

## Edition and Platform

 - Edition: Personal Server
 - Version: 7.4.3
 - Browser and OS: Ubuntu Server 16.04, MySQL 5.7, Go 1.18.7 (server compiled from source)

## Symptom

Focalboard

[2022-11-02 18:36] wiggin77 commented on #4068
@varunKT001 are you using WSL?  Also, what version of Windows 10 are you on?

[2022-11-02 18:51] jespino commented on #4104
Interesting, I'm not able to reproduce this in my Ubuntu 22.04. @isgj can you check if you have installed the packages `libgtk-3-0 libwebkit2gtk-4.0-37`?

[2022-11-02 20:05] isgj commented on #4104
Yes I have them installed

![image](https://user-images.githubusercontent.com/20517048/199591605-18105d55-424b-4223-ac53-d0c380bd392f.png)

I'm able to run `focalboard` in another PC:
Intel GPU + wayland --> works
Nvidia + wayland --> doesn't work

[2022-11-02 21:02] varunKT001 commented on #4068
@wiggin77 I have WSL2 installed. However, I didn't use WSL while compiling and running the builds.

OS: Windows 10 (21H1)
Node version: 16.13.0
NPM version: 8.1.3
Go version: 1.19.2

Can't copy that build number, so here is a screenshot:
![image](https://user-images.githubusercontent.com/83509023/199601790-b30584f8-f64f-4c69-b84b-502e3b18a679.png)

[2022-11-02 22:07] jespino commented on #4104
really weird, I'm on nvidia + x11 and is working fine. I guess is some kind of problem with webview (the library that we use to embed webapp in a desktop app). I'll need to try to reproduce that locally with nvidia+wayland

[2022-11-03 05:10] arturoovf commented on #3184
gently bump

[2022-11-03 08:17] mgdelacroix opened #4125 "Bug: icon and description do not react to the WS event on the template editor"
## Steps to reproduce the behavior

1. Create a new template
2. Add an icon to it
3. Click on show description
4. See how none of those actions seem to work
5. Refresh and check that both actually worked

## Expected behavior

The screen should update when applying those actions.

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: v7.5-RC
 - Browser and OS: Firefox 105.0.3

[2022-11-03 08:22] jespino opened #4126 "Bug: any card with due date field is going to appear in search results for `from`"
## Steps to reproduce the behavior

1. Go to any board
2. Select  a card and set the due date
3. Search for from
4. You will see that the card matches even there is not any `from` text in the card

## Expected behavior

Only matches in search results when it contains that text (specially in the interface).

## Suggested solution

To solve this bug I would render the date before matching the search

[2022-11-03 08:25] mgdelacroix opened #4127 "Bug: Team updates on the share modal don't update the screen"
## Steps to reproduce the behavior

1. Go to a template
2. Change its team permissions
3. See how the change takes effect but the screen doesn't reflect it
4. Refresh and check how the team permissions have changed

## Expected behavior

The modal should reflect the changes right away.

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: v7.5-RC
 - Browser and OS: Firefox 1

[2022-11-03 08:46] mgdelacroix opened #4128 "Bug: Text filter is capital sensitive"
## Steps to reproduce the behavior

1. Create a card with title "Test"
2. Add a filter for titles that include "test"
3. See how your card is not included
4. Change the filter for titles that include "Test"
5. See how now the card is included

## Expected behavior

The text filter should be case insensitive.

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: v7.5-RC
 - Br

[2022-11-03 08:47] jespino opened #4129 "Bug: Unable to set the calculations on board columns"
## Steps to reproduce the behavior

1. Go to a board
2. Click on the number for the count of the column
3. Go to any option in the menu
4. Try to select the submenu option
5. The submenu disappears as soon as you reach the scrollbar of the original menu

## Expected behavior

The submenu doesn't dissapear automatically when you try to select it

## Screenshots (optional)

[bug-4129.webm](https://u

[2022-11-03 08:47] ogi-m opened #4130 "Bug: Shared Boards are not added to the user's sidebar"
## Steps to reproduce the behavior

1. As User A create a board
2. Click "Share" and add User B to the board
3. As User B observe the sidebar
4. The board is not added to the user's sidebar (even after a refresh)

## Expected behavior

Boards that are shared with the user should appear in the sidebar

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: v7.5
 - Browser and O

[2022-11-03 08:56] mgdelacroix opened #4131 "Bug: text filter for "doesn't contain" works like a "contains""
## Steps to reproduce the behavior

1. Create a card with "Test" in the title
2. Add a filter for "contains Test"
3. See how the card is filtered
4. Change the filter to "doesn't contain Test"
5. See how the results are the same

## Expected behavior

The filter should work excluding the matches.

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: v7.5-RC
 - Browser and OS

[2022-11-03 10:29] michkrej commented on #3804
@asaadmahmood does for example adding an empty text block count as added content or does the user need to also write something for the card to save?

[2022-11-03 11:11] asaadmahmood commented on #3803
@wuwinson I have consistent repro steps for this, we need to fix this as I have been getting complaints about this, and it's bothering people.

[2022-11-03 13:20] asaadmahmood commented on #3803
The issue here is that the HSL value on the labels changes to the hex value when refreshed.

[2022-11-03 14:52] wuwinson commented on #3804
@michkrej I think we should save it in your case. We're trying to minimize accidental card creations, so if a user manually makes a change to a card, including adding an empty text block, then we can assume that the card was not accidentally created.  Hope that clears things up, but let us know if you have any other questions. Thanks!

[2022-11-03 15:19] mrckndt opened #4134 "Bug: Export to CSV fails if colums enabled that contain an user id"
## Steps to reproduce the behavior
I created a project task board from the default template and when attempting to export the task overview to CSV with `Assignee` or `Created by` enabled/shown, the export is failing. With those columns disabled the export is completing.

## Expected behavior
The export should work with all columns shown.

## Edition and Platform
 - Edition: Cloud
 - Version: 7.4.2

[2022-11-03 16:16] wuwinson commented on #3804
Great question @kamre! That also brings up other use cases where a user can make a change to a property on the card, or add text to the description, then undo the changes. We need a better definition of what is considered a "change" in those cases.

**Option A:**
- Consider any manual keyboard input and adjusting of properties from the user as a "change" to the card and save the card even if the c

[2022-11-03 18:19] wiggin77 opened #4135 "Bug: Link boards doesn't work first time"
## Steps to reproduce the behavior

1. Create new user
2. With new user account, create new channel
3. In new channel, click Boards icon on RHS
4. Click `Link boards to <channel_name>`
5. Click `Create a board`
6. See `Welcome to Boards` page, with offer to take tour
7. Click `No thanks, I figure it out`
8. See no newly created board;  no board appears in linked boards list

## Expected behavior

[2022-11-03 18:19] wiggin77 opened #4839 "Bug: Link boards doesn't work first time"
## Steps to reproduce the behavior

1. Create new user
2. With new user account, create new channel
3. In new channel, click Boards icon on RHS
4. Click `Link boards to <channel_name>`
5. Click `Create a board`
6. See `Welcome to Boards` page, with offer to take tour
7. Click `No thanks, I figure it out`
8. See no newly created board;  no board appears in linked boards list

## Expected behavior

[2022-11-03 18:37] wuwinson opened #4136 "Bug: Cannot rename sidebar categories"
## Steps to reproduce the behavior

1. Go to **Option Menu (...)** on any custom category on the sidebar
2. Select "Rename Category"
3. Enter a new name
4. Click "Update"
5. See error - category is not renamed

## Expected behavior

Category is renamed

## Screenshots (optional)

https://user-images.githubusercontent.com/93531870/199806362-d0cd45e6-96ba-493e-869b-c5c86da8fe1b.mov

## Edition and P

[2022-11-03 18:42] q-wertz commented on #257
Reminders and an "overall view of next due cards" (that summarizes due cards over all boards, compare e.g. to nextcloud Deck) would really be a crucial enhancement...

[2022-11-03 18:42] wiggin77 opened #4137 "Bug: Adding property to card template does nothing"
## Steps to reproduce the behavior

1. Open any card
2. From `...` menu, select `New template from card`
3. Click "Add a property"
4. Select any property type
5. See property not added to card template

## Expected behavior

Properties get added to card template. If you refresh the browser, then the properties do appear.

## Screenshots (optional)

![card-template-bug](https://user-images.githubus

[2022-11-03 18:42] wuwinson opened #4138 "Bug: "Boards" category is sorted in alphabetical order by default"
## Steps to reproduce the behavior

1. Go to the sidebar and add new categories, some starting with the letter A and some with the letter C
2. See error - the default "Boards" category is sorted in between the new custom categories

## Expected behavior

The "Boards" category should always appear on the bottom, unless the user drags and drops the category after DND is supported.

## Screenshots (o

[2022-11-03 18:43] wuwinson commented on #4138
@harshilsharma63 Will this be fixed after you merge in your code?

[2022-11-03 18:43] michkrej commented on #3804
From the user interactions I have had at my job I definitely think that option A will cause less confusion. Option B could work if it comes with some type of warning text that the card won't be saved. What do you think @kamre

[2022-11-03 18:48] wuwinson opened #4139 "Bug: Last onboarding tour point is not located on the "Share" button"
## Steps to reproduce the behavior

1. Log in as a first time user or restart the product tour
2. Go through all the tour points until you reach the last one on "Share board"
3. See error - green dot appears over the "New" button instead of the "Share" button

## Expected behavior

Green dot and pop-up appear over the "Share" button

## Screenshots (optional)

![Screen Shot 2022-11-03 at 2 15 46 P

[2022-11-03 18:48] wuwinson commented on #4139
@asaadmahmood Is this something you can fix?

[2022-11-03 18:56] wuwinson opened #4140 "Bug: Space missing on v7.2 tour point"
## Steps to reproduce the behavior

1. Restart product tour
2. Go to the first v7.2 tour point
3. See error - a space is missing between the period and the link to "Learn more" at the end

## Expected behavior

Space after the period

## Screenshots (optional)

![Screen Shot 2022-11-03 at 2 13 54 PM](https://user-images.githubusercontent.com/93531870/199809855-48127db4-0a2f-4d72-8a2d-38831b912757.

[2022-11-03 18:56] wuwinson commented on #4140
@asaadmahmood Are you also able to fix this one?

[2022-11-03 18:59] wuwinson commented on #4139
@asaadmahmood Sorry, this is a dupe of #3946. Closing out.

[2022-11-03 18:59] #4139 closed

[2022-11-03 19:08] wuwinson commented on #4129
Potentially related to https://github.com/mattermost/focalboard/pull/4069?

[2022-11-03 19:27] #3946 closed

[2022-11-03 19:35] TheFive opened #4141 "Bug: Board does not start"
##  Summary

Installation of an update results in not starting Mattermost Board

results in error when executing update script.

## Steps to reproduce the behavior

I upgraded from 6.x to 7.4.
I tried to use the Board plugin (first time) but i did not find it.
(i do not know wether board plugin was running with the 6.x)
Board Plugin is enabled in the system console.

The logfile states the followi

[2022-11-03 20:05] VardanAb opened #4143 "Bug: Update issue from 7.2 to 7.2.1"
## Steps to reproduce the behavior

1. Download mattermost-plugin-focalboard.tar.gz for 7.2.1 version from https://github.com/mattermost/focalboard/releases
2. In mattermost go **System Console** -> **PLUGINS** -> **Plugin Management** and upload plugin
3. Focalboard fails to start with the below critical error.

## Expected behavior

It can not run some sql queres

## Screenshots (optional)

`Thi

[2022-11-04 02:59] harshilsharma63 commented on #4138
@wuwinson yes, exactly. Once I get the whole LHS DND PR merged in, it will be fixed and work as per the spec.

[2022-11-04 04:18] kamre commented on #3804
@michkrej @wuwinson I also think that `option A` will have less confusion, i.e. if there was any interaction then the card should be preserved.

[2022-11-04 09:54] schnadoslin commented on #169
My research team is looking forward to this feature as well.
I think this is crucial feature. (similar to #2150)

In our usecase each laboratory has it's own board, but there are a bunch of people who have to fulfill tasks in multiple labs.

[2022-11-04 13:22] wuwinson commented on #3804
Thanks for your input @michkrej @kamre! Let's move forward with Option A then!

[2022-11-04 19:24] Pinjasaur commented on #4129
If I understand correctly, I think this is a dupe of #1735. I'm not positive if this is new behavior. Thoughts @wuwinson?

[2022-11-04 20:01] wuwinson commented on #4129
Yep, you're right @Pinjasaur! Closing this one out.

[2022-11-04 20:01] #4129 closed

[2022-11-06 10:09] Alderaaan opened #4150 "Search failed with a new item"
### Discussed in https://github.com/mattermost/focalboard/discussions/4149

<div type='discussions-op-text'>

<sup>Originally posted by **Alderaaan** November  5, 2022</sup>
Hi,
I created a new table, and when I search some words, the page appear to be white.
When I use a default template, It's work.

What I missed ?
Tks

Focalboard on docker.
**Docker install :** mattermost/focalboard:edge

[scre

[2022-11-07 04:53] zhzy0077 commented on #4123
Sounds like a dup of https://github.com/mattermost/focalboard/issues/4067

[2022-11-07 17:26] mgdelacroix commented on #3891
Closing this issue as per https://github.com/mattermost/focalboard/pull/3929. Please be aware that, as the PR description and the docs state, this changes do not indicate that Focalboard is adding support for MariaDB

[2022-11-07 17:26] #3891 closed

[2022-11-07 18:49] #4125 closed

[2022-11-07 18:49] #4127 closed

[2022-11-07 18:49] #4137 closed

[2022-11-07 18:53] sbishel commented on #4013
Fixed - https://github.com/mattermost/focalboard/pull/4145

[2022-11-07 18:53] #4013 closed

[2022-11-07 18:57] sbishel commented on #3942
Fixed in this PR. https://github.com/mattermost/focalboard/pull/3759

[2022-11-07 18:57] #3942 closed

[2022-11-07 19:00] #4131 closed

[2022-11-07 19:02] justinegeffen commented on #2111
Completed and available in https://docs.mattermost.com/boards/migrate-to-boards.html

[2022-11-07 19:02] #2111 closed

[2022-11-07 19:03] justinegeffen commented on #551
Completed and available here: https://docs.mattermost.com/boards/work-with-cards.html#define-a-select-or-multi-select-property

[2022-11-07 19:03] #551 closed

[2022-11-07 20:07] wiggin77 commented on #3980
I'm installing Debian to try and repro this.

[2022-11-07 20:13] wuwinson commented on #4150
@Alderaaan You may be facing a similar issue as https://github.com/mattermost/focalboard/issues/4092. Can you provide more details on the error from the console? Thanks! cc @sbishel

[2022-11-07 20:19] wiggin77 commented on #3980
I was not able to reproduce this with latest Focalboard app and stable Debian.

![Debian 11-2022-11-07-15-18-41](https://user-images.githubusercontent.com/5024605/200407089-3466d4cc-2770-44b4-96d5-6905cc4bc5bb.png)

[2022-11-07 20:24] wuwinson commented on #4123
@LINKIWI [Release v7.4.4](https://github.com/mattermost/focalboard/releases/tag/v7.4.4) is now out and has a fix for this issue. Please feel free to re-open this ticket if you're still having issues. Thanks!

[2022-11-07 20:24] #4123 closed

[2022-11-07 20:26] wiggin77 commented on #3980
@BaltazarBazar I'm wondering if the issue is that you have a very old Debian?

[2022-11-07 20:27] wuwinson commented on #4121
@jespino Is this related to #3980?

[2022-11-07 20:31] wuwinson commented on #4075
@MikeSchlag Apologies for all the back and forth. Can you share any error messages from the console? Thanks! cc @wiggin77

[2022-11-07 20:42] wuwinson commented on #3809
Related to https://community.mattermost.com/boards/team/qghzt68dq7bopgqamcnziq69ao/b4ctmm917q3rzdfi451qtuxjzcw/vuswsftt1rb873datosmmbtwkpa/cuqoz5pbr17rzjjk8o88axgiscc

[2022-11-07 21:19] #1656 closed

[2022-11-07 21:21] Pinjasaur commented on #4017
@ogi-m I'm re-opening and assigning to you to verify it's OK on Windows since the PR was merged. Ping me with any questions, thanks!

[2022-11-07 22:03] esethna commented on #4005
@wuwinson This issue seems to still be happening for me on daily. Do you know when this is expected to deliver on community?

[2022-11-07 22:12] wuwinson commented on #4005
@esethna Sorry to hear! The fix we released to Community a few weeks back in [v7.4.3](https://github.com/mattermost/focalboard/releases/tag/v7.4.3). I'm can't repro, but is anyone else still seeing this issue?

[2022-11-07 22:30] Alderaaan commented on #4150
@wuwinson , ok I didn't see it.
You pushed on the edge also ? I can try to reproduce it.

Witch command do you tape for this logs ?

[2022-11-07 23:20] esethna commented on #4005
@wuwinson Not sure, but I am still seeing the cursor bounce down occasionally. It's not as consistent as before though

[2022-11-07 23:52] sbishel opened #4157 "Bug: Cannot access boards with implicit permissions"
## Steps to reproduce the behavior

1. Create a board.
2. Link a channel to the board.
3. Try to access as another user of that channel
4. Routed to the "New Board" screen

## Expected behavior

Should be able to access board with implicit. permissions

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: v7.5.0 and main
 - Browser and OS: [e.g. Chrome on Mac, Edge on Window

[2022-11-08 01:24] MikeSchlag commented on #4075
@wuwinson Which console would that be?

[2022-11-08 01:46] #4157 closed

[2022-11-08 02:21] MikeSchlag commented on #4075
Did a fresh load of MM (full exit of client, restarted), and here's what was in there after about 2 minutes. I accessed by going to the linked channel from one of my first posts to get to the page with the error message.

![image](https://user-images.githubusercontent.com/107645861/200459186-222e4494-e627-4f84-bc09-8d1dbc65fd1d.png)

[2022-11-08 02:26] MikeSchlag commented on #4075
Everything works fine for my co-workers as well, I seem to be the only one. However, I'm also the only one who came over to this team *after* they had set up boards, and I'd already been established on multiple other projects on the server. I'm just the odd one out here. :)

[2022-11-08 02:48] sbishel commented on #3342
Fixed by https://github.com/mattermost/focalboard/pull/4039

[2022-11-08 02:48] #3342 closed

[2022-11-08 09:00] Rajat-Dabade commented on #4012
Hey @wuwinson @harshilsharma63, I am not able to reproduce this issue both locally and bug-bash server.

https://user-images.githubusercontent.com/26198062/200516979-2ae634b5-c7b2-4daa-9762-b34241656f16.mov

I have looked into the code as well, and the code is in the right place. I think we can close this issue.

[2022-11-08 15:10] #3881 closed

[2022-11-08 16:01] #4012 closed

[2022-11-08 16:15] hmhealey opened #4168 "Bug: About Mattermost modal styling is incorrect"
## Steps to reproduce the behavior

1. Open Boards
2. Click on the menu in the top left and select About Mattermost

## Expected behavior

The modal looks the same as it does in the Channels/Playbooks, and the text inside it is selectable.

From a technical side, I'd expect that Boards isn't interfering with the CSS of things outside of it.

## Screenshots (optional)

Boards|Channels|Playbooks
-|-

[2022-11-08 16:44] mgdelacroix commented on #3891
@chmac yes, please create a new issue and mention me so I can look into it

[2022-11-08 17:15] wuwinson commented on #4005
@esethna Can you provide more details on your browser and OS, and possibly a screen recording as well? We may need to open a new bug for this. Thanks! cc @ogi-m

[2022-11-08 17:23] wuwinson opened #4170 "Bug: Missing standard templates"
## Steps to reproduce the behavior

1. Go to template editor
2. See error

## Expected behavior

All old and new standard templates are available.

## Screenshots (optional)

![Screen Shot 2022-11-08 at 12 18 46 PM](https://user-images.githubusercontent.com/93531870/200632904-16612af7-b91e-4b25-9bd3-1f191daba43b.png)

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: v7.5

[2022-11-08 17:42] sbishel commented on #4170
Here is the error from the server.
[code]

[2022-11-08 18:41] esethna commented on #4005
@wuwinson funny enough I can't repro anymore. But yesterday when it happened I was on Desktop v5.2/Win 10

[2022-11-08 19:12] #4170 closed

[2022-11-08 20:32] wuwinson commented on #4005
Ok sounds good, thanks @esethna!

[2022-11-08 20:34] remram44 commented on #1507
Bump. Just say AGPL? This mention of MIT does not make any legal or practical sense.

[2022-11-08 22:35] wuwinson opened #4179 "Bug: Linked boards do not automatically appear on your sidebar"
## Steps to reproduce the behavior

1. Go to a linked board where you are not an explicit member
2. Check your sidebar
3. See error - board does not appear on your sidebar even after you open the board

## Expected behavior

Board appears on your sidebar as long as you're a member of the linked channel

## Screenshots (optional)

https://user-images.githubusercontent.com/93531870/200690691-3656bb1

[2022-11-08 22:49] wuwinson opened #4180 "Bug: Min board role not displaying correct permissions"
## Steps to reproduce the behavior

1. Create a new board
2. Set the team role to Viewer (or anything)
3. Login with a 2nd user account
4. Open board switcher and search for the board in step 1
5. Open share modal
6. See error - team access displays as **None** even though it is a public board and user 2 was able to join the board

## Expected behavior

Minimum board role correctly displays the ro

[2022-11-08 23:05] wuwinson commented on #4128
Still seeing this on https://boards-master.test.mattermost.cloud/ with the v7.5 release branch. Re-opening.

[2022-11-08 23:24] wuwinson opened #4181 "Bug: Dates with empty values don't update when moving cards on calendar view"
## Steps to reproduce the behavior

1. Create a card with an empty date property
2. Go to calendar view
3. Display by the date property
4. Move the card from step 1 to another date
5. See error - date on the property is not updated

## Expected behavior

Cards should not appear on the calendar if they do not have a date on the date property. Date property is updated based on the date selected. Wor

[2022-11-08 23:43] wuwinson commented on #4180
Browser refresh loses the team role, but updating the board name brings it back.

https://user-images.githubusercontent.com/93531870/200699819-b9940931-b92e-48ac-9675-5433f19159f1.mov

[2022-11-09 02:09] wuwinson opened #4184 "Bug: Person properties cell overflow in table view for Viewers and Commenters"
## Steps to reproduce the behavior

1. Go to a table view on a board with people assigned on the person property
2. Ensure user is a Viewer or Commenter on the board
3. See error - people assigned on the person properties are overflowing in the cells

Related to https://github.com/mattermost/focalboard/issues/3830

## Expected behavior

User names are truncated based on the width of the cell. See

[2022-11-09 02:34] sbishel commented on #4181
Actually, these cards should not show up if they don't have a date property. Appears they are displaying on "today" if date property is empty.

[2022-11-09 02:55] wuwinson commented on #4181
Updated, thanks!

[2022-11-09 06:24] Rajat-Dabade commented on #4128
I can able to see the fix @wuwinson.

https://user-images.githubusercontent.com/26198062/200754524-493c59b4-ab69-44da-a171-994e34ca784e.mov

Can you tell me by which data you are testing? Thanks.

[2022-11-09 15:30] wuwinson commented on #4128
Thanks for checking @Rajat-Dabade! I'm testing filters by any of the following property types:
- Text
- Phone
- Email
- URL

See screen recording for reference:
https://user-images.githubusercontent.com/93531870/200871515-eb36f9dd-b497-4b9e-a6bd-d0c1baaa05fe.mov

[2022-11-09 15:59] sergeevabc opened #4187 "Windows 7 support"
Guys, I have a few machines running Windows 7 SP1 x64, with Net 4.8 and WebView2, yet FocalBoard refuses to launch. Yes, that OS is out of Silicon Valley favour now, Microsoft hygemon urges to upgrade, but frankly cannot care less because _it works_. So what sauce do you have under the hood of Focalboard that requires Windows 10 specifically? Or it is just a matter of compilation flag? If it's abo

[2022-11-09 18:13] qlyoung opened #4188 "Bug: Advertisements appearing in self hosted focalboard instance"
## Steps to reproduce the behavior

1. Run focalboard server
2. Access focalboard in web browser
3. Observe "Get your own free cloud server" advertisement banner

## Expected behavior

No advertisements

## Screenshots (optional)

![test](https://user-images.githubusercontent.com/6827003/200907482-28583df6-f1c2-4410-ab50-a30851e2b800.png)

## Edition and Platform

 - Edition: Personal Server
 - Ve

[2022-11-09 18:44] raflymln commented on #4188
imo, i thinks it's intentional, not a bug

[2022-11-09 19:56] lindalumitchell opened #4189 "Bug: Error and `Board not found` page when new user tries to create new from template"
## Steps to reproduce the behavior

1. Log in as new user to https://lm-boards.test.mattermost.cloud
  - Invite link: https://lm-boards.test.mattermost.cloud/signup_user_complete/?id=33nrd1kjmigfbj1dogxi9honda
2. Click grid menu icon and select Boards (dismiss onboarding if needed)
3. Click plus icon next to Find Boards in LHS and click Create new board (if already viewing template page, nothing w

[2022-11-09 21:10] Pinjasaur opened #4190 "Code Debt: Check `make swagger` in CI"
Similar to #3096, check `make swagger` in CI to verify the API docs stay up to date. The embedded Swagger YAML definitions inside Golang comments can be a bit fragile with vague error messages being hard to follow.

Rough CI steps:

1. `make swgger` (this may error on it's own)
2. Check if changes e.g. `git status --porcelain` or `git diff --exit-code`

[2022-11-09 21:12] Pinjasaur commented on #4190
It would also be worth evaluating if maybe we want to split out the Swagger command(s) into 2 `make` targets. Since currently `make swagger` generates the `swagger.yml` _plus_ all the "clients" e.g. language clients and HTML documentation. The `server/swagger/clients` directory is gitignored so all the language clients currently get generated for naught—except to serve as a smoketest.

[2022-11-10 05:45] harshilsharma63 commented on #4179
@wuwinson works for me both on `boards-bugbash75` and locally. I've linked a private board 'Harshil Test` in Town Square in Focalboard team. Try opening that up and see if you see that one in LHS or not.

[2022-11-10 09:57] asaadmahmood opened #4192 "Enhancement: Add a dialog to remove the sorting, and go to manual sorting"
## Steps to reproduce the behavior
1. Try to have a particular sorting, **not manual sorting**
2. Try to drag and move the table rows
3. They are unresponsive, nothing happens

## Expected behavior
We should add a dialog to remove the sorting, and convert it to a manual sorting if a user drags something and **drops it**

## Screenshots (optional)
![image](https://user-images.githubusercontent.com/

[2022-11-10 09:57] asaadmahmood opened #4838 "Enhancement: Add a dialog to remove the sorting, and go to manual sorting"
## Steps to reproduce the behavior
1. Try to have a particular sorting, **not manual sorting**
2. Try to drag and move the table rows
3. They are unresponsive, nothing happens

## Expected behavior
We should add a dialog to remove the sorting, and convert it to a manual sorting if a user drags something and **drops it**

## Screenshots (optional)
![image](https://user-images.githubusercontent.com/

[2022-11-10 09:59] asaadmahmood commented on #4192
@wuwinson Something to think about.

[2022-11-10 10:03] asaadmahmood opened #4193 "Bug: I can't sort table items in tables unless I move it over the content"
## Steps to reproduce the behavior
https://www.loom.com/share/01986f53290a4d6da85fb523cad7e36e

## Expected behavior
Dragging up/down anywhere over the table row should work, not just the data.

## Screenshots (optional)
https://www.loom.com/share/01986f53290a4d6da85fb523cad7e36e

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: 7.5
 - Browser and OS: Chrome on Mac

[2022-11-10 19:25] wiggin77 opened #4195 "Bug: Undeleting a board does not restore original memberships and permissions"
## Steps to reproduce the behavior

1. Create a board
2. Add members to the board, with various permissions
3. Add at least one person property and set to added user
4. Delete the board
5. Undelete the board (ctrl-z)
6. Notice the board members added in step 2 are gone
7. Notice any person property values that contained the missing people are empty

## Expected behavior

Membership and permissions

[2022-11-11 01:08] candidexmedia opened #4196 "Board are gone after upgrading to v. 7.4.4, but db remains"
Hello! I upgraded to v. 7.4.4, but Focalboard is not finding my boards... They seem to have disapeared.

That said, my database file is still there.

How can I retrieve my boards?

[2022-11-11 15:11] wuwinson commented on #4192
@asaadmahmood How would we trigger this? Is there a way to differentiate between a click to open a card vs a click to drag?

[2022-11-11 15:12] asaadmahmood commented on #4192
@wuwinson Click to drag on the drag handles on that table.

[2022-11-11 15:21] asaadmahmood commented on #4192
@wuwinson Have a look.
https://www.loom.com/share/a0166ae07fe64503af3aeda27a11b9e6

[2022-11-11 15:24] wuwinson commented on #4192
Sounds good, thanks Asaad! That makes sense.

[2022-11-11 15:29] wiggin77 commented on #124
fixed via https://github.com/mattermost/focalboard/pull/1700

[2022-11-11 15:29] #124 closed

[2022-11-11 18:42] joshgay commented on #2597
How can I help get this feature developed? Is this a good fit for a community contribution?

[2022-11-12 04:21] mastersb commented on #4190
While working on #4151
I ran `make swagger` to generate the API docs, and when it reached the point of generating the Python client with:
`cd server/swagger && openapi-generator generate -i swagger.yml -g python -o clients/python`
I encountered the following Java exception

<details>
  <summary>Click to expand</summary>

[code]
</details>

I'm on macOS 12.6.1 and installed go-swagger and openapi-g

[2022-11-12 09:41] chmac opened #4201 "Bug: migration failed after upgrade 0.16.0 to 7.2.1"
This is a follow on from #3891 which got sidetracked into talking about MySQL vs MariaDB support (only MySQL is supported for the record).

Errors like the following are reported after upgrading from 0.16.0 to 7.2.1. Personally, this issue kicked me in the ass so many times I reset my whole instance and reimported all my boards as that was faster than trying to find a fix for this. I'm running foc

[2022-11-12 13:02] eiminola commented on #4082
@wiggin77, thanks for your reply, I checked Event Viewer but didn't see any error there or maybe don't know where it is, but I made another local Windows account on my pc and logged in it, Focalboard.exe worked properly there, I don't know which installed program in my main Windows account is preventing Focalboard.exe being launched.

[2022-11-12 17:16] michkrej commented on #3804
Just wanted to update that I'm still working on this! University is currently kicking my ass.

[2022-11-12 20:34] Deishelon opened #4202 "Feature Idea: Task(Card) ID"
## Summary
Cards/Tasks are missing some sort of short unique identifier, which can be used to reference a specific task in code commits / general conversations with other people.

## How important this is to me and why
Importance: High, I'd say this is the biggest deal breaker to track SW work without short IDs.

Use cases:
1. Create new card
2. A Short ID should be assigned to each card

## Addit

[2022-11-13 15:40] mattstyles333 opened #4203 "Feature Idea:"
## Summary
Sync with Notion.  I really love focalboard, and it's simplicity.  I also love notion and it's note-taking features and database functionality.  They recently introduced database sync for Jira (laughable choice I know) and Github Issues & PR.  It would be amazing if focalboard could sync with Notion's database.   Here's a github example https://github.com/makenotion/notion-sdk-js/tree/m

[2022-11-14 13:15] dreamhomes commented on #4187
same problem，any solution？

[2022-11-14 14:30] Alderaaan commented on #4150
@wuwinson , I tried with the edge and main (7.4.4) release and the issue is still present.
I can't connect tothe container to see the logs.

[screen-recording(2).webm](https://user-images.githubusercontent.com/21173299/201685745-c621b1f6-57c0-4194-beaf-86be5077cf68.webm)

[2022-11-14 14:58] wuwinson commented on #3804
Awesome, thanks for the update @michkrej!

[2022-11-14 18:09] justinegeffen opened #4205 "Bug: Emoji selection is severely limited after update"
## Steps to reproduce the behavior

I updated my Mattermost desktop app and noticed that the emoji selection was very different to the usual. The random emojis aren't listed in the selection and very few of the ones I currently use are.

1. Open a card.
2. Select the emoji and select "Select icon".
3. Scroll through the list to see the limitations.

## Expected behavior

I expected the full select

[2022-11-14 18:10] justinegeffen commented on #4205
The random emoji isn't available in the selection provided.
![Screen Shot 2022-11-14 at 20 10 23](https://user-images.githubusercontent.com/4223530/201734599-0a52f087-16af-482f-ac9d-d1e636be7c6b.png)

[2022-11-14 19:25] Pinjasaur commented on #4150
@Alderaaan if you can help us debug this locally by providing a few additional details that would be much appreciated:

1. can you export that board you're using (remove any sensitive data please) to a `.boardarchive` and share it here?
2. can you share what search term(s) are causing the error?
3. can you share any relevant console errors?

thanks!

[2022-11-14 19:37] #3410 closed

[2022-11-14 21:31] wuwinson commented on #4168
@asaadmahmood Is this something you can fix?

[2022-11-14 21:38] wuwinson commented on #4188
@qlyoung Thanks for reporting! This is a 1-time notification to inform our Personal Edition users about the new [Cloud Starter plan](https://mattermost.com/pricing/) which has all the features from the Personal Server edition as well as access to the entire Mattermost suite including Channels and Playbooks. If you close the banner, it should never re-appear again. Please feel free to re-open this

[2022-11-14 21:38] #4188 closed

[2022-11-14 21:44] wuwinson commented on #4196
@candidexmedia Can you provide more details to help us investigate? Thanks!

 - **Edition:** Personal Desktop / Personal Server / Mattermost Boards (plugin)
 - **Version:** [Which version did you upgrade from?]
 - **Browser and OS:** [e.g. Chrome on Mac, Edge on Windows]
 - **Logs**: Screenshots of server logs if available

[2022-11-14 21:46] wuwinson commented on #4201
@mgdelacroix Can you help investigate? Thanks! cc @sbishel

[2022-11-14 22:18] wuwinson commented on #4202
Thanks for sharing your feedback @Deishelon! This is a duplicate of #624 and is something we're considering as part of our [cross-team collaboration features](https://www.loom.com/share/873f0aead81d46b4bb97ef859423ac69) for next year. If you have any additional feedback on our cross-team collaboration features, we'd love to hear your thoughts via our [feedback form](https://forms.gle/7f8cMm1h2gNNk

[2022-11-14 22:18] #4202 closed

[2022-11-14 22:44] wuwinson commented on #4203
Thanks for the feedback @mattstyles333!

Our file attachments feature for Boards is in progress and should be available in the next 1-2 releases. We're also in the very early stages of exploring a wiki feature within Mattermost. If those 2 features are available, would that address your feedback here or are there other reasons why you'd still want to sync with Notion? Thanks!

[2022-11-14 22:47] candideu commented on #4196
**Edition**: Personal Desktop
    **Version**: I'm not sure which version I upgraded from, to be honest... It was likely a release from the summer of this year
    **Browser and OS**: Windows
    **Logs**: Not sure where to find that

[2022-11-14 22:54] wuwinson commented on #4196
@wiggin77 Can you help look into this bug? Thanks! @sbishel

[2022-11-14 23:20] candidexmedia commented on #4196
**Edition**: Personal Desktop
**Version**: I'm not sure which version I upgraded from, to be honest... It was likely a release from the summer of this year
**Browser and OS**: Windows (downloaded from GitHub, not the MS Store)
**Logs**: Not sure where to find that

[2022-11-15 02:00] asaadmahmood commented on #4168
@wuwinson Sure I can have a look.

[2022-11-15 07:06] Rajat-Dabade commented on #4128
@wuwinson, I guess this is another issue, as the filter with type `text` should not contain `include`, it should have `is`, `contains`, `doesn't contain` etc. This happens only when you change from another property to `text` property.

https://user-images.githubusercontent.com/26198062/201852172-8c2d6e47-216e-4b3b-8eda-24be41cfea2f.mov

[2022-11-15 07:15] Rajat-Dabade opened #4206 "Bug: When changing filter from Status to any other text contained property the `include` should change to `is`"
## Steps to reproduce the behaviour

1. Go to any board with cards containing some text properties.
2. Click on the filter button and add a filter.
3. Change the filter from Status to any other text-contained properties.
4. See the error the include hasn't changed, it should change to `is` according to the dropdown.

## Expected behaviour

Whenever text-contained properties are selected for filter

[2022-11-15 14:28] amyblais opened #4210 "Bug: Servers are no longer supported on Ubuntu 18.04"
See this thread: https://community.mattermost.com/private-core/pl/48an6do9rbyh3kggbh7iqntmpy  Ubuntu 18.04 no longer seems to be supported due to recent MPA changes. Instead of bumping our supported OS to Ubuntu 20.04, we want to fix this issue so that Ubuntu 18.04 continues to be supported.

[2022-11-15 20:18] karlquint commented on #258
Adding my +1 for the recycle bin idea. I just checked that undo (cmd/ctrl-z) works well, but when other people delete stuff, it would be good to find it in the trash bin.

[2022-11-15 20:44] Pinjasaur commented on #4190
I updated my mine locally with a `brew update` and `brew upgrade` and am seeing the same behavior too. Doing a bit of digging isn't revealing any obvious solutions that I'm seeing.

I'm wondering if it's possible it's a problem on the OpenAPI / Swagger side with that specific generator for Python. Since the other clients seem to be generating OK (or at least without errors).

[2022-11-15 21:10] Pinjasaur commented on #4190
This appears to the closest related thing I've been able to find. Not positive it's the same issue, though. https://github.com/OpenAPITools/openapi-generator/issues/11763

[2022-11-16 01:25] 1-1is0 commented on #2001
i have the same issue with themes in v7.4.4

[2022-11-16 07:45] MarkusBeer opened #4214 "Bug: label not removeable"
## Steps to reproduce the behavior

1. Go to any car
2. Add a label
3. Try to remove label by clear button
4. See error - nothing happens

## Expected behavior

The label should get removed

## Screenshots (optional)

![grafik](https://user-images.githubusercontent.com/94354455/202118101-9d8ce780-4dca-49ee-a5c4-d93026c0a208.png)

## Edition and Platform

 - Edition: Personal Server
 - Version: 7.4

[2022-11-16 13:12] #4210 closed

[2022-11-16 16:25] amyblais commented on #4210
The bug fix has been merged. The next step is for Focalboard team to cut a new release and prepackage it with the server.

[2022-11-16 16:48] wuwinson commented on #4128
Separate bug filed for https://github.com/mattermost/focalboard/issues/4206, closing this out.

[2022-11-16 16:48] #4128 closed

[2022-11-16 23:36] amyblais opened #4222 "Update mattermost-server to pre-package Focalboard plugin v7.7"
Update [the makefile](https://github.com/mattermost/mattermost-server/blob/master/Makefile#L123) so that Focalboard v7.7 ships with Mattermost 7.7.

Note that this needs to be cherry picked to the appropriate branch for the release.

**Deadline: January 9th (7.7 Code Freeze)**

[2022-11-17 15:27] candidexmedia commented on #4196
Hi, I've updated to 7.5.1 and still cannot access my boards. Please advise on the next steps, or ways I can convert the db to another format. I was using Focalboard to keep track of various projects, and I cannot proceed without my boards.

[2022-11-17 16:10] wuwinson commented on #4196
@candidexmedia It looks like the latest Windows version from Github is potentially pulling from a db in a different location.

See https://github.com/mattermost/focalboard/discussions/2169 for details.

I suspect your original db might be located in:
`My Documents\Focalboard`

But the latest version of boards is actually storing the db in:
`C:\Users\USERID\AppData\Local\Packages\MattermostInc.Foca

[2022-11-18 04:08] candidexmedia commented on #4196
@wuwinson Thanks for guidance. I did indeed have the standalone stored in `Documents\Focalboard`

Unfortunately, I didn't find a Mattermost folder under `C:\Users\USERID\AppData\Local\Packages\`. In fact, when I create a new board in focalboard and close the app, the board is no longer there when I reopen the app. I'm not sure what's going on

[2022-11-18 04:11] candidexmedia commented on #4196
Also: I don't use the Microsoft Store version of the app. It doesn't have the latest version of Focalboard, and hasn't been updated since 2021:

![image](https://user-images.githubusercontent.com/95003834/202615067-f5a71e49-044c-4f2c-aa10-a953f6823434.png)

[2022-11-18 20:14] qlyoung opened #4224 "Bug: Focalboard personal server unconditionally binds to any-address instead of localhost"
## Steps to reproduce the behavior

1. Install focalboard personal server
2. Run focalboard personal server
3. Observe that the server binds to `:::8000` and `:::9092` instead of ports on a loopback address
4. Observe in the docs that there is [no configuration open to change this](https://docs.mattermost.com/boards/focalboard/installing-boards.html#personal-server-configuration)

## Expected beha

[2022-11-19 02:35] jhollowe commented on #308
Recurring events would be amazing.

To expand on it, the ability to add rules where you can link an action (schedule hit time/day, task moved to different status, property changed, date updated, date property is n days/hours away, etc) to actions (change property, add template-able comment, etc) would be a killer feature.

[2022-11-19 04:53] 75re commented on #2001
same with 7.5.1

[2022-11-20 14:46] jason8w opened #4227 "Feature Idea: Quickly view and edit task progress in the task view"
## Summary

What the new capability is.

## How important this is to me and why

Importance: High

Use cases:
I prefer to see the current tasks in one view, the last update time and content of each task, so as to facilitate the next work.

Suggestions:

In the task view, i can quickly fill the task progress (For example, what has been done today, what remaining problems need to be solved, etc.) an

[2022-11-20 14:48] jason8w opened #4228 "Feature Idea: Task tree in the task view"
## Summary

In most cases, a large task contains multiple small subtasks or steps, therefore, multiple subtasks or steps are required for task management.

## How important this is to me and why

Importance: High

Use cases:
1. In the task view, a parent task can be divided into multiple sub tasks, and the parent task can be closed only after all subtasks are completed.

[2022-11-21 11:06] #4150 closed

[2022-11-21 14:11] wiggin77 commented on #4196
@candidexmedia what directory is your `focalboard.db` getting created in?

[2022-11-21 18:05] candidexmedia commented on #4196
In the past, the databse would be created in My Documents\Focalboard (the
program itself was stored in My Documents\Focalboard\focalboard-win).

But now, no database is created at all. I've even tried saving the
standalone Focalboard program in another random folder, and I get the same
issue.

It looks like C:\Users\USERID\AppData\Local\Packages\ is only applicable
for the Microsoft store version

[2022-11-22 07:44] harshilsharma63 commented on #4189
@lindalumitchell can you also try upgrading to 7.5.1?

[2022-11-22 10:03] harshilsharma63 opened #4230 "Bug: All synthetic-access boards end up displaying in sidebar"
## Steps to reproduce the behavior

1. Create a channel and link multiple boards to it.
2. Signup as a new user and navigate to the channel in step 1.
3. Open any board from the boards RHS in channels.
4. Notice that all boards which were linked to the channel in step 1 end up being displayed in Boards LHS.

## Expected behavior

Only the board opened from channels RHS should show up in the Boards

[2022-11-22 10:37] johndavidlugtu opened #4231 "Bug: Disappearing content in Boards desktop app"
## Steps to reproduce the behavior

1. Go to Boards
2. Create a new card
3. Add title and content
4. Close card
5. See if content is lost

## Expected behavior

Content is not lost

## Screenshot

Loom video: https://www.loom.com/share/bf69b52c20cf4814b7e26a118aa815e1

[2022-11-22 15:09] asaadmahmood commented on #3803
I can still repro this, exact repro steps:
https://www.loom.com/share/301b7127b6204553a0a81948585ed059

[2022-11-22 15:32] wuwinson commented on #4231
@johndavidlugtu Can you provide more details on your version and edition?

## Edition and Platform

 - Edition: Personal Desktop / Personal Server / Mattermost Boards (plugin)
 - Version: [e.g. v0.15.0]
 - Browser and OS: [e.g. Chrome on Mac, Edge on Windows]

[2022-11-22 15:37] wuwinson commented on #4214
@ogi-m Can you try to repro this with a multi-select property on Firefox/Edge on Windows? We're not seeing a `Clear` button on our side. Thanks!

[2022-11-22 16:13] johndavidlugtu commented on #4231
Edition and Platform
Edition: Mattermost Boards (plugin)
Version:
<img width="219" alt="Screen Shot 2022-11-23 at 12 11 45 AM" src="https://user-images.githubusercontent.com/101303489/203364442-d19e4754-3f9e-4b6f-80f7-1b8e61c24f0f.png">

Browser and OS: Desktop app, macOS Monterey 12.6

@wuwinson you should also now have access to the Loom video. Let me know if that's not the case!

[2022-11-22 17:48] wiggin77 commented on #4196
@candidexmedia if no database file is truly created then the config is telling it to create an in-memory database, which is not the default that ships with our releases.  Can you provide your config file?

[2022-11-22 17:53] candidexmedia commented on #4196
I've tested it on a separate device, and realized that I had to delete the following folder so that the standalone app could generate a new db: `My Documents\Focalboard`

That said, this doesn't resolve the issue I have with not being able to access my previous existing database (with all my board). I opened the new database and previous database in SQLiteStudio, and noticed that the number of tab

[2022-11-22 21:22] vpecinka opened #4239 "Bug: visible database password in the log entry"
There is the following line in the log output (where `XXXX` is real plain text string of the database password and `foo.bar` is real database hostname):

[code]

Noticed just after upgrade to Mattermost 7.5.1

[2022-11-23 17:10] jdkdev commented on #3248
Would love to see this feature!

[2022-11-23 17:41] ogi-m opened #4240 "Bug: File Attachments > `...` button is transparent"
## Steps to reproduce the behavior

1. Go to a card
2. Add an attachment
3. Hover over the `...` button
4. Note it is transparent and overlaps the file name

## Expected behavior

File name shouldn't be visible through the button

## Screenshots (optional)

<img width="633" alt="image" src="https://user-images.githubusercontent.com/15314183/203612296-bf062f56-e964-4556-a263-541db0761ef7.png">

##

[2022-11-23 17:45] ogi-m opened #4241 "Bug: File Attachments > "Delete" menu moves around"
## Steps to reproduce the behavior

1. Go to a card
2. Add a file attachment
3. Click the `...` button to open the menu
4. Move the cursor around a bit

## Expected behavior

Note the menu position changes

https://user-images.githubusercontent.com/15314183/203614216-35a986d0-15c6-4756-a645-286c9867b08b.mov

## Edition and Platform

 - Edition: Mattermost Boards (plugin)
 - Version: v7.6
 - Browse

[2022-11-23 18:28] lindalumitchell commented on #4189
Thanks @harshilsharma63 , I just upgraded lm-boards.test to v7.5.1 but observed the same error behavior.

<img width="969" alt="Screen Shot 2022-11-23 at 10 26 31 AM" src="https://user-images.githubusercontent.com/25826533/203621587-f0bd8415-bf61-4749-bb7a-2ccb095d268a.png">

[2022-11-23 19:36] ogi-m opened #4242 "Bug: DND > Dropping a board can be difficult with an open board with multiple views"
## Steps to reproduce the behavior

1. Create a board with multiple views and place it in a category
2. Create another category above with none or very few boards
3. Try to drag the board created in step 1 to the above category
4. Observe that you have to drag it very high above the category to be able to successfully drop the board

## Expected behavior

Users should be able to drop the board by

[2022-11-24 05:42] harshilsharma63 commented on #4242
@ogi-m can you please try again on the latest version of the branch? This was fixed a while back and works fine now on both firefox and chrome-

https://user-images.githubusercontent.com/18575143/203703237-a0557a63-0efb-4cfa-b888-9ab1c7ee8e37.mp4

[2022-11-24 07:30] #4206 closed

[2022-11-24 07:30] #4184 closed

[2022-11-25 05:16] harshilsharma63 opened #4245 "Bug: Opening template picker on team with no boards shows template picker behinf template picker"
## Steps to reproduce the behavior

1. Open Boards. Go to a team with no boards.
2. Notice the template picker should be open.
3. Now, from LHS click on "+ Create new board".
4. Notice a new template picker opens up behind the main window. You man need to make your browser window narrow to see it though.

## Expected behavior

The template picker dialog should not re-open if its already being disp

[2022-11-25 06:43] harshilsharma63 commented on #4189
@lindalumitchell this is fixed on latest `main`, can you try it out? It actually got fixed by #4209

[2022-11-25 08:09] harshilsharma63 commented on #4179
@wuwinson this was fixed by #4200 about a day or two after you created this issue. Can you please try it on latest `main`? LMK if you want me to upload the latest build somewhere.

[2022-11-25 08:17] harshilsharma63 commented on #4141
This was fixed by #4029 and can be closed now.

[2022-11-25 08:17] #4141 closed

[2022-11-25 15:58] Leopere commented on #3069
Is this something that can be updated?  I really like the idea of using Focalboard.  I ended up getting a copy deployed in our stack successfully but statelessness in a container is really nice.

[2022-11-25 16:10] apieceoy opened #4248 "Bug: Many channels are not marked and the red badge do not show on Dock icon to indicate unread messages"
## Steps to reproduce the behavior

1. In recent days, many channels are not marked and the red badge do not shown on Dock icon to indicate unread messages.
2. It usually happens on private channels, but the mentions and direct messages work correctly.
3. I do not mute the channels, and others also have this problem.
4. Upgrade to 7.5.1 from 5.37.10 can't solve. (self-hosted)

## Expected behavior

[2022-11-26 17:53] arditobryan opened #4249 "Bug: docker build returns non-zero code: 2 on EC2"
I have cloned the repo on an EC2 linux and installed docker, then executed the following command as per instructions:
My EC2 has 4GB memory, 70GB space

`docker build -f docker/Dockerfile -t focalboard .`

This is the output I am getting:
[code]

[2022-11-27 14:16] Faizan711 commented on #4034
is this issue still open, if so then i would like to be assigned for it.

[2022-11-28 09:13] harshilsharma63 opened #4250 "Bug: Cannot hide too many boards"
## Steps to reproduce the behavior

Try hiding somewhere around 60 boards. The API will throw a 500 error.

## Expected behavior

User should be able to hide as many boards as they want to.

[2022-11-28 09:39] q-wertz commented on #3431
Seems to be fixed in `7.5.1` (don't know when exactly the change came).

Now the full name of the users is shown.

[2022-11-28 09:39] #3431 closed

[2022-11-28 11:01] biva commented on #382
Hello @chenilim I really like the new features enabling to include a link to a card within a Mattermost conversation. But in my opinion, it's really a shame that we cannot create a card in an easy way, from a conversation in Mattermost. In order to start easily, would it be possible to add a feature in the 3-dots menu, creating a card from a message? As a first step, a very simple card could be cr

[2022-11-28 14:12] MikeSchlag commented on #4075
@wiggin77 Any other info that still needs captured for this? Would it be helpful for me to do a clean install (backing up the current directory) and diff any specific files?

Incidentally, still happening with upgraded  Windows client 5.2.1. Will update the original report to include that info.

[2022-11-28 16:52] chenilim commented on #382
Thanks for the feedback @biva! cc @wuwinson.

[2022-11-28 17:39] wuwinson commented on #4214
Thanks for clarifying @MarkusBeer! @ogi-m Can you try to repro? I just tested on Firefox and Windows on our test Personal Server and I'm still not seeing a `Clear` button.

![image](https://user-images.githubusercontent.com/93531870/204344101-22d55ec9-7f0b-4e00-baae-9724c2d5a269.png)

[2022-11-28 20:14] sbishel commented on #4249
@wiggin77 - Could this be a MPA issue where docker is using the wrong mm-server?

[2022-11-28 20:15] wuwinson commented on #4240
File name doesn't overlap with the Option button on Channels:
![Screen Shot 2022-11-28 at 3 14 42 PM](https://user-images.githubusercontent.com/93531870/204372144-d98cdbc9-ee89-47b1-b93f-cd45f3107165.png)

[2022-11-28 20:18] wiggin77 commented on #4249
Yes, this the symptom when using a older mattermost-server repo.

[2022-11-28 20:19] wuwinson commented on #4231
Fixed in https://github.com/mattermost/mattermost-server/pull/21737

[2022-11-28 20:19] #4231 closed

[2022-11-28 20:20] amyblais commented on #4248
@apieceoy Would you be open to re-opening this issue at https://github.com/mattermost/mattermost-server/issues? Do you see any errors in the Mattermost server logs?

[2022-11-28 20:23] wuwinson commented on #4214
@MarkusBeer We're able to see the `Clear` button now, but it's working fine for us. Can you provide us with a console log to help us investigate? Thanks!

[2022-11-28 20:57] #4245 closed

[2022-11-28 20:57] #4230 closed

[2022-11-28 20:58] #4070 closed

[2022-11-28 23:13] wuwinson commented on #382
Thanks for the suggestion @biva! Agreed that this is a an important feature and something we're considering for our longer term roadmap. In the meantime, we've opened it up to the community in case someone wants to implement this sooner. Thanks again!

[2022-11-28 23:15] wuwinson commented on #4179
Thanks @harshilsharma63! I'll verify during our bug bash later this week and get back to you.

[2022-11-29 08:42] biva commented on #382
Hello @wuwinson , thanks for your kind words. Unfortunately, I have no skills in coding, so I can't help very much :/ I'm a bit disappointed that it's only "long term" and not faster, but obviously I understand you have a lot to do and that you have to prioritize... Just a kind nudge to remind you that Slack and Nextcloud already implemented it in a nice and simple way :P
1. Slack:
    1. You can

[2022-11-29 09:39] mgdelacroix opened #4254 "Enhancement: provide with a visual way to clear a person property"
## Summary

If I set a value to a person property, being that Asignee or one that I create, I don't have a visual way to clear it and leave it empty. I can click on the property value and with the list of people expanded, press the delete key to clear the current value, but I'd like to have a clear button or something alike to perform the same action in a visual way.

## How important this is to m

[2022-11-29 09:45] ogi-m opened #4255 "Bug: Template selector > Horizontal scroll bar shown but preview is not scrollable"
## Steps to reproduce the behavior

1. Open Boards
2. Click '+' > Create new board
3. Select 'Sales pipeline' or 'Sprint planner'
4. Note the horizontal scroll bar
5. Try scrolling horizontally

## Expected behavior

It should either
a) not show the scrollbar if it's not supposed to be scrollable
b) allow horizontal scrolling

## Screenshots (optional)

<img width="1543" alt="image" src="https://u

[2022-11-29 09:48] ogi-m commented on #4255
@asaadmahmood @wuwinson What would be the expected here?

[2022-11-29 13:41] apieceoy commented on #4248
Okey, I have reopened at https://github.com/mattermost/mattermost-server/issues/21763
I don't see any special errors in server logs.

[2022-11-29 15:36] bcfdadmin opened #4256 "Bug: Android Boards not working in mattermost app"
## Steps to reproduce the behavior

Just downloaded the newest mattermost app off google play, logged in as a admin, clicked on the line @admin linked the board XXXXX with this channel. Once the link is clicked it opens up focalboard in the top right corner, displays a white screen, and doesn't load anything

## Expected behavior

Expected it to open the board that was linked

## Screenshots (opti

[2022-11-29 15:54] m-primo opened #4257 "Feature Idea: Move card properties"
## Summary

A feature to move the card properties.

Let's say we have these properties:
- Status
- Priority
- Description

And I would like to move "Description" to above "Status" I can't do that, I'd have to delete every property and then add them again, and so on!

## How important this is to me and why

Importance: High

As I said above, I can't move properties, I'd have to delete and then add

[2022-11-29 20:05] #4248 closed

[2022-11-29 20:40] wiggin77 commented on #4249
@arditobryan have you also cloned the [mattermost-server](https://github.com/mattermost/mattermost-server) in a sibling directory to focalboard?

[2022-11-29 20:55] arditobryan commented on #4249
Hi @wiggin77 thank you for following the issue.
No, I haven't. I followed the instructions in this repo and:
- Cloned the repo
- Executed this command: docker build -f docker/Dockerfile .

[2022-11-29 20:58] wiggin77 commented on #4249
Thanks @arditobryan.  Please clone [mattermost-server](https://github.com/mattermost/mattermost-server) and then delete any `go.work` file found in the focalboard repo root.  Then run your docker command again.

[2022-11-29 21:13] wiggin77 commented on #4249
Do you mean the [instructions here](https://github.com/mattermost/focalboard#getting-started)?

[2022-11-29 22:24] wuwinson commented on #4134
@mrckndt We haven't been able to repro this issue. Are you still running into this with the latest release? If so, can you share any details from your console logs and information on any errors in the `Network` tab. Thanks! cc @Rajat-Dabade

[2022-11-29 22:29] wuwinson commented on #4255
I think hiding the horizontal scroll bar would be best here.

[2022-11-29 22:50] wuwinson commented on #3804
Thanks for reaching out @michkrej! @jespino Do you have any thoughts on the 2 proposed solutions above to prevent saving  accidental card creations? Thanks! cc @sbishel

[2022-11-30 04:54] lindalumitchell commented on #4189
@harshilsharma63 apologies I missed your message! I updated lm-boards.test to the build from your v7.6 release branch that Winson posted in the channel, and it is all working as expected. I no longer see the issue. 👍

[2022-11-30 04:58] harshilsharma63 commented on #4189
No worries @lindalumitchell ! I'm glad the issue is resolved!

[2022-11-30 16:48] asaadmahmood opened #4269 "Bug: Clicking on the permalink when linking a board gives a 404"
## Steps to reproduce the behavior

1. Link a board to a channel
2. See system message posted by boards bot
3. Click on linked board
4. See 404 error page

## Expected behavior
The board should be accurately linked

## Edition and Platform
 - Edition: Mattermost Boards (product mode)
 - Version: 7.6.0
 - Browser and OS: Chrome mac

[2022-11-30 19:11] gotIT4 commented on #2469
Hello @wiggin77 I just want to inform you, that the Problem is solved. I just upgraded to the newest Version.
Thank you for your help.

[2022-11-30 19:12] #2469 closed

[2022-11-30 19:12] wiggin77 commented on #2469
Thanks for the update.  Great news.

[2022-11-30 20:09] wuwinson commented on #4257
Thanks for the feedback @m-primo! Agreed that this is important, and we're already tracking this idea on https://github.com/mattermost/focalboard/issues/2190. Feel free to add any additional feedback there. Thanks!

[2022-11-30 20:09] #4257 closed

[2022-11-30 20:12] wuwinson commented on #2190
@MrVSiK This feature is not under development yet. We'd love to have you work on this feature if you're still interested. See the [spec](https://docs.google.com/document/d/1Iupe43Y38HcrtYJeWeqTPn9P7KHgYiQFFSUcSfraqjA/edit?usp=sharing) for more details. Thanks!

[2022-11-30 20:33] bwskin commented on #4249
I also have this problem. Last commit I've been able to build is `b582e5920c54f353b99625e1326b24b401a27b90` (found using git bisect)

[2022-11-30 21:19] wiggin77 commented on #4249
@bwskin are you getting the same error as reported above?  That error indicates building with an outdated [mattermost-server](https://github.com/mattermost/mattermost-server).  It may be necessary to delete the go.work files.

[2022-11-30 21:52] wiggin77 commented on #4249
@arditobryan and @bwskin I was able to reproduce this locally.  I'll figure out a fix.  Thanks.

[2022-11-30 22:24] wiggin77 commented on #4249
This will be fixed via https://github.com/mattermost/focalboard/pull/4271   You can wait for the merge, or you can run `go get github.com/mattermost/mattermost-server/v6@master` in your focalboard/server directory.

[2022-11-30 22:52] #4249 closed