[2021-05-04 22:51] chenilim commented on #91
Just trying to clean up old issues. @jespino, are there any follow up actions required on this one? Thanks.

[2021-05-04 23:11] chenilim commented on #382
Thanks @biva! This is great feedback. Slash commands are something we haven't fully explored yet. Some quick thoughts / brainstorms:
* Currently, each channel is associated with a Focalboard workspace with (possibly) multiple boards
* So, a `/card` command would need to indicate the board, e.g. `/card [My Todos] @tom Buy cookies`.
  * Or maybe we can just configure the "default" board to insert in

[2021-05-05 08:32] biva commented on #382
Thanks for your encouraging reply. My feeling:
- As a first step, it could start with something very simple like `/card @tom Buy cookies`. For the board assignation, the 2 solutions make sense for me: either insert it in the associated Focalboard workspace (I prefer this solution) or configure a "default" board
- Assigning the type of card, the board, the deadline, ... are interesting additional f

[2021-05-05 12:07] harshilsharma63 commented on #38
@Johennes we can use [React Day Picker](https://react-day-picker.js.org) which is what we already use in Mattermost.

[2021-05-05 18:17] mblennegard commented on #250
This would be really great to have.

Maybe [Prism.js](https://prismjs.com/) could be used (it does support PowerShell as well).

[2021-05-05 18:51] Johennes commented on #38
Ah nice. I'll give that a try.

[2021-05-05 19:31] ogi-m opened #384 "Bug: Theme preference resets on app restart"
**Summary:**
Selected theme preference doesn't persist after app restart, instead it reverts to system default.

**Steps to reproduce the behavior:**

1. Launch Focalboard on Windows (the store app)
2. Click on _Settings_ > _Set theme_
3. Select any theme other than _System theme_
4. Quit the app and start it again
5. Observe the theme

**Expected behavior:**
The theme selected in step 3 is displa

[2021-05-05 19:42] ogi-m opened #385 "Feature Idea: Show a visual indicator next to the selected language & theme options"
**Summary:**
There's currently no way to tell which theme or language is selected when looking at the list. It would be great to show a visual indicator, like a checkmark, next to the selected option.

Note in the screenshot that there's nothing to indicate which theme is currently selected

![focalbard_theme](https://user-images.githubusercontent.com/15314183/117199422-74e43f00-adea-11eb-96d4-589

[2021-05-05 22:05] chenilim commented on #385
Thanks @ogi-m! Agree we should have a standard way to show the active setting in a menu (e.g. a checkbox). Thoughts @michaelgamble?

[2021-05-05 22:18] chenilim commented on #384
Dup of #314. This should already be fixed as part of a checkin for #314. Should be able to verify this in the latest build from source, or in the next release.

[2021-05-05 22:18] #384 closed

[2021-05-05 22:55] chenilim opened #386 "Feature Idea: Unfurl links to cards in Mattermost"
**Summary:**
What should we show on unfurled cards?
* Image snapshot of the card (should this be a "live" / current view or the snapshot at the time of pasting?)
  * Maybe this should be toggle-able?
* What properties should show?
  * Maybe configured by the first or "default" board?
* Click to open the card
* Hover to see additional properties? E.g. author, created, modified date?

**What does ev

[2021-05-05 22:59] chenilim commented on #382
Good points. Yup, agree that the /link is more versatile as you can insert it in a thread. Being able to specify a "default" board in the workspace (the first one by default) makes this, and other commands, easier.

As for additional details of the card, I posted a new [feature idea #386 on unfurling links to cards](https://github.com/mattermost/focalboard/issues/386). We should define and use a s

[2021-05-05 23:07] biva commented on #386
I agree with your ideas. My feeling:
- It should be as small as possible to not pollute the thread (indeed, hover to see additional properties would be cool, but not a priority for me)
- It should be a live view if possible (if too complicated, the view at the time of pasting is fine)
- Click to open the card is good, but click to _edit_ the card within a popup would be even better

[2021-05-05 23:19] #332 closed

[2021-05-06 01:06] michaelgamble commented on #385
My instinct is that settings like this likely should be consolidated and more of a settings modal rather then a dropdown (gives them a home that we can expand on). For the sake of not holding anything up, in the short-term we can add a blue check icon to the left of the selected item. If this is using the menu component from MM it may already have an accommodation for including icons in the line i

[2021-05-06 16:35] chenilim opened #387 "Bug: Comment box doesn't clear after sending"
**Steps to reproduce the behavior:**
1. Open a card
2. Enter text in the comment box (e.g. "test")
3. Click send (comment is posted)
4. Click on the comment box again
5. The text ("test") appears in the comment box

**Expected behavior:**
The comment box should be cleared after sending

**Platform:**
 - Chrome 89 on macOS 10.15.7

[2021-05-06 20:35] chenilim commented on #385
Thanks! Queueing this up for triage. We might want to add the basic Mattermost icons to Focalboard, so we can start using them elsewhere.

[2021-05-06 21:47] minecraftchest1 commented on #103
If SSO does not get added to the free version, I Will not use this software.

[2021-05-07 08:05] real34 commented on #166
Such pages would be really useful for high-level briefs and team documentation.
Markdown-like is fine but it would be great to have links between pages and cards as a first-class citizen. Having backlinks for instance would make things very useful.

Inspiration for this may be found at:
- https://www.notion.so/Create-links-backlinks-cb3c406403c940b68af52de121e05474 (Notion of course)
- https://www

[2021-05-07 10:36] biva commented on #382
@chenilim Unfortunately I have no skills for coding, but happy to test and give feedback when you have a first version :)

[2021-05-07 14:07] biva opened #388 "Feature Idea: ability to install with Apache"
**Summary:**
I understand that Focalboard can be installed only with Nginx. Is it also possible on Apache? (in this case, would it be possible to add the documentation like on https://docs.mattermost.com/install/config-apache2.html?)

If it's not available on Apache, do you plan to consider it in the future?

**How important this is to me and why:**

Importance: High (our server uses Apache and no

[2021-05-07 14:29] biva commented on #388
I just tested it and the documentation for Mattermost / Apache2 also works with Focalboard :)

Should I close the issue?

[2021-05-07 18:56] hahmadia commented on #261
Hey guys,

I'll be taking a look at this.

[2021-05-07 21:19] chenilim commented on #261
Thanks for picking this up @hahmadia!

[2021-05-08 19:13] Johennes commented on #38
I pushed up a first attempt in #391.

[2021-05-09 08:10] harshilsharma63 commented on #38
@Johennes that's awesome 👍 Just did a high-level review and it looks pretty good. Will do a deeper code review on it.

[2021-05-10 05:30] #388 closed, assigned to nobody

[2021-05-10 05:46] #38 closed

[2021-05-10 11:26] oliverbutler opened #395 "Feature Idea: Improve cardDetails buttons and add icons"
**Summary:**
Currently, the property names/buttons are different sizes, hard to click, and the same issue of "+ Add" been utilized throughout rather than utilizing an SVG icon, further leading to design discrepancies.

I propose the addition of an <IconButton/> which could be used in all situations in which you need an Icon next to a Button to reduce code duplication and mismatching of styles. Als

[2021-05-10 15:15] #31 closed

[2021-05-10 15:18] #375 closed

[2021-05-10 15:19] #309 closed

[2021-05-10 19:06] Johennes opened #396 "Feature Idea: Upgrade to react-simplemde-editor 5.0.0"
**Summary:**

In #292 and #356 we discovered a bug in react-simplemde-editor that caused the event handlers to not be updated after the initial install. This was fixed in RIP21/react-simplemde-editor#156 and released with version [5.0.0](https://github.com/RIP21/react-simplemde-editor/releases/tag/v5.0.0). It would be nice to test out the new version and if it works correctly, update the dependenc

[2021-05-10 23:11] chenilim opened #398 "Feature Idea: Show formatting bar in Card markdown editor"
**Summary:**
There's no indication in the markdown editors (card, title, etc.) that they accept markdown. One way to address this might be with a toolbar / format bar.

**How important this is to me and why:**

Importance: Medium

**Additional context / similar features:**
The SimpleMDE / CodeMirror editor has a built-in / default format toolbar that we might be able to leverage.

[2021-05-11 00:02] chenilim commented on #395
Thank you so much @oliverbutler! The video in particular is very helpful. Yes, we definitely expect to improve the overall aesthetic and UX. There are some glaring issues, such as the input box length, etc.

Looping in @michaelgamble. What do you think Mike? I know we will be doing a UX pass eventually, but maybe some of these fixes would be good short-term improvements? I'd be open to taking a PR

[2021-05-11 06:32] helmut72 commented on #103
At least LDAP should be there. We don't have 2001, but 2021. This isn't a feature for a power user only.

[2021-05-11 13:01] minecraftchest1 commented on #103
I'll be honest. Oauth2/OpenID connect would probably better, because users can use keycloak LDAP federation if they need it. It also allows more flexibility by letting administrators different options for SSO.

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: helmut72 ***@***.***>
Date: 5/11/21 1:32 AM (GMT-06:00)
To: mattermost/focalboard ***@***.***>
Cc: minecraftche

[2021-05-12 04:39] Hokwang commented on #234
@stafot do you have any progress?

[2021-05-12 09:04] oliverbutler commented on #166
Personally, rather than the markdown approach, I feel like contentEditable HTML fields, like those found with Notion, would be the best option to provide a valuable Notion replacement for most FOSS loving people.

The video below is from my previously started Tailwind + Beautiful React DND project, this concept would fit great within Focalboard.

https://user-images.githubusercontent.com/47489826/

[2021-05-12 09:44] mblennegard commented on #166
@oliverbutler That looks awesome!

Though, for me personally, I worry about the lock-in, if one were to export everything at a later time.

[2021-05-12 09:47] oliverbutler commented on #166
What if we allowed exporting to MD regardless? Everything we store in this sort of format could easily be exported out as MD (for instance https://github.com/domchristie/turndown), with the additional choice of MD blocks if wanted by the user, could provide the best of both worlds.

[2021-05-12 10:30] backit opened #407 "Bug: Cannot paste nor select in description's Card"
**Summary:**
In Task Card > description, cannot paste nor select anything

**Steps to reproduce the behavior:**
1. open a task card
2. click on description field
3. try to paste / select anything

**Expected behavior:**
Insert pasted text / select text

**Platform:**
 - FocalBoard Personal Desktop 0.6.7
 - OS: Linux Ubuntu 18.04

[2021-05-12 15:40] chenilim commented on #141
Cleaning up old issues. Changes are now in [CHANGELOG.md](https://github.com/mattermost/focalboard/blob/main/CHANGELOG.md).

[2021-05-12 15:40] #141 closed

[2021-05-12 15:51] michaelgamble commented on #395
@oliverbutler So i have a few questions and some feedback that we can jump off with:
1. Change hover function of the names and values (no hover effect if read-only)
- This one is a little unclear to me, partly because I'm new to the team and am not currently aware of a read-only state for these property dropdowns, whats the use case / when does that happen?
2. Editing fields pops out the input sli

[2021-05-12 16:07] #353 closed

[2021-05-12 21:27] chenilim opened #408 "Feature Idea: Grouped Table / List view"
**Summary:**
Allow the current Table view to show rows grouped by a property. This will provide similar and improved functionality to the "List" views in reference products.

**How important this is to me and why:**

Importance: Medium

Use cases:
* Allow Table views to group-by a selected property
* Drag and drop rows between groups to change properties
* Drag and drop the order of groups
* Sort

[2021-05-12 21:43] chenilim commented on #107
Going through and cleaning up old issues. The current plan to address this is to integrate with Mattermost. See the [early preview here](https://github.com/mattermost/focalboard/discussions/349). This gives us the immediate benefit of Mattermost's security and permission model.
* i.e. initially, each channel would have an associated Focalboard workspace.
* Only members of that channel can access t

[2021-05-12 22:28] akaMizac opened #409 "Bug: docker-compose not saving data"
**Summary:**
The docker commands in the setup guide and the docker-compose file are all without volume variables.
So when i restart my container, all my data is lost.

Is there something i am missing?

Could you change that?

[2021-05-12 22:41] chenilim opened #410 "Bug: Title cell in read-only table view should not appear to be editable"
**Steps to reproduce the behavior:**
1. Share a board with a table view
2. Click on the title of a row in the read-only table view
3. It appears to be editable (but is not)

**Expected behavior:**
It should not appear to be editable. Perhaps removing the white border around the input field would be sufficient?

**Screenshots:**
<img width="427" alt="table-view readonly editable" src="https://user-

[2021-05-13 14:42] internalfx commented on #107
@chenilim Wouldn't that make focalboard much less valuable as a standalone application?

[2021-05-13 16:58] chenilim opened #411 "Feature Idea: Show relative time for comments (and elsewhere?)"
**Summary:**
The comment timestamp is currently a date-time string. It would be great to show it in relative time instead.
i.e. 1 hr ago, today, yesterday, etc.

<img width="217" alt="comment time" src="https://user-images.githubusercontent.com/46905241/118159122-7e187180-b3d1-11eb-8a4c-5de15550dc9c.png">

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Comment time
2.

[2021-05-13 17:02] chenilim commented on #411
Instead of a setting, we should show the relative time (to the user's local time), and show the (current) absolute date-time stamp on hover.

[2021-05-13 21:04] #261 closed

[2021-05-14 18:20] stafot commented on #234
@Hokwang Yes, I achieved to raise a draft PR today, will review it myself and add some documentation and then we will go to our review cycles. I hope soon enough to be available for you. If you want to give it a try with the current draft you are also able to.

[2021-05-15 13:28] Hokwang commented on #234
@stafot thanks! I will test!

[2021-05-15 14:38] sbishel opened #417 "Feature Idea: Allow Card View to scroll between cards."
**Summary:**

Add some up and down arrows in card view that would allow scrolling to "previous" and "next" cards.

**How important this is to me and why:**
Because "notes" is not visible in table view, it would be nice to scroll to next, previous cards without leaving list view. Especially from a table view where the order of cards is obvious.

Importance: High/Medium/Low
Medium

Use cases:
1. Rev

[2021-05-16 15:12] haardikdharma10 commented on #411
Hi @chenilim, can you help me with the file involved where the change has to be made?

[2021-05-16 18:08] chenilim commented on #411
Hi @haardikdharma10! Thanks for picking this up! Check out the [momentjs functions for relative time](https://stackoverflow.com/questions/38367038/format-relative-time-in-momentjs). There should be a function that does exactly this, but is localized. There may be additional settings needed to make this work correctly per language - e.g. passing in the UI language.

[2021-05-16 18:15] chenilim opened #418 "Bug: Text search clears when card is updated"
**Steps to reproduce the behavior:**
1. Open a table view with multiple cards
2. Enter text in the text search box, such that some cards are filtered out
3. Open a card
4. Update it (e.g. a property or title)
5. The table updates in the background, showing all cards, even though the search text field is still populated

**Expected behavior:**
The table should update, but still maintain the text fi

[2021-05-17 13:41] harshilsharma63 commented on #385
iI'm in the process of adding the Mattermost Compass Icons to Focalboard. I'll update here when the changes are merged and then we can proceed with this one.

[2021-05-17 18:45] chenilim opened #420 "Bug: Reordering board columns is broken"
**Steps to reproduce the behavior:**
1. Open a board view with multiple (4+) columns
2. Drag the 4th column to the 2nd column
3. New order is: 1, 3, 4, 2

**Expected behavior:**
New order should be: 1, 4, 2, 3

**Screenshots:**
Before drag (4th column to 2nd):
<img width="1395" alt="before drag" src="https://user-images.githubusercontent.com/46905241/118540027-074ae380-b705-11eb-8c92-a54b9af42bd9.

[2021-05-17 19:37] sbishel opened #421 "Server Unit Tests - ./app/auth.go"
Write Unit Tests for ./server/app/auth.go.
Write Unit Tests for ./server/auth/auth.go.

- use mock for store layer
- see ./server/app/auth_test.go and ./server/app/blocks_test.go for samples.

[2021-05-17 20:25] sbishel opened #423 "Server Unit Tests - ./app/files.go"
Write Unit Tests for ./server/app/files.go.

- use mock for store layer
- see ./server/app/auth_test.go and ./server/app/blocks_test.go for samples.

[2021-05-17 20:26] sbishel opened #424 "Server Unit Tests - ./app/sharing.go"
Write Unit Tests for ./server/app/sharing.go.

use mock for store layer
see ./server/app/auth_test.go and ./server/app/blocks_test.go for samples.

[2021-05-17 20:27] sbishel opened #425 "Server Unit Tests - ./app/workspaces.go"
Write Unit Tests for ./server/app/workspaces.go

use mock for store layer
see ./server/app/auth_test.go and ./server/app/blocks_test.go for samples.

[2021-05-17 20:33] sbishel opened #426 "Server Unit Tests - ./server/server.go"
Write Unit Tests for ./server/server/server.go.

use mock for store layer, this will probably require additional mocks.

[2021-05-17 20:50] sbishel opened #427 "Server Unit Tests - ./config/config.go"
Write Unit Tests for ./server/config/config.go

[2021-05-17 21:04] sbishel opened #428 "Server Unit Tests - ./store/sqlstore/session.go"
Write Unit Tests for ./server/store/sqlstore/session.go

see ./server/store/storetests for samples.

[2021-05-17 21:06] sbishel opened #429 "Server Unit Tests - ./store/sqlstore/initialize.go"
Write Unit Tests for ./server/store/sqlstore/initialize.go

see ./server/store/storetests for samples.

[2021-05-17 21:07] sbishel opened #430 "Server Unit Tests - ./store/sqlstore/user.go"
Write Unit Tests for ./server/store/sqlstore/user.go

see ./server/store/storetests for samples.

[2021-05-17 21:08] sbishel opened #431 "Server Unit Tests - ./store/sqlstore/workspaces.go"
Write Unit Tests for ./server/store/sqlstore/workspaces.go

see ./server/store/storetests for samples.

[2021-05-17 21:14] sbishel opened #432 "Server Unit Tests - ./services/telemetry/telemetry.go"
Write Unit Tests for ./server/services/telemetry/telemetry.go

[2021-05-17 21:16] sbishel opened #433 "Server Unit Tests - ./services/webhook/webhook.go"
Write Unit Tests for ./server/services/webhook/webhook.go

[2021-05-17 21:20] sbishel opened #434 "Server Unit Tests - ./web/webserver.go"
Write Unit Tests for /web/webserver.go

[2021-05-17 21:31] sbishel opened #435 "API Integration Tests - ./api/api.go (workspace)"
Add integration tests for missing workspace endpoints

apiv1.HandleFunc("/workspaces/{workspaceID}/blocks/export", a.sessionRequired(a.handleExport)).Methods("GET")
apiv1.HandleFunc("/workspaces/{workspaceID}/blocks/import", a.sessionRequired(a.handleImport)).Methods("POST")

apiv1.HandleFunc("/workspaces/{workspaceID}", a.sessionRequired(a.handleGetWorkspace)).Methods("GET")
apiv1.HandleFunc("/wo

[2021-05-17 21:34] sbishel opened #436 "API Integration Tests - ./api/api.go (User APIs)"
Add integration tests for missing User API endpoints
[code]

These are currently in the `./src/octoClient.ts` class, so test should go in `./src/octoClient.test.ts`
see ./integrationtests/blocks_test.go and sharing_test.go for samples.

[2021-05-17 21:36] sbishel opened #437 "API Integration Tests - ./api/api.go (Files API)"
Add integration tests for missing File API endpoints
[code]
They will need added to ./client/client.go in order to test.
see ./integrationtests/blocks_test.go and sharing_test.go for samples.

[2021-05-17 21:47] chenilim opened #438 "Feature Idea: Web-clipper as Chrome and Safari extension"
**Summary:**
Create a Chrome extension that lets you easily save links to websites to Focalboard

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Quickly add links to websites to create a mood board
2. Quickly compile lists of resources for research

**Additional context / similar features:**
Notion has a webclipper for [Chrome](https://chrome.google.com/webstore/detail

[2021-05-18 13:51] ogi-m opened #441 "Bug: When workspace is no longer available to the user, `/plugins/focalboard` is constantly added to the path until 414 is returned"
**Summary:**
When a user tries to access a focalboard workspace for a channel the user is no longer a member of, the page keeps adding `/plugins/focalboard` to the URL constantly and trying to access the page. E.g:
`http://ha-test-server-ha-test-server.dev.spinmint.com:8066/plugins/focalboard/workspace/plugins/focalboard/plugins/focalboard/plugins/focalboard/plugins/focalboard/plugins/focalboard/p

[2021-05-18 15:33] michaelgamble opened #442 "Bug:"
**Summary:**
OSX Native spellchecking not respected. When I'm writing in the description of a focalboard card, if i misspell a word and it does the red underline, and then if i proceed to right click on it to select the correct spelling, the content doesn't update with the new correct spelling.. instead its ignored.

**Steps to reproduce the behavior:**
1. Go to a cards description and misspell a

[2021-05-18 18:16] jgilliam17 opened #443 "Bug: App fails to open on dock icon click"
**Summary:**
When the app is closed using x, it can't be brought back to forefront by clicking on the dock icon

**Steps to reproduce the behavior:**
1. Open the app, dismiss welcome window if present
2. Close the app by click on the X
3. Click on the dock icon to open again

**Expected behavior:**
App can be brought to forefront by clicking on the dock icon, as the dot indicates that it is still

[2021-05-18 19:18] chenilim commented on #442
Thanks for filing this issue @michaelgamble! It looks like this is covered by #315. Could you please check and close if it's a dup? Thanks.

[2021-05-18 19:22] michaelgamble commented on #442
@chenilim it seems that #315 implies that its something related to the browser spell checking, but in this ticket im explicitly calling out the native OSX spell checking that is pervasive across all applications in any place you have an input field... So i was thinking i could add this comment to the issue, but i think it will just add confusion to [#315](https://github.com/mattermost/focalboard/i

[2021-05-18 19:29] haardikdharma10 commented on #443
Able to reproduce 👍

[2021-05-18 19:35] chenilim commented on #442
Sounds good! Putting this up for grabs. Looks like this may either be a mis-configuration or limitation of the markdown editor we're using (SimpleMDE / Codemirror). Does anyone have more insight?

[2021-05-18 19:51] chenilim commented on #443
Thanks for reporting this @jgilliam17! Setting it as up for grabs. Desired behavior when clicking the dock icon is:
* Bring the first open window to the top, if there is one, or
* Open a new window

[2021-05-19 08:31] garret opened #444 "Feature Idea: Add PUID and PGID environment variables to run docker container as non-root user"
Every single LSIO docker container has this option which I think is amazing: https://docs.linuxserver.io/general/understanding-puid-and-pgid

I would like to run Focalboard as a particular user, which would solve a lot of permission issues. In all LSIO containers I just set the PUID and PGID environment variables and boom, the containers runs as that user.

Would it be possible to add such a featu

[2021-05-19 14:36] chenilim opened #446 "Feature Idea: Poll / upvote counter property"
**Summary:**
Add a new card property that is a vote counter.

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Let people upvote their favorite feature ideas
2. Let people upvote questions to answer during a live Q&A session

**Additional context / similar features:**
The v1 of this could be an extension of the number property, by adding toggle buttons (+1 , -1).

v2 wou

[2021-05-20 13:54] coltoneshaw opened #448 "Bug: Language Translations should not also translate the language selector options"
**Summary:**
The language selector will also translate the language selector options. This makes it difficult to get back to your original language.

**Steps to reproduce the behavior:**
1. Click Settings
2. Set Language
3. Pick any language

**Expected behavior:**
The language options will be translated to the language they belong to. Similar to how Mattermost currently operates.

**Screenshots:*

[2021-05-20 13:58] coltoneshaw opened #449 "Enhancement: "Add Content" Button is hidden unless you hover over where it should be."
**Summary:**
When editing a card the Add Content button is hidden unless you hover over exactly where it should be. This could lead people to not even know it exists.

**Steps to reproduce the behavior:**
1. Go to edit a card
2. Hover below the `Add a description

**Expected behavior:**
I would expect this to be visible when editing a card to know it exists.

**Screenshots:**

![Screen Shot 2021-0

[2021-05-20 15:36] brimwats opened #450 "Feature Idea: Import from CSV"
**Summary:**
Related to #53, creating another FR for importing from CSV.

Ideally one could just copy/paste from excel or another program, or focalboard could provide a template, or it could try to read a CSV and spit out what it gets.

[2021-05-20 17:36] Johennes commented on #442
I can reproduce this in Chrome but it works fine in Firefox. What seems to be happening is that once you right-click into the text area in Chrome, it blurs and leaves editing mode. In Firefox it keeps focus on right-click which is why inserting the correction works.

[2021-05-20 18:15] Johennes commented on #442
It looks like this might stem from CodeMirror itself. Right clicks trigger a blur (see [here](https://github.com/codemirror/CodeMirror/blob/bd1b7d2976d768ae4e3b8cf209ec59ad73c0305a/src/edit/mouse_events.js#L92)) because `captureRightClick` only includes Firefox and later IE versions (see [here](https://github.com/codemirror/CodeMirror/blob/bd1b7d2976d768ae4e3b8cf209ec59ad73c0305a/src/util/browser.

[2021-05-20 21:37] adontz commented on #103
Sorry, but it not OK to disagree if you ignore unanimous customer feedback. But what would I know about running a business, I am just a mechanic.

[2021-05-21 17:46] Johennes commented on #410
We could maybe make the background transparent when the field is in read-only mode. That's rather easy to implement and would work regardless of the background of the field's parent element. I opened #452 to demonstrate this proposal.

[2021-05-21 19:15] majidsajadi commented on #425
im working on this

[2021-05-21 20:20] chenilim commented on #425
Thanks @majidsajadi!

[2021-05-21 20:24] chenilim commented on #448
Thanks @coltoneshaw! Agree with making this change, to be consistent with Mattermost. Should be fairly straight forward, to always use the "native" language for each language name. Opening it up to any takers.

[2021-05-21 20:26] coltoneshaw commented on #448
@chenilim - I can take a swing at it. Just needs to have the `"Sidebar.english": "Englisch",` updated in the i18n files for each translation to the native language, right?

[2021-05-21 20:34] chenilim commented on #448
Thanks @coltoneshaw! tbh, I'm not sure what the best way to implement it is - do you know how Mattermost does it? If it's done in the translation file, then we should do that too. The other approach would be to set the language in code, but that might be more complicated.

@jespino might know more, but he's out until next week. @sbishel do you know, or know who might know?

[2021-05-21 21:03] coltoneshaw commented on #448
I can definitely do it in the translation file, in the code I might have step aside! I'll start playing around with it though.

[2021-05-21 21:26] sbishel commented on #448
I just took a look at Messaging. There we pull the "available languages" which includes the "code" and the name in its native language. I think we can simply update the menu text in sidebarSettingsMenu.tsx to NOT call format message, but simple display the name in the native language.

[2021-05-21 21:36] #410 closed

[2021-05-22 22:20] minecraftchest1 commented on #103
I agree with you @adontz. But what would I know, I only wirk in IT.

[2021-05-23 21:57] matheusmosca commented on #424
Hi @sbishel. Can I take this one :smile:?

[2021-05-24 07:22] lindy65 opened #456 "Feature Idea: Usage of TAB to switch between different fields when creating a new card"
**Summary:**
Usage of TAB to switch between different fields when creating a new card. (Similarly using SHIFT+TAB should go back to previous field)

**How important this is to me and why:**
Very important as this will minimize mouse clicks and improve navigation.

Importance: High/Medium/Low

Use cases:
1.
2.
3.

**Additional context / similar features:**
Any examples of good implementations of th

[2021-05-24 07:39] lindy65 opened #457 "Bug: (Desktop App) Unable to click on Send button to "Add a comment..." on first attempt on New Card"
**Summary:**
(Desktop App) Unable to click on Send button to "Add a comment..." on first attempt on New Card

**Steps to reproduce the behavior:**

add the comment properly."

**Expected behavior:**
Send button is visible without having to click outside the comment section

**Screenshots:**
If applicable, add screenshots to help explain your problem.

**Platform:**
 - Browser and version: TBA by Q

[2021-05-24 08:41] harshilsharma63 opened #458 "GitHub Actions - Use Node 16"
Start using Node v16.1 in GitHub actions, which the same version specified in `.nvmrc`.

[2021-05-24 11:58] harshilsharma63 commented on #407
I'm also to reproduce this on Safari.

[2021-05-24 12:28] harshilsharma63 commented on #420
I'm working on this one.

[2021-05-24 16:34] chenilim commented on #457
Thanks @lindy65! This is a regression, and is relatively severe because it can prevent users from commenting at all. We'll triage it this week.

[2021-05-24 16:36] chenilim commented on #456
Thanks @lindy65! This rolls up to #29 (keyboard support more generally). Agree that this would be a basic requirement.

[2021-05-24 16:41] lindy65 commented on #457
Thanks @chenilim 👍 Bug was found by @ahmaddanialmohd via the QA community contributors program. Congrats Ahmad! You've earned yourself a Bug Hunter coin! :)

[2021-05-24 16:43] chenilim commented on #457
Actually, I double checked, and this should be fixed by #356, in v0.6.7. I'll close this one as a dup, but please reopen if you are still seeing it in 0.6.7, which will release this week. Thanks @ahmaddanialmohd for filing this!

[2021-05-24 16:43] #457 closed

[2021-05-24 16:54] lindy65 commented on #456
Thanks @chenilim - I searched for a similar issue but didn't find one - thanks for pointing out the Keyboard Support one :)

[2021-05-24 17:57] Johennes opened #461 "Feature Idea: Table column aggregations"
**Summary:**

The table view type would be even more useful if it allowed for user-defined column aggregations. I'd be most interested in seeing a sum aggregation being implemented for number types. Other interesting numeric aggregations are minimum, maximum and average. Additionally, a count and unique count aggregation would be great to have irrespective of the data type.

**How important this i

[2021-05-24 18:09] Johennes commented on #160
Recent versions of iOS supposedly support PWAs, too. So that might be a rather easy option.

Alternatively, I believe it should be fairly straightforward to generalize the mac app's code base for iOS. A lot of the API switching should be possible to achieve with `#if os(macOS) ... #else ... #endif`. We won't be able to bundle and run the server inside the iOS app (at least not in its current form)

[2021-05-24 18:18] Johennes opened #462 "Feature Idea: Add a way to connect the native mac app to an external server"
**Summary:**

The mac app currently bundles a server and starts it on launch. It'd be great, if I could also connect the app to an external server. I know I could simply use the browser to connect but the native app is nicely separated from my myriad of browser tabs which makes it a lot easier to switch back and forth between Focalboard and other apps.

**How important this is to me and why:**

Im

[2021-05-24 19:05] Johennes commented on #438
@chenilim I love this idea because then I could use Focalboard as a read-later service (for which I currently run a private Wallabag instance).

Storing URLs and page titles seems like the minimum viable feature set to me. Perspectively, we could maybe take it a step further and also extract the page content into the card description. I once created [this](https://github.com/Johennes/mailto-me) ex

[2021-05-24 22:29] ahmaddanialmohd opened #464 "Feature Idea: Include other properties in the CSV Export besides Title & Category"
**Summary:**
Include other properties in the CSV Export besides Title & Category

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Navigating to the one of the cards on the board shows the following:

<img width="905" alt="image" src="https://user-images.githubusercontent.com/49461314/119414358-06780a00-bd22-11eb-8997-92ffe055ad5e.png">

which includes the Title, Status,

[2021-05-24 22:31] ahmaddanialmohd commented on #457
Thank you, @lindy65 and @chenilim !

[2021-05-25 08:40] citydelver opened #467 "Manually updating Windows personal client from ZIP file"
Hello. This isn't a bug nor a feature request, just a question. I can't use the Microsoft Store version because I'm on Windows 8.1, so I am using the zip file (thanks for it!). How should I update though, to ensure there's no data loss?

[2021-05-25 09:56] harshilsharma63 commented on #458
This is now done.

[2021-05-25 09:56] #458 closed

[2021-05-25 10:00] haardikdharma10 commented on #464
True, having `Due Date` and `Who` exported will be great 👍

[2021-05-25 10:00] lindy65 opened #469 "Feature Idea: Move "Add a Description" field to above "Add a Comment" field on a card"
**Summary:**
Move "Add a Description" field to above "Add a Comment" field on a card

**How important this is to me and why:**
As an end-user, it makes sense to see the description before a comment of list of comments (similar to Jira where description is provided before comments)

![image](https://user-images.githubusercontent.com/13020833/119478993-81581980-bd50-11eb-8d95-62208707ddf8.png)

**Ad

[2021-05-25 16:12] Johennes commented on #469
@lindy65 I think this is a dupe of #343 (and I totally agree).

[2021-05-25 16:26] Johennes commented on #467
@citydelver you could try to export / import it via the settings menu.

![Screenshot 2021-05-25 at 18 23 30](https://user-images.githubusercontent.com/1137962/119533637-5983a880-bd86-11eb-96ff-d663a52154b6.png)

The [user guide](https://www.focalboard.com/guide/user/) actually seems to recommend this for transferring data between different installations. The only current limitation appears to be t

[2021-05-25 16:38] lindy65 commented on #469
Thanks @Johennes - I'll close this issue off then 👍

[2021-05-25 16:38] #469 closed

[2021-05-25 16:51] Johennes opened #472 "Bug: Card banners use light background in dark theme"
**Summary:**

Banner views on cards are currently using a light background in the dark theme which makes them illegible.

**Steps to reproduce the behavior:**

1. Open a board
2. Click New > New template
3. Notice the light banner with illegible text

**Expected behavior:**

The banner should have a suitable dark background.

**Screenshots:**

![Screenshot 2021-05-25 at 18 46 40](https://user-imag

[2021-05-25 17:44] ctlaltdieliet opened #475 "Bug: MySQL: some tables are not created and throw an error"
**Summary:**
I'm running Focalboard 0.67 on an Ubuntu 20.4 server with MariaDB
When I start Focalboard it creates only 3 tables.
+----------------------+
| Tables_in_focalboard |
+----------------------+
| blocks               |
| schema_migrations    |
| system_settings      |
+----------------------+

The table users and sessions is not created.
When I manually excecute the query they do get cre

[2021-05-25 17:58] brimwats commented on #271
this happens on the most recent update on a completely clean and updated chrome for me as @ericgaspar mentioned above.

[2021-05-25 18:40] chenilim commented on #271
Thanks @brimwats! To confirm: Does clicking on the "Log in again" button on the error page work around the issue?

[2021-05-25 18:58] chenilim commented on #343
@michaelgamble please weigh in on this. The current organization is based off Notion, which is different from Trello and Asana.

[2021-05-25 19:21] michaelgamble commented on #343
@chenilim I created a [ticket](https://focalboard-community.octo.mattermost.com/workspace/qgsck6cts3fwpqwyjiupjm5cde?id=47aa9bb4-6967-4a96-83c7-11bd6b20f1eb&v=d2a63296-c4c5-42aa-84df-cfdf07edb769&c=d892e074-0b6e-49ad-8ba6-4a73458b75de) to dig around and try to understand why comments are above descriptions - both research online and loosely canvas some existing heavy notion users to try understand

[2021-05-25 19:31] brimwats commented on #271
no. there are gifs at the end of focalboard_ynh/issues/1

[2021-05-25 19:32] brimwats commented on #271
https://github.com/YunoHost-Apps/focalboard_ynh/issues/1#issuecomment-848079160

https://github.com/YunoHost-Apps/focalboard_ynh/issues/1#issuecomment-848082885

[2021-05-25 20:37] sbishel opened #476 "Feature Idea: MultiSelect Edit"
**Summary:**
Be able to select multiple rows in a table view or cards in kanban view. and edit a field for all selected rows.

**How important this is to me and why:**
Medium - useful for mass updates.

Use cases:
1. Add a new field. Want to set default for all existing cards.
2. Update a select field for several records at once.
3.

**Additional context / similar features:**
Notion supports in ka

[2021-05-25 20:45] sbishel opened #477 "Feature Idea: Specific views of board that don't change"
**Summary:**
When emailing a link to another user. The link is to the board and view. Any changes made to the board will be reflected in the board brought up by the link. This would allow the user to view the board as it was when the link was created.

**How important this is to me and why:**
Medium - When sending a link, expectation is that is the view the user will see, but someone could change

[2021-05-25 20:47] sbishel opened #478 "Feature Idea: Visualize History"
**Summary:**
Be able to view the history of an item. When fields changed, etc.

**How important this is to me and why:**
Medium.

Use cases:
1. Determine how long it takes items to move from one status to next.
2. Understand when a field was changed and by whom
3.

**Additional context / similar features:**
Jira has a history feature.

[2021-05-25 20:50] sbishel opened #479 "Feature Idea: Reorder comments on cards"
**Summary:**
Display comments on cards - newest first. (or switchable)

**How important this is to me and why:**
Medium -
Importance: High/Medium/Low

Use cases:
1. If lots of comments, scrolling to bottom would be cumbersome to see latest comments.
2.

**Additional context / similar features:**
Any examples of good implementations of this capability.
Jira allows this capability.

[2021-05-25 21:02] sbishel opened #480 "Bug: Tab header displays "OCTO""
**Summary:**
When creating and immediately deleting a board template. The tab name displays "OCTO".

**Steps to reproduce the behavior:**
1. Go to "Add Board"
2. Click on "New Template"
3. Click on "Add Board"
4. Click on '...' next to new board
5. Select "Delete"
6. Placed on Empty page and "Tab" heading is "OCTO"

**Expected behavior:**
Eventually, this should display the "Personal Page", but un

[2021-05-25 21:28] citydelver commented on #467
Thanks!

[2021-05-25 21:28] #467 closed

[2021-05-25 22:26] chenilim commented on #480
Ha, yeah this should be an easy search-and-replace fix. :) Setting it as up-for-grabs if someone wants to do that before we triage it next week. Let's just change the default tab name to "Focalboard" for now.

A bit of trivia: OCTO stands for "Office of the CTO", which was @coreyhulen's team that sponsored the initial investigation into what became Focalboard. That's why you'll see octo sprinkled

[2021-05-25 23:16] sbishel commented on #424
@matheusmosca, Thank you. I will review this evening.

[2021-05-26 10:38] #421 closed

[2021-05-26 13:23] balajib-b opened #481 "Bug: Server not starting due to admin local socket file lock"
**Summary:**
2021/05/26 18:50:23 Focalboard Server
2021/05/26 18:50:23 Version: 0.6.7
2021/05/26 18:50:23 Edition: linux
2021/05/26 18:50:23 Build Number: 836453774
2021/05/26 18:50:23 Build Date: Wed May 12 18:22:51 UTC 2021
2021/05/26 18:50:23 Build Hash: 8a29fff01e57a623e1a39be22096e4a860280026
2021/05/26 18:50:23 readConfigFile
2021/05/26 18:50:23 {ServerRoot:http://localhost:9800 Port:9800 DB

[2021-05-26 17:02] mkraft opened #482 "Bug: Can't see cursor in task description text area on Safari"
**Summary:**

Can't see cursor in task description text area on Safari making it really hard to input and edit text.

**Steps to reproduce the behavior:**
1. Go to a Project Tasks board using Safari browser on focalboard-community.octo.mattermost.com
2. Create a new task
3. Edit the description text
4. See that cursor is not visible

**Expected behavior:**
Normal cursor visibility.

**Platform:**

[2021-05-26 18:25] Ashvith opened #483 "Bug: Can't launch focalboard-app from /opt/focalboard-app"
**Summary:**
Focalboard app won't launch from Application menu (using the .desktop) or from terminal (will only launch if `cd  /opt/focalboard-app/; ./focalboard-app`)

**Steps to reproduce the behavior:**
1. Extract focalboard-app to /opt
2. Open terminal, and type `/opt/focalboard-app/focalboard-app `
[code]

**Expected behavior:**
Should launch without issues.

**Screenshots:**
![Screenshot fro

[2021-05-26 21:07] chenilim commented on #483
Hi @Ashvith, thanks for filing this issue! Focalboard needs to be run from the `/opt/focalboard` folder, per the [install guide](https://www.focalboard.com/download/personal-edition/ubuntu/). You can also configure it to [run as a service](https://www.focalboard.com/download/personal-edition/ubuntu/#configure-focalboard-to-run-as-a-service). Please LMK if those steps don't work for you. Thanks!

[2021-05-27 03:01] Ashvith commented on #483
@chenilim ah, my bad for not explaining properly. I was talking about the app actually, and not the server. I was wondering if I could use Focalboard as my personal kanban. You know, like a regular application menu file?

[2021-05-27 05:04] prakharporwal commented on #71
I am a beginner and want to try my hands on this problem.

[2021-05-27 05:54] prakharporwal commented on #387
newbie to opensource . Like to pick this issue.

[2021-05-27 08:25] stefanomarty commented on #475
I do have a similar error with Postgres:

[code]

Looks like an error thrown in migrate.go

Any hint on how to clean the database? I googled the dirty database error but didn't find a clear solution.

[2021-05-27 08:39] Ashvith opened #484 "Build error: unknown field 'FilesDriver' in struct literal of type config.Configuration"
Whenever I try to build the app for Linux, I keep on getting this error.

[code]

[2021-05-27 08:53] jespino commented on #484
I'm fixing that, is a dependency problem inside the repo, almost fixed. Thanks for reporting it!

[2021-05-27 08:53] jespino commented on #484
Fixed!

[2021-05-27 08:53] #484 closed

[2021-05-27 10:27] lindy65 opened #485 "Feature Idea: The "Add Board" button when you have no boards should be a bit more noticeable."
**Summary:**
Discoverability and ease-of-use improvement. Right now "Add Board" is out of the way and I ended up looking for a few seconds to find it.

**How important this is to me and why:**

Importance: High

Use cases:
1. New users unfamiliar with Focalboard
2.
3.

**Additional context / similar features:**
Any examples of good implementations of this capability.

Issue added on behalf of cont

[2021-05-27 11:00] harshilsharma63 commented on #385
@ogi-m I've merged the PR which adds the icon library in Focalboard. You can use this PR as a reference for how we're using the icons - https://github.com/mattermost/focalboard/pull/393 .

[2021-05-27 17:38] chenilim commented on #71
Thanks @prakharporwal! Assigned this to you. The desired behavior is:
* Newly added cards should pre-populate with the active filters

This logic was already implemented in the `addCard` function in `boardComponent`. We should move this to a common location and call it from the table view.

[2021-05-27 19:22] chenilim commented on #483
I think you need to launch the app from the folder, i.e.:
[code]
It looks for the `./pack` subfolder from the current directory. This might be cause for filing a feature idea to allow launching from any folder.

Also check that the pack subfolder is there. It should be if installed from [the release](https://github.com/mattermost/focalboard/releases/tag/v0.6.7).

[2021-05-27 19:30] prestidigitonium commented on #483
I've the same problem on **linux** (debian 9), opening the **desktop app** from `/opt/..` i get this error
![err](https://user-images.githubusercontent.com/63223659/119885846-a1473300-bf32-11eb-9bcf-ff9751aabcad.png)

[2021-05-27 19:33] chenilim commented on #481
Thanks @balajib-b. This sounds like an error initializing the local socket file used for the [admin interface](https://www.focalboard.com/guide/admin/#resetting-passwords).

I have seen this bug before too, where the local socket file gets locked by a previous process. Does anyone have more insights into how to avoid this?

As a workaround, try the following:
* Change the `localModeSocketLocation`

[2021-05-27 19:38] chenilim commented on #482
Thanks @mkraft! This is a regression. Confirmed that the cursor is not visible on the Mac App (v0.6.7) too, on both the default and dark themes.

[2021-05-27 19:44] chenilim commented on #475
Thanks @ctlaltdieliet! I'm not familiar with MariaDB, or if it's fully compatible with MySQL. Any idea @jespino?

@stefanomarty: That error looks like a problem with the migrations. Was this a fresh install, or an upgrade? If so, do you know what the previous version was? e.g. v0.6.5? Or built from source?

[2021-05-27 19:45] chenilim commented on #387
You got it @prakharporwal! Thanks!

[2021-05-27 19:48] chenilim commented on #483
Thanks @prestidigitonium! That looks like potentially a different bug. What version of Chrome is installed? Try updating to the latest (89+) if possible.

[2021-05-27 19:52] prestidigitonium commented on #483
I've Brave that uses chromium 90.x
![asd](https://user-images.githubusercontent.com/63223659/119888564-cab58e00-bf35-11eb-9eae-f1aac6a55207.png)

[2021-05-27 19:58] chenilim commented on #483
Hmmm... looping in @jespino. The error indicates a problem parsing some regex code by the client. Not sure why this would be on a recent browser version.

One quick thing to try is to open http://localhost:35963 (or the new random port number in the log) from a browser and see if the same error appears in the dev console.

[2021-05-27 22:03] stefanomarty commented on #475
You're right, I should have given more details:
- focalboard server running on Debian 10 and Postgres 13
- upgraded from 0.6.5 to 0.6.7 using binaries from github
- config.json copied from 0.6.5 to 0.6.7

Running the server gives the error I posted in the previous msg.

If I create a new database the server runs without errors, so I agree, the problem must be in the migration command.

[2021-05-28 02:43] deepss1 commented on #481
Just faced the same issue on Ubuntu 20.04

Changing filename did not work for me. It looked like focalboard was trying to delete a non existent file.

The second solution however worked for me. But no Admin interface in this case

[2021-05-28 03:06] Ashvith commented on #482
Can confirm, this bug is also on the Linux version.

[2021-05-28 03:53] Ashvith commented on #430
@sbishel I think you meant ./server/services/store?

[2021-05-28 08:50] Pafzedog commented on #481
I tried this as a workaround:

`touch /var/tmp/focalboard_local.socket`

Admin interface seems to be working as I was able to change an user password with reset-password.sh script.

[2021-05-28 09:05] lindy65 opened #492 "Bug: Clicking "Settings" > "Set Language" then clicking "Set Theme" can get the menu(s) into a weird state (see screenshot)"
Reported by `@coltoneshaw` during QA exploratory testing and reproduced by Lindy.

**Summary:**
Clicking "Settings" > "Set Language" then clicking "Set Theme" can get the menu(s) into a weird state (see screenshot).  This doesn't seem reproducable if you follow the steps first time but if you repeat the steps and scroll up and down in the menus you'll eventually see what's in the screenshot.

**St

[2021-05-28 16:19] ctlaltdieliet commented on #475
MariaDB is a MySQL fork that was created when Sun took over MySQL. It is very compatible.

I checked today on a MySQL server and having the same issue. Both MariaDB and Mysql were clean and fresh installations.
When I extract the queries from the code, they do run.

But when I start the server after running the SQL-queries I still get this error:
021/05/28 18:07:59 {ServerRoot:http://localhost:800

[2021-05-28 16:34] pydubreucq commented on #481
Hi,
I had the same issue here.
Setting enableLocalMode to false worked for me.
Bye

[2021-05-29 00:38] coltoneshaw opened #493 "Bug: When using the empty board template dragging a card on top of another sends it to 'No Status'"
**Summary:**
When dragging a card on top of another card it will automatically send the card back to `No Status`. This only happens when using the Empty Board template.

**Steps to reproduce the behavior:**
1. Create a new board with the `Empty Board` template and ensure you're in `Board View`.
2. Add a new group
3. Add two cards to the new group (They don't need names)
4. Drag one card on top of

[2021-05-29 10:12] DeltaCube23 commented on #423
I would like to work on this

[2021-05-29 12:53] cherti opened #495 "Bug:"
**Version:**
`0.6.7`, standalone

**Summary:**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior:**
1. Create a "Personal Tasks" board
2. Add an entry in the Todo-Column
3. Enter another entry in the Todo-Column
4. Add a property Due-Date to said entry
5. Check the other entry: it now also has a due date
6. delete that due date property on the other entry
7. Ch

[2021-05-29 16:04] Aashimalik commented on #480
Hi @chenilim,
I would love to work on this.

[2021-05-29 16:10] Aashimalik commented on #432
Hi @sbishel ,
I would love to work on this.

[2021-05-30 10:14] citydelver opened #497 "Feature Idea: formulas"
**Summary:**
I'd like to use **formulas**, setting "formula" as the field type.

**How important this is to me and why:**

Importance: really **high**!

Use cases: there are so many cases, e.g., combining text fields, making mathematical (including time-based) operations (calculating deadlines from a given starting date), etc.

**Additional context / similar features:**
Notion and Airtable are goo

[2021-05-30 17:45] gabrielctn commented on #388
I am also looking for an apache configuration for my docker instance of Focalboard (in reverse proxy).
Could you please give more details on what you changed to make it work please ?
Thanks

[2021-05-30 19:46] coltoneshaw commented on #407
Same behavior happens with the MacOS app. However, I'm also seeing that you cannot paste into comments and you cannot copy the unsent comment text.

[2021-05-30 19:52] coltoneshaw opened #498 "Bug: A card will autofill the text from the previous comment"
**Summary:**
If you submit a comment while on a card, your next comment will autofill that same text again. If you exit the card and come back the auto filled text will be gone.

**Steps to reproduce the behavior:**
1. Open a card
2. Leave a comment
3. Attempt to leave a second comment, see the autofilled text.

**Expected behavior:**
The comment section to not auto-fill the text.

**Screenshots:*

[2021-05-30 20:03] coltoneshaw commented on #498
Looks like this might be a duplicate of https://github.com/mattermost/focalboard/issues/387

[2021-05-30 22:18] biva commented on #388
Same as https://docs.mattermost.com/install/config-apache2.html

[2021-05-31 03:12] showmethecode9527 opened #499 "Feature Idea: Using the system's default browser to open a link"
**Summary:**
Using the system's default browser to open a link

**How important this is to me and why:**

Importance: Low

Use cases:
1.
2.
3.

**Additional context / similar features:**
Any examples of good implementations of this capability.

[2021-05-31 07:07] lindy65 opened #501 "Feature Idea: Editing a board template opens the board itself. There is no way to exit out of this."
Added on behalf of contributor `coltoneshaw`

**Summary:**
If you click Add Board > three dots on any board > Edit Board. It opens up a new screen with that board open to be edited. You should see "You're editing a board template" at the top.

My thought is that you should have a clear exit out of this screen without having to click on another board just to exit. It's not a bug, just a thought abo

[2021-05-31 07:22] lindy65 opened #502 "Bug: "Edit/Delete" menu is slightly hidden on the left-hand-side when clicking "Add Board" > 3-dots to the right of Board name"
Submitted on behalf of contributor `coltoneshaw`

**Summary:**
Clicking the three dots when adding a board brings up "Edit / Delete". A portion of that screen is hidden behind the edge.

**Steps to reproduce the behavior:**
1. Click on Add Board
2. Click on 3-dots to the right of any board

**Expected behavior:**
Menu to Edit or Delete board appears but is slightly hidden on the left-hand-side

**

[2021-05-31 07:24] haardikdharma10 commented on #502
Hey @lindy65, can you also have a look at this [discussion](https://github.com/mattermost/focalboard/discussions/397#discussioncomment-720787) :)

[2021-05-31 07:39] lindy65 opened #503 "Bug: "New Property" is not saved if you click off the card (see screenshot)"
Added on behalf of contributor `coltoneshaw`

**Summary:**
"New Property" is not saved if you click off the card (see screenshot)

**Steps to reproduce the behavior:**
1. Click on a card
2. Type in a value at "New Property"
3. Click outside the boundary of the card (see screenshot)
4. Click on the same card again
5. Observed: Value of property is not saved

**Expected behavior:**
Value of "New Pro

[2021-05-31 07:51] lindy65 commented on #502
Aah, thanks @haardikdharma10 - So difficult to find pre-existing reports ;)  I'll close this one off then as a dupe of (or covered in) https://github.com/mattermost/focalboard/discussions/397#discussioncomment-720787 👍

//cc @coltoneshaw

[2021-05-31 07:52] #502 closed

[2021-05-31 08:25] lindy65 opened #504 "Bug: Various missing translations (see description/repro steps)"
Submitted on behalf of contributor `jprusch`

**Summary:**
Various missing translations (see description/repro steps below)

**Steps to reproduce the behavior:**
1. Opening the app > Not translated: Add or select a board from the sidebar to get started
2. Create new board > Wrong translation in German: Keine Status should be Kein Status
3. Create new board > New group > Missing translation on a ne

[2021-05-31 08:44] lindy65 opened #505 "Bug: Scroll bars on a board remain visible even if all content is displayed on screen"
Submitted on behalf of contributor `jprusch`

**Summary:**
Scroll bars on a board remain visible even if all content is displayed on screen

**Steps to reproduce the behavior:**
1. Open Roadmap board
2. Observe horizontal and vertical scroll bars are visible
3. Resize the content on your screen so everything is within the view
4. Observed: Scroll bars remain visible

**Expected behavior:**
Scroll

[2021-05-31 15:03] Ashvith commented on #483
@chenilim I was able to temporarily fix this issue using -
[code]
I've downloaded the Focalboard image from google. Maybe we can add them in the next commit.

[2021-05-31 17:40] coltoneshaw opened #506 "Bug: Highlight text is hidden on MacOS desktop app."
**Summary:**
When you highlight text on the macOS desktop application the highlighter (not official term) is hidden.

On Firefox / Safari this works fine. It's isolated to the downloadable desktop app.

**Steps to reproduce the behavior:**
1. Go to any card
2. Highlight text (you won't see it highlighted)
3. type a key (this will delete the text like you'd expect)

**Expected behavior:**
To see th

[2021-06-01 04:36] chenilim commented on #498
Thanks @coltoneshaw! Yes, this appears to be a dup of #387.

[2021-06-01 04:36] #498 closed

[2021-06-01 14:34] chenilim commented on #505
Please retest against change with new scrolling.

[2021-06-01 14:35] chenilim commented on #485
Please incorporate with design of sidebar.

[2021-06-01 14:36] harshilsharma63 commented on #505
This is probably fixed by https://github.com/mattermost/focalboard/pull/447 .

[2021-06-01 14:36] chenilim commented on #480
Thanks @Aashimalik!

[2021-06-01 14:37] chenilim commented on #479
Initial reaction is to add a toggle to change sort order.

[2021-06-01 14:46] chenilim commented on #477
Root issue is not inadvertently changing the filters, sort, properties, etc. for shared or public boards.

[2021-06-01 15:02] hahmadia commented on #476
On Notion

Cmd + Scrol down the row highlights it.
Then you right click and click edit property and click on the property you want to bulk edit.

![image](https://user-images.githubusercontent.com/17804942/120345832-d6ec7300-c2c8-11eb-91f4-2cd7dd6b6f07.png)

And then you can bulk edit like this

![image](https://user-images.githubusercontent.com/17804942/120345887-e4a1f880-c2c8-11eb-913a-4dc5cb2e1

[2021-06-01 17:45] lukastrkan commented on #409
This is not a bug, you need to set up volumes to persist data.

[2021-06-01 22:23] gabrielctn opened #509 "Bug: Docker build error"
**Summary:**
Docker build does not complete properly because of a missing package in the nodebuild layer for the Dockerfile (node:alpine image).
Here is the full build output with the error at the end:
[code]

**Steps to reproduce the behavior:**
$ git pull https://github.com/mattermost/focalboard.git
(commit 225c4bda5b47bb879c01d3d22abc1eb1b2313f6c)
$ cd focalboard/docker
$ docker build -t focalb

[2021-06-01 22:56] gabrielctn commented on #509
I found a solution inspired by [this](https://github.com/imagemin/mozjpeg-bin/issues/47#issuecomment-508906827)

Replace https://github.com/mattermost/focalboard/blob/225c4bda5b47bb879c01d3d22abc1eb1b2313f6c/docker/Dockerfile#L11-L15

with
[code]

Now `docker build -t focalboard .` works.

[2021-06-02 10:23] #39 closed

[2021-06-02 10:34] grsky360 commented on #229
@chenilim I'd like to help for this. But maybe need many times because I'm a little busy

[2021-06-02 10:52] sangkilc opened #511 "Bug: markdown code is converting angle brackets wrong"
**Summary:**
When we write left angle bracket (`<`) within [backticks](https://www.markdownguide.org/basic-syntax/#code), it shows `&lt;`. The expected output is to show the angle bracket as is.

**Steps to reproduce the behavior:**
1. Create a card
2. Add "text" contents and write angle brackets within backticks: `` `m < n` ``
3. See the resulting text:  `m &lt; n`.

**Expected behavior:**
The re

[2021-06-02 19:02] chenilim commented on #229
Thanks @grsky360! You got it. Here's a "spec" for how I think this could work:
* Add a default template property to the View object (stores the block ID of the template as a string)
* Show the default template in the template dropdown (New button dropdown)
  * Use a checkmark icon for now (we can refine the icon later)
* Add a "Set as default" option to the template options ("...") sub-menu item

[2021-06-02 22:44] chenilim opened #512 "Feature Idea: Confirm deleting a property or property value from a card"
**Summary:**
We should prompt the user to confirm deleting a property or property value from a card, because this affects all cards.

**How important this is to me and why:**

Importance: High

Use cases:
1. User deletes a property from a card, and is unaware this deletes it from all cards in the board
2. User deletes a property value from a card, and is unaware this deletes it from all cards in t

[2021-06-03 01:24] diogoalexsmachado commented on #478
I would love to see this added!

[2021-06-03 04:27] seungjaeryanlee opened #513 "Bug: 502 Bad Gateway on personal server installation"
**Summary:**
Following the official personal server setup guide, I get 502 Bad Gateway.

**Steps to reproduce the behavior:**
1. Follow the [Personal Server (Ubuntu) setup](https://www.focalboard.com/download/personal-edition/ubuntu/)
    - Changed `server_name` to my custom domain.
    - Ran `certbot --nginx` and reloaded NGINX
2. Visiting my custom domain, I get **502 Bad Gateway | nginx/1.14.0

[2021-06-03 06:00] romu70 opened #514 "Bug: The docker environment variable to set the DB parameters is not taken into account"
**Summary:**
The title says all

**Steps to reproduce the behavior:**
1. Create a Docker container based on the 0.6.7 minimum, and pass your DB settings through environment variable "-e 'focalboard_dbconfig=....'"

**Expected behavior:**
Focalboard should address the specified DB and not the default SQLite DB

**Screenshots:**
not applicable.

**Platform:**
 - Browser and version: [e.g. Chrome 88,

[2021-06-03 09:17] harshilsharma63 commented on #407
I'm working on this.

[2021-06-03 09:52] grsky360 commented on #229
@chenilim Just submit a first version PR, I didn't apply some code style for now.
This version is only a first version that is working for using, you could review it and give some suggestions to improve the code and meet your specs

[2021-06-03 16:57] wiggin77 opened #519 "Bug: Windows build failing due to Logr syslog dependency"
**Summary:**
Windows build failing due to Logr syslog dependency since syslog is not supported on Windows.

**Steps to reproduce the behavior:**
Build FocalBoard for Windows.

**Expected behavior:**
Build success

**Platform:**
 - Windows

The fix is to conditionally import syslog within Logr, and update Logr version used in FocalBoard.

[2021-06-03 19:59] #424 closed

[2021-06-03 20:28] #407 closed

[2021-06-03 20:48] #110 closed

[2021-06-03 20:49] chenilim commented on #472
Should be fixed by #336.

[2021-06-03 20:49] #472 closed

[2021-06-03 22:35] pono commented on #481
I needed to run `touch /var/tmp/focalboard_local.socket` as well. Debian 10 using the standard server install.

[2021-06-04 09:02] lindy65 opened #521 "Feature Idea: Cards - Add tooltips for mouse-over/hover"
Reported on behalf of contributor `jprusch`

**Summary:**
Cards - Add tooltips to clarify what an icon or button will do (see screenshot)

**How important this is to me and why:**
Provides end-user clarity and saves time by not having to click to find out what happens when you click on the icon/button

Importance: Medium

Screenshot:
![image](https://user-images.githubusercontent.com/13020833/1207

[2021-06-04 09:33] abmurksi commented on #444
I fully support this.
In addition, it would be great to allow to overwrite any configuration settings from config.json with environment variables.

[2021-06-04 10:00] lindy65 opened #522 "Feature Idea: Be able to drag 'n drop cards from one Board to another"
Submitted on behalf of contributor `jprusch`

**Summary:**
Be able to drag 'n drop cards from one Board to another

**How important this is to me and why:**

Importance: Medium

Use cases:
1. At the moment, I have to delete the card on one board and create it on another board.  Being able to drag 'n drop a card onto another board would save time.

[2021-06-04 10:22] lindy65 opened #523 "Bug: Drag & Drop of a card onto another card in the same status clears the status to "Empty""
Submitted on behalf of contributor `jprusch`

**Summary:**
Drag & Drop of a card onto another card in the same status clears the status to "Empty" (see screen grab)

**Steps to reproduce the behavior:**

https://user-images.githubusercontent.com/13020833/120787195-62ffd400-c52f-11eb-8eab-55203443c9f3.mp4

**Expected behavior:**
Status is not cleared (made "empty") and original status of the card i

[2021-06-04 10:26] lindy65 opened #524 "Bug: Card Template > Creating a property & setting type only stores either property name or type"
Reported on behalf of contributor `jprusch`

**Summary:**
Card Template > Creating a property & setting type only stores either property name or type

**Steps to reproduce the behavior:**

https://user-images.githubusercontent.com/13020833/120787722-ed483800-c52f-11eb-9def-9ad252cfa9bf.mp4

**Expected behavior:**
Both the property name and type are stored

**Platform:**
 - OS and version: Windows

[2021-06-04 10:32] lindy65 opened #525 "Bug: Board > not able to filter only cards that have no status (or "empty" status)"
Submitted on behalf of contributor `jprusch`

**Summary:**
Board > not able to filter on cards that have no status (or "empty" status)

**Steps to reproduce the behavior:**
![image](https://user-images.githubusercontent.com/13020833/120788519-b7578380-c530-11eb-86e1-14249f6f05e3.png)

**Expected behavior:**
Be able to filter and show only cards that have no status set or status = "empty"

**Platfo

[2021-06-04 10:39] lindy65 opened #526 "Feature Idea: Have a unique link / URL for each card, that I can copy & paste somewhere else"
Submitted on behalf of contributor `jprusch`

**Summary:**
Have a unique link / URL for each card, that I can copy & paste somewhere else (Hint: Mattermost channel).

**How important this is to me and why:**
Importance: Medium
It would make it easy to get approved/authenticated users directly on a card, when they click on the URL.

**Additional context / similar features:**
Mattermost channels

[2021-06-04 10:42] lindy65 opened #527 "Feature Idea: Have a link / connection between a card & a copy of a card"
Submitted on behalf of contributor `jprusch`

**Summary:**
Have a link / connection between a card & a copy of a card

**How important this is to me and why:**
Importance: Medium

Use cases:
1. If one has a "main" board and wants to split cards (tasks) onto several other boards. This keeps a link between the original card and all the copies of a card. This link can be deleted, if not needed.

[2021-06-04 11:28] #418 closed

[2021-06-04 14:36] wiggin77 commented on #519
Fixed by https://github.com/mattermost/focalboard/pull/520

[2021-06-04 14:36] #519 closed

[2021-06-04 15:08] #234 closed

[2021-06-04 18:47] sbishel opened #528 "Integration Tests break if querying data before server startup"
https://community-daily.mattermost.com/core/pl/nnrr3gat6jg79brdjmsbtkzgww

I just finished fixing an allusive bug causing integration unit tests to fail.  In the end it was caused by seemingly unrelated code that called a sqlstore method during server startup.  I still don't understand why this caused it to fail...  is it because the sqlstore method was new and I didn't do some magic to make it pl

[2021-06-04 20:25] chenilim commented on #526
Thanks @lindy65 and jprusch! This currently works, though it isn't obvious:
* When viewing a card, select and copy the URL from the browser
* The URL is updated as the active view or card changes, and opens the visible view or card

What we can do to improve this is add a "copy link" option to the card menu, which should simply copy the current URL.

[2021-06-04 20:27] chenilim commented on #525
Thanks for grabbing this @BenCookie95! LMK if you have any questions.

[2021-06-04 20:32] chenilim commented on #527
This is related to #324. However, it sounds like the additional feature here would be to add a "create linked card from card" action. I'm not sure about "create linked copy of card from card", but there might be a way to accelerate splitting parts of a card into sub-tasks, e.g. adding a "create card from checkbox item" on checkbox content types.

Open to more input. Has anyone seen other good ways

[2021-06-04 20:37] chenilim commented on #523
Thanks @lindy65! I'm not able to repro this (tried v0.6.7 web, win, and mac app). Could we get an [export](https://www.focalboard.com/guide/user/#archives) of that board's archive? Thanks.

[2021-06-04 20:43] chenilim commented on #522
Thanks @lindy65! This feature has some intricacies to work out, including:
* How to deal with different card properties between boards?
  * Maybe we only move the properties that exist in both, with a warning to the user?
* How to deal with boards in different workspaces?
  * Maybe a copy card / paste card system might work better?
* How to move multiple cards?
  * Copy / paste multiple cards?
* M

[2021-06-04 20:49] chenilim commented on #513
Thanks @seungjaeryanlee! The `curl localhost:8000` failed, indicating that the focalboard server is not running. Were you able to [run Focalboard as a service](https://www.focalboard.com/download/personal-edition/ubuntu/#configure-focalboard-to-run-as-a-service) successfully?

To debug, manually run:
[code]
Does the server run ok?

[2021-06-04 20:54] chenilim commented on #511
Thanks @sangkilc! I can confirm this issue. It seems to only affect the less-than / left angle bracket when enclosed in back-ticks. The right angle bracket and ampersand appear correctly.

Not sure if this is a quirk of SimpleMDE or if we are over-encoding somewhere. Anyone want to take a look?

[2021-06-04 21:07] #443 closed

[2021-06-04 21:21] chenilim commented on #501
Thanks @lindy65 and @coltoneshaw! Agree that this flow can be improved. One approach might be to make editing the board template "modal", i.e.:
* When editing a board template, force-hide the sidebar
* Add a "Done" button to the header / banner

i.e. something like this:
<img width="1128" alt="Edit template as modal" src="https://user-images.githubusercontent.com/46905241/120863835-212b5980-c540-1

[2021-06-04 21:25] chenilim commented on #495
Thanks @cherti! This is currently by-design - all the cards in a board have the same set of properties. Though each card may only have some, but not all, properties filled-in.

Is there a particular reason having different properties per card is important to you?

[2021-06-04 21:29] chenilim commented on #523
Nevermind @lindy65! This appears to be a dup of #493, which does repro for me.

[2021-06-04 21:31] chenilim commented on #493
Thanks @coltoneshaw! I'm able to repro this on the Mac and Windows apps (v0.6.7), but (same as you) not on the web. Should be a fun one to debug! :)

[2021-06-04 22:27] NoLooseEnds commented on #53
This would also be nice to be able to import from Trello:
* Attachments (primarily images in my use case) (see https://bendellar.com/download-all-attachments-from-trello-card-as-a-zip-file/)
* Card Labels

[2021-06-04 22:36] chenilim commented on #53
Hi @NoLooseEnds, check out the [Trello import script here](https://github.com/mattermost/focalboard/tree/main/import/trello). It's pretty basic right now, and can use improvement.

[2021-06-04 22:55] NoLooseEnds commented on #53
@chenilim Just imported a couple of boards and have painstakingly added images to all my cards

That was what caused me to post the comment above. :)

[2021-06-04 23:00] cherti commented on #495
I think what is further confusing is that especially the date fields appear to have content, even if they are empty in the task-detail view, so it appears as if they are filled in, even if they are not.

[2021-06-04 23:01] seungjaeryanlee commented on #513
Thanks for the reply! I was able to set systemd without any errors following the [Configure Focalboard to run as a service](https://www.focalboard.com/download/personal-edition/ubuntu/#configure-focalboard-to-run-as-a-service) that you linked.

Here is what I get when I run the two lines you mentioned above:

[code]

[2021-06-04 23:41] chenilim commented on #53
Ah, sorry, I confused this with the thread for the Todoist import! :) Yes, we want to improve this, and it might be doable with the newly released [Notion API](https://developers.notion.com/).

[2021-06-05 16:53] prabhatCH commented on #124
Any update on this? Any plan to get the official ARM64 image out?

[2021-06-05 17:48] balajib-b commented on #481
Thank you, This one worked for me.

[2021-06-05 17:49] #481 closed

[2021-06-06 15:22] lindy65 opened #529 "Feature Idea: Autosave comments (and eliminate having to press "Save")"
Submitted on behalf of contributor `jprusch`

**Summary:**
Autosave comments (and eliminate having to press "Save") _[Alternatively, make "Enter" save the comment and SHIFT+Enter make a new line]_

**How important this is to me and why:**
Importance: Medium

Use cases:
1. Saves time by not having to press "Save"

[2021-06-07 04:26] harshilsharma63 commented on #482
This fix now fixed on the main branch.

[2021-06-07 04:26] #482 closed

[2021-06-07 04:26] harshilsharma63 commented on #506
This fix now fixed on the main branch.

[2021-06-07 04:26] #506 closed

[2021-06-07 08:34] lindy65 opened #531 "Feature Idea: Consider having blank board templates"
Submitted on behalf of contributor `ewwollesen`

**Summary:**
Consider having blank board templates.

**How important this is to me and why:**
Importance: Medium

I liked that there are templates for potentially commonly used features like "Personal goals" etc. I didn't like that they were pre-populated with items because then I had to do a bunch of work to delete/edit everything. Maybe a preview

[2021-06-07 08:39] lindy65 opened #532 "Feature Idea: Add "Confirm / Cancel" options when adding a Card"
Submitted on behalf of contributor `ewwollesen`

**Summary:**
Add "Confirm / Cancel" options when adding a Card

**How important this is to me and why:**
Medium

I didn't find this to be super intuitive because when you click to create a new card I would think you'd expect to see a confirm and/or cancel dialog, but those don't exist. I clicked the X on the top left of the card thinking that would

[2021-06-07 08:50] lindy65 opened #533 "Bug: Filter menu does not disappear when clicked for a second time (Board > Filter)"
Submitted on behalf of `ewwollesen`

**Summary:**
Filter menu does not disappear when clicked for a second time (Board > Filter)

**Steps to reproduce the behavior:**
If you're on a board, Personal Goals for instance, along the top right of the board there are buttons for Filter, Sort, Group By, etc. If you click on Sort it drops down a menu, and then if you click on Sort a second time the menu go

[2021-06-07 09:01] lindy65 opened #534 "Feature Idea: Make adding emoji to Boards and Cards more obvious / user friendly"
Submitted on behalf of contributor `ewwollesen`

**Summary:**
Make adding emoji to Boards and Cards more obvious / user friendly

**How important this is to me and why:**
Importance: Medium

I liked that you can add icons to a specific view (I think that's what they are called), but it wasn't super intuitive on how to do it. I finally figured it out by randomly right-clicking, but maybe adding a b

[2021-06-07 09:10] lindy65 opened #535 "Bug: Space missing between "Show/hide Description" on a Board"
Submitted on behalf of contributor `jgilliam17`

**Summary:**
Space missing between "Show/hide Description" on a Board

**Steps to reproduce the behavior:**
1. Open a board
2. Hover over the area top left above the board name
3. Observed: space missing between icon and wording (show/hide description) - see screenshot

**Expected behavior:**
A space between icon and "show/hide description"

**Scree

[2021-06-07 10:10] jprusch commented on #527
Hi @chenilim
thy again for picking this one. I'm using Jira / Trello quite a lot and what I always like in Jira is the ability to link issues together with a given "relation". When looking at Focalboard, we have URL properties on a card that can be named. I would like to "automagically" create URL properties on the original and the copied card (Maybe we can ask or have a setting, if a user wants t

[2021-06-07 10:13] jprusch commented on #522
Hi @chenilim
thanks for picking this suggestion.
Are card properties really an issue? When using Trello I can just copy a card & paste it into another board w/o regard to the properties.
Copy & Paste would be better in a multi workspace setting. Drag&Drop should be offered in a single workspace with multiple boards / lists.

[2021-06-07 11:25] #385 closed

[2021-06-07 14:47] #408 closed

[2021-06-07 16:29] lindy65 opened #538 "Bug: Sidebar 3-dot menu for a board disappears when you move your mouse away and reappears when you mouse over the area again"
Submitted on behalf of contributor `jgilliam17`

**Summary:**
Sidebar 3-dot menu for a board disappears when you move your mouse away and reappears when you mouse over the area again.

**Steps to reproduce the behavior:**
1. Click the 3-dots to the right of a board in the sidebar
2. Move your mouse away from the sidebar
3. Observed: menu disappears
4. Move your mouse back to the board in the sideb

[2021-06-07 20:38] sbishel opened #541 "Bug: Column Headers no longer scroll horizonally"
**Summary:**
Column headers have been frozen for vertical scroll.  However, they also don't scroll with columns when scrolling horizontally.

**Steps to reproduce the behavior:**
1. Go to Table View with columns wider than screen
2. Scroll horizontally
3. See column headers do not scroll with column data.

**Expected behavior:**
Column headers should scroll horizontally with column data.

**Screen

[2021-06-08 09:13] liukaineng opened #544 "Feature Idea: about Show/Hide"
**Summary:**

When hidden, it is best not to change the sorting of the current column,

**How important this is to me and why:**

Medium

Use cases:
1.The ordering of properties is meaningful and loses its meaning when changed

2.And I think it's useless of hidden columns. The display space on a page is valuable and should be used to show more important content

**Additional context / similar feat

[2021-06-08 09:53] liukaineng opened #545 "Feature Idea: child board"
**Summary:**

add child board for views like file directories

**How important this is to me and why:**

Medium

Use cases:

How to manage the cards when they get more.I need this feature to solve this problem

[2021-06-08 14:59] chenilim commented on #521
Proposal: Require a title component in the existing components.

[2021-06-08 16:41] #480 closed

[2021-06-08 16:53] chenilim commented on #179
Found [this SO article](https://stackoverflow.com/questions/37192508/trying-to-execute-a-script-from-package-json-on-windows-throws-a-jscript-error/54869847#54869847), which might be the solution to the original error, in case anyone else sees this.

[2021-06-08 17:56] prakharporwal commented on #387
@chenilim  not able to make a pull request on this repo ?? says access denied!!

[2021-06-08 18:26] prakharporwal commented on #387
@chenilim Made a pull request after forking the repo . please review . # 547

[2021-06-09 00:01] it33 opened #549 "Doc: Explain how to change order of "Group By" categories"
**Summary**
It's unclear how "Group By" columns in the Kanban view can be re-ordered. Propose docs are updated to explain how this works

**Link to documentation page If applicable**
https://www.focalboard.com/guide/user/#renaming-boards

**(Optional) Additional context and/or screenshot:**
![image](https://user-images.githubusercontent.com/177788/121271482-a08a9700-c878-11eb-9df7-797534ce806e.png

[2021-06-09 00:16] chenilim commented on #549
Thanks @it33, and also for creating the new [Documentation request template](https://github.com/mattermost/focalboard/issues/new?assignees=&labels=documentation&template=doc_improvement.md&title=Doc%3A+)!

FYI @justinegeffen - LMK how you would like to manage these. We can use the `documentation` label, and / or please assign these to yourself when you get to them.

The code for the [focalboard.co

[2021-06-09 01:21] Talismanian opened #550 "Feature Idea: Different date formats"
**Summary:**

Ability to change how dates are displayed. The default MM/DD/YYYY format is extremely confusing for anyone outside of North America who isn't expecting it.

Alternative options an include YYYY-MM-DD or DD/MM/YYYY and could be tied with language/localisation settings.

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Avoid confusion over dates involving low

[2021-06-09 08:18] nmatton opened #551 "Doc: Explain how to define "Select" properties options"
**Summary:**
It is unclear to me how to update the list of available options in a select property

**(Optional) Additional context and/or screenshot:**
For example, when creating a new category of type "Select", I am unable to edit the options nor find a way to do so.
It is the same for default existing created property (like priority, etc.)

![image](https://user-images.githubusercontent.com/6585

[2021-06-09 13:56] penguin321 commented on #513
I got the exact same Problem on my end.

[2021-06-09 17:46] #505 closed

[2021-06-10 09:42] dineshkumar12004 commented on #526
can i work on this issue, if it's still not fixed.

[2021-06-10 11:48] jprusch opened #556 "Bug: Icon pick dialog font is for board icon is too large"
**Screenshots:**
![Clicking on board icon](https://user-images.githubusercontent.com/9337414/121519707-4f9eae00-c9f2-11eb-95c4-35429e6292dc.png)

**Platform:**
 - Browser and version: Chrome 91.0.4472.77 Windows 10
 - Focalboard server 0.7.0 RC1

** Settings **
Zoom 100%
Cache cleared

[2021-06-10 12:27] flo-eberle commented on #513
i have the same issue as well.
i'm currently testing on a virtual machine running ubuntu 21.04.

focalboard.service is not running:
`systemctl status focalboard.service `
[code]

when i try to run the focalboard server manually:
```/opt/focalboard$ ./bin/focalboard-server```
[code]

[2021-06-10 15:16] chenilim commented on #526
Thanks @dineshkumar12004! You got it!

I think there are 3 changes needed:
* Add a "copy link" option to the card menu, which should simply copy the current URL
* Add a "copy link" option to the card menu off the **board view**, which should simply copy the current URL
* Add a "copy link" option to the card menu off the **gallery view**, which should simply copy the current URL

LMK if you have an

[2021-06-10 15:41] mgdelacroix commented on #475
@ctlaltdieliet the error of bad migration happens because `MySQL` (or `MariaDB`) require to use the `multiStatements=true` option in the database connection string to run migrations with more than one statement. This has been fixed in `main` already and version `0.7.0` will automatically fix this problem. In the meantime, if you want to use version `0.6.7` with `MySQL` or `MariaDB`, a quick workar

[2021-06-10 15:56] dineshkumar12004 commented on #526
Thank you for assigning me. I'm still figuring out, I will give my best shot :)

[2021-06-10 22:50] chenilim opened #558 "Bug: Right-margin breaks when indented bullet-item under a numbered-list item"
**Steps to reproduce the behavior:**
1. Crate or open a card
2. Paste the following as the description:
[code]
3. Save
4. Notice that the item doesn't wrap and goes past the right margin.

<img width="1003" alt="Indentation bug" src="https://user-images.githubusercontent.com/46905241/121606646-65689f00-ca03-11eb-9676-11d5b08cf224.png">

**Expected behavior:**
The bullet-item wraps within the margi

[2021-06-10 23:22] chenilim opened #559 "Bug: Person property shows "no options""
**Steps to reproduce the behavior:**
1. Install or upgrade to [Mattermost v5.36 RC1](https://community.mattermost.com/core/channels/release-discussion/3w7q4fac7i8fmqdjscf93mn5rr) or later
2. Enable [custom plugins](https://docs.mattermost.com/administration/plugins.html#custom-plugins) for the server
3. Download the focalboard plugin for [0.7.0 RC1](https://github.com/mattermost/focalboard/release

[2021-06-11 00:02] chenilim opened #560 "Bug: Focalboard plugin is generally very slow"
**Steps to reproduce the behavior:**
1. Install or upgrade to [Mattermost v5.36 RC1](https://community.mattermost.com/core/channels/release-discussion/3w7q4fac7i8fmqdjscf93mn5rr) or later
2. Enable [custom plugins](https://docs.mattermost.com/administration/plugins.html#custom-plugins) for the server
3. Download the focalboard plugin for [0.7.0 RC1](https://github.com/mattermost/focalboard/release

[2021-06-11 02:29] rgriffogoes commented on #409
I had the impression that even with the volume mounted it failed.

Trying to build the image to check if latest updates in the docker build fixed it.

[2021-06-11 03:24] chenilim commented on #560
@jespino or @mgdelacroix, could you help investigate this? It's a possible showstopper for the 0.6.7 release. Thanks.

fyi @sbishel.

[2021-06-11 05:30] rohit1101 commented on #364
I am interested in this idea.
Can you assign me this issue @Johennes  ?

[2021-06-11 05:35] harshilsharma63 opened #561 "Bug: Sorting icons are incorrect"
**Summary:**
Sorting icons are incorrect on columns in the table view are incorrect. They should the opposite of what they are right now.

**Steps to reproduce the behavior:**
1. Open a table view and sort any column.
2. Notice the icons ti the right of column name.

**Expected behavior:**
Asecnding should have an upward-pointing array and descending should have downward-pointing arrow.

**Screens

[2021-06-11 05:43] harshilsharma63 opened #562 "Bug: Cards should be sorted alphabetically when sorting by select/multi select property"
**Summary:**
Cards should be sorted alphabetically when sorting by select/multi select property

**Steps to reproduce the behavior:**
1. Open any board.
2. Add a select property to card and populate it's value for some cards.
3. Sort the board by the sleect/multi select property just created.

**Expected behavior:**
Cards should be sorted based on alphabetical order of select/multi-select property

[2021-06-11 06:03] chenilim commented on #560
One more observation: Looking at the Chrome network tab, it appears that onChange is repeatedly firing, even when no action is taken, and on a fresh load. This might be causing the slowdown.

[2021-06-11 06:14] chenilim commented on #560
It looks like the websocket is repeatedly closing (or failing to connect), which results in OctoListener performing a retry.

[2021-06-11 06:41] chenilim commented on #560
Ok, I think I found the problem - NGINX needs to be configured to upgrade the plugin websocket connections, i.e. by adding this section:

[code]

This resolved the issue on my server. However, we need to figure out how to resolve this for our customers.
* One way would be to add the above to the Mattermost install docs, and upgrade docs - can you see an alternative to this for the short term?
  *

[2021-06-11 08:57] zefhemel opened #563 "Feature Idea: Notifications/event stream"
**Summary:**
What I really miss right now is the ability to see what is happening on boards I'm participating in. Have people updated descriptions, added comments? The only way to detect these things (even to see if a card has a comment or not) is to regularly open every single one and do a "visual diff." This is not great, it would be really cool to have a view where you can see recent changes to

[2021-06-11 09:13] jespino commented on #559
It should be fixed in the #564

[2021-06-11 09:22] #524 closed

[2021-06-11 11:15] Johennes commented on #364
@rohit1101 I don't have that superpower. I'm just a contributor as well. 🙂

I think it's ok to just mention your interest here (which you did), then go work on it and submit a PR when done.

[2021-06-11 14:23] numphileo commented on #513
I found a solution to this problem.

The problem arises as there is no sock file in /var/tmp. So this is what I did.

`cd /var/tmp`
And then - created a file by using following command
`touch focalboard_local.socket`
And finally, restarted nginx - by using following command
`sudo systemctl restart nginx`
Reload the page - and it worked!

[2021-06-11 15:00] penguin321 commented on #513
Worked for me too !

[2021-06-11 15:49] chenilim commented on #560
Is anyone familiar with Apache, and can confirm the corresponding config for it? Would the following work:
[code]
Thanks.

[2021-06-11 15:58] chenilim commented on #560
I've cleaned up and published the steps in discussion item #566.

[2021-06-11 16:38] seungjaeryanlee commented on #513
Thank you @numphileo for the solution! It worked for me as well. Closing the issue.

To Focalboard devs (@chenilim): I think this solution might be worth mentioning in the official guide?

[2021-06-11 16:38] #513 closed

[2021-06-11 18:53] chenilim commented on #513
Thank you @seungjaeryanlee! @justinegeffen, adding the documentation tag - might issues like this be good for a KB article or troubleshooting section?

[2021-06-11 18:54] justinegeffen commented on #513
Thanks, @chenilim! Yep, this would be great for Troubleshooting. Thanks for the heads-up! :)

[2021-06-11 20:51] chenilim commented on #364
Thanks @rohit1101! You got it! @Johennes thanks for all you do! You're right - if an issue is marked up for grabs, and no one else had grabbed it, generally you're good to go.

For this particular issue, I think we can fix @Johennes's original issue directly, i.e. when clicking on the + New on the board columns, open the card by default. This is consistent with clicking on the New button.
* And al

[2021-06-11 21:23] haardikdharma10 opened #567 "Bug: Sidebar icon disappears when minimized."
**Summary:**
The sidebar icon disappears when the sidebar is minimized.

**Steps to reproduce the behavior:**
Refer to the video below.

**Expected behavior:**
Sidebar icon should appear so that the user can open the sidebar as many times he/she wants to.

**Screenshots:**

https://user-images.githubusercontent.com/53044263/121750036-3cdac500-cb29-11eb-8770-0d827aef0f3f.mov

**Platform:**
 - Brows

[2021-06-12 08:05] rohit1101 commented on #364
Thank you assigning me this task I have cloned the repo and started working the task.
 I will try my best to get this done.

[2021-06-12 12:54] #556 closed

[2021-06-12 13:52] chenilim opened #569 "Show error banner when websocket connection is interrupted"
**Summary:**
Display a banner if the websocket connection is interrupted, with a link to troubleshooting instructions.

This will help mitigate the issue of Admins not configuring their web proxies correctly (see discussion article #566). However, this is also useful for general connectivity issues.

[2021-06-13 07:12] rohit1101 commented on #364
@chenilim I have raised a [PR link](https://github.com/mattermost/focalboard/pull/571).

And I also found a small bug in the sidebar of focalboard it is a minor CSS fix.

Can I fix the css bug and raise another PR ?

[2021-06-13 07:14] rohit1101 commented on #364
![Screenshot 2021-06-13 at 12 41 03 PM](https://user-images.githubusercontent.com/37110560/121798588-d8ad2380-cc44-11eb-92c5-8ebf2d31a4b9.jpg)

@chenilim I am going to fix this bug and raise a PR.

[2021-06-13 07:36] rohit1101 commented on #364
@chenilim Raised a PR for horizontal scrollbar fix
https://github.com/mattermost/focalboard/pull/572

[2021-06-13 23:22] #569 closed

[2021-06-14 01:42] jmcph4 opened #574 "Bug: Docker build fails on Debian Buster as of `1cc2337`"
**Summary:**
As of 1cc2337, building via Docker fails. The [associated README](https://github.com/mattermost/focalboard/blob/1cc2337948b5622e45c22f69d97a5a1cdb0de27c/docker/README.md) specifies a fairly ordinary Docker build, which is used to reproduce this bug.

**Steps to reproduce the behavior:**

1. [Install Docker](https://docs.docker.com/engine/install/debian/)
2.
[code]

**Expected behavior

[2021-06-14 06:26] jmcph4 commented on #574
Likely fixed by #552.

[2021-06-14 07:58] harshilsharma63 commented on #561
@haardikdharma10 assigning this to you.

[2021-06-14 23:58] chenilim commented on #560
Closing this issue as we now understand the cause, have added documentation, and a mitigation with PR #570.

[2021-06-14 23:58] #560 closed

[2021-06-15 04:46] harshilsharma63 commented on #559
Fixed with #564

[2021-06-15 04:46] #559 closed

[2021-06-15 04:46] harshilsharma63 commented on #420
FIxed with #537

[2021-06-15 07:39] mgdelacroix commented on #475
I'm closing this issue for tracking purposes, please feel free to reopen it if the problem is still happening.

[2021-06-15 11:10] jprusch opened #580 "Bug: Board name does not show users who have not accessed Focalboard"
**Summary:**
When opening a board on a direct message or group channel the board name is created by using the user name(s) without any spaces between the names, if more than one user belongs to the channel.

**Steps to reproduce the behavior:**
1. Open a board on a group channel

**Expected behavior:**
The board should be named by using the nicknames oder alternatively the username, but all names

[2021-06-15 11:59] gabrielctn commented on #574
I mentioned the same issue in #509
Didn't test the potential fix proposed by #552

[2021-06-15 18:12] tricoos commented on #124
@olaxe

I think ARM64 doesn't really matter unless you have a Raspberry Pi 4 with >4GB RAM.

If there would be an ARM32 version available as a Docker container that would be (according to my Google searches) the only task management system on the Raspberry Pi (ARM32) with Docker.
For me using Docker on ARM32 is more important than using ARM64 as Docker adds way more flexibility.

[2021-06-15 19:01] olaxe commented on #124
I see more often an arm64 bits available on Docker Hub and you will improve software performance. I bet on the future (64 bits)

[2021-06-15 19:14] NoLooseEnds commented on #265
I came to write this exact request. Also, it would be nice to have the release candidate and beta builds there.

[2021-06-15 21:16] jmcph4 commented on #574
@gabrielctn Yeah I didn't see #509 prior to filing this bug report. Seems like a duplicate.

[2021-06-16 05:54] tricoos commented on #124
@olaxe Surely ARM64 is the future. Unfortunately Linux in contrast to Windows does not allow running of 32 bit applications on a 64 bit OS so for the time being a think providing both an ARM32 and an ARM64 version of Focalboard would be the best solution.

[2021-06-16 07:05] olaxe commented on #124
On a server with only docker containers, running the 64 bits version has only advantages and you will find more images on Docker Hub.

[2021-06-16 16:27] chenilim opened #584 "Feature Idea: Role-Based Permissions"
### Summary:
P1: Allow Admins to assign **Roles** to **Users** per **Board** (and other **Artifacts**)
P1: Roles have fixed **Rights** (draft mapping below), that are enforced at the API-level
P2: Assign Roles to **Groups** (e.g. group of users, members of a team? Members of a channel?)

### DRAFT Roles and their Rights:

| Role / Rights | Admin | Editor | Commenter | Viewer |
| --- | --- | --- |

[2021-06-16 21:54] chenilim opened #585 "Bug: Table view vertical scroll does not clip the top"
**Steps to reproduce the behavior:**
1. Open a table with many rows
2. Scroll down
3. The row content appears above the header when scroll far enough

**Expected behavior:**
The board title and rest of header should remain visible, no matter the scroll position.

**Screenshots:**
https://user-images.githubusercontent.com/46905241/122299259-9ab53700-ceb2-11eb-8f8e-be9e41766b9e.mov

**Platform:**
 -

[2021-06-16 21:55] chenilim commented on #585
@harshilsharma63, assigning this to you because it looks related to #541. Please LMK if someone else should look into it instead. Thanks! cc @sbishel.

[2021-06-16 22:30] TROMsite commented on #79
AUR would be fantastic!

[2021-06-17 11:51] MakerLab-Dev opened #587 "Feature Idea: Two factor authentication"
**Summary:**
A two factor authentication method should be added to greatly improve the security of the application, in addition to that, receiving a email when someone tries to log into our account would be very good as it would allow us to know whether our password got leaked. All of these should be features that the user can enable or disable.

**How important this is to me and why:**

Importanc

[2021-06-18 08:47] serge-kilimoff opened #592 "Bug: server not bind to any port (mattermost-plugin)"
Hello,

I have a port problem on the mattermost plugin for focalbord. The error message is as follows when I click on focalboard icon :

[code]

This file exists on my disk (in `/opt/plugins/focalboard/pack/index.html`.  I have a custom entry for `PluginSettings.Directory` in my config.json.

I'm trying to set a port number in mattermost's config.json, in the PluginSettings entry, like other plugi

[2021-06-18 09:47] florencebiree opened #593 "Bug: the plugin is not aware of a subdir installation (mattermost plugin)"
**Summary:**
When mattermost is installed on a subdir in the webserver (say https://server/mattermost/ ), the focalboard button doesn't work, and send the user to https://server/plugins/focalboard/workspace/[...] instead of https://server/mattermost/plugins/focalboard/workspace/[...]

**Steps to reproduce the behavior:**
1. Go to mattermost
2. Click on the focalboard button
3. You are redirected t

[2021-06-18 10:55] haardikdharma10 commented on #567
Update: I have updated my Mac desktop app to v0.7.0 and this is now on the desktop app!

/cc @chenilim, @jespino

[2021-06-18 11:26] haardikdharma10 opened #596 "Feature Idea: Add a "Check for Updates..." in the Focalboard menu."
**Summary:**
We should consider adding a `Check for Updates...` section in the Focalboard menu. Refer to the screenshot below to know where it exactly needs to be added:

<img width="204" alt="Screenshot 2021-06-18 at 4 50 05 PM" src="https://user-images.githubusercontent.com/53044263/122553420-45fdf180-d055-11eb-8eb1-6f255b43f586.png">

**How important this is to me and why:**

Importance: Medium

[2021-06-18 11:49] Willyfrog commented on #596
It is in our current roadmap for 5.0, unless we get a load of other things to do.

[2021-06-18 16:02] chenilim commented on #593
@jespino or @mgdelacroix, could you investigate please?
cc @sbishel.

[2021-06-18 16:03] chenilim commented on #592
Thanks @serge-kilimoff! #593 was also recently filed - is your Mattermost installation off a subdir by any chance? It might be the same issue. FYI @jespino, @mgdelacroix.

[2021-06-18 16:12] jespino commented on #593
Yes, we should take that into consideration. Shouldn't be a hard problem.

[2021-06-18 16:15] jespino commented on #592
When we run this in the plugin we are not binding it to any port, that is ok, the `PluginSettings.Directory` can be the problem (I don't think is related to subdirectory problem). @mgdelacroix do you want to pick this one?

[2021-06-18 16:19] jespino commented on #592
Depending on the decision made around embedding the whole webapp in the plugin it can be fixed as part of that effort.

[2021-06-18 16:32] chenilim commented on #567
Thanks @haardikdharma10! @harshilsharma63 or @hahmadia, can you help investigate? It's a regression, and likely due to css or html hierarchy changes. cc @sbishel.

[2021-06-18 16:37] chenilim commented on #596
Thanks @haardikdharma10! For the Focalboard Mac App, we currently do not plan to release a signed standalone build outside the App Store. It seems that the Mac App Store is the preferred release channel for most people. We will continue to provide unsigned pre-release (RC) builds of the Mac App.

However, we will continue to support the standalone signed Windows zip file, as the Windows App Store

[2021-06-18 16:45] chenilim commented on #593
Thanks @jespino. Assigning this to you for now. Please reassign as necessary. Also check if #592 is a dup of this.

[2021-06-18 17:18] chenilim commented on #563
Thanks @zefhemel! We have a [card to track this](https://focalboard-community.octo.mattermost.com/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared?id=47aa9bb4-6967-4a96-83c7-11bd6b20f1eb&v=ca1a5441-4c1c-4d0e-856e-88cc744576c8&r=762db9c6-305c-4d13-8ce6-9f11e5232c24&c=53c5b7a3-8eac-41bd-8389-9293272a7780) for v1, and a related [card for @ mentions](https://focalboard-community.octo.mattermost.com/workspa

[2021-06-18 17:55] arunzco opened #599 "mattermost plugin not working"
It's not working in mattermost, DB is mysql
Log below

no port bind to plugin or log says no plugin found

[2021-06-18 18:06] #599 closed

[2021-06-18 18:24] chenilim commented on #587
Thanks @MakerLab-Dev! As of this week, Focalboard is now [shipping with Mattermost](https://github.com/mattermost/focalboard/discussions/600), which brings brings all the security and scalability features of Mattermost, including [MFA support](https://docs.mattermost.com/deployment/auth.html). Please check it out and let us know what you think!

[2021-06-18 18:30] chenilim commented on #580
Thanks @jprusch! @jespino, I think the issue here is that Focalboard only displays the names of users **who have accessed Focalboard at least once**, per the [code here](https://github.com/mattermost/focalboard/blob/main/server/services/store/mattermostauthlayer/mattermostauthlayer.go#L203). I believe you were refactoring this, so assigning to you (please reassign as needed). Thanks.

The desired

[2021-06-18 18:38] chenilim opened #601 "Bug: Loading a table is very slow"
**Steps to reproduce the behavior:**
1. Open a large table view in v0.7.0 or later
  a. E.g. use an export of [the v1 Focalboard table](https://focalboard-community.octo.mattermost.com/workspace/qgsck6cts3fwpqwyjiupjm5cde?id=47aa9bb4-6967-4a96-83c7-11bd6b20f1eb&v=ca1a5441-4c1c-4d0e-856e-88cc744576c8)
2. Notice that it takes several seconds to load

**Expected behavior:**
The table view should load

[2021-06-18 18:39] chenilim commented on #601
@jespino, I think you mentioned you were already looking into table performance issues? Is this on your list already? I believe it's a regression.

cc @sbishel.

[2021-06-18 18:43] chenilim commented on #551
Thanks @nmatton! The steps should be:
* From the Card Editor
* Add a new property, give it a name, and set its type to "Select" (or Multi-Select)
* Click on the value, and start typing the name of a new option. Press Enter to accept

<img width="288" alt="Add option" src="https://user-images.githubusercontent.com/46905241/122604055-2f8e7080-d02a-11eb-973a-bb27685a1c0e.png">

Please LMK if these st

[2021-06-18 18:48] chenilim commented on #550
Thanks @Talismanian! I've created a [card to track this](https://focalboard-community.octo.mattermost.com/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared?id=47aa9bb4-6967-4a96-83c7-11bd6b20f1eb&v=ca1a5441-4c1c-4d0e-856e-88cc744576c8&r=762db9c6-305c-4d13-8ce6-9f11e5232c24&c=1b73e464-84cd-4d14-823f-a41a80c38ff7). Agree that we should at least support a MM/DD/YYYY or DD/MM/YYYY display format.

cc @sbish

[2021-06-18 18:58] jprusch commented on #580
@chenilim I‘m not sure, if this is the cause. I was the only user accessing the board opened from a group channel. All user names of the group are concatenated with a single leading comma.

[2021-06-18 18:59] serge-kilimoff commented on #592
No, sorry, my Mattermost installation is at the root of my domain.

[2021-06-18 20:15] haardikdharma10 opened #602 "Bug: Links in Card properties (like PR/Commit URL/GitHub Issue) should be clickable."
**Summary:**
Links such as **PR/Commit URL/GitHub Issue** in a card should be clickable.

**Expected behavior:**
Links should be clickable so that they redirect to the desired webpage.

**Screenshots:**

<img width="982" alt="Screenshot 2021-06-19 at 1 39 56 AM" src="https://user-images.githubusercontent.com/53044263/122611881-b9c4ec00-d09f-11eb-9d58-7a4a6fc33453.png">

**Platform:**
 - Browser an

[2021-06-18 22:00] MakerLab-Dev commented on #587
Thanks for the fast response @chenilim
It is true that using Focalboard as a plugin for Mattermost resolves this security enhancement and adds a lot of cool features, however I was talking about using Focalboard as a standalone server (native auth mode)
I think that it would be nice to have this feature in the future since some people might want to have this installed separately or without the nee

[2021-06-18 22:30] chenilim commented on #545
Thanks @liukaineng! We have a [card to track improving the sidebar](https://focalboard-community.octo.mattermost.com/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared?id=47aa9bb4-6967-4a96-83c7-11bd6b20f1eb&v=ca1a5441-4c1c-4d0e-856e-88cc744576c8&r=762db9c6-305c-4d13-8ce6-9f11e5232c24&c=5e94f206-9938-4a68-8eae-a5b7f720a434), and @michaelgamble is currently working on the design for this.

Right now, the

[2021-06-18 22:32] chenilim commented on #544
Thanks @liukaineng! Could you provide more details on what the current behavior is in Focalboard that you would like to see changed?

When hiding a column in the Board View, the order of the items in that column should not be changed. Neither should the relative order of the remaining columns. Please file a bug if either of these are not true on the current version. Thanks.

[2021-06-18 22:34] chenilim commented on #538
Thanks @lindy65 and `jgilliam17`! This looks like a possible CSS issue. The other menus do not disappear when the cursor moves away. Opening it up for any takers. Thanks!

cc @sbishel.

[2021-06-18 22:36] chenilim commented on #535
Thanks @lindy65 and `jgilliam17`! Looks like a regression. Hopefully a really easy CSS fix - seems to be some padding / margin missing. Opening this up to any takers. cc @sbishel.

[2021-06-18 22:39] chenilim commented on #534
Thanks @lindy65 and `ewwollesen`! This is good feedback, though I don't know if there anything obviously actionable in the short term here. cc @michaelgamble, might be something to think about overall. Thanks.

[2021-06-18 22:41] chenilim commented on #533
Thanks @lindy65 and `ewwollesen`! Great catch! Yes, the filter dialog should close if the filter button is clicked while it is visible, to be consistent with the other menu buttons. Should be an easy fix. Opening this up to any takers. cc @sbishel.

[2021-06-18 22:47] chenilim commented on #532
Thanks @lindy65 and `ewwollesen`! The current behavior is consistent with Notion, but not Trello or Asana.
* In Notion, if you create a new card, then cancel immediately (by clicking away), the empty card remains
* In Trello and Asana, doing the same thing results in the empty card being deleted

My quick take is deleting an unedited new card feels more preferable, but it's a low priority as it's

[2021-06-18 22:49] chenilim commented on #531
Thanks @lindy65 and `ewwollesen`. There currently is an "Empty Board" option when clicking on "+ Add Board".

<img width="266" alt="Empty board option" src="https://user-images.githubusercontent.com/46905241/122622161-accadd00-d04c-11eb-971c-d4d8e1ede9a5.png">

Please reopen if this doesn't work as intended.

[2021-06-18 22:49] #531 closed

[2021-06-18 22:52] chenilim commented on #529
We currently have [a card to track improving comments](https://focalboard-community.octo.mattermost.com/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared?id=47aa9bb4-6967-4a96-83c7-11bd6b20f1eb&v=ca1a5441-4c1c-4d0e-856e-88cc744576c8&r=762db9c6-305c-4d13-8ce6-9f11e5232c24&c=66db0d7d-11a5-4c32-83d3-ba57fc7065c6). The proposed change is to make Ctrl+Enter (or Cmd+Enter) submit the comment, and Enter insert

[2021-06-18 22:53] chenilim commented on #527
Thanks @jprusch! We've added [a card to track adding a new Link content type](https://focalboard-community.octo.mattermost.com/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared?id=47aa9bb4-6967-4a96-83c7-11bd6b20f1eb&v=ca1a5441-4c1c-4d0e-856e-88cc744576c8&r=762db9c6-305c-4d13-8ce6-9f11e5232c24&c=c064c150-66f2-4c75-82c5-ac56fa61c1aa), which should support this scenario and others.

[2021-06-18 22:58] chenilim commented on #592
Thanks @serge-kilimoff. @jespino could you help investigate this? From the error message, `server not bind to any port`, one quick thought is maybe the default port (8000) is in use by another service? This should be configurable in Focalboard's `config.json`, though I'm not exactly sure if / how this works when run as a plugin.

[2021-06-19 05:53] serge-kilimoff commented on #592
![image](https://user-images.githubusercontent.com/6053927/122632479-5785de80-d0d3-11eb-8712-57014185d757.png)

I confirm that port 8000 is not used.

[2021-06-19 09:32] jespino commented on #580
@chenilim yes, I can take care of this.

[2021-06-19 09:33] jespino commented on #601
Yes, whenever you have a bunch of things on the table it start to go slow because the rendering of the react-select items, we need to differenciate when you are editting or viewing and only show the react-select on editting.

[2021-06-19 19:41] AbdelilahRami commented on #533
Hello, How can I assign this issue to me ?

[2021-06-19 20:19] haardikdharma10 commented on #533
Hey @AbdelilahRami, you can start working on it as it is still `Up for Grabs` :) Probably the staff won't be very active until the weekend ends so you can give it a go. You might even finish before it is assigned to you :P

[2021-06-19 21:26] AbdelilahRami commented on #533
Okay, I finished it and made a PR

[2021-06-20 05:02] fmiqbal opened #606 "Feature Idea: Don't close dropdown on click or toggling switches"
**Summary:**
When clicking the `properties` or column inside `filter`, the dropdown should be able to multi select values without opening up again

**How important this is to me and why:**

Importance: Low
Just some quality of life improvement

Use cases:
1. Create new view on the existing board
2. I need to adjust what properties need to be shown, eg I have (`status`, `project`, `due_date`, `type

[2021-06-20 06:16] richilp commented on #592
Same problem here.
I can confirm too that Mattermost is on root and port 8000 is not in use.

[2021-06-21 08:24] mgdelacroix commented on #592
@jespino @chenilim I'll take a look

[2021-06-21 09:22] #592 closed

[2021-06-21 09:51] #448 closed

[2021-06-21 10:07] richilp commented on #592
Thanks for the fix 👏
Should we just remove the pluging and donwload it again?

[2021-06-21 10:16] jespino commented on #592
@richilp this is only applied on the main branch now, you should need to wait until the next release of the plugin or compile the plugin by yourself using the main branch (that means certain extra inestability).

Other option is to get the last stable version branch, apply the patch, and compile from there.

[2021-06-21 10:19] richilp commented on #592
Gracias Jesús ;)

[2021-06-21 16:12] kevinen98 opened #613 "Bug: Invite Users code link is broken"
**Summary:**
The link to share with other people so that they can register adds one to many '/' after the top-domain part and with that the link is broken.

**Steps to reproduce the behavior:**
1. Click on Focalboard menu
2. Click on Invite Users
3. Right click and copy link.
4. Open the link while not logged in.

**Expected behavior:**
When opening the link you should be taken to the register pag

[2021-06-21 17:44] chenilim commented on #613
Thanks @kevinen98! This is a bug, but does your browser automatically strip out the extra '/'? It appears that Chrome (91), FireFox, and Safari do this on macOS. Still, we should fix this. Opening it up for grabs. Should be an easy fix.

[2021-06-21 18:20] nmatton commented on #551
Great ! Thanks for this explanation ! That worked for me, but not was trivial without knowing the how to :) 👍

[2021-06-21 19:10] kevinen98 commented on #613
No, both firefox for ios and linux do not automatically strip out the extra '/'. I get redirected to login page.

[2021-06-21 19:25] chenilim commented on #613
Thanks @kevinen98! Let's raise the priority on this then. @sbishel, could someone on your team take a quick look at this? Should be an easy fix. Though there may be other similar instances of '//'.

[2021-06-21 23:32] chenilim commented on #601
Thanks @jespino. Assigning this to you to track. Is the PR #607 related to this? Are there other changes in the pipeline? Thanks.

Please cherry-pick the relevant perf fixes to the release-0.7.0 branch, then close this issue when complete. We want to cut a 0.7.1 build with this fix for the Mattermost v5.37 release. FYI @sbishel, @mgdelacroix.

[2021-06-22 06:53] Vorlif opened #616 "Bug: Mattermost SqlSetting.MaxOpenConns is not respected"
**Summary:**
We have a Mattermost instance with few users and the Focalboard plugin running. We use PostgreSQL as database and allow a maximum of 100 connections. Since we still use other applications, the number of connections for Mattermost is limited to 50. Unfortunately, Mattermost does not respect this limit and often uses all connections. This results in other applications not being able to

[2021-06-22 13:54] chenilim commented on #616
Thanks @Vorlif! Is this something you can help investigate @jespino? Or redirect as needed? Thanks. cc @sbishel.

[2021-06-22 13:55] chenilim commented on #602
Thanks @haardikdharma10! This should be fixed in [v0.7.0](https://github.com/mattermost/focalboard/releases/tag/v0.7.0), where there is a link button that appears next to the URL property. Please re-open if this does not work for you. Thanks.

[2021-06-22 13:55] #602 closed

[2021-06-22 15:26] #613 closed

[2021-06-22 16:58] chenilim commented on #616
Updating with the [current plan of record](https://community.mattermost.com/core/pl/h3c45szb7p8ttm5d1mrkkirwao):

Add the following settings and defaults to `config.json`:
* MaxOpenConns: 300
* MaxIdleConns: 20
* ConnMaxLifetimeMilliseconds: 3600000 (60 minutes)
* ConnMaxIdleTimeMilliseconds: 300000 (5 minutes)

Then set them as the db settings when initializing the store, e.g.:
[code]

As a separ

[2021-06-22 20:31] chenilim opened #618 "Bug: Focalboard errors out intermittently on latest Cloud instance"
**Summary:**
Set up a test cloud instance (Jun 21 build), or use this [invite link](https://focalboarddev-3.test.mattermost.cloud/signup_user_complete/?id=a968j4csc3f5bkwzjm8fa7fonw) to the test server I set up

**Steps to reproduce the behavior:**
1. Go to Town Square
2. Click on the Focalboard button in the channel header
3. It may load, or it may error out right away with a 500 error
4. Or open

[2021-06-23 08:12] #567 closed

[2021-06-23 08:12] harshilsharma63 commented on #541
This has been fixed now.

[2021-06-23 08:12] #541 closed

[2021-06-23 08:13] harshilsharma63 commented on #561
This is now resolved.

[2021-06-23 08:13] #561 closed

[2021-06-23 08:14] harshilsharma63 commented on #585
@chenilim I'll fix this.

[2021-06-23 14:00] oneWaveAdrian opened #620 "Bug: View Order by People missing"
**Summary:**
I can not select a field of type `people` when creating a view.

**Steps to reproduce the behavior:**
1. Go to Views
2. Click on `Group by:`
3. Only fields of type `select` show up.

**Expected behavior:**
I would like to create a view showing tasks grouped by assignee.

**Additional context:**
This is experienced using the Mattermost plugin.

[2021-06-23 20:03] chenilim opened #621 "Feature Idea: Support different number formats"
**How important this is to me and why:**

Importance: High

Use cases:
1. Create a number property on a card
2. Enter 0,25
3. Export to CSV
4. The value appears as NaN

**Additional context / similar features:**
At a minimum, there should be an option to specify comma (,) as the decimal separator.

[2021-06-23 20:04] chenilim commented on #621
Related to #550. cc @michaelgamble, @sbishel. Mike: I think we can take a first pass at this and the date format as part of the Settings Dialog redesign.

[2021-06-23 20:10] chenilim opened #622 "Bug: Dragging a card to the bottom of a column in a manually sorted board puts it at the top"
**Steps to reproduce the behavior:**
1. Create or open a board with multiple cards (e.g. using the roadmap template)
2. Make sure the board is in manual sort mode
3. Drag a card from one column to the bottom of another column
4. The card appears at the **top** of the column

**Expected behavior:**
It should appear at the bottom

**Screenshots:**
https://user-images.githubusercontent.com/46905241/1

[2021-06-23 20:18] chenilim opened #623 "Feature Idea: Automatically open a card when duplicating it"
**Summary:**
When duplicating a card, open it right away

**How important this is to me and why:**

Importance: Low

Use cases:
1. Opening a duplicated card is a natural next step, so save me a click

[2021-06-23 20:19] JtheBAB commented on #522
The deluxe edition would be to have the question if you want to migrate the properties with the card or not.

[2021-06-23 20:20] chenilim commented on #364
Looks like #571 fixes this issue, so closing this. Thank you @rohit1101!

[2021-06-23 20:20] #364 closed

[2021-06-23 20:20] chenilim commented on #623
Related to #364.

[2021-06-23 21:41] oneWaveAdrian opened #624 "Feature Idea: Show ID/Number on each card"
**Summary:**
Each card can have an auto incrementing number similar to issues in Github/Jira in order to better reference cards when developing software (in Commits or MRs/PRs)

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Software development
2. Talking about/referencing issues within Mattermost or in Meetings

**Additional context / similar features:**
- Jira does

[2021-06-24 08:15] JtheBAB opened #625 "Bug: Its hard to change the name of a group"
**Summary:**
It is hard to change the name of a group. You drag it more then selecting the text as i would do it.

**Steps to reproduce the behavior:**
![Animation](https://user-images.githubusercontent.com/42135332/123227550-f98f3780-d4d4-11eb-964f-b7502ccc94f5.gif)

**Expected behavior:**
It should be possible to easy select the group name to rename it.

**Platform:**
- Focalboard 0.6.7 within M

[2021-06-24 08:25] JtheBAB opened #626 "Bug: Sometimes you can't move the cards between groups"
**Summary:**
Sometimes you can't move the cards between groups. It looks like it is only(?) within empty boards. Sort is on Name

**Steps to reproduce the behavior:**
![Animation2](https://user-images.githubusercontent.com/42135332/123229171-56d7b880-d4d6-11eb-88d2-3432f59583bb.gif)

**Expected behavior:**
It should always work

**Platform:**
- Focalboard 0.6.7 within Mattermost 5.36
- Desktop App

[2021-06-24 08:39] JtheBAB opened #627 "Bug: Sometimes the text of the group isn't saved"
**Summary:**
Sometimes the text of the group isn't saved.

**Steps to reproduce the behavior:**
![Animation3](https://user-images.githubusercontent.com/42135332/123231223-4cb6b980-d4d8-11eb-827d-499531e72805.gif)

**Expected behavior:**
It should always be saved :)

**Platform:**
- Focalboard 0.6.7 within Mattermost 5.36
- Desktop App 4.6

[2021-06-24 12:45] hahmadia opened #629 "Feature Idea: Property Popover in Kanban view"
**Summary:**
What the new capability is.
Hovering over a property in Kanban view and having it display what property it is. Currently there is no way of knowing what property is what without explicitly opening the card and inspecting the properties.

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Getting more detailed view while in Kanban view

**Additional context / s

[2021-06-24 15:50] chenilim commented on #629
Thanks @hahmadia! Opening this up for grabs. The easy fix would be to add a `title` property to the property values / tags in the card preview. Bonus points if the popover can be styled as above.

[2021-06-24 16:22] chenilim commented on #627
Thanks @JtheBAB! To clarify, is the Focalboard view in the Mattermost Desktop App, or in a separate browser window? If so, what's the browser and OS? I am unable to repro with the Web App or Focalboard Mac App.

@ogi-m, could you help get a repro of this? @sbishel, once we have a repro, can we assign a dev to investigate? It looks like this falls under the bucket of control update timings, and the

[2021-06-24 16:39] chenilim commented on #522
Related [comment](https://community.mattermost.com/core/pl/o3ygt3tqytdb5xsbe4jcc6tsso) from @emilyacook: it would be useful is that both a "duplicate" and a "move" option would be nice, it would be especially nice if "duplicate" linked changes between them. Sometimes I want to completely move a card, and sometimes I just want to create a copy (i.e. if I was working on something on another board, a

[2021-06-24 17:34] JtheBAB commented on #627
Its a window that open by the desktop app.

[2021-06-24 18:21] chenilim commented on #627
Thanks @JtheBAB! What's the underlying OS? I just tried this with the latest Mattermost Desktop app on macOS 10.15.7, and can't get a repro. My desktop app is running Chrome 89.

Would you mind trying to repro this directly in the browser against the Web App? Does it happen there too?

[2021-06-24 18:35] JtheBAB commented on #627
I am on Windows 10

[2021-06-24 18:56] chenilim commented on #627
Hmmm... I tried this on Windows 10, and still can't repro. Here are the steps:
1. Open latest [Mattermost Desktop app](https://releases.mattermost.com/desktop/4.7.0/mattermost-desktop-setup-4.7.0-win.exe?src=dl) (v4.7.0)
2. Connect to Mattermost server that has Focalboard v0.6.7 plugin installed
3. Click on Focalboard channel header button
4. Add an empty board
5. Click "+ Add a group"
6. Double c

[2021-06-24 21:11] chenilim opened #630 "Feature Idea: Make "Show Description" more obvious"
**Summary:**
Currently, to add a board description, the steps are:
* Hover above the board title
* Click on **Show description**, then
* Click on **Add a description...** to add / edit it.

The problem is that hovering above the board title may not be intuitive, and hard to discover

**How important this is to me and why:**

Importance: Medium

**Additional context / similar features:**
The curren

[2021-06-24 21:12] chenilim commented on #630
cc @michaelgamble, one more thing to noodle on. Other controls (such as adding card content) follow a similar show-on-hover model, which may have similar discoverability issues.

[2021-06-24 21:13] chenilim opened #631 "Doc: Add a description to a board"
**Summary:**
To add a description to a board:
* Hover above the board title
* Click on **Show description**, then
* Click on **Add a description...** to add / edit it.

**Link to documentation page:**
`https://www.focalboard.com/guide/user/`

[2021-06-24 21:14] chenilim commented on #631
[Related thread](https://community.mattermost.com/core/pl/km7og4dt6i8t8qmb64omxnfk6e).

[2021-06-24 21:15] chenilim commented on #631
And related discoverability issue: #630.

[2021-06-24 23:40] chenilim opened #632 "Bug: Focalboard v0.7.0 plugin crashes in cloud"
**Steps to reproduce the behavior:**
1. Create a test cloud instance (link in header of [FY22: Cloud channel](https://community.mattermost.com/private-core/channels/fy21-cloud)
2. Go to the plugin marketplace, install, then enable the Focalboard v0.7.0 plugin
3. Open a Focalboard workspace
4. Create a board, and use it for a few minutes
5. 500 errors start occurring, and the plugin eventually cras

[2021-06-24 23:44] chenilim commented on #632
Additional notes:
* Everything seemed to work ok for a few minutes
* I was able to create boards, cards, drag / edit cards, share boards successfully
* Then API calls started returning 500 errors, and the plugin eventually crashed

[2021-06-25 00:07] chenilim commented on #632
I'm not sure if this is exactly the cause, but the 500 errors seem to start right after I selected the "Random icon" option for the board icon. I tried this on a separate test cloud server, and 500 errors seem to start right after that action, or picking a board icon, or toggling the "show description" for a board, or adding a column to a board.

It did not seem to happen when changing the icon fo

[2021-06-25 00:14] wiggin77 commented on #632
@chenilim the 500 errors should have more detail in the logs.  Can you provide them?

[2021-06-25 01:12] chenilim commented on #632
It's a Cloud test instance. Do you know how I can retrieve the logs? There isn't a Logging section in the System Console.

[2021-06-25 01:28] chenilim commented on #626
Thanks @JtheBAB! Could you also provide details on the server setup (manual, docker, or MM Omnibus install? OS). If possible, also check the network and console tabs in the Chrome debugger. Are there any API errors? This might be related to #627.

[2021-06-25 04:10] harshilsharma63 opened #633 "Add visual indication for active view in left sidebar"
**Summary:**
Add a visual indication for active view in the left sidebar. This will make it easier to spot the current view and switch to a different view.

**How important this is to me and why:**

Importance: Medium

**Additional context / similar features:**
This is how it should look like.
https://www.figma.com/file/UPbYxPDsg1aIzozyysRPeO/Issue-633-Sidebar-Active-State?node-id=66%3A9496

![Sid

[2021-06-25 08:10] haardikdharma10 commented on #631
@chenilim, I am on it!

[2021-06-25 14:24] JtheBAB commented on #627
At the moment i am stuck at Desktop App 4.6. But i can also reproduce it with FireFox 78.11 ESR and Edge 91.0.864.48.

But it is not always. It needs some runs to get it.

Thats in the console when it happen:

<html>
<body>
<div tabindex="-1" class="console-message-wrapper console-from-api console-info-level console-selected" style="min-width: 0px; min-height: 0px; box-sizing: border-box; outline-

[2021-06-25 14:27] JtheBAB commented on #626
Its self hosted manual setup. Network tab looks ok.

That is in the console when it happen.

[1624631203.44] onDropToCard: bla copy copy copy copy
main.js:389 [1624631203.44] draggedCard: bla copy copy copy copy copy copy copy copy copy copy, column: undefined
main.js:389 [1624631203.44] insertBlocks: 1 blocks(s)
main.js:389 [1624631203.44] 	 view, fbfac3d2-7798-4b83-89e0-2efb655fbf5d, Board view

[2021-06-25 16:31] chenilim commented on #633
@michaelgamble, do you have a suggestion on what the highlight style should be?

[2021-06-25 16:35] chenilim commented on #626
Thanks @JtheBAB! I notice the console log `OctoListener websocket onclose, code: 1006, reason`. Could you check that the [web proxy is configured](https://www.focalboard.com/download/mattermost/#with-nginx). That could explain these errors - if the websocket is intermittently dropping, then updates don't happen on changes.

[2021-06-25 16:37] JtheBAB commented on #626
I copied it to my nginx config before i upgraded to 5.36. And it is not always. When it would be a config error it should be always right?

[2021-06-25 16:43] chenilim commented on #626
Yup, you're right. There should be an error banner if the websocket drops, which we don't see.

To clarify: What OS is the Mattermost server running on? Ubuntu 18.04?

[2021-06-25 16:52] chenilim commented on #626
Ok, I noticed the issue and can get a repro with these steps:
1. Create a board using the Project Tasks template
2. Open the board "By Status"
3. Open a card
4. Delete the Status property (columns should switch to by priority)
5. Now drag and drop all (3) cards to different columns
6. Some cards won't change

More generally, it appears that there might be issues when deleting the active group-by p

[2021-06-25 17:02] JtheBAB commented on #626
Proxy and Mattermost server are on Debian 10

[2021-06-25 17:22] chenilim opened #634 "Feature Idea: Push tasks to Google Calendar"
**Summary:**
(Filing for @wiersgallak) I like to use my calendar to schedule project tasks and also like to track To-do's in Focalboard.  I'd like to be able to push a task to my G-calendar to allot time to work on it.

**How important this is to me and why:**

Importance: Medium

Any other calendar systems folks prefer to use? Or particular ways you'd like to push tasks to calendar?

[2021-06-25 17:30] JtheBAB commented on #634
Nextcloud. But i don’t know if that support it.

[2021-06-25 17:34] myclay commented on #634
CalDAV would be great.

[2021-06-25 17:36] JtheBAB opened #635 "Feature Idea: ics feed per board"
**Summary:**
ics feed per board. When cards has due dates they would be showed there. With the feed it could be integrated to other calender systems.

**How important this is to me and why:**

Importance: Medium

See also

https://restya.com/board/apps/r_user_ical_feed

[2021-06-25 17:42] chenilim commented on #635
Thanks @JtheBAB! This is a great idea! Related to #634. I'll extend it further and say it would be great to have:
* An ics feed for all cards assigned to me
* An ics feed per board (as above)
* An ics feed per view (in particular the upcoming calendar view)
* P3: Cards "favorited" by me

On the implementation side, creating a static "snapshot" feed is relatively easy, but there would be infrastruc

[2021-06-25 17:46] chenilim commented on #631
Thanks @haardikdharma10! No worries, really appreciate your enthusiasm! Justine is working on refactoring our documentation, and the issues marked with the [documentation tag](https://github.com/mattermost/focalboard/labels/documentation) are on her queue.

[2021-06-25 18:07] sbishel commented on #626
@hahmadia Can you take a look when you get a chance.

[2021-06-25 19:07] sbishel opened #636 "Bug: Color Panel for Select fields is cut off"
**Summary:**
The color panel for the select fields is cut off. (see image)

<img width="649" alt="Screen Shot 2021-06-25 at 12 47 39 PM" src="https://user-images.githubusercontent.com/12704875/123473501-e3a57380-d5b5-11eb-8d4c-63f255915a2c.png">

**Steps to reproduce the behavior:**
1. Go to a card.
2. Click on a select field
3. Click on menu ('...') of a select item
4. See image above.

**Expecte

[2021-06-25 19:09] haardikdharma10 commented on #630
This should be done for `Add icon` and `Add content` as well.

[2021-06-25 19:25] hahmadia commented on #626
@sbishel No problem. Will do

[2021-06-26 13:46] LogGits opened #638 "Download availability"
I have a work comp that I don't use the appstores on. Could we get the Apple downloads and windows downloads made available in the releases again? Many thanks, keep up the great work! ❤️

[2021-06-26 19:37] AbdelilahRami commented on #558
I will work on this issue

[2021-06-26 21:43] geekgonecrazy commented on #363
You can add: `enableServiceLinks: false` to the pod template spec to get around this.

[2021-06-26 23:31] TROMsite opened #639 "Feature Idea: Open Registration for anyone"
**Summary:**
Currently, as far as I understand, registrations are only invite-based. I suggest to also allow open registrations so anyone can use this.

**How important this is to me and why:**

Importance: High

We provide a bunch of free such applications at trom.tf and we would like to add focalboard to the list, but we'd like for anyone to be able to register.

[2021-06-27 12:16] kamre opened #641 "Bug: Hidden side bar can't opened"
**Summary:**
It is not possible to show the side bar when it was hidden with some active board.

**Steps to reproduce the behavior:**
1. Activate (select) some board
2. Click on hide side bar button
3. Button (hamburger) for showing the side bar is not visible

**Expected behavior:**
Button for showing the side bar should be visible.

**Screenshots:**
![HideSideBar](https://user-images.githubuserc

[2021-06-27 16:15] kamre commented on #641
Looks like duplicate of #567 that is fixed in `main` branch.

But assigning bigger and bigger `z-index` looks a bit suspicious. Is there a place where the usage of `z-index` for different UI elements is described?

[2021-06-27 16:31] kamre commented on #538
@chenilim looks like there are redundant rules for `.MenuWrapper` inside `sidebarBoardItem.scss`: [1](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/sidebar/sidebarBoardItem.scss#L14-L16) and [2](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/sidebar/sidebarBoardItem.scss#L57-L59). Removing them seems to fix this issue.

[2021-06-27 20:56] alderson59 commented on #91
What is the volume to be exposed for persistence? Also, a `docker-compose.yml` example with supported databases would be handy too.

[2021-06-28 04:59] peteristhegreat commented on #641
Raising the z index does fix it!

[code]

[2021-06-28 08:30] fish-dango commented on #437
I can take a try here!

[2021-06-28 12:50] lordinkavu commented on #629
Can I take this up ?

[2021-06-28 12:51] hahmadia commented on #629
@lordinkavu

Sure thing! Good luck and have fun!

[2021-06-28 19:12] cameronconner commented on #99
Where are binaries for Mac? I see the Win and Linux ones. Can we get non-app store version for Mac? Interested in this for my company, but no interest in having to set up apple store stuff for everyone... Or, is there a web app I'm missing?
Thanks!

[2021-06-28 22:23] chenilim commented on #639
Thanks @TROMsite! This should currently be supported using the invite link:
1. Click on Invite users from the top-left "Focalboard" menu
2. Copy and share that link publicly. It contains a token.
3. Anyone with that link can create an account

Does that work for your needs?

[2021-06-28 22:31] chenilim commented on #638
The signed Windows builds are currently available on each release, e.g. [here's v0.7.0](https://github.com/mattermost/focalboard/releases/tag/v0.7.0). We are currently not publishing the signed Mac Builds on releases. TBH, this is because signing Mac builds automatically is a total pain. :)

One thing we are looking into is the possibility of publishing unsigned Mac Builds automatically, as part o

[2021-06-28 22:34] chenilim commented on #641
@harshilsharma63, could you take a quick look at this and close it if the issue is indeed fixed in #567? Thanks.

[2021-06-28 22:46] TROMsite commented on #639
Hi,

It does not work. Here is the invitation link https://board.trom.tf//register?t=c285a312-34a4-8129-ad98-200eb6630751 - does it work for you to register?

[2021-06-28 22:47] TROMsite commented on #639
I am also wondering why not make it more simple and leave anyone use the registration to register, without any invitation token?

[2021-06-29 01:39] harshilsharma63 commented on #641
@chenilim yes this is a duplicate.

@kamre can you try it out the latest `main`?

As long as we can ensure relative values of z-index stay in the right order it's completely fine.

[2021-06-29 01:39] #641 closed

[2021-06-29 06:21] lordinkavu commented on #629
@ditsemto No issues. I've unassigned myself @hahmadia

[2021-06-29 11:02] mcastellaneta opened #647 "Bug: randomIcons choice not persistent on Windows"
**Summary:**
randomIcons user setting not stored between launches of the Windows app

**Steps to reproduce the behavior:**
1. Launch Windows app
2. Random icons is on by default
3. Turn it off
4. Quit and relaunch the app
5. Random icons is still on

**Expected behavior:**
randomIcons choice should be persistent

**Platform:**

Windows 10, 10.0.19041
Focalboard v0.7.0 (focalboard-win.zip)

**Addit

[2021-06-29 11:12] hahmadia commented on #629
Sorry about that @lordinkavu . Thanks for the understanding.

[2021-06-29 11:43] TROMsite commented on #639
I updated to 0.7 and now the invite works properly. But I still think is a better idea to simply let anyone register without an invitation code. Why is the invitation necessary in the first place¿ Cheers!

[2021-06-29 13:02] gustavotrott commented on #616
I was facing problems while running Mattermost and Focalboard in the same server.
After one or two days, Mattermost was stopping to work properly.
I didn't have time to investigate yet, I just stopped Focalboard and Mattermost seems to be running good now.
Do you think this was the problem (pg connections)? This new config will solve the problem?

[2021-06-29 13:02] dineshkumar12004 commented on #535
I couldn't see that show description in Board view ? How to reproduce this issue ? I'm using ubuntu 20.04

[2021-06-29 14:24] arunzco opened #648 "Bug: mattermost plugin not working"
Using Bitnami Mattermost stack , getting the following error

plugin","missing_plugin_id":"focalboard","url":"/plugins/focalboard/workspace/r7qnsi6psfrdxqghx1z9pyxmih","error":"plugin not found: focalboard"}

[2021-06-29 14:57] lindy65 commented on #535
Hi @dineshkumar12004 - If you hover above the board name, you will see a "Show/Hide Description" appear

[2021-06-29 16:10] chenilim commented on #648
Thanks @arunzco! to confirm, did you set up the [Mattermost Bitnami stack from here](https://bitnami.com/stack/mattermost/cloud)? What are the repro steps? Did this error occur immediately?

cc @ogi-m, @sbishel - we should try to repro this and determine the root cause.

[2021-06-29 16:15] dineshkumar12004 commented on #535
Got it now I can see 👍

[2021-06-29 17:43] chenilim opened #650 "Bug: Focalboard plugin server error when dragging multiple cards"
**Steps to reproduce the behavior:**
1. Set up an on-prem Mattermost v5.36 server
  a. Or register and login on the [test server I used](http://ec2-54-209-196-240.compute-1.amazonaws.com/signup_user_complete/?id=ab3o8ftp1ibw3cy7qs3hptxc9h)
2. install the Mattermost Plugin (0.6.7+)
3. Open Focalboard and add a Personal Tasks (or similar) template board
4. Drag cards to different columns - this work

[2021-06-29 17:47] chenilim commented on #650
@sbishel, this is a separate issue from the DB connections in 0.7.1, but might be related to observed failures of the 0.6.7 plugin that's been released. Please assign this as a P1 to investigate. I observed this failure on 2 separate servers (running 5.3.6 RC2 and the other RC1).

@ogi-m, are you able to repro this issue on 5.36 and/or 5.37?

[2021-06-29 18:26] chenilim commented on #650
For the record, this also repros with the latest Focalboard 0.7.1 plugin against Mattermost 5.36 (RC1).

[2021-06-29 18:42] jgilliam17 opened #651 "Bug: Top of the top-most tiles are hidden when more than one group is created"
**Summary:**
Top of the top-most tiles are overlapped by the group actions header when more than one group is created

**Steps to reproduce the behavior:**
1. Select any board
2. Add a new group
3. Add a new card to the latest group from step 2

**Expected behavior:**
Top of the cards are visible

**Screenshots:**

<img width="908" alt="Screen Shot 2021-06-29 at 1 21 37 PM" src="https://user-image

[2021-06-29 18:44] jgilliam17 opened #652 "Bug: Group actions header is fixed, not scrolling horizontally with other board items"
**Summary:**
Group header is fixed, not scrolling horizontally with other items, also causes `+add new group` button to be pushed out of view

**Steps to reproduce the behavior:**
1.  Select any board
2. Add enough columns to trigger horizontal scroll (make app full screen to add groups, than reduce in size, as the button to add groups may be out of view after few columns are added)
3. Scroll over

[2021-06-29 19:18] chenilim commented on #639
Thanks @TROMsite! The main reason is we did not design Personal Server to be an open server. For example, every user has R/W access, and can delete cards and boards.

If you only need to share read-only boards, you can use the [share boards feature](https://www.focalboard.com/guide/user/#sharing-boards) to do that.

Could you share more about how you expect anonymous users to use our Focalboard se

[2021-06-29 19:22] chenilim commented on #647
Thanks for filing this @mcastellaneta! Yes, this is because the settings persistence code was only implemented so far on macOS, and not Windows and Linux. Now that it's working on macOS, it should be relatively straight forward to port to Windows (and Linux), with some familiarity of C# (or Go on Linux). Opening this up to any takers.

[2021-06-29 19:27] TROMsite commented on #639
My idea is to not make any boards public unless users choose that, of course. And when users visit the focalboard url they are faced with the login/registration form. Same it is with Nextcloud and so many other such applications. And what I was saying is that you should allow anyone to register without relying on an invite code. Say I want to use focalboard on this X instance. I go there and I'd l

[2021-06-29 19:42] chenilim commented on #639
Ah, I see. It sounds like you would like to run Focalboard as a multi-tenant service? Personal Server is designed for a single team, not a multi-tenant host. There are several major pieces that are needed to support that, security and permissions being the major one. Scale is another.

A true multi-tenant host is probably much farther down the road, but you might be able to achieve something like

[2021-06-29 19:43] chenilim commented on #538
Thanks @kamre! Would you (or anyone else) like to submit a PR?

[2021-06-29 19:47] TROMsite commented on #639
Ah I see...that's what I was aiming for. I'll keep an eye on this for now, so maybe you should leave this issue open? Thanks for the explanation!

[2021-06-29 20:15] marianunez opened #654 "Bug: Title is cutoff when viewing a card"
**Summary:**
When you open a card, the title is cutoff and cannot see the complete contents.

<img width="839" alt="Screen Shot 2021-06-29 at 4 11 57 PM" src="https://user-images.githubusercontent.com/936315/123861199-e6290580-d8f4-11eb-8aa3-4a1fd2f59f7f.png">

**Steps to reproduce the behavior:**
1. Create a card with a long enough title.
2. Open the card.

**Expected behavior:**
The title should

[2021-06-29 23:49] chenilim opened #655 "Bug: Unable to add board with Focalboard plugin v0.7.1 on Cloud"
**Steps to reproduce the behavior:**
1. Create a test cloud instance (or use [my test instance, focalboarddev-9](https://focalboarddev-9.test.mattermost.cloud/signup_user_complete/?id=5kgckdtq5j8bmkcourzp3fnyte))
2. Install Focalboard v0.7.1 from the Marketplace, and enable it
3. Open a Focalboard workspace
4. Click + Add Board
5. Notice there are no templates
6. Add an empty board
7. No board app

[2021-06-30 00:01] chenilim commented on #639
Thanks @TROMsite. Yup, we can keep this open to track the issue. Welcome any additional feedback from others. What would you like to see in an "open server"?

[2021-06-30 00:09] chenilim commented on #558
Thanks @AbdelilahRami, you got it!

[2021-06-30 02:47] arunzco commented on #648
@chenilim
Yes I have used the official Bitnami Stack,
Did the following
1.Configured the latest plugin
2.Tried the focalboard button

It shows a 500 server error on browser were as in mattermost app a blank windows appears and the log says the error I mentioned. also found the following logs

{"level":"error","ts":1625021130.5641432,"caller":"mlog/log.go:251","msg":"Plugin failed to ServeHTTP, RPC

[2021-06-30 04:50] kamre commented on #641
@harshilsharma63 It works correctly on the latest `main` branch.

I propose to add a check for hide/show sidebar when there is an active board to Cypress test. What do you think about this?

[2021-06-30 05:29] Tyranical opened #657 "Bug: Random icons generated for template cards when disabled"
**Summary:**
Random Icons setting being disabled is ignored when card templates are used.

**Steps to reproduce the behavior:**
1. Create template of card
2. Use template

**Expected behavior:**
No random icons when random icons disabled

**Platform:**
 - Browser and version: Firefox Dev 88.0b9
 - OS and version: W10
 - Focalboard: v0.6.7 Docker

**Additional context:**
Add any other context about

[2021-06-30 06:04] harshilsharma63 commented on #650
@chenilim I'm looking into this.

[2021-06-30 06:33] harshilsharma63 commented on #650
Setting Mattermost log level to debug brought out the true error -

[code]

[2021-06-30 06:35] harshilsharma63 commented on #650
The root cause - `panic: concurrent write to websocket connection`

[2021-06-30 06:36] jespino commented on #616
@gustavotrott we added a set of environment variables to allow to modify this in the `0.7.1` but this is a temporary solution, we want to fix it properly (making the focalboard plugin use the mattermost database connections) for the next version. The solution actually is already in master, but we haven't created the release yet. Also that is only going to be available for mattermost >= 5.37, becau

[2021-06-30 09:22] mcastellaneta commented on #647
Thanks for the answer, @chenilim. I'm still relatively new to Github processes and contributing to open source projects, and have recently started using Focalboard. At the moment, I don't think I'm able to fix the problem, but I'm reading the guide to contribute to the project for future fixes. Thanks for the great work.

[2021-06-30 11:44] #538 closed

[2021-06-30 12:27] harshilsharma63 commented on #641
@kamre yes we should definitely add a test for it since it's a primary functionality.

Would you be willing to add that test?

[2021-06-30 13:50] darkLord19 commented on #550
@chenilim can i work on this?

[2021-06-30 14:20] gustavotrott commented on #616
Awesome! Thank you @jespino
I am looking forward for next release! I intend to use daily and help reporting any issues.

[2021-06-30 14:27] jespino commented on #616
Glad to hear that @gustavotrott, we really appreciate all this feedback.

[2021-06-30 20:42] chenilim commented on #550
Thanks @darkLord19, you got it! Here's the basic spec:
1. Add an additional user setting to toggle the date format
  * For now, only support "M/D/YYYY" or "D/M/YYYY"
  * We can expand this in the future to support other custom formats
2. Store this preferred date format in the localStorage settings
3. When reading the format, if it is missing or invalid, default to the current behavior of "M/D/YYY

[2021-06-30 20:48] chenilim commented on #648
Thanks @arunzco! @sbishel, do you think @harshilsharma63 or someone else could take a look at this? From the error log, it appears to be an issue between the plugin and Mattermost plugin framework. First thing would be to check if the versions on Bitnami are what we expect (Mattermost v5.36 and Focalboard 0.6.7). cc @jespino.

[2021-07-01 04:15] harshilsharma63 opened #661 "Investigate possible flaky webapp tests"
**Summary:**
 Two webapp tests seem to be flaky-

[code]

More details of the failed CI run can be found here -https://github.com/mattermost/focalboard/runs/2952731939?check_suite_focus=true#step:12:139

We need to verify the behaviour and fix the tests.

[2021-07-01 06:30] harshilsharma63 commented on #650
This is fixed with #658

[2021-07-01 06:30] #650 closed

[2021-07-01 08:01] Pamalosebi opened #662 "Feature Idea: Timeline / Gantt"
**Summary:**
Focalboard should also have a timeline / roadmap

**How important is this::**
It's though to define the importance but let me put it this way...
everyone else you compare yourself to, has it (sometimes with third-party tools).

On the Focalboard website the catch is "Focalboard is an open source, self-hosted alternative to Trello, Notion, and Asana."
Since I tried Trello and Asana wit

[2021-07-01 09:30] jespino commented on #580
I fixed this in the `main` branch. The usage of `Nickname` is an opinion, it should (in the future) use the users preferences to show DMs/GMs names, and replicate that logic there.

[2021-07-01 09:31] jespino commented on #580
I going to close this and create a new enhancement with the names of the board.

[2021-07-01 09:31] #580 closed

[2021-07-01 09:33] jespino opened #663 "Workspace names should match the name of DMs/GMs on mattermost"
**Summary:**
We are using now usernames to build the workspace name for DMs and GMs, we should follow the same policy used in Mattermost to build the DMs and GMs names, to build the title of the workspace.

**How important this is to me and why:**

Importance: Medium

[2021-07-01 09:34] jespino commented on #616
I going to close this because I think is already addressed through the environment variables and the new DB RPC approach.

[2021-07-01 09:34] #616 closed

[2021-07-01 09:35] jespino commented on #601
I think we can close this for now, but in the future I think we need to rethink the table view entirely and make it more "Spreadsheet" code, than just throwing rows there.

[2021-07-01 09:35] #601 closed

[2021-07-01 09:38] jespino commented on #601
@chenilim I cherry-picked this late, so It is going to go in 0.7.2, if we release that.

[2021-07-01 10:01] mcastellaneta commented on #652
Same for me.

Windows 10, 10.0.19041, Focalboard v0.7.0 (focalboard-win.zip)

[2021-07-01 10:56] jespino commented on #593
This is working fine for me.

[2021-07-01 11:57] harshilsharma63 commented on #648
@arunzco do you see Focalboard in the list of installed plugins in System Console?

[2021-07-01 12:02] arunzco commented on #648
Yes

[2021-07-01 12:02] harshilsharma63 commented on #648
Can you restart the plugin and record the logs from that point? The logs you shared show the plugin crashed. So the actual cause would be a bit above in the logs.

[2021-07-01 12:15] arunzco commented on #648
Latest Logs
[mattermost.log](https://github.com/mattermost/focalboard/files/6747956/mattermost.log)

[2021-07-01 17:03] chenilim commented on #593
Thanks @jespino. To clarify, do you think this is fixed because of #609? If so, this will be fixed in 0.8.0.

[2021-07-01 17:05] jespino commented on #593
@chenilim I don't think is necesarily related, that is about the filesystem directory and this more about the application url.

[2021-07-01 17:05] chenilim commented on #662
Thanks @Pamalosebi! This is related to #338, and is something we are considering. Thanks for the links. Welcome input from anyone else, particularly how you currently or intend to use the timeline view, and if a timeline view is very different from a calendar view. Thanks.

[2021-07-01 17:11] chenilim commented on #652
Thanks @mcastellaneta and @mcastellaneta! This should be a dup of #585, so closing as a dup. @harshilsharma63, please verify this is fixed too with the fix for #585. Thanks.

[2021-07-01 17:11] #652 closed

[2021-07-01 17:24] TROMsite commented on #639
I imagine something like this https://office.trom.tf/kanban/ where users have easy control over who to share their boards with. Anyone can register, anyone has a unique ID, anyone can share the boards with anyone else via that unique ID.

[2021-07-02 16:17] 6-AND-9 commented on #160
The problem with the webview is that it will not work offline. I cannot take my phone on a plane and organise my week to come because I will not have Internet access.

Is there a way to fix this with webview?

[2021-07-02 18:20] chenilim opened #667 "Feature Idea: Assigning cards to users"
**Summary:**
Be able to assign a card to a user. There are several ways we could implement this:
1. Add an "assigned to" property to each card (so every card has this)
2. Add a new "assigned to" property type (so it can be optionally added to a card)

**How important this is to me and why:**

Importance: High

Use cases:
1. Show task assignees for projects
2. Notify assignees of changes

**Additio

[2021-07-02 19:21] N3rdP1um23 opened #668 "Bug: Mattermost Plugin Title Links to Older Repository URL"
**Summary:**
When clicking on the Focalboard option in the Mattermost Plugin Marketplace, the link that is opened references what seems to be an older repository that is no longer (https://github.com/mattermost/mattermost-plugin-focalboard).

**Steps to reproduce the behavior:**
1. Open Mattermost (desktop or browser)
2. Click on the hamburger menu beside your username
3. Click on "Marketplace"
4.

[2021-07-03 11:44] Erwyn opened #670 "Bug: Error when running Docker image"
**Summary:**
When I try to run the Docker image I get this error:

[code]

My `mattermost/focalboard` image is up to date.

**Steps to reproduce the behavior:**

[code]

**Expected behavior:**
It should spawn the container.

**Screenshots:**
not applicable

**Platform:**
 - OS and version: Docker version 20.10.7, build f0df350 on Fedora 34

**Additional context:**
None

[2021-07-03 21:55] fauconjona opened #672 "Bug: Websocket connection closed with docker"
**Summary:**
I use focalboard with docker (https://github.com/mattermost/focalboard/blob/main/docker/docker-compose-db-nginx.yml) and I have "Websocket connection closed"

Changes in docker-compose-db-nginx.yml:
* `VIRTUAL_HOST` to my domain name
* proxy ports to `8094:80`

Changes in config.json:
* `serverRoot` to my domain name

**Platform:**
 - Debian 10
 - tried with Vivaldi & Firefox

[2021-07-04 14:29] arvinDarmawan commented on #623
Hi @chenilim could you assign to me ?

[2021-07-04 16:12] arvinDarmawan commented on #113
Hi  @chenilim @jespino   could you assign it to me? I want to try it

[2021-07-04 16:26] jespino commented on #113
Hi @arvinDarmawan, sure i can assign it to you. Let me know if you need anything from us.

[2021-07-05 02:42] arvinDarmawan commented on #113
Hi @jespino , is it the expected result ?
I just using MenuWrapper component in tableRow component (I'm not yet implement the delete functionality, just the UI)

<img width="1133" alt="Screen Shot 2021-07-05 at 09 40 27" src="https://user-images.githubusercontent.com/28821618/124410697-3846ac80-dd75-11eb-943e-68cfc2e64f6f.png">

[2021-07-05 07:57] carlos-sarmiento commented on #670
Seeing the same issue. Tried to muck around with file permissions and pre-creating the DB but nothing worked.

[2021-07-05 16:19] FelHell commented on #670
I've just created a new cloud server with Ubuntu 20.04 + Docker and got the same error message.

[2021-07-05 20:59] fauconjona commented on #672
Fixed! That was a reverse proxy issue

[2021-07-05 20:59] #672 closed

[2021-07-06 08:00] #623 closed

[2021-07-06 10:28] mgdelacroix commented on #648
Hi @arunzco. Please, can you confirm that you have the `SiteURL` property of the configuration set? You can find it on the `System Console`, in the `Web Server` tab.

[2021-07-06 11:58] harshilsharma63 commented on #648
@arunzco please add `charset=utf8mb4` to the database connection string in Mattermost configuration. With that added and the server restarted, the plugin should work fine.

Let us know if it doesn't work for you.

[2021-07-06 13:33] FelHell commented on #670
I've updated the Docker image, but the error message is still the same. These are the two Focalboard Docker images that I've used:
[code]

[2021-07-06 14:34] arunzco commented on #648
@mgdelacroix  It already had siteurl set (ipaddress) i just pointed a new dns name and set that as siteurl and focalboard worked , and it also started working over all the ip on server or with any other dns pointed to server.
I have reconfirmed this with a fresh deployment and that too worked.

**And its not working on bitnami stack based deployments.**

{"level":"info","ts":1625576488.7827826,"ca

[2021-07-06 15:00] sbishel commented on #512
We will need a confirmation dialog first.

[2021-07-06 15:37] eduardomota commented on #670
Hi, i've ran into this problem, if you're using doccker -compose check the `docker-compose.yml` file, it has no DB logically has nowhere to get the DB from, then use the `docker-compose-db-nginx.yml` if you pretend to deploy a full stack focalboard.

Simple to solve, not a bug

[2021-07-06 15:40] Erwyn commented on #670
Hi Eduardo,

Focalboard is supposed to work with both `sqlite` and `postgresql`. The case you are pointing out is the one using `postgresql` for which, your are right, you need to spawn a DB.

In our case we used the base image which is (was ?) wired to use the `sqlite` implementation and for which nothing is needed. It used to work on previous versions of the docker image.

[2021-07-06 16:26] chenilim opened #678 "Bug: Hard to read labels in dark mode"
**Steps to reproduce the behavior:**
1. Create a board while in dark mode
2. Add a few columns
3. Notice that the column labels are low contrast (white on gray)

**Expected behavior:**
Labels should be more readable in dark mode.

**Screenshots:**
![Low contrast in dark mode](https://user-images.githubusercontent.com/46905241/124635156-f6346e00-de3b-11eb-9141-a59c7dae7fff.png)

**Additional contex

[2021-07-06 17:28] eduardomota commented on #670
Hi @Erwyn

your sqlite issue is caused by commit aac3a7170e51208d0e923d88431298f2c402cdbc that changes the `Dockerfile`, container builds done after this change will not have enough permissions to create/open your db file.

Solution:
To correct this remove or comment `USER nobody` inside `docker/Dockerfile`
run a new build against it from focalboards base folder like this
`docker build -t focalboa

[2021-07-06 18:23] arunzco commented on #648
@harshilsharma63
Charset was already defined, without out this the plugin doesn't even start.

Currently issue is only with Bitnami Stack deployments.

[2021-07-06 18:49] eduardomota commented on #654
Hi @marianunez,

when you hover over the title you have a tooltip that shows the whole string, also when you click to "edit" you can see the whole title, at first glance it may help if within the stylesheets is added a `width: 100%;` property to the `.title` class. On a opinion side of this i would say keep your titles short and comment inside with more information, instead of "Complete developmen

[2021-07-06 19:57] chenilim commented on #678
Assigning to you @asaadmahmood to think about. Not a high priority, but we should incorporate this into any overall review / refactoring of the design. Thanks.

[2021-07-06 20:42] hmhealey opened #680 "Bug: Returned to error page when logging in after an expired session"
**Summary:**
After getting logged out for an expired session, I logged back in, but after doing that, I got sent back to the error page

**Steps to reproduce the behavio*u*r:**
1. Get logged out of Focalboard due to an expired session
2. Open Focalboard from the button in Mattermost (as on community.mattermost.com)
3. Get sent to the error page (https://focalboard-community.octo.mattermost.com/err

[2021-07-06 21:29] wiersgallak opened #681 "Feature Idea: Copy or Sync card to another board"
**Summary:**
Copy a card from one board to another or even better to sync the card to another board, so you can have it on two boards simultaneously and only need to update it in one place.

**How important this is to me and why:**

Importance: Medium

Use cases:
1. OKRs/Roadmaps: PMs or Eng can have their own roadmap/OKR for their area of ownership and sync a card to a combined board
2. Release m

[2021-07-06 22:04] chenilim commented on #681
Thanks @wiersgallak! This is related to #522 and #527. Appreciate the additional details in the use cases!

[2021-07-07 03:45] kamre commented on #42
@chenilim @jespino I have started working on this and encountered the problem with user registration when _single user_ option is enabled.

In particular [this code](https://github.com/mattermost/focalboard/blob/main/server/api/auth.go#L230-L234) doesn't allow to process user registration.

Do we really need to use _single user_ for cypress testing?

[2021-07-07 05:46] #629 closed

[2021-07-07 13:04] Erwyn commented on #670
Hi @eduardomota,

Thanks for the heads up.

I perfectly agree with all that you said.

I'll stand by my point that this is either a bug/regression or an incomplete change of direction as, as of today, the [documentation](https://github.com/mattermost/focalboard/blob/main/docker/README.md) offers non working solutions, and the default `docker-compose.yml` file would not be working either for the ve

[2021-07-07 13:35] mkraft commented on #654
I'm finding this is a usability blocker. In my opinion a detailed view—like you see when you open (rather than list) a card—should show the full details of text fields within reason, with an expand or scroll possibility at an upper bound. Tooltips aren't the greatest usability because they're small, slow to open, and unintuitive.

[2021-07-07 14:57] eduardomota commented on #670
@xlanor pull fixes the issue, @Erwyn you're right also. Not a dev nor a maintainer to correct this accordingly, i guess the ones in charge of issue resolution can close this after the referenced pull is put forward and docker images rebuilt.

[2021-07-07 15:02] xlanor commented on #670
Thank you! I'm not a user of focalboard, just happened to be passing by and saw this. Please do let me know if there's any issues with my pull.

[2021-07-07 16:49] chenilim opened #684 "Bug: Double-clicking on a multi-select table column resizes too large"
**Steps to reproduce the behavior:**
1. Open a table with a multi-select column
2. Set one of the multi-select values to at least 2 or 3 items
3. Double click on the column border to auto-size it
4. The column autosizes too large (by over double)

**Expected behavior:**
The auto-size fits the maximum number of displayed items with a reasonable margin.

**Screenshots:**
https://user-images.githubus

[2021-07-07 16:50] chenilim commented on #684
This appears to be a bug in the table column resize logic. Setting it as up for grabs. cc @sbishel.

[2021-07-07 19:26] sbishel commented on #684
Yes, multiSelect is not implemented [here](https://github.com/mattermost/focalboard/blob/main/webapp/src/octoUtils.tsx#L19)

[2021-07-07 19:37] ZevSwe opened #685 "Bug: Credentials stop working, start working again after service rebooted"
**Summary:**
When my session has expired I sometimes can't login again, it says the password or username is incorrect. If I login to the backend server and restart the service they start working again. No data seems to be lost. I use a password manager so it's not a typo, it has also happened twice now.

**Steps to reproduce the behavior:**
1. Start a server and create a user
2. Wait for session t

[2021-07-07 20:10] chenilim commented on #685
Thanks @zefhemel! To clarify, this is on Focalboard Personal Server (not the Mattermost Plugin) right?
If you see this repro again, please open the browser debug console and capture any network and/or console errors. From the description, it appears that the login API call fails.

There probably is a token expiry handling bug in there somewhere - my guess is the client think the token is valid, bu

[2021-07-08 04:36] #636 closed

[2021-07-08 05:56] harshilsharma63 commented on #648
1. Can you try reinstalling the plugin?
2. Try verifying if that file `plugins/focalboard/pack/index.html` actually exists on the filesystem or not. If it does and you still get the error, it could be a permission issue. Make sure the system user though which Mattermost is being run has complete access to the data dir.

[2021-07-08 06:07] jprusch commented on #655
Hi,
I experienced the same with the 0.7.1 beta plugin. Upgrading to the latest 0.7.3 beta might have solved the issue. Not sure, if it works after upgrading or after deactivation/activation of the plugin.

Environment:
Focalboard Plugin 0.7.1
Mattermost Desktop 4.7 Windows 10
Mattermost Server 5.36.1

Hint: Focalboard version # doesn't get updated to 0.7.3 in System Console and the board window af

[2021-07-08 06:33] #622 closed

[2021-07-08 06:47] #550 closed

[2021-07-08 06:52] harshilsharma63 opened #688 "Bug: Deleting a card component doesn't update the card's updated at timestamp"
**Summary:**
Deleting a card component doesn't update the card's updated at timestamp

**Steps to reproduce the behavior:**
1. Open a card.
2. Add some items to it such as comments or text. Notice that adding these will update the card's updated at timestamp.
3. Now delete some added comments. Notice that doing so brings back the previous updated at for the card.

**Expected behavior:**
Deleting a

[2021-07-08 07:49] arunzco commented on #648
@harshilsharma63 File exists and its not the permission issue, can you try this on a bitnami mattermost stack.

[2021-07-08 07:52] harshilsharma63 commented on #648
@arunzco I did try on a fresh Bitnami installation and it worked for me.

[2021-07-08 07:52] harshilsharma63 commented on #648
Can you set file log level to debug?

[2021-07-08 08:30] arunzco commented on #648
i have tried deploying bitnami in multiple instances and none worked, as i observed it looks like the plugin folder path is different in bitnami , mattermost is inside the 'apps' folder and the plugins resides in 'data' , and the root files is in apps/mattermost/server i believe .
I have copied the 'data'  folder to 'apps/mattermost/server'  and renamed it to plugins and everything starts working

[2021-07-08 09:09] pydubreucq commented on #685
Hi,
I have the same problem here.
I've updated my Focalboard Personal Server to 7.0.0 and I've the same problem. Not before update.
I've made screenshot about network and console panel :

![Capture d’écran de 2021-07-08 10-38-37](https://user-images.githubusercontent.com/1188199/124892330-0f732100-dfda-11eb-83a3-c5592f142cfa.png)

![Capture d’écran de 2021-07-08 10-40-38](https://user-images.githu

[2021-07-08 09:51] mgdelacroix commented on #648
Yes, #609 should fix the issue, but it is not present on the `0.7.X` versions. @chenilim should we cherry-pick the fix to the `0.7` release branch so it's included in future dot releases?

[2021-07-08 11:03] eduardomota commented on #654
@mkraft I've taken the liberty of looking at the code and the title uses an `input` tag that in itself doesn't allow multiline to be able to see the full length of the card. There's the `textarea` tag that will allow that but maybe break some of the functionality to edit and view the label accordingly.

Possible solution:
1. Replace `input` tag with `textarea`
2. Style new tag accordingly

[2021-07-08 15:05] chenilim opened #690 "Bug: WebApp version isn't always updated on server upgrades"
**Steps to reproduce the behavior:**
1. Install Focalboard plugin v0.7.0
2. Open the Focalboard workspace
3. Note the displayed version (should be 0.7.0)
4. Remove the plugin from the server
5. Install Focalboard plugin v0.7.3 (or another different version), via custom plugins on the server
6. Close and reopen the Focalboard workspace
7. Note the version number - in some cases this is still 0.7.0

[2021-07-08 15:06] chenilim commented on #690
@sbishel, I think this one is worth investigating and fixing earlier, before we get many more upgrade scenarios out there. Please reassign as needed. Thanks.

[2021-07-08 16:01] sbishel opened #692 "Bug: Auto-size Columns with sort arrow"
**Summary:**
Auto Size does not take the sort arrow into account in the column header.

**Steps to reproduce the behavior:**
1. Create a new Roadmap board.
2. The initial board should display a board with a Priority column header truncated to Priorit...
3. Double click the resize handle on the right side of the Priority column
4. Priority column is still trucated.

**Expected behavior:**
Column he

[2021-07-08 16:49] chenilim opened #693 "Bug: Group message channel display name is displayed incorrectly"
**Summary:**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior:**
1. Create a Direct/Group Message between two (or more) users
2. Launch Focalboard
3. Observe spacing issues in the workspace name

**Expected behavior:**
In the case below, it should show "edwin_roberts, jlee, vlee".

**Screenshots:**
![FB_SPACING_Direct_Messaging](https://user-images.githubuserc

[2021-07-09 03:26] harshilsharma63 commented on #648
Hmm, this is interesting. How did it work for my Bitnami image then? I created a new EC2 in AWS directly from the BItnami Mattermost TE image. This is strange.

[2021-07-09 14:42] maxhq opened #699 "Enhancement: unify config keys"
**Summary:**
Currently some config keys are camelCased (@chenilim), others contain underscores or no delimiters (@jespino).
They should be unified.

**How important this is to me and why:**
Importance: Low

Having different spelling of options makes configuration more error prone.
Proof: there is already a typo - `localonly` (_server/services/config/config.go_) is spelled `localOnly` in the sample

[2021-07-09 14:43] maxhq opened #700 "Bug:"
**Summary:**
Config option `localonly` in _server/services/config/config.go_ is spelled `localOnly` in the sample _config.json_.

[2021-07-09 16:44] chenilim opened #702 "Feature Idea: De-clutter column header - remove extra Add Card button?"
**Summary:**
There are two "+ Add Card" buttons in the board view: One at the top of the column, and one below. Can we remove one?

**How important this is to me and why:**

Importance: Low

**Additional context / similar features:**
Here's how similar products behave:
* Trello: Only has a + Card button at the bottom, but the columns max-fill the browser height, so the button is always visible
* N

[2021-07-09 16:57] darkLord19 commented on #667
@chenilim Hey Chen, are there any designs or some more info about this? I would be interested in working on it if it's open to pick

[2021-07-09 17:16] maxhq commented on #702
Hi there, I understand your concerns regarding #701.

I‘ve just discovered the third way to add a card: via _+New_ at the top right (although you have to choose the column afterwards here).

Personally I like Trellos approach best: it is always visible and mimimizes the UI elements (aka distractions).

[2021-07-09 17:56] eyebank opened #704 "Bug: Focalboard plugin v0.8.0 RC1 doesn't load"
I seem to have an issue with v0.8.0 RC1. When I apply this new code over 0.7.3 and then launch FB I receive a "500 internal server error"
Here is the url: https://XXXXXXXX/plugins/focalboard/workspace/plugins/focalboard/error?id=no_workspace

I am able to downgrade back to 0.7.3 no problem (E10/On-Prem).

[2021-07-09 18:36] chenilim commented on #704
Thanks @eyebank! Looks like 0.8.0 requires Mattermost v5.37 due to the new DB connection system ([PR-619](https://github.com/mattermost/focalboard/pull/619)). I've made a note in the release notes.

[Mattermost 5.37 RC1](https://community.mattermost.com/core/pl/myuumxjyg7nqpx3utmbb9bnmwe) released yesterday.

I've confirmed that Focalboard plugin 0.8.0 works against Mattermost 5.37 RC1, and I've u

[2021-07-09 18:36] #704 closed

[2021-07-09 18:40] chenilim opened #705 "Feature Idea: Auto-name new properties based on type"
**Summary:**
When adding a new property to a card, set the name automatically based on the property type, if it hasn't already been named.

**How important this is to me and why:**

Importance: Low

Use cases:
1. E.g. If I add a new Phone property, name the property "Phone" if not already set.

[2021-07-09 18:44] chenilim opened #706 "Bug: Comments don't appear in read-only shared boards"
**Steps to reproduce the behavior:**
1. Add a comment to a card
2. [Share the board](https://www.focalboard.com/guide/user/#sharing-boards)
3. Open the read-only board, then open the card
4. Notice there are no comments

**Expected behavior:**
Comments should appear in shared read-only boards

**Platform:**
 - Focalboard v0.8.0 on Mattermost 5.37 RC1 (but also on previous versions)

[2021-07-09 21:51] nishit-prasad commented on #692
Hello, I'm new and would like to contribute. Can this be assigned to me?

I believe I need to follow the instructions in the below link to setup my environment?
https://www.focalboard.com/contribute/getting-started/dev-tips/

[2021-07-10 15:45] sbishel commented on #692
@nishit-prasad Absolutely. And yes those are the instructions to get you started.
Ask in the [focalboard](https://community.mattermost.com/core/channels/focalboard) channel if you run into issues.

[2021-07-11 14:08] nishit-prasad commented on #692
Thank you!

Update:
- Spent few hours on it and turns out that when the doubleClick event fires up, the reference of the header column DOM (such as Priority) is being sent as null to the method that does the auto-resizing.
- But even if I give the right reference of this div element, I see no change in resizing.

Will dig more into it.

[2021-07-11 18:19] kamre commented on #692
@sbishel @nishit-prasad after looking in the debugger it seems that [computation of the padding for children](https://github.com/mattermost/focalboard/blob/main/webapp/src/utils.ts#L83-L100) _doesn't take into account sort arrows_ because they are [svg elements](https://github.com/mattermost/focalboard/blob/main/webapp/src/widgets/icons/sortUp.tsx#L10-L17) and their `className` will return a speci

[2021-07-11 19:21] kamre opened #708 "Bug: can't drag card to column"
**Summary:**
Some cards can't be dragged to column in kanban view

**Steps to reproduce the behavior:**
1. Add Board => Roadmap
2. Select view By Sprint
3. Drag "Icons don't display" card to "SPRINT 1" column
4. Try to drag same card back to "SPRINT 2" column

**Expected behavior:**
Card should be in column "SPRINT 2" after dragging

**Platform:**
 - Browser and version: Chrome 91
 - OS and versio

[2021-07-11 19:23] nishit-prasad commented on #692
Ah okay. No wonder when I give the right reference of the DOM to the auto-size method - it doesn't change the `clientWidth`.
Thanks @kamre. Let me play around based on your suggestion and will get back here with further update, as applicable.

[2021-07-11 20:42] ThatIsAPseudo commented on #585
Same here, still having this bug with 8.0-RC1.

[2021-07-11 23:05] SolarKing commented on #91
Any volume we can use for persistence? Would like to make sure data is persisted after any restarts 🤷 Could hunt to see what kind of persistence myself, but it should be called out for sure.

[2021-07-12 05:10] harshilsharma63 commented on #585
I'm working on this now.

[2021-07-12 05:33] harshilsharma63 commented on #585
@ThatIsAPseudo @thonglk what platform and browser are you facing this on? I tested it on MacOS with Firefox and Chrome and the Mac desktop app and it worked fine.

[2021-07-12 05:40] ThatIsAPseudo commented on #585
@harshilsharma63 I'm using the macOS desktop app on macOS Big Sur 11.4

[2021-07-12 06:02] harshilsharma63 commented on #585
@ThatIsAPseudo I'm also on the exact same configuration.

Would you be willing to have a quick Zoom call regarding this? It will help to debug this issue.

You can join [Community Mattermost Focaboard channel](https://community-daily.mattermost.com/core/channels/focalboard) and I can share the details over there.

[2021-07-12 06:36] ZevSwe commented on #685
I've tested this again, it seems it does not on a browser I have not used for focalboard before. Thus the theory of session cookies seems to be out. I also get a 401 back.

[2021-07-12 08:14] harshilsharma63 commented on #113
@dataCobra thanks for the implementation. This is certainly a useful feature.

I don't like the design though. It works fine when you only have as many columns visible as the width of the browser. When you have more, you need to perform a horizontal scroll to reach the menu, which removes all the convenience.

Let's wait for @asaadmahmood to provide a design for this.

[2021-07-12 08:15] asaadmahmood commented on #113
Yup, will have a look at this.

[2021-07-12 09:36] dataCobra commented on #113
Thanks for the mention, but I didn't implement the feature that was @arvinDarmawan. :+1:

[2021-07-12 18:43] NoLooseEnds opened #711 "Bug? Permission Error on Images (docker)"
**Summary:**
No images show. Not allowed to upload either. Given permission error.

How can I correct this? Where is the images stored?

[code]

[code]

**Steps to reproduce the behavior:**
Not totally sure, but I did have a power loss recently that caused all VMs and Docker images to restart (no ups as of now). I did not think that should be able to mess that up, since everything else is fine?

*

[2021-07-12 18:55] NoLooseEnds commented on #711
I think I figured it out. It seems like the [config](https://github.com/mattermost/focalboard/blob/main/docker/config.json) file in the docker directory (in the repository) stores the file inside the docker image. I just thought all was stored in the db.

Anyways, I changed the the URL edited the docker-compose file, and it works again (except I lost all my images, but that's on me I guess).

[2021-07-12 18:55] #711 closed

[2021-07-12 21:44] ThatIsAPseudo commented on #585
@harshilsharma63 I'm sorry I'm not able to do this for the moment, but I'll try and keep you informed of any changes on my side regarding this issue.

[2021-07-13 04:11] venkatkrishnanr opened #712 "Feature Idea: Set custom properties at the board level"
Currently, there is no way to set up properties at the board level. we have created multiple boards for each product. As the product owner, I should be able to set properties like Priority, Start End and End Date, and other project-level attributes.

[2021-07-13 04:12] venkatkrishnanr commented on #712
you can also provide the ability to set icons in the left pane against each board.

[2021-07-13 07:18] asaadmahmood commented on #113
@jespino @harshilsharma63 @arvinDarmawan This is what I'm thinking about the delete option placement.
https://www.figma.com/proto/UPbYxPDsg1aIzozyysRPeO/Focalboard-Base-Design?page-id=11%3A3265&node-id=11%3A3273&viewport=14926%2C8782%2C5.783653736114502&scaling=min-zoom

So we show the icon buttons on the left when hovering a row.

[2021-07-13 16:35] chenilim opened #714 "Bug: Simplified Chinese language setting displays UI in English"
**Steps to reproduce the behavior:**
1. Click Settings and set the language to Simplified Chinese
2. The UI shows in English

**Expected behavior:**
The UI should show in Simplified Chinese.

**Screenshots:**
<img width="505" alt="Simplified Chinese displays in English" src="https://user-images.githubusercontent.com/46905241/125491181-cbeeec62-ed10-4e69-8039-07763e122c6b.png">

**Platform:**
 - Fo

[2021-07-13 16:51] chenilim commented on #633
@asaadmahmood, assigning this to you for now to think about in the context of the broader re-design. If you decide this is worth changing in the current design, please specify the CSS highlight color and put it up for grabs. Thanks.

[2021-07-13 16:54] chenilim commented on #299
@asaadmahmood, assigning this to you to track as part of the sidebar re-design. Thanks.

[2021-07-13 16:56] chenilim commented on #44
Looks like this is an old bug and does not repro on v0.8.0. Closing.

[2021-07-13 16:56] #44 closed

[2021-07-13 17:33] chenilim commented on #712
Thanks @venkatkrishnanr! Currently, by design the properties are set at the Card level, but doing so sets it for all cards in the board. (Technically, the property type information is stored at the board level).

E.g. you can set Priority, start and end date on a card, and this property will appear on all cards in the same board.

Also, the icon of the Board is displayed in the sidebar. To change

[2021-07-13 17:36] chenilim commented on #708
Thanks @kamre. I am not able to repro this (on v0.8.0 macOS App and plugin). Could you try this on the [latest release](https://github.com/mattermost/focalboard/releases/tag/v0.8.0) and attach a video?

Also, looks like #583 is a PR for the CreatedBy prop, was that what you intended to link to?

[2021-07-13 17:51] chenilim opened #715 "Bug: Date display is inconsistent"
**Steps to reproduce the behavior:**
1. Add a date property to a card and set it
2. Note the display in the Card view (MM/DD/YYYY, e.g. 07/28/2021)
3. Close the card open a Board view
4. Add the date property to the Properties menu, to display in the card preview
5. Note the display in the card preview (MMMM DD, YYYY, e.g. Jul 28, 2021)

**Expected behavior:**
The date display should be consistent

[2021-07-13 17:54] chenilim commented on #715
@asaadmahmood, not a high priority, but assigning this to you for UX review. the main thing is to consider what our default date format should be (I propose MMM DD, YYYY because it's unambiguous), and what our supported date formats should be. Other Mattermost components  (including Playbooks and Admin Console, etc.) have dates too, and we should (P3) ideally drive some general consensus.

[2021-07-13 18:45] chenilim opened #716 "Bug: Focalboard plugin v0.8.0 is not working on Mattermost v5.37 RC2"
**Steps to reproduce the behavior:**
1. Log into (or create an account on) https://mysql.test.mattermost.com/ogis-test-team/channels/town-square
2. Click on the Focalboard button
3. Get a 404 error

**Expected behavior:**
Focalboard loads and functions correctly

**Platform:**
 - Focalboard v0.8.0 on Mattermost 5.37 RC2
 - Chrome 91 on macOS

**Additional context:**
If I force refresh the browser

[2021-07-13 18:45] chenilim commented on #716
This error appears in the System log:
[code]

[2021-07-13 20:07] chenilim opened #718 "Bug: Adding a new view does not switch to it on v0.8.0 plugin"
**Steps to reproduce the behavior:**
1. Install Focalboard plugin v0.8.0 on Mattermost 5.37
2. Create a board (e.g. the Project Tasks template)
3. Add a new view, e.g. a Gallery view (but any will do)
4. The new view does not appear
5. And clicking on the new view name in the sidebar does not open it
6. Only after a refresh (Cmd+R), can I open the new view

**Expected behavior:**
The new view shou

[2021-07-13 20:13] chenilim commented on #718
@harshilsharma63, could you help with the initial investigation of this, and reassign if appropriate? It's a pretty bad regression that we will want to cherry pick for 0.8.x. You can repro this on [mysql.test](https://mysql.test.mattermost.com/ogis-test-team/channels/town-square) if needed. Thanks.

[2021-07-13 20:22] chenilim opened #719 "Bug: Dragging multiple cards does not work"
**Steps to reproduce the behavior:**
1. Install Focalboard plugin v0.8.0 on Mattermost 5.37 (or macOS app, or Personal Server)
2. Or repro this on [mysql.test](https://mysql.test.mattermost.com/ogis-test-team/channels/town-square)
2. Create or open a board with 3 or more cards
3. In a board view, drag all cards to one column
4. Hold Shift, click on the top card
5. Hold Shift+Cmd, and click on the

[2021-07-13 20:23] chenilim commented on #716
The issue seems to be related to HA being enabled on mysql.test.

Update: After uploading the plugin again, it now appears on both clusters, and loads successfully. However, there appears to be a problem with dragging multiple cards. I'm closing this issue and tracking that in #719 instead.

[2021-07-13 20:23] #716 closed

[2021-07-13 22:39] thompsonbrian opened #721 "Feature Idea: Please release the .dmg and .exe files on GitHub"
**Summary:**

It would be very convenient to have the .dmg and .exe (or .msi) files available on GitHub.

**How important this is to me and why:**

I'm dying to try focalboard on my corporate Mac, but I cannot because the App Store is blocked!  [Mostly] anything released on the App Store has been taken down from the Homebrew artifact archives, so that is not an option either.

Importance: ***High*

[2021-07-13 22:49] apothecary-anchovy commented on #721
Agreed!

[2021-07-13 23:39] chenilim commented on #719
Updated: I'm able to repro this on v0.8.0 macOS App and on a fresh install of Personal Server, so this is not specific to the plugin or HA. Updated the steps. Reassigning to you @hahmadia for the initial investigation. Please reassign if appropriate. My first guess is this is a regression due to a front-end change.

[2021-07-14 00:27] moicool6 commented on #714
Thanks! Another problem is that no matter what the voice is set to, the voice still changes to English when you start it up again and you can't save the voice settings.

[2021-07-14 00:27] moicool6 commented on #714
Thanks! Another problem is that no matter what language you set it to, the language still changes to English when you start it up again and you can't save the voice settings.

[2021-07-14 04:34] kamre commented on #708
@chenilim here is the video from latest release:
![GH-708-Can'tDragCardToColumn](https://user-images.githubusercontent.com/5587620/125560952-779644ac-e308-4725-b3e2-83a01bd0d161.gif)
This is windows application from `focalboard-win.zip` and fresh start (database removed in Documents folder).

Same behaviour can be seen for `focalboard-server-linux-amd64.tar.gz` when it is downloaded and started in

[2021-07-14 04:45] kamre commented on #42
As [discussed in focalboard channel](https://community.mattermost.com/core/pl/iy18wtin5p8hjr7eousthuxnkw) this issue is on hold until there is "base Cypress setup with convenient UI and API commands that will make user registration/logging easier"

[My branch](https://github.com/kamre/focalboard/pull/1/files#diff-4b5c671a5f23aabe1811d05711075551cb555074a50d99ae91061e62e0f7f1e6) with Cypress tests

[2021-07-14 07:54] jespino commented on #655
This is already fixed.

[2021-07-14 07:54] #655 closed

[2021-07-14 07:55] jespino commented on #632
This is also already fixed.

[2021-07-14 07:55] #632 closed

[2021-07-14 07:56] jespino commented on #593
This is already fixed.

[2021-07-14 07:56] #593 closed

[2021-07-14 09:32] asaadmahmood commented on #715
@chenilim We have a similar date format for Playbooks and the Messages (in the center channel etc), which is Month Day Year (if its not the current year).

**So we should have:**
Feburary 25, 2020
or if it's the current year
Feburary 25

[2021-07-14 10:47] arvinDarmawan commented on #113
Oke, i will check it

[2021-07-14 10:50] jespino commented on #113
@arvinDarmawan Thanks!, by the way, sorry for the inconveniences, we have talked about it, to try to avoid not-fully-defined help wanted tickets.

[2021-07-14 10:54] haardikdharma10 commented on #721
Thanks @thompsonbrian for raising this! Related to https://github.com/mattermost/focalboard/issues/638

/cc @chenilim

[2021-07-14 11:11] thompsonbrian commented on #721
Referencing #99 and closing.

[2021-07-14 11:11] #721 closed

[2021-07-14 11:42] arvinDarmawan commented on #113
Hi @asaadmahmood  is this the right image from figma ? it seems different if I click the link.

<img width="1303" alt="Screen Shot 2021-07-14 at 18 41 15" src="https://user-images.githubusercontent.com/28821618/125616318-709a01dd-4beb-44bb-91fa-c61b5352e89f.png">

[2021-07-14 11:47] asaadmahmood commented on #113
Sorry @arvinDarmawan this is the link:
https://www.figma.com/file/nIyq6YPnKUxurCr0AyklZj/Issue-633-Sidebar-Active-State-Copy?node-id=101%3A7882

[2021-07-14 14:12] tjbortz1s opened #725 "Bug: mainBoardHeader does not scroll with mainBoardBody when Kanban width is too small due to "fixed" position."
**Summary:**
A clear and concise description of what the bug is.

When the viewing window is too small horizontally for the created boards, the content of the boards will scroll while the top headers do not - leading to confusing situations where it looks like boards are in the wrong headers, and scrolling horizontally doesn't work - you have to zoom out.

**Steps to reproduce the behavior:**
Crea

[2021-07-14 14:30] arvinDarmawan commented on #113
hi @harshilsharma63  @jespino  to implement this style, I think that we  can't create hidden <td> to store the row option except we add hidden <th> in the left side too, right ? What I see in current code the  table column is generated dynamically  from db since we can add new column dynamically, right ?

[2021-07-14 15:05] tjbortz1s commented on #725
This is on version 0.8.0 - what I believe is the latest windows store WPF app

[2021-07-14 15:58] N3rdP1um23 opened #727 "Feature Idea: Paste Photos Directly into a Card"
**Summary:**
Allow users the ability to paste in photos that they may have in their clipboard.

**How important this is to me and why:**
For the purposes of this example, I'll use a bug board. When users mention a bug that may occur on the product that I'm working on, I will usually take a screenshot of the bug or any relevant information pertaining to that bug. With the screenshot manager that I

[2021-07-14 17:20] jespino commented on #113
@arvinDarmawan we can add a column (no necesarilly hidden) there, with a fixed width, and show/hide the icons based on the hover state.

[2021-07-14 19:56] chenilim commented on #725
Thanks @tjbortz1s! I can repro this on the v0.8.0 macOS App as well. @harshilsharma63, this appears related to the header changes, so assigning it to you for investigation. Please reassign if necessary.

Movie:
https://user-images.githubusercontent.com/46905241/125684703-9d76c9d6-96d8-4318-a8a9-1d0c9e4801bb.mov

This is a regression from the previous behavior. At a minimum, the column headers shou

[2021-07-14 20:00] chenilim commented on #715
Thanks @asaadmahmood! I've updated the recommended change to use the "long month" display, MMMM or July vs. Jul to be consistent with the rest of Mattermost. Setting this as up for grabs.

[2021-07-14 20:12] compiledsound commented on #435
I can pick this up

[2021-07-15 03:15] mzch opened #728 "Bug: Websocket connection interrupted via Apache2"
**Summary:**
Using Apache2 as a reverse proxy, focalboard show `Websocket connection closed. connection interrupted.` Could you tell me how to fix this issue?

**Steps to reproduce the behavior:**
1. Install focalboard
2. Start focalboad
3. Access focalboard via my browser.
4. See error

**Expected behavior:**
No error.

**Screenshots:**
<img width="1494" alt="ScreenShot" src="https://user-images.

[2021-07-15 05:55] chenilim commented on #728
Hi @mzch, do the [Apache config steps in the download guide here](https://www.focalboard.com/download/mattermost/#with-apache-unofficial) work for you? Thanks.

[2021-07-15 06:10] mzch commented on #728
Great! Thanks! :)

[2021-07-15 06:10] #728 closed

[2021-07-15 07:31] arvinDarmawan commented on #113
@jespino , if we add new column, it means we need to add new TableRowHeader too, right?
Do we need to store this  new column  in database too ?

[2021-07-15 08:19] kamre commented on #708
@chenilim @harshilsharma63 Regression happened during the transition from class to function component for `Kanban`.

In the class component there was an instance method `onDropToColumn` that was always the same and now with function component it is always a new closure function that is later passed into `KanbanColumn` and inside `useDrop` hook.

There are no dependencies for this `useDrop` hook an

[2021-07-15 15:02] kamre commented on #715
@chenilim @jespino I am going to work on this issue. Do you think we can/should store [UserSettings ](https://github.com/mattermost/focalboard/blob/main/webapp/src/userSettings.ts#L4-L20) in the redux store?

[2021-07-15 15:30] chenilim opened #733 "Bug: Drag to columns doesn't work as expected"
**Steps to reproduce the behavior:**
1. Create a card with multiple text content blocks
2. Drag one item to the same column as another - this works
3. Drag the right item to the left
4. The order is unchanged

**Expected behavior:**
The order in the column should change

**Screenshots:**
https://user-images.githubusercontent.com/46905241/125814746-fe6c1ae3-1c55-4c52-a1c1-821f85efbbed.mov

**Platfo

[2021-07-15 18:11] candideu opened #734 "Bug: Boards Have Disappeared, projects vanish any time the application is closed"
**Summary:**
Hello! I'm having an issue with FocalBoard. It doesn't seem like my work is being saved, but I'm not sure how to retrieve it. I closed the application after creating a number of boards and cards, but now they are gone.

**Steps to reproduce the behavior:**
1. Open FocalBoard
2. Add boards and cards
3. Close the application
4. Reopen FocalBoard. Boards and cards have disapeared.

**Exp

[2021-07-15 18:52] chenilim commented on #708
Thank you for the additional details @kamre! Could you help investigate @harshilsharma63? Thanks.

[2021-07-15 19:41] kamre commented on #715
It turns out that _Card View_ [uses moment.js formatting](https://github.com/mattermost/focalboard/blob/main/webapp/src/widgets/editableDayPicker.tsx#L52) for the date and it has support for strings like `MM/DD/YYYY`.

But _Card Preview on the board_ uses `react-intl` inside [Utils.displayDate](https://github.com/mattermost/focalboard/blob/main/webapp/src/utils.ts#L125) that doesn't support such f

[2021-07-15 21:04] chenilim commented on #725
@harshilsharma63, after merging, please cherry-pick to the release-0.8.0 branch. It looks like a low-risk fix we can take (LMK if you disagree though). Thanks.

[2021-07-16 10:26] loranger opened #735 "Bug: Upgrade failed (readonly database)"
**Summary:**
Running focalboard using docker, I pulled the latest image and restart my container, but I cannot use focalboard anymore since, my sqlite database seems locked in readonly mode for some reasons

[code]

**Steps to reproduce the behavior:**

[code]

**Expected behavior:**
The database shoudl be writeable

**Platform:**
 - Browser and version: [e.g. Chrome 88, Safari 12]
 - OS and versi

[2021-07-16 11:40] asaadmahmood commented on #715
@kamre Hey, thanks for the message.
We only want MMM DD, YYYY
We can remove the set Date format input for now, and have that format be there by default.

But let's wait for @chenilim on that.

[2021-07-16 14:50] chenilim commented on #715
Yup, thanks @asaadmahmood! After discussion, we decided to align with the current Mattermost behavior for now, i.e.:
To confirm, use the following date display everywhere we display a date:
* MMMM DD if in the current year, e.g. September 08
* MMMM DD YYYY if not in the current year, e.g. September 08, 2019

Remove the "Set date format" user setting for now. The above should be appropriate interna

[2021-07-16 16:23] chenilim opened #738 "Bug: Wide table horizontal scrollbar appears in the middle of page"
**Steps to reproduce the behavior:**
1. Open a table with a few row but many columns (or resize the browser narrower than its width)
2. Notice that the horizontal scrollbar appears in the middle of the page

**Expected behavior:**
The scrollbar (if any) should appear at the bottom of the page

**Screenshots:**
<img width="1682" alt="H table scrollbar" src="https://user-images.githubusercontent.com

[2021-07-16 16:24] chenilim commented on #738
@harshilsharma63, could you help investigate this? It appears to be a regression, and may be related to recent CSS changes. Thanks.

[2021-07-16 16:33] chenilim opened #739 "Bug: Plugin should not show account options in the top-left menu"
**Steps to reproduce the behavior:**
1. Click on the Focalboard logo to open the menu
2. It shows "Log out", "Change password", and "Invite users" as options

**Expected behavior:**
Those 3 options should not be displayed when running as a plugin

**Platform:**
 - Focalboard plugin 0.8.1, Chrome 91 on macOS

[2021-07-16 16:36] tjbortz1s opened #740 "Bug: Group sorting causes other boards to fall out of alignment"
**Summary:**
When sorting groups moving one board will seem to randomly (or pseudo randomly) cause groups to go out of order.

**Steps to reproduce the behavior:**
This occurs any time I attempt to sort boards into the order they're meant to be in.

**Expected behavior:**
When I drop a board into a spot, it should not leave that spot until I drop another board into its position

**Screenshots:**
!

[2021-07-16 16:43] tjbortz1s opened #741 "Bug: Swapping between board group by status causes hidden groups to unhide"
**Summary:**
swapping status on group by causes hidden groups to unhide.

Rearranging boards can also cause this to occur, but that seems to happen less consistently?
(edit - just watched it happen so this for sure is a thing)

**Steps to reproduce the behavior:**
Hide a group.
Change group by option
Change back
Group will be unhidden.

**Expected behavior:**
Group remains hidden.

**Screenshots:*

[2021-07-16 18:09] chenilim opened #742 "Bug: Property values disappear when renaming property"
**Steps to reproduce the behavior:**
1. Open a card (e.g. from the Project management template)
2. Rename a Select property (e.g. Priority)
3. The values become "(UNKNOWN)"

**Expected behavior:**
The values should be unaffected by a property rename

**Screenshots:**
https://user-images.githubusercontent.com/46905241/125990822-37b94f62-1164-4503-a9eb-90bc2602d9c9.mov

**Platform:**
 - Focalboard p

[2021-07-16 18:13] chenilim commented on #742
@hahmadia, could you help investigate this? It's a regression. We will want to cherry-pick a fix for release-0.8.0. Thanks. cc @harshilsharma63.

[2021-07-16 18:21] chenilim opened #743 "Bug: Card view title does not expand to fit width"
**Steps to reproduce the behavior:**
1. Open a card
2. Enter a long title, press enter
3. The title truncates in the middle of the card

**Expected behavior:**
The title expands to use the full width (with padding / margin) of the card view

**Screenshots:**
<img width="810" alt="Card title truncated" src="https://user-images.githubusercontent.com/46905241/125991924-39e4fc56-d304-4ced-b527-38b14fc

[2021-07-16 18:21] chenilim commented on #743
@hahmadia, can you help investigate? This is a regression, likely caused by a recent CSS change.

[2021-07-16 18:32] chenilim commented on #585
@harshilsharma63, looks like [this repros on v0.8.1 on the community server](https://community.mattermost.com/core/pl/s67o4ectgid3tcfm3tdnuhxura). Please verify, and please cherry pick the fix to the `release-0.8.0` branch when ready. Thanks.

[2021-07-16 19:34] chenilim opened #744 "Bug: Invite users dialog is cut off by sidebar"
**Steps to reproduce the behavior:**
1. Click on Focalboard logo to open menu
2. Select Invite Users
3. Invite users dialog is cut off on the right

**Expected behavior:**
The dialog shows completely

**Screenshots:**
<img width="355" alt="Invite users" src="https://user-images.githubusercontent.com/46905241/125999749-972b3fd0-01ed-4a85-b9c3-665dfff5cd21.png">

**Platform:**
 - Focalboard personal

[2021-07-16 19:35] chenilim commented on #744
Hi @hahmadia, one more to investigate. Likely due to a recent CSS change.

[2021-07-17 02:06] arunzco commented on #648
Its working with latest build. thanks guys.

[2021-07-17 02:06] #648 closed

[2021-07-17 02:39] arunzco opened #746 "Feature Idea: Board Delete Recovery focalboard mattermost plugin"
**Summary:**
An option to recover deleted boards will be great

**How important this is to me and why:**
Accidental deletes may happen so a recyclebin or trash will be great.

Importance: High

[2021-07-17 02:50] arunzco opened #747 "Bug: page reload loop"
**Summary:**
Focalboard page keeps reloading on attempt to change password from focalboard menu

**Steps to reproduce the behavior:**
1. Go to Focalboard
2. Click on Focalboard menu
3. Click on Change password , cancel it
4. the page keeps reloading

**Screenshots:**
https://gyazo.com/5e728799d04f30c496a7e3bc90eda9c7

**Platform:**
 - Bitnami Stack Mattermost 5.37  plugin 0.8.0

Hosted in Ubuntu w

[2021-07-17 16:01] #739 closed

[2021-07-17 16:05] chenilim commented on #747
Thanks @arunzco! The account actions are actually not valid on the plugin. This should be resolved with the fix for #739, which will hide those account actions on the plugin.

That said, there is an issue where navigating to `https://server/plugins/focalboard` results in an invite loop reload. This should be resolved in a future iteration of the plugin system.

Closing this as a dup for now.

[2021-07-17 16:05] #747 closed

[2021-07-17 16:16] kamre commented on #715
@chenilim skipping year is really easy with `react-intl` but it looks different in different locales:
![KanbanCardPreviewDateLocales](https://user-images.githubusercontent.com/5587620/126042900-6e762484-d922-435a-b052-99cfc403757b.gif)
Here first date is current year and so it is skipped. Is this what we expect to have?

Another big question is the input by user via _directly typing something into