[2021-10-22 16:52] ogi-m opened #1628 "Bug: Link Unfurl > No text is shown in the preview if the first content block isn't text"
## Steps to reproduce the behavior

1. Go Boards and create a card
2. Add an image content block on the top
3. Add a text content block below it and fill it with text
4. Copy a link to the card and post it in channels
5. Note that no text is shown in the preview because it fetches the text from the first content block

## Expected behavior

Text from the text content block should be shown in the p

[2021-10-22 17:04] ogi-m opened #1629 "Bug: Link Unfurl > Property text is unreadable on dark themes"
## Steps to reproduce the behavior

1. Make sure a card has a few _select_ type properties
2. Copy the link to the card and paste it in channels
3. In the preview, note the following:
- Card title and board title text color
- "_+n more_" text color
- Colors on the properties:

![properties_light](https://user-images.githubusercontent.com/15314183/138494357-fd78a1d3-4e8b-4000-951f-fd676c473a13.jpg)

[2021-10-22 17:14] ogi-m opened #1630 "Bug: Unfurl Link > Prevent scroll pop when loading posts in a channel"
## Steps to reproduce the behavior

1. Post a few links to cards in channels
2. Leave the channel and then return to it
3. Note that all the link previews are reloaded when the channel is opened and the post dimensions change

## Expected behavior

Posts should have a consistent height before and after loading a preview.

## Screenshots

Video:
https://i.gyazo.com/d6c868c73b43d6fb66ce541f7835ed5e.

[2021-10-22 18:41] chenilim opened #1631 "Feature Idea: Support compound filter statements"
## Summary

There are cases when compound filters are useful, mainly to handle OR clauses.

## How important this is to me and why

Importance: Low

Example compound filters:
1. Status = In Progress AND (Priority = 1 OR Severity = 1)
2. Priority = 1 AND (Owner = Joe OR Owner = Matt)

Filing this issue to track. It's relatively low priority for now, but please chime in if you have a stronger need f

[2021-10-22 18:47] MalikuMane opened #1632 "Select property text does not stop at the edge of the card."
## Steps to reproduce the behavior

1. Using a personal task template, click Properties -> status.
2. Change "To Do" to "A long select property for testing"

## Expected behavior
Test should stop at the right edge of the card.
## Edition and Platform

 - Edition: Personal Server
 - Version: v0.9.2
 - Browser and OS: Firefox 91.2 openSUSE Leap 15.3
![Screenshot_20211022_114724](https://user-images.

[2021-10-22 19:22] #1596 closed, assigned to nobody

[2021-10-22 19:24] #1602 closed, assigned to nobody

[2021-10-22 21:04] kirtilodha opened #1634 ""Add content" should be visible at all times"
## Summary

To let the user know that they can add more content, the option should be visible at all times.

Use cases: Better interaction

## Additional context/similar features
Screenshots

https://user-images.githubusercontent.com/67586672/138514641-bafec18a-b65d-453f-bfa2-557dfd4590b3.mp4

[2021-10-22 21:26] chenilim opened #1635 "Bug: Link Unfurl > Properties are truncated"
## Steps to reproduce the behavior

1. Paste a link to a card to trigger unfurl link
2. Notice that the properties are truncated in a narrow width

## Expected behavior

Select properties are visible, at least up to a more reasonable width.

## Screenshots

<img width="1025" alt="unfurl link" src="https://user-images.githubusercontent.com/46905241/138524475-0e34b882-047e-4e15-908a-36913a01fb3b.png

[2021-10-22 21:30] chenilim opened #1636 "Feature Idea: Link unfurl > Replace URL with title and link"
## Summary

When pasting in the URL to card to trigger unfurl link, the raw URL remains in the post:
<img width="1025" alt="unfurl link" src="https://user-images.githubusercontent.com/46905241/138524931-4a572383-18aa-4408-b5c6-1e1a574fa147.png">

We should replace the URL with [Card title](URL) instead.

## How important this is to me and why

Importance: Medium

This is purely aesthetic, but woul

[2021-10-23 14:13] AnonymerNiklasistanonym opened #1638 "Bug: Exporting boards on Manjaro Linux XFCE with Personal Desktop Edition results in an "Failed to open URI." error"
## Steps to reproduce the behavior

1. Go to a board
2. Select  "Export to CSV" or "Export to board archive"
3. See error in popup window:

[code]

or

[code]

4. The Snackbar does not get that there was an error and says "Export Complete!"

---

1. Select "Settings"
2. Select  "Export archive"
3. See error in popup window:

[code]

## Expected behavior

In the Windows App Store installation on my

[2021-10-23 19:52] kirtilodha opened #1642 "Can't open pull requests for multiple commits"
https://user-images.githubusercontent.com/67586672/138569638-080a2ef0-896f-4865-a0ae-34b6e216fc88.mp4

[2021-10-24 04:25] kamre opened #1646 "Bug: bad positioning of registration error message"
## Steps to reproduce the behavior

1. Start fresh standalone server
2. Register first user and log out
3. Goto registration page and try to register second user without invite link
4. See error message, it is not positioned correctly

## Expected behavior
The message should be inside the wrapper container or outside but not overlapping.

## Screenshots
![image](https://user-images.githubuserconte

[2021-10-24 06:54] prakharporwal opened #1647 "Bug: ViewMenu Component : name prop string should be Internationalized."
## Steps to reproduce the behavior

1. Go to webapp/src/components/viewMenu.tsx
2. Scroll down to line 245

![image](https://user-images.githubusercontent.com/49529937/138637371-c2960a16-fd4b-4c23-a9fb-1e9fc87ad76f.png)
The Gallery keyword is not changing with language
## Expected behavior

"name" property should be formatted for localization

[2021-10-25 05:45] harshilsharma63 opened #1653 "Add database level defau;t values for create at and update at columns"
## Summary

Currently, the `create_at` and `update_at` columns in various tables are nullable on the database level. Ideally, the columns should never have a null value and should reflect the correct creation/update time.

Following changes are needed to support this-
1. Update `create_at` and `update_at` columns in all focalboard tables (except blocks history table) to be filled by current timest

[2021-10-25 11:53] prakharporwal opened #1655 "Feature Idea: Show Warning when trying to delete a card"
## Summary
Someone may accidently delete a card when trying to duplicate a card in board view. And may lose all the progress on that card.

![image](https://user-images.githubusercontent.com/49529937/138678234-a8a04606-671a-4266-9d6b-5e9e6a37f6ea.png)

## What the new capability is.
Add up a confirmation dialog before deletion of the card .  Something similar to this.

![image](https://user-images

[2021-10-25 12:30] prakharporwal opened #1656 "Bug: wrong format of en.json file generated on windows dev environment"
## Steps to reproduce the behavior

1. cd into `./webapp` folder
2. run command `npm run i18n-extract`
3. file named `en.json;` ( with the semi-colon ) gets generated
4. incorrect file format gets generated below file format

## Expected JSON format

## Edition and Platform

 - Version: [e.g. v0.9.0]
 - Development OS:  Windows 10
 - Node : node 14.15.3

## Additional context
Works as expected in

[2021-10-25 12:30] biva opened #1657 "Bug: Edits are not displayed and need a refresh"
## Steps to reproduce the behaviour

1. Go to a board
2. Edit a card (either the title or the content)
3. Close it
4. The edit is not shown
5. Refresh (Ctrl + R)
6. The edit is shown

## Expected behaviour

The edit should be shown in step 4 above (it was the case before the update of the server to v6 and desktop client v5)
This is the same for deleting a card. And this is the same when using Matt

[2021-10-25 12:42] biva opened #1658 "Bug: board in a private channel is not shown"
## Steps to reproduce the behavior

1. Have a board _Invoice_ in the private channel _Admin_
2. Go to the list of boards
2. Toggle the button _Show empty_ (should be off, so that empty ones are _not_ shown)
3. See that the board _Invoice_ is not shown

## Expected behavior

All boards, including the ones in private channels, should be shown

## Edition and Platform

 - Edition: Windows 10 / Server

[2021-10-25 14:20] #1589 closed, assigned to harshilsharma63

[2021-10-25 14:57] sbishel opened #1659 "Code Debt - fix JSON inconsistencies"
We have a huge amount of inconsistencies related to camelcase, snakecase or even nocase. for example ```useSSL``` vs ```telemetryid```, vs ```prometheous_address```... some in the ```json``` some in the ```mapstructure```... probably we should try to be consistent there.

see https://github.com/mattermost/focalboard/blob/main/server/services/config/config.go

We should standardize on one standard

[2021-10-25 15:44] #1528 closed, assigned to hahmadia

[2021-10-25 17:10] ogi-m opened #1661 "Feature Idea: Limit card title length in Gallery View"
## Summary

Similarly to what was done for cards on board view ([title limited to 5 lines](https://github.com/mattermost/focalboard/pull/1548)), I feel the same should be done for gallery view.

![SharedScreenshot](https://user-images.githubusercontent.com/15314183/138739948-4df9dd00-e940-48b9-9568-3bce92614e9d.jpg)

## How important this is to me and why

Importance: Low

[2021-10-25 17:25] #1642 closed, assigned to nobody

[2021-10-25 22:11] chenilim opened #1663 "Feature Idea: Remove unused GitHub workflows"
## Summary

Propose deleting, to reduce maintenance, future errors, and confusion:
* build-mac.yml
* build-ubuntu.yml
* build-win-wpf.yml
* plugin-release.yml

## How important this is to me and why

Importance: Low

This will simplify official builds to just 2 actions:
* dev-release.yml
* prod-release.yml

The remaining other actions are for CI.

[2021-10-26 00:12] chenilim opened #1664 "Bug: Sort by date doesn't work"
## Steps to reproduce the behavior

1. Create several cards with a date property
2. Set the date property to different values
3. Create a board view, and sort by date
4. Order doesn't change
5. Sort by date descending
6. Order doesn't change
7. Create a table view and sort by date
8. Order doesn't change
9. Sort by date descending
10. Order doesn't change

## Expected behavior

Card order changes

[2021-10-26 05:15] MartinHannah opened #1665 "Bug: Focalboard did not install properly on mattermost 5.3.6 running on Docker the message in System logs was "This usually means that the plugin is either invalid or simply needs to be recompiled to support the latest protocol""
## Steps to reproduce the behavior
Installed using the following procedure: https://youtu.be/V_pLVc4K-1g

## Expected behavior
Normal operation as in video
A clear and concise description of what you expected to happen.
Focalboard icon was missing

If applicable, add screenshots to elaborate on the problem.
![image](https://user-images.githubusercontent.com/36984546/138980530-d5befa00-7b2d-48ce-88

[2021-10-26 11:28] #839 closed, assigned to nishantwrp

[2021-10-27 13:02] ogi-m opened #1678 "Bug: Link Unfurl > "+n more" text is unreadable on dark themes"
## Steps to reproduce the behavior

1. Set a dark theme
2. Go to Boards and create a card with several properties
2. Copy the link to the card and paste it in channels
3. In the preview, note the unreadable "+n more" text

## Expected behavior

The text should be clearly readable on a dark theme.

## Screenshots

![carddarktheme](https://user-images.githubusercontent.com/15314183/139070656-06044a2

[2021-10-27 15:42] #1663 closed, assigned to nobody

[2021-10-27 18:22] haroldm opened #1680 "Bug: Board emoji favicon is cropped on Firefox"
## Steps to reproduce the behavior

Left pixels of any emoji favicon are cropped on Firefox (using latest version).

## Expected behavior

Like on Chrome, favicon is not cropped.

## Screenshots

I provide screenshots of Chrome and Firefox on macOS. This bug has also been reproduced by me on Windows with a standard DPI screen.

Firefox:
![image](https://user-images.githubusercontent.com/10910691/1

[2021-10-27 18:53] #1630 closed, assigned to hahmadia

[2021-10-27 18:53] #1635 closed, assigned to hahmadia

[2021-10-27 18:53] #1678 closed, assigned to nobody

[2021-10-27 18:53] #1625 closed, assigned to hahmadia

[2021-10-27 18:53] #1626 closed, assigned to hahmadia

[2021-10-27 18:53] #1627 closed, assigned to hahmadia

[2021-10-27 18:53] #1629 closed, assigned to hahmadia

[2021-10-28 15:07] chenilim opened #1685 "Bug: Opening a link to a private board or card shows the add board from template UI"
## Steps to reproduce the behavior

1. Create 2 accounts on the Mattermost server (A and B)
2. Log in with account A, create a private channel
3. Create a board associated with that private channel (so that only account A has access)
4. Copy and paste the link to the private board in a public channel (e.g. Town Square)
5. Log in with account B
6. Select the link in the public channel
7. The add bo

[2021-10-28 15:36] craftamap opened #1686 "Feature Idea: Image Processing on upload"
## Summary

When uploading images, they should be processed (resized+compressed+meta data trimmed). This can help reducing loading times, as images are smaller.

## How important this is to me and why

Importance: Medium

Use cases:
1. Image compression
2. Image Resizing
3. Privacy, when private information is trimmed
4. Loading time improvements

## Additional context/similar features

Most (soci

[2021-10-28 15:52] JamesDAdams opened #1687 "Feature Idea: Web App"
## Summary

Web app for mobile device

## How important this is to me and why

Importance: High

## Additional context/similar features

Any examples of good implementations of this capability.

[2021-10-28 16:03] chenilim opened #1688 "Setting a board calculation should set it for all groups (columns)"
## Steps to reproduce the behavior

1. Open a board with multiple columns
2. Select the summary value of the first column
3. Change it to something (e.g. sum of estimate)
4. The summary values of other columns aren't changed

## Expected behavior

Setting the summary value should set it for all groups (columns).

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.10.0 RC1
 - Bro

[2021-10-28 16:07] chenilim opened #1689 "Hovering over a board calculation should show a tooltip summary"
## Summary

When hovering over the board column summary calculation, a tooltip should show the current active calculation, e.g.:
"Sum of estimate", "Count value of category", etc.

## How important this is to me and why

Importance: Medium

While the user can currently see the calculation by expanding the menu, this requires multiple clicks. In a read-only board, the viewer may not be able to see

[2021-10-28 16:25] chenilim opened #1690 "Bug: Default card template on a board template adds a card to the template, not the board"
## Steps to reproduce the behavior

1. Click on +, and select "+ New Template", name the new template "Board template"
2. Click on the dropdown off the New button
3. Select + New template (new card template)
4. Name the new card template (e.g. "Card template")
5. Click on the dropdown off the New button again
6. Click on the "..." menu for "New card template", and select "Set as default"
7. Now cr

[2021-10-28 16:33] chenilim opened #1691 "Bug: @mention links don't open the card"
## Steps to reproduce the behavior

1. Create a board off a public channel
2. Create a card
3. Add a `@mention` to a comment, e.g. "Hey @user2, check out this card"
4. Log in as user2
5. Click on the card link in the DM
6. The dashboard appears

## Expected behavior

The card should appear

## Screenshots

If applicable, add screenshots to elaborate on the problem.

## Edition and Platform

 - Edi

[2021-10-28 16:36] #1691 closed, assigned to nobody

[2021-10-28 16:58] chenilim opened #1692 "Feature Idea: Show card preview in @mention notification DM"
## Summary

Show the card preview in the DM notification.

## How important this is to me and why

Importance: Medium

This would make links to cards consistent.

[2021-10-28 18:20] JamesDAdams opened #1693 "Bug: OCI runtime exec failed: exec failed: container_linux.go:367: starting container process caused: exec: "sh": executable file not found in $PATH: unknown"
## Steps to reproduce the behavior

1. Go to console in the docker container
2. I see this error : `OCI runtime exec failed: exec failed: container_linux.go:367: starting container process caused: exec: "sh": executable file not found in $PATH: unknown`

## Expected behavior

If i try to enter in edit container i have this error.

## Screenshots
![image](https://user-images.githubusercontent.com/2

[2021-10-28 19:21] chenilim opened #1694 "Bug: Adding a card from the + button at the top of a board group / column doesn't open the card"
## Steps to reproduce the behavior

1. Open a board
2. Click on the + button at the top of a column / group
3. A card is added, but not opened

## Expected behavior

The card should be auto-opened.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.10.0 RC1
 - Browser and OS: Chrome 93 on macOS

## Additional context

This is to make it consistent with adding a card from other

[2021-10-28 21:37] chenilim opened #1696 "Bug: Board calculations menu shows repeated entries"
## Steps to reproduce the behavior

1. Export the [Focalboard v1 team board](https://community-daily.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/47aa9bb4-6967-4a96-83c7-11bd6b20f1eb/7e38eab4-890a-4fc3-8f48-a1f9bd1ab822) as an archive
2. Import it into a test server running v0.10.0 RC1
3. Open the "By Target release" view
4. Select a column summary calculation
5. Notice that the menu

[2021-10-28 21:39] tjbortz1s opened #1697 "Bug: Emoji icons show grey on main board but not when adding new card."
## Steps to reproduce the behavior

I honestly have no idea.  I think I accidentally opened the F12 menu at some point and this seemed to happen at around this time.  I looked in the CSS and couldn't find a trace of why the icons are looking this way.

Main board
![image](https://user-images.githubusercontent.com/6193065/139340007-b24687b7-00d4-4a9b-8a41-888d8df47091.png)
Editing
![image](https://

[2021-10-29 11:45] MatthiasReccius opened #1701 "Bug: Edits of "checkbox" content not saved when exciting with Esc-key"
## Steps to reproduce the behavior
1. Open any card (or create a new card)
2. Add a checkbox (or edit existing checkbox)
3. Edit its content
4. Exit the "content edit mode" (for lack of a better term) **with Esc-key**
5. Exit the card (in any fashion, Esc-key *or* clicking off card *or*  clicking "Close dialog")
6. Re-open the card

The changes made to the content are not saved.

## Expected behav

[2021-10-29 17:39] ogi-m opened #1702 "Bug: Card links don't open the card dialog when opened in the same tab"
## Steps to reproduce the behavior

1. Post a link to a card in channels
2. Click on the link (not the card preview) - user is taken to boards (in the same tab) and the card dialog opens
3. Return to channels
4. Click on the card link again - user is taken to boards but the card dialog doesn't open

## Expected behavior

The card dialog should open every time the user opens a link to a card

## Ed

[2021-10-29 17:39] #1567 closed, assigned to wiggin77

[2021-10-29 22:39] jufab commented on #835
This component appears to be unknown.
Maybe it's `propertyValueElement` now?
But there are already tests for this component.
@sbishel I think you can close this problem 😉

[2021-10-30 08:18] ironbyte commented on #1694
Hi, please assign this issue to me, thanks!

[2021-10-30 09:20] ironbyte commented on #1235
I'm also keen to take up this issue as well. I will make a separate PR for this. Please assign it to me, thanks.

[2021-10-30 10:06] asaadmahmood commented on #1634
@chenilim Sounds good.

[2021-10-31 07:41] kitarp29 opened #1707 "Bug: The images in the README are broken"
## Summary

The images in the README are broken.

## Screenshots
![image](https://user-images.githubusercontent.com/56778773/139573245-06f1861d-be1c-4614-b3fb-57b6106e01ad.png)

## Link to the documentation page

If applicable, link to the documentation page and/or section where you feel the improvement could be added. E.g. `https://github.com/mattermost/focalboard/blob/main/README.md'

[2021-10-31 07:42] kitarp29 commented on #1707
Please assign this issue to me @peterk

[2021-10-31 17:16] Genei180 opened #1709 "Bug: Problem Building Application under Windows"
## Steps to reproduce the behavior
I followed the Steps described under: https://www.focalboard.com/contribute/getting-started/dev-tips/

After Step 5. Hit F5 and select Go: Launch Server

The following Error Occurs for me on a Windows System:
`Unable to unlink socket.  "server/server.go:378"="The system cannot find the path specified."`

The file path that should be opened under windows after the

[2021-10-31 17:17] Genei180 commented on #1709
I am already Working on a Fix, but it still needs to be Tested on Windows

[2021-11-01 05:25] #855 closed

[2021-11-01 05:27] #857 closed

[2021-11-01 05:35] #828 closed

[2021-11-01 06:26] #1498 closed

[2021-11-01 09:04] JamesDAdams opened #1712 "Bug: impossible to register more than one user"
## Steps to reproduce the behavior

Try to register 2 user

## Expected behavior

![image](https://user-images.githubusercontent.com/20860324/139647924-5be2888e-8714-4212-aa76-b62a3eb655ca.png)
## Edition and Platform

![image](https://user-images.githubusercontent.com/20860324/139648261-f7e2875b-04da-4f14-ab4d-09a11e9e03d7.png)

 - Edition: Personal Server  Docker
 - Version: latest
 - Browser an

[2021-11-01 09:09] JamesDAdams commented on #1712
When trying to register a second user there is nothing in Authorization

![image](https://user-images.githubusercontent.com/20860324/139648668-62b6c6d2-bdcc-4654-a142-5c629cd2d26a.png)

[2021-11-01 13:08] #854 closed

[2021-11-01 14:23] #1647 closed

[2021-11-01 15:05] hahmadia commented on #1432
This issue is up for grabs again.

[2021-11-01 15:53] asaadmahmood commented on #963
I also think 1. makes the most sense.

[2021-11-01 15:55] chenilim commented on #1634
Closing as "by-design" for now, but feedback noted - we should make our controls more "Fast, Obvious, and Forgiving".

[2021-11-01 15:55] #1634 closed

[2021-11-01 16:48] nishantwrp commented on #1432
I'd like to work on this issue.

[2021-11-01 16:49] asaadmahmood commented on #1432
Go ahead @nishantwrp

[2021-11-01 18:39] chenilim commented on #1697
No idea why the outline is thicker on zoomed out emojis on Windows. Anyone know? Putting it up for grabs.

[2021-11-01 19:18] nishantwrp commented on #1082
++ I think this issue can be closed as #1323 is merged.

[2021-11-01 19:21] chenilim opened #1716 "Bug: Clicking on the Boards channel header button opens in a new window with Safari"
## Steps to reproduce the behavior

1. Open a channel with Safari
2. Click on the Boards channel header button at the top right
3. Boards opens in a new window

## Expected behavior

Boards should open in a new tab

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.9.4
 - Browser and OS: Safari 15.1 on macOS 11.6.1

## Additional context

It opens in a new tab with Chrome.

[2021-11-01 19:22] chenilim commented on #1716
I believe this is a regression, but it may also be caused by Safari 15. Anyone have any ideas what might have changed?

[2021-11-01 20:44] chenilim commented on #1116
Thanks @nishantwrp, and sorry for the delayed response. It looks like the Swagger comments need to be cleaned up. Or the generated index.html at least - e.g. the [title here](https://github.com/mattermost/focalboard/blob/main/server/swagger/docs/html/index.html#L5) should be "Focalboard Server".

As for hosting the docs, I think the simplest next step is to add an "API Documentation" page to the [

[2021-11-02 00:59] #1451 closed

[2021-11-02 01:17] sbishel opened #1717 "Revisit and fix todos in TableHeaderMenu.tsx."
Investigate and determine if the TODOs should still be done or removed from the code.

These deal with inserting additional properties (columns) while on the title column.  Currently, we just fail silently.

Insert Right should be able to be implemented without issue, inserting an item to the right of the title column should not be an issue.
https://github.com/mattermost/focalboard/blob/main/webap

[2021-11-02 01:18] #1348 closed

[2021-11-02 09:48] nishantwrp commented on #1116
Hi @chenilim, thanks for the response. I think the schema and examples not being displayed is not a problem with our Swagger files or generated index.html. It's an issue with the `htmlpreview.github.io` maybe the site that we use for hosting the docs. The link also has console errors.

<img width="1321" alt="Screenshot 2021-11-02 at 3 03 24 PM" src="https://user-images.githubusercontent.com/369891

[2021-11-02 10:01] gabrielctn commented on #1536
As I mentionned in the 1st post, when trying to open a particular table in the Boards of a channel, the program is trying to fetch an non-existing team "mattermost":
![image](https://user-images.githubusercontent.com/25644865/139825820-e484c0ca-a67f-4c1d-91e3-4eaf35574406.png)
Maybe that this generates the next WebSocket issue ?

[2021-11-02 10:06] gabrielctn commented on #1536
I modified the issue title and my previous post because I figured the issue actually occurs on all Desktop versions. Only the Web Browser (Chrome) works fine.
The fact that it works on the browser version means that it is most likely not a server-side Apache configuration issue, but probably something wrong going on in the App. Can somebody please help with this ? I really need this to work for my

[2021-11-02 11:19] sarvani1997 commented on #1664
I would like to work on this.

[2021-11-02 12:22] mgdelacroix commented on #1316
@chenilim Could not reproduce this exact behaviour. With the current server `master`, what's happening is that the plugin gets restarted server side and reloaded client side. The consequence of this is that the server loses the websockets connections data, so the client needs to reconnect.

A quick way of solving this is to refresh the page on plugin update, as the websocket connection is getting

[2021-11-02 12:37] mgdelacroix commented on #1515
@chenilim could not reproduce the error, although your analysis makes sense. There is a potential issue here, as running into this error would cause the plugin to fail on start. If the errored plugin node is restarted everything would work fine, hence the lack of visible consequences of this.

What we could do to mitigate this is to avoid failing if the templates are not inserted, so the second no

[2021-11-02 12:55] sarvani1997 commented on #1690
I would like to work on this.

[2021-11-02 13:43] hahmadia opened #1721 "Bug: Text doesn't in Kanban Board Calculation when too long"
## Steps to reproduce the behavior

Choose Date Range for Date, Notice that the Text show up like the following in the Kanbard Board Calculation
![image](https://user-images.githubusercontent.com/17804942/139858608-930d3ec2-4179-499d-85b8-0689d1ecd78b.png)

## Expected behavior
Shows without wrapping? or maybe a larder header?

## Screenshots

![image](https://user-images.githubusercontent.com/178

[2021-11-02 15:03] #1436 closed

[2021-11-02 16:15] sbishel opened #1723 "Bug: Number property accepts non numeric input."
## Steps to reproduce the behavior

1. Go to Properties
2. Create a Number property
3. Add text to the number property "hello world"
4. Text is accepted

## Expected behavior

Non numeric input should be rejected.

## Screenshots

![Screen Shot 2021-11-02 at 10 14 42 AM](https://user-images.githubusercontent.com/12704875/139901604-ee238e7b-bbc5-4c2d-ae8c-b5ee77097238.png)

## Edition and Platform

[2021-11-02 16:19] sbishel opened #1724 "Bug: Dragging column in Table view trades columns, rather than inserting"
## Steps to reproduce the behavior

1. Go to a table view
2. Create at least 3 columns (1,2,3)
3. Drag column 3 to column 1
4. Column 1 and 3 switch rather than moving dragged column (3,2,1)

## Expected behavior

Columns should be ordered 3, 1, 2..

## Screenshots

Uploading Nov-02-2021 07-21-11.mp4…

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: [v0.10.0]
 - Browser and OS:

[2021-11-02 16:25] ogi-m opened #1726 "Bug: Group names don't always get saved"
## Steps to reproduce the behavior

1. Go Boards
2. Create a new board and select "Start with an empty board"
3. Click "+Add a group"
4. Rename the new group to "Group 1"
5. Repeat steps 3 & 4 a few times (create Group 2, Group 3, etc)
6. Refresh the page and note that not all of the names were saved (some group titles will have reverted to "New Group" after a refresh)

## Expected behavior

The c

[2021-11-02 16:27] chenilim opened #1727 "Bug: Board calculations: Dates are cut off"
## Steps to reproduce the behavior

1. Go to a board
2. Select a column calculation
3. Select "Latest date" or "Date range"
4. Display is cut off

## Expected behavior

The date should be displayed.

## Screenshots

<img width="280" alt="Screen Shot 2021-11-02 at 9 22 35 AM" src="https://user-images.githubusercontent.com/46905241/139905519-9ebf32a7-6f2e-4557-8518-fc2227b911ad.png">

## Edition and

[2021-11-02 16:33] jespino opened #1728 "Bug: Dark theme is incorrectly applied"
## Steps to reproduce the behavior

1. Got to mattermost (using the Denim theme).
2. Create a new post with a link to a card with at least one select property with a color selected.
3. See the unfurl version of the card in mattermost, the colors of the select properties should be shown
4. Change the theme to a dark theme.
5. The colors now are shown wrongly.

## Expected behavior

The colors keep

[2021-11-02 16:36] mgdelacroix opened #1729 "Bug: shared boards are not loading correctly"
## Steps to reproduce the behavior

1. Enable shared boards
2. Share a board and copy the shared URL
3. Open the shared URL either in a logged in session or an incognito one

## Expected behavior

The shared board should appear

## Logs

[code]

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.10.0 RC
 - Browser and OS: Firefox 93 Linux

[2021-11-02 16:40] chenilim opened #1730 "Bug: Search doesn't clear when changing views"
## Steps to reproduce the behavior

1. Open a board
2. Enter text in the search box and press enter, view is filtered
3. Switch to another view
4. The new view is still filtered by the search box

## Expected behavior

The search filter should clear when switching views

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.10.0 RC1
 - Browser and OS: Chrome 93 on macOS

[2021-11-02 16:44] wiggin77 opened #1731 "Bug: Horizontal drag&drop scrolling is difficult"
## Steps to reproduce the behavior

1. Create board view with cards in more groups than can fit on screen
2. Position bottom scroll bar to the far right
3. Grab a card and drag it to the left
4. Notice as you reach the edge of screen that it scrolls a bit, but you have to move the cursor back and forth to continue scrolling

## Expected behavior
Nice smooth scrolling experience

## Screenshots

![

[2021-11-02 16:51] mgdelacroix opened #1732 "Bug: filters are not including "person" type fields"
## Steps to reproduce the behavior

1. Create a property of type "person" on a card
2. Try to add a filter so that a board only shows cards with that property not empty

## Expected behavior

The app should allow me to create such filter, but I won't see the property amongst those I can use for a filter

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.10.0 RC
 - Browser and O

[2021-11-02 16:53] ogi-m opened #1733 "Feature Idea: Update Sort menu icon to show alphabetical order"
## Summary

The ascending/descending arrow in the Sort menu is ambiguous. Make the alphabetical order more clear by adding _A->Z_, _Z->A_ icons.

![sort_arrow](https://user-images.githubusercontent.com/15314183/139909953-e34b712c-6507-4f0c-83de-b0c2ab0d00ff.jpg)

## How important this is to me and why

Importance: Medium

[2021-11-02 16:56] chenilim opened #1735 "Bug: Menu scrollbar interrups sub-menu with Safari"
## Steps to reproduce the behavior

1. Open a board that has cards with multiple properties
2. Click on the column calculations
3. Try to select an item in a sub-menu, moving the mouse slowly
4. When the mouse enters the sidebar, the menu closes

## Expected behavior

Able to easily select items in the sidebar

## Screenshots

https://user-images.githubusercontent.com/46905241/139910324-989d4e63-5

[2021-11-02 16:58] sbishel opened #1736 "Bug: Kanban creating new Group via header doesn't hold cards"
## Steps to reproduce the behavior

1. Go to Kanban board
2. Create a new group via header
3. Either move an existing card or create a new card in that group.
4. Group disappears

## Expected behavior

Expect card to be moved or created in that group.

## Screenshots
https://user-images.githubusercontent.com/12704875/140178504-e0101708-154e-4f19-8745-18ede66f6831.mp4

## Edition and Platform
 - Ed

[2021-11-02 17:00] mgdelacroix opened #1737 "Bug: I can export from the empty boards screen"
## Steps to reproduce the behavior

1. Go to a workspace that doesn't have any boards
2. Try to export from the settings menu
3. An empty `.focalboard` file will be generated

## Expected behavior

I should not be able to export from a non-board screen

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.10.0 RC
 - Browser and OS: Firefox 93 on Linux

[2021-11-02 17:06] mgdelacroix commented on #1729
The underlying error with the code unobscured seems to be:

[code]

[2021-11-02 17:16] chenilim commented on #685
Hi @ZevSwe and @pydubreucq, just following up on this old issue. Are you still seeing problems with more recent builds? E.g. v0.9.2: https://github.com/mattermost/focalboard/releases/tag/v0.9.2

[2021-11-02 21:05] wuwinson opened #1740 "Feature Idea: Manage Views from Sidebar"
## Summary

As of v0.10, a user can only add/delete/duplicate views from the dropdown menu within the specific view's page. This menu should be accessible on the sidebar so users can manage their views more easily and intuitively.
![Screen Shot 2021-11-02 at 4 46 19 PM](https://user-images.githubusercontent.com/93531870/139949275-ea88e16b-5553-45ec-8dc0-b2201fcf859c.png)

## How important this is

[2021-11-03 04:06] #1696 closed

[2021-11-03 04:23] harshilsharma63 commented on #1696
Merged in main and cherrypicked in `release-0.10`.

[2021-11-03 04:59] #1597 closed

[2021-11-03 05:00] Prassud commented on #425
Hi @cpanato, started working on this issue, will raise with in this week.

[2021-11-03 07:57] gkoritnik commented on #1657
Same issue:
Mattermost server version: 6.0.2
Focalboard plugin version: 0.9.4
Server OS: Docker version 20.10.6

[2021-11-03 10:57] huyifanstar opened #1742 "Is there any client that supports filling in the address of the self-built server?"
I deployed focalboard using docker today, is there a client that supports filling in the address of the self-built server?

Do you support importing Notion's templates?

[2021-11-03 11:32] #1646 closed

[2021-11-03 12:14] #1469 closed

[2021-11-03 12:25] harshilsharma63 commented on #1484
[Over here](https://github.com/mattermost/focalboard/blob/f6c867b4afe8ee6e0e0abef536192d4a8c61d2c1/server/services/store/mattermostauthlayer/mattermostauthlayer.go#L435) in the API we split the channel name to get the two user's ID between whom the DM channel is. We can add a check if both user IDs are the same, then return the display name as just the first user's name.

[2021-11-03 12:41] ssensalo commented on #1484
I adjusted [Here](https://github.com/mattermost/focalboard/blob/f6c867b4afe8ee6e0e0abef536192d4a8c61d2c1/webapp/src/pages/dashboard/centerContent.tsx#L96) to achieve exactly what @wiggin77 & @chenilim suggested since they intend to replace channel based permissions with board based permissions.
Only that I am current having env setup issues, I hope to fix those soon and make a PR

[2021-11-03 15:22] #1729 closed

[2021-11-03 15:29] tolgaulas opened #1745 "Bug: Unable to unlink socket. caller="server/server.go:378" error="no such file or directory""
## Steps to reproduce the behavior

1. docker run -it -p 80:8001 mattermost/focalboard

## Expected behavior
No error.

## Screenshots
![image](https://user-images.githubusercontent.com/1431106/140091202-9ed17d20-e5c7-42e8-8511-c554786c9002.png)

## Edition and Platform

 - Edition: Personal Desktop
 - Version: docker image

## Additional context

docker image gives error on the subject at startup

[2021-11-03 16:03] #1432 closed

[2021-11-03 17:12] biva commented on #1657
Welcome @mgdelacroix :) I'm not sure, but this issue might be related, as it appeared for me at the same time (when I upgraded from 5.39 to 6.0.1: https://github.com/mattermost/focalboard/issues/1658

[2021-11-03 17:37] mgdelacroix commented on #1657
Thanks for the pointer @biva!

Could you please check if the URL of the board that is not working starts with `/plugins/focalboard`? That URL schema is deprecated and would cause the interface not to show any updates. The right URL should start with `/boards` instead.

If that's not the case, could you please try to reproduce the issue in a browser and if it happens, reply with:

- Mattermost and

[2021-11-03 18:10] #1515 closed

[2021-11-03 18:23] FilBot3 commented on #1126
The `~/.local/share/applications/Focalboard.desktop` looks like

[code]

I don't have an icon though.

[2021-11-03 19:18] chenilim commented on #1740
@asaadmahmood, what do you think? Should we make this change as a community ticket?

[2021-11-03 19:18] chenilim commented on #1737
Putting this up for grabs.

[2021-11-03 19:20] asaadmahmood commented on #1740
@chenilim This will no longer be relevant with the migration, so not sure.

[2021-11-03 19:23] chenilim commented on #1735
There should be no gap between the submenu and menu.

[2021-11-03 19:26] chenilim commented on #1733
@asaadmahmood, please replace the icons as discussed. Thanks.

[2021-11-03 19:29] chenilim commented on #1732
Putting this up for grabs. Note that we want to be able to group and filter by all property types (eventually).

[2021-11-03 19:30] chenilim commented on #1731
Putting this up for grabs - it seems that the direct improvement would be to increase the area for which the board scrolls. What do you think @asaadmahmood?

[2021-11-03 19:32] chenilim commented on #1730
FYI @asaadmahmood, do you agree with this chane?

[2021-11-03 19:38] chenilim commented on #1727
Suggest looking at adding a "nowrap" and "truncate after X width" CSS style. And the tooltip should show the full value. What do you think @asaadmahmood?

[2021-11-03 19:42] chenilim commented on #1724
Agree, let's fix this for v0.10 unless it's risky.

[2021-11-03 19:52] chenilim commented on #1723
Let's think about this more.
Propose: Add a warning for validation. E.g. "Text123 is not a number" [Accept anyway] [Cancel]???

[2021-11-03 19:54] chenilim commented on #1721
@hahmadia, this is a dup of another bug I filed. Please close one of them as a dup. Thanks.

[2021-11-03 19:57] chenilim commented on #1693
Putting this up for grabs. Anyone else see this issue?

[2021-11-03 20:14] mickmister opened #1749 "Plugin marketplace icon should be Focalboard's icon"
Here's the icon that is currently displayed in the marketplace:

<img width="400px" src="https://user-images.githubusercontent.com/6913320/140185390-1a17bd60-5ceb-4024-ac8a-82b0f9c7f6b4.png"/>

-----

The icon can be changed in `plugin.json`:

https://github.com/mattermost/focalboard/blob/751f632c36b308670fa806c86238940d2c5f9d5a/mattermost-plugin/plugin.json#L8

https://github.com/mattermost/focal

[2021-11-03 20:54] jwfox5150 opened #1750 "Feature Idea: Email Notifications"
## Summary

Email notifications when a person is assigned to a task / task status is changed

## How important this is to me and why

Importance: Medium
This would complete my needs with this software

Use cases:
1. Person is assigned to a task and receives notification via email
2. Task of which someone is assigned has a status change, person who is assigned receives notification via email

[2021-11-03 21:08] chenilim commented on #1690
Thanks @sarvani1997, but we decided this looks like a P1 issue we should investigate - it might be a problem in the object model workflow. Assigned to @hahmadia.

[2021-11-04 08:10] gkoritnik commented on #1657
Thanks @mgdelacroix for info..
I checked the value for **ServiceSettings.EnableReliableWebSockets** and the value was set to **false**.
After changing this settings to **true** refresh **started to work**!
So in my case this was the solution.

Before changing this value, I checked the value in new deployment and it was set to true. So I suspect that after upgrade this settings is not set correctly

[2021-11-04 08:47] mgdelacroix commented on #1657
Thanks @gkoritnik and glad it's working now! The `EnableReliableWebSockets` should be `true` for new installs on newer versions, but it was set to `false` when it was first released, so for long running installs it's possible is set to false.

Can you please confirm the version of the plugin on the installation that is now working but wasn't before?

[2021-11-04 09:07] gkoritnik commented on #1657
Hi @mgdelacroix.
I can confirm Boards plugin version v0.9.4 and Mattermost server version 6.0.2.

[2021-11-04 09:26] biva commented on #1657
Excellent! I changed it to `true` and it's solved for me as well (see the details of my config here: https://github.com/mattermost/focalboard/issues/1657#issuecomment-952671324)

https://github.com/mattermost/focalboard/issues/1658 is not solved though, so I guess it's a different issue :(

[2021-11-04 09:40] kamre opened #1754 "Feature Idea: badges for kanban/gallery cards"
## Summary
Cards can contain different types of content inside them. It will be useful to know what is inside the card on kabban board or in the gallery without opening the dialog for it.

This can be done with help of additional information that will be shown at the bottom of the card. So called "badges" that give quick summary about what is inside. Here how it can look:
![CardBadgesPOC](https://

[2021-11-04 10:43] #1351 closed

[2021-11-04 13:35] #837 closed

[2021-11-04 13:38] hahmadia commented on #1721
Closing this as a duplicate. Thanks Chen

[2021-11-04 13:38] #1721 closed

[2021-11-04 15:51] #1510 closed

[2021-11-04 17:48] chenilim opened #1756 "Feature Idea: Auto-sync card with GitHub"
## Summary

(Created from [this thread](https://community.mattermost.com/core/pl/d99j4u4eu3dkueg1ta5qrn9jxe)) It would be great to have a card be automatically created when an issue is created on a Github repo; and conversely, a Github issue be created when we create a card in MM.

## How important this is to me and why

Importance: Medium

## Additional context/similar features

Opening this up f

[2021-11-04 19:16] jespino commented on #1702
This is again related to the routes, for some reason is getting the route from the history object of mattermost side instead of getting the route from the history object in the focalboard side. I have to investigate it more.

[2021-11-04 21:38] chenilim opened #1760 "Bug: Share Boards dialog is too narrow until switch is turned on"
## Steps to reproduce the behavior

1. Open a board, on a server with Share boards enabled
2. Open the  ... menu and select "Share board"
3. Notice that the dialog is narrow
4. Enable the switch
5. The dialog expands

## Expected behavior

The dialog should be a consistent (or at least minimum) width

## Screenshots

<img width="330" alt="Screen Shot 2021-11-04 at 2 35 16 PM" src="https://user-ima

[2021-11-04 21:39] chenilim commented on #1760
@asaadmahmood, what do you think the expected behavior should be here? E.g. should we set a minimum width on the dialog? It's pretty minor, and we can close won't fix if you don't think it's worth it. Thanks.

[2021-11-04 21:49] chenilim commented on #450
Bumping up the priority on this, and putting it up for grabs. I think the basic requirements would be:
1. Upload a .CSV file, with column headers that exactly match the property names of the cards
  a. This should match the columns when exporting a CSV file, but note that those columns depend on what's visible in the view
  b. There must be a "Name" column at a minimum. Cancel if not.
2. P2: Confi

[2021-11-04 22:46] brimwats commented on #450
it may also help to look at exports to csv from airtable or notion as they currently exist, a checkbox is exported as "checked" from both for example. this would be useful if a future feature that allowed auto-importing of property types was implemented

[2021-11-05 12:10] Dogsarelovely opened #1764 "Feature Idea: How to modify username？"
## Summary

1. How do users modify their usernames？
2. Can I have an administrator account to change someone else's user name？

[2021-11-05 14:26] sbishel opened #1765 "Enhancement: When filtering by same field as grouping, hide filtered group header by default"
## Summary

When you filter by the same field as being grouped, hide the filtered column headers by default. (or provide some other visual means to understand why cards disappear.

## How important this is to me and why

Importance: Low

Use cases:
1. When dragging to column of a header not included in the filter, the card disappears.

## Additional context/similar features

https://user-images.gi

[2021-11-05 14:27] sbishel commented on #1736
This was user error. In the above screen, the filter was set to `status contains Ready, Another Status`. So when dragging to a status that wasn't included in the filter the card seemed to disappear.

Opened https://github.com/mattermost/focalboard/issues/1765 to discuss.

[2021-11-05 14:27] #1736 closed

[2021-11-06 13:02] fksu opened #1766 "Boards not respecting Site URL"
## Steps to reproduce the behavior
1. Setup Mattermost with Focalboard behind a reverse proxy forwarding through a prefix (https://site.com/mattermost).
2. Go to Boards (URL changes to https://site.com/boards/welcome while still working).
3. Refresh the page.
4. See 404.

## Expected behavior
URL stays beyond https://site.com/mattermost (as defined via Site URL).

## Edition and Platform
 - Editio

[2021-11-08 07:08] lindy65 opened #1767 "Bug: v0.10.0 Windows & Mac standalone app - not able to attach an image to a card in Gallery view"
I've reproduced locally on the Windows app (don't have a Mac to repro locally on this OS)

## Steps to reproduce the behavior

1. Download the Windows or Mac standalone app from the links below:
    - Windows: https://focalboard-builds.s3.amazonaws.com/latest/focalboard-win.zip
    - Mac: https://focalboard-builds.s3.amazonaws.com/latest/focalboard-mac.zip
2. Create a board
3. Add a Gallery view
4

[2021-11-08 08:02] ikkinophoenix opened #1769 "Bug: Boards not make the change without Ctrl+R"
## Steps to reproduce the behavior

1. Go to Boards
2. Select  a current table
3. Move a card to another column or make a modification on a card
4. See error : the refresh is not automatic, i have to do a "Ctrl+R" to see the change

## Expected behavior

I have to do the "Ctrl + R" manipulation to refresh the page with each modification on a table (new cards or update of existing cards, moving a c

[2021-11-08 10:11] MatthiasReccius commented on #1701
Great job! I had to ditch the Windows Store version to use the feature.

But indeed, this addition solves the Esc-key problem on new checkboxes that contain text. Very practical feature in itself as well!

Thank you, @kamre !

[2021-11-08 10:12] #1701 closed

[2021-11-08 10:29] MatthiasReccius commented on #305
A feature like this also makes sense in a non team-related context.

**How important this is to me and why:**

Importance: High

Use cases:

    1. A kind of View across boards would be practical to stay on top of deadlines and personal schedule as well. A great feature for this "birds-eye View" would be filtering by due-dates for different time ranges: Say, overdue, due this week, due within 7 da

[2021-11-08 12:17] JamesDAdams commented on #1712
Is it only me who has this bug ?

[2021-11-08 14:52] #1728 closed

[2021-11-08 16:16] ogi-m commented on #1165
Users now get redirected to new routes when accessing via old saved links, thanks to [Miguel's PR](https://github.com/mattermost/focalboard/pull/1746), but the styling differences can still be observed on a shared board link.
Note the difference in font weight on the card titles:

![sharedboard](https://user-images.githubusercontent.com/15314183/140777962-d9985e3d-2889-4fa4-bf95-566ad1db257a.jpg)

[2021-11-08 16:23] chenilim commented on #1769
Hi @ikkinophoenix, thanks for reporting this! There is a known refresh issue that was fixed in [v6.0.2](https://mattermost.com/blog/mattermost-security-updates-6-0-2-5-39-1-5-38-3-and-5-37-3-extended-support-release/). You can also upgrade Boards to v0.9.4 in the Marketplace to apply the fix:
1. Open the top-left menu in Mattermost, and select "Marketplace"
2. Search for "Boards", and select "Upgr

[2021-11-08 17:08] #853 closed

[2021-11-08 17:52] chenilim commented on #1767
Thanks @lindy65! @ogi-m, could you check if this repros on plugin and / or Personal Server?

[2021-11-08 18:27] lindy65 commented on #1767
Apologies, I did not say but this does NOT repro on plugin on v0.10.0 on the Rainforest servers (nor on v0.9.4 plugin running on community servers)

[2021-11-08 19:08] chenilim commented on #1767
Thanks @lindy65! I also just tested this with the v0.10.0 RC2 Mac App, and it does not repro (able to attach an image to a card), so right now this seems to only affect Windows Personal Desktop (Personal Server and Linux App unknown at this point).

[2021-11-08 19:22] chenilim commented on #1767
Ok, more info: This bug **does repro** with the Mac build in the link above (not v0.10.0 RC2). Furthermore, I cannot update or add any content to a card, e.g. text, divider, etc. @lindy65 / @ogi-m do you see this too? It appears to be a bug on the main branch, but not release-0.10.0.

[2021-11-08 19:27] chenilim commented on #1767
I see this issue on a dev build too BTW. After a quick investigation, it appears that this broke after this PR: https://github.com/mattermost/focalboard/commit/fa36e092bb462d1b7d44b3d49a358c9fdfc1b778 (server generated IDs) - I tested the Mac App from the dev build before and after this PR. cc @mgdelacroix.

[2021-11-08 19:44] chenilim opened #1777 "Update changelog for v0.10"
Add major updates to the changelog for v0.10.

[2021-11-08 21:31] chenilim opened #1780 "Bug: Unfurl card links only unfurls the first link in a post"
## Steps to reproduce the behavior

1. Open a channel, and create a new post
2. Add links to two separate cards in the post
3. Only a preview of the first linked card is shown

## Expected behavior

Previews for all cards should be shown

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.10.0 RC2, Community server
 - Browser and OS: Chrome 93 on macOS

[2021-11-08 21:31] chenilim commented on #1780
cc @hahmadia, @ogi-m, not sure if this is a known limitation already. Not a high-sev for v0.10 IMO.

[2021-11-09 00:17] #1685 closed

[2021-11-09 00:19] chenilim commented on #1562
Closing this issue now that the basic Jira import script is checked in. However, there is a lot of room for improvement.

[2021-11-09 00:19] #1562 closed

[2021-11-09 02:40] TheShadow29 opened #1782 "Feature Idea: Hand Written notes support"
## Summary

Support for hand-written notes

## How important this is to me and why

Importance: Medium

Use cases:
1. Free-form hand-written notes with stylus during class/meeting notes.

## Additional context/similar features

OneNote and EverNote support this feature. If hand-written notes are non-trivial to do natively on focalboard, maybe some easy way to clone from one-note/ever-note could be

[2021-11-09 03:12] mickmister commented on #1749
@chenilim This ticket is a dependency of releasing the App Bar, which will be arriving earliest in December but will probably be pushed back a bit.

[2021-11-09 05:49] lindy65 commented on #1767
Hey @chenilim - I do not have a mac so I'm not able to help repro the issues you found.

[2021-11-09 08:27] ikkinophoenix commented on #1769
Hi

It's ok now !!

I solve it with update the settings on file config.json

And it works !

Thanks

Regards

Jerome

De : Chen-I Lim ***@***.***>
Envoyé : lundi 8 novembre 2021 17:24
À : mattermost/focalboard ***@***.***>
Cc : Jérôme BOLOTRA ***@***.***>; Mention ***@***.***>
Objet : Re: [mattermost/focalboard] Bug: Boards not make the change without Ctrl+R (Issue #1769)

Hi @ikkinophoenix<https:

[2021-11-09 13:02] mgdelacroix commented on #1767
I don't have any Mac or Windows to try the fix, but I'm reproing on Linux as well, so I'm happy to fix it there and then check if the fix works for other OSs.

[2021-11-09 13:17] amyblais opened #1784 "Bug: Text layout issue on a board item"
Originally reported by Neil: https://mattermost.atlassian.net/browse/MM-39927

## Steps to reproduce the behavior

I added text content in a board item and created paragraphs. I then clicked on another element on the card (i.e. changed focus).

## Observed behavior

Depending on the focus point the text renders differently. When focused (i.e. click to edit) on the content it renders correctly. Whe

[2021-11-09 13:23] #1096 closed

[2021-11-09 13:27] #1724 closed

[2021-11-09 13:59] amyblais commented on #1549
@sbishel Kind note to prioritize for today's v6.1 code freeze. Or if this is not ready for today, just let me know what the ETA is.

[2021-11-09 14:14] ogi-m commented on #1780
@chenilim This is not specific to card links, the behavior is the same with any links in posts, only the first one gets previewed.

[2021-11-09 14:22] tjbortz1s commented on #1687
If you support web apps then you have to support iOS safari.

Unfortunately, iOS safari is a broken clusterfuck and is best avoided where at all possible.

[2021-11-09 14:34] kamre commented on #1784
Looks very similar to this one:
- #878

[2021-11-09 15:03] nab-77 commented on #1784
I agree that this indeed is very similar, so similar I would call this a dupe. Can be closed.

[2021-11-09 15:08] JamesDAdams commented on #1687
Doesn't work with chrome, mozila, opera...

[2021-11-09 15:09] chenilim commented on #1769
Thanks @ikkinophoenix!

[2021-11-09 15:09] #1769 closed

[2021-11-09 15:13] #1777 closed

[2021-11-09 15:32] asaadmahmood commented on #1024
Test

test

[2021-11-09 15:34] sbishel commented on #1784
closed as dup of
https://github.com/mattermost/focalboard/issues/878

[2021-11-09 15:34] #1784 closed

[2021-11-09 15:42] sbishel commented on #1766
Investigate for 0.11

[2021-11-09 15:57] wiggin77 commented on #1780
This may be driven by performance concerns. Each unfurl is a round-trip to the server which is done at render time.

[2021-11-09 16:16] hahmadia opened #1788 "Feature Idea:"
## Summary
Displaying dates in an abbreviated format in Kanban view.
Currently long dates are shown in the following way:
![image](https://user-images.githubusercontent.com/17804942/140960843-b483cb50-4b34-4147-b611-c8160811df6f.png)

We want to fix it so that it is shown in an abbreviated format to give more context without needing to hover over it.

This doesn't show a lot of content and needs t

[2021-11-09 16:17] hahmadia commented on #1788
//cc @chenilim @asaadmahmood

Feel free to edit the original card with any information you would like.

[2021-11-09 19:50] #1692 closed

[2021-11-09 20:26] #1727 closed

[2021-11-09 20:39] #1664 closed

[2021-11-09 20:42] #994 closed

[2021-11-09 20:43] sbishel commented on #1481
Moved to 0.11 as PR still requires fixes.

[2021-11-09 21:10] chenilim commented on #1745
Thanks @tolgaulas! The workaround is to change the `enableLocalMode` setting to `false` in config.json. This will be fixed by https://github.com/mattermost/focalboard/pull/1650. Closing as a dup. Please reopen if the workaround doesn't work for you. Thanks.

[2021-11-09 21:13] chenilim commented on #911
Cleaning up old issues. This has been resolved for Windows: a zip file is included in each release, e.g. `focalboard-win.zip` in https://github.com/mattermost/focalboard/releases/tag/v0.9.2.

At this time we also publishing unsigned Mac App builds in release candidates, but not signed ones in release. Mainly due to the difficulty of automating the signing process. Most of the feedback to date has

[2021-11-09 21:13] #911 closed

[2021-11-09 21:45] #840 closed

[2021-11-09 21:47] ogi-m opened #1792 "Bug: Card description doesn't get saved"
## Steps to reproduce the behavior

1. Go to Boards
2. Open a card
3. Click on "Add a description"
4. Enter some text and exit
5. Reopen the card - note the text wasn't saved

## Expected behavior

Text entered in the card description field should be saved

## Screenshots

https://user-images.githubusercontent.com/15314183/141010237-25fb4a7f-40f2-4919-8645-cfc5df996185.mp4

## Edition and Platform

[2021-11-09 22:11] #1690 closed

[2021-11-10 09:39] haroldm commented on #1792
This bug also happens on latest docker build. It seems to be the same bug as #1767, likely caused by #1667.
Previous description can still be altered and saved.

[2021-11-10 14:49] #1024 closed

[2021-11-10 14:55] mgdelacroix commented on #1657
Closing the issue as it seems that is fixed. Please reopen with [the details above](https://github.com/mattermost/focalboard/issues/1657#issuecomment-959766861) if enabling the flag and restarting does not solve the issue.

[2021-11-10 14:55] #1657 closed

[2021-11-10 15:33] #1316 closed

[2021-11-10 16:43] biva commented on #1657
Hello! I agree it's solved for me, as I did the change manually. I'm not a dev and I don't want to interfere with your policies, but if I'm a user who didn't find this Github page, I'll still have the issue in the future. Would that make sense to implement a solution so that this change is done automatically in the next update?

[2021-11-10 17:14] grrinch commented on #1657
I second @biva

The solution fixed it for my 2 instances of Mattermost, but it would be neat to actually have it update the `EnableReliableWebSockets` to `true` on its own.

[2021-11-10 23:04] sbishel commented on #1549
Merged...
https://github.com/mattermost/mattermost-server/pull/18973

[2021-11-10 23:04] #1549 closed

[2021-11-11 08:42] mgdelacroix commented on #1657
Thanks both for your comments! :) Apologies as my closing comment was not explanatory.

The old WebSockets implementation is planned for deprecation, so the configuration property will dissapear and all installs will use the reliable WebSockets feature. There is [a PR in place](https://github.com/mattermost/focalboard/pull/1758) to document the configuration change in the meantime, and for new ins

[2021-11-11 09:52] Ghisura opened #1798 "Bug: added content in card don't appear"
## Steps to reproduce the behavior

1. Go to into a card
2. Select  add content
3. Select anything
4. nothing appear

## Expected behavior

see what you select / add

## Screenshots

If applicable, add screenshots to elaborate on the problem.

## Edition and Platform

 - Edition: Personal Server (official docker image)
 - Version: v0.10.0
 - Browser and OS: Chrome, firefox, safari on macOS

## Add

[2021-11-11 10:20] pullopen commented on #1664
Still doesn't work in v0.10.0 though.

[2021-11-11 12:03] ogi-m commented on #1702
Tested and passed on latest v0.10

[2021-11-11 12:10] ogi-m commented on #1316
Verified the banner is appearing as expected on latest v0.10 branch

[2021-11-11 12:11] ogi-m commented on #1024
Verified the table no longer changes height on hover

[2021-11-11 12:23] ogi-m commented on #1690
Tested and passed on v0.10 - working as expected.

[2021-11-11 13:03] hahmadia commented on #1798
Hi! Thanks for report. Several reports regarding this issue have come in.
Jesus has PR to fix https://github.com/mattermost/focalboard/pull/1799

[2021-11-11 13:04] biva commented on #1657
Wao, great, thanks for the explanation :) (and congrats for the fix :) )

[2021-11-11 13:05] jespino commented on #1798
@Ghisura can you confirm if you are using the docker version 0.10 or the `latest`. I think the `latest` is build on `main` branch, so it wouldn't be `0.10` it would be `main`.

[2021-11-11 13:15] Ghisura commented on #1798
Hello,
@hahmadia , sorry haven't seen the PR
@jespino, sorry v0.10.0 is the version noted on the frontend.
I did not specify tag in docker compose, so is latest

[2021-11-11 13:41] ogi-m commented on #1692
Tested and passed on v0.10

[2021-11-11 13:44] ogi-m commented on #1727
Tested and passed on v0.10 - text is truncated, and tooltip shows the full text

[2021-11-11 13:47] ogi-m commented on #1724
Tested and passed on v0.10 - column now gets inserted instead of traded

[2021-11-11 13:54] ogi-m commented on #1685
Tested and passed on v0.10 - appropriate error shown.

[2021-11-11 14:05] ogi-m commented on #1137
This was fixed by https://github.com/mattermost/focalboard/pull/1065

[2021-11-11 14:05] #1137 closed

[2021-11-11 14:26] ogi-m commented on #994
Tested and passed on v0.10

[2021-11-11 14:29] ogi-m commented on #1729
Tested and passed - shared boards are working as expected on v0.10

[2021-11-11 14:51] ogi-m opened #1801 "Bug: Date calculation options multiplied by number of date properties"
## Steps to reproduce the behavior

1. Go to a board
2. Create three date properties on a card - Date, Last updated time, Created time
3. Open the calculations dropdown
4. Notice there are three sets of date related calculations (Earliest Date, Latest Date, Date Range)

## Expected behavior

The date calculations options shouldn't repeat

## Screenshots

![Screenshot (42)](https://user-images.gith

[2021-11-11 14:59] chenilim commented on #1801
Is this a dup of https://github.com/mattermost/focalboard/issues/1696? Or a subset? At this point in the cycle, I propose fixing this for v0.11. Thoughts @sbishel, @asaadmahmood, @wuwinson?

[2021-11-11 15:02] ogi-m commented on #1801
@chenilim It appears to be a subset as it only affects the date properties.

[2021-11-11 15:02] sbishel commented on #1801
Agree, can wait for v0.11.

[2021-11-11 15:43] massimiliano-cannata commented on #1745
I changed the config as suggested, build the image and run it.
The workaround didn't work... as you see from the attached image

![image](https://user-images.githubusercontent.com/12952268/141326440-29658da7-4f9e-402c-8348-311dd1ec6c6d.png)

[2021-11-11 17:03] chenilim commented on #1801
Thanks! Assigning to you @harshilsharma63 for v0.11.

[2021-11-11 17:05] chenilim opened #1802 "Bug: Opening the card link in a at-mention notification from the Mobile App opens Safari"
## Steps to reproduce the behavior

1. at-mention yourself in a card comment
2. Open the Mattermost mobile app
3. View the DM from the Boards bot, and click on the link
4. Safari opens, and prompts you to log in

## Expected behavior

The card appears

## Screenshots

https://user-images.githubusercontent.com/46905241/141329588-56266804-7912-4a13-837c-af23d0761f0b.MP4

## Edition and Platform

 -

[2021-11-11 17:07] chenilim opened #1803 "Feature Idea: Unfurl / preview card links in mobile app"
## Summary

Currently, card previews work on desktop web, but not the mobile app, i.e.:
1. Paste a link to a card in a channel post
2. The preview does not appear when viewed in the Mattermost mobile app

## How important this is to me and why

Importance: Medium

Use cases:
1. Expect similar functionality in mobile vs. desktop

[2021-11-11 17:16] ogi-m commented on #1664
Verified that it's fixed in main. Not in v0.10 though, it didn't get cherry-picked from what I can tell @chenilim

[2021-11-11 17:49] amyblais opened #1804 "Bug: Mattermost Board - Team Not Found"
Original report by @tschlue: https://github.com/mattermost/mattermost-server/issues/18986

#### Summary
If I create a Board or try to enter one I always geht the error site

#### Steps to reproduce
* Goto an channel
* Push the board button once
* Push the button '+Board hinzufügen' (+Add board?)
* Choose 'Leeres board' (Empty board)
-> Error screen

#### Expected behavior
The board should load wit

[2021-11-11 21:53] chenilim commented on #1664
Thanks @ogi-m. Makes sense. Looks like this was merged after the fork but not cherry-picked. For this particular issue, we can defer it to v0.11.

Let's circle back on improving our process to avoid missing future cherry-picks. I'll add an item to the next team meeting.

[2021-11-11 21:59] #1767 closed

[2021-11-11 21:59] #1792 closed

[2021-11-11 21:59] #1798 closed

[2021-11-11 22:03] #1655 closed

[2021-11-11 22:14] chenilim opened #1805 "Feature Idea: Replace unfurl link with card title"
## Summary

Currently, when pasting a card link in a message, the full URL remains, e.g.:

<img width="467" alt="Screen Shot 2021-11-11 at 2 13 44 PM" src="https://user-images.githubusercontent.com/46905241/141376537-594287df-f1fc-455a-90bc-4f733cd551d1.png">

Instead, the link should be replaced with the card title, as a link.

## How important this is to me and why

Importance: Medium

Use cases

[2021-11-11 22:16] chenilim commented on #1805
@hahmadia, I don't remember where this landed after discussing, but can we do it for v0.11? cc @asaadmahmood, @wuwinson, @ogi-m.

[2021-11-11 23:02] hahmadia commented on #1805
@chenilim

We can but my only concern is what if the card title contains private or sensitive information? Although the preview won't show to everyone, the title will and it could possibly leak information.

If we are certain that's okay, I can give it a go for 0.11 but this is the first concern that comes to mind.

[2021-11-11 23:09] hahmadia commented on #1805
As I mentioned in the DM, I would be in favour of doing it the same way github or mattermost where it shortens it something generic but not the title of the card so that way it's neat and tidy while not exposing any information.

[2021-11-11 23:15] hahmadia opened #1806 "Bug: @mentions don’t trigger when you update content section with new at mentions"
## Steps to reproduce the behavior

Create a new card and mention users in the channel. Save and notice those users get the at mention notification. Go back and update content with new user at mention. New users don't receive notifications. Any at mention done on updated content does not work.

## Expected behavior

New users should receive at mentions

## Screenshots

## Edition and Platform

 -

[2021-11-11 23:15] hahmadia commented on #1806
//cc @chenilim Is this a bug or enhancement?

[2021-11-11 23:33] chenilim commented on #1805
Good point. Maybe something like [Link to card](http://www.mattermost.com). That would have to be localized though. Let's see if other's have a better idea.

[2021-11-11 23:42] chenilim commented on #1806
My opinion is this is a bug (not that it matters, I think we should fix this either way). Newly mentioned users should be notified. cc @wiggin77 - is this expected?

[2021-11-11 23:46] chenilim commented on #1806
Also cc @ogi-m.

[2021-11-11 23:46] wiggin77 commented on #1806
As I recall, when a text block is updated a list of mentions in the old block is compared to a list from the new block, and any new mentions should be notified.  So yes, I expect it to work.  I'll have a look.

[2021-11-12 10:10] Genei180 commented on #166
Am i allowed to ask, what is the state of this Issue?

Because i am in need of atleast an Basic Wiki Page for a Projekt.

Would help to develop, if an Decission how to Implement it is made.

[2021-11-12 10:10] Genei180 commented on #166
Am i allowed to ask, what is the state of this Issue?

Because i am in need of atleast an Basic Wiki Page for a Projekt.

Would help to develop, if an Decission how to Implement it is made.

[2021-11-12 12:03] grrinch commented on #1657
Wonderful! Thanks for being receptive and responsive!

[2021-11-12 12:55] tschlue commented on #1804
Here the log during I reproduce the error:

`        {"timestamp":"2021-11-12 07:42:42.057 -05:00","level":"debug","msg":"Received HTTP request","caller":"web/handlers.go:107","method":"POST","url":"/mattermost/api/v4/users/status/ids","request_id":"6jhf4674hib65jsck7x78wcbnh","host":"de1ksedev051","scheme":"http","status_code":"200"}
{"timestamp":"2021-11-12 07:42:42.614 -05:00","level":"debug","

[2021-11-12 16:39] chenilim commented on #1754
Thanks @kamre, and sorry for the delayed response. Yes! This looks great! We are also planning on adding a ["following" feature](https://community-daily.mattermost.com/plugins/focalboard/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared/47aa9bb4-6967-4a96-83c7-11bd6b20f1eb/7e38eab4-890a-4fc3-8f48-a1f9bd1ab822/e49c9a17-7aa9-4cf0-8e55-da7a0b924690?r=762db9c6-305c-4d13-8ce6-9f11e5232c24) in v0.11, so we co

[2021-11-12 18:05] chenilim commented on #1707
Thanks @kitarp29! Looks like this has since been fixed by https://github.com/mattermost/focalboard/pull/1808. Please reopen if you still see issues. Thanks!

[2021-11-12 18:05] #1707 closed

[2021-11-12 20:24] chenilim opened #1809 "Bug: Checkbox not saved"
## Steps to reproduce the behavior

1. Create a new card
2. Add a checkbox content item, give it a name
3. Check the checkbox
4. Close the card
5. Reopen it
6. The checkbox is not checked

## Expected behavior

The checkbox is checked

## Edition and Platform

 - Edition: Personal Desktop and Personal Server
 - Version: main build, Nov 12, 2021 (tested Mac Build from [this dev release](https://git

[2021-11-12 20:26] chenilim commented on #1809
cc @jespino, @ogi-m. I ran into some regressions with the new patch code today. There may be other related issues too. When I did a quick debug, the `createPatchesFromBlocks` function doesn't appear to handle newly added fields correctly. I'm also not sure if it should be returning `oldDeletedFields` [here](https://github.com/mattermost/focalboard/blob/main/webapp/src/blocks/block.ts#L99) either.

[2021-11-13 01:39] jufab commented on #846
Hi @gagandeepp ,
Still interested or can I do it?

[2021-11-13 03:22] saturninoabril opened #1811 "Write Focalboard E2E with Cypress: "MM-T4279 Creating a Board from template""
<article>
<h1>MM-T4279 Creating a Board from template</h1>
<div>
<div>
<h3>Steps  #1</h3>Click on the "+" icon at the top of the sidebar<h3>Expected</h3>"Create a Board" screen opens in the center view with default template options:<br />- Meetings Notes<br />- Personal Goals<br />- Personal Tasks<br />- Project Tasks<br />- Roadmap<hr><h3>Steps  #2</h3>Click on "Project Tasks"<h3>Expected</h3>Boa

[2021-11-13 03:26] saturninoabril opened #1812 "Write Focalboard E2E with Cypress: "MM-T4277 Set up Views""
<article>
<h1>MM-T4277 Set up Views</h1>
<div>
<div>
<hr><h3>Steps  #1</h3><a href="https://automation-test-cases.vercel.app/test/MM-T4274">Create an empty board</a><h3><h3>Steps  #2</h3>Click on the "v" to the right of "Board View"<h3>Expected</h3>Menu containing options opens<hr><h3>Steps  #3</h3>Hover over "Add View" and select "Table"<h3>Expected</h3>View changes to Table view and "Table View"

[2021-11-13 03:26] saturninoabril opened #1813 "Write Focalboard E2E with Cypress: "MM-T4275 Set up Board description""
<article>
<h1>MM-T4275 Set up Board description</h1>
<div>
<div>
<hr><h3>Steps  #1</h3><a href="https://automation-test-cases.vercel.app/test/MM-T4274">Create an empty board</a><h3><h3>Steps  #2</h3>Hover your mouse above the board title, Testing<h3>Expected</h3>"Add icon" and "Show description" options appear<hr><h3>Steps  #3</h3>Click on "Show Description"<h3>Expected</h3>"Show description" opti

[2021-11-13 03:26] saturninoabril opened #1814 "Write Focalboard E2E with Cypress: "MM-T4276 Set up Board emoji""
<article>
<h1>MM-T4276 Set up Board emoji</h1>
<div>
<div>
<hr><h3>Steps  #1</h3><a href="https://automation-test-cases.vercel.app/test/MM-T4274">Create an empty board</a><h3><h3>Steps  #2</h3>Hover your mouse above the board title, Testing<h3>Expected</h3>"Add icon" and "Show description" options appear<hr><h3>Steps  #3</h3>Click on "Add icon"<h3>Expected</h3>A random emoji is selected and added

[2021-11-13 03:26] saturninoabril opened #1815 "Write Focalboard E2E with Cypress: "MM-T4274 Create an Empty Board""
<article>
<h1>MM-T4274 Create an Empty Board</h1>
<div>
<div>
<h3>Steps  #1</h3>Click on the "+" icon at the top of the sidebar<h3>Expected</h3>"Create a Board" screen opens in the center view with template options<hr><h3>Steps  #2</h3>Click on "Start with an Empty Board"<h3>Expected</h3>Board titled "Untitled Board" is created and opened<hr><h3>Steps  #3</h3>Click on "Untitled Board" and type "Te

[2021-11-13 03:26] saturninoabril opened #1816 "Write Focalboard E2E with Cypress: "MM-T4278 Managing and navigating views""
<article>
<h1>MM-T4278 Managing and navigating views</h1>
<div>
<div>
<hr><h3>Steps  #1</h3>Create an empty board and <a href="https://automation-test-cases.vercel.app/test/MM-T4277">setup views</a><h3><h3>Steps  #2</h3>Click on "v" to the right of "Gallery View" and click "Duplicate view"<h3>Expected</h3>"Gallery View Copy" is opened and added to the left hand side<hr><h3>Steps  #3</h3>Click on "

[2021-11-13 03:27] saturninoabril opened #1817 "Write Focalboard E2E with Cypress: "MM-T4290 Duplicating and deleting a board""
<article>
<h1>MM-T4290 Duplicating and deleting a board</h1>
<div>
<div>
<hr><h3>Steps  #1</h3><a href="https://automation-test-cases.vercel.app/test/MM-T4274">Create an empty board</a><h3><h3>Steps  #2</h3>Click on the "..." menu next to the "Testing" board in the sidebar<h3>Expected</h3>Dropdown menu with three options opens:<ul><li>Delete board</li><li>Duplicate board</li><li>New template from

[2021-11-13 03:27] saturninoabril opened #1818 "Write Focalboard E2E with Cypress: "MM-T4281 Accessing the Dashboard""
<article>
<h1>MM-T4281 Accessing the Dashboard</h1>
<div>
<div>
<h3>Steps  #1</h3>In Channels create four new channels:<br />- two channels titled Channel 1 and Channel 2<br />- DM with another user<br />- GM with two other users<hr><h3>Steps  #2</h3>From the Channels click on the app switcher in the top left of the Global Header and click Boards<h3>Expected</h3>User lands on the Dashboard with al

[2021-11-13 03:27] saturninoabril opened #1819 "Write Focalboard E2E with Cypress: "MM-T4283 Dashboard Search""
<article>
<h1>MM-T4283 Dashboard Search</h1>
<div>
<div>
<hr><h3>Steps  #1</h3><a href="https://automation-test-cases.vercel.app/test/MM-T4281">Access the dashboard</a><h3><h3>Steps  #2</h3>In the search field, type "Channel"<h3>Expected</h3>"Channel 1" and "Channel 2" are returned in the results (matching titles)<hr><h3>Steps  #3</h3>In the search field, type "2"<h3>Expected</h3>"Channel 2" is re

[2021-11-13 03:27] saturninoabril opened #1820 "Write Focalboard E2E with Cypress: "MM-T4282 "Show empty" toggle""
<article>
<h1>MM-T4282 "Show empty" toggle</h1>
<div>
<div>
<hr><h3>Steps  #1</h3><a href="https://automation-test-cases.vercel.app/test/MM-T4281">Access the dashboard</a><h3><h3>Steps  #2</h3>Disable "Show Empty" toggle<h3>Expected</h3>Channel 1 remains listed under "All Channels", while Channel 2, DM and GM are removed<hr><h3>Steps  #3</h3>Click on the app switcher in the top left of the Global

[2021-11-13 03:27] saturninoabril opened #1821 "Write Focalboard E2E with Cypress: "MM-T4280 Accessing from the App Switcher""
<article>
<h1>MM-T4280 Accessing from the Product Switcher</h1>
<div>
<div>
<h3>Steps  #1</h3>From Channels click on the product switcher in the top left of the Global Header and click Boards<h3>Expected</h3>Dropdown opens with options to navigate to Channels, Boards and Playbooks<hr><h3>Steps  #2</h3>Click on Boards<h3>Expected</h3>User lands on the Dashboard with all the channels the user belong

[2021-11-13 03:27] saturninoabril opened #1822 "Write Focalboard E2E with Cypress: "MM-T4287 Hiding/unhiding a group""
<article>
<h1>MM-T4287 Hiding/unhiding a group</h1>
<div>
<div>
<hr><h3>Steps  #1</h3>Create an empty board and <a href="https://automation-test-cases.vercel.app/test/MM-T4284">add a group</a><h3><h3>Steps  #2</h3>Click on the three dots next to "Group 1"<h3>Expected</h3>Dropdown opens with Hide, Delete and color options <hr><h3>Steps  #3</h3>Click on "Hide" <h3>Expected</h3>"Group 1" is now shown

[2021-11-13 03:27] saturninoabril opened #1823 "Write Focalboard E2E with Cypress: "MM-T4284 Adding a group""
<article>
<h1>MM-T4284 Adding a group</h1>
<div>
<div>
<hr><h3>Steps  #1</h3><a href="https://automation-test-cases.vercel.app/test/MM-T4274">Create an empty board</a><h3><h3>Steps  #2</h3>Click on "+Add a group" <h3>Expected</h3>A group titled "New Group" appears <hr><h3>Steps  #3</h3>Select the "New Group" text and rename to "Group 1"<h3>Expected</h3>Group name updated to "Group 1" <hr>
</div>
<

[2021-11-13 03:27] saturninoabril opened #1824 "Write Focalboard E2E with Cypress: "MM-T4286 Card creation and count""
<article>
<h1>MM-T4286 Card creation and count</h1>
<div>
<div>
<hr><h3>Steps  #1</h3>Create an empty board and <a href="https://automation-test-cases.vercel.app/test/MM-T4284">add a group</a><h3><h3>Steps  #2</h3>Click on "+ New" in "Group 1" column <h3>Expected</h3>A new card titled "Untitled" "is added to the group<hr><h3>Steps  #3</h3>Hover your mouse over the new card and click on the "..." m

[2021-11-13 03:27] saturninoabril opened #1825 "Write Focalboard E2E with Cypress: "MM-T4285 Adding group color""
<article>
<h1>MM-T4285 Adding group color</h1>
<div>
<div>
<hr><h3>Steps  #2</h3>Click on the three dots next to "Group 1" <h3>Expected</h3>Dropdown opens with Hide, Delete and color options <hr><h3>Steps  #3</h3>Click on "Green" <h3>Expected</h3>"Group 1" color changes to Green<hr>
</div>
</div>
</article>

**Test code arrangement:**
[code]

Note:
1. Use [queries from testing-library](https://tes

[2021-11-13 03:51] saturninoabril opened #1826 "Write Focalboard E2E with Cypress: "MM-T4291 Group by different property""
<article>
<h1>MM-T4291 Group by different property</h1>
<div>
<div>
<hr><h3>Steps  #1</h3>Create an empty board and <a href="https://automation-test-cases.vercel.app/test/MM-T4284">add a group</a><h3><h3>Steps  #2</h3>Click "+New" in "Group 1" to add a card<h3>Expected</h3>A new card is added to the group and the card dialog opens<hr><h3>Steps  #3</h3>Click on "Add a property"<h3>Expected</h3>Prop

[2021-11-13 03:51] saturninoabril opened #1827 "Write Focalboard E2E with Cypress: "MM-T4289 Ordering groups""
<article>
<h1>MM-T4289 Ordering groups</h1>
<div>
<div>
<hr><h3>Steps  #1</h3>Create an empty board and <a href="https://automation-test-cases.vercel.app/test/MM-T4284">add a group</a><h3><h3>Steps  #2</h3>Click on "+Add a group" again<h3>Expected</h3>Group titled "New Group" appears to the right of "Group 1" <hr><h3>Steps  #3</h3>Select the "New Group" text and rename to "Group 2"<h3>Expected</h3

[2021-11-13 03:51] saturninoabril opened #1828 "Write Focalboard E2E with Cypress: "MM-T4289 Ordering groups""
<article>
<h1>MM-T4289 Ordering groups</h1>
<div>
<div>
<hr><h3>Steps  #1</h3>Create an empty board and <a href="https://automation-test-cases.vercel.app/test/MM-T4284">add a group</a><h3><h3>Steps  #2</h3>Click on "+Add a group" again<h3>Expected</h3>Group titled "New Group" appears to the right of "Group 1" <hr><h3>Steps  #3</h3>Select the "New Group" text and rename to "Group 2"<h3>Expected</h3

[2021-11-13 05:44] Andrewnt219 commented on #1826
Hi @saturninoabril, I can help with this.

[2021-11-13 18:34] chris13524 commented on #1250
I love this feature from Notion. It allows me to build custom process dashboards that aren't possible with simple cards and properties. For example, linking a task to a Sprint or Epic and then being able to click through and apply filters based on that.

[2021-11-15 08:06] harshilsharma63 commented on #1801
@ogi-m can you please test this on the latest `main`? It's working fine for me.

<img width="437" alt="Screenshot 2021-11-15 at 1 35 48 PM" src="https://user-images.githubusercontent.com/18575143/141744580-f7922671-4577-4523-978d-ad9d44ad9d52.png">

[2021-11-15 08:30] TheBlapse commented on #1745
Hey, How do I make it working now, I think the Pull Request got approved but It's still showing the same error.

[2021-11-15 10:23] #856 closed

[2021-11-15 12:27] asaadmahmood commented on #1805
@hahmadia @chenilim I think I agree with Hossein, so yeah something generic like "Link to Card" or "Card Link" or "Go to Card" would be fine.

[2021-11-15 16:26] wuwinson commented on #1805
@asaadmahmood @hahmadia @chenilim The unfurled preview already displays the card title, perhaps we can go with a simple shortened URL so we avoid having to localize the URL text?

[2021-11-15 16:27] asaadmahmood commented on #1805
@wuwinson Don't mind that.

[2021-11-15 17:28] amyblais opened #1831 "Update mattermost-server to pre-package Focalboard plugin v0.11"
Update [the makefile](https://github.com/mattermost/mattermost-server/blob/master/Makefile#L123) so that Focalboard v0.11 ships with Mattermost 6.2.

Note that this needs to be cherry picked to the appropriate branch for the release.

**Deadline: December 9th (6.2 Code Freeze)**

[2021-11-15 20:32] chenilim commented on #1116
Thanks @nishantwrp! @justinegeffen, do you have thoughts on the long-term hosting for our API docs? Maybe something similar to https://api.mattermost.com/?

[2021-11-15 22:36] chenilim commented on #1805
Thanks! Sounds like we are converging on "Link to card". This would have to be localized.

[2021-11-15 22:50] ogi-m opened #1832 "Bug: Link Unfurl > Wrong property pill colors on custom dark theme"
## Steps to reproduce the behavior

1. Make sure a card has a few _select_ type properties
2. Set a custom dark theme, for example [Mattermost Dark](https://docs.mattermost.com/messaging/customizing-theme-colors.html#mattermost-dark)
2. Copy the link to the card and paste it in a channel
3. In the unfurled preview, note the pill color is off and makes the text unreadable

![mm_dark_preview](https:

[2021-11-16 09:35] Freshchris01 commented on #1737
Hello @chenilim, I'd like to work on this 😃

[2021-11-16 12:44] hahmadia commented on #1519
Fixed by https://github.com/mattermost/focalboard/pull/1829

[2021-11-16 12:44] #1519 closed

[2021-11-16 12:47] hahmadia opened #1835 "Feature Idea: Show Autocomplete Textbox when At Mentioning Users in Comments or Content Section"
## Summary

Showing Autocomplete Box when At Mentioning a user in a comment or content

## How important this is to me and why

Importance: High

[2021-11-16 14:13] justinegeffen commented on #1116
@chenilim, I've raised this as a discussion point for our sync today. :)

[2021-11-16 14:56] chenilim commented on #1737
You got it @Freshchris01, thanks!

[2021-11-16 15:10] wuwinson commented on #1805
@chenilim @asaadmahmood I was thinking something more like: "mattermost.com/shortenedURL", so we don't have to localize, but okay with the generic text you proposed as well.

[2021-11-16 15:17] chenilim opened #1837 "Bug: Card description links are not distinguishable from text"
## Steps to reproduce the behavior

1. Open a card
2. Enter a link in the markdown description, e.g. This is [a link](https://www.focalboard.com)
3. The link is the same font and color as regular text

## Expected behavior

The link should be distinguishable from regular text, even when not hovering.

## Screenshots

<img width="148" alt="Screen Shot 2021-11-16 at 7 01 36 AM" src="https://user-ima

[2021-11-16 15:18] chenilim commented on #1837
@asaadmahmood, this is probably a CSS conflict, but it's also an opportunity to adjust the link styles if necessary. E.g. the "visited" link style of purple is also hard to distinguish from text. What should the link style be to be consistent with Mattermost?

[2021-11-16 15:22] wiggin77 commented on #1805
I think we should define several card link formats.  For example, mentions and notifications need the card title to provide context, but they are going to private channels so no data leak.  However other card links should have generic text.

[2021-11-16 17:11] chenilim opened #1839 "Update Mac app to v0.10.0"
## Summary

Update the what's new dialog for the Mac App for v0.10.0

[2021-11-16 17:24] ogi-m opened #1841 "Bug: New properties don't get added to table view by default"
## Steps to reproduce the behavior

1. Open Focalboard Personal Desktop (doesn't repro on plugin)
2. Create an empty board
3. Add table view
4. Add a card in table view
5. Add a text property
6. Close the card - note the new property isn't displayed in table view, it needs to be toggled manually in the Properties dropdown.

## Expected behavior

The new text property should be shown by default in

[2021-11-16 18:54] #1839 closed

[2021-11-17 06:47] lindy65 commented on #1841
Adding that this is an intermittent issue.  At times, new properties are added to table view automatically and, at others, you need to toggle the property to "on" under Properties menu.

[2021-11-17 13:38] hahmadia commented on #1806
@wiggin77 Sorry, I may have been wrong about this.

I noticed the problem I reported happens if say content is currently set to `Hi @hahmadia` and I go in and delete all the text and set it to `hello @hahmadia`. This won't trigger new notifications.

If I go in and delete the text, go out of focus on the textbox (now content is set to empty), i click back into it and set it to `hello @hahmadia` th

[2021-11-17 13:50] wiggin77 commented on #1806
This is as intended. No new mentioned were added.

Technically these are two separate edits, and the second edit adds a new mention.  I think this is the right behaviour.  Thanks @hahmadia. Please close if you agree.

[2021-11-17 13:51] hahmadia commented on #1806
Agreed

[2021-11-17 13:51] #1806 closed

[2021-11-17 17:08] JamesDAdams commented on #1712
up, it's a critical problem !

[2021-11-17 18:42] CodeCaterpillar666 commented on #1709
I have the same problem building application under MacOS.
`error [2021-11-17 10:36:58.845 -08:00] Unable to unlink socket.                 caller="server/server.go:378" error="no such file or directory"`

[2021-11-17 21:58] nimzodisaster opened #1844 "Bug: auto refresh of changes fails on board 0.10.0 beta on enterprise 6.1.0"
## Steps to reproduce the behavior

1. Go to board
2. Create, edit,or delete a board item
3. See error: Does not update reflecting changes until refresh.

## Expected behavior

Refresh content to be consistent with current state

## Screenshots

## Edition and Platform

 - Edition: Board Version: [0.10.0] in Mattermost Enterprise Edition 6.1.0
 - In Mattermost client (5.1)
 -
## Additional context

[2021-11-17 23:47] milotype opened #1846 "Feature Idea:"
## Summary

If possible, add informations about translated languages in the sections "Languages" at https://apps.apple.com/app/apple-store/id1556908618?mt=8

## How important this is to me and why

Importance: High
Users can easily see if the app is translated into their local language.

[2021-11-18 09:10] ZevSwe commented on #685
Sorry for a late comment. I haven't seen this being a problem for the last few months.

[2021-11-18 10:01] tkrugg commented on #492
Any one know how to recover from it? I stumble on this issue and now the whole screen is blank and I'm basically blocked.

[2021-11-18 10:52] damien-d-gerard commented on #1844
Same problem for me.

Need to refresh content to see modification.

[2021-11-18 11:53] DummyThatMatters commented on #1844
Same behavior for me. With all the versions of Boards (0.9.3 - 0.1.0). Interesting thing - on another instance of Mattermost (same versions: Board: 0.10.0, Mattermost 6.1.0) - it works fine.

[2021-11-18 18:10] asaadmahmood opened #1847 "Bug: Receiving duplicated notification sounds when switching from channels to Boards"
## Steps to reproduce the behavior

1. Open Mattermost channels in a different tab
2. Open Mattermost Boards in a different tab
3. Receive mentions on the channels side of things (5-10 over the course of an hour or so or a few minutes)
4. Receive the notification from within channels
5. Now switch to Boards and see the notification sound popping up again for those notifications that you've already

[2021-11-18 18:30] nishantwrp commented on #1825
Hi, I'd like to work on this issue.

[2021-11-18 18:35] nishantwrp commented on #1730
Hi, I'd like to work on this issue.

[2021-11-18 18:36] chenilim commented on #1730
Thanks @nishantwrp! You got it!

[2021-11-18 19:28] chenilim commented on #1847
@jespino, any initial thoughts or ideas?

[2021-11-18 20:28] MostHated opened #1848 "Bug: After clicking around for a few moments, the app stops responding and the UI disappears."
## Steps to reproduce the behavior
The issue is best summarized in the video clip below. I open the app, click around for a few moments and it stops responding and then the UI disappears.

## Edition and Platform

 - Edition: Personal Desktop
 - Version: v0.10.0
 - Browser and OS: OS information seen below:
 - My default browser is set to Firefox Developers edition, but I do have Chrome installed

[2021-11-19 12:47] init098 commented on #1844
Same problem for us, Mattermost 6.1.0 and Focarlboard v0.10.0 Beta. As additional information, when deactivating and activating the plugin again, it works fine for a few minutes and then crashes again.

[2021-11-19 18:24] ogi-m commented on #1792
Tested and passed on latest main

[2021-11-19 18:25] ogi-m commented on #1767
Tested and passed on latest main

[2021-11-19 18:32] ogi-m commented on #1798
Tested and passed on latest main.

[2021-11-20 04:16] sean-pwd opened #1850 "Feature Idea: Drag cards between projects"
## Summary

What the new capability is. Drag cards between projects

## How important this is to me and why

Importance: High/Medium/Low

Use cases:
1. As the scope of a micro project changes, the card will need to be dragged to another project if you wish to maintain that idea
2. If the card is added to the wrong project, you cannot move it to the correct project.

## Additional context/similar f

[2021-11-20 17:06] JamesDAdams commented on #1712
It's a abandoned project ?

[2021-11-20 17:46] kamre commented on #1712
@JamesDAdams hi! Do you use a proper invite link for the second user as described [here in the docs](https://www.focalboard.com/guide/server-setup/)?

[2021-11-20 19:57] jufab commented on #846
@sbishel  Finally, this test already exists. you can close this PR 😊

[2021-11-21 08:03] kitarp29 commented on #1750
Hey @peterk I can implemnt it using Mailchimp or some other service like SMTP.
Do you would like me to work on this?

[2021-11-21 08:35] JamesDAdams commented on #1712
Thank you, I had not seen this, it would be an option so that people can register without an invitation link

[2021-11-21 08:37] #1712 closed

[2021-11-21 23:55] nimzodisaster commented on #1844
I'd love to share the new boards features with some work colleagues, but this bug makes it a no go.

[2021-11-22 06:46] #425 closed

[2021-11-22 11:08] harshilsharma63 opened #1852 "Bug: Empty white screen appears in Mattermost desktop app on reload"
## Steps to reproduce the behavior

1. Open Boards in Mattermost desktop app. Navigate to a board.
2. Press cmd/ctrl + R to reload the page.
3. Notice the boards display an empty white screen with no content.

## Expected behavior

Boards should display the last workspace on reload.

## Screenshots

![](https://user-images.githubusercontent.com/15314183/142672165-5727139a-b6bb-480e-a1a7-ad184766c9

[2021-11-22 13:36] badsmoke commented on #1844
same error here, server 6.1.0.
For a while it ran, then sporadically, and now not at all, plugin reinstall brings nothing

[2021-11-22 15:59] #42 closed

[2021-11-22 16:18] #830 closed

[2021-11-22 19:00] #1539 closed

[2021-11-22 19:18] chenilim commented on #1805
@hahmadia, synched up with Scott and Winson. Let's go with `<jump to card>` to be consistent with thread links (won't be localized). Per Doug's note - we should only make this substitution when pasting raw links in channels. i.e. leave the notification code alone for now.

[2021-11-22 19:20] chenilim commented on #1848
@ogi-m, can you help get a repro? First see if this repros on Mac / Windows, then on Linux.

[2021-11-22 19:27] chenilim commented on #1841
Discussed with Scott and Winson - we actually expected the property not be be auto-added to the table. i.e. the user has to manually add it in the properties menu.

[2021-11-22 19:35] chenilim commented on #1788
@asaadmahmood, chatted with Scott and Winson - we'll need to expand the calculation display "pill / label" to fit more than 3 characters. Can you propose a design, or change it so the label auto-expands to fill available space?

[2021-11-22 19:41] chenilim commented on #978
Synched up with Winson and Scott - let's "won't fix" this for now since we have the template picker instead of an empty screen. Will revisit later.

[2021-11-22 19:41] #978 closed

[2021-11-22 20:15] asaadmahmood commented on #1788
@chenilim If we want to do what @hahmadia proposed, this can easily be done, the container for the date can expand to fit its content via flex.

[2021-11-23 01:25] alevashov opened #1860 "Bug: can't create a new board"
#### Summary
No way to create a new board in the interface.
Mattermost version 6.1.0
Tried both in the last updated Windows client and web interface - the result is the same

#### Steps to reproduce
First time tried to create new boards
Created 3 of them
Understood that don't need that many
Tried to delete some, probably deleted all
Now don't see a possibility to create new boards at all. There is

[2021-11-23 02:58] tejaswini22199 commented on #1828
Hi, @saturninoabril  can I work on this issue ?

[2021-11-23 02:58] tejaswini22199 commented on #1819
Hi @saturninoabril  can you pls assign this issue to me ?

[2021-11-23 06:52] saturninoabril commented on #1819
Sure and thanks @tejaswini22199!

[2021-11-23 06:52] saturninoabril commented on #1828
Sure and thanks @tejaswini22199!

[2021-11-23 07:37] lindy65 commented on #1841
I'll keep an eye on final decision as Rainforest tests will need to be refactored if property is not auto-added to the table (as previously properties were auto-added)

[2021-11-23 10:35] #1852 closed

[2021-11-23 10:39] #1801 closed

[2021-11-23 11:06] #836 closed

[2021-11-23 13:43] ogi-m commented on #1766
Confirmed this reproes on v0.10 @harshilsharma63

[2021-11-23 17:49] jespino commented on #1847
As I expected, this is not Focalboard only related, this is happening when multiple windows are open, my suggestion would be to ignore mattermost notifications mechanism whenever you are in focalboard, I have a quick and dirty solution, but probably we should find something more robuts. I'll make a PR soon, I hope.

[2021-11-23 17:54] jespino commented on #1847
Also, this has a usability problem. The user is connected to the whole app... so the user is "online" as a whole, not only in one or the another. So if the users has focalboard open but not mattermost, he is not going to receive mattermost chat desktop notifications, but the global header with your user connected is going to be there. I'm not 100% sure about what is the expected behavior.

@asaadm

[2021-11-23 17:56] jespino commented on #1847
mattermost/mattermost-webapp#9425 <-- here is the solution to the problem, but as I said has other UX implications.

[2021-11-23 17:58] jespino commented on #1844
@nimzodisaster can you confirm if you have `EnableReliableWebSockets: true` in your `config.json` of `mattermost-server`? If that is false, can you try to change it to true, restart the server, and see if that fixes the problem?

[2021-11-23 23:56] nimzodisaster commented on #1844
Changed EnableReliableWebSockets: false to true, and restarted server. **Problem is resolved.**

[2021-11-23 23:56] #1844 closed

[2021-11-24 10:57] gordonjcp commented on #1116
How does Focalboard expose its API when it's used as a Mattermost plugin?

[2021-11-24 15:11] badsmoke commented on #1844
works also for us

[2021-11-24 16:04] Genei180 commented on #1419
Hello Sir,

This is still not documented.
And I didn't get your suggested Fix to work.
Could you maybe share the full config.json or point me to the Doc where you found it?

Additionally, I noticed some funkiness with the Docker Setup that Probably requires its own Ticket.

I think it should be added as Default Behavior, like the Doc proposes.

Therefore, I wouldn't see this Ticket as Closed, but

[2021-11-24 16:20] init098 commented on #1844
EnableReliableWebSockets: true **solved the problem**

[2021-11-24 17:10] nishantwrp opened #1863 "Feature Idea: Filter for date properties"
## Summary

Currently, I can't add a filter in a view for a date property. I think it'd be great if it was possible. I'd like to see cards which are after a particular date or cards that have a date set, etc.

## How important this is to me and why

Importance: Medium

[2021-11-24 21:04] sbishel opened #1864 "Enhancement: CalendarView - add '+' sign to create a new event"
## Summary

Currently when clicking on a date a new event is created. This results in a a lot of unwanted events being created.

Per Asasd -  I ideally want a small plus button to appear when you hover over a particular box for users to create a card.

## How important this is to me and why
High - currently lots of unwanted events get created.

## Additional context/similar features

[2021-11-24 21:05] sbishel commented on #1864
@asaadmahmood - Could you expand on this ticket for how you want this to work.

[2021-11-24 22:08] SaQQ opened #1866 "Bug: Mattermost Boards misbehaving after upgrade to V6"
#### Summary
After upgrading Mattermost Server to version 6.x the Boards plugin is misbehaving.
The mattermost.log contains the following error:

[code]
Issue moved from https://github.com/mattermost/mattermost-server/issues/19041

#### Steps to reproduce
I've upgraded mattermost from 5.39.0 to 6.1.0 to installed on Ubuntu:
`Linux mattermost 5.4.0-88-generic #99-Ubuntu SMP Thu Sep 23 17:29:00 UTC

[2021-11-24 22:58] s-tkt opened #1867 "Boards set incorrect URL at URL bar"
**Summary**
I am using mattermost via reverse proxy. The URL to access mattermost is:
`https://mydomain/myhost/mattermost`

By selecting Boards on menu, Dashboard is displayed successfully. But URL is set as `https://mydomain/boards/dashboard` in URL bar.

Reloading the page, reverse proxy returns HTTP 404.

**Steps to reproduce**
Run Boards under reverse proxy emvironment.
Mattermost: 6.1.0
nginx

[2021-11-24 23:58] XDracones opened #1868 "Feature Idea: Master-cards and Sub-cards or Nesting."
## Summary
The ability to create master-cards and sub-cards or in alternative the possibility to nest cards so that you can slice up your task into multiple small tasks and have the ability to drag the sub-card/tasks into other columns.

I know the checkbox property exists, but the text is really small and doesn't provide much of a sense of accomplishment.

## How important this is to me and why

[2021-11-25 09:22] KyoRion opened #1870 "CSRF check failed for request from focalboard plugin"
I got this error from logs when try click into any button from focalboard plugin
![image](https://user-images.githubusercontent.com/26852023/143414553-5dda4075-54af-457c-acb9-07a6b03b24d4.png)

[2021-11-25 09:45] ogi-m commented on #1832
@jespino You were right, this happens when the custom dark theme is set on one team, and a light theme is set on another team.
If the custom dark theme is set on both teams, then the pills have the appropriate dark theme colors.

[2021-11-25 10:50] #1837 closed

[2021-11-25 11:02] ogi-m opened #1871 "Bug: Calendar View > '+n more" modal should have a solid background"
## Steps to reproduce the behavior

1. Go to Calendar View
2. Add enough cards to a date so that the "+n more" button appears
3. Click on "+n more"
4. Note the transparent background on the modal

## Expected behavior

The background should be solid

## Screenshots

![nmore](https://user-images.githubusercontent.com/15314183/143429799-c1e2e2f3-9126-4a4d-b5a8-922a53cc479a.jpg)

## Edition and Platf

[2021-11-25 11:02] ogi-m commented on #1871
cc @sbishel @asaadmahmood

[2021-11-25 12:14] ogi-m opened #1872 "Bug: Icons are black and white"
## Steps to reproduce the behavior

1. Open Personal Desktop or plugin on Windows/Chrome
2. Observe the icons - they appear in black and white (everywhere except card view and table view)

## Expected behavior

Icons should look normal

## Screenshots

![windows_desktop](https://user-images.githubusercontent.com/15314183/143431101-1d3b9017-ad4c-47ac-ab8a-739cf67354d4.jpg)

## Edition and Platform

[2021-11-25 12:56] ogi-m commented on #1871
This was on the build from the PR that removes the feature flag. I'll when everything's merged to main.

[2021-11-25 13:09] ogi-m opened #1873 "Bug: Calendar View > "+n more" button should be larger"
## Steps to reproduce the behavior

1. Go to Calendar View
2. Add enough cards to a date so that the "+n more" button appears

## Expected behavior

Button should be larger

## Screenshots

<img width="442" alt="Screenshot 2021-11-25 at 5 56 42 PM" src="https://user-images.githubusercontent.com/15314183/143447274-c3f133d9-bc56-4aa7-8aa9-f7e83719cab3.png">

## Edition and Platform

 - Edition: Matt

[2021-11-25 14:05] #1805 closed

[2021-11-25 14:06] hahmadia commented on #1805
Hi @ogi-m ,

I've merged this into master. Feel free to test. Thanks

[2021-11-25 14:45] starlocke commented on #1697
I had installed Focalboard on Windows 10 sometime in 2021 (Spring? Summer?) and the emoji were working fine in full-colour. Suddenly, something changed and they were no longer in full-colour. Huge disappointment.

I played with the web-inspector today... it turns out that the culprit here is "font-weight: 600" overriding "font-weight: 500" in the stylesheets.

I suppose that "Segoe UI Emoji" in th

[2021-11-25 14:50] starlocke commented on #1697
Here's the evidence about font-weight:

![image](https://user-images.githubusercontent.com/1019999/143461926-8dda08fb-eb34-4e2a-9aa6-11ddbaef336d.png)

Another interesting observation is this, below -- in the "main body" of the view, the emoji lives in its own `<span>` , for some reason. This "separation of concerns" might be a hint towards an easy solution like "wrap all the emoji in <span class=

[2021-11-25 15:30] #1873 closed

[2021-11-25 18:19] asaadmahmood commented on #1035
Should be fixed with this, closing it as its a dup.
https://github.com/mattermost/focalboard/pull/1875

[2021-11-25 18:19] #1035 closed

[2021-11-25 19:16] ogi-m opened #1877 "Bug: at-mention autocomplete shows up in the top left after dismissing it and engaging it again"
## Steps to reproduce the behavior

1. Go to Boards
2. Open a card
3. In the comment box, type "@"
4. Note the autocomplete shows up
5. Click outside of the comment box
6. Click inside the comment box again - note the dropdown shows up in the top left of the screen

## Expected behavior

Autocomplete dropdown should show up below the input field

## Screenshots

![Screenshot (54)](https://user-ima

[2021-11-25 19:20] ogi-m opened #1878 "Bug: at-mention autocomplete > Bots should have the bot tag"
## Steps to reproduce the behavior

1. Go to Boards
2. Open a channel that includes a bot, for example a DM with Boards bot or Surveybot
3. In the comment box, type "@"
4. Note the autocomplete shows the bot users without the bot tag

## Expected behavior

Bots should have a bot tag like in channels

## Screenshots

Boards:
![Screenshot (55)](https://user-images.githubusercontent.com/15314183/1434

[2021-11-25 19:29] ogi-m opened #1879 "Bug: Users can receive a mention notification when they're no longer a member of the channel/board"
## Steps to reproduce the behavior

1. Have a channel with User-1 and User-2
2. As User-1, open the associated board
3. Open a card and click on the comment field
4. Type in "@" and make sure User-1 is listed
5. As User-2, leave the channel that's associated with the board
6. As User-1, type in "@" in the comment field again (without refreshing)
7. Select User-1 from the autocomplete and post the

[2021-11-25 19:33] ogi-m opened #1880 "Bug: at-mention autocomplete doesn't use theme colors"
## Steps to reproduce the behavior

1. Set a dark theme
2. Go to boards
3. Open a card and type "@" in the comment field
4. Note the colors are off

## Expected behavior

The autocomplete should match the colors for the selected theme

## Screenshots

![Screenshot (97)](https://user-images.githubusercontent.com/15314183/143493235-3cab06be-bd77-4ff8-9712-df855830695f.png)

## Edition and Platform

[2021-11-25 20:10] #1835 closed

[2021-11-26 12:51] XDracones commented on #1868
Any thoughts?

[2021-11-26 13:33] XDracones opened #1881 "Feature Idea: Visual/Auditory Reward Optionally Activated by Column"
## Summary

The ability to optionally assign a visual/auditory reward to a column;
Example:
When you move the card to the "DONE" column and the reward option of that column is checked you get a visual reward such as small fireworks appearing on the application or an auditory reward.

Importance: Low

[2021-11-26 16:27] #1284 closed

[2021-11-26 17:34] wuwinson commented on #1864
@asaadmahmood Agree that this is needed, but is there a way to do this without losing out on the click + drag to easily create a date range task? cc @sbishel

[2021-11-26 17:56] #1809 closed

[2021-11-26 20:39] nishantwrp commented on #1815
Hi, I'd like to work on this issue.

[2021-11-26 20:39] nishantwrp commented on #1823
Hi, I'd like to work on this issue.

[2021-11-26 21:19] wuwinson commented on #1868
Thanks for the feedback @XDracones! This is already being tracked under feature idea #324, please feel free to add to it. cc @chenilim

[2021-11-26 21:30] asaadmahmood commented on #1864
@wuwinson We can, but I think that functionality isn't really discoverable right now. We can have the same functionality on the plus icon too, though we can now add tooltips too.
"Click to create a card on this date"
"Click and drag to create a card with a date range"

[2021-11-26 21:35] wuwinson commented on #1864
Sounds good, thanks @asaadmahmood!

[2021-11-26 23:55] YC opened #1883 "Bug: Error page button doesn't follow base URL"
## Steps to reproduce the behavior
1. Have `"serverRoot": "http://localhost:3200/board"`
1. Go to `/board/error`
1. Click "Log in again"
1. Button changes window location to `/login`

## Expected behavior
Should change window location to `/board/login`, following base URL

## Edition and Platform

 - Edition: Personal Desktop
 - Version: v0.10.0
 - Browser and OS: N/A

## Additional context

https

[2021-11-27 23:28] pullopen opened #1884 "Bug: Not being able to select or edit text in v0.11.0-rc1 in Firefox"
## Steps to reproduce the behavior

1. Go to any item
2. Try to select text, but failed
3. Try to put the cursor at desired position with mouse, failed.
4. Try to use ↑↓←→ keys to move the cursor, also failed.

## Expected behavior

Put the cursor into desired position and select certain text.

## Edition and Platform

 - Edition: Personal Server
 - Version: v0.11.0-rc1
 - Browser and OS: Firefox

[2021-11-28 02:19] MostHated commented on #1848
My apologies, I just saw that I had accidentally removed the video clip without realizing it. I reuploaded it and fixed the link.

[2021-11-28 21:03] saturninoabril commented on #1815
Sure and thanks @nishantwrp!

[2021-11-29 09:02] #1051 closed

[2021-11-29 15:28] jespino commented on #1832
@ogi-m Ok, then we can keep this open until we support themes based on current team inside focalboard. Otherwise is going to be hard to achieve.

[2021-11-29 18:07] nishantwrp opened #1888 "Bug: Unable to create new card from a template"
## Steps to reproduce the behavior

1. Try to create a new card from a template
2. See error

## Screenshots

I get this card when I try to create a new card from a pre-existing template.

<img width="998" alt="Screenshot 2021-11-29 at 11 34 47 PM" src="https://user-images.githubusercontent.com/36989112/143920159-d921892d-5863-426b-bcbc-109dd018832a.png">

## Edition and Platform

 - Edition: Pers

[2021-11-29 19:05] sbishel commented on #1804
@tschlue - We have made quite a few fixes to routing since v0.9.4. Are you able to test this with 0.10.0 or 0.11.0?

[2021-11-29 20:03] tjbortz1s commented on #1697
I noticed this same effect just this morning and came here to say the same - I can confirm that the font weight is what was breaking the app for me as well, and if I turn off font weight the emotes go back to normal.

This has fallen way down in the issue list though, I hope that maybe a ping to @chenilim   might get some attention on this - because it may be an easy fix and while I'd love to do i

[2021-11-29 20:11] tjbortz1s commented on #1697
@starlocke in the meantime you can actually go into "main.js" inside of your focalboard install (assuming you're not using the windows store version) and change "font-weight: 600" to 500 after "octo-icontitle" and that makes a semi-permanent fix to the CSS without needing the project to implement any fixes.

![image](https://user-images.githubusercontent.com/6193065/143935800-fbb633e8-a6de-41c3-ae

[2021-11-29 20:34] Genei180 opened #1889 "Bug: Can't Acces Config File if Server runs in Docker Container"
## Steps to reproduce the behavior

1. run the Focal board in a Docker Container as Described in README.
2. try to Access the Config File in the Docker

## Expected behavior

A Mounted Volume that Allows for Easy Access to edit the Config file.
To Edit and Changes Setting like Described in: https://www.focalboard.com/guide/admin/

## Edition and Platform

 - Edition: Personal Server (Docker)
 - Ve

[2021-11-29 21:28] starlocke commented on #1697
@tjbortz1s I am actually a user of the Windows Store edition of Focalboard, so, for me, it's a terrible to go mucking around inside of `C:\Program Files\WindowsApps\`.

[2021-11-29 21:39] starlocke commented on #1697
Okay. So... I ended up scrambling to find a Windows edition of Focalboard that isn't from the Windows Store (ex: [v0.10.0](https://github.com/mattermost/focalboard/releases/tag/v0.10.0)) and the suggested workaround was helpful. I ended up just changing all `font-weight:600` to `font-weight:500` and the glorious, technicolor goodness of _Segoe UI Emoji_  was restored.

It was a simple matter to ex

[2021-11-29 21:49] sbishel commented on #1841
This is being caused by the transaction processing when using a sqlite database.

The functionality to auto add to the table has existed since the beginning, so we should probably think about whether we want to change the functionality.

[2021-11-29 21:56] starlocke commented on #1697
Curiously enough... The "Roadmap" board's "Epic" view seems to employ a funny-looking "mountain" emoji.

At first, I thought it was another `font-weight` issue (it's not).

![image](https://user-images.githubusercontent.com/1019999/143947550-f5f792e6-b863-4cd7-80e2-c91ee257023f.png)

Then I noted that it was really just a different emoji symbol that happens to not render properly for whatever reas

[2021-11-30 03:22] MaElisa commented on #1732
Hi @chenilim, we would love to work on this!
I'm working with @meng87 @helenalyh @okadeprithvi and @willrinkoff.

[2021-11-30 05:43] lindy65 commented on #1841
Thanks Scott,

I'm seeing _intermittent_ failure in Rainforest tests where property is _not_ auto added to the table so Ogi filed this issue.  For now, I've disabled the affected tests from running until a decision is made on whether to change the functionality or not.

[2021-11-30 09:03] tschlue commented on #1804
Hi I just tested it and it's still the same behavior .

[2021-11-30 12:27] mgdelacroix opened #1893 "Bug: Unique IDs migration is not updating the contentOrder property"
## Steps to reproduce the behavior

1. Create a card with a description on an instance with Boards `v0.10`
2. Export and import the board on a different workspace
3. Update to `v0.11 RC`
4. Open the card in the imported workspace. The description will not be shown

## Expected behavior

The description should be shown

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: `v0.11.0 RC`

[2021-11-30 15:36] sbishel commented on #1879
@asaadmahmood to think about design for this.

[2021-11-30 16:16] jespino commented on #1872
@ogi-m sorry, it is not happening on the linux app and I don't have windows :( Anybody with windows in the team? maybe @sbishel @harshilsharma63 @wiggin77 or @hahmadia

[2021-11-30 16:24] wiggin77 commented on #1872
Sorry - no Windows.

[2021-11-30 16:24] kamre commented on #1872
Hi! Looks like there is a duplicate #1697 with some analysis inside about the `font-weight` changes.

[2021-11-30 17:40] sbishel commented on #1871
This was already fixed here -

https://github.com/mattermost/focalboard/pull/1874/commits/ba59e57745201020e27633e708d8f1bf861debf
![Screen Shot 2021-11-30 at 10 39 51 AM](https://user-images.githubusercontent.com/12704875/144099259-ecdb9f60-22f4-4951-a668-8e825567fcc8.png)
6

[2021-11-30 17:41] sbishel commented on #1871
@ogi-m Closing...please reopen if you see this again.

[2021-11-30 17:45] jespino commented on #1888
I can't not reproduce this locally in the main branch or in the release-0.11 branch :(

[2021-11-30 17:57] kamre commented on #1872
Regression was introduced in this pull request:
* #908

@asaadmahmood FYI

[2021-11-30 18:04] sbishel commented on #1804
@tschlue Thanks for helping me troubleshoot. Could you provide a video of this? I would like to see how the Url is being set.

[2021-11-30 22:29] wuwinson opened #1897 "Bug: Calendar view does not auto-fill dates upon initial calendar creation"
## Steps to reproduce the behavior

1. Go to any [non-calendar view](https://sbishel.test.mattermost.cloud/boards/workspace/ngnt1arq87bkmfep7ky6om3h9e/bow3q8n8rtj88mbzrwn9hszyfea/vae5qyedp93fexxhwcz8wkud6mh)
2. Create a new calendar view
3. Ensure a custom date property exists
4. Display calendar by custom date property
5. Click on '+' sign on any date
6. See the custom date property field is empt

[2021-12-01 06:53] nishantwrp commented on #1888
I can still reproduce this on my hosted instance. Both the templates that existed before upgrading and the ones created after upgrading show the same error on creating a card with them.

[2021-12-01 07:28] AienTech commented on #129
Indeed this feature is very needed. One that I already saw was in [Quire](https://quire.io). Does the same thing.

[2021-12-01 09:26] jespino commented on #1888
Thanks @nishantwrp, I going to try to check that in Safari. Thanks for the heads up. Are you using the 0.11rc1? or an specific commit?

[2021-12-01 09:30] nishantwrp commented on #1888
0.11rc1

[2021-12-01 13:57] DummyThatMatters opened #1900 "Bug: Flood with "received a message for an unregistered webconn" in logs."
## Expected behavior
Clean logs

## Screenshots
![изображение](https://user-images.githubusercontent.com/51426114/144245182-5959baee-e0cc-43fe-b8b1-964622a4fb89.png)

## Edition and Platform
 - Edition: Mattermost plugin (Mattermost v6.1.0, postgres 12.1)
 - Version:  v0.10.0

## Additional context
Example of logs:
[code]

Also sometimes when I switch to Boards - it asks me to authorize, although

[2021-12-01 15:46] #1897 closed

[2021-12-01 17:14] chenilim opened #1902 "Change warning message when renaming property"
## Steps to reproduce the behavior

1. Open a card
2. Rename a property
3. A scary warning about data loss is shown

## Expected behavior

Show the following text instead:

`Are you sure you want to rename "Target date" to "Release date"? This will rename the property on all cards in this board.`

## Screenshots

<img width="544" alt="Screen Shot 2021-12-01 at 9 09 15 AM" src="https://user-images.

[2021-12-01 17:17] chenilim commented on #1902
cc @asaadmahmood, @justinegeffen and @wuwinson - do you agree with toning down the warning message for renaming properties?

[2021-12-01 17:17] ogi-m opened #1903 "Bug: Redirected to boards login page"
## Steps to reproduce the behavior

1. Leave Boards open in a browser
2. Wait an indefinite amount of time
3. Observe the boards window - page got redirected to boards/error?id=Failed%20to%20fetch
4. Click "Log in again" - taken to boards login page

## Expected behavior

User should still be on the same view and the "Log in again" button should not lead to boards login page

## Screenshots

![boa

[2021-12-01 17:31] wuwinson commented on #1902
Agreed @chenilim, your suggestion sounds a lot less scary.

[2021-12-01 18:05] justinegeffen commented on #1902
I like your suggestion too, @chenilim. This is how I imagine it'd look:

**Confirm property type change**

*Are you sure you want to rename **Target date** to **Release date**? This will rename the property on all cards in this board.*

[2021-12-02 03:59] #1823 closed

[2021-12-02 13:12] tschlue commented on #1804
![TeamNotFound](https://user-images.githubusercontent.com/14072748/144428593-703a2c33-56d2-456e-aca8-d5a6ca747594.gif)

[2021-12-02 13:28] asaadmahmood commented on #1902
@chenilim I personally don't think we need to show a modal at all when renaming properties, as that's not a destructive action.

[2021-12-02 14:32] asaadmahmood commented on #1879
3 things.
1. This is a bug, as it first shows a user that is no longer in the channel associated with the board.
2. And then it also sends a notification.
3. In the future, when we allow mentioning users across the system, we should show a header above the users who are not part of the board. And that should probably be fine for now.

![Boards Card Detail](https://user-images.githubusercontent.com

[2021-12-02 14:33] asaadmahmood commented on #1879
That UI is only application when we implement the role based permissions and detach channels from boards. Right now, the user directly should be removed from the autocomplete list.

[2021-12-02 14:39] ogi-m commented on #1879
Do we want to split the autocomplete part into a separate issue? That only happens if the board isn't refreshed after the user is removed from the channel and before trying to at-mention. If the board is refreshed, only members will be shown in the autocomplete.
However, they can still manually type out the username of a user outside of the channel and the notification will be send. Those are two

[2021-12-02 15:04] alasserr commented on #1866
+1
We also have the same kind of issues in the Mattermost app (Mac OSX) AND from the WebBrowser interface : sometimes things we do are visible, sometimes it is not and we have to either go back to Mattermost and back to Boards, either refresh the page to see it done.

[2021-12-02 15:08] asaadmahmood opened #1907 "Feature Idea: Improve person popup"
## Summary
The person popup looks really bad in terms of UI, it should match our Autocomplete UI that exists in Mattermost.

<img width="491" alt="Screenshot 2021-12-02 at 8 06 48 PM" src="https://user-images.githubusercontent.com/11034289/144448144-6d21deee-e1fc-4187-95a0-571a456679a6.png">

**It should look like this:**
<img width="1072" alt="Screenshot 2021-12-02 at 8 25 30 PM" src="https://use

[2021-12-02 16:17] sbishel commented on #1879
@wiggin77 - assigning to you, I think there are both server and front end fixes needed. Although the server should be fixed here. https://github.com/mattermost/focalboard/pull/1216

[2021-12-02 16:17] hahmadia commented on #1880
Asaad has volunteered to help me with this problem.

[2021-12-02 16:30] hahmadia commented on #1877
Asaad has volunteered to help me with this problem.

[2021-12-02 16:56] chenilim opened #1908 "Add version number to feedback form"
## Summary

Pass the version number to the feedback form for Boards and Focalboard.

## How important this is to me and why

Importance: High

Use cases:
1. This will allow us to correlate bug reports with particular versions

[2021-12-02 17:50] chenilim opened #1910 "Bug: Address Dependabot issues"
## Steps to reproduce the behavior

1. Open [GitHub's Dependabot page](https://github.com/mattermost/focalboard/security/dependabot)
2. See list of warnings

## Expected behavior

No warnings, or at least no high-sev warnings.

## Edition and Platform

 - Edition: All
 - Version: Main

## Additional context

Also run `npm audit` on `webapp` to see similar (and maybe additional) warnings.

Longer t

[2021-12-02 18:38] wiggin77 commented on #1879
@asaadmahmood, @sbishel, just to confirm the desired behaviour... when someone types an @mention for a user that is not a member of the channel we will simply not send the notification.  No error will be displayed on front-end?

[2021-12-02 21:45] Genei180 opened #1911 "Bug: Share Board Option not Working"
## Steps to reproduce the behavior

1. Go to ... left of "new" Button
2. Select  "Share Board"
3. Turn the switch on which says Publish to web and share this board with anyone.
4. Copy the link
5. Paste it into the Browser

## Expected behavior

After I hit Enter, a Board View Should Appear...

## Screenshots
![image](https://user-images.githubusercontent.com/16257607/144502555-fba4935b-1f4a-4799-

[2021-12-03 01:06] wiggin77 commented on #1766
@ogi-m, what proxy did you use to repro?

[2021-12-03 01:09] sbishel commented on #1879
Sorry @wiggin77 just saw the question when notified of the PR. I think at a minimum, the user should not appear in the autocomplete and the server should not send...

As a P2, it would be nice to display an error to the user in a similar manner channel's does. But unfortunately we don't really have a mechanism for that.

Actually, now seeing that the autocomplete list is only if the user has been

[2021-12-03 01:12] wiggin77 commented on #1879
Ok, thanks.  I think the PR satisfies the current requirements.

[2021-12-03 11:26] ogi-m commented on #1903
I just had this happen on Personal Desktop, a build from main from last week. It was in the background for a few days and I came back to the error screen. Clicking on "login" took me to the login page.

![login_personaldesktop](https://user-images.githubusercontent.com/15314183/144594882-972142c4-2e70-4e74-9b5e-b6d9d8bb85f0.jpg)

[2021-12-03 12:12] ogi-m opened #1914 "Bug: Open the first board in the workspace instead of the "Create a board" screen"
## Summary

I always open a workspace expecting to land on a board, but instead I'm greeted with the "Create a board" screen.
I find this frustrating, especially for workspaces with a single board, as it requires unnecessary clicks to get to the board,

## How important this is to me and why

Importance: Medium

[2021-12-03 15:12] ogi-m commented on #1517
@asaadmahmood Can you confirm the expected?

[2021-12-03 15:20] chenilim commented on #1911
Thanks for reporting this @Genei180! Could you check your browser developer console to see if there are any errors in the JS console and / or network tab? The steps you used should (in theory) work. Thanks.

[2021-12-03 15:25] wiggin77 opened #1915 "BugBash: Selecting text in card description flaky"
## Steps to reproduce the behavior

1. Create a new card
2. Type three lines of text in description.
3. Try to select the three lines by clicking on the first line and drag to the bottom line.
4. Sometimes the text is selected, sometimes nothing happens.

## Expected behavior

Selecting text should work consistently.

## Screenshots
In this screenshot, the mouse left button is clicked each time th

[2021-12-03 15:34] mgdelacroix opened #1916 "Bug: Deleting the created time property when the calendar view is using it to display the cards will not change to other properties"
## Steps to reproduce the behavior

1. Create a calendar view
2. Add a date property (say `deadline`) and `Created time`
3. Change the `Display by` to use `Created time`
4. Remove the `Created time` property

## Expected behavior

The view should modify the `Display by` and enable `deadline` as it's the last one that can be used, but it will keep the filter on `Created time`.

## Edition and Platf

[2021-12-03 15:37] mgdelacroix commented on #1916
After some more testing, I've realised that the `Display by` will always change to `Created time`, no matter if there are any other properties of type `date` that could be used to display the cards by.

[2021-12-03 15:39] wuwinson opened #1917 "Bug: Person Property Table View Sort"
## Steps to reproduce the behavior

1. Go to table view
2. Ensure there is a person property
3. Sort by person property
4. Person property does not sort properly no matter if you set it to ascending or descending

## Expected behavior

Person property is sorted in alphabetical order

## Screenshots

![Sort Descending](https://user-images.githubusercontent.com/93531870/144629709-a6d87a4a-9f01-4463-

[2021-12-03 15:40] wiggin77 opened #1918 "BugBash: Cannot position caret within card description"
## Steps to reproduce the behavior

1. Create a new card
2. Type three lines of text in description.
3. Position caret at end of third line.
4. Try to position caret on second line via mouse click
5. Notice that nothing happens

## Expected behavior

Should be able to position caret anywhere within existing text

## Screenshots

Screenshot shows clicking on the second line does nothing.

![cannot_

[2021-12-03 15:41] chenilim opened #1919 "Bug: Drag select card description text closes card if mouse released outside of dialog"
## Steps to reproduce the behavior

1. Open a card and enter a description
2. Using the mouse, click to start text selection in the description editor
3. Drag and release the mouse outside the dialog
4. The dialog closes, and changes are lost

## Expected behavior

The dialog should not close, and changes should not be lost. Or, at the very least, changes should not be lost.

## Screenshots

https

[2021-12-03 15:46] sbishel opened #1920 "Bug: Board view allows creation of duplicate Select Fields"
## Steps to reproduce the behavior

1. Go to Boards View
2. Select  'Add A Group'
3. Notice a 'New Group' is created automatically
4. Either click 'Add A Group' and another 'New Group' is created
5. Or Edit 'New Group' and add an existing Group Name.
6. Duplicate Select Value should not be allowed.
7. This is handled in Card View because we autoselect from the list if the Group Exists.

## Expecte

[2021-12-03 15:51] sbishel opened #1921 "Bug: Card View Select Type does not trim spaces"
## Steps to reproduce the behavior

1. Go to Card View
2. Select a "Select' Property.
3. Type an existing property name...then add a space.
4. Note that the new select value is allowed to be created allowing two values that look the same.

Note this will apply to values that have an icon as well.

## Expected behavior
We should trim spaces before adding a new select value

## Screen shot
<img widt

[2021-12-03 15:56] #1908 closed

[2021-12-03 16:00] N3rdP1um23 commented on #1903
Just mentioning that I'm experiencing the same issue. I've also found that clicking on the Boards product option does open Focalboard, however, all boards are missing.

## Information
| Technology | Version |
| ------ | ------ |
| **Mattermost Server** | 6.1.0 |
| **Mattermost Boards Plugin** | 0.10.0 |
| **Mattermost Desktop** | 5.0.2 |
| **Browser** | Microsoft Edge Version 97.0.1072.13 (Officia

[2021-12-03 16:01] mgdelacroix opened #1922 "Bug: Creating a template from a card renders the workspace unusable"
## Steps to reproduce the behavior

1. On a board, create a card with some content
2. Create a template from the card
3. Get an error of "the card doesn't exist" on the card modal
4. Refresh
5. From that point on, accessing the workspace will redirect to an error page with `/boards/error?id=n is null` on the URL.

## Expected behavior

The template is created from the card.

## Edition and Platfor

[2021-12-03 17:03] chenilim opened #1924 "Bug: Export and reimport duplicates boards"
## Steps to reproduce the behavior

1. Open a workspace with one or more boards
2. Select the settings button and export the workspace archive
3. Import the archive back to the same workspace
4. Boards are duplicated

## Expected behavior

The import should overwrite existing boards, as it did before.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.11.0
 - Browser and OS: Ch

[2021-12-03 17:25] hahmadia commented on #1918
WIP https://github.com/mattermost/focalboard/pull/1896

Requires QA testing and then this will be solved.

[2021-12-03 17:26] ogi-m commented on #1922
Might be related to https://github.com/mattermost/focalboard/issues/1888

[2021-12-03 18:34] #1879 closed

[2021-12-04 20:34] kamre opened #1928 "Bug: card description editor doesn't support markdown"
## Steps to reproduce the behavior

1. Create a new board
2. Create a new card
3. Start adding card description via writing some markdown
4. Editor for card description does not have any support for markdown

## Expected behavior

Editor should support editing markdown as before

## Screenshots

Expected:
![MarkdownEditorBefore](https://user-images.githubusercontent.com/5587620/144723084-df37c4b0-

[2021-12-05 23:14] Genei180 commented on #1911
@chenilim there is indeed an Error Message:

[code]

The Network Tab apparently shows no errors.

If I am Understanding the Error Above, Correctly, it has something to-do with my German Language Setting.
So there I was Experimenting with the Language Files, and suddenly everything functions as it should.

I couldn't reproduce the Error, and git showed me no apparent Changes. (Even after a full har

[2021-12-05 23:14] #1911 closed

[2021-12-06 05:13] Talismanian commented on #1915
Also noticing this on Docker, 0.11.0, FF94 on Linux too. Docker image 88ed2222a948.

[2021-12-06 14:13] #1880 closed

[2021-12-06 16:29] tareko commented on #1844
This fix helped me too. In my case using helm and the official board, this was:

[code]

[2021-12-06 17:56] chenilim commented on #1928
Thanks for filing this @kamre! DraftJS supports plugins, and there are a number of markdown plugins available (e.g. [markdown-draft-js](https://github.com/Rosey/markdown-draft-js) and [draft-js-markdown-plugin](https://github.com/withspectrum/draft-js-markdown-plugin)). This is likely the most direct way to restore the previous Markdown editing functionality.

There are also more advanced editors

[2021-12-07 08:49] mgdelacroix commented on #1924
This was an intentional side effect of server-side UUIDs. Now when importing a board all IDs are replaced by new ones on the server, hence duplicating all blocks

[2021-12-07 09:27] mgdelacroix opened #1936 "Bug: Cannot move cards on Chrome"
## Steps to reproduce the behavior

1. On any board, try to move a card to a different column
2. Observe how the card doesn't move, and no XHR request is fired on the Network tab

## Expected behavior

The card should move normally

## Screenshots

If applicable, add screenshots to elaborate on the problem.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.11.0 RC1
 - Browser

[2021-12-07 15:06] sbishel commented on #1888
I don't think its exactly the same, but related to https://github.com/mattermost/focalboard/issues/1922

Duplicating card from another card or template.

[2021-12-07 15:36] sbishel commented on #1924
Document this as by design. Need better backup/restore method.

[2021-12-07 15:39] sbishel commented on #1921
Trim spaces. Don't worry if an emoji exists. "done" and "done "

[2021-12-07 15:41] sbishel commented on #1920
@asaadmahmood - Could you weigh in on functionality here. Warning vs "item 2", etc.

[2021-12-07 15:49] sbishel commented on #1914
Will be handled differently with permission changes on 0.12. We should review then.

[2021-12-07 17:47] kamre commented on #1826
Hi @saturninoabril! I am working on this task and have several notes:
* creating a new empty board described [here](https://automation-test-cases.vercel.app/test/MM-T4274) doesn't work for standalone server because side bar is different one (doesn't have the "+" icon at the top for example), so I am using menu at the bottom
* steps 3 and 4 are not relevant now because adding new property now requi

[2021-12-07 17:51] chenilim commented on #1936
Followup from triage: We weren't able to repro this issue on Chrome (Linux and Mac). @agnivade, are there any specific errors you see in the browser console or network tab?

[2021-12-07 17:56] agnivade commented on #1936
Nope. You can see more debugging info here: https://community-daily.mattermost.com/core/pl/q864yzdyotbn5cdap7uocrwe8e.

No console errors. No websocket events. No XHR. Absolutely nothing. I can post a gif tomorrow.

[2021-12-07 19:41] #1922 closed

[2021-12-07 19:51] #1884 closed

[2021-12-07 19:51] #1915 closed

[2021-12-07 19:51] #1918 closed

[2021-12-07 20:36] nishantwrp commented on #1815
Hi @saturninoabril, I think the test instructions written in the issue description are written w.r.t. the plugin not standalone server. Can you let me know on how to write e2e tests for focalboard as a plugin. (Don't we need mattermost running for that? 🤔)

[2021-12-07 21:35] saturninoabril commented on #1826
Thanks @kamre! @ogi-m, could you please help check with the notes and bug as stated above? Thank in advance!

[2021-12-07 22:30] sbishel commented on #1888
This appears to have been fixed by this PR - https://github.com/mattermost/focalboard/pull/1937
0.11.0-rc2 should have the fix.

[2021-12-07 22:51] tjbortz1s opened #1941 "Feature Idea: Consider switching to ProseMirror away from SimpleMde"
## Summary

SimpleMde works great on desktop, but absolutely stumbles and falls over itself once you try to do anything with it on mobile.
ProseMirror allows similar functionality, but is a lot more robust/reliable/uses newer code.  You will have to use the low level features of it instead of the "drop in" SimpleMDE, but in the long run it might prove to be a lot more solid.

SimpleMDE is also not

[2021-12-08 03:47] kamre commented on #1941
Hi @tjbortz1s! It seems that the editor was already switched to [draft.js](https://github.com/facebook/draft-js) and some functionality was [lost](https://github.com/mattermost/focalboard/issues/1928).

[2021-12-08 08:27] gvheertum opened #1946 "Bug: When creating a new card the focus is not put on the title of the card"
## Steps to reproduce the behavior

1. On a board add a new card
2. The system will popup a dialog to create the new card
3. You'll see that the textinput is shown very briefly on the title line but disappears after a couple of seconds

## Expected behavior

When creating a new card I would expect the focus to be on the title field (I even would expect the focus on that field when editing an exist

[2021-12-08 14:21] ogi-m commented on #1888
@sbishel I can still reproduce this with RC2

[2021-12-08 14:25] sbishel commented on #1888
Thanks @ogi-m. We'll keep it open.

[2021-12-08 14:57] xNaCly commented on #533
Is this issue not fixed, otherwise i would like to work on it?

[2021-12-08 15:01] ogi-m commented on #1848
Hi @MostHated, we could not reproduce the issue. Could you try reinstalling? Or if that doesn't fix it, would you mind trying if it reproduces on [v0.11-RC2](https://github.com/mattermost/focalboard/releases/tag/v0.11.0-rc2)?

[2021-12-08 15:04] #1878 closed

[2021-12-08 15:07] ogi-m commented on #1888
Steps to repro (applies to plugin also):

1. Create a board from a template
2. Open one the pre-made cards
3. Click on `...` in the top right > New template from card
4. Observe the error
5. Close the card dialog and click on the downward arrow next to "New" button on the board
6. Select the card template created from the card in step 3
7. Observe the error

[2021-12-08 15:19] agnivade commented on #1936
Tried again today, and it's working again. This has been going on for a while. I'll post a video whenver I repro this. But it definitely happens for sure.

[2021-12-08 16:19] MostHated commented on #1848
I just gave it a go again with the version you mentioned and it didn't seem to do it anymore that I could repro either, so I suppose whatever it was, it no longer is, lol. :+1:

[2021-12-08 16:51] #1889 closed

[2021-12-08 16:57] chenilim commented on #1941
Thanks for the suggestion @tjbortz1s! We've started looking at using a plugin to add back Markdown preview to draft.js. See note in #1928, and the [thread here](https://community-daily.mattermost.com/core/pl/6qmtxhsbg7fwxqscjnbiidsida) with a link to the test server - not sure how this performs on mobile. I wasn't aware of ProseMirror before, thanks!

Longer term, we are looking for a an "advanced

[2021-12-08 20:53] wuwinson commented on #1888
Repro'ed on v0.11 RC2 plugin following @ogi-m's steps above. Template still gets created in step 3, and card still gets created in step 6. See video for more details.

When creating a card from an existing template from the blue drop-down on the board, error still appears for a split second, but is replaced by the card template (see the 27 sec mark).

https://user-images.githubusercontent.com/9353

[2021-12-08 21:10] chenilim commented on #1841
I was able to repro this issue on both:
* v0.11 RC2 Personal Desktop Mac with a new DB
* Private build off release-0.11.

macOS 11.16.1 and SQLite 3.32.3.

[2021-12-08 21:28] chenilim commented on #1750
Thanks @jwfox5150! Sorry for the delayed response, but this is currently being tracked by the [Change Notifications feature](https://community-daily.mattermost.com/plugins/focalboard/workspace/qgsck6cts3fwpqwyjiupjm5cde/shared/b4ctmm917q3rzdfi451qtuxjzcw/vuswsftt1rb873datosmmbtwkpa/cqbmjyyxgotdydfwt6chjs6op1c?r=k995q65fg14cop75s8wkzxr76cc) ([spec](https://docs.google.com/document/d/1QuLN9OUn7LNC0G

[2021-12-08 22:11] chenilim opened #1948 "Bug: Text fields don't wrap in shared read-only boards"
## Steps to reproduce the behavior

1. Open a card
2. Add a text field, paste in a long sentence (e.g. "This is a long sentence. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit fermentum feugiat. Pellentesque aliquet, quam id auctor vehicula, neque leo malesuada urna, in lobortis massa justo nec mauris. Proin enim mauris, ultrices et quam id, fermentum iaculis nisi. Morbi e

[2021-12-09 00:14] chenilim opened #1949 "Bug: Error banner flashes on read-only boards"
## Steps to reproduce the behavior

1. Open a board
2. Enable share-board from the board menu
3. Copy the link and paste it in a new window
4. The error banner flashes while the board loads

## Expected behavior

No error banner flash

## Screenshots

https://user-images.githubusercontent.com/46905241/145311256-8b9bc276-47ab-4d70-a99a-3272bc39f89f.mov

## Edition and Platform

 - Edition: Mattermo

[2021-12-09 01:12] chenilim opened #1950 "Bug: Tables don't render correctly in Personal Desktop"
## Steps to reproduce the behavior

1. Open a card and paste in a table, e.g.:

## Tables:
| Role / Rights | Admin | Editor | Commenter | Viewer |
| --- | --- | --- | --- | --- |
| Modify permissions | X | | | |
| Share board | X | | | |
| Delete board | X | | | |
| Rename board | X | X | | |
| Add, edit, and delete views | X | X | | |
| Add, edit, and delete cards | X | X | | |
| Comment | X | X

[2021-12-09 04:33] harshilsharma63 commented on #1888
Thanks @ogi-m for the steps! This was very helpful.

[2021-12-09 05:31] chenilim commented on #1732
You got it @MaElisa! Sorry for the delay (was out the week before). Thanks for picking this up!

[2021-12-09 05:34] kamre commented on #1946
Hi @gvheertum! I have also noticed this regression and it is really disturbing one.

Quick looking into the code shows that this was caused by [this change](https://github.com/mattermost/focalboard/pull/1836/files#diff-3c898d47217449ce3081a4b2bcf6ebf49a9c3abcd8144687c5ac7e1240bb46b7R67-R69) in #1836 I will try to fix the issue.

[2021-12-09 06:56] agnivade commented on #1936
Funnily, happened again today, but when I tried to capture a video, it started working. There's some non-deterministic part here.

[2021-12-09 08:38] saturninoabril commented on #1815
That's true. However, could you please align the test for standalone server? For plugin test, we're likely to add it in the mattermost-webapp repo where all product suite will be tested.

[2021-12-09 11:05] #1888 closed

[2021-12-09 11:08] harshilsharma63 commented on #1888
Fixed and merged in main and cherrypicked in `release-0.11`.

[2021-12-09 11:18] ogi-m commented on #1826
The missing checkmark is indeed a bug, thanks for catching that @kamre. I'll file an issue.

As for the final step, you're right, it doesn't make sense. I believe my intent when creating the test case was to create a new card in the column. I've updated the steps accordingly.

[2021-12-09 11:53] ogi-m opened #1953 "Bug: "This card doesn't exist or is inaccessible" flashes briefly when creating card template or when creating a card from template"
## Steps to reproduce the behavior

1. Create a board and create a card
2. In the card dialog, click on `...` in the top right > New template from card
4. "This card doesn't exist or is inaccessible" error flashes briefly
5. Close the card dialog and click on the downward arrow next to "New" button on the board
6. Select the card template created from the card in step 2
7. "This card doesn't exist

[2021-12-09 11:56] ogi-m opened #1954 "Bug: Unable to delete boards and cards"
## Steps to reproduce the behavior

1. Create a board
2. Create a card in the board
3. In the card dialog, click `...` then "Delete"
4. Confirm by clicking "Delete"
5. The card doesn't get deleted (same happens when trying to delete a board)

## Expected behavior

Cards and boards should get deleted as expected

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.12
 - Browser an

[2021-12-09 11:58] ogi-m commented on #1954
Doesn't repro on v0.11

[2021-12-09 12:18] LhotseMon opened #1955 "Feature Idea: Can we add time filtering function to the group?"
## Summary

What the new capability is.
Can we add time filtering function to the group?

## How important this is to me and why

Used to view the work of the last week
Importance: High/Medium/Low
High
Use cases:
1. view the work of the last week

## Additional context/similar features

Any examples of good implementations of this capability.

[2021-12-09 13:42] jakejoh commented on #670
Can't confirm it's working.

Using `docker run -it -v "/home/user/focalboard-data:/data" -p 80:8000 focalboard` from docker/README.md still crashes. Without mapping /data the container is starting, but I think persisent storage would be nice.

[2021-12-09 16:07] chenilim commented on #1946
@ogi-m - looks like the PR is approved. Are you ok taking this for v0.11? If so, please go ahead and merge and CP @hahmadia. cc @sbishel, @wuwinson.

[2021-12-09 16:13] chenilim opened #1957 "Write Boards plugin developers guide"
## Summary

The [contributors / developer setup](https://www.focalboard.com/contribute/getting-started/) and [readme](https://github.com/mattermost/focalboard#readme) currently have instructions to develop against Personal Server. We should write a guide to setup a development environment for the Mattermost Boards plugin.

Looking for someone to write the initial draft, to be reviewed by the dev t

[2021-12-09 16:18] chenilim opened #1958 "Update the dockerfile to deploy Postgres instead of SQLite"
## Summary

As the server gets more sophisticated, we recommend / require multi-user environments to use Postgres instead of SQLite. E.g. there are bugs like https://github.com/mattermost/focalboard/issues/1841 which are caused by concurrency issues on SQLite.

As a result, we should default Personal Server installations to Postgres instead of SQLite.

[2021-12-09 17:14] #1877 closed

[2021-12-09 17:16] ogi-m commented on #1946
@chenilim That same PR also fixes https://github.com/mattermost/focalboard/issues/1877 so I was fine with taking it.

[2021-12-09 17:19] chenilim commented on #1946
Sounds good! Thanks @kamre and everyone for getting this fix in!

[2021-12-09 18:39] ali-irawan commented on #1866
Yes, also experiencing this,
When updating a card title, It does not reflect immediately in the screen, although the request to server is made, PATCH and updated to database.
But to be reflected in the screen need go back to Mattermost Dashboard, or refresh it.

Mattermost Version: 6.1.0
Database Schema Version: 6.1.0
Database: mysql

Just upgraded from v5.37.0 to 6.1.0
Before the Focalboard is wo

[2021-12-09 18:39] chenilim opened #1960 "Bug: Links are not highlighted in card descriptions (Personal Editions)"
## Steps to reproduce the behavior

1. Open a card
2. Enter a link in the description, e.g. `This [should be a link](https://www.focalboard.com).`
3. Exit the editor
4. The link is not highlighted

## Expected behavior

The link should be highlighted (in link style), as it is in the plugin.

## Screenshots

<img width="404" alt="Screen Shot 2021-12-09 at 10 31 36 AM" src="https://user-images.githu

[2021-12-09 21:36] wuwinson opened #1961 "Bug: Long URLs don't wrap in card comments"
## Steps to reproduce the behavior

1. Open any card
2. Copy the card link from the top right corner
3. Paste the copied URL into the comments section in the card
4. See error

## Expected behavior

URL should wrap to 2nd line after reaching end of comments section on the right.

## Screenshots

https://user-images.githubusercontent.com/93531870/173430453-9cbe2cfd-5bdd-489f-a64f-7bdea666c009.mov

[2021-12-09 21:44] wuwinson opened #1962 "Feature Idea: Card/comment reactions"
## Summary

Ability to react or "like" a card or comment similar to Channels.

## How important this is to me and why

Importance: Medium

Use cases:
1. Allows users to indicate that they've seen or support a card/comment without having to leave a comment.

## Additional context/similar features

Message reactions on Mattermost Channels.

[2021-12-09 21:57] #1850 closed

[2021-12-10 04:01] #1815 closed

[2021-12-10 13:04] ogi-m commented on #1848
Perfect, glad to hear that! Closing the issue.

[2021-12-10 13:08] #1730 closed

[2021-12-10 14:17] #1841 closed

[2021-12-10 17:39] chenilim commented on #1766
Moving this to v0.12 after the last discussion - it's an existing issue, and we need more time to sort out the various "baseURL" settings. cc @sbishel, @wuwinson, @ogi-m, @wiggin77.

[2021-12-10 17:47] chenilim commented on #1893
Looks like this should be now fixed by https://github.com/mattermost/focalboard/pull/1965?

[2021-12-10 19:59] nishantwrp commented on #1888
Just updated my server to the latest release. Now, the error just appears briefly and then I can edit the card. Still, the content of the new card is empty. The template content doesn't get filled in the new card.  /cc @harshilsharma63 @ogi-m

[2021-12-10 21:44] chenilim commented on #1893
[Confirmed](https://community-daily.mattermost.com/core/pl/rn9pdh1q43fxjefkeezk69gw4a) this is fixed by #1965.

[2021-12-10 21:44] #1893 closed

[2021-12-10 21:53] chenilim opened #1972 "Bug: Fix missing description (bad contentOrder) on community"
## Steps to reproduce the behavior

1. Open a card that was migrated to v0.11 RC, e.g. [this one](https://community.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/b4ctmm917q3rzdfi451qtuxjzcw/vuswsftt1rb873datosmmbtwkpa/conjb7pawkf8y9k7zsa4uu66adw)
2. The description is missing

## Expected behavior

Restore the description from before the migration issue (#1893)

## Edition and Platfor

[2021-12-11 00:01] hahmadia opened #1973 "Bug: BoardsUnfurl Feature Flag removed at some point"
Hey Team,

I purposely mis-categorized this just so it gets attention. This is not an actual bug report.

A reminder that Boards Unfurl has a feature flag around it that should ideally be removed sometime in the future. The feature flag is called "boardsUnfurl". Didn't want this to be forgotten.

[2021-12-11 07:42] kamre commented on #1754
Hi @asaadmahmood Can you provide your opinion about this feature?

I have initial implementation and would like to continue working on this feature. So any input on the UI design will be helpful. May be there are better icons for these badges in the Compass icon set that is currently used.

[2021-12-11 07:43] asaadmahmood commented on #1754
@kamre Are these configurable? so only to be shown when the user selects them?

[2021-12-11 07:50] kamre commented on #1754
Yes, we need to make this configurable so that user can hide and show badges. This information should be saved in the view settings.

But where to place these hide/show actions? My idea was to use three dots menu:
![image](https://user-images.githubusercontent.com/5587620/145668994-30c6bdba-33b6-40b1-975c-b5206a0845dd.png)
with adding "Hide card badges" or "Show card badges" actions there. But @ch

[2021-12-11 17:27] WebNikita opened #1974 "Bug: Proxy pass to ws"
## Steps to reproduce the behavior

1. Start server
2. Configuring nginx
3. Register/Login
4. Firefox cannot establish a connection to the ws server://10.0.1.7/focalboard/ws.

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

None

## Edition and Platform

 - Edition: Debian
 - Version: [e.g. v0.9.0]
 - Browser and OS: Firefox on Win10

## Addit

[2021-12-13 04:26] harshilsharma63 commented on #1888
@nishantwrp thanks for reporting. I'll check that.

[2021-12-13 04:49] agnivade commented on #1936
Ok reproed it. Gif attached:
![repro](https://user-images.githubusercontent.com/1774000/145754142-9b2ae2d9-fd20-4e88-b32c-6ad2c792d2ab.gif)

[2021-12-13 13:33] #1831 closed

[2021-12-13 14:12] ogi-m commented on #1893
Tested and passed, can't repro the issue when upgrading from v0.10 to the latest v0.11 RC

[2021-12-13 14:48] ogi-m commented on #1872
This reproes in plugin mode as well now, updated the title and description to reflect that.

[2021-12-13 14:48] ogi-m commented on #1880
Tested and passed on v0.11, the popup now respects the theme.

[2021-12-13 15:01] coltoneshaw opened #1975 "Feature Idea: Bookmark or favorites boards"
## Summary

Right now I'm testing using a personal Board for my daily tasks and such. What I'm finding is that I have to keep reopening that board multiple times a day either through search or DM > Boards. This adds a few more steps to the process that what is ideal. It would be awesome to be able to open a specific tab on the desktop app for a board, or to bookmark the board

![Screen Shot 2021-1

[2021-12-13 15:24] ogi-m commented on #1946
Tested and passed on v0.11

[2021-12-13 15:24] ogi-m commented on #1877
Tested and passed on v0.11

[2021-12-13 15:37] wiggin77 commented on #1872
I cannot test this as FocalBoard requires Windows 10 and I only have an older version.

[2021-12-13 15:52] ogi-m commented on #1884
Working as expected on latest v0.11

[2021-12-13 15:53] ogi-m commented on #1918
Tested and passed, working as expected now in Firefox

[2021-12-13 15:57] ogi-m commented on #1915
Tested and passed on latest v0.11

[2021-12-13 19:27] #1872 closed

[2021-12-13 19:52] tjbortz1s commented on #1697
Closing this as the icon issue was closed in the duplicate issue as well.

[2021-12-13 19:52] #1697 closed

[2021-12-14 01:36] ogi-m opened #1980 "Bug: Calendar picker on-hover highlights are mispositioned"
## Steps to reproduce the behavior

1. Go to a card
2. Add a date property and open the date picker
3. Hover over a date
4. See that the highlight circle is not centered

## Expected behavior

The higlights should be positioned correctly

## Screenshots

![Screenshot (160)](https://user-images.githubusercontent.com/15314183/145916567-a1b63ddc-507b-4399-904a-bad08a5ff49b.png)

## Edition and Platfo

[2021-12-14 02:57] wuwinson commented on #1980
Repro'ed @ogi-m's steps on Windows.

## Steps
Seeing some issues on Mac as well, but slightly different outcome. See video for details.
1. Open date picker on a card with date property
2. Hover over dates makes the dates blend in with highlight
3. Selecting a new date does not clear the original date

## Screenshots
https://user-images.githubusercontent.com/93531870/145924321-904a3ddd-d101-4176-b7

[2021-12-14 11:54] martinkoutecky commented on #104
What's also important is that in the timeline view one can drag&drop the item or stretch / shrink them and this changes the dates / date range appropriately.

[2021-12-14 12:23] ZeeshanSultan opened #1982 "Feature Idea: Task time tracking"
## Summary

Many solutions like click-up offer task-based time tracking. Mattermost board tasks should have time tracking.

## How important this is to me and why

Importance: High

Use cases:
1. A task that spans multiple days, i.e a feature that multiple people are working on and will take n number of days, we can't just start and complete and gauge the productivity of our team.

## Additional c

[2021-12-14 16:01] #1980 closed

[2021-12-14 16:03] gvheertum opened #1984 "Bug: Theme and language popouts in the menu are not closed onblur"
## Steps to reproduce the behavior

1. Open the app in a browser or in the application window (seen in both Windows and Mac)
2. Open the settings via the settings button in the left bottom
3. Hover over the language and theme option, this will open both sub menu's
4. See language and theme overlapping each other

## Expected behavior
When "blurring" from the element I would expect it to close, thi

[2021-12-14 18:10] Genei180 commented on #91
@datafj There are currently Duplicate Instructions on how to use/build it with Docker.
One in the Main README and one in docker/README.

I suppose what you are looking for is in docker/README:
`docker run -it -v "/home/user/focalboard-data:/data" -p 80:8000 focalboard`
(I didn't test it, so please be careful)

Where "/home/user/focalboard-data" is the Path in your Host System.

Be Aware that you c

[2021-12-14 22:39] ogi-m commented on #1980
Tested and passed on v0.11 👍🏻

[2021-12-15 05:48] kamre commented on #1984
Hi @gvheertum! There was already similar bug #1581 reported and there is a pull request #1586 with possible fix.

[2021-12-15 14:06] ogi-m opened #1987 "Bug: Change Notifications > Notification should include all users that made changes to the card"
## Steps to reproduce the behavior

1. As User1, go to Boards and follow a card
2. As User2, open that card and make a change
3. As User3 make a change to the same card
4. As User1 go to Channels and observe the change notification that comes in for the card:
Changes from User2 and User3 are attributed to User2

## Expected behavior

The notification should list all users that made changes to the

[2021-12-15 14:59] hmhealey opened #1988 "Feature Idea: Add confirmation when deleting a view"
## Summary

Having a confirmation modal when clicking Delete View

## How important this is to me and why

Importance: High

Use cases:
1. Not accidentally deleting a view when attempting to click Duplicate View

[2021-12-15 15:13] hmhealey opened #1989 "Bug: Views list is sorted weirdly when view names start with numbers"
## Steps to reproduce the behavior

1. Create views named things like "2021 Q1", "2022 Q1", "2021 Q4"

## Expected behavior

That views are sorted alphabetically which would cause them to be grouped by year and then sorted by quarter.

## Screenshots

Views not starting with numbers are sorted alphabetically, but the order gets weird when they start with numbers. It seems like the sort order might

[2021-12-15 16:15] ogi-m commented on #1987
This is tracked by [a card](https://community-daily.mattermost.com/boards/workspace/qgsck6cts3fwpqwyjiupjm5cde/b4ctmm917q3rzdfi451qtuxjzcw/vuswsftt1rb873datosmmbtwkpa/c1dawrhr97frq381xkh94uno9ir). Closing.

[2021-12-15 16:15] #1987 closed

[2021-12-15 16:57] #1826 closed

[2021-12-15 17:40] amyblais opened #1991 "Update mattermost-server to pre-package Focalboard plugin v0.12"
Update [the makefile](https://github.com/mattermost/mattermost-server/blob/master/Makefile#L123) so that Focalboard v0.12 ships with Mattermost 6.3.

Note that this needs to be cherry picked to the appropriate branch for the release.

**Deadline: January 7th (6.3 Code Freeze)**

[2021-12-15 21:23] #1928 closed

[2021-12-15 21:25] chenilim opened #1992 "Bug: Markdown preview shows additional borders around code blocks"
## Steps to reproduce the behavior

1. Open a card
2. Add a code block, e.g.:
[code]
3. Notice there are additional borders around each line

## Expected behavior

No borders on each line

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.12 / main
 - Browser and OS: Chome on macOS

[2021-12-15 23:04] #1992 closed

[2021-12-16 08:47] sargreal opened #1994 "Bug: "Something went wrong" when loading Board with board view"
## Steps to reproduce the behavior

1. Go to Workspace
2. Select Board view
4. See "Something went wrong" message

## Expected behavior

There should be no "Something went wrong" error

## Screenshots
![Peek 2021-12-16 09-40](https://user-images.githubusercontent.com/19500573/146337209-61b08c77-af01-44f7-935a-72f7e3cdef39.gif)

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v0.

[2021-12-16 11:36] 0xC0000000 opened #1995 "Feature Idea: support gantt"
Hey guys,

Do you have any plan for gantt support ?

[2021-12-16 16:40] wiggin77 opened #1996 "Bug: SQL syntax errors for mysql"
## Steps to reproduce the behavior

1. using latest main
2. run unit tests using mysql
3. see syntax error in getSubTree3

## Expected behavior

No crashy

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: latest main
 - Browser and OS: Linux

[2021-12-16 17:00] lindy65 opened #1999 "Bug: Boards App (macOS) Clicking "New" button and "+New" to create a new card shows a blank screen"
Repros on macOS (but not Windows 10) Boards app from this link: https://focalboard-builds.s3.amazonaws.com/latest/focalboard-mac.zip

## Steps to reproduce the behavior

1. Download the macOS app from the above link
2. Create a board
3. Within the new board, click on "New" button to create a card and also click on "+New" to create a card
4. FYI, this also reproduces when hovering over an existing

[2021-12-16 17:43] #1996 closed

[2021-12-16 19:09] wuwinson commented on #784
Use cases per [@zev](https://community.mattermost.com/core/pl/1upoies6mirbjkb4o67so4zrpe):

For personal use there are a lot of chores I need to schedule to remember them. Things like dusting baseboards, updating software, paying invoices, feeding my sour dough, washing the shower curtain (let's be honest it's not often enough), checking fluids in the car, changing oil and oil filter etc. If one a

[2021-12-16 20:41] sargreal commented on #1994
Not sure where the bug came from exactly but by deleting the specific board view in the database and readding it, it was fixed.
[code]

[2021-12-16 20:41] #1994 closed

[2021-12-17 16:44] #1883 closed

[2021-12-19 10:44] linsyking opened #2001 "Bug: Language not saving"
## Steps to reproduce the behavior

I change the language, but when I start the program again, it returns to English.

## Expected behavior

The language should be saved.

## Edition and Platform

 - Edition: Personal Desktop
 - Version: Latest
 - OS: Linux

[2021-12-19 14:41] kamre opened #2002 "Bug: can't open cards on Safari"
## Steps to reproduce the behaviour

1. Create new board
2. Try to create new card
3. See empty screen

## Expected behaviour

Card dialog should be visible

## Edition and Platform

 - Edition: Personal Server
 - Version: `0.12.0` on `main` branch
 - Browser and OS: Safari 15.2 on macOS

## Additional context

The issue comes from the `live-markdown-plugin`, in particular the [regexp with lookbeh

[2021-12-20 09:11] lindy65 commented on #1702
Hi, I'm reopening this issue as clicking on a card link from a channel on self-hosted servers (Rainforest v6.2 rc2 and mysql.test v6.2.2 rc1) does not open the card - only opens Boards.

It makes no difference whether you copy the card's link from the 3-dots on the card in Table View or from within the opened card itself - neither link opens the card from Channels.

[2021-12-21 07:30] nishantwrp commented on #1888
Hi @harshilsharma63, did you get a chance to look at this? This issue is still not fixed for me in the latest `0.11` release.

[2021-12-21 18:56] kamre commented on #1999
@chenilim probably the same as this one:
- #2002

[2021-12-21 21:13] sbishel opened #2007 "Bug: Issues with VisiblePropertyIds"
## Steps to reproduce the behavior

Currently, there are two property collections.
Boards - CardProperties - contains all all properties for a card.
ActiveView - VisiblePropertyIds - contains all visible property ids for the current view.

There are a couple of issues with our current implemenation.

1. Table View -
When reordering columns (fields), the CardProperties in the Boards object is reord

[2021-12-22 13:52] biva commented on #382
Hello @chenilim Congrats for your last improvements, I notably love the calendar view :)

Regarding this card creation from within a thread/message in Mattermost, were you able to look at the solution proposed by Nextcloud/Talk? Something similar would be great!

The more we go, the more I think this feature would replace the Todo extension in a better way. And the more I think you're right to go

[2021-12-22 14:35] Jacob-001 opened #2013 "Bug: how can focalboard.exe be uesd on windows7？"
i need use windows7 ,when i run focalboard.exe on win7,it can not run.
![win7 bug](https://user-images.githubusercontent.com/63133877/147108774-50f4e136-ec80-444d-a2d0-6a5dbeeafc01.jpg)

[2021-12-22 23:03] wuwinson opened #2017 "Bug: Missing card descriptions on import"
## Steps to reproduce the behavior

1. Go to a board with cards that have descriptions
2. Export board archive from menu left of "New" button
2. Go to different workspace
3. Select gear wheel from top right to Import Archive
4. Select file generated from step 1
5. Click on cards to view card descriptions
6. See error

## Expected behavior

Cards with descriptions are populated into the imported ca

[2021-12-23 09:43] Djiit opened #2018 "Feature Idea: Import/Export Templates"
## Summary

I'd like to be able to import/export templates. Maybe I missed the feature?

## How important this is to me and why

Importance: Low (but would foster enterprise adoption)

Use cases:
1. Re-using template across a Team, in different channels (Mattermost Integration). Today we're using a single channel for projects to share everything.
2. Easily share (community) templates
3. You name i

[2021-12-23 19:29] nishantwrp commented on #1917
Hi, I'd like to work on this issue.

[2021-12-27 16:28] gechandesu opened #2022 "Enhancement: Don't lose focus on text areas when press Caps Lock"
## Summary

The point is not to lose focus on text fields when you press `Caps Lock`. I and probably many more who use several languages configure switching the keyboard layout to the caps lock key for speed and convenience instead of the common `Alt` + `Shift`.

### Expected Behavior:

I print text on a line, switch to another layout by pressing `Caps Lock`, and continue typing text.

### Current

[2021-12-29 08:56] Redor opened #2024 "Bug: It is not possible to create a new card on the focalboard"
## Steps to reproduce the behavior

1. creating a new board
2. hit the "New" button to create a new card
3. error occurs

## Expected behavior

I should be able to create a new card.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: mattermost 6.2.1
 - Browser and OS: Chrome 96 on Linux

## Additional context

The client tries to POST to https://xx.xx.de/plugins/focalboard/api/v1

[2021-12-31 01:15] LanceBurns opened #2027 "Bug: Boards not working (Mattermost 5.39->6.2.1 upgrade) with SiteURL"
## Edition and Platform

 - Edition: Mattermost plugin
 - Version: Mattermost 6.2.1 (Linux x64, Ubuntu Server 20.04.2)
 - Browser and OS: Mattermost Desktop App - Windows 10 & Ubuntu 21.04

## The Problem

I updated our Mattermost server to 6.2.1 (from 5.39.0), using the basic method suggested by the upgrade guide (which I’ve done many times previously), and boards aren’t working.

I do see the li

[2021-12-31 11:17] dislazy opened #2028 "Bug: using domain for mysql ,the docker not started"
## Steps to reproduce the behavior

- change config.json
- "dbtype": "mysql",
- "dbconfig": "boards:boards@abc.dba.com:3306/boards",

## Expected behavior

docker run -d -p 1002:8000 -v /root/board/config.json:/opt/focalboard/config.json  --name focalboard mattermost/focalboard

## Screenshots

2021/12/31 10:58:12 readConfigFile
2021/12/31 10:58:12 {ServerRoot:http://localhost:8000 Port:8000 DBTyp

[2022-01-01 14:16] Shonke opened #2029 "Feature Idea: We should remove configuration leaks from our code"
## Summary

We should remove it to avoid revealing secrets in the log:
https://github.com/mattermost/focalboard/blob/e7c38c88226e7e333f19976182a6b26dae029eca/server/services/store/sqlstore/sqlstore.go#L39

From log:
[code]

## How important this is to me and why

Importance: Medium

Use cases:
1. Removing it should have no consequences

## Additional context/similar features

[2022-01-03 05:31] bingling00 opened #2031 "Bug：Long URLs don't wrap in card."
## Steps to reproduce the behavior

1. Open a card. Add a property, select URL, paste a long url.
2. Back to board, add a Gallery view.
3. Properties show URL
4. Long URLs don't wrap in card.

## Expected behavior

The extra letters are hidden

## Screenshots

![QQ20220103-132747](https://user-images.githubusercontent.com/61322616/147901746-1eef980d-8071-40bf-a820-8d93e8a8c00b.png)

## Edition and

[2022-01-03 11:29] neosparx commented on #2027
Another observation on this topic is that, the boards do work on the web browser but give the error on the windows desktop app

[2022-01-03 12:03] neosparx opened #2032 "Bug: Boards removes folder from SiteUrl causes 404 Error"
## Steps to reproduce the behavior

1. Setup a Mattermost 6.2.1 instance in a folder on a domain e.g. Siteurl - https://iosteam.in/mattermost
2. Create a channel and a board for the channel
3. Go to the channel and then go to the board
4. Boards first goes to an url https://iosteam.in/mattermost/boards/workspace/1a5miyk8z3bnuj9ke184inc7kw
5. But then it redirects to another url https://iosteam.in/

[2022-01-03 15:16] Torilen opened #2033 "Bug: 400 Bad Request - Request Header Or Cookie Too Large"
Hi  everyone

## Steps to reproduce the behavior

Follow the personal server ubuntu tutorial (https://www.focalboard.com/download/personal-edition/ubuntu/) on a raspberry pi 3b+ with Ubuntu Server 21.10 64bits. It is on my local network at the 192.168.0.26 ip. I go on http://192.168.0.26:8000 and i find 400 Bad Request - Request Header Or Cookie Too Large

## Expected behavior

Show the focalboard

[2022-01-03 17:54] chenilim commented on #1745
Reviewed this issue. It looks like the previous fix (to remove the enableLocalMode) didn't merge correctly. In any case, the error log is caused by trying to unlink the socket file even if it doesn't exist, but doesn't indicate an actual failure. Submitted a better fix to only try to unlink the file if it exists.

[2022-01-03 18:42] #1745 closed

[2022-01-03 21:43] chenilim commented on #2002
Thanks for filing! Just catching up after the holidays. Confirmed this is an issue with Safari (and likely FireFox) because they [don't support the lookbehind RegEx operator](https://stackoverflow.com/questions/51568821/works-in-chrome-but-breaks-in-safari-invalid-regular-expression-invalid-group). Working on a fix.

[2022-01-03 21:46] chenilim commented on #1999
Looks like a dup of #2002. Working on a fix.

[2022-01-03 22:01] chenilim opened #2036 "Bug: Description updated by other sessions / users are overwritten on edit"
## Steps to reproduce the behavior

1. Open a card
2. Set the description (e.g. "Desc 1")
2. Open the card in another tab
3. Edit the description in the first tab (e.g. "Desc 2"), second tab updates correctly
4. Now edit the description in the second tab
5. The editor shows "Desc 1"

## Expected behavior

The editor should show "Desc 2"

## Edition and Platform

 - Edition: Personal Desktop / Pers

[2022-01-04 05:07] #1999 closed

[2022-01-04 05:07] #2002 closed

[2022-01-04 18:34] chenilim opened #2038 "Remove Beta label"
## Summary

Remove BETA label from display.

[2022-01-04 19:03] #2038 closed

[2022-01-04 21:12] nishantwrp opened #2041 "Bug: Unable to create new card from a template"
## Steps to reproduce the behavior

1. Try to create a new card from a template
2. See error

## Screenshots

I get this card when I try to create a new card from a pre-existing template.

<img width="998" alt="Screenshot 2021-11-29 at 11 34 47 PM" src="https://user-images.githubusercontent.com/36989112/143920159-d921892d-5863-426b-bcbc-109dd018832a.png">

## Edition and Platform

 - Edition: Pers

[2022-01-04 22:27] chenilim opened #2042 "Bug: Card templates don't retain description when creating and applying them"
## Steps to reproduce the behavior

1. Create a card
2. Enter a description (e.g. "# Title")
3. Select the card menu (...) and select "New template from card"
4. The new template has no description

## Expected behavior

The new template has a description

## Additional steps:
5. Set a description on the template
6. Now create a card from the template
7. The new card has no description

Expected:

[2022-01-04 22:29] chenilim commented on #2041
@ogi-m, are you able to repro this with v0.11 Personal Server? It didn't repro for me with the plugin (Community Server) or main build. However, I did find and file an issue with the template description not being persisted (#2042).

[2022-01-04 22:44] chenilim commented on #2027
Thanks for filing this. @LanceBurns, does Boards work when accessing Mattermost via browser instead of the desktop app (as @neosparx reported)?

What version of the Mattermost Desktop App is running?

Also, to double check, what version of Mattermost Boards is reported in the System Console (under `/admin_console/plugins/plugin_management`)? For Mattermost v6.2 it should be v0.11. If necessary, yo

[2022-01-04 22:45] chenilim commented on #2024
Duped / fixed with the fix for #1999 in v0.12.

[2022-01-04 22:47] chenilim commented on #2024
Oops, sorry, this is on a different browser (Chrome Linux) than #1999 (Safari). Reopening.

[2022-01-04 22:50] chenilim commented on #2024
From a quick search, this appears to be an issue with the collation setting on MySQL (see this [StackOverflow issue](https://stackoverflow.com/questions/10957238/incorrect-string-value-when-trying-to-insert-utf-8-into-mysql-via-jdbc)). @harshilsharma63, I remember we set the collation explicitly in the migrations. Any idea why this might happen?

@Redor, to help us debug, do you remember the steps

[2022-01-04 22:53] chenilim commented on #1995
Hi @0xC0000000, thanks for filing this. Yup, we have Gantt Charts on the long-term radar - dup of #https://github.com/mattermost/focalboard/issues/662. Right now, this is looking to be farther out (12+ months?). Please feel free to add any additional comments to #662, e.g. on why Gantt charts may be useful for your particular use case.

[2022-01-04 22:53] #1995 closed

[2022-01-04 22:56] chenilim commented on #1982
Hi @ZeeshanSultan, thanks for filing this! Sorry for the delay catching up. The date property currently supports a beginning and end time:

<img width="299" alt="Date range" src="https://user-images.githubusercontent.com/46905241/148135078-9cc60aea-369d-45a7-9659-8bfaadedad4f.png">

We also just shipped a new Calendar view which can overlay cards with these date ranges.

Does that fit your needs?

[2022-01-04 22:58] chenilim commented on #1975
This should be addressed with the permission and nav changes, though I believe favorites may come a bit later, so keeping this open for now. cc @asaadmahmood, @wuwinson.

[2022-01-04 23:02] chenilim commented on #1974
Hi @WebNikita, thanks for filing this and sorry for the delay. Did you follow the steps in the [install guide here](https://www.focalboard.com/download/personal-edition/ubuntu/#configure-nginx)? i.e. does the nginx config include the full contents:
[code]

Does the regular page (http) load? Just not the websockets?

[2022-01-05 00:43] LanceBurns commented on #2027
It does indeed seem to work fine via browser (Firefox)!

Mattermost Desktop App version is 5.0.2 - tested with both Windows 10 and Ubuntu 21.04. I've done a "Clear Cache and Reload" as that has fixed other issues in the past, but no change here.

Mattermost Boards plugin is listed as 0.11.0 - I uninstalled/reinstalled it with no change in behaviour.

[2022-01-05 02:29] wuwinson commented on #1975
That's correct @chenilim. The new permission and nav changes will allow users to assign boards to categories. Favorites will be coming out a bit later, but we'll support custom categories in Phase 1, so the workaround could be naming a custom category as "Favorites" or something else that appears on top of the LHS. See below for reference:

![148150196-acef17de-02d4-419b-ba96-4ade3ff3089d](https:/

[2022-01-05 03:09] sobriver opened #2046 "Feature Idea: The left navigation suggests adding a tree structure"
## Summary

What the new capability is.

## How important this is to me and why
The tree structure on the left supports unlimited levels, which makes it easy to classify items。
Importance: High

[2022-01-05 07:09] nishantwrp commented on #2041
Oh yes actually the error "The card doesn't exist ..." it appears for a split second and I can edit a card but template description and content is not copied automatically to the new card.

[2022-01-05 09:18] moschlar commented on #1903
I think I'm seeing the same error.
With DEBUG log level, I got the following exception right before the plugin crash:

[code]

[2022-01-05 14:06] ogi-m commented on #2041
@nishantwrp Does that mean we can close this issue, since the card does get created but without the description (which is covered by #2042) ?

[2022-01-05 14:08] nishantwrp commented on #2041
Yup, just to point out. It's not just description. It's other content, title as well. Just the status property value was persisted.

[2022-01-05 15:17] wuwinson opened #2048 "Bug: Profile pic not appearing for person avatar"
## Steps to reproduce the behavior

1. Ensure your MM account has a profile pic uploaded
2. Go to any card with a person property
3. Select yourself from the list
4. See error - profile pic does not appear on avatar
5. Mention yourself on the comment or description section
6. See error - profile pic does not appear on avatar

## Expected behavior

Your profile pic appears in place of the letter av

[2022-01-05 16:06] chenilim opened #2049 "Bug: Card description and comment text is faint with Onyx theme"
## Steps to reproduce the behavior

1. In Channels, click on Settings (top right) and set the theme to "Onyx"
2. Open Boards, and open a card
3. Enter text in the card description and / or comment
4. The text is faint and hard to read

## Expected behavior

Text should be higher contrast (white?).

## Screenshots

<img width="300" alt="Onyx text" src="https://user-images.githubusercontent.com/4690

[2022-01-05 20:14] chenilim commented on #2042
Note: This issue also repros when duplicating a card:
1. From Board view, click on card's ... menu, and select Duplicate
2. Card description is empty in the duplicated card

<img width="292" alt="Screen Shot 2022-01-05 at 12 14 08 PM" src="https://user-images.githubusercontent.com/46905241/148282920-1b521b37-2794-4301-8026-17b071aa42a9.png">

[2022-01-05 20:18] sbishel commented on #2032
related to/ duplicate of https://github.com/mattermost/focalboard/issues/1766

[2022-01-05 20:24] chenilim commented on #2027
Thanks for the additional info @LanceBurns! One more question: Do you have a SiteURL configured on Mattermost by any chance? There's currently an issue working against SiteURLs (https://github.com/mattermost/focalboard/issues/2032).

[2022-01-05 20:28] sbishel commented on #2001
@ogi-m Can you try to duplicate.

[2022-01-05 20:30] chenilim commented on #2013
Thanks for filing this @Jacob-001. Focalboard officially requires Windows 10+. To be honest, I'm not sure if it's even possible to update the build to support Windows 7 without significant changes.

[2022-01-05 20:30] #2013 closed

[2022-01-05 20:36] sbishel commented on #1961
related to/ duplicate ? #2031

[2022-01-05 20:43] kamre commented on #1961
@sbishel probably not related to #2031 because the last one can be fixed easily via adding `max-width: 100%` to `octo-tooltip` class. And this bug is about the behaviour in the new `draft-js` editor.

[2022-01-05 20:53] chenilim commented on #1902
Agree, we should not show a warning when renaming properties.

[2022-01-05 20:57] chenilim commented on #1900
Thanks @DummyThatMatters. Sorry for the delay. This appears to be caused by the plugin crashing (or other error). Does disabling and re-enabling the Boards plugin (in System Console \ Plugin Management) fix the issue? Were there other logs that indicate a crash?

[2022-01-05 21:00] sbishel commented on #1527
Won't fix.

[2022-01-05 21:00] #1527 closed

[2022-01-05 21:15] ogi-m commented on #2001
@sbishel Yup, I could repro on Windows. No matter what the user sets, It defaults to system default on next start up

[2022-01-05 21:24] #2007 closed

[2022-01-05 21:24] #1916 closed

[2022-01-06 03:18] LanceBurns commented on #2027
Right, yep ours is installed off the root under `/mattermost` (using an Apache reverse/HTTPS proxy), so it seems likely that that's what it is. I guess we'll just eagerly await version 0.12. Thanks for following up, @chenilim!

[2022-01-06 07:46] HelloToday opened #2053 "Bug: {SOS} can‘t work after several hours not edit,And Now I cant find my data back"
## Steps to reproduce the behavior

1. I download the app from Mac App store
2. Create some board of my work
3. after serveral hours not working /editing,it toast that [登陆过期]，and I cant use it any more. What is worse is I cant restore my data!!

## Screenshots

![image](https://user-images.githubusercontent.com/4242585/148347297-32e776ac-6601-406d-a819-19f6396b792b.png)

## Edition and Platform

[2022-01-06 10:06] erikboberg commented on #475
I am having the same issue.

Get the following error in the log when starting the docker container:

[code]

I tried dropping the table schema_migrations and I also tried `update schema_migrations set version = version - 1, dirty = 0;`

Running the latest docker version.

Thanks!

[2022-01-06 14:41] #2017 closed

[2022-01-06 19:42] chenilim commented on #2042
Update: This didn't repro for me with v0.12 RC1. Create template, create card from template, and duplicate all copy the description correctly. So closing this as fixed, but please verify @ogi-m. cc @sbishel. Thanks.

[2022-01-06 19:42] #2042 closed

[2022-01-06 19:42] chenilim commented on #2036
This also repros for me on v0.12 RC1.

[2022-01-07 06:30] harshilsharma63 commented on #2041
@nishantwrp can you please try this on [v0.12 RC1](https://github.com/mattermost/focalboard/releases/tag/v0.12.0-rc1)? This was fixed yesterday by #2017.

https://user-images.githubusercontent.com/18575143/148501853-b062bd52-1fbe-48d6-a248-a0901ce3c9f4.mp4

[2022-01-07 12:09] ogi-m opened #2059 "Bug: Change Notifications > Undoing a change produces a blank notification"
## Steps to reproduce the behavior

1. Follow a card as user-1
2. As user-2 make a change to the card
3. Revert the change
4. Wait 2min - user-1 receives a blank notification

## Expected behavior

User-1 shouldn't get a notification if a change was quickly undone

## Screenshots

![blank_notification](https://user-images.githubusercontent.com/15314183/148542157-7fa8ee3c-3647-4e4e-82e1-746b619c9b5

[2022-01-07 12:10] ogi-m commented on #2059
Probably not a high priority, but I can see this happening with accidental changes that get undone immediately.
cc @wiggin77 @wuwinson

[2022-01-07 13:00] nishantwrp commented on #2041
Hi @harshilsharma63, the description and content works fine now. But title is not still persisted. Not sure if that intensional.

[2022-01-07 15:16] chenilim opened #2062 "Bug: Mac App - "error" sound when typing first character per line in the markdown editor"
## Steps to reproduce the behavior

1. In the Mac App, open a card
2. Enter a description or comment
3. There's a system "error" sound on the first character per line

## Expected behavior

No sound

## Edition and Platform

 - Edition: Personal Desktop
 - Version: v0.12 RC1
 - Browser and OS: Mac 11.6.2

## Additional context

This also repros on the board description. It appears to be related to

[2022-01-07 15:30] wiggin77 opened #2063 "Bug: Cannot edit description block if only a space"
## Steps to reproduce the behavior

1. Edit card description to have only a space
2. Set focus somewhere else to commit block
3. Try editing same block
4. Cannot edit it

## Expected behavior

Edit the block that only has a space

 - Edition: Mattermost plugin
 - Version: v0.12.0   bug bash
 - Browser and OS: Linux FF 95.0.1

[2022-01-07 15:31] eidsheim98 opened #2064 "Bug: Unable to run Focalboard Desktop on Linux: unable to open database file: no such file or directory"
Getting an error when trying to run Focalboard Desktop:
[code]

## Steps to reproduce the behavior

1.    Download focalboard-linux.tar.gz from the latest release on GitHub
2.    Unpack the .tar.gz archive using
[code]

3. Run focalboard-app from /opt/focalboard-app using

[code]

## Expected behavior

Focalboard should start

## Edition and Platform

 - Edition: Personal Desktop
 - Version: v0.11

[2022-01-07 15:33] chenilim opened #2065 "Bug: Date picker - clicking "today" multiple times when date range is set clears the date"
## Steps to reproduce the behavior

1. Open a card
2. Create a date property and edit it
3. Select a date
4. Enable "Date range" and select an end date
5. Click on the "today" button - it sets start date to today
7. Click "today" again - it sets the end date to today
8. Click "today" again - it clears the date
9. Click "today" again - it re-sets the date to just today, without a range

## Expected

[2022-01-07 15:40] wiggin77 opened #2066 "Bug: selecting custom icon for board has no effect"
## Steps to reproduce the behavior

1. Open card
2. Select icon to see menu "Random | Pick icon | Remove icon"
3. Choose `Pick icon`
4. Select an emoji
5. Notice the selected emoji is not used; nothing happens

## Expected behavior

Selected emoji becomes the card icon

## Screenshots

![custom-icon-bug](https://user-images.githubusercontent.com/5024605/148567857-2cc49cab-2def-492f-adcd-d2d57e489d

[2022-01-07 15:51] chenilim opened #2067 "Bug: Duplicate boards do not duplicate images in cards"
## Steps to reproduce the behavior

1. Add an image to a card
2. Duplicate the board
3. The duplicated card doesn't show the image

## Expected behavior

Images should be duplicated.

## Edition and Platform

 - Edition: Personal Desktop and Mattermost plugin
 - Version: v0.12 RC1
 - Browser and OS: Mac Chome, Mac app, Win app

## Additional context

* Duplicating a card (in the same board) duplic

[2022-01-07 15:54] sbishel opened #2068 "Bug: Description doesn't directly enter edit mode when adding"
## Steps to reproduce the behavior

1. Go to a Card
2. Select  'Add Content' in the description field
2a, Select 'text'
3. Adds a line with 'Edit text'
4. Must click again to begin editing.

## Expected behavior

Expect text to be editable and cursor at beginning of line.
What happens after you hit "Edit text"

## Screenshots

If applicable, add screenshots to elaborate on the problem.

## Edition

[2022-01-07 15:55] wiggin77 commented on #2066
This was due to plugin crash.  Crash was caused by something else.

[2022-01-07 15:55] #2066 closed

[2022-01-07 16:16] chenilim opened #2069 "Bug: Importing particular archive causes 500 error and plugin crash"
## Steps to reproduce the behavior

1. Unzip and import the attached archive:
[import - 500 error.focalboard.zip](https://github.com/mattermost/focalboard/files/7829976/import.-.500.error.focalboard.zip)

2. See 500 error in Network tab
3. See errors in Mattermost System Log

## Expected behavior

No errors, and no plugin crash.

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: v

[2022-01-07 16:32] sbishel opened #2070 "Bug: Ellipses sub menu does not collapse"
## Steps to reproduce the behavior

1. Go to Card View
2. Add a couple description items
3. Select the ellipses menu item
4. Move up and down the menu items
5. The submenu does not come down when you move off.

## Expected behavior

The submenu should be removed after leaving main menu item

## Screenshots
<img width="707" alt="Screen Shot 2022-01-07 at 9 23 04 AM" src="https://user-images.githubu

[2022-01-07 16:43] mgdelacroix commented on #475
Hi @erikboberg! Thanks for the report, what's the docker image version that you're trying to run?

Could you paste the logs of the server after running the `update schema_migrations set version = version - 1, dirty = 0;` and running the image again?

[2022-01-07 16:53] sbishel commented on #2053
Error is "Login Expired".

[2022-01-07 18:39] chenilim commented on #2053
Hi @HelloToday, thanks for reporting this. Does quitting and re-opening the Focalboard app work?

If possible, could you capture a screenshot of the error message toast? Is this in the same window, or separate dialog?

For reference, the Personal Server data is stored in a SQLite DB, `focalboard.db` under `~/Library/Containers/Focalboard.focalboard/Data/Library/Application Support/Focalboard/serve

[2022-01-07 18:58] #1731 closed

[2022-01-07 19:29] #2036 closed

[2022-01-07 20:39] kamre commented on #2070
@sbishel looks similar to these bugs:
- #1984
- #1581

and there is a pull request with possible fix:
- #1586

[2022-01-07 21:38] wiggin77 commented on #2053
I think this might be the same as https://github.com/mattermost/focalboard/issues/1903

[2022-01-07 22:17] sbishel opened #2075 "Bug: Comments writes backwards"
## Steps to reproduce the behavior

1. Go to Comments
2. Enter a comment
3. cursor gets set to beginning
4. Comment writes backwards

## Expected behavior

Comment to be written correctly

## Screenshots
https://user-images.githubusercontent.com/5587620/148599247-d12d2181-fc01-4fe9-a071-f76e7e2e34e1.png

## Edition and Platform

 - Edition: Personal Server
 - Version: Main
 - Browser and OS: [e.g.

[2022-01-07 22:19] wiggin77 commented on #2059
This was fixed by https://github.com/mattermost/focalboard/pull/2037 which was merged into .12 branch.

A debug log entry is created when a diff is calculated to be empty/no change:
[code]

[2022-01-07 22:30] #2062 closed

[2022-01-07 22:38] chenilim opened #2077 "Bug: Mac App sometimes fails to update after reload"
## Steps to reproduce the behavior

1. Open the Mac App
2. Refresh with File \ Home or Cmd+Shift+H
3. Try to drag a card to another column
4. The card does not update (this may take a few refreshes)

## Expected behavior

Updates happen

## Screenshots

https://user-images.githubusercontent.com/46905241/148616214-564c0e7d-a421-46ed-bbac-dedac23c8dbf.mov

## Edition and Platform

 - Edition: Person

[2022-01-07 22:50] chenilim commented on #2077
I've submitted a PR for this, but @ogi-m, can you help check if this repros for you? I saw this on macOS 16.2.1 (Big Sur) and with Safari 15.2 installed, and with the v0.11 and v0.12 RC1 Mac App binaries from GitHub.

[2022-01-10 07:15] neosparx commented on #2027
@chenilim Yes we are on the same versions, Mattermost v6.2 / Boards v0.11 / Mattermost Desktop App 5.0.2

[2022-01-10 13:05] nkimran94 commented on #513
can't find this directory "cd /var/tmp"

[2022-01-10 15:46] chenilim opened #2079 "Bug: Undo delete board doesn't always restore view and cards"
## Steps to reproduce the behavior

1. Delete a board (and confirm)
2. Press Cmd+Z (Ctrl+Z on Win) to undo
3. The board re-appears, but not the views or cards

## Expected behavior

Undo delete board should restore its views and cards as well.

## Screenshots

https://user-images.githubusercontent.com/46905241/148794862-55ece06f-8e95-4986-af2e-f1da41eaa016.mov

## Edition and Platform

 - Edition:

[2022-01-10 15:47] chenilim opened #2080 "Bug: Redo delete card doesn't delete it"
## Steps to reproduce the behavior

1. Delete a card (and confirm)
2. Press Cmd+Z (Ctrl+Z on Win) to undo, card is restored ok
3. Press Shift+Cmd+Z to redo
4. Card is not re-deleted

## Expected behavior

Card is deleted on redo delete

## Screenshots

https://user-images.githubusercontent.com/46905241/148795196-cb825769-0fc1-46e7-89ed-7d02a1c9ba08.mov

## Edition and Platform

 - Edition: Matterm

[2022-01-10 15:51] #1954 closed

[2022-01-10 16:44] ogi-m commented on #2059
Thanks Doug, tested on the latest build and it is indeed fixed 👍🏻

[2022-01-10 16:44] #2059 closed

[2022-01-10 16:46] #2075 closed

[2022-01-10 18:04] ogi-m commented on #2077
@chenilim I don't have macOS, but I couldn't repro on Windows

[2022-01-10 18:34] kamre commented on #2075
@sbishel looks like editing of the text for comments has not been fixed by #2076

There is additional `onChange` callback in the [comments component](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/cardDetail/commentsList.tsx#L60-L63) and this might be the reason of the difference with [text element component](https://github.com/mattermost/focalboard/blob/main/webapp/src/c

[2022-01-10 19:34] #2077 closed

[2022-01-10 20:49] Svetlana-T opened #2084 "Bug: boards does not respond to smaller screens"
## Steps to reproduce the behavior

1. Open any mattermost board with more than five columns in a 1024 pixels wide Firefox window.

## Expected behavior

Very prominently indicate that there are more columns available. Include a navigation feature to scroll to these columns which are off screen.

#### Observed behavior (that appears unintentional)
Boards in last columns, such as those that have a

[2022-01-10 22:04] wiggin77 commented on #2069
This is somewhat mitigated by https://github.com/mattermost/focalboard/commit/855ea70a445a8725d5e37325e91635fd1430608d which was cherry picked into the release branch.  It will no longer crash but the import does fail.

[2022-01-11 01:09] DummyThatMatters commented on #1900
Hello @chenilim ! There were no real crash actually. The problem is gone for some time for some reason, disabling and re-enabling the Boards plugin made it reappear once again) The plugin works fine, I cant tell that there is some actual crash took place, just issues listed above.
Probably there are some issues with our exact Mattermost insance as we have started to receive `Failed to upgrade webs

[2022-01-11 08:55] DummyThatMatters commented on #1900
@chenilim the problem disappears if I redeploy mattermost instance, but reappears on plugin being turned off/on.

[2022-01-11 15:10] sbishel commented on #2041
Fixed in v0.12.0

[2022-01-11 15:10] #2041 closed

[2022-01-11 15:14] sbishel commented on #1936
HI @agnivade Are you still seeing this issue. We have not been able to duplicate..thanks.

[2022-01-11 15:15] ogi-m commented on #2041
Thanks @nishantwrp, the title behaviour is expected.

[2022-01-11 15:16] agnivade commented on #1936
Yes, just tried it and it became even worse. It goes to some other Chrome tab.

[2022-01-11 15:22] #2049 closed

[2022-01-11 16:51] #1907 closed

[2022-01-11 16:52] asaadmahmood commented on #1760
Closing this as we're moving this into a larger modal.

[2022-01-11 16:52] #1760 closed

[2022-01-11 18:11] BHanq opened #2089 "Bug: Ubuntu 20.04 docker-compose error"
## Steps to reproduce the behavior
Using version 0.11.0, pulled the zipped version at https://github.com/mattermost/focalboard/archive/refs/tags/v0.11.0.zip
1. Go to focalboard docker folder and run docker-compose up

## Error
Warning of npm needing version 8.3 but it is only a warning (and even while upgrading version it doesn't fix the error)

The command '/bin/sh -c npm install --no-optional &&

[2022-01-11 18:22] jespino commented on #2064
This looks like a bug, but is not, it is a permissions problem.

Because you execute the `tar -xvf` with `sudo` you are creating the new `/opt/focalboard-app` as a root user, so the owner of the directory is the `root` user. Then, when you try to execute the `./focalboard-app`, it tries to open/create the `focalboard.db` file, and because the regular user doesn't have permission to create files in

[2022-01-11 18:22] #2064 closed

[2022-01-11 18:42] wuwinson commented on #2048
Can't repro anymore. Closing out.

[2022-01-11 18:42] #2048 closed

[2022-01-11 19:00] #1960 closed

[2022-01-11 19:48] #1948 closed

[2022-01-11 20:00] wiggin77 commented on #2063
I suspect the issue is that saving allows a block that only contains whitespace, while editing does a trim space first then sees the block as empty and doesn't allow editing.  The fix would be:
- when saving an edit, check if the block only has whitespace
- if only whitespace, treat it as if all contents of the block were deleted

[2022-01-11 20:11] wuwinson opened #2092 "Bug: Change notification card links to wrong card"
## Steps to reproduce the behavior

1. Have someone else or use a secondary account to make changes on a card you're following.
2. Wait 2 minutes to receive the change notification from Boards Bot.
3. Click on the cards link
4. Redirects to Boards with the incorrect card open

## Expected behavior

Redirects to Boards with the correct card open

## Screenshots

https://user-images.githubuserconten

[2022-01-11 20:25] #2069 closed

[2022-01-11 20:37] wuwinson opened #2094 "Bug: [Change Notifications] Date, Person, and Multi-select properties not displaying properly in the notification"
## Steps to reproduce the behavior

1. Have someone else or use a secondary account to make changes to the date, person, and multi-select properties on a card you're following:
2. Wait 2 minutes to receive the change notification from Boards Bot.
3. See the error in Boards Bot notification

## Expected behavior

The properties display the same as the card.

## Screenshots
![Change Notifications Bu

[2022-01-11 22:49] wiggin77 opened #2095 "Bug: Users can be subscribed to card when feature flag is disabled"
## Steps to reproduce the behavior

1. instantiate server with `subscriptions` feature flag disabled
2. create new board and populate with a card
3. with a different user, open the card
3. notice the `Follow` button is greyed
4. click the `Follow` button; the button does not change but the subscription is added to the database
     - to verify this you can enable the feature flag, restart server,

[2022-01-12 01:13] sbishel opened #2097 "Bug: users don't display when typing "@" in description field."
## Steps to reproduce the behavior

1. Create multiple users in your installation.
2. Go to Description field of a card
3. Type "@"
4. No users are displayed

## Expected behavior

A popup of users should appear.

## Screenshots

## Edition and Platform

 - Edition: Mattermost plugin
 - Version: [v0.12.0 - tip]
 - Browser and OS: [Chrome 96 on macOS]

## Additional context

I have narrowed it down

[2022-01-12 01:14] #2092 closed

[2022-01-12 13:02] ogi-m opened #2100 "Bug: Text field doesn't show the full text on hover in shared read-only boards"
## Steps to reproduce the behavior

1. Open a card
2. Add a text field, paste in a long sentence (e.g. "This is a long sentence. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit fermentum feugiat. Pellentesque aliquet, quam id auctor vehicula, neque leo malesuada urna, in lobortis massa justo nec mauris. Proin enim mauris, ultrices et quam id, fermentum iaculis nisi. Morbi e

[2022-01-12 13:03] ogi-m commented on #1948
Confirmed this is now fixed. Found a related bug - https://github.com/mattermost/focalboard/issues/2100

[2022-01-12 13:11] #2097 closed

[2022-01-12 13:35] sbishel opened #2101 "Bug: "Add Property" Button has too much vertical whitespace"
## Steps to reproduce the behavior

1. Go to a card
2. see white space below "Add Property"

## Expected behavior

A normal amout of whitespace.

## Screenshots

<img width="720" alt="Screen Shot 2022-01-12 at 6 30 33 AM" src="https://user-images.githubusercontent.com/12704875/149149726-0022e99e-6ad5-43af-a17a-f96a0912a9ca.png">

## Additional context

Caused by this line change
https://github.com

[2022-01-12 14:44] wuwinson opened #2102 "Bug: Person and Date properties not working"
## Steps to reproduce the behavior

1. Go to a card
2. Select person property
3. See error: Person list does not appear
4. Select date property
5. See error: Date picker looks like it's getting cutoff

## Expected behavior

Person property list and date picker should appear

## Screenshots

https://user-images.githubusercontent.com/93531870/149161927-fd1cdf37-e565-4502-ae71-341186aa1439.mov

## Ed

[2022-01-12 16:19] wuwinson opened #2107 "Bug: Card following not working"
## Steps to reproduce the behavior

**Manual Follow**
1. Go to a card
2. Click on the "Follow" button on top right
3. See error: Button does not change to "Following"

**Auto-Follow**
4. Create a new card
5. See error: Button does not change to "Following"

**Add Followers**
6. @mention your secondary account on the card description or comment
7. Login to your secondary account and open the card
8

[2022-01-12 16:35] #2101 closed

[2022-01-12 16:35] #2102 closed

[2022-01-12 17:48] wiggin77 commented on #2107
No longer reproducible for latest build.  The root cause and how it was fixed are still unknown.

[2022-01-12 17:54] wuwinson commented on #2107
Cannot repro anymore, closing out.

[2022-01-12 17:54] #2107 closed

[2022-01-12 20:57] sbishel commented on #1082
completed.

[2022-01-12 20:57] #1082 closed

[2022-01-12 21:01] sbishel commented on #479
complete

[2022-01-12 21:01] #479 closed

[2022-01-12 21:38] chenilim opened #2111 "Doc: Add documentation for exporting / importing archives"
## Summary

Not sure if I missed it, but we should cover how to:
1. Export a single board's archive
2. Export all board archives for a workspace / channel
3. Import an archive

## Link to documentation page

Should be added to the Boards documentation: https://docs.mattermost.com/guides/boards.html. [Here's the existing doc in the Focalboard User's Guide](https://www.focalboard.com/guide/user/#arc

[2022-01-12 22:24] chenilim commented on #1936
Thanks Agniva! What do you mean by "it goes to some other Chrome tab"? Does another tab open?

Also, what Linux distro / version is running? As best we can tell, this may be specific to Chrome on that OS.

This also seems to be specific to drag-and-drop. The other place we use it is rearranging the card's content blocks (e.g. description). If you have a moment, does this also repro:
1. Create a ca

[2022-01-12 23:29] ralaud opened #2113 "Feature Idea: Sepia Theme"
## Summary

Adding a sepia theme would be nice.

## How important this is to me and why

Importance: Medium

I would like to avoid dark themes, so I am using light themes mostly. But I would like to use somewhat in the middle, like a sepia theme is for me.

And thanks to all contributors.

[2022-01-12 23:43] wiggin77 commented on #2094
Fixed `Multiselect` and `Date` property types.  `Person` type remains to be fixed.