[2021-01-19 00:01] chenilim opened #27 "Keyboard navigation: Card dialog"
Keyboard navigation is needed in general. This issue tracks the need to be able to use the card editor with just a keyboard. E.g.
* Navigate property fields
* Add comment
* Add / edit content
* Etc.

[2021-01-19 00:02] chenilim opened #28 "Keyboard Navigation: Sidebar"
Keyboard navigation is needed in general. This issue tracks the need to be able to use the sidebar with just a keyboard. E.g.
* Select board to view
* Activate board actions menu
* Add new board
* Settings menu
* Etc.

[2021-01-19 00:05] chenilim opened #29 "Keyboard support: Board view"
Keyboard navigation is needed in general. This issue tracks the need to be able to use the board view / editor with just a keyboard. E.g.
* Activate viewHeader actions (sort, filter, etc.)
* Select card
* Open card
* Etc.

More complex actions:
* Select multiple cards (shift+arrow)
* Move card(s) to different columns
* Etc.

[2021-01-19 00:06] chenilim opened #30 "Keyboard support: Table view"
Keyboard navigation is needed in general. This issue tracks the need to be able to use the table editor with just a keyboard. E.g.
* Activate view header actions (sort, filter, etc.)
* Navigate cells with arrow keys
* Change select-property cells
* Activate column header actions menu
* Etc.

[2021-01-20 18:41] chenilim opened #31 "Fix server lint issues"
Run `make server-lint` to see the list of Go lint issues. We should incrementally fix them.

[2021-01-21 17:06] chenilim opened #33 "Internationalize hardcoded strings"
There are hardcoded strings sprinkled throughout the app. These should be replaced with intl.FormatMessage calls to pull them from the translation tables.

* Easiest way to find hardcoded strings is to change the UI language to Spanish from the Settings menu, then look for strings that haven't changed.
* Remember to run `cd webapp; npm run i18n-extract` to extract newly added translations to the l

[2021-01-26 02:07] chenilim opened #37 "Property type: URL"
Add a URL property type

[2021-01-26 02:08] chenilim opened #38 "Property type: Date"
Add a date property type
P2: Add date picker UI

[2021-01-26 02:09] chenilim opened #39 "Property type: Checkbox"
Add a checkbox property type (true or false state)

[2021-01-26 02:10] chenilim opened #40 "Property type: Email"
Add an email property type

[2021-01-26 02:10] chenilim opened #41 "Property type: Phone number"
Add a phone number property type

[2021-01-27 22:10] chenilim opened #42 "Add Cypress tests: Login actions"
Simulate user creation, login, and logout actions
* Register user
* Login
* Change password
* Logout

[2021-01-28 22:03] chenilim opened #43 "Make label colors configurable per theme, and darken for dark theme"
The label colors are defined in variables.scss. Should be able to override these in theme.ts.

Currently, the "dark theme" label colors are too light. Need to adjust these to be darker, so the text is readable.

[2021-01-28 22:05] chenilim opened #44 "Clicking on the view name changes the input size, causing a jump"
Make the default min-width wider

[2021-02-03 03:09] chenilim opened #47 "Unit tests: websocket APIs"
Add unit tests for the websocket APIs

[2021-02-04 07:09] haardikdharma10 opened #49 "Duplicate board should be added below the original board in the sidebar."
### Summary

When adding a duplicate board, it should be added below the original board and not above it.

**UPDATE: This happens when adding an empty board as well. It is added above the existing boards.**

### Steps to reproduce

1. Add a new board (E.g Meeting notes)
2. From the sidebar, click on the `...` icon and select duplicate board.

### Observed behaviour (that appears unintentional)

<i

[2021-02-04 07:18] haardikdharma10 opened #50 "Missing Edit icon"
### Summary

The Edit and Delete options are misaligned when selecting a new board template.

### Steps to reproduce

1. Click on Add Board.
2. Click on `...` on the right hand side of any template.

### Observed behaviour (that appears unintentional)

<img width="239" alt="Screenshot 2021-02-04 at 12 42 24 PM" src="https://user-images.githubusercontent.com/53044263/106858048-158d6a80-66e7-11eb-96

[2021-02-08 18:04] chenilim opened #51 "Save card title when closing card"
Repro:
* Edit a card
* Click on the title and enter some text
* Click on the background to close the card

Expected:
* The modified title is saved

Actual:
* The modified title is not saved

[2021-02-23 19:03] chenilim opened #53 "Extend import scripts"
Right now, we have [scripts to import basic info](https://github.com/mattermost/focalboard/tree/main/import) from popular systems like Trello, Asana, and Notion. They can pull in the card titles, descriptions, and basic properties from a single board. Expand these further to do things like:
* Import advanced properties (e.g. dates, text, numbers)
* Handle multiple boards
* Handle Trello PowerUp pr

[2021-03-04 18:38] chenilim opened #56 "Read-only token removed from url when changing views"
**Summary:**
After changing views on a read-only view, refreshing results in access denied.

** Steps to reproduce the behavior:**
1. Share a board with 2+ views
2. Open the share link in an incognito window
3. Use the view menu to change the view
4. Refresh the browser
5. Access denied error

**Expected behavior**
Expect the view to refresh

**Platform:**
 - Chrome 88 on macOS 10.15.7

**Addition

[2021-03-04 18:40] #56 closed

[2021-03-04 19:03] jagdishbharucha opened #57 "Where to report Security Vulnerabilities?"
**Summary:**
I need to report a security vulnerability. Where can I do that?

[2021-03-04 19:35] chenilim commented on #57
Hi, thanks for reaching out. For now, please [DM me in Mattermost here](https://community.mattermost.com/core/messages/@chen-i.lim), or email me at chen [at] mattermost.com. Thanks!

[2021-03-05 13:51] it33 commented on #57
@jagdishbharucha thanks for the question! @chenilim FYI, proposing a Responsible Disclosure Policy is added? https://github.com/mattermost/focalboard/pull/59

[2021-03-05 21:45] chenilim opened #61 "Fix Dark Mode select colors"
**Summary:**
The select option colors are unreadable.

**Steps to reproduce the behavior:**
1. Change to dark mode
2. Notice select option colors

**Expected behavior:**
Text is easy to read

**Screenshots:**
<img width="1025" alt="Focalboard dark mode select" src="https://user-images.githubusercontent.com/46905241/110176966-074f6e80-7db9-11eb-99c7-842e0b65e461.png">

**Platform:**
 - Chrome 88 on

[2021-03-05 22:37] #61 closed

[2021-03-06 17:06] it33 commented on #49
@chenilim wondering your thoughts, is this more a bug or a feature request? Not sure what the intended behavior is.

[2021-03-07 00:09] it33 commented on #50
@chenilim could I get edit rights on this repro so I can add a "Bug" or "Improvement" label depending on which you feel it is?

[2021-03-07 01:00] chenilim commented on #50
@it33, added you to the repo. This issue is a bug (missing Edit icon). Updated the label.

[2021-03-07 01:02] chenilim commented on #49
Marking this as an enhancement. The sidebar is currently sorted alphabetically. Short term fix is to name the duplicates sequentially ("board 2"). Longer term, we want to allow users to manually sort the sidebar.

[2021-03-07 01:04] it33 commented on #50
Thanks @chenilim. @haardikdharma10 I've updated the title. Is this a bug you'd be interested in helping us fix?

[2021-03-07 06:39] asaadmahmood commented on #50
Updating all the icons with a specific icon font may be something we take as a separate project, but for now we can use this one.
[edit_icon.svg.zip](https://github.com/mattermost/focalboard/files/6096681/edit_icon.svg.zip)

[2021-03-07 18:00] it33 opened #64 "Add some `good first issue` tickets"
@chenilim wondering your thoughts on adding some `good first issue` tickets? The below prompt came up when I checked out the repo this morning:

![image](https://user-images.githubusercontent.com/177788/110249591-aeecae00-7f2b-11eb-9ce8-b4f45e0b383e.png)

Also, @haardikdharma10, are there certain tickets you'd be interested in working on in this repo?

[2021-03-07 19:02] chenilim commented on #43
Duped and fixed in #61.

[2021-03-07 19:02] #43 closed

[2021-03-07 19:10] chenilim commented on #64
Thanks @it33. I marked a few existing issues as "good first issue", but anyone should feel free to pick up the ones marked "help wanted". In general, the following are great places to start if you are new to the codebase:
* Internationalize hardcoded strings (#33): Incrementally fix hardcoded UI strings.
* Fix server lint issues (#31): Incrementally fix lint warnings
* Add unit tests (e.g. #47): P

[2021-03-08 19:06] #49 closed

[2021-03-08 19:15] chenilim opened #65 "Text editor is black on white even in dark mode"
**Summary:**
Adding card text shows a black-on-white text editor in dark mode.

**Steps to reproduce the behavior:**
1. Turn on dark mode
2. Open a card and tap "add content" at the bottom
3. Text editor appears black on white

**Expected behavior:**
Expect a dark mode text editor, with light text on dark background

**Screenshots:**
<img width="792" alt="Focalboard - dark mode text" src="https://

[2021-03-08 19:46] chenilim opened #66 "View switches to the first one when searching text"
**Summary:**
View changes when searching text

**Steps to reproduce the behavior:**
1. Open a board with 2 or more views, select the second one
2. Search for text
3. The view changes to the first one

**Expected behavior:**
The view remains the same

**Platform:**
 - Chrome 88 on macOS 10.15.7

[2021-03-08 19:46] #66 closed

[2021-03-09 02:29] chenilim opened #67 "File \ New on Mac app opens a blank window"
**Summary:**
New windows are blank, and can't be used

**Steps to reproduce the behavior:**
1. Open Mac App
2. Select File \ New (or press Cmd+N)
3. A blank window appears

**Expected behavior:**
A window with boards appear

**Platform:**
 - macOS 10.15.7

[2021-03-09 02:38] #67 closed

[2021-03-11 03:02] chenilim opened #69 "Mac app doesn't render title completely on first load"
**Summary:**
When opening the Mac app to an existing board, the title is cut off until clicking on it.

**Steps to reproduce the behavior:**
1. Open Mac app v0.6.0 with a previous board
2. Notice the title is cut off

**Expected behavior:**
The title is show correctly.

**Screenshots:**
<img width="1602" alt="Mac title cut off" src="https://user-images.githubusercontent.com/46905241/110729194-1aa4

[2021-03-11 03:03] #69 closed

[2021-03-11 18:06] chenilim opened #70 "Mac App icon is hard to see"
**Summary:**
The Mac app icon has a transparent background that is hard to see on dark or blue backgrounds

**Expected behavior:**
Icon has a contrasting background

**Screenshots:**
<img width="125" alt="Focalboard icon" src="https://user-images.githubusercontent.com/46905241/110833569-6e55a300-8251-11eb-903b-13386cdfb9b8.png">

**Platform:**
 - macOS 10.15.7

[2021-03-11 18:07] #70 closed

[2021-03-12 15:40] it33 opened #71 "Windows App clicking on "+New" doesn't work"
**Summary:**
Windows App clicking on "+New" doesn't work

**Steps to reproduce the behavior:**
1. Install Windows app on Windows 10
2. Go to `+Add Board` > `Roadmap`
3. Click '+New'

**Expected behavior:**
New row created

**Observed behavior:**
Nothing happens

**Screenshots:**
If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubusercontent.com/177788/

[2021-03-12 17:38] chenilim commented on #71
Confirmed this is a bug. It's actually a logic issue when there's an active filter. A new card is added, but because it doesn't fit the active filter, it isn't displayed. Fix would be to set the default properties of new cards to match the filter.

Workaround: Click the blue New button at the top right, then set the properties to match the filter (i.e. type = Bug).

[2021-03-12 17:39] it33 commented on #71
Thanks Chen, would this be a good first issue for someone to try?

Ian Tien | 650-798-9693 | https://www.linkedin.com/in/iantien

On Fri, Mar 12, 2021 at 9:38 AM, Chen-I Lim < ***@***.*** > wrote:

[2021-03-12 17:44] chenilim commented on #71
Yeah, it's to make the logic similar to addCard in the boardComponent (which already handles this case). It does feel a bit broken to new users, so I would like to fix it sooner, and I plan to work on it next week. But if someone wants to grab it beforehand, feel free. :)

[2021-03-17 16:20] proffalken opened #75 "Alternative installation options"
**Summary:**

The installation steps are great, however it would be convenient for a lot of users if this could be encapsulated in a simple Dockerfile/image.

**Steps to reproduce the behavior:**
1. Install by following the instructions
2. Wish that you'd been able to execute `docker run` instead... ;)

**Expected behavior:**

Add a Dockerfile to the repo as a first step, with publication of the i

[2021-03-17 17:14] proffalken opened #77 "Download file is a zip file, not a tar.gz as documented"
**Summary:**

https://www.focalboard.com/download/personal-edition/ubuntu/#install-focalboard states that a user should download and unpack a file named https://releases.mattermost.com/focalboard/0.5.0/focalboard-server-linux-amd64.tar.gz however this file is actually a zip file with the tar.gz file inside it named the same.

**Steps to reproduce the behavior:**
1. https://www.focalboard.com/downl

[2021-03-17 18:20] Snehal1112 commented on #31
@chenilim I would like to work  on this issue

[2021-03-17 19:14] chenilim opened #78 "Sharing doesn't work until token is regenerated"
**Summary:**
Sharing a board doesn't work when it's enabled

**Steps to reproduce the behavior:**
1. Open a board
2. Click on ... and pick "Share board"
3. Turn on the switch and copy the link
4. Paste the link in a new anonymous window

Access denied error

**Expected behavior:**
The board appears

**Platform:**
 - Chrome 89 on macOS 10.15.7

**Additional context:**
Note that the token (r queryst

[2021-03-17 19:16] #78 closed

[2021-03-17 20:43] chenilim commented on #31
Thanks @Snehal1112! I recommend tackling this incrementally.  `make server-lint` will show the list of lint errors, but some of them might be false positives. Start with the ones you feel most comfortable with, and we can make multiple PRs. Thank you for contributing to Focalboard!

[2021-03-17 20:44] alexanderadam opened #79 "Feature: Snap / Flatpack package for Focalboard Desktop 🐧"
It would be great to have [a Snap package](https://ubuntu.com/tutorials/create-your-first-snap#3-building-a-snap-is-easy) and/or [a Flatpak package](https://docs.flatpak.org/en/latest/first-build.html) for easier installation and automatic upgrades.

**PS:** Thank you so much! Focalboard looks great! :pray:

[2021-03-17 21:34] chenilim commented on #79
Thanks @alexanderadam! Appreciate the input. This is something we are looking into to make desktop installs easier on Linux, and perhaps for the server too. FYI @jespino.

[2021-03-18 05:01] djanda97 commented on #42
Hi @chenilim! I’m excited to see that Mattermost is working on an alternative to Trello. Once I get the dev environment setup, I’ll take a shot at this issue.

[2021-03-18 05:12] iaeiou opened #81 "`session_expire_time` and `session_refresh_time` not present in the bundle and needs a better default value when it is not found."
**Summary:**
When I login, no error is shown but the page is refreshed back to the login page
I tested on purpose with a wrong login and an error is shown

**Steps to reproduce the behavior:**
1. Start the server, everything looks fine:

[code]

2. Create an account on http://localhost:8088/login
3. Try to login
4. The homepage of Focalboard loads half a second then is refreshed back to http://loc

[2021-03-18 05:59] tusqasi commented on #81
Same here

[2021-03-18 06:30] chenilim opened #82 "Make doesn't build the webapp"
**Summary:**
Just running make on a fresh clone doesn't build the webapp.

**Steps to reproduce the behavior:**
1. Run `make prebuild`
2. Run `make`
3. Start the server
4. See 404 error

**Expected behavior:**
See webpage

**Platform:**
 - Chrome 89 on macOS 10.15.7

**Additional context:**
Make should build the webapp and server

[2021-03-18 06:32] #82 closed

[2021-03-18 09:12] archaeogeek opened #87 "Documentation for linux personal desktop is incorrect"
**Summary:**
The information for downloading and installing linux personal desktop at https://www.focalboard.com/download/personal-edition/desktop/ is incorrect. On downloading and extracting focalboard-linux.tar.gz from github (for 0.6.1 at least) the directory listing is as shown in the screenshot below.

Rather than "Open focalboard from within the focalboard folder" , you have to run `focalboa

[2021-03-18 09:13] Arteneko opened #88 "Website fonts are hard to see"
**Summary:**

The top-right navigation bar's font is too thin to be readable, and the links inside the the presentation speech under the screenshot [on the homepage](https://www.focalboard.com/) are too low-contrast from the background.

[2021-03-18 10:31] it33 opened #89 "Change link on Focalboard.com to point straight to Github repo"
![image](https://user-images.githubusercontent.com/177788/111611661-eebc5c80-8799-11eb-8b5e-9e393f9e9d58.png)

Reason:

Focalboard.com was trending #2 on HackerNews (which is awesome!) and it was difficult to find the repo from the Focalboard main page. In future, we would want the GitHub repo to trend to get more stars and engagement. All said, though, super awesome to be trending!!

![image](htt

[2021-03-18 10:32] #75 closed

[2021-03-18 10:50] it33 opened #90 "Add a "Share feedback | View Source Code" links in the UI"
Add a "Share feedback | View Source Code" links in the UI.

Point both links to a re-direct under focalboard.com so we can change the links at any time (important for those that are self-hosting older versions if we want to change links)

View Source Code redirect to https://github.com/mattermost/focalboard

Share feedback re-direct to https://github.com/mattermost/focalboard/wiki/Share-your-feedb

[2021-03-18 10:50] obbardc opened #91 "Documentation on building/running Docker container"
There should be some information on how to build and run the Docker container in the README.

[2021-03-18 10:52] obbardc opened #92 "Build and publish Docker container"
The Docker container should be build and uploaded to Docker Hub using github actions, perhaps a `develop` tag which would be for the latest HEAD and `latest` tag which points to tagged versions in Git.

[2021-03-18 10:52] it33 opened #93 "On Focalboard.com change "Home" to "View Source" pointing to https://github.com/mattermost/focalboard"
View Source is one of our biggest differentiators, and we should drive traffic to our GitHub page and get more star rating and community engagement.

Logo on the left brings people to the home page, so we don't lose functionality.

![image](https://user-images.githubusercontent.com/177788/111614720-24167980-879d-11eb-9657-db5a65043d9a.png)

[2021-03-18 10:57] it33 opened #94 "The installation instructions for the server install don't seem to work."
Bug report from HackerNews: https://news.ycombinator.com/reply?id=26500833&goto=item%3Fid%3D26499062%2326500833

[code]

[2021-03-18 10:59] it33 opened #95 "Enhancement idea for a Kanboard importer from mandiantBob on HackerNews"
Enhancement idea for a Kanboard importer from mandiantBob on HackerNews:

[code]

[2021-03-18 11:11] creekorful opened #96 "Add docker-compose definition"
- There's now a docker image available for the server: https://github.com/mattermost/focalboard/pull/76
- There's an issue open to add CD to the docker image: https://github.com/mattermost/focalboard/issues/92

once the image is available on docker hub it could be great to have a little `docker-compose.yml` with all dependencies (postresql, nginx/traefik, etc...) bundled, so that end users may get

[2021-03-18 11:12] creekorful commented on #94
Duplicate of https://github.com/mattermost/focalboard/issues/77 ?

[2021-03-18 11:13] creekorful commented on #96
Once the images are available on docker hub it would be a pleasure to work on this one :)

[2021-03-18 11:17] jespino commented on #94
Yes, thanks for the heads up @creekorful

[2021-03-18 11:17] #94 closed

[2021-03-18 11:30] it33 opened #99 "Feature Request: Offer download of compiled binaries for Focalboard Personal Desktop"
Feedback from HackerNews: https://news.ycombinator.com/item?id=26499443

We can perhaps look at adding binaries from our build system for the desktop and server editions, and perhaps add some instructions too.

Wondering if the core committers produced the binaries, would there be people in the community interested in helping us draft the install guides for different platforms?

[2021-03-18 11:40] jespino commented on #96
@creekorful that would be great, let's work in that direction :) I'll let you know when the docker hub image is read. Probably we need to improve the Dockerfile to allow environment variables first.

[2021-03-18 11:41] jespino commented on #40
Fixed by @renjithgr in the PR #84

[2021-03-18 11:41] #40 closed

[2021-03-18 11:55] coreagile commented on #81
I'm experiencing the same issue, but I've got an nginx proxy pass set up as per the [instructions](https://www.focalboard.com/download/personal-edition/ubuntu/)

[2021-03-18 12:13] Otiel commented on #99
I'm in an offline environment, no access to the Windows Store. Would love to try the Windows desktop app.

Not sure what you're expecting for the install guide (it should be straightforward anyway if you publish a setup file), but I can try to offer assistance.

[2021-03-18 12:29] darkLord19 opened #102 "Not able to register user on local server"
**Summary:**
Getting error "invalid email format" when trying to register user in local server

**Steps to reproduce the behavior:**
1. Build server binary using steps provided in Readme
2. Try to register new user
3. Enter details
4. See error

**Expected behavior:**
Account registration should have been successful.

**Screenshots:**
![image](https://user-images.githubusercontent.com/16662014/111

[2021-03-18 12:31] jespino commented on #93
Done

[2021-03-18 12:31] #93 closed

[2021-03-18 12:33] jespino commented on #102
Yes, sorry, this is because a wrong check merged early this morning, I'll fix that soon.

[2021-03-18 12:34] jespino commented on #102
@darkLord19 now should be fixed.

[2021-03-18 12:34] #102 closed

[2021-03-18 12:36] adontz opened #103 "SSO/SAML/OAuth/LDAP"
Support some kind of federated authentication, well-known external user authentication.

It can be

- https://en.wikipedia.org/wiki/Lightweight_Directory_Access_Protocol
- https://en.wikipedia.org/wiki/RADIUS
- https://en.wikipedia.org/wiki/Security_Assertion_Markup_Language
- https://en.wikipedia.org/wiki/OAuth

Use cases I am thinking about are

- On-premises Microsoft Active Directory
- https:/

[2021-03-18 12:38] jespino commented on #99
The desktop edition is available for download as part of our release process, but probably we can add that in the releases page for Windows and Mac apps. @chenilim can you add that?

[2021-03-18 12:44] jespino commented on #79
Yes, I going to work on the AUR package, but would be great if somebody with Snap/Flatpack knowledge can create the packages for that.

[2021-03-18 12:47] jespino commented on #81
Looking at this now.

[2021-03-18 12:53] jespino commented on #81
I'm not able to reproduce the problem, can you give me more details? like the full server log and the server configuration?

[2021-03-18 12:56] danielcb commented on #81
same here:

log:
[code]

nginx.config per installation instructions

config.json also default.

[2021-03-18 12:59] it33 commented on #103
Hi @adontz thanks for the enhancement idea!

This is probably more feature for a future Focalboard Enterprise Edition (a future commercial version for large organizations) than a feature for Focalboard Personal Desktop (for personal projects) or Focalboard Personal Server (for individuals and small teams).

[2021-03-18 13:35] jespino commented on #81
Does it work whenever you connect directly to the localhost:8088?

[2021-03-18 13:39] jespino commented on #87
Thanks @archaeogeek. Fixed in the documentation, It is going to be right in the next deploy of the documentation.

[2021-03-18 13:39] #87 closed

[2021-03-18 13:42] jespino commented on #89
Done, this will be visible in the next deploy.

[2021-03-18 13:44] jespino commented on #42
Great! thanks @djanda97!

[2021-03-18 13:51] Maistrox9 opened #104 "Feature request: scrum/sprints"
I really love the project you have going on, and I see myself using it.

It would be very helpful to have scrum/sprints management feature for big projects, which could make Focalboard an alternative to OpenProject.
Is it part of your roadmap to make something similar to this feature ? Or would accept a PR?

[2021-03-18 13:55] danielcb commented on #81
Nope, same error, same logs.

[2021-03-18 14:16] proffalken commented on #77
Looks like it's to do with this: https://github.com/actions/upload-artifact#zipped-artifact-downloads

I can't find a reference to the `download-artifact` call however, so it's weird that it's being zipped as well as .tgz'd

[2021-03-18 14:25] tk-nguyen commented on #81
Hello, I'm having the same problem in this issue. The way I fix it is to add 2 options `session_expire_time` and `session_refresh_time` to your `config.json`. The default values are
[code]
as specified in the [`server-config.json`](https://github.com/mattermost/focalboard/blob/main/server-config.json) file in this repository.

[2021-03-18 14:26] it33 commented on #99
So exciting to have feature requests!!

[2021-03-18 14:27] jespino commented on #77
Thanks for the pointer @proffalken!

[2021-03-18 14:28] jespino commented on #90
@asaadmahmood what do you think about it, where would you put it? Do you mind taking care of this change?

[2021-03-18 14:29] #89 closed

[2021-03-18 14:35] jespino commented on #88
@asaadmahmood can you take a look on this? what do you think? I agree with that, probably a font-weight of 400 would be better option. And probably the links color is not selected right. Can you provide your opinion? what color and font-weight would you use?

The changes in this page probably needs to be reflected [here](https://developers.mattermost.com/) too.

[2021-03-18 14:38] danielcb commented on #81
yep, can confirm. These settings are not part of the released bundles. Thanks @tk-nguyen

[2021-03-18 14:45] jespino commented on #81
:facepalm: Thanks! I'll check that in the code and in the bundle.

[2021-03-18 14:46] jespino commented on #65
Fixed in main branch :)

[2021-03-18 14:46] #65 closed

[2021-03-18 14:54] jespino commented on #50
Done in main branch! :)

[2021-03-18 14:54] #50 closed

[2021-03-18 14:55] iaeiou commented on #81
Fixed here too, thank you @tk-nguyen

[2021-03-18 15:01] orthoxerox commented on #90
Since the code is released under AGPL the URL of "View Source Code" should be explicitly provided by the user/buildbot during compilation. This way users won't forget to fulfil the requirements of the license.

[2021-03-18 15:20] jespino commented on #90
Interesting point of view, yes, I think we can make it an environment variable included during the build process, or maybe a config setting.

[2021-03-18 15:56] dustin-hawkins commented on #91
or, now that a Dockerfile has been created, if whomever controlled the mattermost docker hub account could

[code]

the most simple compose file would then look like

[code]

[2021-03-18 15:59] jespino commented on #91
@metanerd can you take care of this? How can we automatize that process? something like "as part of the release".

[2021-03-18 16:02] dustin-hawkins commented on #91
https://hub.docker.com/repository/create

Link it to your repository here, and then you can configure automatic builds & tags on commits to master. :)

[2021-03-18 16:12] jespino commented on #91
@jwilander are you the person to contact for this?

[2021-03-18 16:22] jwilander commented on #91
Yep. I can make the dockerhub repo right now. As for getting the automation configured someone should be able to submit a circleci configuration for it. @metanerd or myself can configure the secrets in circleci for dockerhub for it but we've got a bunch of other high priority stuff we're working on right now so if you need more than that we'll need a JIRA ticket and to prioritize accordingly.

[2021-03-18 16:25] jwilander commented on #91
Actually looks like I can hook it directly up to dockerhub for auto-building. Let me just do that.

[2021-03-18 16:32] jwilander commented on #91
It's now set up here https://hub.docker.com/repository/docker/mattermost/focalboard. New pushes to master will get built as `mattermost/focalboard:latest` and new tags should be built as `mattermost/focalboard:X.X.X`

[2021-03-18 16:39] obbardc commented on #91
nice!

[2021-03-18 16:40] obbardc commented on #92
discussion continued under https://github.com/mattermost/focalboard/issues/91 so closing this one :-)

[2021-03-18 16:40] #92 closed

[2021-03-18 16:50] internalfx opened #107 "Feature request: personal/private boards"
It would be helpful to be able to create boards that are not shared with all users.

[2021-03-18 17:08] jespino commented on #91
@jwilander Thanks!

[2021-03-18 17:15] chenilim commented on #104
Thanks @Maistrox9 for the feedback! Are there particular features that you see fitting under scrum/sprint management? E.g. from the [open project site](https://www.openproject.org/collaboration-software-features/#product-management), would this include:
* Project roadmap / status
* Timeline view (Gantt chart)
* Are there other features? Or are there specific aspects of these features you look for?

[2021-03-18 17:22] jespino commented on #107
Thanks for the feedback @internalfx. That is in our roadmap, but we are not yet there.

[2021-03-18 17:25] it33 opened #108 "Windows App: Set a min width and auto-sizing"
@asaadmahmood this might need your recommendation on what to do here, my sense on the Windows App, v0.6 is that we should work on some of the auto-layout and min width settings.

Min width of default lay out too wide (UI gets cut-off if the app isn't sized really wide):

![image](https://user-images.githubusercontent.com/177788/111669404-ff89c400-87d3-11eb-8c06-f2bfbcbdbc13.png)

Min width limit t

[2021-03-18 17:38] rdrahul opened #109 "Getting Blank screen on Mac app if port 8088 is in use"
**Summary:**
after opening the app there is just a blank screen. rest of the ui does not load.

**Steps to reproduce the behavior:**
1. Go to Appstore
2. Install focalboard
3. Open focalboard.
4. Focalboard load with blank screen no ui is visible

**Expected behavior:**
After opening the ui should load properly and i should be able to create the board and add tasks.

**Screenshots:**
![image](http

[2021-03-18 18:59] chenilim commented on #109
Thanks @rdrahul for reporting this! A few things to try:
* Select `Home` from the `File` menu, or relaunch the app
* Is the page still blank?

The Focalboard Mac app uses port 8088 to serve the UI (in the future we plan to have this dynamic). Make sure there isn't another service using the port. E.g. open a browser to http://localhost:8088 to test.

[2021-03-18 19:15] Victor239 opened #110 "Feature request: Multiple Select property type"
Currently there's only a (Single) Select property type, a Multiple Select property would instead allow you to select multiple of the available options.

[2021-03-18 19:24] Victor239 opened #111 "Feature request: File Attachment property type"
This would enable attaching any generic file to it such as an image, video or PDF.

[2021-03-18 19:27] asaadmahmood commented on #108
Yup, we definitely need a min width.
And we need to make the app slightly more responsive to atleast be okay till a 960px or 768px width hopefully.

[2021-03-18 19:38] I-Al-Istannen opened #112 "Crash when not passing through "Connection: upgrade" headers"
**Summary:**
The server (v.0.6.1, linux) crashes after a few page loads, refreshes and navigating the website *if nginx is configured incorrectly and does not pass through the connection upgrade header*.

**Steps to reproduce the behavior:**
1. Use an nginx config like:
[code]
2. Refresh the page, click on random things, somehow provoke the right request
3. Observe a 502 (bad gateway) and the foll

[2021-03-18 20:11] jespino commented on #112
Totally agree, thanks for the report

[2021-03-18 20:37] chenilim commented on #110
Thanks @Victor239! Yup, this is something we expect to support. Have to think about how to best represent this in the object model, i.e. would it be better to represent all select properties as multi-select, but limit some to just one in the UI? This affects the filter and display logic.

[2021-03-18 20:38] dataCobra opened #113 "Feature Request: Add possibility to delete tasks in table view (like in board view)"
**Summary:**
When in table view there is no option to easily delete a task. Before you can delete a task you need to open it.

**Steps to reproduce the behavior:**
1. Open a table view with tasks
2. Find option to delete task in table view
3. Need to open the task
4. Click on "3 dot" drop-down menu
5. Click delete

**Expected behavior:**
It would be nice to have the option to delete them directly

[2021-03-18 20:50] dataCobra opened #114 "Personal Server Installation Guide does not link to the latest release"
**Summary:**
While installing the focalboard server via the guide I stumbled across the problem that the provided release is not the latest.
Furthermore the release was packed into two archives with zip and tar.gz. Like mentioned in #77.

**Steps to reproduce the behavior:**
1. Go to https://www.focalboard.com/download/personal-edition/ubuntu/
2. Scroll down to "Install Focalboard"
3. Check link "

[2021-03-18 20:52] rdrahul commented on #109
Hey thanks working now.  Something was running on 8088.

[2021-03-18 20:59] dataCobra opened #115 "Feature Request: Change property option colors also with hexnumbers for a larger color range"
**Summary:**
It would be nice to have the option to choose colors for the options in properties, maybe a field to add a hexnumber would be
nice.

**How important this is to me and why:**
Sometimes I can distinguish property options in tasks better if they have a common color for me. Also this might be good for
people with color vision weaknesses.

Importance: Medium

[2021-03-18 21:21] chenilim commented on #114
Thanks @dataCobra! I'll update the docs. We might move this again in the future, but the latest binaries will be in the [GitHub releases](https://github.com/mattermost/focalboard/releases) for now.

[2021-03-18 21:21] parkuman opened #116 "Feature Request: System Settings Theme (Light/Dark)"
**Summary:**
Allow the user to select `System` as an option for their theme. It will use their OS preferred color scheme of light/dark.

**How important this is to me and why:**

Importance: Low, but it isn't a feature in Notion!

Use cases:
People like their apps to appear seamless with their OS. In MacOS and Windows switching between light/dark mode and seeing all your supported apps switch feel

[2021-03-18 21:24] #114 closed

[2021-03-18 21:49] chenilim opened #117 "Bump down min macOS version to Mojave (10.14)"
**Summary:**
Allow Focalboard to be installed on Mojave.

**Steps to reproduce the behavior:**
1. Go to the App Store page
2. Try to download on Mojave
3. Can't because of min version

**Expected behavior:**
Download and run on macOS Mojave.

**Platform:**
 - macOS 10.14

**Additional context:**
According to [statcounter](https://gs.statcounter.com/macos-version-market-share/desktop/worldwide), Ca

[2021-03-18 22:05] #117 closed

[2021-03-18 22:16] chenilim commented on #77
Thanks, I've uploaded the server binaries to the [GitHub releases](https://github.com/mattermost/focalboard/releases) and updated [the docs](https://www.focalboard.com/download/personal-edition/ubuntu/), dupe issue in #114. E.g. this should download the latest 0.6.1 server: `wget https://github.com/mattermost/focalboard/releases/download/v0.6.1/focalboard-server-linux-amd64.tar.gz`.

Sorry all for

[2021-03-18 22:16] #77 closed

[2021-03-18 22:17] #64 closed

[2021-03-18 22:32] jespino commented on #116
Thanks for the suggestion, I think this can be a good first issue for somebody.

[2021-03-18 22:35] Victor239 commented on #110
Airtable shows them all the options selected in the cell, but it's not wrapped so you might have to adjust the column width manually to show them all.

[2021-03-19 02:29] jpleger commented on #103
I don't think that this should be an "enterprise" feature. SSO shouldn't be a [https://sso.tax/](tax) for users or small teams, especially since there is good support for OAuth in Go. At the very least support google/facebook/oauth logins.

I can understand not wanting to support SAML, but it really upsets me when companies hide authentication behind "enterprise" features. So much so that if a com

[2021-03-19 07:32] brownhamer opened #121 "Provide portable Windows version"
**Summary:**
I would like to use a portable version on Windows instead of an installed version managed via the Microsoft marketplace.

**How important this is to me and why:**
Importance: Medium

Use cases:
1. For usage on Windows systems on which installation and/or the MS marketplace are blocked.
2. For usage on USB stick to go.

[2021-03-19 07:37] jespino commented on #121
Very good point, thanks for the feedback @brownhamer.

[2021-03-19 08:27] proffalken commented on #77
@chenilim good work, thanks.  Dockerfile updated and ready to go at https://github.com/mattermost/focalboard/pull/122

One thing I did notice was that when I ran it even though it downloads 0.6.1, it shows 0.6.0 as the version inside the container on the Web UI?

[2021-03-19 10:02] backit opened #123 "Trying to drag and drop cards not working in desktop version on Linux Kubuntu"
**Summary:**
Trying to drag and drop cards not working in desktop version on linux kubuntu

**Steps to reproduce the behavior:**
1. got to "By status" view in your project template
2. try drag n drop a card from one status to another

**Expected behavior:**
Card change status.

**Got behavior**
Card return to its place and status does not change.

**Screenshots:**
If applicable, add screenshots to

[2021-03-19 10:08] jespino commented on #123
Thanks for reporting it, I'll investigate it.

[2021-03-19 10:29] backit commented on #71
Confirmed also in linux version

[2021-03-19 11:33] olaxe opened #124 "Feature Request: ARM64 support"
**Summary:**
What the new capability is to compile the webapp to the ARM64 architecture.

**How important this is to me and why:**
Today, more and more persons are using an ARM architecture and it would be nice to have access to the Focalboard web server

Importance: Medium

Use cases:
1. Ensure the Makefile will work with ARM64 tag by detecting the Arch. Add the command npm install before the exe

[2021-03-19 12:35] it33 opened #125 "Why is capitalization in issue labels inconsistent?"
Just wondering, is the capitalization in labels inconsistent because they are hooked up to some backend processes that keep up from fixing the issue, or is it just that we haven't gotten around to picking a capitalization standard?

![image](https://user-images.githubusercontent.com/177788/111780524-c2c1d980-8874-11eb-95ab-607e5e56e91e.png)

[2021-03-19 13:53] rombert opened #128 "Feature Request: more comprehensive search"
**Summary:**
Search should include descriptions, comments, custom properties.

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Search for references in all fields, e.g. support cases, key boards

**Additional context / similar features:**
Any examples of good implementations of this capability.

[2021-03-19 13:55] rombert opened #129 "Feature Request: ability to reference other tasks"
**Summary:**
Have a short way of referencing tasks, e.g. #1239 or BOARD-213 .

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Reference other tasks, e.g. "Similar to what we did in BOARD-213"
2. Use container tasks, e.g. "This is done once we complete BOARD-213, BOARD-501 and BOARD-945"

**Additional context / similar features:**
Any examples of good implementations of

[2021-03-19 13:56] jasonblais commented on #125
The Mattermost labels (`Do Not Merge`) etc use title case. Looks like the default labels provided by GitHub (`bug`, `documentation`, ...) now use non-capital letters.

[2021-03-19 15:05] renjithgr opened #132 "Add/Improve unit tests for React components."
**Summary:**
Most of the React components are not covered by any unit tests. This issue is to track adding new unit tests or improving existing ones for those React components.

People can refer to this issue in their PRs for improving the unit tests.

[2021-03-19 16:48] chenilim opened #136 "Version showing incorrectly"
**Summary:**
The version is displayed as 0.6.0 even in the 0.6.1 build

**Steps to reproduce the behavior:**
1. Install 0.6.1 and open web app
2. Version shows 0.6.0

**Expected behavior:**
Show 0.6.1

**Platform:**
 - Chrom 89 on macOS 10.15.7

**Additional context:**
Even though this is just cosmetic, we should fix this to make consistent future updates easier. At the moment, the version string

[2021-03-19 16:49] gaberogan commented on #109
Same for me something was running on 8088. I have no clue what else could have caused that except Focalboard itself though. I imagine this would turn a lot of people off as this happens the first time you open the Mac app. (i'm on Big Sur btw)

[2021-03-19 16:59] #136 closed

[2021-03-19 17:09] chenilim commented on #136
Additional note for the future: Technically, the server can and should have an independent version from the clients.

[2021-03-19 17:09] chenilim commented on #77
Thanks @proffalken! I've fixed the display version in #136, with more details. We rev'ed to 0.6.1 for the Mac App Store (and 0.6.2 for Windows) even though the server version was 0.6.0.

[2021-03-19 17:13] chenilim commented on #128
Thanks @rombert! Yes, we want to improve the search. Agree that the next steps as:
* Include card property values (easiest, because they are on the card object)
* Include card text content / description (these are in child blocks of the cards)
* Include card comments

Open to PRs from the community. This can be added in stages.

[2021-03-19 17:21] chenilim commented on #129
Thanks @rombert. Agree we want this. Have to think more about how to get the reference-system right. My initial thinking is to add a "reference" content type (that you can add like text or images to card), which points to another card. This formally links cards, and we can later crawl the relationships to find dependencies, etc.

We might also need a type of relationship (e.g. depends-on), or dire

[2021-03-19 17:36] chenilim commented on #95
Yup, we're open to PRs for additional importers (see #53). If anyone wants to take a crack at it, check out the [existing import scripts](https://github.com/mattermost/focalboard/tree/main/import) for examples. I recommend starting with importing basic info (board and card titles), and layer in additional details.

[2021-03-19 17:40] chenilim commented on #53
If there's another system you would like to import from, please [create a feature request](https://github.com/mattermost/focalboard/issues/new/choose) or thumbs-up an existing one.

We're also open to accepting PRs for additional importers. Please create a feature request first to track it, then use the existing ones as a template. I recommend starting with importing basic info (e.g. board and car

[2021-03-19 17:42] fastfend commented on #103
I would suggest using [passport.js](http://www.passportjs.org/) but as I see Go is being used at backend. Also I strongly agree with @jpleger. Something like SSO in selfhosted solutions shouldn't be something exclusive for big corpos. As per topic I think that it would be best if OAuth2/OIDC should be first to be implemented. As far i know there is (like @jpleger said) good support for it

[2021-03-20 00:42] derrickmehaffy opened #140 "Contributions to focalboard documentation"
**Summary:**
Apologies if this is not in the correct location, while searching for the focalboard docs I notice they are not located in this repo and didn't see a mattermost repo for them. If the documentation is also open-source I would love to assist in providing more up to date guides for deployment on updated OSes.

Currently the only server deployment documentation is for Ubuntu 18.04 which a

[2021-03-20 01:11] chenilim commented on #140
Hi @derrickmehaffy, the docs (http://www.focalboard.com website) are checked in under the [website folder](https://github.com/mattermost/focalboard/tree/main/website). This is currently manually deployed (by me), but you can edit and test changes to that folder locally (following the steps in the readme there).

Yes! Thanks for contributing any additional documentation, or clarifying the existing

[2021-03-20 01:15] it33 commented on #140
@chenilim would you be open to having someone from community migrate the docs out of the website folder and add them to this repo?

It would make it easier to contribute to just a collection of markdown pages, rather than navigate through the website.

We could have focalboard.com as just a shell pointing to `.md` files in this repo.

We did this when Mattermost was in its earliest days and it add

[2021-03-20 01:18] it33 opened #141 "Feature Request: Changelog entry for every release"
**Summary:**

For every release, e.g. v0.6 vs v0.6.1, add an entry to the Changelog

https://github.com/mattermost/focalboard/releases/tag/v0.6.1

**How important this is to me and why:**

Importance: Medium

There's a lot of energy in the early days of a project and reading about the changes in every minor release is a celebration of what's been accomplished--especially when we thank people by th

[2021-03-20 01:22] it33 commented on #125
Thanks @jasonblais

Does anyone know if we remove the capitalization from the labels Mattermost added, would we break any automation?

Also, I'm wondering if we should just remove the Mattermost labels and use the standard GitHub ones to make this repo more friendly to contributors.

[2021-03-20 01:33] chenilim commented on #140
Yeah @it33, that works! @derrickmehaffy and anyone else: feel free to submit PRs to add a /docs folder, and migrate the [Ubuntu download guide](https://github.com/mattermost/focalboard/blob/main/website/site/content/download/personal-edition/ubuntu.md) and [setup guide](https://github.com/mattermost/focalboard/blob/main/website/site/content/guide/server-setup/_index.md) (which probably should be c

[2021-03-20 01:56] it33 commented on #140
Oh @chenilim sorry, I misunderstood, I thought the website was in a different project, I see it's now just in this repo. Whoops :)

Okay, in that case, we need to make it easier to find stuff and update it.

@derrickmehaffy I think you can find the markdown to generate https://www.focalboard.com/download/personal-edition/ubuntu/ in this repo at https://github.com/mattermost/focalboard/blob/main/we

[2021-03-20 02:02] it33 opened #142 "Feature Request: Add an "Edit" link to the footer of all pages on the Focalboard.com website that links to the GitHub repo page that can be edited with a pull request."
**Summary:**

Add an "Edit" link to the footer of all pages on the Focalboard.com website that links to the GitHub repo page that can be edited with a pull request.

Use the text: `This page is open source. _Edit_ this page in GitHub`

Example: Link this page on focalboard.com https://www.focalboard.com/download/personal-edition/ubuntu/ to this page in the repo:
https://github.com/mattermost/focal

[2021-03-20 02:09] chenilim commented on #140
No worries. :) We'll eventually reorganize the docs anyway. Yes, adding to the existing Hugo pages is fine. Please add a separate page for the latest Ubuntu version (and / or other distros). I've run into cases myself where I want to install on 18.04 and the steps are slightly different. (And incidentally, I always find the [Digital Ocean docs](https://www.digitalocean.com/community/tutorials/how-

[2021-03-20 06:44] kb10uy opened #144 "Cannot add Japanese text into status label"
**Summary:**
* Typing some Japanese text into status labels does not work, treated just like nothing was typed.
* Pasting such text always work as intended.
* When the label text is empty, typed text shows up

**Steps to reproduce the behavior:**
1. Create a status (`NEW GROUP` already input)
2. Type some Japanese text into label, with IME
3. Nothing will show up
4. Paste such text into label (e.g

[2021-03-20 06:57] kb10uy commented on #144
With MSIME (Windows' default Japanese IME), it does not happen.
SKK may be incompatible with current implementation of label capitalization...

[2021-03-20 07:22] jespino commented on #144
Hi @kb10uy! thanks for this high quality bug report, really appreciated, I added this as help wanted because I don't have much experience with this kind of keyboards maybe somebody from the community can take a look. @kaakaa maybe you understand better this bug and can help there ;)

[2021-03-20 07:56] jespino commented on #116
Done on #145 (but still needs some testing)

[2021-03-20 08:02] jespino commented on #123
Looks like the https://github.com/webview/webview library is not passing properly all the drag and drop events to the underneath application. I need to investigate it a bit more.

[2021-03-20 08:15] jespino commented on #125
Good question maybe @metanerd knows it.

[2021-03-20 09:55] it33 commented on #108
Thanks @asaadmahmood would you be able to recommend a few options for minimum width? Wondering how this worked for the Mattermost project. Could we set the same policies maybe?

[2021-03-20 10:21] it33 commented on #107
We might note here that this project is for Focalboard Personal Desktop and Focalboard Personal Server and it's intended for personal use, or small teams.

While I believe permissions is on the roadmap for the larger vision of Focalboard, certainly in editions for large organizations, I don't believe it's a feature for Focalboard Personal Desktop (since it's single user), and unclear if it should

[2021-03-20 10:58] asaadmahmood commented on #108
@it33 We would have to first make the app responsive, see what makes sense for the app. The layout of both Mattermost and Focalboard is slightly different, so it would be good to see how much we can condense it first with it being functional, and then set a min-width to it.

If I have to give a value, I would say 1024px to be safe side for now.

[2021-03-20 12:59] kaakaa commented on #144
I'm sorry that I don't know a much about input methods, so I can't give a much about this.
I cloud reproduce this on Win10 / FireFox 86 / Microsoft IME. However, on chrome 89 this doesn't happen. On macOS, I did not have this problem in either Chrome or FireFox.

I thought that the behavior around the `contenteditable` attribute might be suspicious, but I couldn't figure it out any further.
https:

[2021-03-20 13:02] jespino commented on #144
Thanks @kaakaa , really useful feedback, yes the content editable is not most well supported thing out there. I can try to configure japanese in my laptop and see how it goes.

@larkox maybe you can help here, if you are able to reproduce it and guide me through the details I can do the rest.

[2021-03-20 13:52] internalfx commented on #107
@it33 For the personal desktop version, I could agree with you easily.

In my case I wanted to share my personal server with my wife.

Do you think she should be unable to create boards just for her use?
Should I have to share _all_ my boards with her?

[2021-03-20 17:34] rakhi2104 commented on #142
Hi @it33

I've seen a few docs on [developers.mattermost.com](https://developers.mattermost.com/contribute/getting-started/) and is it better to follow the same design pattern? Instead of having the edit link, you can place a link right next to the title. Like this:

![image](https://user-images.githubusercontent.com/17671710/111880271-755a7f00-89d0-11eb-8222-017ab8858406.png)

[2021-03-20 17:48] rakhi2104 commented on #142
I did a little digging into the code and found, the `page-edit` partial is commented on the title section [here](https://github.com/mattermost/focalboard/blob/b0d8d5a0257eb954e5909efba0dd8aabf21b3814/website/site/layouts/_default/list.html#L18)

[2021-03-20 18:04] chenilim commented on #107
Hi @internalfx, appreciate the feedback. Our working assumption has been:
* Personal Desktop: Single user
* Personal Server: Collaborate within a team / family

In your scenario, do you want to share some boards with your wife, and have some boards private?
Would using Personal Server for the shared boards, and Personal Desktop for the private ones work?

One of the things we are trying to figure

[2021-03-20 18:35] internalfx commented on #107
@chenilim

Yes, I also think it would be great if she was able to have private boards if she desired.

It would technically work, but would be inconvenient. It also has the problem of Me being unable to access "personal" boards from my phone.

[2021-03-20 18:56] max-tet opened #152 "Feature Request: Add support for authentication by reverse proxy"
**Summary:**
Add configuration options: 1) enable proxy auth, 2) proxy auth http-header (e.g. `X-Authenticated-User`).

If proxy auth is enabled, user login is bypassed and the user that is present in the specified header is used.

Optional: if no such user exists, automatically create one.

**How important this is to me and why:**
Some on-premise hosting approaches put everything behind a reverse

[2021-03-20 19:14] daftaupe opened #153 "Feature Request: Columns should have a min-width to fit content including category labels"
**Summary:**
I added some custom category label and it seems that the columns in table view doesn't adapt as one of my label is being written on top of the column delimiter.

**Steps to reproduce the behavior:**
1. Create a label with more than 9 or 10 letters depending on the letters used
2. Click on table view
3. The category name is displayed on the next column

**Expected behavior:**
The colum

[2021-03-20 22:07] chenilim opened #154 "Table name and property cells should clip"
**Summary:**
The contents of some table cells overflow.

**Steps to reproduce the behavior:**
1. Open a table view
2. Manually resize the columns smaller than the contents
3. The name and property cells overflow

**Expected behavior:**
All cells should clip.

**Screenshots:**
<img width="801" alt="Table column clipping" src="https://user-images.githubusercontent.com/46905241/111886818-efb5df80-898

[2021-03-20 22:09] chenilim commented on #154
This appears to be an issue with the CSS.

[2021-03-20 22:09] chenilim commented on #153
Thanks for submitting this issue @daftaupe! The root problem is the table columns don't (yet) support auto-fit, or minimum-width. I'm changing this to a feature request to track that.

The **workaround** is to manually resize the column by dragging the border between columns in the header.

Open to community contributions. It's tricky because the width would need to be calculated after rendering (

[2021-03-20 22:21] it33 commented on #154
@asaadmahmood is this something you could help with?

[2021-03-21 06:22] asaadmahmood commented on #154
@it33 Yes I can look at it.

[2021-03-21 07:33] flandoni commented on #79
Having also AppImage package  could be convenient.

[2021-03-21 09:59] citydelver commented on #121
I'm on Windows 8.1 and about to open an issue requesting for extending compatibility, but then I found this feature request, which is... BETTER. :-)

[2021-03-21 10:13] citydelver opened #160 "Feature Request: mobile apps"
**Summary:**
Mobile apps. Accessing, inputting and editing info on the go is no doubt useful.

Importance: **High**

**Additional context / similar features:**
Android is definitely priority, obviously. Just kidding. But it is. Just kidding. Or maybe not. ;-p

[2021-03-21 10:55] adontz commented on #103
I, as an original author, agree with the comments above. SSO is not an enterprise feature. DLP is an enterprise feature, advanced analytical reports are an enterprise feature, SSO is just must have these days.

[2021-03-21 12:01] Snehal1112 commented on #31
@chenilim @jespino Quick question!! In code, I found there is some code which never used anywhere e.g. https://github.com/mattermost/focalboard/blob/main/server/app/blocks.go#L37
It intentionally did that or someone forgot to remove it.

[2021-03-21 12:57] nicoulaj commented on #91
For what it's worth, I have setup a build for ARM images for deploying on raspberry pi, available at Dockerhub: [`nicoulaj/focalboard`](https://hub.docker.com/r/nicoulaj/focalboard). The source is at: [nicoulaj/focalboard-docker](https://github.com/nicoulaj/focalboard-docker). I plan on maintaining it until ARM images are published by this project.

[2021-03-21 15:17] proffalken commented on #91
Do we need to be concerned about the [API limits](https://www.docker.com/increase-rate-limits) on Dockerhub?

[code]
I've no idea what the current rate of pulls is for this container, but if it takes off then we could easily surpass those limits I guess.  Perhaps one to keep in mind for the future if nothing else?

[2021-03-21 16:02] shtelzerartem commented on #160
@citydelver what do you think about the tech stack? React Native / Flutter?

[2021-03-21 16:40] citydelver commented on #160
I'd love to help, contribute and get my hands dirty, but I don't know how. I really can't code (yet, hopefully someday).

[2021-03-21 17:15] wadbr commented on #121
Yes please, not everyone has access to the store (some windows 10 versions dont have the store at all)

[2021-03-21 18:00] hamid-m commented on #123
Same issue on:
  - focalboard desktop v0.6.1
  - Ubuntu 20.04

Cannot drag and drop tasks to change status (e.g. TODO to DONE) or to change order of tasks.

[2021-03-21 19:39] daftaupe commented on #153
Thanks for workaround @chenilim
For the rest I really can't help, sorry, but I like the bonus point :)

[2021-03-21 20:24] basst85 opened #162 "Feature Request: Option to disable "create an account" and make it invite-only"
**Summary:**
It would be nice if you can disable the "create account" functionality and enable "invite-only".
The first user becomes the "admin" and can disable the option "everybody can create accounts" and can send invites to new users (team members).

**How important this is to me and why:**
Medium

Use cases:
1. Team leader invites team members

**Additional context / similar features:**
Any e

[2021-03-21 21:04] chenilim commented on #160
Thanks for creating this issue @citydelver! The webapp currently has basic support on mobile - i.e. the UI is responsive, and there's an iOS-like menu implementation. You *should* be able to use all basic features via a mobile browser. I would be curious to know what the main pain-points are. Anyone who runs the webapp in a mobile browser: Please file bugs for any issues you run into.

As for a fu

[2021-03-21 21:23] chenilim commented on #162
Thanks @basst85 for the input! To clarify the current behavior:
* The first user can [create an account without an invite link](https://www.focalboard.com/guide/server-setup/#registering-the-first-user)
* Subsequent users must be invited by another user (from the Focalboard menu, with a token in the link)
* Any user an invite other users, as well as invalidate (regenerate) the invite link token
*

[2021-03-21 21:31] shtelzerartem commented on #160
@chenilim I think, if we don't want to go native, we can still get the advantages of PWA. For android users, it would be no less good than a native app. May it be a good enhancement?

[2021-03-21 21:33] #162 closed

[2021-03-21 21:35] ziprandom opened #163 "Feature Request: File based storage backend"
**Summary:**

This app could be really nice to use with something like emacs org mode or markdown files. This makes using this program in a serverless setup (e.g. via syncthing) very easy and would make it ultimately even possible to have a scrum board checked in with the source code for colaboration.

Having a slim and content (Blocks and Comments/Atachments) oriented (Go) Interface in order to m

[2021-03-21 23:08] virgil9306 commented on #124
Arm32 may be sufficient for users who run Raspi too

[2021-03-22 00:21] fabiancrx commented on #123
Don't know if it's helpful but I can reproduce the same issue with Pop OS(ubuntu based) 20.10

[2021-03-22 00:56] djanda97 commented on #160
I don't have experience with mobile development, but I would be interested in helping out with either the web-based or native approaches.

[2021-03-22 03:45] grsky360 opened #166 "Feature Request: Single Note without Board"
**Summary:**
Will FocalBoard add single note / folder support, and the Board just like a page type ? Just like Notion.

**How important this is to me and why:**

Importance: Middle

Use cases:
1.
2.
3.

**Additional context / similar features:**
Any examples of good implementations of this capability.

[2021-03-22 05:37] derrickmehaffy commented on #140
Generally speaking, the top 3 Linux Distros (LTS versions) are Ubuntu, Debian, and RHEL/Centos though given the recent change to Centos that will probably change to RockyLinux later this year.

My advice is stick to LTS versions, for Ubuntu this happens every 2 years (any of the .04 releases), though the support terms for older versions do last a few years, the bulk of the packages won't be upgrad

[2021-03-22 08:07] metanerd commented on #125
The lower case labels are the default GitHub labels. Renaming them might break automations that query GitHub. Feel free to make them consistent in this repository though. This needs a rework across all our projects.

[2021-03-22 12:18] citydelver commented on #160
From a user perspective, Notion's Android app is sluggish, and I think they adopt a PWA strategy. Perhaps it's because their web service is heavy in general. Microsoft Teams is (or was, haven't been using for a few months) also an example of slow/lagging UI in consequence of adopting a web UI wrapper approach. But then again, if that's all there is then it's all there is (this obviously shouldn't

[2021-03-22 12:37] shtelzerartem commented on #160
@citydelver About Notion adaptation, they just wrapped their mobile version into a [WebView](https://github.com/makenotion/react-native-webview). We can use it to make it the same way.

[2021-03-22 13:44] asaadmahmood commented on #90
I don't think these should be visible in the UI at all times. I'd put them under a dropdown somewhere.

[2021-03-22 13:44] asaadmahmood commented on #90
@jespino

[2021-03-22 13:46] asaadmahmood commented on #88
@jespino Is the html for the homepage in this repo?
I can fix it.
The font weight needs to be fixed, and we should also probably remove the opacity, we can have an underline on hover.

[2021-03-22 15:03] alexander-rieder opened #169 "Feature Request:"
**Summary:**
a view where i can see all tasks of all boards at once and to which user they are assigned

**How important this is to me and why:**

Importance: High

Use cases:
1. Overview (which is not limited to one project) on what people are currently working
2. Summary of all tasks that need to be done, which is not limited to one project.
3.  See if one user has too many tasks on his shoulder

[2021-03-22 15:16] jespino commented on #88
@asaadmahmood yes, it is in the website folder in this repo. It is not an HTML it is an hugo site.

[2021-03-22 17:36] olaxe commented on #124
Personally I use only arm64 for my Raspberry servers. Arm32 is for desktop use.

[2021-03-22 18:16] Victor239 opened #171 "Feature Request: Multiple export options"
**Summary:**
Ability to export all data in a choice of several different formats:
- CSV (doesn't maintain relational data well, but is compatible with virtually any tool)
- JSON/XML (structured data means that it's suitable for full backups/archives, but requires being imported into Focalboard to be manipulated)
- SQLite/other database format (maintains relational data well and allows manipulating

[2021-03-22 18:27] chenilim commented on #171
Hi @Victor239, thanks for the input! Yes, data sovereignty is one of the major benefits of a self-hosted system, and Focalboard currently supports several ways to export your data:
* [JSONL Archive](https://www.focalboard.com/guide/user/#archives): The [JSON lines format](https://jsonlines.org/) is used for perf. This is also the import format.
  * Note that data files (images) aren't part of the

[2021-03-22 19:01] Victor239 commented on #171
Awesome! So glad to see that all the options are available.

After testing now I wasn't initially sure if JSON+CSV exports are working because there's no pop-up that the export was successful, but I can see now they've been saved to `~/Downloads/` directory. For the future a notification that it worked would be handy, but otherwise this feature looks great.

[2021-03-22 19:08] Victor239 commented on #111
[FileSafe](https://github.com/standardnotes/filesafe-relay) may be a relevant consideration as it supports:
-  Dropbox, Google Drive, WebDAV Server, and AWS S3 as cloud storage choice
- End-to-end encryption for all files
- Any filetype

This would nicely sidestep security implications since the executable files can only be accessed client-side, as well as storage concerns as the user can choose w

[2021-03-22 19:21] jwilander commented on #91
Mattermost has a paid DockerHub account so there will be no limits for how many pulls can be made from `mattermost/focalboard` on our side. From what I understand, if you're unauthenticated making the request to pull the image you could be hit by the rate limit if you're trying to pull the image 100 times within a six hour window. Not sure why you'd need to do that, though. Even if you did hit tha

[2021-03-22 19:28] chenilim opened #174 "Show confirmation that export is completed"
**Summary:**
It's not entirely obvious that export completed

**Steps to reproduce the behavior:**
1. Open a board
2. Click on Settings and choose `export archive`
3. File is downloaded, but is not completely obvious (may differ by browser)

**Expected behavior:**
Show a pop-up dialog that export is competed

**Platform:**
 - Chrome 89 on macOS 10.15.7

**Additional context:**
Similar for export C

[2021-03-22 19:29] chenilim commented on #171
Thanks @Victor239. I've created a new issue #174 to show a confirmation of export. On Chrome it shows a download at the bottom of the screen, but this might differ by browser. If you have a minute, please add any additional notes to the issue, and what browser / OS you are using. Thanks!

[2021-03-22 19:29] #171 closed

[2021-03-22 19:42] Victor239 commented on #174
Tested on Kubuntu 20.10 with Linux desktop app, no notification that export was successful.

[2021-03-22 20:02] Victor239 commented on #154
Also when the column title overflows this makes you unable to manually resize the columns again.
![](https://i.imgur.com/dYX4uqg.png)

[2021-03-22 22:40] chenilim commented on #169
Thanks @alexander-rieder for the detailed scenario notes. This is helpful for planning features. A few pieces are needed to support this:
* A user property (e.g. "assigned to")
* Queries / filters across boards (currently filters are per-board)
  * There are perf implications to consider
* Appropriate reporting UI such as the ones you noted

If anyone else has examples of these kinds of global rep

[2021-03-22 22:43] chenilim commented on #166
Thanks for the input @grsky360! Are there particular use-cases or types of things you would want to put on those notes? Does markdown give you most of what you need, or are there other specific content you would like to see? Thanks.

[2021-03-23 06:18] asaadmahmood commented on #154
Thanks, I'll look into that too @Victor239

[2021-03-23 06:49] BharatKalluri commented on #174
I can pick this up, looks like this is a small UI change which I should be able to quickly do.

I think there should be "Export complete!" flash message on successfull export or "Export failed!" on a failure.
If this sounds good, I'll make a PR with these changes 😄

[2021-03-23 08:09] proffalken commented on #91
Probably not so much an issue for this particular project, but I've got a client who builds containers from stuff on DockerHub via CI/CD and they've been hitting the 100 pull limit frequently of late.  We're now in the process of setting up a local mirror for that container to work around this!

Good to know it won't be an issue for Focalboard though!

[2021-03-23 14:47] mtotg opened #177 "Feature Request: Opt-out of Telemetry"
**Summary:**
Give the users the ability to opt out of telemetry (https://github.com/mattermost/focalboard/blob/main/server/services/telemetry/telemetry.go)

**How important this is to me and why:**

Importance: High

We shouldn't be opted-in by default for telemetry. If I wanted to submit telemetry, it should be an option that needs to be enabled (disable by default).

[2021-03-23 17:52] chenilim commented on #174
Hi @BharatKalluri, yes thanks for offering to contribute a PR! That sounds great. Agree that a temporary message would work best. You can use the [FlashMessages component](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/flashMessages.tsx) to do that. LMK if you run into any issues or have any questions.

[2021-03-24 00:47] chenilim commented on #31
Hi @Snehal1112, thanks for catching that! Yup, I forgot to remove them when refactoring. :) Please go ahead and remove `blockIDsToNotify` and `uniqueBlockIDs` from InsertBlocks and DeleteBlock. They aren't used. Thanks!

[2021-03-24 06:42] hantatsang opened #179 "make command fails on Windows"
**Summary:**

I'm trying to build the app to run locally following the instructions in `README.md` but `make` task fails due to `win-node-env`. `make webapp` yields the same error.

**Steps to reproduce the behavior:**

1. Run `npm i -g win-node-env`
1. Run `make prebuild`
2. Run `make`
3. This error dialog comes up:

  ![2021-03-24 16_33_50-package json - focalboard - Visual Studio Code](https://

[2021-03-24 07:35] Snehal1112 commented on #31
@chenilim thanks will do. I am going to create multiple PR for linter issues so each PR contains a fix for individual modules.
feel free to suggest any other better way.

[2021-03-24 08:22] Jeeboot commented on #154
And when the text overflows the cell, you can't resize it manually.

[2021-03-24 09:24] asaadmahmood commented on #154
All of those should be fixed by this PR:
https://github.com/mattermost/focalboard/pull/182

[2021-03-24 14:09] grsky360 commented on #166
@chenilim Thanks for reply. I only think single note will be more simple and clearly to find, read and create.

[2021-03-24 15:47] kevr opened #184 "Task Card Overflow"
**Summary:**
A task card with too much width in its title causes a visual overflow.

**Steps to reproduce the behavior:**
1. Create a card.
2. Set your window width to something kind of small
3. View your task cards

**Expected behavior:**
Wrapped text.

**Screenshots:**
![overflow](https://user-images.githubusercontent.com/1672189/112339960-5a606700-8c7d-11eb-92bb-9a0fd1f4ada2.png)

**Platform:**

[2021-03-24 18:36] chenilim opened #185 "Property type: User"
**Summary:**
Pick a user to assign to a property (e.g. "Assigned to").

**How important this is to me and why:**
Importance: High

Use cases:
1. Assign a card to a user
2. Set the reviewer of a card

The current workaround is to use a Select property with the names of users as options. By typing the property to a user (by userID) instead, we can do user-specific filtering, such as "Show tasks assi

[2021-03-24 18:46] chenilim opened #186 "Documentation for share board"
**Summary:**
Add steps to share a board to the users guide

**Outline:**
1. Click on the board menu
2. Select share board
3. How to regenerate token

[2021-03-24 19:02] chenilim commented on #109
Updating the title to reflect issue. We should use a random unassigned port like the Win32 app does.

[2021-03-24 19:12] chenilim commented on #99
I've added a zip file with signed Windows binaries to the [release]https://github.com/mattermost/focalboard/releases/tag/v0.6.1):
* Download `focalboard-win.zip`
* Unpack it
* Run `Focalboard.exe`

Also added [package-zip.bat](https://github.com/mattermost/focalboard/blob/main/win-wpf/package-zip.bat) as part of `make win-wpf-app`.

Please LMK or file an issue if you run into problems installing.

[2021-03-24 19:12] #99 closed

[2021-03-24 19:13] chenilim commented on #121
Fixed in #99 (dup).

[2021-03-24 19:13] #121 closed

[2021-03-24 19:23] jakauppila opened #187 "Packaged Windows binaries requires WebView2 installation which org blocks"
**Summary:**
With signed binaries now being distributed after #99 was closed, I attempted to run it, but encountered that the WebView2 runtime needs to be downloaded and installed, which my org blocks via Group Policy.

**Steps to reproduce the behavior:**
1. Download Windows binaries
2. Run `Focalboard.exe`
3. Click Yes for WebView2 runtime installation

![image](https://user-images.githubusercon

[2021-03-24 19:37] femto-code opened #188 "Font not readable in dark theme"
In template editor the alert is not readable because of font contrast.

![image](https://user-images.githubusercontent.com/59444046/112372866-9e388800-8ce0-11eb-8a25-84717cd37916.png)

[2021-03-24 19:55] chenilim commented on #187
Are you able to install the [webview2 runtime](https://developer.microsoft.com/en-us/microsoft-edge/webview2/) directly from Microsoft? Focalboard has a dependency on this for Windows. The expectation is this will eventually be a part of Windows, but the separate install is required for now.

[2021-03-24 20:03] chenilim commented on #188
Thanks for reporting this @femto-code! @asaadmahmood, is this something you can help with? We might also consider doing a more general review of the dark theme.

[2021-03-24 20:30] jakauppila commented on #187
Nope, I end up at the same prompt.

Is [Fixed Version Distribution Mode](https://docs.microsoft.com/en-us/microsoft-edge/webview2/concepts/distribution#fixed-version-distribution-mode) an option? It appears that simply ships the dependencies rather than requiring a separate install?

[2021-03-24 21:40] chenilim commented on #187
Thanks for checking @jakauppila. I did some more digging and apparently if you can install a [canary build of Edge](https://www.microsoftedgeinsider.com/en-us/download), it also serves as a webview2 component. Though my guess is you might run into the same group policy restriction.

Would it be possible for your IT to allow this in their policy? Found these [MS docs](https://docs.microsoft.com/en-

[2021-03-24 21:52] chenilim commented on #187
Oh, looks like Microsoft is already [silently rolling out webview2](https://www.bleepingcomputer.com/news/microsoft/microsoft-is-auto-installing-the-windows-10-webview2-runtime/)! So this problem might just go away in a few weeks.

[2021-03-24 23:42] chenilim opened #190 "Feature Idea: Add option to turn off auto-random icon"
**Summary:**
Creating a new card automatically sets a random icon. This is by design, as it makes cards immediately distinguishable. However, sometimes we want to turn that off

**How important this is to me and why:**

Importance: Medium

**Additional context / similar features:**
P1: Add an option to the settings menu to turn this off. Store in localStorage per-client for now.
Bonus points: Crea

[2021-03-25 01:25] it33 commented on #142
Thanks @rakhi2104 I think either way works. Would you be open to making a pull request to add the change?

[2021-03-25 03:05] chenilim commented on #179
Hmmm... it seems that webpack is calling Windows Script Host in that environment ([SO article](https://stackoverflow.com/questions/59605666/windows-script-host-error-800a03ea-on-express-js-code)). Are you running in git bash?

There are some more details in the [dev tips & tricks page](https://www.focalboard.com/contribute/getting-started/dev-tips/) on the setup on Windows.

[2021-03-25 05:13] chenilim commented on #184
Thanks for filing this @kevr! @asaadmahmood, do you think this is a simple css fix?

[2021-03-25 08:13] asaadmahmood commented on #184
@chenilim Yup, pretty simple.

[2021-03-25 08:14] asaadmahmood commented on #188
Yup, I can have a look at it @chenilim

[2021-03-25 09:07] GuillauG commented on #103
SSO is a must have for small teams, I just don't use open-source project that don't have them these days.
We rely on different products for building internal tools and having a single authentication system is not a question anymore.

I use a self-hosted Keycloak instance for SSO, I would definitely use FocalBoard if both would work together.

[2021-03-25 11:55] jespino commented on #103
@GuillauG we disagree on that, we think small teams can work perfectly fine without the need of SSO. That is ok to disagree. The thing is, we want to build an open core model on this project, and that means some features are going to keep closed on the enterprise version, and most of them are been publicly available for everybody. Our vision is to provide huge amount of value to everybody, and at

[2021-03-25 12:08] fastfend commented on #103
Welcome to [sso.tax](https//sso.tax) ! So it is going to be like with Mattermost. SSO for 8.5$ per user. Cool cool nice tax

[2021-03-25 14:07] loranger opened #192 "Feature Idea: Disable register"
**Summary:**
It would be convenient to being able to disable registration on self-hosted, but public focalboard.

**How important this is to me and why:**
I'd like to expose my focalboard, and still being able to invite any user, but I would like to disable /register in order to control my self-hosted focalboard usage

Importance: Medium

Use cases:
1. I install a fresh self-hosted focalboard
2. I

[2021-03-25 14:22] jespino commented on #192
@loranger actually, this works in this way, only the first account is allowed to register without invitation, after that, any user that wants to register needs to be invited. That sounds like what you expected?

[2021-03-25 14:29] loranger commented on #192
@jespino  I tried to open my local focalboard using incognito mode and was able to fill in the registration form, but I did not try to submit it.
If I tried, I would have seen that I'm not able to register until I provide a real valid invitation link and I would avoid you to loose time.
Sorry about this.

Let's say that I wanted to take advantage of this ticket to thank you warmly for this awesome

[2021-03-25 14:29] #192 closed

[2021-03-25 14:31] jespino commented on #192
@loranger thank you for your kind words, I'm really glad to know you like the project, and we will keep working hard to make it better :)

Keep giving feedback please, is really appreciated.

[2021-03-25 15:13] jespino commented on #154
Close with the PR #182

[2021-03-25 15:13] #154 closed

[2021-03-25 18:13] jpleger commented on #103
You have a bunch of early adopters and power users who are telling you that is not the case. Who is "we"? It certainly isn't the users/community who are giving you feedback contrary to your opinions. Having some sort of SSO is table stakes in 2021. When you gate features like this, you are harming users and decreasing the overall security posture.

Account takeovers are one of the biggest problems

[2021-03-25 23:53] chenilim commented on #108
Thanks @asaadmahmood! Marking this as up for grabs. It should be a fairly easy fix for anyone who wants to build the Windows app (`make win-wpf-app`). While you are at it, please also set the min-height if there isn't one (I'll guess 480px unless @asaadmahmood you have a better idea).

[2021-03-26 06:44] BharatKalluri commented on #184
Can I take this up?

Is the idea to hide the text overflow?

![Screenshot 2021-03-26 at 12 12 27 PM](https://user-images.githubusercontent.com/8049414/112592783-89690b00-8e2c-11eb-9ef0-c8f2a8393a43.png)

[2021-03-26 07:16] asaadmahmood commented on #184
We can probably have them span multiple lines right @chenilim ?

[2021-03-26 07:43] BharatKalluri commented on #184
We can do this too, this is how it would look like.

<img width="575" alt="Screenshot 2021-03-26 at 1 11 36 PM" src="https://user-images.githubusercontent.com/8049414/112598585-cf29d180-8e34-11eb-8082-d7a251cbc2e6.png">

[2021-03-26 07:48] asaadmahmood commented on #184
I'd be fine with that, I think that provides additional value compared to truncating.

[2021-03-26 10:14] GuillauG commented on #103
Identity need to be portable if you want a more decentralized web, based on open-source software.
Non-tech people are lost if they have one account for each service their organization / non-profit provides.

A lot of small teams can not afford to spend hundreds of dollars per user per month for each of their members. Non-profit just can't, at least the ones I am working with. However, they still n

[2021-03-26 11:35] Tashima42 commented on #123
Same thing on Zorin OS, wich is also Ubuntu based.

[2021-03-26 11:41] jespino commented on #51
Done

[2021-03-26 11:41] #51 closed

[2021-03-26 11:43] jespino commented on #174
This is done in the PR #178. Thanks @BharatKalluri!

[2021-03-26 11:43] #174 closed

[2021-03-26 11:45] jespino commented on #179
@hantatsang I upgraded all our javascript dependencies, can you try again, I don't know if that is going to solve the problem.

[2021-03-26 13:05] tcaldon opened #198 "Feature Idea: Add MySql/MariaDB as alternatives to PostgreSQL"
**Summary:**
Add MySql/MariaDB as alternatives to PostgreSQL

**How important this is to me and why:**

Importance: High/Medium

Use cases:
1. For those who have servers and are hosting sites with ISPConfig can't install and manage PostgreSQL i know that is going hot as control panel. So anyone that are using ISPConfig then can't install in production server

[2021-03-27 05:12] hantatsang commented on #179
Thanks, but I'm still having the same issue. I might have to try this on a Linux machine instead.

[2021-03-27 09:01] ar-gh opened #201 "..."

[2021-03-27 10:41] haardikdharma10 commented on #186
Hi @chenilim, I'll take care of this ticket:)

[2021-03-27 10:42] jespino commented on #186
Awesome, thanks @haardikdharma10!

[2021-03-27 11:24] haardikdharma10 opened #202 "Bug: Installation fails on MacOS"
**Summary:**
When downloading Focalboard from the Mac App Store, the installation fails. The app downloads till it's usual size (15.3 MB in this case) but fails to install. Refer to the screenshot below.

**Steps to reproduce the behavior:**
1. Go to App Store.
2. Search for Focalboard.
3. Download the App.
4. Once the download is completed, the app fails to install.

**Expected behavior:**
The ap

[2021-03-27 12:23] #201 closed

[2021-03-27 15:26] harshilsharma63 commented on #53
@chenilim I'm working on adding a Todoist import script. The initial version is working well. I need to test it out more and polish out some corners. Will create a ticket and PR soon.

[2021-03-27 22:42] IDeAlternative opened #203 "Feature Idea: French translation"
**Summary:**
French Translation.

**How important this is to me and why:**

Importance: High

Use cases:
1. Desktop app and others available apps !

**Additional context / similar features:**
To offer a French translation to Focalboard !

[2021-03-28 09:06] zak39 opened #204 "Feature Idea:"
**Summary:**
Add story point / velocity point foreach cards

**How important this is to me and why:**

Importance: Medium

Use cases:
1. To define the velocity / story point for one cards of development ;
2. To estimate efforts of all cards for one period
3. To measure the resolution cards foreach period (Agile Scrum specific)

**Additional context / similar features:**
When I create a card, I wou

[2021-03-28 18:48] chenilim commented on #204
Thanks for the input @zak39! You should be able to do this currently with a "number" property:
1. Add a new property
2. Select "number" type
3. Name it "story points"

Does this work for your needs?

On the roadmap is to add additional aggregations for properties (e.g. sum, average, etc.), so we could see total story points per sprint for example. Please add any details for additional aggregations

[2021-03-28 18:49] chenilim commented on #53
Thanks @harshilsharma63! That is awesome! LMK if you run into any issues.

[2021-03-28 18:51] chenilim commented on #202
Hi @haardikdharma10, hmmm.... that looks like it might be a temporary App Store or network issue. Are you still seeing this? And are you able to download other new apps?

[2021-03-28 18:58] haardikdharma10 commented on #202
@chenilim The issue still persists after updating to macOS BigSur 11.2.3 (which is the latest version). All other apps are being downloaded and installed successfully.

[2021-03-28 18:58] chenilim commented on #198
Thanks for submitting this @tcaldon! It's good to know that Postgres isn't an option in some environments. We will investigate supporting MySQL if there is enough interest. The main reason we don't initially is to keep the test matrix small.

For anyone else who needs MySQL and can't use Postgres, please upvote this and (even better) add details on what environments don't run Postgres.

[2021-03-28 19:05] micker commented on #203
strange translation is inside githube repo
https://github.com/mattermost/focalboard/blob/main/webapp/i18n/fr.json

[2021-03-28 19:11] IDeAlternative commented on #203
No problem ! This translation seems to be good ! 👍🏻

[2021-03-28 19:20] jespino commented on #203
Yes, this is already translated to french, the next version is going to include it.

[2021-03-28 19:20] #203 closed

[2021-03-28 19:38] chenilim commented on #202
Thanks @haardikdharma10. What hardware is this running on? Is it an M1 Mac? Are you able to build and run from source via `make mac-app`?

Also, found [this thread](https://talk.macpowerusers.com/t/appstore-updates-fails-to-install/21586/7) from a quick Google search. Try rebooting if you haven't already.

[2021-03-28 19:47] haardikdharma10 commented on #202
No it is not an M1 Mac. My model is MacBook Air 2018. Building and running `make mac-app` doesn't work as there are some breaking changes on my local branch :( Rebooting was not the solution apparently.

[2021-03-28 21:20] zak39 commented on #204
Thanks @chenilim :)

Aaah okay I didn't see that !

In this case, Can we define a fibonacci number type field ?

In this way, the values required are : 1, 2, 3, 5, 8, 13, and so on.

It's very clear for the story point card, I think.

After, it's cool to let the user choose freely the value of his input.

I don't use FocalBoard daily yet, but I am comparing it with Trello or Jira ! ;)

[2021-03-29 00:33] chenilim commented on #202
Hmmm... FWIW, I just deleted and re-installed Focalboard from the Mac App Store on Big Sur (11.2.3) on a Macbook 2017.

The thread above also mentioned potential issues with using a VPN with the App Store. Other than that, I'd suggest trying again in a couple days (I've seen App Store download issues before), or we'll investigate further. Thanks.

[2021-03-29 08:24] valahna opened #209 "Feature Idea: Option for custom background(s)"
**Summary:**
I would like to be able to set a background image, or pull a random one from Unsplash or similar.

How important this is to me and why:

**Importance:** Medium

**Use cases:**

    Visual differentiation between teams
    To make a board more visually appealing
    To make each board visually different

**Additional context / similar features:**
As a user, I would like the option to s

[2021-03-29 16:08] chenilim commented on #204
Thanks @zak39! The Fibonacci sequence is an interesting idea, i.e. to limit numeric / text input. This should be doable today as a  "Select" property with fixed values, if the set is reasonably small.

Really appreciate your feedback! We have a journey ahead, but we would like Focalboard to be a good daily replacement for Trello and Jira. Please let us know what the most important features you nee

[2021-03-29 23:58] chenilim commented on #209
Thanks for the suggestion @valahna! We expect to add more options to customize the look of boards and cards, including the background image, colors, and fonts. If anyone has thoughts on what the most important custom options are to you, please share. Also if there are other image libraries you like to see in addition to Unsplash.

[2021-03-30 06:12] sakr101 opened #214 "Bug: "Could not connect: Connection refused" error message in Firefox 87.0 on Manjaro 5.9.16 (Gnome)"
**Summary:**
linux version of the app doesn't work even building it from source, the result is similar.
**Steps to reproduce the behavior:**
1. go to terminal
2. cd app directory
3. run the binary
4. the app UI doesn't load

**Expected behavior:**
the app should run or even load the UI

**Screenshots:**
![Screenshot from 2021-03-30 07-25-08](https://user-images.githubusercontent.com/62211979/11293

[2021-03-30 07:11] frague59 opened #215 "Feature Idea: Add French to server application"
**Summary:**
Just add "French" to "Settings" > "Set language"

**How important this is to me and why:**
I'ld like to deploy a local server for my organization, and most on peoples does not speak english (or spannish)

Importance: High

**Additional context / similar features:**
We are searching for an alternative to Trello, which we cannot use as local public service in France.

[2021-03-30 10:26] mahesh-maan commented on #214
The same thing happened to me when I tried to run the desktop app, but when I used `sudo` privileges, the app started normally.

[2021-03-30 13:24] #142 closed

[2021-03-30 15:04] Surendrajat commented on #214
Happened to me too because I was running it from home dir `$ ./focalboard-app/focalboard-app`.
But it worked fine when I started it from inside the extracted `focalboard-app` dir directly.

I guess this is an issue when the `focalboard-server` can't start if you run `focalboard-app` from outside that dir.

[2021-03-30 16:42] gmarchault commented on #214
same issue for me. the desktop app is working fine, but when i'm using the server, the web client is working but i can't create a user. the server errors are the same as sakr101

[2021-03-30 21:30] #184 closed

[2021-03-30 21:31] jespino commented on #215
French is already added, it is going to be included in the next release :)

[2021-03-30 21:31] #215 closed

[2021-03-30 22:54] fjorgemota commented on #91
@jwilander I'm not sure what exactly happened, but there's no tags available to download for the docker image you specified at Docker hub: https://hub.docker.com/r/mattermost/focalboard/tags?page=1&ordering=last_updated

Only the tag `latest` is available.

Could you take a look at that, if possible, please?

Thanks

[2021-03-30 23:07] jwilander commented on #91
@fjorgemota that's because the Dockerfile didn't exist when the tags were created so those older versions of the repo don't have it and dockerhub won't build it

@chenilim / @jespino thoughts about tagging again so there's a tagged docker image?

[2021-03-30 23:21] chenilim commented on #214
Thanks for filing this issue @sakr101! The error messages indicate the login failed. A few things:
* [Registering the first user doesn't require a token](https://www.focalboard.com/guide/server-setup/#registering-the-first-user), but subsequent registrations require an invite link.
* If this is a new test server, it's easiest to move or delete `focalboard.db` to start over, and register a new firs

[2021-03-30 23:33] fjorgemota commented on #91
Ahhh, fair enough.

Thanks for the fast answer! And sorry for bothering with such a simple question. =)

[2021-03-30 23:59] chenilim commented on #214
@sakr101, just realized you were running the app binary using the [app config](https://github.com/mattermost/focalboard/blob/main/app-config.json), which uses single-user desktop mode meant only for the app. It's the same binary, but to run in multi-user mode with a browser, you need to use the server [config.json](https://github.com/mattermost/focalboard/blob/main/server-config.json) file.

I rec

[2021-03-31 00:15] chenilim opened #219 "Update template initialization to use JSONL format"
**Summary:**
The code in [initialize.go](https://github.com/mattermost/focalboard/blob/main/server/services/store/sqlstore/initialize.go) loads the default templates in `templates.json` from to Go bindata into the database. That data is currently stored in the (old) JSON format. The export archive format is now JSONL, and the import code plus `template.json` needs to be updated to match.

This wil

[2021-03-31 00:17] chenilim commented on #219
Let me know if you are interested in taking a crack at implementing a JSONL parser in Go. We'll then need to re-export the default templates as [JSONL](https://jsonlines.org/), and re-generate the bindata.

[2021-03-31 18:56] chenilim opened #220 "Bug: Group labels in headers don't match those in the card"
**Summary:**
Looks like a recent change broke the CSS

**Steps to reproduce the behavior:**
1. View a board with group labels
2. The header style (sentence case) doesn't match the card (all caps, bold)

**Expected behavior:**
Styles should match (all caps bold)

**Screenshots:**
<img width="474" alt="group labels" src="https://user-images.githubusercontent.com/46905241/113196105-f6f3ad80-9217-11eb

[2021-03-31 20:59] BharatKalluri commented on #33
I'll be picking this up since no one is currently assigned to this issue 😃

I've made a PR fixing a bunch of hardcoded strings over at https://github.com/mattermost/focalboard/pull/221

[2021-03-31 22:08] #220 closed

[2021-03-31 22:38] BharatKalluri commented on #128
- [x] Include card property values (raised a PR over at https://github.com/mattermost/focalboard/pull/222)
- [ ] Include card text content / description
- [ ] Include card comments

For the latter two, it looks like I need to make an API call to retrieve description blocks and comment blocks (to `/api/v1/workspaces/<workspace ID>/blocks/<block ID>/subtree?l=2`). I think making API calls for all th

[2021-03-31 23:00] chenilim commented on #128
Thanks for the PR @BharatKalluri! Yes, I agree we need a larger refactor to do the remaining 2 items efficiently. I think a general purpose `searchBlocks` API could be used here: Returning blocks with a given rootID that contain the text in their titles. We can wait on this, unless you or someone would like to take a crack at that.

Longer term, I envision something like a lightweight GraphQL inte

[2021-03-31 23:19] chenilim opened #223 "Bug: Cannot drag card to hidden group"
**Summary:**
Broken in recent change: Dragging cards to hidden column group labels

**Steps to reproduce the behavior:**
1. Open a board with hidden columns (groups)
2. Try to drag a card to the label of the hidden column
3. No dropzone, and cannot drop

**Expected behavior:**
Should be able to drop the card onto the label of a hidden group.

**Platform:**
 - Chrome 89 on macOS, latest build

**Ad

[2021-03-31 23:21] chenilim commented on #223
I think this may be related to recent refactoring @jespino. No rush (it's the long weekend). Probably should fix this for the next release.

[2021-04-01 02:58] it33 opened #224 "Feature Idea: Release cadence"
**Summary:**
Set a date for regular releases, e.g. 16th of the month (to match Mattermost) and 1st of the month (because we can ship faster as an early project)

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Deliver features to community faster, so community gets more value, and we can get more feedback, iterate, and demonstrate project velocity
2. Our [changelog](htt

[2021-04-01 06:18] #223 closed

[2021-04-01 12:41] polszews commented on #123
same on Linux MInt

[2021-04-01 13:30] BharatKalluri commented on #37
Hi,
Made a PR to this one over at https://github.com/mattermost/focalboard/pull/228 since no one is assigned and it looked like a small change 😄

[2021-04-01 15:15] #109 closed

[2021-04-04 02:06] grsky360 opened #229 "Feature Idea: default using specfic template to create new item when click new button"
**Summary:**
I think a default setting in template edit page will be useful
User can create new note and fill some default properties without manually fill it every time, and don't need click select button every time

For development:
using default setting, `addCard` and `addCardTemplate` can be merged and while no default template, will using the internal empty one as a template card. Then I thin

[2021-04-04 06:11] necoic opened #230 "You are going to add multilingual support for this application."
You are going to add multilingual support for this application.

[2021-04-04 10:36] romu70 opened #231 "Feature Idea: Improve the docker file to specify the DB connection at container creation"
**Summary:**
The idea is to modify/improve the Docker file to be able to specify the DB settings without having to tweak the container at runtime.

**How important this is to me and why:**
It's important for people like me who run a server with a centralized DB to host all of their data. Being able to do this simplifies the server setup and keeps the server resources as lean as possible.

Importan

[2021-04-05 13:08] romu70 opened #233 "Bug: Crash with the Docker container"
**Summary:**
My Focalboard container stops as soon as I reach the first screen.

I've been able to create my account and I can check my user account data have been created as expected in my Postgres 13 container.

The last message in the log this one:

**Steps to reproduce the behavior:**
1. Open your focalboard session

**Expected behavior:**
It should work.

**Screenshots:**
This is all I get, a

[2021-04-05 19:56] valahna commented on #209
Two additional image libraries that readily come to mind are:
1. [pexels](https://www.pexels.com/)
2. [pixabay](https://pixabay.com/)

[2021-04-06 04:58] Hokwang opened #234 "Feature Idea: provide helm chart for kubernetes deploy"
Hi,

**Summary:**
Users who can use docker container and want to use this production level may want helm chart for kubernetes cluster.

**How important this is to me and why:**
IMO, very important things are
- config as code and user can handle by configmap
- HA setting using multiple replicas.
- easy install & easy twick using helm chart

I will try to use focalboard after this.

[2021-04-06 15:24] crra commented on #124
You can use the already existing build target `make server` that builds the server for the current architecture (if you are on the raspberry pi). You can also just build the server and replace the binary from the official release. I've created [a small docker setup](https://github.com/crra/focalboard-native-docker) that does exactly that.

AFAIK cross-compilation with golang can be achieved [with

[2021-04-06 21:13] Giancrafter opened #236 "Bug: Drag and drop in Safari Mobile doesn‘t work"
**Summary:**
When you want to move something in your board on iOS in Safari, it simply won't let you

**Steps to reproduce the behavior:**
1. Try to drag an element

**Expected behavior:**
Element is draggable like on desktop

**Screenshots:**

**Platform:**
 - iOS 14.5, Safari

**Additional context:**

[2021-04-07 05:45] forbesmyester commented on #124
It's relatively easy to compile and set up. My Dockerfile is below, though I only say that it works for me (behind a VPN etc).

I didn't find any docs on environmental variables so I had to go through the faff of writing a configuration file in the CMD.

[code]

[2021-04-07 15:37] jgilliam17 opened #237 "Feature Idea: New template option - Mind Map Board"
**Summary:**
Ability to create simple mind maps

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Visually organize project/task
2. Brainstorming (draw things out, move/place in correct order etc.)
3. Diagramming a process or system

**Additional context / similar features:**
Any examples of good implementations of this capability.
e.g MindNode

[2021-04-08 15:27] coreyhulen opened #239 "Bug: Type label overflows out of column"
**Summary:**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior:**
1. create a type `ONE-ON-ONE`
2. View in table mode

**Expected behavior:**
Should not overflow the table cell

**Screenshots:**
![Screen Shot 2021-04-08 at 9 25 48 AM](https://user-images.githubusercontent.com/1431746/114053931-a0582600-984c-11eb-80de-188b7e4ffb13.png)

**Platform:**
 - Browser

[2021-04-08 15:31] coreyhulen opened #240 "Bug: Long board name causes overflow issue"
**Summary:**
When you have a long board name and you mouse over the LHS it causes the LHS border to shift.

**Steps to reproduce the behavior:**
1. Create a board with the name `FY22 H1 Goal Definitions`
2. From LHS menu float over with the mouse

**Expected behavior:**
LHS border shouldn't change size

**Screenshots:**
https://user-images.githubusercontent.com/1431746/114054478-22e0e580-984d-11eb

[2021-04-08 18:07] jespino commented on #239
I fixed it in my new drag and drop rewrite branch. Probably I'll merge it tomorrow morning because it looks working pretty well, and simplifies a lot adding new sortable things.

[2021-04-08 18:10] jespino commented on #240
It should be fixed now on main branch

[2021-04-08 18:10] #240 closed

[2021-04-08 18:17] jespino commented on #230
We already have multilingual support if you want to translate it to your language you can check our weblate at https://translate.mattermost.com

[2021-04-08 18:17] #230 closed

[2021-04-08 18:19] jespino commented on #239
Merged into main branch

[2021-04-08 18:19] #239 closed

[2021-04-08 18:20] jespino commented on #236
This should be fixed in the main branch thanks to the react-dnd-touch-backend :tada:

[2021-04-08 18:20] #236 closed

[2021-04-08 18:20] jespino commented on #153
This should be fixed in the main branch.

[2021-04-08 18:20] #153 closed

[2021-04-08 20:26] jespino commented on #37
Fixed by @BharatKalluri in the PR #228

[2021-04-08 20:26] #37 closed, assigned to nobody

[2021-04-09 17:39] vaskozl commented on #124
Adding arm64 docker images via `docker buildx` would be great.

Versioned docker images would be even greater.

[2021-04-10 06:41] olaxe commented on #124
Thanks @crra I will test it.
I cannot agree more @vaskozl Buildx and GitHub Workflow feature as well make my life so easier these days.

[2021-04-11 17:27] laundmo opened #243 "Bug: Unable to register when running behind traefik reverse proxy with any middleware."
**Summary:**
I'm running Focalboard in docker behind the Traefik2 Reverse Proxy that has some middlewares set up. When trying to register I'm presented with an "Invalid registration link, please contact your administrator" error. There are no log messages written.

The curious part is, that *any* Traefik2 middleware seems to cause this issue, but leaving them out works. I've tested with a Ratelimi

[2021-04-12 09:53] JulienGenoud opened #244 "Bug: Changing the port to something else"
I can't use focalboard with flipper because it's using the same port (8088)
making flipper not working.

https://fbflipper.com

[2021-04-12 14:12] haardikdharma10 commented on #202
@chenilim, I have to say that I have tried every solution available on the internet but still the issue is persisting. Do we have a .dmg file for the focalboard app instead?

[2021-04-12 15:38] chenilim commented on #202
Thanks for the update @haardikdharma10. Are you able to build and run from source (`make mac-app`)?

At this point, we would like to avoid shipping a separate .dmg to keep things simple, though that may change in the future.

Definitely concerning that the App Store download is failing for you. The app should be available globally. If anyone else is experiencing this, please report too.

[2021-04-12 16:12] chenilim commented on #244
Thanks for filing this @JulienGenoud! Are you seeing this in the Mac app? If so, this should be fixed in the next release (dup of #109). If you can build from source (`make mac-app`), please let me know if you still see the issue there. Thanks!

[2021-04-12 16:46] chenilim opened #246 "Bug: Clicking on table header doesn't show menu"
**Summary:**
Table header cell menu doesn't appear

**Steps to reproduce the behavior:**
1. Open a table
2. Click on a header cell
3. Menu doesn't appear

**Expected behavior:**
Menu appears

**Platform:**
 - Chrome 89 on macOS 10.15.7

[2021-04-12 16:57] #246 closed

[2021-04-12 21:19] zacheryph commented on #231
#227 should take care of this.

[2021-04-13 07:07] ZevSwe opened #247 "Feature Idea:"
**Summary:**
Global search. It would be nice to have a way to search through not only one board but all of them. Especially for people who wish to use this as a knowledge base and kanban in one tool.

**How important this is to me and why:**

Importance: Medium

Use cases:
1.  "Somehow somewhere I know I've written this down, if I could only remember where."
2. "I know I've had a similar issue bef

[2021-04-13 07:12] ZevSwe opened #248 "Bug: Export not working in Personal Desktop app on Linux"
**Summary:**
Export does not seem to work in the personal server.

**Steps to reproduce the behavior:**
1. Install focalboard according to the instructions
2. start with ./focalboard-app
3. Do any change
4. Click export under settings at bottom left.
5. Nothing happens, no logging, no nothing

**Expected behavior:**
The server version asks where you would like the file to be saved, I would expect

[2021-04-13 07:16] ZevSwe opened #249 "Feature Idea: Archive board"
**Summary:**
If I have a large project I might want a separate board for this. When it's done I don't need it in the left hand side any more but might still want to reference it in the future.

**How important this is to me and why:**

Importance: Medium
It would be a nice feature, as most people have just started using focalboard it is not important yet but will be once closed projects start pili

[2021-04-13 07:24] ZevSwe opened #250 "Feature Idea: Language highlight in md"
**Summary:**
It would be nice with a syntax highlighter for program languages and bash/cmd/powershell. I can do this in atom, the way they solve it is by putting the syntax you want at the beginning of the code block.
[code]

**How important this is to me and why:**

Importance: Low
It's a very nice feature but not a deal breaker.

Use cases:
1. Easier to read any code pasted in a card
2. If someo

[2021-04-13 07:30] ZevSwe opened #251 "Feature Idea: Save when closing card"
**Summary:**
When editing and then pressing outside of the card it closes without saving any progress. It would be nice if it did so that one did not loose anything if one miss clicked. One way could be some auto save feature maybe? Would also save a user who closed the browser for whatever reason.

**How important this is to me and why:**

Importance: Medium
I guess I'm not the only one who has d

[2021-04-13 07:36] ZevSwe opened #252 "Feature Idea: Subtasks"
**Summary:**
I know markdown supports checklists but I would want to be able to sort tasks in a better way. Say we have a project that consists of stages planning, building, testing, reporting, lessons learned and that planning is made up of brainstorming, selecting ideas, scheduling and reporting is built of writing draft, filling in missing information, fixing appearance, fixing references, proo

[2021-04-13 07:52] ZevSwe opened #253 "Feature Idea: Backup"
**Summary:**
As this is a tool that will work best once one has spent a lot of time and effort setting everything up just as one want a good backup would be nice to have. I know there's an export function but as always that is only as strong as the person behind it's routines. As there are a export function I however can't imagine the feature would be hard to build.

My proposal is that the server

[2021-04-13 08:08] ZevSwe opened #254 "Feature Idea: Mindmap support"
**Summary:**
Mind maps are incredible strong. Would be good in both knowledge bases and meeting notes. Today I use the nextcloud mind map app, but it would be nice having it integrated in focalboard.

**How important this is to me and why:**

Importance: Low
This is a powerful nice-to-have feature.

Use cases:
1. Brainstorm in meetings
2. Explain complex networks of information
3. Plan projects

[2021-04-13 08:17] codingthat opened #255 "Bug: "Cannot find module 'marked' or its corresponding type declarations." trying to use provided Trello import script"
**Summary:**

Cloning main then following the directions at https://github.com/mattermost/focalboard/tree/main/import/trello results in four TypeScript errors:

[code]

**Steps to reproduce the behavior:**
1. `git clone git@github.com:mattermost/focalboard.git`
2. `cd import/trello`
3. `npm i`
4. `cp ~/trello.json ./` (my exported file)
5. `npx ts-node importTrello.ts -i trello.json -o archive.foc

[2021-04-13 08:46] codingthat commented on #252
A template task that can contain subtasks like this would be really powerful.  Arbitrary nesting (while verifying there are no loops) would be a very flexible way to accomplish this.

[2021-04-13 09:12] codingthat opened #257 "Feature Idea: Actual due dates"
**Summary:**
Due date field type, a la "created" and "updated" but meant to track the date (and possibly time) a task is due.  As with Trello, the colour of the card can change depending on the current amount of time until (or past) the given timestamp we are.

**How important this is to me and why:**

Importance: High

Use cases:
1. Completely general for both personal and professional use.  If s

[2021-04-13 09:15] codingthat commented on #248
I'm seeing this behaviour too on Linux Mint 19.3.  Import works fine, but export does not seem to have any effect.

[2021-04-13 09:21] codingthat opened #258 "Feature Idea: Recycle bin / archive individual cards"
**Summary:**
Keep track of deleted content.

**How important this is to me and why:**

Importance: Medium

Use cases:
1. It's easy to mis-click sometimes, and once a card is deleted, it would be good to be able to restore it.
2. Currently there's no backup (#253) so there's no way to restore from there
3. Currently exporting is broken on the personal edition (#248) so that's one less option for th

[2021-04-13 09:32] codingthat opened #259 "Feature Idea: Interactive rendered Markdown"
**Summary:**
Markdown in descriptions handles URLs and checklist items (`- [ ]`)...but those would be more useful if they could be interacted with in standard ways:

1. Clicking a URL doesn't seem to do anything.  Neither does right-clicking and choosing "open" or "open in new tab".  So the very common action of clicking a hyperlink currently needs this workaround: 1) right-click 2) click "copy UR

[2021-04-13 10:59] ZevSwe opened #260 "Feature Idea: Duplicate board with templates and cards"
**Summary:**
Say you would run a company that did the same thing over and over. Each customer delivery contains the same basic parts. Then it would be really strong if one could duplicate a template board that already has the basic cards in it and that has templates for the most common add-ons. Today when duplicating a board it does not include templates (strange) and not cards (this should probab

[2021-04-13 11:01] ZevSwe commented on #254
This could be merged with  #237. Sorry for dup.

[2021-04-13 11:05] ZevSwe opened #261 "Feature Idea: Export/import board"
**Summary:**
It would be nice if one could export just one board. Say I designed a killer board for tracking software projects that I would like to share as a template for the community and someone else wanted to import and test that. One would want to do that without effecting any other boards one has.

**How important this is to me and why:**

Importance: Low
This is a nice to have feature. It's

[2021-04-13 11:26] ZevSwe opened #262 "Feature Idea: copy past images"
**Summary:**
take a screenshot of something, paste it into a card.

**How important this is to me and why:**

Importance: Medium
Not having to save temp files and uploading them makes work flow much better.

Use cases:
1. Paste a print screen in a card for troubleshooting.
2. Paste print screen in a card for instructions.

**Additional context / similar features:**
Supported in atom via markdown,

[2021-04-13 11:28] ZevSwe opened #263 "Feature Idea: Copy text outside of edit mode"
**Summary:**
highlight and copy from text field without opening edit mode. Say you save some commands you need from now and then but never memorized. It would be very sweet if one could just paste them in a short how to and copy them when needed without having to go into edit mode.

**How important this is to me and why:**

Importance: High/Medium/Low

Use cases:
1. Copy paste from a card without

[2021-04-13 14:10] it33 opened #264 "Feature Idea: Vertically align comment icon & button"
**Summary:**
Propose adjusting vertical alignment of comment icon and "Send" button in cards

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Viewing "Add Comment"
2. Clicking "Send" after typing comment and having the button in a location that is expected

**Additional context / similar features:**

Center grey icon to align with "Add Comment"
![image](https://user-ima

[2021-04-13 14:10] it33 commented on #264
@asaadmahmood wondering your thoughts here?

[2021-04-13 14:14] zacheryph opened #265 "Feature Idea: Updated Docker Images?"
**Summary:**
The docker image continues to get built (at least daily) but its not actually being updated. Its still a commit from March 11th.

**How important this is to me and why:**
I and I think most people prefer to use _official_ docker images over one offs, or making their own if its not required. If an official image exists it should stay up to date.

Use cases:
1. Docker
2. Docker

**Addit

[2021-04-13 14:29] asaadmahmood commented on #264
@it33 Something like this would make sense.

![image](https://user-images.githubusercontent.com/11034289/114569525-7fe5fc80-9c8e-11eb-9c53-75b31adbeb67.png)

[2021-04-13 15:45] ZevSwe opened #266 "Bug: Search text does not search in card and does not reset"
**Summary:**
It seems the search function does not search for anything inside the cards, only on their names. Not sure if this is a feature or a bug.

**Steps to reproduce the behavior:**
1. Create a card with text inside, also add a property with free text and add some tags
2. click on search text in top left and search for anything in the text or any of the free text tags.
3. No card will show
4

[2021-04-13 18:28] chenilim commented on #260
Hi @ZevSwe, thanks for filing all these ideas! They are very helpful.

This particular one sounds like a bug: Duplicating a board should duplicate all cards and card-templates in that board. Could you add which version you are seeing this issue on? i.e. Personal Desktop from the Mac / Windows app store? Or built-from-source?

[2021-04-13 18:31] chenilim commented on #262
Thanks @ZevSwe! Updated title to better reflect idea. Have to research more, but JS should have support for pasting images.

[2021-04-13 18:38] chenilim commented on #259
Thanks for submitting this @codingthat! Number 1 should work currently after saving:
* Add a link to the card description / contents, e.g. `This is a [link](http://www.focalboard.com).`
* Press Esc to save
* Should be able to click on the link to open it

Does that work for you? If not, which version are you seeing this on (e.g. Mac app store app, or current build)?

We recently added a [checkbox

[2021-04-13 18:41] chenilim commented on #257
Thanks for submitting this @codingthat! Yes, definitely plan to add a **date** property type. Would love to hear more feedback from others on what details might be important to you, e.g.:
* Date + time?
* Date range?
* Timezone handling?
* Other things?

[2021-04-13 18:43] chenilim commented on #248
Thanks @ZevSwe and @codingthat! Updated title to reflect this is on the Linux app. Have to investigate more, but there was a similar issue in the Mac app, where we had to add special handling for file downloads. Export CSV would likely have the same problem.

[2021-04-13 19:13] ZevSwe commented on #260
Hmm, you are correct. I re-tested and it worked fine. I suspect error from my side. But then it begs the question, what if I want to duplicate a board but not all cards? Any good way of selecting all and deleting on the new board?

I guess we can close this for now and I can open a new ticket for batch editing :)

[2021-04-13 19:17] ZevSwe commented on #248
If you point me to where I can export CSV I could test that for you. I found that the user guide button is also non-responsive on the desktop app.

[2021-04-13 20:28] chenilim opened #268 "Feature Idea: Add Personal Server upgrade docs"
Add docs to upgrade Personal Server. Here's a draft:
[code]

[2021-04-13 20:31] chenilim commented on #248
Thanks @ZevSwe! Under the board menu, select `Export to CSV`
<img width="236" alt="Export CSV" src="https://user-images.githubusercontent.com/46905241/114617133-91161580-9c5c-11eb-84c1-538314be74c0.png">

[2021-04-13 21:09] #268 closed

[2021-04-13 21:33] #255 closed

[2021-04-13 22:00] chenilim opened #269 "Bug: Card changes are not persisted if title is edited"
**Summary:**
Card edits are being overwritten when the card dialog is closed, after editing the title.

**Steps to reproduce the behavior:**
1. Create a new card (or open an existing one)
2. Edit the title
3. Change the icon
4. Click X to close the card
5. The icon reverts to the previous one

**Expected behavior:**
The icon change is saved

**Platform:**
 - v0.6.5 RC1
 - Chrome 89 on macOS 10.15.

[2021-04-13 22:03] chenilim commented on #269
Removing the second `useEffect` block appears to fix this, but @jespino could you take a look?

[2021-04-14 01:50] hantatsang commented on #44
What are the steps to reproduce?

[2021-04-14 06:53] ZevSwe commented on #248
Thanks. I can confirm that is the case. Works on server version but not in app. Version 0.6.0 om both.

[2021-04-14 07:44] #269 closed

[2021-04-14 11:40] haardikdharma10 commented on #202
The app is now installed successfully. Just to confirm, It is version 0.6.0 right? Many features like the `Share Board` option is not available on the desktop app yet?

[2021-04-14 12:01] fosple commented on #104
I would also love to see the opportunity to have a timeline view (by weeks). As software development in Scrum is mostly planned on a weekly (or bi-weekly) basis this would help me a lot to create roadmaps / plans.

Main use case: Create roadmaps, Plan Sprints a quarter in advance

Examples:

![image](https://user-images.githubusercontent.com/4522947/114706746-ad33b880-9d29-11eb-9753-70ad5ad6d400.p

[2021-04-14 17:03] Oxalin commented on #257
Hi there. Just began working with FocalBoard for work.

About **date** type: this is one of the first type I looked for when adding a task. Two main reasons behind this need:
- firstly, tasks may need both a start date and a due date. As you know, a task may already be planned (which the created date seems fulfill), but it may only start and begin in the future. So for now, I'm using a text proper

[2021-04-14 17:59] chenilim commented on #202
Awesome @haardikdharma10! Did you finally get it installed via the App Store? If so, yes, that's 0.6.0.

`Share board` as currently implemented can't be a feature in the desktop app because it relies on a hosted server to share the URLs from. Overall, the goal of Personal Desktop is to be the best tool for an individual user, and Personal Server the best tool for small teams.

[2021-04-14 18:03] chenilim commented on #260
Awesome! Thanks for confirming @ZevSwe. I'll close this for now, but please reactivate or file a new issue if you see bugs.

As for duplicating just the board: Have to think more about it, but I can see a scenario of duplicating just the **board + card templates**. One way perhaps is to offer a dialog to let users choose what things to duplicate.

For now, duplicating then deleting all cards would

[2021-04-14 18:03] #260 closed

[2021-04-14 18:22] Oxalin commented on #257
I would add two other considerations about **date**, **time** or **datetime** type:
- the **date** should follow the regional settings by default (locale), but could be personalized in the app if needed. I live in Québec, Canada. Here, we have a proposed official way Canada wide of writing date, which is "YYYY-MM-DD". However, because of the USA influence and the long date format in both official

[2021-04-14 18:58] haardikdharma10 commented on #202
Yes, It got installed from the App Store itself :P

Got it! I have added the documentation for share board. Please review the [PR](https://github.com/mattermost/focalboard/pull/270) at your convenience.

[2021-04-14 21:42] Hexdump74 opened #271 "Bug: no_workspace error"
**Summary:**
After fresh new installation on ubuntu 18.04, the first page give me an error : `/error?id=no_workspace`
The logs contain an `API ERROR 401, err: no session token`.

**Steps to reproduce the behavior:**
1. install as described in https://www.focalboard.com/download/personal-edition/ubuntu/ but WITHOUT TLS
2. connect to server using ip adress

**Expected behavior:**
A login screen to c

[2021-04-14 21:50] Hexdump74 commented on #271
Sorry, it was an artifact of my browser. I missed a step during installation, got this error, corrected the installation, but the error stayed in my cache.
Opening a new private window bring me to the expected login page.

[2021-04-14 23:55] chenilim commented on #202
Thanks @haardikdharma10! Closing this issue. Thanks also for the PR. Will check it out next.

[2021-04-14 23:55] #202 closed

[2021-04-15 06:51] Hexdump74 commented on #271
Finally, no, the error is still showing. It is pretty random, I'm still searching for the reasons.

[2021-04-15 09:08] codingthat commented on #259
Clicking the link does not seem to do anything (nor right-clicking it and choosing the first two options, as mentioned above.)  That's already after saving a Markdown link as you describe (otherwise it would not recognize it as a URL in the context menu and give choices like "open in new tab," right?)

Great to hear about the checkbox content type though!  That would put it on the same level as Tr

[2021-04-15 09:26] codingthat commented on #257
@Oxalin you covered all my points exactly.  :)

[2021-04-15 15:13] chenilim commented on #259
Thanks @codingthat. Hmmm... what version / platform / browser is this on? I just smoke tested this on the v0.6.0 Mac app, Windows app, and Chrome 89.

BTW, the same thing should work in the board description too.

[2021-04-15 15:31] it33 commented on #254
Thanks @ZevSwe, no worries, closing as duplicate.

[2021-04-15 15:31] #254 closed

[2021-04-15 15:33] it33 commented on #57
Closing now that we have an RDP in place,

[2021-04-15 15:33] #57 closed

[2021-04-15 16:26] chenilim commented on #271
Thanks for the report @Hexdump74!

This error shows up when the [getWorkspace call in Boardpage.tsx](https://github.com/mattermost/focalboard/blob/main/webapp/src/pages/boardPage.tsx#L210) fails.
* Based on the session error, my guess is the browser had an old sessionId in [localStorage](https://developer.chrome.com/docs/devtools/storage/localstorage/), so the request fails auth
* Workaround is to

[2021-04-15 18:12] chenilim opened #274 "Add a "Re-login" button to the error page"
**Summary:**
Users can be redirected to the error page if there is a (temporary) server error, or if their session has expired. It should allow them to re-login easily.

**How important this is to me and why:**

Importance: High

**Additional context / similar features:**
There may be some cases / bugs, e.g. #271 where the user ends up on the error page and gets stuck.

[2021-04-15 18:12] chenilim commented on #271
Testing more, I noticed that behavior on FireFox is different than Chrome:
* On FireFox, if there is no sessionID (i.e. new installation), it always redirects to the error page
* On Chrome, if there is no sessionID, it redirects (correctly) to the login page

Might be something off with the timing on FireFox. As a short-term fix, I filed #274 to add a re-login button to the error page, and should

[2021-04-15 18:16] #274 closed

[2021-04-15 18:21] chenilim commented on #266
Thanks @ZevSwe! The first part (comprehensive search) is a dup of #128.

However, number 4 sounds like a separate bug. Could you list the exact steps you took to "remove your search"? i.e. the following works for me in FireFox 84.0.2 (on macOS 10.15.7):
1. Click on search box
2. Type in text, e.g. "data", press enter
3. Cards are filtered to title
4. Click on search box again, press Esc
5. All car

[2021-04-15 18:27] ZevSwe commented on #266
I've since I've reported this upgraded to the new version and now it seems to work as you describe it, I'll close this thanks!

[2021-04-15 18:27] #266 closed

[2021-04-15 18:45] #186 closed

[2021-04-15 19:15] asaadmahmood commented on #264
Should be fixed.

[2021-04-15 19:15] #264 closed

[2021-04-15 20:15] chenilim opened #276 "Bug: Login page shows title twice"
**Steps to reproduce the behavior:**
1. Go to login page
2. Title is "Log inLog in"

**Expected behavior:**
Title should be "Log in"

**Screenshots:**
<img width="167" alt="Loginlogin" src="https://user-images.githubusercontent.com/46905241/114932647-999d5600-9dec-11eb-8183-9731040dda6a.png">

**Platform:**
 - Chrome 89 on macOS 10.15.7

[2021-04-15 20:16] #276 closed

[2021-04-15 20:35] chenilim commented on #104
Thanks so much for the screenshots @fosple! Yes, a timeline view would fit directly as an additional view in Focalboard. I see a few extra pieces too:
* A date-range property type
* (Or) a start and end single-date property type
* The timeline view would then group and show tasks (cards) by the specified date-range property or start+end date properties

Enhancements:
* "Zoom in and out" of the tim

[2021-04-15 20:49] chenilim opened #277 "Bug: Content drag grip should not appear on shared read-only boards"
Importance: P3

**Steps to reproduce the behavior:**
1. Open or create a card
2. Add 2 or more content blocks
2. Share the board
3. Open an incognito window and open the readonly shared board link
4. Open the card
5. Hovering over the content shows the rearrange grip

**Expected behavior:**
Users should not see the drag grip if a board is read-only.

**Platform:**
 - Chrome 89 on macOS 10.15.7

**

[2021-04-15 20:53] chenilim opened #278 "Bug: Should not be able to drag items in shared read-only gallery view"
Importance: P3

**Steps to reproduce the behavior:**
1. Open or create a gallery view with multiple cards
2. Share the board
3. Open an incognito window and open the readonly shared board link
4. Try to drag a card in the gallery view
5. Able to drag, but dropping has no effect

**Expected behavior:**
Should not be able to start the drag on a readonly view

**Platform:**
 - Chrome 89 on macOS 10.1

[2021-04-15 22:21] Hexdump74 commented on #271
Thanks. So finally it was indeed related to my browser's cache.
So I keep the issue open as a reminder ?

[2021-04-16 01:52] MrBear2018 opened #279 "Bug: lost "Simplified Chinese"/简体中文 option"
**Summary:**
when I set the language as Chinese , the language is traditional Chinese,but lost the option of simplified chinese.

**Steps to reproduce the behavior:**
1. Go to  Settings
2. Click on Set language
3. Scroll down to "Chinese"
4. the language of software changed into traditional chinese

**Expected behavior:**
there should be two chinese language options, "Traditional Chinese"/"繁体中文",

[2021-04-16 06:38] fosple commented on #104
@chenilim Thanks for the fast response.

What would be important from my perspective is to have a timeline (Gantt) view which shows:
- Bar: Activity which has a Start + End date (or date-range)
- Milestone: Single date
- Today: Single date (dotted line)

A tool many consultants use to create Gantt charts in presentations: https://www.think-cell.com/en/support/manual/gantt.html
(not the same use ca

[2021-04-16 11:07] JulienGenoud commented on #244
@chenilim works now with the new port ;)

[2021-04-16 11:07] #244 closed

[2021-04-16 12:27] codingthat commented on #259
v0.6.1 personal edition (not sure what browser it uses internally)... I must've just missed 0.6.5RC1.  Linux Mint 19.3 64-bit.  Thanks!

[2021-04-16 17:29] chenilim commented on #279
Thanks @MrBear2018! @jespino, do you know if this was a regression, or is this language just not added yet? Thanks.

[2021-04-16 17:40] emilyacook opened #282 "Feature Idea: Mattermost username tagging"
## Summary
It would be nice to be able to @ mention someone in a task and have it notify them within Mattermost.

A future feature could include something like the `Recent Mentions` tab in Mattermost to see all of your mentions across FocalBoard.

## How important this is to me and why
Very important for cross-collaboration
Nice-to-have for personal use

## Importance: High/Medium/Low
Medium

## U

[2021-04-16 17:41] chenilim commented on #271
Thanks @Hexdump74. On my machine (macOS 10.15.7), I see an issue with FireFox:
* On first launch with FireFox 87.0 (or with a private browser window), it redirects to the error page (instead of login
* With Chrome and Safari, new sessions (or private windows) correctly redirects to the login page

I believe this is a timing issue with FireFox, and updated the title to reflect it. More context:
* I

[2021-04-17 04:46] chenilim opened #284 "Bug: Links don't open on Linux Desktop App"
**Steps to reproduce the behavior:**
1. Open Linux Personal Desktop
2. Create a card
3. Add a link to markdown, e.g. `This is a [link](http://www.focalboard.com).`
4. Save (press Esc)
5. Click on the link
6. Nothing happens

**Expected behavior:**
The URL should open in the default browser.

**Platform:**
 - Personal Desktop 0.6.5 RC3 on Linux Mint 20.1 Cinnamon

**Additional context:**
Same probl

[2021-04-17 04:48] chenilim commented on #259
Thanks @codingthat! I installed Linux Mint (20.1 Cinnamon), and confirmed that this is indeed an issue with the Desktop App.
To avoid confusion with the checkbox feature idea, I've opened a new issue, #284 to track it. Please feel free to add additional details or comments there, or open additional feature ideas for markdown or other things.

[2021-04-17 04:48] #259 closed

[2021-04-17 04:52] chenilim commented on #284
Clicking on other links (e.g. the help link or "About Focalboard" from the menu) in the Desktop App also doesn't open them in the default browser. This is likely due to the same issue.

[2021-04-17 09:21] Hexdump74 commented on #271
I'm totally unable to reproduce the bug now...
I reinstalled the server (because I deleted the VM used for the first test), and now I am always correctly redirected to the login page.
If you have a server with which you reproduce the problem and it is accessible from Internet, I could connect on it with my Linux.

[2021-04-17 10:36] ZevSwe commented on #271
I got this when I upgraded from one version to another. Stopping the server, moving focalboard.db out of the folder and then restarting solved the problem. Not sure why.

[2021-04-17 13:59] harshilsharma63 commented on #53
@chenilim here's the PR for Todoist - https://github.com/mattermost/focalboard/pull/285

[2021-04-18 09:37] ZevSwe opened #287 "Feature Idea: Password reset"
**Summary:**
If the admin user forgets it's password it seems the only way to get back in is changing the password in the database. This might lead to all kinds of issues.

**How important this is to me and why:**

Importance: Medium

If i get locked out manually fixing things in the database sound like a good way of throwing all my work away.

Use cases:
1. If a user, admin or otherwise forgets i

[2021-04-18 09:46] ZevSwe opened #288 "Feature Idea: Checkbox content type multiple checkboxes"
**Summary:**
Today when I add a checkbox it seems like I can just add one item. To add multiple check boxes one thus needs to add multiple content boxes. This might be a bug on my system, or it's just not fully implemented.

It would be nice with a multilevel multiple checkbox style content box.

Example

Packing list:

- [ ] Clothes
   - [ ] Jacket
   - [ ] T shirts
   - [ ] underwear
   - [ ] Ho

[2021-04-18 17:35] chenilim commented on #287
Thanks @ZevSwe! The current way to reset passwords is via an Admin interface on the local server console. Here is [the documentation with an example script](https://www.focalboard.com/guide/admin/#resetting-passwords).

We definitely want to improve this in the future, e.g. allowing users to reset lost passwords themselves, but this requires email integration first.

[2021-04-18 17:54] ZevSwe opened #292 "Bug: Emoji icon sets to default when closing card first time server version"
**Summary:**
When I create a card a random emoji get assigned. If I change that and then close the card, the emoji gets changed back to the original emoji, I've tried changing it twice just to see if it gets reverted one step but no, gets reverted to the random original icon.

**Steps to reproduce the behavior:**
1. Create a new card
2. Change icon
3. Change name
4. Close card
5. See icon getting

[2021-04-18 18:32] chenilim commented on #292
Thanks @ZevSwe! Was this on Focalboard v0.6.5-RC1? This sounds like bug #269, which was fixed in RC2. Would you mind checking if this is still an issue in the latest release, [v0.6.5-RC3](https://github.com/mattermost/focalboard/releases/tag/v0.6.5-rc3)? Thanks!

[2021-04-18 20:18] Johennes commented on #278
I took a stab at this and submitted a fix in #293.

[2021-04-18 20:19] Johennes commented on #277
I'd like to help fix this and have submitted #294.

[2021-04-19 02:30] rajudev commented on #233
I am enquiring the similar bug.
After deploying focalboard using docker-compose, create account, login.
The moment I click on `Invite Users` the container exits.

Here are container logs

![2021-04-19_07-59](https://user-images.githubusercontent.com/2010120/115173590-3f9ada00-a0e5-11eb-88cd-901fe784134e.png)

[2021-04-19 05:37] chenilim commented on #233
Thanks @romu70 and @rajudev! Which Dockerfile did you use? I just ran the following against our [Dockerhub image](https://hub.docker.com/r/mattermost/focalboard) and it should work: `docker run -it -p 80:8000 mattermost/focalboard`, then open http://localhost. LMK if it doesn't for you.

The error message indicates that the upgrade header was not passed to the server correctly (triggering issue #1

[2021-04-19 07:43] romu70 commented on #233
Here is what I did.

First, I tweaked the docker/config.json file to set my Postgres connection.

[code]

Then, I tweaked a bit the docker-compose.yml:

[code]
Personaly, I absolutely need Focalboard to use my Postgres instance.

[2021-04-19 08:21] rajudev commented on #233
The config.json was already capable of using the configured postgres. Without any tweaking.
If you change the password or db name, then you have to do it at config.json as well as the compose file.

I am not sure of what you changed. I see that you explicitly mounted the config file, I am not sure, if that would have stopped the crash.

[2021-04-19 08:32] romu70 commented on #233
The only tweak I did in the config.json is to specify my connection string indeed, nothing more.

And I added the volume in the docker-compose.yml because it was not crystal clear to me how things are working together. So you say I can safely remove this line, right?

Ideally, I just want a dockerfile which supports to pass the DB connection string at container runtime.

[2021-04-19 09:00] ZevSwe commented on #292
Hey, tested and confirmed. Works fine with RC3. May I suggest updating the update and install server instructions? :)

[2021-04-19 09:35] #278 closed

[2021-04-19 09:36] #277 closed

[2021-04-19 11:18] vonHartz commented on #257
I mostly concur with @Oxalin as well. Though I would also like to have time, not only a date, to keep track of deadlines easily.

[2021-04-19 13:21] Johennes opened #296 "Bug: Cannot set emoji on board once it's been deleted"
**Summary:**

Boards created from the default templates have an emoji applied. Once the emoji is removed, there seems to be no way to bring it back though.

**Steps to reproduce the behavior:**

1. Create a new board from the "Meeting Notes" template
2. Click the 🗒 icon next to the board title
3. Click "Remove icon"
4. The icon disappears but if I now decide that I want to set an emoji again, ther

[2021-04-19 16:05] chenilim commented on #296
Hi @Johennes, thanks for filing this! When there is no emoji icon, you should be able to hover above the title to see an "Add icon" button. Clicking that should set a random icon that can be then changed.

<img width="336" alt="Add icon hover button" src="https://user-images.githubusercontent.com/46905241/115267506-1a5e9980-a0ee-11eb-8944-d60d1ee02984.png">

Please let me know if this doesn't work

[2021-04-19 16:27] Johennes commented on #296
Ohh, you're right. It shows when hovering the area above the title. I tried hovering the area left to the title, where the emoji was, but not above. Sorry for missing that. 🤦‍♂️

We can close this then as it's not a bug.

UX-wise maybe it'd be helpful if the buttons above the title would also show when hovering the title itself? Hm, or maybe that'd be annoying. 🤔

[2021-04-19 16:28] #296 closed

[2021-04-19 20:31] chenilim commented on #253
Thanks for the idea @ZevSwe! This should be fairly easy to do, even with a cron-job or other scripts today, especially with Personal Desktop or when using SQLite. You just need to back up:
* `focalboard.db`
* The `files` folder (for image uploads)

With Postgres, it might be slightly more complex, following its [backup and restore best practices](https://www.postgresql.org/docs/9.1/backup.html). W

[2021-04-20 00:00] chenilim commented on #292
Thanks @ZevSwe! The plan is to stabilize and release 0.6.5 this week, and update the install instructions from 0.6.1 to 0.6.5 at that time.

[2021-04-20 05:42] chenilim opened #297 "Bug: Keyboard shortcuts don't work consistently on the Mac App"
**Steps to reproduce the behavior:**
1. Open the Mac app
2. Drag a card to a different column
3. Press Cmd+Z
4. Nothing happens

**Expected behavior:**
Should undo

**Platform:**
 - macOS 10.15.7

**Additional context:**
The webview is not getting the keyboard input

[2021-04-20 06:44] Johennes opened #298 "Feature Idea: Editing comments on cards"
**Summary:**

It would be nice if comments were editable. Right now, once I sent a comment, I can only change it by deleting it and creating a new one.

![Screenshot 2021-04-20 at 08 38 58](https://user-images.githubusercontent.com/1137962/115349366-0c734c00-a1b4-11eb-9451-86fd6d1bf1f2.png)

**How important this is to me and why:**

Importance: Low

Low importance because deleting and recreating p

[2021-04-20 07:07] Johennes opened #299 "Feature Idea: Manual sorting board views"
**Summary:**

Currently the views in a board are sorted alphabetically in the left pane. It would be nice if the views could be sorted manually through drag and drop. Particularly when using emoji as the first character in view names, the alphabetical sorting tends to produce non-intuitive results.

![Screenshot 2021-04-20 at 08 59 12](https://user-images.githubusercontent.com/1137962/115351857-fe

[2021-04-20 07:22] Johennes opened #300 "Feature Idea: View cards in hidden column"
**Summary:**

I can drag cards from a visible into a hidden column by dropping them on the column name in the "Hidden columns" group. It would be nice if the inverse operation, moving a card from a hidden column into a visible one, was also supported.

The number of cards in a hidden column already highlights on hovering but clicking it has no effect. Maybe clicking the number could show the cards

[2021-04-20 10:43] Johennes opened #302 "Bug: Text cursor is hard to see in dark theme"
**Summary:**

In the dark theme, when editing a text block on a card, the cursor is using a light shade of gray that makes it rather hard to see against the white background.

In the light theme, the contrast is a lot stronger and the cursor is easy to spot.

This is usually not a problem when appending text. However, when moving through existing text it can sometimes get tricky to spot the cursor

[2021-04-20 11:08] Johennes opened #303 "Feature Idea: Save card edits when exiting by clicking outside of card"
**Summary:**

A couple of times already I was editing a card and then left the card by clicking outside of it but with my cursor still in the respective text field. This discards the input and the next time you open the card it will show whatever content it had before editing.

Here is an example where I entered "foo" into the description and then closed the card by clicking outside of it.

![Scre

[2021-04-20 19:41] icelander opened #305 "Feature Idea: Personal Status Page"
**Summary:**
As someone with a bunch of Focalboards, it would be great to have an overview of items assigned to me and ones I've created

**How important this is to me and why:**

Importance: High

Use cases:
1. Getting an idea of things created across your boards while you were AFK
2. Knowing what's the most important next task you need to tackle at a glance
3. I want to know the status of ticket

[2021-04-21 01:27] mtompkins opened #306 "Feature Idea: Font Size control"
**Summary:**
Font size adjustment in Electron desktop app version.

Much like the Mattermost Chat Electron App, this project is largely unusable on larger screens due to the fixed font size. It would be helpful to have some mechanism by which to manage the font size as we all continue to move to bigger displays over time. Ctrl + does not have an effect as in many Electron Apps (at least on Linux D

[2021-04-21 05:48] romu70 commented on #231
#That is... when a new image is created that contains it.

The most simple solution would be to get this out the image itself and being able to set the DB connection at "docker run...". Like a lot of other containerized software.

[2021-04-21 05:48] romu70 commented on #231
Thanks. But the most simple solution would be to get this out the image itself and being able to set the DB connection at "docker run...". Like a lot of other containerized software.

[2021-04-21 06:03] Johennes opened #307 "Bug: Clickable area for views in left panel is too small"
**Summary:**

Not a functional but rather an accessibility bug: When hovering views in the left panel, they highlight. The area that is clickable and where the cursor turns into a pointer is a lot smaller than the highlighted area though. Occasionally this results in having to double click to activate the view because the first click landed outside the clickable area.

**Steps to reproduce the beh

[2021-04-21 06:04] Johennes commented on #303
Closing as I realized this is already reported in #251. Sorry for missing that.

[2021-04-21 06:04] #303 closed

[2021-04-21 06:12] Johennes opened #308 "Feature Idea: Cycling cards / scheduled card transitions / recurring tasks"
**Summary:**

I have a number of recurring "chore" tasks that I have to take care of each day. Every morning, I move them from my "Done" group to my "To do" group. It would be nice if there was an option to configure a card to automatically move into a specific group at a given date, ideally with the option to make it recurring.

![Screenshot 2021-04-21 at 08 06 11](https://user-images.githubuserc

[2021-04-21 06:33] romu70 commented on #233
I pulled all the repository, removed all my changes except my DB connection string in the config.json file, and no change. Focalboard constantly crashes.

[2021-04-21 08:48] Johennes opened #309 "Bug: Description is duplicated when window loses focus while editing"
**Summary:**

When editing the description on a new card and then switching to another application before leaving the text field, the description is duplicated.

**Steps to reproduce the behavior:**

1. Create a new card
2. Enter text into the description field
3. Without leaving the description field, switch to another app
4. Return to Focalboard
5. Notice how the description field has been dupli

[2021-04-21 13:19] zacheryph commented on #231
correct... that PR lets you define the configuration (including the database url) using environment variables. Thus letting you use something along the lines of `docker run ... -e FOCALBOARD_DATABASE=...`. Is that not what you are asking for?

[2021-04-21 13:25] romu70 commented on #231
It is 100% what I'm waiting for. So let's wait for a new image. Thanks, I close this ticket.

[2021-04-21 13:25] #231 closed

[2021-04-21 17:33] #297 closed

[2021-04-21 21:53] chenilim commented on #88
Cleaning up old issues. Looks like this has been addressed, so closing.

[2021-04-21 21:53] #88 closed

[2021-04-21 21:56] chenilim commented on #179
Just going through old issues. Are you (or anyone else) still running into this @hantatsang? If not, I'll close it for now, but please reopen or file a new issue if anyone can't build on Windows.

[2021-04-21 22:47] chenilim opened #312 "Bug: Image upload fails in Windows App Store App"
**Steps to reproduce the behavior:**
1. Download and run Focalboard v0.6.5 from the [Windows Store](https://www.microsoft.com/store/apps/9NLN2T0SX9VF?cid=website)
2. Create a card
3. Try to add an image as content
4. The image doesn't appear

**Expected behavior:**
The image is saved and appears

**Platform:**
 - Windows 10 Pro 20H2

**Additional context:**
An empty block is inserted, indicating t

[2021-04-21 23:11] chenilim commented on #309
Oh wow, great bug @Johennes! Confirm this repros on the new v0.6.5 release too (Mac App Store app) as well as when using Safari against the hosted Personal Serve web app. However, it does not repro with Chrome. Appears to be a timing issue with Safari / WKWebView.

[2021-04-22 01:25] #312 closed

[2021-04-22 02:56] ceruleanjo opened #314 "Bug: Can't save language preference"
**Summary:**
The app forgets my language choice every time I restart it.

**Steps to reproduce the behavior:**
1. Go to Settings
2. Set Language
3. Choose anything
4. Close the app
5. Reopen the app, and see the error

**Expected behavior:**
The language preference should be persistent.

**Screenshots:**
If applicable, add screenshots to help explain your problem.

**Platform:**
 - Win standalone

[2021-04-22 07:31] Johennes commented on #314
I can confirm this on the native mac app v0.6.5 as well.

[2021-04-22 09:25] Johennes commented on #292
I'm still seeing this on version 0.6.5 of the macOS app but when editing the description, not the title.

*Steps to reproduce:*

1. Create a new card
2. Remove the random emoji icon
3. Enter text into the description field
4. Leave the description field by clicking anywhere else on the card
5. Notice how the previous emoji icon is restored

![Screenshot 2021-04-22 at 11 20 40](https://user-images.

[2021-04-22 09:32] Johennes opened #315 "Feature Idea: Check spelling"
**Summary:**

It would be nice if there was an option to enable spell checking. It'd be enough to check the spelling and show errors during editing only.

Here's how Jira does it when you edit the summary on a ticket, for instance:

![Screenshot 2021-04-22 at 11 29 27](https://user-images.githubusercontent.com/1137962/115691217-22bd0b80-a35e-11eb-8d90-2c2fca94d16a.png)

The native mac app does off

[2021-04-22 09:40] Johennes opened #316 "Bug: View title cut off when using emoji"
**Summary:**

When using the 🧑‍💻 emoji in the title of a view, the title is offset towards the bottom and cut off. This seems to happen with other emojis as well.

**Steps to reproduce the behavior:**

1. Go to a view in a board
2. Change its title to "🧑‍💻 Reports"
3. Notice how the title is clipped at the bottom
4. Remove the 🧑‍💻 emoji
5. Notice how the title is not clipped anymore

**Expected be

[2021-04-22 10:16] JohannesKlauss commented on #234
+1 for a k8s helm chart.

[2021-04-22 11:42] hantatsang commented on #179
@chenilim I ended up running focalboard in WSL instead. Make doesn't play well for Windows for me.

[2021-04-22 11:42] #179 closed

[2021-04-22 17:28] mickmister commented on #33
Should this be closed, or is this something that needs further work?

[2021-04-22 17:31] mickmister commented on #39
I'd like to work on this ticket

[2021-04-22 17:45] ZevSwe commented on #253
I'm not really sure how the export function works. It seems that does some kind of data dump from the database. Could that maybe be used in some way?

[2021-04-22 17:50] Johennes commented on #190
I'd like to help address this and pushed a proposal for the a global "no random icons" option to #310.

[2021-04-23 02:14] chenilim opened #319 "Feature Idea: Localize built-in templates"
**Summary:**
The built-in board and card templates are stored in `templates.json` and initialized on the server side at first run. While they are technically data, we ultimately have to implement a way to localize them.

**How important this is to me and why:**

Importance: High

Use cases:
1. Install a new server, pick a non-English language, click + Add Board, notice that the template items are

[2021-04-23 02:16] chenilim commented on #33
Thanks for checking @mickmister! Yes, this does require further work. There are still hardcoded strings sprinkled throughout. One example is the Undo messages:
* Switch to another language (e.g. Chinese) to make this easier to see
* E.g. drag a card and then press Cmd+Z
* The flash message says "Undo drag card"

These strings are in `mutator.ts` and the callers to it (I know because I created most

[2021-04-23 02:20] chenilim commented on #316
Thanks @Johennes! Took a quick look, and this repros on Safari in addition to the Mac App. Looks like Safari has different default css for input elements. @asaadmahmood, is this something you'd like to take a look at? Also opening this up to any other takers.

[2021-04-23 02:22] chenilim commented on #314
Thanks @ceruleanjo and @Johennes! The root issue is that both the Mac and Windows apps pick a random port for each session, causing any saved LocalStorage items (including the language and theme preferences) to be reset. Ideally, we need a mechanism for each native app to save user preferences outside of the hosted web app, then restore them at launch.

[2021-04-23 02:42] chenilim commented on #307
Thanks @Johennes! Agree that the entire row should be clickable. This might require more than just a CSS change. The fix might involve refactoring the sidebar items layout. Opening it up to any takers.

[2021-04-23 02:44] chenilim commented on #305
Thanks @icelander! Yes, we definitely need this, especially as the number of boards grow. Anyone else, please add any examples of other things you would expect to see on a personal dashboard / status page, plus links to any good examples. Thanks!

[2021-04-23 02:47] chenilim commented on #253
@ZevSwe, the export code is defined [here in api.go](https://github.com/mattermost/focalboard/blob/f5ae0b265a8ded60813678938e7705489c7310e4/server/api/api.go#L572). It's pretty much a dump of all the blocks. You can implement a backup solution by calling this API, but it will be missing other things in the database (e.g. users) plus the uploaded images.

[2021-04-23 02:54] chenilim commented on #39
Thanks @mickmister! You got it! You might want to check out @jespino's [implementation of the checkbox content type](https://github.com/mattermost/focalboard/pull/146) for reference.

[2021-04-23 02:57] chenilim commented on #299
Thanks @Johennes! Yes, we do intend to support manual ordering of the sidebar, perhaps with additional organization. If anyone has things they would like to see, or examples of good implementations of this, please add links. Much appreciated!

[2021-04-23 02:58] chenilim commented on #298
Yup, we want to be able to edit comments. Opening this up to any takers. Should be doable as a delete-then-insert, but might require some refactoring of the comment-list control.

[2021-04-23 03:00] chenilim commented on #292
@jespino, could you take a look at this when you have a chance? Looks related to the useEffect state management.

[2021-04-23 03:02] chenilim commented on #288
Thanks @ZevSwe! One way to implement this might be to add an "indent" action to each content block.

[2021-04-23 03:03] chenilim commented on #282
Thanks @emilyacook! Yes, we would want to support this, in addition to a general User property. Both of these depend on a bunch of infrastructure work first.

[2021-04-23 03:07] chenilim commented on #258
Thanks @codingthat! Yes, a Recycle bin concept might be a good idea. Could be shared or per-user maybe. In general, the undo-system should be pretty robust to accidental deletes, but accidental deletions by other people might still be a significant problem.

BTW, I added a [comment to the backup issue](https://github.com/mattermost/focalboard/issues/253#issuecomment-822765544) with the locations o

[2021-04-23 03:09] chenilim commented on #248
Thanks for the updates. Opening this up to anyone who wants to take a crack at it. My guess is it requires implementing some hooks in the webview control on Linux.

[2021-04-23 03:10] chenilim commented on #252
Thanks @ZevSwe! Now that the checkbox feature is in [v0.6.5](https://github.com/mattermost/focalboard/discussions/318), would you consider this resolved? Or are there additional capabilities around subtasks? e.g. assigning subtasks to other people?

[2021-04-23 03:12] chenilim commented on #250
Great idea @ZevSwe! Do you, or does anyone else know of particular good open source libraries that handle this?

[2021-04-23 03:13] chenilim commented on #234
Thanks @Hokwang! Opening this up to any takers. My own experience with Helm charts is pretty limited, so even links to good examples of this would be helpful. Thanks!

[2021-04-23 03:19] chenilim commented on #229
Thanks @grsky360! Just catching up on issues. I think this could be implemented with a "default card template" setting on the board.
* Add a "is default template" indicator to the card template dropdown
* Add a "set as default" action on templates, including "Empty card", which is current default

Clicking New would create a card using the default template, or an empty card if there is none.

Putt

[2021-04-23 05:17] hirusi opened #320 "Feature Idea: Nextcloud Deck import script"
**Summary:**

I use Nextcloud Deck and not very happy with it. I'd like to be import my Deck boards and items (along with tags, comments etc.) into Focalboard. As a thanks, I'll be happy to PayPal you 150 Indian rupees if you'd like.

**How important this is to me and why:**

Importance: Low.

[2021-04-23 07:17] asaadmahmood commented on #316
Yup I can take it @chenilim

[2021-04-23 07:27] jespino commented on #292
@chenilim I'm taking a look to this but it is really strange, the last render doesn't includes the icon, but the handler inside it, is using the same context and is including the icon.

[2021-04-23 08:20] JohannesKlauss commented on #234
I'll give it a try.

[2021-04-23 08:36] jespino commented on #123
After a refactor done in the DnD using `react-dnd` looks like it is working :)

[2021-04-23 08:36] #123 closed

[2021-04-23 09:32] Johennes commented on #314
Oh, interesting. I think that would be a limitation for #310 as well then. 😔

I'm not proficient in the Windows side, unfortunately. But for the mac app, we could maybe retrieve the storage in [applicationWillTerminate](https://github.com/mattermost/focalboard/blob/cae02a2ae222b0b1d2e2073da9405a88f6d3a542/mac/Focalboard/AppDelegate.swift#L29) (which allows for around [5 seconds](https://developer.

[2021-04-23 09:37] Johennes commented on #299
An easy fix for my particular issue could also be to strip leading emoji from the view names before applying the alphabetical sorting.

[2021-04-23 14:05] ZevSwe commented on #253
Right, in that case it seems backing up the database to file would be the only option. It does not look to complicated. Backup the image folder and then the database, found some info here: https://www.tecmint.com/backup-and-restore-postgresql-database/

[2021-04-23 14:07] ZevSwe commented on #288
Sure, but if I create a list of 20 items, I would not want to create 20 content blocks manually, that would be cumbersome.

One way around that could be to make enter in a content block of type checklist create a new content block of the same type and indent.

[2021-04-23 14:18] ZevSwe commented on #252
Hmm good question. When it comes to checklists I've sent an idea in #288. When it comes to tasks and subtasks and even subtasks assigned to other people one could ask if the subtasks should not be separate cards. If so, how does one link them together and how does one show what is part of what master-ticket? This is very much a usecase for any team that wants to use this as their kanban board.

[2021-04-23 14:31] ZevSwe commented on #250
This does not solve it for powershell but it seems to solve many of the most common languages:
https://www.gnu.org/software/src-highlite/

Github uses linguist according to some thread https://github.com/github/linguist
According to the same thread this is a list of supported languages (supports more languanges including poweshell): https://github.com/jmm/gfm-lang-ids/wiki/GitHub-Flavored-Markdown

[2021-04-23 21:58] chenilim commented on #314
Thanks @Johennes. Yes, ideally the native app would retrieve localStorage and store that in UserDefault, then push that back to the WebView on reload.

The localStorage keys we need to persist are:
* language
* theme
* lastBoardId
* lastViewId
* emoji-mart.last
* emoji-mart.frequently

Ideally, there would be a JS/TS function that returns the properties to persist, and a corresponding one to apply

[2021-04-23 21:59] chenilim commented on #299
That might be a good short-term fix @Johennes. If someone wants to do that first, this ticket is still up for grabs! :)

[2021-04-23 22:03] chenilim commented on #288
Yup, agreed. We need to make the general editing of content blocks easier, e.g.
* Pressing Enter when editing a checkbox label inserts a new checkbox below, and starts editing it
* Hitting backspace when editing an empty checkbox label deletes it and starts editing the checkbox immediately above it, if there is one.
* (Future) Pressing tab when editing a checkbox indents it

Rules like these would

[2021-04-23 22:42] signalwerk opened #322 "Feature Idea: Improve visual feedback during drag"
**Summary:**
Make it clear where the drag target will land

**How important this is to me and why:**
Right now it is unintuitive when sorting a card or a group where the drag target will end in context to the other items. The problem with the current implementation is that I have to drag on top of an existing element. Therefore I have no Idea where the existing element will go (or if I even replac

[2021-04-24 02:04] chenilim opened #324 "Feature Idea: Link to another card"
**Summary:**
Add a content type that is a link to another card. The link should have a "link type" e.g.
* (General / default) Is related to
* Depends on

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Link a main task card to a set of subtask cards
2. Link to related cards

**Additional context / similar features:**
Should be able to link to cards on other boards too.

[2021-04-24 02:04] chenilim opened #4850 "Feature Idea: Link to another card"
**Summary:**
Add a content type that is a link to another card. The link should have a "link type" e.g.
* (General / default) Is related to
* Depends on

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Link a main task card to a set of subtask cards
2. Link to related cards

**Additional context / similar features:**
Should be able to link to cards on other boards too.

[2021-04-24 02:16] chenilim commented on #324
Also did a quick search, and both [Trello](https://help.trello.com/article/1165-task-dependencies) and [Notion](https://www.notion.so/Create-links-backlinks-cb3c406403c940b68af52de121e05474) support links to other cards / pages, but mainly in the form of a URL with minimal unfurling.

I think we could potentially go a step further by giving links an optional "link type". E.g. this could make build

[2021-04-24 02:16] chenilim commented on #252
Good point about linking cards. I created feature idea #324 to track that. Feel free to add to it. At a basic level, this could be implemented with a new **Card link** content type.

[2021-04-24 02:27] chenilim opened #326 "Feature Idea: Option to show card content on board"
**Summary:**
Add a switch to the board Properties menu to toggle showing a "card preview" on the board without needing to open the card

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Be able to see notes at a glance from the board

**Additional context / similar features:**
Should be a mini preview of the card, similar to the gallery view.
Need some logic around how m

[2021-04-24 06:26] stafot commented on #234
I could grab this if no one else is already up to this.

[2021-04-24 06:39] chenilim commented on #234
You got it @stafot. Thanks!

[2021-04-24 15:18] aaronkurz opened #329 "Feature idea: WIP limits"
It would be very useful to be able to set a WIP limit (work in progress limit), that enables us to set a limit of how many items can be in one "column" (probably most useful for "doing column", but also for other colums).

This is important since it is one if the central ideas of Kanban board.
See [here](Kanban_boards):

Importance: High

Use cases:
1. Managing (mental) workload
2. Helps keep task

[2021-04-24 17:22] chenilim commented on #329
Thanks @aaronkurz! That's a great idea. Some quick thoughts on how Focalboard could implement this:
* Add additional column summary metrics (currently the number above columns show the card count)
  * E.g. sum of "estimate" property, etc.
* Add a "warning limit" setting per column
* E.g. show warning if sum of estimate >= 40
* That could turn the indicator or column red for example

I'm not sure i

[2021-04-24 18:15] chenilim opened #330 "Auto-generate Cypress code coverage report"
An issue to track adding code coverage reports to the Cypress test runs. I had looked into this briefly ([Cypress docs](https://docs.cypress.io/guides/tooling/code-coverage)), but found that it created conflicts with the Jest code coverage. If someone would like to try setting this up, please grab this ticket. Thanks!

Ideally, we would auto-generate code coverage reports on CI runs. If that takes

[2021-04-24 21:52] chenilim commented on #247
Linking this to #128. At some point we will need to implement a more powerful "search" API that can search across all boards.

[2021-04-24 21:58] chenilim commented on #251
Cleaning up some old issues. This one is actually a bug, not a feature. All fields should save when clicking "away" or out of a card. See issues: #292, #303, and #269. I'm  closing this feature request, but please open new bugs if the existing ones don't cover any current issues you are seeing. Thanks!

[2021-04-24 21:58] #251 closed

[2021-04-24 22:00] chenilim commented on #258
This is also somewhat related to #249 - being able to explicitly "archive" a board. More broadly, we want flexible options to organize boards (e.g. something like folders and / or tags).

[2021-04-24 22:03] chenilim commented on #261
Just going through issues. Yes, this is a feature we want. What we need is:
* A new API to export all blocks from a rootID (i.e. all the contents of a board)
* UI to export a board into the .focalboard archive format

[2021-04-25 18:42] Johennes commented on #314
I took a stab at the pre-terminate-export in #331. There were a lot more moving pieces to it than I had anticipated though and I had to deviate from the original idea a little to get it to work. Would appreciate thoughts and feedback in the PR.

[2021-04-25 19:20] chenilim commented on #314
Awesome, thanks so much @Johennes! I added some thoughts and comments in the PR.

[2021-04-25 23:17] Willyfrog opened #332 "Bug: menu -> view -> tabbar should be disabled"
**Summary:**
clicking on menu -> view -> tabbar shows a single tabbar below the title which looks weird. if tabs are not supported it should be disabled

**Steps to reproduce the behavior:**

1. clicking on menu -> view -> tabbar

**Expected behavior:**
either the menu is not visible or there should be some sort of help on how to use tabs

**Screenshots:**
<img width="996" alt="Screen Shot 2021-04

[2021-04-26 11:58] #188 closed

[2021-04-26 12:02] asaadmahmood commented on #302
@Johennes This look fine to me. Please refer to the screenshots.
And if the issue still exists, please post a screenshot of a place where it still looks bad.

<img width="284" alt="Screenshot 2021-04-26 at 5 01 11 PM" src="https://user-images.githubusercontent.com/11034289/116079302-11069b80-a6b1-11eb-8930-94a6a21b4f6f.png">

<img width="460" alt="Screenshot 2021-04-26 at 4 59 36 PM" src="https://

[2021-04-26 12:19] #316 closed

[2021-04-26 13:37] mblennegard commented on #166
I second this.
For me at least it would be nice to handle embedding of files in some way, mainly images and PDFs.

[2021-04-26 14:12] Johennes commented on #302
This looks good for me in 0.6.5 now (original noticed this in 0.6.0). Thanks a lot @asaadmahmood!

[2021-04-26 14:12] #302 closed

[2021-04-26 14:41] #190 closed

[2021-04-26 14:49] mblennegard opened #338 "Feature Idea: Add calendar view"
**Summary:**
Add calendar view.

**How important this is to me and why:**
Medium

**Use cases:**
To visualize tasks/items in a time focused way.

**Additional context / similar features:**
This feature would require having **date** as a field type, as requested by issue #257.

[2021-04-26 15:19] mblennegard opened #339 "Feature Idea: Add additional layouts to place blocks into on a card"
**Summary:**
Add additional layouts to place blocks into on a card e.g. having the possibility to add additional columns for your blocks.

**How important this is to me and why:**
High

Use cases:
1. Much better flexibility in creating cards suited perfectly to the task at hand.
2. Being able to add a block with references on the side of the card in templates.

**Additional context / similar featu

[2021-04-26 16:02] welteki commented on #309
I can confirm this issue is reproducible on v0.6.5 Mac App Store app and using Safari against the server.

[2021-04-26 18:21] mblennegard opened #340 "Feature Idea: Lookup column/data type"
**Summary:**
Lookup column/data type to relate cards/items in different boards.
This lookup column should be clickable to open up the card in the other board directly.
There should also be the possibility to add additional columns from the other board to the board with the lookup column.

**How important this is to me and why:**
Medium

Use cases:
1. Ability to have a board with e.g. Clients where

[2021-04-26 18:22] mblennegard commented on #324
Another neat thing to have for these links would be the ability to open the link in a sidebar or similar, like in Roam Research, to being able view both cards side by side.

[2021-04-26 19:20] Johennes commented on #299
I am someone so I gave this a try in #341. 😅

[2021-04-26 20:48] mblennegard commented on #257
Referring to issue #38 to link these two.

For this issue regarding actual due dates, it would be neat to have some kind of reminder functionality in place as well.

[2021-04-26 20:53] mblennegard opened #342 "Property type: Calculated / Expression"
**Summary:**
Add a property type for calculations / expressions.

**How important this is to me and why:**
High

Use cases:
1. Calculating difference between two values, e.g. number of days between two dates.
2. Expressions for setting an icon or color coding the column dependant on the result of the expression.

**Additional context / similar features:**
Like expressions work in Notion.

[2021-04-26 23:46] chenilim commented on #338
Thanks @mblennegard! This is something we want to add. Opening it up to you and/or others to add any other thoughts, preferences, or ideas. To kick things off, the basic calendar I can visualize will show:
* You pick the date property to display, and cards are shown in a daily calendar view
* P2: Pick an optional **end date** property (or pick a **date range** property) to show the span

Are there

[2021-04-26 23:49] chenilim commented on #339
Thanks @mblennegard! Yes, we want to improve the layout options over time. Multi-columns is one common feature. Thanks for the use case of adding references to the side of the card. If anyone else has other common use cases, please add them here. Thanks!

[2021-04-26 23:56] chenilim commented on #340
Thanks @mblennegard! I wasn't aware of lookup columns in SharePoint before (found [this article](https://sharepointmaven.com/how-to-create-a-lookup-column-in-sharepoint/) on it). Notion has a similar set of relational features. My gut opinion is these are advanced features we should think carefully about how to layer in. Too much and it becomes like managing a database (e.g. dealing with a network

[2021-04-27 05:11] mblennegard commented on #338
Just adding this thought as well.
I think you should be able to display any property on the cards in the calendar view, similar to how the board view works already.
With any property on the cards you could at a glance have a different color to each card depending on select properties.

To expand on the above and make color coding even more useful, it would be nice to being able to define so that t

[2021-04-27 10:34] #41 closed

[2021-04-27 12:53] Johennes opened #343 "Feature Idea: Swap order of comment and description sections"
**Summary:**

Currently the comment section renders above the description section. I personally find this a little inconvenient when working on a board alone because I rarely ever use the comment functionality but I very frequently edit or read the description section.

Even in multi-user scenarios, I think it would be more intuitive to have the two sections swapped. When looking at a card, it see

[2021-04-27 14:43] Johennes commented on #307
Luckily it didn't require much more than moving the click-handler up from the title element to the row itself. I opened #344. 🙂

[2021-04-27 14:51] mblennegard opened #345 "Feature Idea: Sync contents between application instances"
**Summary:**
Sync contents between application instances.

Maybe this is solved with the server edition, but I understand the server edition more about being able to create multiple users and such. My use case is more along the lines of being a single user, so still only personal use, but being able to use the same database instance on both my desktop computer, multiple laptops etc.

**How importa

[2021-04-27 15:14] mblennegard opened #346 "Feature Idea: Theme editor"
**Summary:**
Add a theme editor, where one could define whatever colors they would like for different elements.

When creating new themes there should already be defined usage for different colors, so all different elements uses e.g. "Primary color", "Secondary color" etc. However, if the user would want to override the color for a specific element, it should be possible to do so as well.

**How i

[2021-04-27 15:21] mblennegard opened #347 "Feature Idea: Automation engine"
**Summary:**
Automation engine for performing tasks based on actions/events inside Focalboard.

**How important this is to me and why:**
Medium to High

Use cases:
1. Trigger other web services based on actions/events inside Focalboard.
2. Easily automate workflows/processes involving other API enabled applications.

**Additional context / similar features:**
I see that as a first version of this,

[2021-04-27 17:55] sbishel opened #351 "Bug: Table View Headers overflow to next cell"
**Summary:**
In table view, a header longer than cell width will overlap the next cell

**Steps to reproduce the behavior:**
1. Create a property with a name longer than minimum cell width
2. Go to table view
3. Drag created property to be in middle of table
4. Cell header overlaps

**Expected behavior:**
If the cell header is longer than its cell, it should be concatenated with ellipses.

**Scree

[2021-04-27 18:00] sbishel opened #352 "Bug: TableView Text Property doesn't fill the cell"
**Summary:**
When creating a new text property and extending the column width. The inner text is not expanded to use the entire cell.

**Steps to reproduce the behavior:**
1. Create a text property with long text data.
2. Go to table view.
3. Expand text property cell to be longer than text data.

**Expected behavior:**
The text should fill the entire cell (less padding)

**Screenshots:**
<img wid

[2021-04-27 18:03] sbishel opened #353 "TextView - Implement Autosize on columns"
Currently there is a handle to grab, drag and resize the column. When that handle is double clicked. Automatically size the column to fit its contents and header.j

[2021-04-27 18:38] mblennegard commented on #329
Maybe this could go hand in hand with issue #342. The calculated / expression property type could be used for rolling up the number of cards in a particular filter, e.g. the count in the current column, which could then be used for setting the warning.

[2021-04-27 18:46] mblennegard commented on #326
This might be a separate issue, but I post the suggestion here for now, as I can see they are closely related.

My suggestion would be to have a shortcut, e.g. holding `Ctrl + mouse click` or `Shift + mouse click` on the card to open a preview.
With this implementation it would still be very easy to access the preview, but without cluttering the interface. With a shortcut it might even be a good i

[2021-04-27 22:13] chenilim commented on #314
Continuing the conversation from the PR here @Willyfrog. I've merged PR #331 (thanks @Johennes!), which persists the localStorage settings as a blob on window close on macOS. There are a number of additional improvements we can make from here, including:
* Support Windows and Linux as well
* Cleaning up / refactoring the webapp-to-native API / interface
* Support for app migrations (I think we onl

[2021-04-27 23:48] chenilim commented on #345
Thanks @mblennegard! In theory, backing up the db and files to a sync service (like OneDrive, etc.) should work for casual synching. I haven't tested it, but from past experience the files and (especially) DB quickly create a lot of merge conflicts when actively used on two or more clients.

I think the best solution for a single-user sync across devices is to run Personal Server. That's what the

[2021-04-27 23:51] chenilim opened #356 "Bug: Send button doesn't appear when writing comments"
**Steps to reproduce the behavior:**
1. Create card and open it
2. Click on the comments box
3. The send button doesn't appear, and I can't send the comment

**Expected behavior:**
The send button should appear when I start writing a comment.

**Platform:**
 - App on macOS 10.15.7
 - Also Chrome 89

**Additional context:**
Pressing Cmd+Enter makes the send button appear, and I can then click on it

[2021-04-28 07:33] mblennegard commented on #345
@chenilim Yeah, it is my experience as well that sync services usually cause quite a lot of conflicts.

[2021-04-28 08:17] Johennes commented on #315
Follow-up finding: It seems that text in the card title is already spell-checked but text in the description isn't.

<img width="439" alt="Screenshot 2021-04-28 at 10 13 35" src="https://user-images.githubusercontent.com/1137962/116370182-7326e400-a80a-11eb-98d6-c67ef7baf87c.png">

For the card title, I think it'd be nice if the spelling was only checked in editing mode so that the red underlining

[2021-04-28 12:27] Ghisura opened #357 "Bug: Portrait pictures are distorted"
**Summary:**
when add picture in card, portrait pictures are distorted
**Steps to reproduce the behavior:**
1. open/create card
2. Click on add picture

**Expected behavior:**
portrait picture keep the right proportions

**Screenshots:**
picture source :
![food-5981232_1280](https://user-images.githubusercontent.com/30210989/116402886-36201900-a82d-11eb-99d3-050b1ea8670a.jpg)

in card:
<img width=

[2021-04-28 13:21] #351 closed

[2021-04-28 13:21] #352 closed

[2021-04-28 14:05] #307 closed

[2021-04-28 14:46] jespino opened #358 "Feature Idea: Allow to pass a docker variable to use a directory to build the image"
**Summary:**
Currently the docker file is generated from cloning the focalboard repo, having the posibility of use a path in your filesystem to build it would be a great addition. (This idea comes from the #168 PR)

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Some users can want to create the docker file base on its own local source code.

[2021-04-28 14:48] jespino opened #359 "Feature Idea: Add support for SOURCE_BRANCH env variable to the dockerfile"
**Summary:**
Take advantege of the SOURCE_BRANCH environment variable provided by dockerhub to allow our dockerfile to build docker images based on branches. (This idea comes from the #168 PR)

**How important this is to me and why:**

Importance: Medium

Use cases:
1. Allow people to test things using docker for specific branches.

[2021-04-28 15:11] loranger opened #360 "Feature Idea: Cross table"
**Summary:**
Agregated cross table which can display information from some or all other tables

**How important this is to me and why:**
I have a growing list of project tasks board, and I have to go for each projects in order to list my high priority tasks and pick the one I should prioritize instead of having a global overview of every pending tasks.

Importance: Medium

Use cases:
1. I create a

[2021-04-28 18:07] jespino commented on #357
Fixed in main branch :)

[2021-04-28 18:07] #357 closed

[2021-04-28 18:10] jespino commented on #214
I improved the port opening to use a random one. This fix is in the main branch already.

[2021-04-28 18:11] jespino commented on #214
I think I need to review it in more detail before closing it, sorry for the noise.

[2021-04-28 18:12] jespino commented on #233
I'll try to investigate this tomorrow (maybe not, but I'll try)

[2021-04-28 18:25] mblennegard opened #361 "Feature Idea: Embed web content"
**Summary:**
Add the possibility to embed web content, e.g. with iframes.

**How important this is to me and why:**
Medium

Use cases:
1. Makes it possible to still use other services or applications, without the need to integrate via API's or similar.

**Additional context / similar features:**
Similar to how Notion handles embedding of content.

[2021-04-28 20:04] wAuner commented on #250
This would be really great. I usually put example code or at least some code formatted text on my cards and find it very helpful

[2021-04-28 23:07] chenilim commented on #332
In general, the menu items in macOS needs to be cleaned up. Individually, these are fairly easy fixes in the storyboard. Opening it up if someone wants to grab it before I can get to it. :)

[2021-04-29 05:59] jespino commented on #243
@laundmo sorry for the late reply, this is really good bug report. I going to give it a shot sooner than later.

[2021-04-29 08:04] jespino commented on #81
This should be already fixed.

[2021-04-29 08:04] #81 closed

[2021-04-29 08:05] jespino commented on #214
Ok, looks like this is already fixed.

[2021-04-29 08:05] #214 closed

[2021-04-29 08:07] jespino commented on #112
This was fixed by @chenilim in the commit 0b479ff3

[2021-04-29 08:07] #112 closed

[2021-04-29 08:09] jespino commented on #233
The server was crashing because there was a `log.Fatal` when somebody tried to connect to the websocket without websocket headers. It should be fixed now.

[2021-04-29 08:09] #233 closed

[2021-04-29 08:45] jespino opened #362 "Bug: Not compatible with webkit2gtk 3.32"
**Summary:**
When I try to run focalboard-app in linux with webkit2gtk 3.32 (released lately) it failes with the following error:

`Overriding existing handler for signal 10. Set JSC_SIGNAL_FOR_GC if you want WebKit to use a different signal`

**Steps to reproduce the behavior:**
1. Upgrade to webkit2gtk 3.32
2. Compile and run the linux app

**Expected behavior:**
The linux app runs correctly

**

[2021-04-29 12:41] jespino commented on #284
This a restriction from the webview library, I have to investigate how to fix that.

[2021-04-29 14:32] #362 closed

[2021-04-29 14:33] jespino commented on #248
I wrote a workaround because webview doesn't open externa links or download links.

[2021-04-29 14:33] #248 closed

[2021-04-29 14:33] jespino commented on #284
I wrote a workaround for this.

[2021-04-29 14:33] #284 closed

[2021-04-29 14:49] laundmo commented on #243
no problem, im aware its a bit of a unusual issue, most likely hard to debug. feel free to ask for any more info you might need.

[2021-04-29 17:20] Johennes commented on #292
@jespino / @chenilim I know this isn't marked as up for grabs but hoping you don't mind me trying to help. 🙈

I believe this is an upstream issue in [RIP21/react-simplemde-editor](https://github.com/RIP21/react-simplemde-editor). All the editor events are only installed once in [componentDidMount](https://github.com/RIP21/react-simplemde-editor/blob/master/src/index.tsx#L79) but when the props cha

[2021-04-29 17:23] jespino commented on #292
Thanks! actually I was investigating this other bug here https://github.com/mattermost/focalboard/issues/356 and I arrive to your same conclusion about that. In my case the "isEditing" wasn't correctly updated inside the events.

[2021-04-29 17:24] Johennes commented on #292
Ah nice! Yeah, I had a feeling that might cause similar problems elsewhere.

[2021-04-29 17:25] jespino commented on #292
I going to try to workaround this but yes, if not we have to make a PR to SimpleMDE.

[2021-04-29 17:38] Johennes commented on #314
I took a look into the [webview API](https://pkg.go.dev/github.com/zserge/webview#pkg-functions) used in the Linux app today:

- We can use `Init` to inject the settings blob at document start just like we did for the mac app
- To export the settings, we need to combine `Eval` and `Bind`. `Eval` doesn't return a result so we have to first bind a native callback function like this:

[code]

One pro

[2021-04-29 17:41] laundmo commented on #358
This is most likely not going to be possible or at least very hacky, as docker doesn't allow conditional usage of the `COPY` statement.

I think the best solution is to use multistage builds and to target a specific stage depending on what the source should be.

[2021-04-29 17:47] laundmo commented on #359
imo the better fit for the usecase would be #358 combined with running `git checkout`

an actual usecase for this would be to allow people to build old versions themselves, by pulling from old releases.

[2021-04-29 18:28] Johennes commented on #309
It seems that the duplicate description stems from the [`onBlur`](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/cardDetail/cardDetailContents.tsx#L83) handler in `CardDetailContents` triggering twice. That in turn results from calling [`instance.getInputField()?.blur()`](https://github.com/mattermost/focalboard/blob/main/webapp/src/components/markdownEditor.tsx#L120) ins

[2021-04-29 19:29] jespino commented on #292
Fixed here: d09d6e0e4080b257e3d0a898cb1cab4d2640efb7 . Not the most elegant solution, but it works.

[2021-04-29 19:29] jespino commented on #356
Fixed here: d09d6e0e4080b257e3d0a898cb1cab4d2640efb7 . Not the most elegant solution, but it works.

[2021-04-29 19:29] #356 closed

[2021-04-30 02:08] chenilim commented on #198
@jespino, does your [checkin](https://github.com/mattermost/focalboard/commit/2d261fde59d0190824ae391f9bdee3ea77d21c05) resolve this issue? If so, please add the manual steps needed here (e.g. example config.json setting), and we can use this issue to update the docs. Thanks.

[2021-04-30 04:03] chenilim commented on #116
This was done in v0.6.5. There's a new "System theme" setting in themes. Closing.

[2021-04-30 04:03] #116 closed

[2021-04-30 05:56] jespino commented on #198
Yes, to use mysql you only need to change the config fields `dbtype` to `mysql` and `dbconfig` to something like `user:password@tcp(localhost:3306)/database?multiStatements=true`, `multiStatements=true` is important for the migrations, but can disappear eventually if we change how the migrations are executed (this can change sooner than later).

[2021-04-30 05:56] #198 closed

[2021-04-30 07:26] kissi7 opened #363 "Bug: k8s - cannot parse 'port' as int: strconv.ParseInt:"
**Summary:**
There is a problem to run focalboard in the kubernetes. Issue to parse the port. Like some kubernetes variable cause the issue.

**Steps to reproduce the behavior:**
Run in any kubernetes cluster:
kubectl run --rm -i --tty focalboard --image=mattermost/focalboard --restart=Never

**Expected behavior:**
focalboard will start as it can pass the port from the config file and should by im

[2021-04-30 09:12] Johennes commented on #292
Awesome, thanks @jespino! 🙂

[2021-04-30 09:19] Johennes opened #364 "Feature Idea: Automatically open new card for editing"
**Summary:**

When clicking the _+ New_ button at the end of a column, a new card with empty content is appended to the row. It would be nice if the newly created card would be automatically opened so that I can edit title, description and other things.

![Screenshot 2021-04-30 at 11 15 07](https://user-images.githubusercontent.com/1137962/116675087-bbc6d480-a9a5-11eb-92fe-a1569d330c71.png)
![Scre

[2021-04-30 10:39] jespino commented on #279
Done!

[2021-04-30 10:39] #279 closed

[2021-04-30 11:01] kissi7 commented on #243
The registration issue "Invalid registration link, please contact your administrator" error could be also simply reproduced by running focalboard in the docker and try to create second different user.

Step to reproduce:
1. run:  docker run -it -p 80:8000 mattermost/focalboard
2. register first user
3. open private windows in the browser or different browser and try to register second user. You wi

[2021-04-30 11:24] jespino commented on #243
Yes, only the first user can register without any specific registration link, for any other user after that, you need a registration link. I'm not 100% sure if that is the case here.

[2021-04-30 12:11] Willyfrog commented on #314
yep, linux has a couple of ways of killing an app, so it might be tricky to look for all. when you mention the "window manager button" you mean the X in the title bar or killing it from another app?

I'd go with `$XDG_CONFIG_HOME/focalboard/settings` and failing that because it might not be set, fallback to `$HOME/.config/focalboard/settings`

[2021-04-30 12:30] Johennes commented on #314
I meant the X button, yeah.

Maybe it would make sense then to first follow through along the path you started in #333 and implement dynamic settings export upon settings change. That would free us from having to deal with any application life-cycle events.

[2021-04-30 14:29] romu70 commented on #233
Great, thanks a lot, I can't wait for the next release.

But, could you please clarify what it means from a user point of view not having the websocket headers? Does this means that Docker Focalboard users miss some Focalboard features, for example?

Thanks.

[2021-04-30 16:30] chenilim commented on #332
@haardikdharma10, to clarify, we should remove that first section of the view menu from the storyboard:
* Show Tab Bar
* Show All Tabs
* The divider

<img width="493" alt="Focalboard mac menu" src="https://user-images.githubusercontent.com/46905241/116725324-a302f280-a996-11eb-838a-1b979432d838.png">

[2021-04-30 16:59] laundmo commented on #243
That does not seem to be the issue, this happens after fresh installations for the first user.
It works without Traefik middlewares, it doesn't with them. Would it not also fail without a middleware if the multiple accounts thing was the case?

[2021-04-30 18:12] Johennes commented on #309
I tested this some more but couldn't find any side effects so I opened #366 to remove the manual (re-)blur.

[2021-04-30 22:12] chenilim commented on #198
Thanks @jespino! I'll leave it off the docs for now. We should add a doc when the migrations are cleaned up. Folks can Google and find this issue if they want to try it out sooner than that.

[2021-04-30 22:21] chenilim commented on #360
Thanks @loranger! Curious to hear more about your and other's use case. E.g.:
* I can see the need for global search (#247). If that were implemented, would that solve your immediate problem?
* Can also see a need to see "All tasks assigned to me"
* And maybe "All tasks where status = Active" (Advanced global search?)

I'd consider the cross (join) tables feature an advanced one. It's pretty power

[2021-04-30 22:24] chenilim commented on #315
I know we don't have any spell check code, so the red-underlines are most likely a browser (Chrome?) feature. Yes, if there were simple ways to enable that for most / all input boxes, that would be ideal. It might be slightly trickier for markdown text. If anyone wants to take a crack at that, opening this ticket up for grabs.

We could, of course, also integrate a spell check library. However, we

[2021-05-01 06:12] Johennes commented on #364
Oh, inline title editing would be even more convenient, agreed. 👍

[2021-05-01 06:30] Johennes commented on #315
I think you're right about it being a browser feature. I can get it to spell check the title field in both Chrome and the mac app by setting the "Check Spelling While Typing" option in the menu.

![Screenshot 2021-05-01 at 08 16 36](https://user-images.githubusercontent.com/1137962/116773513-e3757580-aa55-11eb-8bb5-9c5c91d56c50.png)

In Chrome the red underline disappears when the title field lose

[2021-05-01 06:37] Johennes commented on #315
Follow-up: Looks like Firefox requires an explicit `spellCheck={true}` attribute on `input`s.

[2021-05-01 06:45] Johennes commented on #315
Another follow-up: Turns out the markdown editor also supports native spell checking via

[code]

![Screenshot 2021-05-01 at 08 44 10](https://user-images.githubusercontent.com/1137962/116773961-6946f000-aa59-11eb-97ad-7b037826b1e0.png)

[2021-05-01 15:48] chenilim opened #370 "Feature Idea: Add button to clear a select property"
**Summary:**
It's not clear how to clear a select property, and set its value to "Empty"

**Steps to reproduce the behavior:**
1. Click on a select property (in a card view or table view, etc.)
2. What do you click on to clear it?

**Expected behavior:**
There's a button to clear the value

**Screenshots:**
<img width="217" alt="Select picker" src="https://user-images.githubusercontent.com/4690524

[2021-05-01 15:49] chenilim commented on #370
There might be a simple option for this in the standard control we use.

[2021-05-01 18:25] chenilim commented on #315
Awesome, thanks @Johennes! Happy to take a PR of both of those if you would like to submit one:
* Add the spellcheck=true flag to title inputs
* Add the nativeSpellCheck to the markdown editor

We should do a quick check if that works across languages. My guess is this uses the Browser or OS language?

[2021-05-01 19:38] Johennes commented on #315
Ok, I opened #372. I know you said "title inputs" but I chose to add the `spellcheck` attribute to a few other input elements that looked suitable, too (e.g. checkbox labels). Please let me know what you think of that.

The only input element I couldn't apply it to is the one in select properties because that appears to be [disabled upstream](https://github.com/JedWatson/react-select/blob/b0411ff4

[2021-05-02 05:30] fabiancrx opened #373 "Bug: Error with sqlite3-binding when building for linux"
**Summary:**
After following the instructions in the readme and installing the required dependencies when running `make linux-app` the process errors (see log).

**Steps to reproduce the behavior:**
`make linux-app`

**Expected behavior:**
It compiles the app

**Platform:**
Linux Pop_OS! 20.10 x86_64

If the information I provided is incomplete to triage the problem do ask for more, as I'm eager t

[2021-05-02 18:49] Johennes commented on #370
react-select provides a clear button but the indicator container is currently [hidden](https://github.com/mattermost/focalboard/blob/main/webapp/src/widgets/valueSelector.tsx#L95). If the default look is acceptable, we'd just have to tweak the CSS a little to make it show next to the label like in this quick hack:

![Screenshot 2021-05-02 at 20 47 42](https://user-images.githubusercontent.com/1137

[2021-05-02 19:45] Johennes opened #374 "Bug: checkboxElement tests fails locally"
**Summary:**

Running `make ci` locally fails for me on executing the `should match snapshot on change title` test in `checkboxElement.test.tsx`. From looking at the code, I think the reason is that it's trying to hit the server but no server is running.

[code]

Interestingly it doesn't fail on the CI. It does, however, print out a non-fatal warning (see e.g. [here](https://github.com/mattermost/

[2021-05-03 05:53] Johennes opened #375 "Bug: randomIcons user setting not stored in native app"
**Summary:**

The `randomIcons` user setting is not stored between launches of the native mac app. This was an oversight on my part that occurred when merging #310 and #331.

**Steps to reproduce the behavior:**

1. Launch mac app
2. Notice that random icons setting is on
3. Turn it off
4. Quit and relaunch mac app
5. Notice that setting is on again

**Expected behavior:**

Setting value should pe

[2021-05-03 13:26] kissi7 commented on #363
Hi, no I did not specify this port. `config.json` is not touched at all. I found the root cause.
If you deploy focalboard in the kubernetes and expose port 8000 and deployment name is "focalboard" than kuberneted create various env variables and one of them is "FOCALBOARD_PORT=tcp://10.43.228.108:8000" This is k8s native format.
The focalboard should be able to handle this if you plane to run it i

[2021-05-03 14:44] mblennegard opened #378 "Feature Idea: Add confirmation prompts when deleting components"
**Summary:**
Add a confirmation prompt for when deleting things, e.g. a board, a card on a board, a group on a board etc.
Currently components gets deleted as soon as you click the Delete button (I am using the Microsoft Store app).

**How important this is to me and why:**
High

Use cases:
1. Very important to avoid accidental deletions, especially when it comes to groups and entire boards which

[2021-05-03 14:49] mblennegard commented on #364
@chenilim I would suggest that we instead add a setting for the preferred way, so the user can choose between opening the card automatically and have the inline editing (and maybe keep the current way as a third option).
This setting would then be good to have on a per board basis, so some boards might always open the cards whereas another board have the inline editing.

[2021-05-03 14:51] loranger commented on #360
Hi @chenilim

I definitely understand how complex it would be.
Unfortunately it doesn't seems you workarounds would help…

I have a bunch of projects (clients) I work for I and I did store their task using your awesome focalboard. Some of the tasks are high priority and some are not (indeed).
Here in France, it's monday. So I open up my laptop and try to pick what high priority task. It [looks lik

[2021-05-03 15:06] mblennegard opened #379 "Bug: Titles for new cards on board views keeps "Untitled" text"
**Summary:**
The title for new cards that gets created on board views keeps the "Untitled" text as its title.
This occurs only when editing the Description text directly after the title has been updated. It does still occur if changing e.g. the Status first, then changing the Title and lastly the Description.

**Steps to reproduce the behavior:**
1. Go to a board view.
2. Click on **+ New** to add

[2021-05-03 17:44] chenilim commented on #360
Wow! Thank you so much @loranger! This is excellent feedback. Here's a quick decompose of what I see:
* Ability to show groups within columns (I haven't seen other solutions do this)
  * This could be useful for other things too (e.g. show priority by person assigned or status)
*  Ability to show a combined board that's the aggregate of a set of other boards

Brainstorming: Combining is relatively

[2021-05-03 19:20] Johennes commented on #314
I pushed #380 to switch over to exporting the user settings dynamically on change. Apart from making the export in the mac app more reliable, this should make for a good basis to implement the export in the Linux (and possibly Windows) app as there's no more dependence on app life-cycle events anymore.

[2021-05-03 23:37] chenilim commented on #379
Thanks @mblennegard. I am able to repro it. However, it does save correctly if, after step 4, you first press Esc to save the description. It also appears to be fixed in the current build (from source), so this should be fixed in the next release.

[2021-05-03 23:42] chenilim commented on #378
Thanks @mblennegard. Agree we might want to add confirmation for multi-delete, and definitely for irreversible deletes. Currently, all operations including deletes should be reversible via Ctrl+Z / Cmd+Z. Still, it's possible to get into a irrecoverable state if you delete, then immediately close the tab or window (losing the undo history).

[2021-05-04 03:21] olragon commented on #91
Focalboard's [Caprover](https://caprover.com/) One-Click-Apps also added caprover/one-click-apps/pull/414

[2021-05-04 04:52] AB1908 commented on #214
I have the same error but using the tar.gz package on Arch. Should I open a separate issue?

[2021-05-04 05:31] f1yn commented on #177
In the meantime, is there a recommended (or even just effective) way to disable telemetry?

[2021-05-04 06:48] codingthat commented on #177
@f1yn I could be wrong but I think it's just a matter of changing the `telemetry` option to `false` in the appropriate `.json` files in the project root.  (Which one(s) are appropriate depends on how you're running the app, but I can't imagine "all of them just in case" doing any harm.)

[2021-05-04 09:09] loranger commented on #360
You're welcome 😉

Custom properties would make a real mess to develop such a feature, you're right… That was just a feature request. Maybe it's not feasible…

It's just a mockup, inspired from my old notion experience and my current focalboard usage. If I was able to implement it, a PR would already be opened, but unfortunately I'm not as good as you guys are !

Anyway, I'll try to take a deeper l

[2021-05-04 10:32] mblennegard commented on #379
@chenilim Yeah, it seems to work if focus is changed from the Description field before closing the card.

Allright, good to hear!

[2021-05-04 10:35] mblennegard commented on #378
@chenilim I actually did not know that undo was possible for entire boards even. Then a confirmation prompt will be unnecessary.
To make it more user friendly do, maybe adding a prompt or notification for it, which the user can check a button to not be prompted again or similar.

[2021-05-04 10:50] harshilsharma63 commented on #31
I'm picking this up due to the inactivity.

[2021-05-04 13:03] biva opened #382 "Feature Idea: create card/task from Mattermost"
**Summary:**
1. Write a message on Mattermost, for example: **/card @tom Buy cookies**
2. This creates a card **Buy cookies** in Focalboard, assigned to **Tom**

This could be improved in the future with the following ideas:

3. Define a specific syntax to include additional information (content, date, category, status, priority, project, ...). For example **/card @tom Buy cookies [2 chocolate + 1